ALMAcceleratorSampleSolution/SolutionPackage/src/Workflows/EmailQuote-A4C44986-14D6-EC11-A7B5-000D3A1C0439.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedoffice365_4ee46"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ec6d37ec-ab2a-459a-81dd-f8c0e8ca8f74"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Body",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your body",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Subject",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your subject",
                  "x-ms-content-hint": "TEXT"
                },
                "email": {
                  "title": "Email",
                  "type": "string",
                  "format": "email",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter an e-mail address",
                  "x-ms-content-hint": "EMAIL"
                }
              },
              "required": [
                "text",
                "text_1",
                "email"
              ]
            },
            "headersSchema": {
              "x-ms-user-email-encoded": {
                "title": "User email",
                "type": "string",
                "format": "byte",
                "x-ms-dynamically-added": false
              }
            }
          }
        }
      },
      "actions": {
        "Send_an_email_(V2)": {
          "runAfter": {
            "Get_the_app_title": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7c90842b-4ec9-4fdf-a1a4-d87a54e8eb70"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@triggerBody()['email']",
              "emailMessage/Subject": "@{triggerBody()['text_1']} @{body('Get_the_app_title')?['fromFlow']}",
              "emailMessage/Body": "<p>@{triggerBody()['text']}</p>"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Response": {
          "runAfter": {
            "Send_an_email_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a0825e3-d090-420b-ab49-c1ca254dd616"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200
          }
        },
        "Get_the_app_title": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "75ad7ef6-6cfb-4ec8-93f5-04a4ded058e7"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "71cc728c-2487-eb11-a812-000d3a8fe6a3"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}