CenterofExcellenceAuditComponents/SolutionPackage/Workflows/AdminSetupIgnoredArchivalRequests-6D1B7FC2-15B7-EB11-8236-0022481CC407.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoEGovDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerplatformforadmins": {
        "api": {
          "name": "shared_powerplatformforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovPowerPlatformforAdmins"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Apply_to_each": {
          "actions": {
            "Set_for_apps:_'admin_apparchiverequestignoredsince'": {
              "actions": {
                "For_Each_App": {
                  "actions": {
                    "If_no_approvals_with_responses_exist_then_proceed": {
                      "actions": {
                        "If_some_exist,_update_field_with_oldest": {
                          "actions": {
                            "Mark_App_Archive_Request_Ignored_Since_to_oldest_ignore": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_apps",
                                  "item/admin_apparchiverequestignoredsince": "@first(outputs('List_approvals_with_no_response')?['body/value'])['createdon']",
                                  "recordId": "@items('For_Each_App')?['admin_appid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "1ff49723-937c-41ee-823f-c99820ec9e51"
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "else": {
                            "actions": {
                              "No_ignored_archival_requests_found": {
                                "inputs": "No ignored archival requests found",
                                "metadata": {
                                  "operationMetadataId": "9ad7bf01-ba8f-4713-a3be-6c6e8057be05"
                                },
                                "runAfter": {},
                                "type": "Compose"
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(outputs('List_approvals_with_no_response')?['body/value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "dfa17658-b457-45a3-94b9-84f20abc475c"
                          },
                          "runAfter": {
                            "List_approvals_with_no_response": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        },
                        "List_approvals_with_no_response": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "$filter": "_admin_applookup_value eq @{items('For_Each_App')?['admin_appid']} and admin_approvalresponse eq null",
                              "$orderby": "createdon",
                              "$select": "createdon",
                              "entityName": "admin_archiveapprovals"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "9f29af70-dd10-4ccd-9aeb-41ea4c183667"
                          },
                          "runAfter": {},
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        }
                      },
                      "else": {
                        "actions": {
                          "Has_responded_this_month": {
                            "inputs": "In the last month they have approved or rejected, so will not mark with an ignored date.\nThis grace period times out via (Clean up and Delete) flow, scope Delete timed out archive requests ",
                            "metadata": {
                              "operationMetadataId": "489bba15-4c63-4285-bc47-3769cabc4e37"
                            },
                            "runAfter": {},
                            "type": "Compose"
                          }
                        }
                      },
                      "expression": {
                        "lessOrEquals": [
                          "@length(outputs('List_approvals_for_this_app_with_responses')?['body/value'])",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "feae9430-1779-4caf-b5d2-18b784ad29ca"
                      },
                      "runAfter": {
                        "List_approvals_for_this_app_with_responses": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "List_approvals_for_this_app_with_responses": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "_admin_applookup_value eq @{items('For_Each_App')?['admin_appid']} and admin_approvalresponse ne null",
                          "$select": "createdon",
                          "entityName": "admin_archiveapprovals"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "3414ca81-d039-43a6-a797-bb2f6cda8044"
                      },
                      "runAfter": {},
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      },
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('List_apps_for_this_envt')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "78b8d829-43fe-40fd-8dc6-7db4ae161d8d"
                  },
                  "runAfter": {
                    "List_apps_for_this_envt": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "List_apps_for_this_envt": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "_admin_appenvironment_value eq @{substring(items('Apply_to_each')?['name'], sub(length(items('Apply_to_each')?['name']), 36), 36)} and admin_appexcusedfromarchival ne true and admin_apparchiverequestignoredsince eq null",
                      "$select": "admin_appid",
                      "entityName": "admin_apps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "b5e5a7d9-b038-4e25-9cf9-a2f4da9a7999"
                  },
                  "runAfter": {},
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                }
              },
              "metadata": {
                "operationMetadataId": "3e377d25-df50-4d4c-a617-ce255b79959c"
              },
              "runAfter": {},
              "type": "Scope"
            },
            "Set_for_flows:_'admin_flowarchiverequestignoredsince'": {
              "actions": {
                "For_Each_Flow": {
                  "actions": {
                    "If_no_approvals_with_responses_exist_then_proceed_flows": {
                      "actions": {
                        "If_some_exist,_update_flow_ignore_field_with_oldest": {
                          "actions": {
                            "Mark_Flow_Archive_Request_Ignored_Since_to_oldest_ignore": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_flows",
                                  "item/admin_flowarchiverequestignoredsince": "@first(outputs('List_approvals_with_no_response_flow')?['body/value'])['createdon']",
                                  "recordId": "@items('For_Each_Flow')?['admin_flowid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "73f97e92-ca77-4976-931a-dddacc8abb98"
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "else": {
                            "actions": {
                              "No_ignored_archival_requests_found_for_flow": {
                                "inputs": "No ignored archival requests found",
                                "metadata": {
                                  "operationMetadataId": "405325ea-7a91-46c5-bb95-1ab09bb6e2ec"
                                },
                                "runAfter": {},
                                "type": "Compose"
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(outputs('List_approvals_with_no_response_flow')?['body/value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "99b97b62-0c02-4b11-a5c9-bf5eea216e3f"
                          },
                          "runAfter": {
                            "List_approvals_with_no_response_flow": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        },
                        "List_approvals_with_no_response_flow": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "$filter": "_admin_flowlookup_value eq @{items('For_Each_Flow')?['admin_flowid']} and admin_approvalresponse eq null",
                              "$orderby": "createdon",
                              "$select": "createdon",
                              "entityName": "admin_archiveapprovals"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "79ffa665-daff-46a8-aa57-5e419db51268"
                          },
                          "runAfter": {},
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        }
                      },
                      "else": {
                        "actions": {
                          "Flow_owner_has_responded_this_month": {
                            "inputs": "In the last month they have approved or rejected, so will not mark with an ignored date.\nThis grace period times out via (Clean up and Delete) flow, scope Delete timed out archive requests ",
                            "metadata": {
                              "operationMetadataId": "3dcd3879-5053-4c00-b40f-b334799dd16c"
                            },
                            "runAfter": {},
                            "type": "Compose"
                          }
                        }
                      },
                      "expression": {
                        "lessOrEquals": [
                          "@length(outputs('List_approvals_for_this_flow_with_responses')?['body/value'])",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8ef93629-80c7-48d9-a1f9-2d5b6a70bd02"
                      },
                      "runAfter": {
                        "List_approvals_for_this_flow_with_responses": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "List_approvals_for_this_flow_with_responses": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "_admin_flowlookup_value eq @{items('For_Each_Flow')?['admin_flowid']} and admin_approvalresponse ne null",
                          "$select": "createdon",
                          "entityName": "admin_archiveapprovals"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "553b078d-1a6c-4ec0-9c64-dd2c5ef4813c"
                      },
                      "runAfter": {},
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      },
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('List_flows_for_this_envt')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "925c3a0b-6925-4e06-b8b5-f6875e2f5307"
                  },
                  "runAfter": {
                    "List_flows_for_this_envt": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "List_flows_for_this_envt": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "_admin_flowenvironment_value eq @{substring(items('Apply_to_each')?['name'], sub(length(items('Apply_to_each')?['name']), 36), 36)} and admin_flowexcusedfromarchival ne true and admin_flowarchiverequestignoredsince eq null",
                      "$select": "admin_flowid",
                      "entityName": "admin_flows"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "f78ecebc-bb82-47b0-a9e2-8f71a9ac4339"
                  },
                  "runAfter": {},
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                }
              },
              "metadata": {
                "operationMetadataId": "b0bcc136-8a62-451c-9aa9-8e2b208423dc"
              },
              "runAfter": {
                "Set_for_apps:_'admin_apparchiverequestignoredsince'": [
                  "Succeeded"
                ]
              },
              "type": "Scope"
            }
          },
          "foreach": "@outputs('List_Environments_as_Admin')?['body/value']",
          "metadata": {
            "operationMetadataId": "966129a2-3640-43e6-bd7f-3818f46474aa"
          },
          "runAfter": {
            "List_Environments_as_Admin": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "List_Environments_as_Admin": {
          "inputs": {
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
              "connectionName": "shared_powerplatformforadmins",
              "operationId": "Get-AdminEnvironment"
            },
            "parameters": {
              "api-version": "2018-10-01"
            }
          },
          "metadata": {
            "operationMetadataId": "884cd6eb-896a-484e-82e2-5993354cbb00"
          },
          "runAfter": {},
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "type": "OpenApiConnection"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {},
              "required": [],
              "type": "object"
            }
          },
          "kind": "Button",
          "metadata": {
            "operationMetadataId": "be782e2f-95dc-4afe-980f-286a9f1f7a99"
          },
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
