CenterofExcellenceAuditComponents/SolutionPackage/Workflows/AdminArchiveandCleanUpv2StartApprovalforFlows-7E68D839-0556-EB11-A812-000D3A996ADC.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "api": {
          "name": "shared_approvals"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovApprovals"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps_2": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoEGovDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_flowmanagement": {
        "api": {
          "name": "shared_flowmanagement"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovPowerAutomateManagement"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovO365Outlook"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365users_2": {
        "api": {
          "name": "shared_office365users"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovO365Users"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Create_Archival_Request_for_Each_": {
          "actions": {
            "Date_Last_Modified": {
              "inputs": "@if(equals(items('Create_Archival_Request_for_Each_')?['admin_flowmodifiedon'], null), 'unknown', formatDateTime(items('Create_Archival_Request_for_Each_')?['admin_flowmodifiedon'], 'dd MMM yyy'))",
              "metadata": {
                "operationMetadataId": "7aaf8099-e23d-4c50-a024-d1be90b41132"
              },
              "runAfter": {
                "Filter_to_this_one_approved": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "Filter_to_this_one_approved": {
              "inputs": {
                "from": "@outputs('List_approved_approvals')?['body/value']",
                "where": "@equals(item()?['admin_appname'], items('Create_Archival_Request_for_Each_')?['admin_flowid'])"
              },
              "metadata": {
                "operationMetadataId": "dd484630-55cd-4026-8fa0-a7f90eba5c75"
              },
              "runAfter": {
                "Get_Assignee_Scope": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "Get_Assignee_Scope": {
              "actions": {
                "Get_Assignee": {
                  "actions": {
                    "Set_varAssigneeDisplayName": {
                      "inputs": {
                        "name": "varAssigneeDisplayName",
                        "value": "@variables('ApprovalAdmin')"
                      },
                      "metadata": {
                        "operationMetadataId": "1f6e8418-c4d5-470c-ba46-3ba3280ab802"
                      },
                      "runAfter": {
                        "Set_varAssignee_to_Admin": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable"
                    },
                    "Set_varAssignee_to_Admin": {
                      "inputs": {
                        "name": "varAssignee",
                        "value": "@variables('ApprovalAdmin')"
                      },
                      "metadata": {
                        "operationMetadataId": "70e7768b-1958-4d59-8fd9-93707463003b"
                      },
                      "runAfter": {},
                      "type": "SetVariable"
                    },
                    "Set_var_isReassigned_to_True": {
                      "inputs": {
                        "name": "isReassigned",
                        "value": "@true"
                      },
                      "metadata": {
                        "operationMetadataId": "0b13b758-ef13-4cf8-abd4-967881626a8c"
                      },
                      "runAfter": {
                        "Set_varAssigneeDisplayName": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable"
                    }
                  },
                  "else": {
                    "actions": {
                      "Recheck_Orphan_Status": {
                        "inputs": {
                          "authentication": "@parameters('$authentication')",
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                            "connectionName": "shared_office365users_2",
                            "operationId": "UserProfile_V2"
                          },
                          "parameters": {
                            "$select": "displayName, mail, statusCode",
                            "id": "@variables('FlowOwnerID')"
                          },
                          "retryPolicy": {
                            "count": 10,
                            "interval": "PT10S",
                            "type": "exponential"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "6d822688-321b-48b3-b1d0-d2a625cbba80"
                        },
                        "runAfter": {},
                        "type": "OpenApiConnection"
                      },
                      "Switch": {
                        "cases": {
                          "Case_200_-_User_Found": {
                            "actions": {
                              "Set_varAssigneeDisplayName_to_Owner": {
                                "inputs": {
                                  "name": "varAssigneeDisplayName",
                                  "value": "@outputs('Recheck_Orphan_Status')?['body/displayName']"
                                },
                                "runAfter": {
                                  "Set_varAssignee_to_Owner": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "SetVariable"
                              },
                              "Set_varAssignee_to_Owner": {
                                "inputs": {
                                  "name": "varAssignee",
                                  "value": "@outputs('Recheck_Orphan_Status')?['body/mail']"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                              },
                              "Set_var_isReassigned_to_False": {
                                "inputs": {
                                  "name": "isReassigned",
                                  "value": "@false"
                                },
                                "runAfter": {
                                  "Set_varAssigneeDisplayName_to_Owner": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "SetVariable"
                              }
                            },
                            "case": 200
                          },
                          "Case_404_-_New_Orphan": {
                            "actions": {
                              "Set_varAssigneeDisplayName_to_Admin_for_new_Orphan": {
                                "inputs": {
                                  "name": "varAssigneeDisplayName",
                                  "value": "@variables('ApprovalAdmin')"
                                },
                                "runAfter": {
                                  "Set_varAssignee_to_Admin_for_new_Orphan": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "SetVariable"
                              },
                              "Set_varAssignee_to_Admin_for_new_Orphan": {
                                "inputs": {
                                  "name": "varAssignee",
                                  "value": "@variables('ApprovalAdmin')"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                              },
                              "Set_var_isReassigned_to_True_for_new_Orphan": {
                                "inputs": {
                                  "name": "isReassigned",
                                  "value": "@true"
                                },
                                "runAfter": {
                                  "Set_varAssigneeDisplayName_to_Admin_for_new_Orphan": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "SetVariable"
                              }
                            },
                            "case": 404
                          }
                        },
                        "default": {
                          "actions": {}
                        },
                        "expression": "@outputs('Recheck_Orphan_Status')['statusCode']",
                        "metadata": {
                          "operationMetadataId": "2b34edec-6f4f-4090-a7d4-3482ac7697ea"
                        },
                        "runAfter": {
                          "Recheck_Orphan_Status": [
                            "Succeeded",
                            "Failed"
                          ]
                        },
                        "type": "Switch"
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@variables('isProd')",
                          "False"
                        ]
                      },
                      {
                        "equals": [
                          "@items('Create_Archival_Request_for_Each_')?['cr5d5_flowisorphaned']",
                          "yes"
                        ]
                      },
                      {
                        "equals": [
                          "@items('Create_Archival_Request_for_Each_')?['admin_appowner/admin_userisserviceprinciple']",
                          "@true"
                        ]
                      },
                      {
                        "equals": [
                          "@variables('FlowOwnerID')",
                          "@null"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "64a37cdd-ae88-432e-8ab6-3bff52d8b723"
                  },
                  "runAfter": {
                    "If_DerivedOwner_is_null,_set_to_Creator": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "If_DerivedOwner_is_null,_set_to_Creator": {
                  "actions": {
                    "Get_flow_creator": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                          "connectionName": "shared_office365users_2",
                          "operationId": "UserProfile_V2"
                        },
                        "parameters": {
                          "$select": "statusCode",
                          "id": "@items('Create_Archival_Request_for_Each_')?['admin_flowcreatorupn']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "b2b763cc-fafa-4232-ad11-dd169a229218"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    },
                    "Switch_on_Flow_Creator_Lookup": {
                      "cases": {
                        "200_Success": {
                          "actions": {
                            "Set_FlowOwnerID_to_Creator": {
                              "inputs": {
                                "name": "FlowOwnerID",
                                "value": "@{items('Create_Archival_Request_for_Each_')?['admin_flowcreatorupn']}"
                              },
                              "runAfter": {
                                "Update_Flow_DerivedOwner": [
                                  "Succeeded"
                                ]
                              },
                              "type": "SetVariable"
                            },
                            "Update_Flow_DerivedOwner": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps_2",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_flows",
                                  "item/admin_DerivedOwner@odata.bind": "admin_makers(@{items('Create_Archival_Request_for_Each_')?['admin_flowcreatorupn']})",
                                  "recordId": "@items('Create_Archival_Request_for_Each_')?['admin_flowid']"
                                }
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "case": 200
                        }
                      },
                      "default": {
                        "actions": {}
                      },
                      "expression": "@outputs('Get_flow_creator')['statusCode']",
                      "metadata": {
                        "operationMetadataId": "fec91295-c73b-4d6e-873a-78f62cbc5250"
                      },
                      "runAfter": {
                        "Get_flow_creator": [
                          "Succeeded",
                          "Failed"
                        ]
                      },
                      "type": "Switch"
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@items('Create_Archival_Request_for_Each_')?['_admin_derivedowner_value']",
                          "@null"
                        ]
                      },
                      {
                        "not": {
                          "equals": [
                            "@items('Create_Archival_Request_for_Each_')?['admin_flowcreatorupn']",
                            "@null"
                          ]
                        }
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d394d07d-ea9c-43af-b807-48e42562de8d"
                  },
                  "runAfter": {
                    "Set_variable_FlowOwnerID_to_DerivedOwner": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "Set_variable_FlowOwnerID_to_DerivedOwner": {
                  "inputs": {
                    "name": "FlowOwnerID",
                    "value": "@{items('Create_Archival_Request_for_Each_')?['_admin_derivedowner_value']}"
                  },
                  "metadata": {
                    "operationMetadataId": "51a7a360-2cd7-4217-9dba-2fd86dd50eae"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                }
              },
              "metadata": {
                "operationMetadataId": "f5d6114e-2f6e-4eae-b78e-c76f41986786"
              },
              "runAfter": {},
              "type": "Scope"
            },
            "See_if_Approved": {
              "actions": {
                "Apply_to_each_other_approval": {
                  "actions": {
                    "Delete_a_row": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "DeleteRecord"
                        },
                        "parameters": {
                          "entityName": "admin_archiveapprovals",
                          "recordId": "@items('Apply_to_each_other_approval')?['admin_archiveapprovalid']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "276255af-9ae4-4f1a-9381-3935f18ca32f"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('Fetch_other_approvals_for_this_flow_and_delete_them')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "e554fcc5-86bf-4df7-9d0b-0b8966765421"
                  },
                  "runAfter": {
                    "Fetch_other_approvals_for_this_flow_and_delete_them": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Catch_-_flow_already_deleted": {
                  "inputs": "Flow already Deleted",
                  "metadata": {
                    "operationMetadataId": "3e1be5a7-bdd6-424c-b96f-bd137d285d6c"
                  },
                  "runAfter": {
                    "See_if_Flow_Still_Exists": [
                      "Failed"
                    ]
                  },
                  "type": "Compose"
                },
                "Date_Approved": {
                  "inputs": "@formatDateTime(first(body('Parse_JSON_this_one_approved'))['admin_approvalresponsedate'], 'dd MMM yyy')",
                  "metadata": {
                    "operationMetadataId": "19c3d134-89bf-485a-b7e3-a5b32953fc2d"
                  },
                  "runAfter": {
                    "Get_Object_Name": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose"
                },
                "Date_to_Delete": {
                  "inputs": "@formatDateTime(addDays(first(body('Parse_JSON_this_one_approved'))['admin_approvalresponsedate'], 21), 'dd MMM yyy')",
                  "metadata": {
                    "operationMetadataId": "3eeefc22-9274-4201-96b8-356f9029a175"
                  },
                  "runAfter": {
                    "Date_Approved": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose"
                },
                "Fetch_other_approvals_for_this_flow_and_delete_them": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "_admin_flowlookup_value eq @{items('Create_Archival_Request_for_Each_')?['admin_flowid']} and admin_approvalresponse ne 'Approve'",
                      "$select": "admin_archiveapprovalid, admin_approvalresponse",
                      "entityName": "admin_archiveapprovals"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "19725b93-07f1-4ded-9dba-d08dc7ec4ee3"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                },
                "Get_Envt_Name": {
                  "inputs": "@first(body('Parse_JSON_this_one_approved'))['admin_appenvironmentname']",
                  "metadata": {
                    "operationMetadataId": "69ed9796-3dee-4cd6-9659-a338fd8b68f9"
                  },
                  "runAfter": {
                    "Parse_JSON_this_one_approved": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose"
                },
                "Get_Object_Name": {
                  "inputs": "@first(body('Parse_JSON_this_one_approved'))['admin_appname']",
                  "metadata": {
                    "operationMetadataId": "164f76c6-03af-4cfd-a23d-f29d2b41bef1"
                  },
                  "runAfter": {
                    "Get_Envt_Name": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose"
                },
                "Parse_JSON_this_one_approved": {
                  "inputs": {
                    "content": "@body('Filter_to_this_one_approved')",
                    "schema": {
                      "items": {
                        "properties": {
                          "@@odata.etag": {
                            "type": "string"
                          },
                          "@@odata.id": {
                            "type": "string"
                          },
                          "ItemInternalId": {
                            "type": "string"
                          },
                          "admin_appdisplayname": {
                            "type": "string"
                          },
                          "admin_appenvironmentname": {
                            "type": "string"
                          },
                          "admin_appname": {
                            "type": "string"
                          },
                          "admin_approvalid": {
                            "type": "string"
                          },
                          "admin_approvalresponse": {
                            "type": "string"
                          },
                          "admin_approvalresponsedate": {
                            "type": "string"
                          },
                          "admin_archiveapprovalid": {
                            "type": "string"
                          },
                          "admin_name": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "c7c961f7-c62b-4382-8747-ab00f6f6efe0"
                  },
                  "runAfter": {
                    "Reset_value_Flow_Archive_Request_Ignored_Since": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson"
                },
                "Reset_value_Flow_Archive_Request_Ignored_Since": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "UpdateRecord"
                    },
                    "parameters": {
                      "entityName": "admin_flows",
                      "item/admin_flowarchiverequestignoredsince": "@null",
                      "recordId": "@items('Create_Archival_Request_for_Each_')?['admin_flowid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "22c33834-6db3-411f-8da7-440319258dba"
                  },
                  "runAfter": {
                    "Apply_to_each_other_approval": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "See_if_Flow_Still_Exists": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement",
                      "connectionName": "shared_flowmanagement",
                      "operationId": "AdminGetFlow"
                    },
                    "parameters": {
                      "environmentName": "@outputs('Get_Envt_Name')",
                      "flowName": "@outputs('Get_Object_Name')"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "4f084d36-3012-407d-8cfb-809b07186734"
                  },
                  "runAfter": {
                    "Date_to_Delete": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "Send_an_email_(V2)": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2"
                    },
                    "parameters": {
                      "emailMessage/Body": "@{variables('htmlHeader')}\n@{variables('htmlBodyStart')}\n\n<p>\nAs a reminder, you approved removal of this flow from the tenant on @{outputs('Date_Approved')}.\n<br>\nThe flow will therefore be removed from the tenant sometime after @{outputs('Date_to_Delete')} @{if(equals(outputs('Reset_value_Flow_Archive_Request_Ignored_Since')?['body/admin_workflowentityid'], null), '.', ', however, since this flow is part of a solution, automatic deletion is not possible. You will need to delete the flow or the entire solution manually.')}\n<br><br>\n<b>Flow Environment</b>: @{items('Create_Archival_Request_for_Each_')?['admin_flowenvironmentdisplayname']} <br>\n<b>Flow Display Name</b>:  @{body('See_if_Flow_Still_Exists')['properties']['displayName']}\n<br><br>\nIf you want to retain a copy of this flow for later restore in the event that you change your mind, please do so now.\n<br>\nIf you would like to stop recieving these reminders ahead of deletion, please delete on your side, and you will not be prompted again.\n<br><br>\nThank you for using the Power Platform!\n<br>\n</p>\n</li>\n</ol>\n</p>\n@{variables('htmlBodyStop')}",
                      "emailMessage/Subject": "Reminder to back up your Flow: @{body('See_if_Flow_Still_Exists')['properties']['displayName']}",
                      "emailMessage/To": "@variables('varAssignee')"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "1f30990d-7731-48d6-bef0-0a9baaf6ece6"
                  },
                  "runAfter": {
                    "Catch_-_flow_already_deleted": [
                      "Skipped"
                    ]
                  },
                  "type": "OpenApiConnection"
                }
              },
              "else": {
                "actions": {
                  "Filter_to_this_one_rejected": {
                    "inputs": {
                      "from": "@outputs('List_rejected_approvals')?['body/value']",
                      "where": "@equals(item()?['admin_appname'], items('Create_Archival_Request_for_Each_')?['admin_flowid'])"
                    },
                    "metadata": {
                      "operationMetadataId": "ca8bf454-00b7-44cf-b8ff-94a5ef6568b8"
                    },
                    "runAfter": {},
                    "type": "Query"
                  },
                  "See_if_Rejected": {
                    "actions": {
                      "Already_Rejected_-_Clean_up_other_approvals_for_this_flow": {
                        "inputs": "Request Rejected. That rejection will time out in 1 month and then will recreate",
                        "metadata": {
                          "operationMetadataId": "0fb92a2f-cd68-4334-8d12-ffc7a3a550bf"
                        },
                        "runAfter": {},
                        "type": "Compose"
                      },
                      "Apply_to_each_other_ignored_approval": {
                        "actions": {
                          "Delete_ignored_approval_request": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps_2",
                                "operationId": "DeleteRecord"
                              },
                              "parameters": {
                                "entityName": "admin_archiveapprovals",
                                "recordId": "@items('Apply_to_each_other_ignored_approval')?['admin_archiveapprovalid']"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "a3cf486b-18f3-4f4a-8da5-1c61780d63b2"
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          },
                          "Reset_value_Flow_Archive_Request_Ignored_Since_2": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps_2",
                                "operationId": "UpdateRecord"
                              },
                              "parameters": {
                                "entityName": "admin_flows",
                                "item/admin_flowarchiverequestignoredsince": "@null",
                                "recordId": "@items('Create_Archival_Request_for_Each_')?['admin_flowid']"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "23a004fc-b591-4e40-929c-5a89c4bc290f"
                            },
                            "runAfter": {
                              "Delete_ignored_approval_request": [
                                "Succeeded"
                              ]
                            },
                            "type": "OpenApiConnection"
                          }
                        },
                        "foreach": "@outputs('Fetch_other_ignored_approvals_for_this_flow_and_delete_them')?['body/value']",
                        "metadata": {
                          "operationMetadataId": "ff6010aa-4fdd-4e22-881e-8cdfc1332503"
                        },
                        "runAfter": {
                          "Fetch_other_ignored_approvals_for_this_flow_and_delete_them": [
                            "Succeeded"
                          ]
                        },
                        "type": "Foreach"
                      },
                      "Fetch_other_ignored_approvals_for_this_flow_and_delete_them": {
                        "inputs": {
                          "authentication": "@parameters('$authentication')",
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps_2",
                            "operationId": "ListRecords"
                          },
                          "parameters": {
                            "$filter": "_admin_flowlookup_value eq @{items('Create_Archival_Request_for_Each_')?['admin_flowid']} and admin_approvalresponse eq null",
                            "$select": "admin_archiveapprovalid, admin_approvalresponse",
                            "entityName": "admin_archiveapprovals"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "6dc801a6-8746-4aba-88d4-60687afde36a"
                        },
                        "runAfter": {
                          "Already_Rejected_-_Clean_up_other_approvals_for_this_flow": [
                            "Succeeded"
                          ]
                        },
                        "runtimeConfiguration": {
                          "paginationPolicy": {
                            "minimumItemCount": 100000
                          }
                        },
                        "type": "OpenApiConnection"
                      }
                    },
                    "else": {
                      "actions": {
                        "Create_an_approval": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                              "connectionName": "shared_approvals",
                              "operationId": "CreateAnApproval"
                            },
                            "parameters": {
                              "ApprovalCreationInput/assignedTo": "@{variables('varAssignee')};",
                              "ApprovalCreationInput/details": "@{if(equals(variables('isReassigned'), true), 'OWNER DOES NOT EXIST. APPROVAL SENT TO ADMIN.', '')}\nYou own a flow that has not been modified recently.\n\nLast Modified: @{outputs('Date_Last_Modified')}\n\nWe want to make sure it is still useful, as if it is not then we would like to remove it to keep our Power Platform tenant tidy. \n\nPlease confirm this flow is no longer being used and can be deleted by approving this task; or provide a business justification if you reject. \n\n**Flow Name:** @{items('Create_Archival_Request_for_Each_')?['admin_displayname']}\n**Flow ID:** @{items('Create_Archival_Request_for_Each_')?['admin_flowid']}\n**Environment:** @{items('Create_Archival_Request_for_Each_')?['admin_flowenvironmentdisplayname']}\n\n**Notes:**\n1) If you are not using the flow anymore but do not yet want to delete it, you can turn the flow off and it will no longer be considered for deletion.\n\n2) If you select approve, the flow will be deleted from the tenant in three weeks, so please manually archive a copy ahead of that date if you believe you will want access in the future. \n\n3) If you select reject, consider performing a re-save or turn off your flow to avoid receving this email again in another month. \n\n**To clean up all outstanding requests about old apps and flows:**\n@{if(equals(variables('CleanUpTextType'), 0), 'View flow approvals in the CoE environment', '')}\n@{if(or(equals(variables('CleanUpTextType'), 1), equals(variables('CleanUpTextType'), 2)), 'Use this app: [Clean Up App](', '')}@{if(or(equals(variables('CleanUpTextType'), 1), equals(variables('CleanUpTextType'), 2)), variables('CleanUpAppURL'), '')}@{if(or(equals(variables('CleanUpTextType'), 1), equals(variables('CleanUpTextType'), 2)), ')', '')}\n@{if(equals(variables('CleanUpTextType'), 1), 'If you dont have permission use this instead: [Flow Approvals UX](', '')}@{if(equals(variables('CleanUpTextType'), 1), variables('ApprovalsURL'), '')}@{if(equals(variables('CleanUpTextType'), 1), ')', '')}\n@{if(equals(variables('CleanUpTextType'), 3), 'View all approvals: [Flow Approvals UX](', '')}@{if(equals(variables('CleanUpTextType'), 3), variables('ApprovalsURL'), '')}@{if(equals(variables('CleanUpTextType'), 3), ')', '')}\n",
                              "ApprovalCreationInput/enableNotifications": true,
                              "ApprovalCreationInput/enableReassignment": true,
                              "ApprovalCreationInput/title": "This flow appears to be unused; can we delete?  @{items('Create_Archival_Request_for_Each_')?['admin_displayname']}",
                              "approvalType": "BasicAwaitAll"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "27c59339-770f-4bab-aa00-20559915c94f"
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        },
                        "Switch:_Was_Approval_Creation_Successful": {
                          "cases": {
                            "Failure_Case": {
                              "actions": {
                                "Send_an_email_(V2)_2": {
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                      "connectionName": "shared_office365",
                                      "operationId": "SendEmailV2"
                                    },
                                    "parameters": {
                                      "emailMessage/Body": "@{variables('htmlHeader')}\n@{variables('htmlBodyStart')}\n\n<p> @{items('Create_Archival_Request_for_Each_')?['admin_flowmakerdisplayname']} was recently prompted to archive the following flow:<br>\n<br>\n<strong>Display Name</strong>: @{items('Create_Archival_Request_for_Each_')?['admin_displayname']}<br>\n<strong>Environment</strong>: @{items('Create_Archival_Request_for_Each_')?['admin_flowenvironmentdisplayname']} <br>\n<strong>Flow ID</strong>: @{items('Create_Archival_Request_for_Each_')?['admin_flowid']}<br>\n<br>\nThe request was archiving was unable to process as the user has insufficient permissions to the CoE Environment. Please give them permissions to Approvals in the CoE to proceed.<br>\n</p>\n@{variables('htmlBodyStop')}",
                                      "emailMessage/Subject": "Flow maker @{variables('varAssigneeDisplayName')} does not have permissions to perform Archive Approval",
                                      "emailMessage/To": "@variables('adminMail')"
                                    },
                                    "retryPolicy": {
                                      "count": 10,
                                      "interval": "PT10S",
                                      "type": "exponential"
                                    }
                                  },
                                  "runAfter": {},
                                  "type": "OpenApiConnection"
                                }
                              },
                              "case": 400
                            },
                            "Success_Case": {
                              "actions": {
                                "Create_a_new_record": {
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps_2",
                                      "operationId": "CreateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_archiveapprovals",
                                      "item/admin_FlowLookup@odata.bind": "admin_flows(@{items('Create_Archival_Request_for_Each_')?['admin_flowid']})",
                                      "item/admin_appdisplayname": "@items('Create_Archival_Request_for_Each_')?['admin_displayname']",
                                      "item/admin_appenvironmentname": "@items('Create_Archival_Request_for_Each_')?['admin_flowenvironment/admin_environmentname']",
                                      "item/admin_appname": "@items('Create_Archival_Request_for_Each_')?['admin_flowid']",
                                      "item/admin_appowneremail": "@variables('varAssignee')",
                                      "item/admin_appownername": "@variables('varAssigneeDisplayName')",
                                      "item/admin_approvalid": "@body('Create_an_approval')?['name']",
                                      "item/admin_name": "@items('Create_Archival_Request_for_Each_')?['admin_flowid']",
                                      "item/cr5d5_archivalitemtype": 129260000
                                    },
                                    "retryPolicy": {
                                      "count": 10,
                                      "interval": "PT10S",
                                      "type": "exponential"
                                    }
                                  },
                                  "runAfter": {},
                                  "type": "OpenApiConnection"
                                },
                                "If_no_value_for_'admin_flowarchiverequestignoredsince',_add_this_one": {
                                  "actions": {
                                    "Add_Ignored_Since_value": {
                                      "inputs": {
                                        "authentication": "@parameters('$authentication')",
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                          "connectionName": "shared_commondataserviceforapps_2",
                                          "operationId": "UpdateRecord"
                                        },
                                        "parameters": {
                                          "entityName": "admin_flows",
                                          "item/admin_flowarchiverequestignoredsince": "@first(outputs('List_approvals_with_no_response_flow_sorted_by_created_date')?['body/value'])['createdon']",
                                          "recordId": "@items('Create_Archival_Request_for_Each_')?['admin_flowid']"
                                        },
                                        "retryPolicy": {
                                          "count": 10,
                                          "interval": "PT10S",
                                          "type": "exponential"
                                        }
                                      },
                                      "runAfter": {
                                        "List_approvals_with_no_response_flow_sorted_by_created_date": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "OpenApiConnection"
                                    },
                                    "List_approvals_with_no_response_flow_sorted_by_created_date": {
                                      "inputs": {
                                        "authentication": "@parameters('$authentication')",
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                          "connectionName": "shared_commondataserviceforapps_2",
                                          "operationId": "ListRecords"
                                        },
                                        "parameters": {
                                          "$filter": "_admin_flowlookup_value eq @{items('Create_Archival_Request_for_Each_')?['admin_flowid']} and admin_approvalresponse eq null",
                                          "$orderby": "createdon",
                                          "$select": "createdon",
                                          "entityName": "admin_archiveapprovals"
                                        }
                                      },
                                      "runAfter": {},
                                      "runtimeConfiguration": {
                                        "paginationPolicy": {
                                          "minimumItemCount": 100000
                                        }
                                      },
                                      "type": "OpenApiConnection"
                                    }
                                  },
                                  "expression": {
                                    "or": [
                                      {
                                        "equals": [
                                          "@items('Create_Archival_Request_for_Each_')?['admin_flowarchiverequestignoredsince']",
                                          "@null"
                                        ]
                                      },
                                      {
                                        "lessOrEquals": [
                                          "@items('Create_Archival_Request_for_Each_')?['admin_flowarchiverequestignoredsince']",
                                          "@addDays(utcNow(),-10000)"
                                        ]
                                      }
                                    ]
                                  },
                                  "runAfter": {
                                    "Create_a_new_record": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "If"
                                }
                              },
                              "case": 201
                            }
                          },
                          "default": {
                            "actions": {}
                          },
                          "expression": "@outputs('Create_an_approval')['statusCode']",
                          "metadata": {
                            "operationMetadataId": "a2bf8ae1-b82d-4be8-b7e8-95ae3eb071e0"
                          },
                          "runAfter": {
                            "Create_an_approval": [
                              "Succeeded",
                              "Failed"
                            ]
                          },
                          "type": "Switch"
                        }
                      }
                    },
                    "expression": {
                      "greater": [
                        "@length(body('Filter_to_this_one_rejected'))",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "241ab358-02a1-4d3a-a538-94b238fdff0c"
                    },
                    "runAfter": {
                      "Filter_to_this_one_rejected": [
                        "Succeeded"
                      ]
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(body('Filter_to_this_one_approved'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "d2c2168c-d836-4544-ba7e-3aef322061db"
              },
              "runAfter": {
                "Date_Last_Modified": [
                  "Succeeded"
                ]
              },
              "type": "If"
            }
          },
          "foreach": "@outputs('List_flows_not_marked_modified_since_Past_Time_')?['body/value']",
          "metadata": {
            "operationMetadataId": "9832f599-6e31-4c6f-8407-66b9b1302a2e"
          },
          "runAfter": {
            "List_rejected_approvals": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Get_past_time": {
          "description": "If the app has not been modified in the past x months, an approval to archive will trigger. Update your desired archive months here.",
          "inputs": {
            "interval": 6,
            "timeUnit": "Month"
          },
          "kind": "GetPastTime",
          "metadata": {
            "operationMetadataId": "4ac85cec-e93a-4a2d-a58b-314b328ae603"
          },
          "runAfter": {},
          "type": "Expression"
        },
        "Initialize_ApprovalAdmin": {
          "inputs": {
            "variables": [
              {
                "name": "ApprovalAdmin",
                "type": "string",
                "value": "@parameters('Approval Admin')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "ab76ab40-17c9-471d-ba16-5ce379e944af"
          },
          "runAfter": {
            "Initialize_variable_FlowOwnerID": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_OwnerIsNull": {
          "inputs": {
            "variables": [
              {
                "name": "OwnerIsNull",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "c0dd8432-9d2f-4555-b056-51c63ff2ced9"
          },
          "runAfter": {
            "Get_past_time": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_adminMail": {
          "inputs": {
            "variables": [
              {
                "name": "adminMail",
                "type": "string",
                "value": "@parameters('Admin eMail')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "cbe779dd-2a85-4b88-b265-c969ab3fe76c"
          },
          "runAfter": {
            "Initialize_OwnerIsNull": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_htmlBodyStart": {
          "inputs": {
            "variables": [
              {
                "name": "htmlBodyStart",
                "type": "string",
                "value": "@parameters('eMail Body Start (admin_eMailBodyStart)')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "b0bb3c31-4b63-4e40-97d7-3f952c05b956"
          },
          "runAfter": {
            "Initialize_htmlHeader_(style)": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_htmlBodyStop": {
          "inputs": {
            "variables": [
              {
                "name": "htmlBodyStop",
                "type": "string",
                "value": "@parameters('eMail Body Stop (admin_eMailBodyStop)')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "6d8d9583-7fa8-4339-8199-fdd8704774b4"
          },
          "runAfter": {
            "Initialize_htmlBodyStart": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_htmlHeader_(style)": {
          "inputs": {
            "variables": [
              {
                "name": "htmlHeader",
                "type": "string",
                "value": "@parameters('eMail Header Style (admin_eMailHeaderStyle)')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "bacb3790-ae56-4073-bc97-bf4964254c72"
          },
          "runAfter": {
            "Initialize_varAssigneeDisplayName": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_logoUrl": {
          "inputs": {
            "variables": [
              {
                "name": "logoUrl",
                "type": "string",
                "value": "http://pngimg.com/uploads/microsoft/microsoft_PNG16.png"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "51040cf1-227f-48e0-bfdd-dcfcc85ce909"
          },
          "runAfter": {
            "Initialize_var_CleanUpTextType": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_varAssignee": {
          "inputs": {
            "variables": [
              {
                "name": "varAssignee",
                "type": "string",
                "value": "@variables('adminMail')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "1a23040a-4abf-491f-abdf-c7beca33b70a"
          },
          "runAfter": {
            "Initialize_ApprovalAdmin": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_varAssigneeDisplayName": {
          "inputs": {
            "variables": [
              {
                "name": "varAssigneeDisplayName",
                "type": "string"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "97c72bf7-d6fa-4ddb-9dbc-f74dc57f462e"
          },
          "runAfter": {
            "Initialize_varAssignee": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_var_ApprovalsURL": {
          "inputs": {
            "variables": [
              {
                "name": "ApprovalsURL",
                "type": "string"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "35a37727-4d36-48d7-855e-482015628a88"
          },
          "runAfter": {
            "Set_env_var_CleanUpAppURL": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_var_CleanUpAppURL": {
          "inputs": {
            "variables": [
              {
                "name": "CleanUpAppURL",
                "type": "string"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "75eaf599-f85d-4045-b44a-192162a84998"
          },
          "runAfter": {
            "Initialize_var_isProd": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_var_CleanUpTextType": {
          "description": "0 = both blank, 1 = neither blank, 2 = approval blank, 3 = app blank",
          "inputs": {
            "variables": [
              {
                "name": "CleanUpTextType",
                "type": "integer",
                "value": "@if(and(equals(variables('CleanUpAppURL'), ''), equals(variables('ApprovalsURL'), '')), 0, if(and(not(equals(variables('CleanUpAppURL'), '')), not(equals(variables('ApprovalsURL'), ''))), 1, if(equals(variables('ApprovalsURL'), ''), 2, if(equals(variables('CleanUpAppURL'), ''), 3, 0))))"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "d6ceda0b-d3ba-4485-860d-12452fab6a21"
          },
          "runAfter": {
            "Set_env_var_ApprovalsURL": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_var_isProd": {
          "inputs": {
            "variables": [
              {
                "name": "isProd",
                "type": "string",
                "value": "@{parameters('ProductionEnvironment')}"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "dd2121b1-8820-4f86-a0aa-29052f526920"
          },
          "runAfter": {
            "Initialize_htmlBodyStop": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_var_isReassigned": {
          "inputs": {
            "variables": [
              {
                "name": "isReassigned",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "ea30cbc2-1836-4737-8dd9-38c92b0feb4d"
          },
          "runAfter": {
            "Initialize_adminMail": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_FlowOwnerID": {
          "inputs": {
            "variables": [
              {
                "name": "FlowOwnerID",
                "type": "string"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "50752c94-366a-45b1-a377-afb7909ea213"
          },
          "runAfter": {
            "Initialize_var_isReassigned": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "List_approved_approvals": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "ListRecords"
            },
            "parameters": {
              "$filter": "admin_approvalresponse eq 'Approve'",
              "$select": "admin_archiveapprovalid, admin_appname, admin_appdisplayname,  admin_appenvironmentname, admin_approvalresponsedate, admin_approvalresponse",
              "entityName": "admin_archiveapprovals"
            },
            "retryPolicy": {
              "count": 10,
              "interval": "PT10S",
              "type": "exponential"
            }
          },
          "metadata": {
            "operationMetadataId": "ac1721e3-4807-46c6-b782-5457f8cbeb90"
          },
          "runAfter": {
            "List_flows_not_marked_modified_since_Past_Time_": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "type": "OpenApiConnection"
        },
        "List_flows_not_marked_modified_since_Past_Time_": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "ListRecords"
            },
            "parameters": {
              "$expand": "admin_FlowCreator($select=admin_userisserviceprinciple),admin_DerivedOwner($select=admin_userisserviceprinciple),admin_FlowEnvironment($select=admin_displayname,admin_environmentname, admin_excusefromarchivalflows)",
              "$filter": "(admin_flowmodifiedon lt @{body('Get_past_time')} or admin_flowmodifiedon eq null) and admin_flowdeleted eq false and admin_flowstate ne 'Stopped'  and admin_flowexcusedfromarchival ne true and admin_FlowEnvironment/admin_excusefromarchivalflows ne true",
              "$select": "admin_flowid, _admin_flowenvironment_value, cr5d5_flowisorphaned, admin_flowmodifiedon, admin_flowenvironmentdisplayname, admin_displayname, admin_flowmakerdisplayname, admin_flowcreatorupn,  _admin_derivedowner_value, admin_flowarchiverequestignoredsince, admin_workflowentityid",
              "entityName": "admin_flows"
            },
            "retryPolicy": {
              "count": 10,
              "interval": "PT10S",
              "type": "exponential"
            }
          },
          "metadata": {
            "operationMetadataId": "e45dad62-0316-4a65-9150-39574595dba7"
          },
          "runAfter": {
            "Initialize_logoUrl": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "type": "OpenApiConnection"
        },
        "List_rejected_approvals": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "ListRecords"
            },
            "parameters": {
              "$filter": "admin_approvalresponse eq 'Reject'",
              "$select": "admin_archiveapprovalid, admin_appname, admin_appdisplayname,  admin_appenvironmentname, admin_approvalresponsedate",
              "entityName": "admin_archiveapprovals"
            },
            "retryPolicy": {
              "count": 10,
              "interval": "PT10S",
              "type": "exponential"
            }
          },
          "metadata": {
            "operationMetadataId": "a9810e7e-d6ba-4217-82c1-5fa6c064c698"
          },
          "runAfter": {
            "List_approved_approvals": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "type": "OpenApiConnection"
        },
        "Set_env_var_ApprovalsURL": {
          "actions": {
            "ApprovalsURL_-_if_no_Current,_use_Default": {
              "actions": {
                "Set_ApprovalsURL_-_CurrentValue": {
                  "inputs": {
                    "name": "ApprovalsURL",
                    "value": "@{first(body('ListCurrents-ApprovalsURL')?['value'])?['Value']}"
                  },
                  "metadata": {
                    "operationMetadataId": "f8b8c413-838c-4a33-b3c1-1b2124c37b9b"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                }
              },
              "else": {
                "actions": {
                  "Set_ApprovalsURL_-_DefaultValue": {
                    "inputs": {
                      "name": "ApprovalsURL",
                      "value": "@{first(body('ListDefns-ApprovalsURL')?['value'])?['defaultvalue']}"
                    },
                    "metadata": {
                      "operationMetadataId": "3b227478-34c0-4bbc-92e8-924ce202f5bc"
                    },
                    "runAfter": {},
                    "type": "SetVariable"
                  }
                }
              },
              "expression": {
                "greaterOrEquals": [
                  "@length(body('ListCurrents-ApprovalsURL')?['value'])",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "48211b8c-65ae-4e43-84f4-c6c843e3e1bb"
              },
              "runAfter": {
                "ListCurrents-ApprovalsURL": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "Get_ID_from_ApprovalsURL": {
              "inputs": "@first(body('ListDefns-ApprovalsURL')?['value'])?['environmentvariabledefinitionid']",
              "metadata": {
                "operationMetadataId": "83a3f076-84cb-4335-8360-3b0782878ea2"
              },
              "runAfter": {
                "ListDefns-ApprovalsURL": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "ListCurrents-ApprovalsURL": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_environmentvariabledefinitionid_value eq @{outputs('Get_ID_from_ApprovalsURL')}",
                  "$select": "value",
                  "entityName": "environmentvariablevalues"
                }
              },
              "metadata": {
                "operationMetadataId": "fd9f7fc3-daf4-4aa0-b134-affa41fd41ee"
              },
              "runAfter": {
                "Get_ID_from_ApprovalsURL": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection"
            },
            "ListDefns-ApprovalsURL": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "schemaname eq 'admin_FlowApprovalsURL'",
                  "$select": "environmentvariabledefinitionid, defaultvalue",
                  "entityName": "environmentvariabledefinitions"
                }
              },
              "metadata": {
                "operationMetadataId": "951547fa-6412-4a1c-9936-9df10e5ddba4"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            }
          },
          "description": "must use old technique for fetching as env var is optional",
          "metadata": {
            "operationMetadataId": "81188c4a-c470-4bb2-859c-096d70a0ee48"
          },
          "runAfter": {
            "Initialize_var_ApprovalsURL": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Set_env_var_CleanUpAppURL": {
          "actions": {
            "CleanUpAppURL_-_if_no_Current,_use_Default": {
              "actions": {
                "Set_CleanUpAppURL_-_CurrentValue": {
                  "inputs": {
                    "name": "CleanUpAppURL",
                    "value": "@{first(body('ListCurrents-CleanUpAppURL')?['value'])?['Value']}"
                  },
                  "metadata": {
                    "operationMetadataId": "2f6fc742-8faa-4ed6-a867-9a9ad14b2846"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                }
              },
              "else": {
                "actions": {
                  "Set_CleanUpAppURL_-_DefaultValue": {
                    "inputs": {
                      "name": "CleanUpAppURL",
                      "value": "@{first(body('ListDefns-CleanUpAppURL')?['value'])?['defaultvalue']}"
                    },
                    "metadata": {
                      "operationMetadataId": "53dd3354-966b-4ad1-a1e1-c36b8eb8bd44"
                    },
                    "runAfter": {},
                    "type": "SetVariable"
                  }
                }
              },
              "expression": {
                "greaterOrEquals": [
                  "@length(body('ListCurrents-CleanUpAppURL')?['value'])",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "f2288adf-ef9f-4ad6-9df2-3f7cd6f80c25"
              },
              "runAfter": {
                "ListCurrents-CleanUpAppURL": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "Get_ID_from_CleanUpAppURL": {
              "inputs": "@first(body('ListDefns-CleanUpAppURL')?['value'])?['environmentvariabledefinitionid']",
              "metadata": {
                "operationMetadataId": "c69a3236-b4b2-440d-ae69-d5eb3165feb0"
              },
              "runAfter": {
                "ListDefns-CleanUpAppURL": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "ListCurrents-CleanUpAppURL": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_environmentvariabledefinitionid_value eq @{outputs('Get_ID_from_CleanUpAppURL')}",
                  "$select": "value",
                  "entityName": "environmentvariablevalues"
                }
              },
              "metadata": {
                "operationMetadataId": "2b458497-2a71-434f-8ee0-25bbbd24f12e"
              },
              "runAfter": {
                "Get_ID_from_CleanUpAppURL": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection"
            },
            "ListDefns-CleanUpAppURL": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "schemaname eq 'admin_CleanupOldObjectsAppURL'",
                  "$select": "environmentvariabledefinitionid, defaultvalue",
                  "entityName": "environmentvariabledefinitions"
                }
              },
              "metadata": {
                "operationMetadataId": "8c201d13-0997-4494-bf47-aea7824b826e"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            }
          },
          "description": "must use old technique for fetching as env var is optional",
          "metadata": {
            "operationMetadataId": "eedda423-f155-4429-858f-bd7a259acbe8"
          },
          "runAfter": {
            "Initialize_var_CleanUpAppURL": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Admin eMail": {
          "defaultValue": "adelev@pplatform.onmicrosoft.com",
          "metadata": {
            "description": "CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list",
            "schemaName": "admin_AdminMail"
          },
          "type": "String"
        },
        "Approval Admin": {
          "defaultValue": "adelev@pplatform.onmicrosoft.com",
          "metadata": {
            "description": "Added for users that have a distribution list for Admin Email env var. You cannot use a distribution list for approvals, so this allows you to indicate an individual. Enter an individual who will be charged with approving removal of orphaned items",
            "schemaName": "admin_ApprovalAdmin"
          },
          "type": "String"
        },
        "ProductionEnvironment": {
          "defaultValue": true,
          "metadata": {
            "description": "true by default. set to false if you are creating a dev type envt. this will allow some flows to set target users to the admin instead of object owners",
            "schemaName": "admin_ProductionEnvironment"
          },
          "type": "Bool"
        },
        "eMail Body Start (admin_eMailBodyStart)": {
          "defaultValue": "<body>      <div id='content'>          <table id='form'>              <tr>                  <td><img id='logo' src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/1280px-Microsoft_logo_%282012%29.svg.png'></td>              </tr>              <tr>                  <td>                      <p id='header'>Power Platform</p>                  </td>              </tr>              <tr id='ribbon'>                  <td>              <tr>                  <td></td>              </tr>              <tr id='message'>                  <td>",
          "metadata": {
            "description": "Starter HTML format for eMails",
            "schemaName": "admin_eMailBodyStart"
          },
          "type": "String"
        },
        "eMail Body Stop (admin_eMailBodyStop)": {
          "defaultValue": "</td>              </tr>          </table>      </div>  </body>",
          "metadata": {
            "description": "Ending HTML format for eMails",
            "schemaName": "admin_eMailBodyStop"
          },
          "type": "String"
        },
        "eMail Header Style (admin_eMailHeaderStyle)": {
          "defaultValue": "<head> <style>  body {     background-color: #efefef;     font-family: Segoe UI;     text-align: center; }  #content {     border: 1px solid #742774;     background-color: #ffffff;     width: 650px;     margin-bottom: 50px;     display: inline-block; }  #logo {     margin-left: 52px;     margin-top: 40px;     width: 60px;     height: 12px; }  #header {     font-size: 24px;     margin-left: 50px;     margin-top: 20px;     margin-bottom: 20px; }  #ribbon {     background-color: #742774; }  #ribbonContent {     font-size: 20px;     padding-left: 30px;     padding-top: 10px;     padding-bottom: 20px;     color: white;     width: 100%;     padding-right: 10px; }  #message > td {     font-size: 14px;     padding-left: 60px;     padding-right: 60px;     padding-top: 20px;     padding-bottom: 40px; }  #footer > td {     font-size: 12px;     background-color: #cfcfcf;     height: 40px;     padding-top: 15px;     padding-left: 40px;     padding-bottom: 20px; }  #form {     width: 100%;     border-collapse: collapse; }  #app {     width: 60%;     font-size: 12px; }  .label {     color: #5f5f5f }  table {     border-collapse: collapse;     width: 100%; }  th, td {     padding: 8px;     text-align: left;     border-bottom: 1px solid #ddd; }  </style> </head>",
          "metadata": {
            "description": "CSS/Style used for eMails",
            "schemaName": "admin_eMailHeaderStyle"
          },
          "type": "String"
        }
      },
      "triggers": {
        "Recurrence": {
          "metadata": {
            "operationMetadataId": "b66d0116-9bf2-4723-b5af-17ddff662cbe"
          },
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "weekDays": [
                "Monday"
              ]
            }
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
