CenterofExcellenceAuditComponents/SolutionPackage/Workflows/AdminEmailManagersIgnoredApprovals-924F83F0-9FBE-EB11-8236-000D3A8D7FA9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Apply_to_each_M1_Manager": {
          "actions": {
            "Get_Employees": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "admin_managerprinciplename eq '@{items('Apply_to_each_M1_Manager')['Manager']}'",
                  "$select": "admin_displayname",
                  "entityName": "admin_makers"
                }
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            }
          },
          "foreach": "@variables('DistinctM1List')",
          "runAfter": {
            "Create_DistinctM1List": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Create_DistinctM1List": {
          "inputs": {
            "variables": [
              {
                "name": "DistinctM1List",
                "type": "array",
                "value": "@union(body('Select_Alias'), body('Select_Alias'))"
              }
            ]
          },
          "runAfter": {
            "Select_Alias": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Get_Manager_Principle_Names": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "$filter": "admin_managerprinciplename ne null",
              "$select": "admin_managerprinciplename",
              "entityName": "admin_makers"
            }
          },
          "runAfter": {
            "Get_past_time": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "type": "OpenApiConnection"
        },
        "Get_past_time": {
          "inputs": {
            "interval": 1,
            "timeUnit": "Month"
          },
          "kind": "GetPastTime",
          "runAfter": {},
          "type": "Expression"
        },
        "Select_Alias": {
          "inputs": {
            "from": "@outputs('Get_Manager_Principle_Names')?['body/value']",
            "select": {
              "manager": "@item()?['admin_managerprinciplename']"
            }
          },
          "runAfter": {
            "Get_Manager_Principle_Names": [
              "Succeeded"
            ]
          },
          "type": "Select"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Month",
            "interval": 1
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
