CenterofExcellenceAuditComponents/SolutionPackage/Workflows/AdminQuarantinenon-compliantapps-086089DC-E290-EC11-B400-000D3A9A39C4.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoEGovDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Apply_to_each": {
          "actions": {
            "Update_a_row": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord"
                },
                "parameters": {
                  "entityName": "admin_apps",
                  "item/admin_quarantineapp": true,
                  "recordId": "@items('Apply_to_each')?['admin_appid']"
                }
              },
              "metadata": {
                "operationMetadataId": "3008fe4d-7c74-44a6-a794-2525e50a6d66"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            }
          },
          "foreach": "@outputs('List_apps_for_quarantine')?['body/value']",
          "metadata": {
            "operationMetadataId": "22d2a4b4-4c45-4a05-a067-ac0ff88a3f29"
          },
          "runAfter": {
            "List_apps_for_quarantine": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "List_apps_for_quarantine": {
          "description": "Gets apps in environments that are included in the quarantine flow and filters apps where compliance has been requested more than x days ago and that are not already in quarantine",
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords"
            },
            "parameters": {
              "$expand": "admin_AppEnvironment($select=admin_environmentid,admin_displayname),admin_AppOwner($select=admin_userprincipalname)",
              "$filter": "Microsoft.Dynamics.CRM.OlderThanXDays(PropertyName='admin_compliancerequestedon',PropertyValue=@{parameters('Quarantine Apps after x days of non-compliance (admin_QuarantineAppsafterxdaysofnoncompliance)')}) and Microsoft.Dynamics.CRM.OnOrAfter(PropertyName='admin_compliancerequestedon',PropertyValue='12/1/1899') and admin_adminrequirementriskassessmentstate ne 597910003 and (admin_quarantineapp eq null or admin_quarantineapp eq true) and admin_AppEnvironment/admin_excusefromappquarantineflow eq false and admin_AppEnvironment/admin_environmentid ne null and admin_AppOwner/admin_makerid ne null",
              "$select": "admin_appenvironmentdisplayname,admin_appid,admin_appownerdisplayname,_admin_appenvironment_value,_admin_appowner_value,admin_displayname",
              "entityName": "admin_apps"
            }
          },
          "metadata": {
            "operationMetadataId": "0e2f71f6-5e66-435d-9a0e-f7bc4ffca29a"
          },
          "runAfter": {},
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "type": "OpenApiConnection"
        }
      },
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Quarantine Apps after x days of non-compliance (admin_QuarantineAppsafterxdaysofnoncompliance)": {
          "defaultValue": 7,
          "metadata": {
            "description": "If using the Compliance flow for apps to gather compliance details from makers, specify if you want to quarantine apps if they're not compliant. Specified in days. ",
            "schemaName": "admin_QuarantineAppsafterxdaysofnoncompliance"
          },
          "type": "Int"
        }
      },
      "triggers": {
        "Recurrence": {
          "metadata": {
            "operationMetadataId": "07de233e-b3c0-4307-940f-3ec33a55a393"
          },
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2022-02-18T10:00:00Z"
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
