CenterofExcellenceAuditComponents/SolutionPackage/Workflows/HELPER-CanvasAppOperationsGov-AB3784FF-CEEF-EB11-BACB-00224820693C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoEGovDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365users": {
        "api": {
          "name": "shared_office365users"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovO365Users"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerappsforadmins": {
        "api": {
          "name": "shared_powerappsforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovPowerAppsforAdmins"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerappsforappmakers": {
        "api": {
          "name": "shared_powerappsforappmakers"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoEGovPowerAppsforMakers"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Initialize_ReturnValue_to_Pass": {
          "inputs": {
            "variables": [
              {
                "name": "ReturnValue",
                "type": "string",
                "value": "pass"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "82f2e7a3-2512-4143-b246-7ad7e53ee7a7"
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "inputs": {
            "body": {
              "return": "@variables('ReturnValue')"
            },
            "schema": {
              "properties": {
                "return": {
                  "title": "Return",
                  "type": "string",
                  "x-ms-dynamically-added": true
                }
              },
              "type": "object"
            },
            "statusCode": 200
          },
          "kind": "PowerApp",
          "metadata": {
            "operationMetadataId": "427e9f2a-1f63-4454-a704-fa004a0f298c"
          },
          "runAfter": {
            "Switch": [
              "Succeeded"
            ]
          },
          "type": "Response"
        },
        "Switch": {
          "cases": {
            "Case_assign": {
              "actions": {
                "Get_app_old_owner": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem"
                    },
                    "parameters": {
                      "$select": "_admin_appowner_value",
                      "entityName": "admin_apps",
                      "recordId": "@triggerBody()['text_1']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                },
                "If_set_new_owner,_update_inventory": {
                  "actions": {
                    "Ensure_New_Owner_is_in_Maker_and_User_tables": {
                      "actions": {
                        "Add_to_Maker_Table_if_not_yet_present": {
                          "actions": {
                            "Add_a_new_maker": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_makers",
                                  "item/admin_city": "@outputs('Get_new_Maker')?['body/city']",
                                  "item/admin_company": "@outputs('Get_new_Maker')?['body/companyName']",
                                  "item/admin_country": "@outputs('Get_new_Maker')?['body/country']",
                                  "item/admin_department": "@outputs('Get_new_Maker')?['body/department']",
                                  "item/admin_displayname": "@outputs('Get_new_Maker')?['body/displayName']",
                                  "item/admin_jobtitle": "@outputs('Get_new_Maker')?['body/jobTitle']",
                                  "item/admin_makerid": "@triggerBody()['text']",
                                  "item/admin_office": "@outputs('Get_new_Maker')?['body/officeLocation']",
                                  "item/admin_userisserviceprinciple": false,
                                  "item/admin_userprincipalname": "@outputs('Get_new_Maker')?['body/userPrincipalName']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "runAfter": {
                                "Get_new_Maker": [
                                  "Succeeded"
                                ]
                              },
                              "type": "OpenApiConnection"
                            },
                            "Get_new_Maker": {
                              "inputs": {
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                                  "connectionName": "shared_office365users",
                                  "operationId": "UserProfile_V2"
                                },
                                "parameters": {
                                  "id": "@triggerBody()['text']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "expression": {
                            "equals": [
                              "@length(outputs('List_new_owner_from_Maker_Table')?['body/value'])",
                              0
                            ]
                          },
                          "runAfter": {
                            "List_new_owner_from_Maker_Table": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        },
                        "Add_to_User_Table_if_not_yet_present": {
                          "actions": {
                            "Add_a_new_user": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformusers",
                                  "item/admin_company": "@outputs('Get_new_User')?['body/companyName']",
                                  "item/admin_department": "@outputs('Get_new_User')?['body/department']",
                                  "item/admin_displayname": "@outputs('Get_new_User')?['body/displayName']",
                                  "item/admin_groupsize": 1,
                                  "item/admin_powerplatformuserid": "@triggerBody()['text']",
                                  "item/admin_type": "User",
                                  "item/admin_userprincipalname": "@outputs('Get_new_User')?['body/userPrincipalName']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "runAfter": {
                                "Get_new_User": [
                                  "Succeeded"
                                ]
                              },
                              "type": "OpenApiConnection"
                            },
                            "Get_new_User": {
                              "inputs": {
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                                  "connectionName": "shared_office365users",
                                  "operationId": "UserProfile_V2"
                                },
                                "parameters": {
                                  "id": "@triggerBody()['text']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "expression": {
                            "equals": [
                              "@length(outputs('List_new_owner_from_User_Table')?['body/value'])",
                              0
                            ]
                          },
                          "runAfter": {
                            "List_new_owner_from_User_Table": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        },
                        "List_new_owner_from_Maker_Table": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "$filter": "admin_makerid eq @{triggerBody()['text']}",
                              "$select": "admin_makerid",
                              "entityName": "admin_makers"
                            }
                          },
                          "runAfter": {},
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        },
                        "List_new_owner_from_User_Table": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "$filter": "admin_powerplatformuserid eq @{triggerBody()['text']}",
                              "$select": "admin_powerplatformuserid",
                              "entityName": "admin_powerplatformusers"
                            }
                          },
                          "runAfter": {
                            "Add_to_Maker_Table_if_not_yet_present": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        }
                      },
                      "runAfter": {},
                      "type": "Scope"
                    },
                    "List_Role_for_new_owner": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "_admin_app_value eq @{triggerBody()['text_1']} and _admin_powerplatformuser_value eq @{triggerBody()['text']}",
                          "$select": "admin_powerplatformuserroleid",
                          "entityName": "admin_powerplatformuserroles"
                        }
                      },
                      "runAfter": {
                        "Update_or_Insert_Old_Owner_Role": [
                          "Succeeded"
                        ]
                      },
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      },
                      "type": "OpenApiConnection"
                    },
                    "List_Role_for_old_owner": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "_admin_app_value eq @{triggerBody()['text_1']} and _admin_powerplatformuser_value eq @{outputs('Get_app_old_owner')?['body/_admin_appowner_value']}",
                          "$select": "admin_powerplatformuserroleid",
                          "entityName": "admin_powerplatformuserroles"
                        }
                      },
                      "runAfter": {
                        "Mark_app_owner_in_CoE": [
                          "Succeeded"
                        ]
                      },
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      },
                      "type": "OpenApiConnection"
                    },
                    "Mark_app_owner_in_CoE": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_apps",
                          "item/admin_AppOwner@odata.bind": "admin_makers(@{triggerBody()['text']})",
                          "item/cr5d5_appisorphaned": "no",
                          "recordId": "@triggerBody()['text_1']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "runAfter": {
                        "Ensure_New_Owner_is_in_Maker_and_User_tables": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection"
                    },
                    "Update_or_Insert_New_Owner_Role": {
                      "actions": {
                        "Mark_it_Owner": {
                          "actions": {
                            "Mark_new_owner_as_Owner": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformuserroles",
                                  "item/admin_App@odata.bind": "admin_apps(@{triggerBody()['text_1']})",
                                  "item/admin_resourcetype": "App",
                                  "item/admin_rolename": "Owner",
                                  "recordId": "@items('Mark_it_Owner')?['admin_powerplatformuserroleid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "foreach": "@outputs('List_Role_for_new_owner')?['body/value']",
                          "runAfter": {},
                          "type": "Foreach"
                        }
                      },
                      "else": {
                        "actions": {
                          "Add_owner_as_owner_role": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "CreateRecord"
                              },
                              "parameters": {
                                "entityName": "admin_powerplatformuserroles",
                                "item/admin_App@odata.bind": "admin_apps(@{triggerBody()['text_1']})",
                                "item/admin_PowerPlatformUser@odata.bind": "admin_powerplatformusers(@{triggerBody()['text']})",
                                "item/admin_name": "@concat(triggerBody()['text'], triggerBody()['text_1'])",
                                "item/admin_resourcetype": "App",
                                "item/admin_resourceuserlink": "@concat(triggerBody()['text'], triggerBody()['text_1'])",
                                "item/admin_rolename": "Owner"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          }
                        }
                      },
                      "expression": {
                        "greater": [
                          "@length(outputs('List_Role_for_new_owner')?['body/value'])",
                          0
                        ]
                      },
                      "runAfter": {
                        "List_Role_for_new_owner": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "Update_or_Insert_Old_Owner_Role": {
                      "actions": {
                        "Mark_it_Editor": {
                          "actions": {
                            "Mark_old_owner_as_Editor": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformuserroles",
                                  "item/admin_App@odata.bind": "admin_apps(@{triggerBody()['text_1']})",
                                  "item/admin_resourcetype": "App",
                                  "item/admin_rolename": "CanEdit",
                                  "recordId": "@items('Mark_it_Editor')?['admin_powerplatformuserroleid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "foreach": "@outputs('List_Role_for_old_owner')?['body/value']",
                          "runAfter": {},
                          "type": "Foreach"
                        }
                      },
                      "else": {
                        "actions": {
                          "Add_old_owner_as_editor_role": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "CreateRecord"
                              },
                              "parameters": {
                                "entityName": "admin_powerplatformuserroles",
                                "item/admin_App@odata.bind": "admin_apps(@{triggerBody()['text_1']})",
                                "item/admin_PowerPlatformUser@odata.bind": "admin_powerplatformusers(@{triggerBody()['text']})",
                                "item/admin_name": "@concat(outputs('Get_app_old_owner')?['body/_admin_appowner_value'], triggerBody()['text_1'])",
                                "item/admin_resourcetype": "App",
                                "item/admin_resourceuserlink": "@concat(outputs('Get_app_old_owner')?['body/_admin_appowner_value'], triggerBody()['text_1'])",
                                "item/admin_rolename": "CanEdit"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          }
                        }
                      },
                      "expression": {
                        "greater": [
                          "@length(outputs('List_Role_for_old_owner')?['body/value'])",
                          0
                        ]
                      },
                      "runAfter": {
                        "List_Role_for_old_owner": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('ReturnValue')",
                      "pass"
                    ]
                  },
                  "runAfter": {
                    "Set_ReturnValue_to_fail_if_fail_-_assign": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "type": "If"
                },
                "Set_App_Owner": {
                  "inputs": {
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins",
                      "connectionName": "shared_powerappsforadmins",
                      "operationId": "Set-AdminAppOwner"
                    },
                    "parameters": {
                      "Content-Type": " application/json",
                      "api-version": "2016-11-01",
                      "app": "@triggerBody()['text_1']",
                      "body/newAppOwner": "@triggerBody()['text']",
                      "body/roleForOldAppOwner": "CanEdit",
                      "environment": "@triggerBody()['text_2']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {
                    "Get_app_old_owner": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "Set_ReturnValue_to_fail_if_fail_-_assign": {
                  "inputs": {
                    "name": "ReturnValue",
                    "value": "fail"
                  },
                  "runAfter": {
                    "Set_App_Owner": [
                      "Failed"
                    ]
                  },
                  "type": "SetVariable"
                }
              },
              "case": "assign"
            },
            "Case_delete": {
              "actions": {
                "Mark_app_as_deleted_in_CoE": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "item/admin_appdeleted": true,
                      "item/admin_appdeletedon": "@utcNow()",
                      "recordId": "@triggerBody()['text_1']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {
                    "Set_ReturnValue_to_fail_if_failed_-_delete": [
                      "Skipped"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "Remove_App": {
                  "inputs": {
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers",
                      "connectionName": "shared_powerappsforappmakers",
                      "operationId": "Remove-App"
                    },
                    "parameters": {
                      "api-version": "2017-06-01",
                      "app": "@triggerBody()['text_1']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                },
                "Set_ReturnValue_to_fail_if_failed_-_delete": {
                  "inputs": {
                    "name": "ReturnValue",
                    "value": "fail"
                  },
                  "runAfter": {
                    "Remove_App": [
                      "Failed"
                    ]
                  },
                  "type": "SetVariable"
                }
              },
              "case": "delete"
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@triggerBody()['text_3']",
          "metadata": {
            "operationMetadataId": "3e864dd1-7f37-4e7c-b1d6-7a7cda9f0008"
          },
          "runAfter": {
            "Initialize_ReturnValue_to_Pass": [
              "Succeeded"
            ]
          },
          "type": "Switch"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "newOwner",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "appName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "envName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "enum": [
                    "assign",
                    "delete"
                  ],
                  "title": "action",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ],
              "type": "object"
            }
          },
          "kind": "Button",
          "metadata": {
            "operationMetadataId": "9a11397e-0d5f-49b5-a7ed-48d6341f639f"
          },
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
