CenterofExcellenceAuditComponents/SolutionPackage/Workflows/RequestOrphanedObjectsReassignedParent-D9D55DCA-D9E4-EB11-BACB-000D3A8EDEAA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoEGovDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovO365Outlook"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365users": {
        "api": {
          "name": "shared_office365users"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovO365Users"
        },
        "runtimeSource": "embedded"
      },
      "shared_teams": {
        "api": {
          "name": "shared_teams"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovTeams"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Create_Arrays_of_Orphaned_Objects_with_Manager_Info": {
          "actions": {
            "Apply_to_each_Orphaned_App": {
              "actions": {
                "Catch_No_App_Manager": {
                  "inputs": {
                    "name": "SendToAdmin",
                    "value": "@true"
                  },
                  "runAfter": {
                    "Get_App_Owners_Manager": [
                      "Failed"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Get_App_Owners_Manager": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem"
                    },
                    "parameters": {
                      "entityName": "admin_makers",
                      "recordId": "@items('Apply_to_each_Orphaned_App')?['_admin_appowner_value']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {
                    "Reset_SendToAdmin_for_Apps": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "If_blank,_send_to_admin": {
                  "actions": {
                    "Append_to_OrphanedApps_with_admin_for_manager": {
                      "inputs": {
                        "name": "OrphanedApps",
                        "value": "@variables('OrphanedObject')"
                      },
                      "runAfter": {
                        "Create_this_app_object_with_admin": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToArrayVariable"
                    },
                    "Create_this_app_object_with_admin": {
                      "inputs": {
                        "name": "OrphanedObject",
                        "value": {
                          "AppDisplayName": "@items('Apply_to_each_Orphaned_App')?['admin_displayname']",
                          "AppOwnerID": "@items('Apply_to_each_Orphaned_App')?['_admin_appowner_value']",
                          "AsAdmin": "@true",
                          "EnvtDisplayName": "@items('Apply_to_each_Orphaned_App')?['admin_appenvironmentdisplayname']",
                          "LastLaunched": "@items('Apply_to_each_Orphaned_App')?['admin_applastlaunchedon']",
                          "LastModified": "@items('Apply_to_each_Orphaned_App')?['admin_appmodifiedon']",
                          "Manager": "xxx",
                          "OwnerDisplayName": "@items('Apply_to_each_Orphaned_App')?['admin_appownerdisplayname']"
                        }
                      },
                      "runAfter": {},
                      "type": "SetVariable"
                    }
                  },
                  "else": {
                    "actions": {
                      "Switch": {
                        "cases": {
                          "200_Success": {
                            "actions": {
                              "Append_to_OrphanedApps": {
                                "inputs": {
                                  "name": "OrphanedApps",
                                  "value": "@variables('OrphanedObject')"
                                },
                                "runAfter": {
                                  "Create_this_app_object_with_manager": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "AppendToArrayVariable"
                              },
                              "Create_this_app_object_with_manager": {
                                "inputs": {
                                  "name": "OrphanedObject",
                                  "value": {
                                    "AppDisplayName": "@items('Apply_to_each_Orphaned_App')?['admin_displayname']",
                                    "AppOwnerID": "@items('Apply_to_each_Orphaned_App')?['_admin_appowner_value']",
                                    "AsAdmin": "@false",
                                    "EnvtDisplayName": "@items('Apply_to_each_Orphaned_App')?['admin_appenvironmentdisplayname']",
                                    "LastLaunched": "@items('Apply_to_each_Orphaned_App')?['admin_applastlaunchedon']",
                                    "LastModified": "@items('Apply_to_each_Orphaned_App')?['admin_appmodifiedon']",
                                    "Manager": "@outputs('Get_App_Owners_Manager')?['body/admin_managerprinciplename']",
                                    "OwnerDisplayName": "@items('Apply_to_each_Orphaned_App')?['admin_appownerdisplayname']"
                                  }
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                              },
                              "if_manager_not_already_in_list,_add_them": {
                                "actions": {
                                  "Append_to_ManagersWithOrphans": {
                                    "inputs": {
                                      "name": "ManagersWithOrphans",
                                      "value": "@outputs('Get_App_Owners_Manager')?['body/admin_managerprinciplename']"
                                    },
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable"
                                  }
                                },
                                "expression": {
                                  "not": {
                                    "contains": [
                                      "@variables('ManagersWithOrphans')",
                                      "@outputs('Get_App_Owners_Manager')?['body/admin_managerprinciplename']"
                                    ]
                                  }
                                },
                                "runAfter": {
                                  "Append_to_OrphanedApps": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "If"
                              }
                            },
                            "case": 200
                          },
                          "404_File_Not_Found": {
                            "actions": {
                              "Update_manager_for_next_run": {
                                "actions": {
                                  "Get_M2_Manager": {
                                    "inputs": {
                                      "authentication": "@parameters('$authentication')",
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "GetItem"
                                      },
                                      "parameters": {
                                        "entityName": "admin_makers",
                                        "recordId": "@items('Apply_to_each_Orphaned_App')?['_admin_appowner_value']"
                                      },
                                      "retryPolicy": {
                                        "count": 10,
                                        "interval": "PT10S",
                                        "type": "exponential"
                                      }
                                    },
                                    "runAfter": {},
                                    "type": "OpenApiConnection"
                                  },
                                  "Update_manager_to_m2_and_clear_m2": {
                                    "inputs": {
                                      "authentication": "@parameters('$authentication')",
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "UpdateRecord"
                                      },
                                      "parameters": {
                                        "entityName": "admin_makers",
                                        "item/admin_m2managerprinciplename": "@null",
                                        "item/admin_managerprinciplename": "@outputs('Get_M2_Manager')?['body/admin_m2managerprinciplename']",
                                        "recordId": "@items('Apply_to_each_Orphaned_App')?['_admin_appowner_value']"
                                      },
                                      "retryPolicy": {
                                        "count": 10,
                                        "interval": "PT10S",
                                        "type": "exponential"
                                      }
                                    },
                                    "runAfter": {
                                      "Get_M2_Manager": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "OpenApiConnection"
                                  }
                                },
                                "runAfter": {},
                                "type": "Scope"
                              }
                            },
                            "case": 404
                          }
                        },
                        "default": {
                          "actions": {}
                        },
                        "expression": "@outputs('Validate_manager_profile_-_apps')['statusCode']",
                        "runAfter": {
                          "Validate_manager_profile_-_apps": [
                            "Succeeded",
                            "Failed"
                          ]
                        },
                        "type": "Switch"
                      },
                      "Validate_manager_profile_-_apps": {
                        "inputs": {
                          "authentication": "@parameters('$authentication')",
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                            "connectionName": "shared_office365users",
                            "operationId": "UserProfile_V2"
                          },
                          "parameters": {
                            "$select": "statusCode",
                            "id": "@outputs('Get_App_Owners_Manager')?['body/admin_managerprinciplename']"
                          },
                          "retryPolicy": {
                            "count": 10,
                            "interval": "PT10S",
                            "type": "exponential"
                          }
                        },
                        "runAfter": {},
                        "type": "OpenApiConnection"
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@variables('SendToAdmin')",
                          "@true"
                        ]
                      },
                      {
                        "equals": [
                          "@outputs('Get_App_Owners_Manager')?['body/admin_managerprinciplename']",
                          "@null"
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Catch_No_App_Manager": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "type": "If"
                },
                "Reset_SendToAdmin_for_Apps": {
                  "inputs": {
                    "name": "SendToAdmin",
                    "value": "@false"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                }
              },
              "foreach": "@outputs('List_orphaned_Canvas_Apps')?['body/value']",
              "runAfter": {
                "List_orphaned_Canvas_Apps": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Apply_to_each_Orphaned_Flow": {
              "actions": {
                "Catch_No_Flow_Manager": {
                  "inputs": {
                    "name": "SendToAdmin",
                    "value": "@true"
                  },
                  "runAfter": {
                    "Get_Flow_Owners_Manager": [
                      "Failed"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Get_Flow_Owners_Manager": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem"
                    },
                    "parameters": {
                      "entityName": "admin_makers",
                      "recordId": "@variables('flowOwner')"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {
                    "Reset_SendToAdmin_for_Flows": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "If_blank_manager,_send_to_admin": {
                  "actions": {
                    "Append_to_OrphanedFlows_with_admin_for_manager": {
                      "inputs": {
                        "name": "OrphanedFlows",
                        "value": "@variables('OrphanedObject')"
                      },
                      "runAfter": {
                        "Create_this_flow_object_with_admin": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToArrayVariable"
                    },
                    "Create_this_flow_object_with_admin": {
                      "inputs": {
                        "name": "OrphanedObject",
                        "value": {
                          "AppOwnerID": "@variables('flowOwner')",
                          "AsAdmin": "@true",
                          "EnvtDisplayName": "@items('Apply_to_each_Orphaned_Flow')?['admin_flowenvironmentdisplayname']",
                          "FlowDisplayName": "@items('Apply_to_each_Orphaned_Flow')?['admin_displayname']",
                          "FlowState": "@items('Apply_to_each_Orphaned_Flow')?['admin_flowstate']",
                          "LastModified": "@items('Apply_to_each_Orphaned_Flow')?['admin_flowmodifiedon']",
                          "Manager": "xxx",
                          "OwnerDisplayName": "@items('Apply_to_each_Orphaned_Flow')?['admin_flowmakerdisplayname']"
                        }
                      },
                      "runAfter": {},
                      "type": "SetVariable"
                    }
                  },
                  "else": {
                    "actions": {
                      "Append_to_OrphanedFlows": {
                        "inputs": {
                          "name": "OrphanedFlows",
                          "value": "@variables('OrphanedObject')"
                        },
                        "runAfter": {
                          "Create_this_flow_object_with_manager": [
                            "Succeeded"
                          ]
                        },
                        "type": "AppendToArrayVariable"
                      },
                      "Create_this_flow_object_with_manager": {
                        "inputs": {
                          "name": "OrphanedObject",
                          "value": {
                            "AppOwnerID": "@variables('flowOwner')",
                            "AsAdmin": "@false",
                            "EnvtDisplayName": "@items('Apply_to_each_Orphaned_Flow')?['admin_flowenvironmentdisplayname']",
                            "FlowDisplayName": "@items('Apply_to_each_Orphaned_Flow')?['admin_displayname']",
                            "FlowState": "@items('Apply_to_each_Orphaned_Flow')?['admin_flowstate']",
                            "LastModified": "@items('Apply_to_each_Orphaned_Flow')?['admin_flowmodifiedon']",
                            "Manager": "@outputs('Get_Flow_Owners_Manager')?['body/admin_managerprinciplename']",
                            "OwnerDisplayName": "@items('Apply_to_each_Orphaned_Flow')?['admin_flowmakerdisplayname']"
                          }
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                      },
                      "if_manager_not_already_in_list,_add_them_-_flow": {
                        "actions": {
                          "Append_to_ManagersWithOrphans_-_flow": {
                            "inputs": {
                              "name": "ManagersWithOrphans",
                              "value": "@outputs('Get_Flow_Owners_Manager')?['body/admin_managerprinciplename']"
                            },
                            "runAfter": {},
                            "type": "AppendToArrayVariable"
                          }
                        },
                        "expression": {
                          "not": {
                            "contains": [
                              "@variables('ManagersWithOrphans')",
                              "@outputs('Get_Flow_Owners_Manager')?['body/admin_managerprinciplename']"
                            ]
                          }
                        },
                        "runAfter": {
                          "Append_to_OrphanedFlows": [
                            "Succeeded"
                          ]
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@variables('SendToAdmin')",
                          "@true"
                        ]
                      },
                      {
                        "equals": [
                          "@outputs('Get_Flow_Owners_Manager')?['body/admin_managerprinciplename']",
                          "@null"
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Catch_No_Flow_Manager": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "type": "If"
                },
                "If_no_Derived_Owner,_set_to_Maker": {
                  "actions": {
                    "Set_flowOwner_to_Maker": {
                      "inputs": {
                        "name": "flowOwner",
                        "value": "@items('Apply_to_each_Orphaned_Flow')?['_admin_flowcreator_value']"
                      },
                      "runAfter": {},
                      "type": "SetVariable"
                    }
                  },
                  "else": {
                    "actions": {
                      "Set_flowOwner_to_DerivedOwner": {
                        "inputs": {
                          "name": "flowOwner",
                          "value": "@items('Apply_to_each_Orphaned_Flow')?['_admin_derivedowner_value']"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each_Orphaned_Flow')?['_admin_derivedowner_value']",
                      "@null"
                    ]
                  },
                  "runAfter": {},
                  "type": "If"
                },
                "Reset_SendToAdmin_for_Flows": {
                  "inputs": {
                    "name": "SendToAdmin",
                    "value": "@false"
                  },
                  "runAfter": {
                    "If_no_Derived_Owner,_set_to_Maker": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                }
              },
              "foreach": "@outputs('List_orphaned_Cloud_Flows')?['body/value']",
              "runAfter": {
                "List_orphaned_Cloud_Flows": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "List_orphaned_Canvas_Apps": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "admin_appdeleted eq false and admin_powerappstype eq 597910000 and cr5d5_appisorphaned eq 'yes'",
                  "$select": "admin_appmodifiedon, admin_applastlaunchedon, admin_appownerdisplayname, admin_displayname, admin_appenvironmentdisplayname, _admin_appowner_value",
                  "entityName": "admin_apps"
                }
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_orphaned_Cloud_Flows": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "admin_flowdeleted eq false and cr5d5_flowisorphaned eq 'yes'",
                  "$select": "admin_flowmodifiedon, admin_flowmakerdisplayname, admin_flowstate, admin_flowenvironmentdisplayname, admin_displayname, _admin_flowcreator_value,  _admin_derivedowner_value",
                  "entityName": "admin_flows"
                }
              },
              "runAfter": {
                "Parse_JSON_OrphanedApps": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "Parse_JSON_OrphanedApps": {
              "inputs": {
                "content": "@variables('OrphanedApps')",
                "schema": {
                  "items": {
                    "properties": {
                      "AppDisplayName": {
                        "type": "string"
                      },
                      "AppOwnerID": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "AsAdmin": {
                        "type": "boolean"
                      },
                      "EnvtDisplayName": {
                        "type": "string"
                      },
                      "LastLaunched": {},
                      "LastModified": {
                        "type": "string"
                      },
                      "Manager": {
                        "type": "string"
                      },
                      "OwnerDisplayName": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "AppDisplayName",
                      "EnvtDisplayName",
                      "Manager",
                      "AsAdmin"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "runAfter": {
                "Apply_to_each_Orphaned_App": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "Parse_JSON_OrphanedFlows": {
              "inputs": {
                "content": "@variables('OrphanedFlows')",
                "schema": {
                  "items": {
                    "properties": {
                      "AppOwnerID": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "AsAdmin": {
                        "type": "boolean"
                      },
                      "EnvtDisplayName": {
                        "type": "string"
                      },
                      "FlowDisplayName": {
                        "type": "string"
                      },
                      "FlowState": {
                        "type": "string"
                      },
                      "LastModified": {
                        "type": "string"
                      },
                      "Manager": {
                        "type": "string"
                      },
                      "OwnerDisplayName": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "FlowDisplayName",
                      "EnvtDisplayName",
                      "Manager",
                      "AsAdmin"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "runAfter": {
                "Apply_to_each_Orphaned_Flow": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            }
          },
          "runAfter": {
            "Initialize_SendToAdmin": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Initialize_AdminEmail": {
          "inputs": {
            "variables": [
              {
                "name": "AdminEmail",
                "type": "string",
                "value": "@parameters('Admin eMail')"
              }
            ]
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Initialize_ManagersWithOrphans": {
          "inputs": {
            "variables": [
              {
                "name": "ManagersWithOrphans",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_AdminEmail": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_OrphanedApps": {
          "inputs": {
            "variables": [
              {
                "name": "OrphanedApps",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_ManagersWithOrphans": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_OrphanedFlows": {
          "inputs": {
            "variables": [
              {
                "name": "OrphanedFlows",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_OrphanedApps": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_OrphanedObject": {
          "inputs": {
            "variables": [
              {
                "name": "OrphanedObject",
                "type": "object"
              }
            ]
          },
          "runAfter": {
            "Initialize_OrphanedFlows": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_SendToAdmin": {
          "inputs": {
            "variables": [
              {
                "name": "SendToAdmin",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Initialize_flowOwner": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_flowOwner": {
          "inputs": {
            "variables": [
              {
                "name": "flowOwner",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_OrphanedObject": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Send_items_without_managers_to_admins": {
          "actions": {
            "Admin_Apps_reduced": {
              "inputs": {
                "from": "@body('Filter_apps_to_admin_assigned')",
                "select": {
                  "App": "@item()?['AppDisplayName']",
                  "Environment": "@item()?['EnvtDisplayName']",
                  "Previous Owner": "@if(equals(item()?['OwnerDisplayName'], null), 'unknown', item()?['OwnerDisplayName'])",
                  "||": "||",
                  "|||": "|||"
                }
              },
              "runAfter": {
                "Filter_apps_to_admin_assigned": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "Admin_Flows_reduced": {
              "inputs": {
                "from": "@body('Filter_flows_to_admin_assigned')",
                "select": {
                  "Environment": "@item()?['EnvtDisplayName']",
                  "Flow": "@item()?['FlowDisplayName']",
                  "Previous Owner": "@if(equals(item()?['OwnerDisplayName'], null), 'unknown', item()?['OwnerDisplayName'])",
                  "||": "||",
                  "|||": "|||"
                }
              },
              "runAfter": {
                "Filter_flows_to_admin_assigned": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "Create_HTML_table_of_apps_for_admins": {
              "inputs": {
                "format": "HTML",
                "from": "@body('Admin_Apps_reduced')"
              },
              "runAfter": {
                "Admin_Apps_reduced": [
                  "Succeeded"
                ]
              },
              "type": "Table"
            },
            "Create_HTML_table_of_flows_for_admins": {
              "inputs": {
                "format": "HTML",
                "from": "@body('Admin_Flows_reduced')"
              },
              "runAfter": {
                "Admin_Flows_reduced": [
                  "Succeeded"
                ]
              },
              "type": "Table"
            },
            "Filter_apps_to_admin_assigned": {
              "inputs": {
                "from": "@body('Parse_JSON_OrphanedApps')",
                "where": "@equals(item()['AsAdmin'], true)"
              },
              "runAfter": {},
              "type": "Query"
            },
            "Filter_flows_to_admin_assigned": {
              "inputs": {
                "from": "@body('Parse_JSON_OrphanedFlows')",
                "where": "@equals(item()['AsAdmin'], true)"
              },
              "runAfter": {
                "Create_HTML_table_of_apps_for_admins": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "if_either_arrays_contain_data_then_send_mail": {
              "actions": {
                "Send_admin_email_of_orphans_they_will_need_to_resolve": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2"
                    },
                    "parameters": {
                      "emailMessage/Body": "<p>Hello, there are Power Platform objects in your tenant who's owner has left the company and so they are orphaned.<br>\n<br>\nWe have sent these to the former manager for those that are known, but there are a set for whom we do not have a manager on file. <br>\n<br>\nPlease clean these up via the Set App Permissions and Set Flow Permissions apps from your CoE. <br>\n<br>\n<u><strong>APPS</strong></u><br>\n@{body('Create_HTML_table_of_apps_for_admins')}<br>\n<br>\n<u><strong>FLOWS</strong></u><br>\n@{body('Create_HTML_table_of_flows_for_admins')}</p>",
                      "emailMessage/Subject": "Orphaned Power Platform objects without managers",
                      "emailMessage/To": "@variables('AdminEmail')"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "expression": {
                "or": [
                  {
                    "greater": [
                      "@length(body('Filter_apps_to_admin_assigned'))",
                      0
                    ]
                  },
                  {
                    "greater": [
                      "@length(body('Filter_flows_to_admin_assigned'))",
                      0
                    ]
                  }
                ]
              },
              "runAfter": {
                "Create_HTML_table_of_flows_for_admins": [
                  "Succeeded"
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Create_Arrays_of_Orphaned_Objects_with_Manager_Info": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Send_managers_teams_note_and_kick_off_child_flows": {
          "actions": {
            "Apply_to_each_Manager_with_Orphaned_Objects": {
              "actions": {
                "Filter_apps_to_this_managers": {
                  "inputs": {
                    "from": "@body('Parse_JSON_OrphanedApps')",
                    "where": "@equals(item()['Manager'], items('Apply_to_each_Manager_with_Orphaned_Objects'))"
                  },
                  "runAfter": {},
                  "type": "Query"
                },
                "Filter_flows_to_this_managers": {
                  "inputs": {
                    "from": "@body('Parse_JSON_OrphanedFlows')",
                    "where": "@equals(item()['Manager'], items('Apply_to_each_Manager_with_Orphaned_Objects'))"
                  },
                  "runAfter": {
                    "Filter_apps_to_this_managers": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query"
                },
                "Run_a_Child_Flow": {
                  "inputs": {
                    "body": {
                      "text": "@items('Apply_to_each_Manager_with_Orphaned_Objects')"
                    },
                    "host": {
                      "workflowReferenceName": "a405dd4c-78e5-eb11-bacb-000d3a8edeaa"
                    }
                  },
                  "runAfter": {
                    "Send_Intro_Card_to_Manager": [
                      "Succeeded"
                    ]
                  },
                  "type": "Workflow"
                },
                "Send_Intro_Card_to_Manager": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                      "connectionName": "shared_teams",
                      "operationId": "PostUserAdaptiveCard"
                    },
                    "parameters": {
                      "PostAdaptiveCardRequest/messageBody": "{\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.2\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Former employees of yours have left the company with Power Platform objects left behind. These require reassignment or deletion in order to keep our tenant tidy of objects. \",\n            \"wrap\": true,\n            \"weight\": \"Bolder\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Note also that if these objects are important to your team, not having a current owner could lead to them breaking later due to many reasons. Ex expired connections or tenant changes that will not have an owner to notify. \",\n            \"wrap\": true,\n            \"weight\": \"Bolder\"\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"bolder\",\n                            \"text\": \"Number of Orphaned Apps\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"separator\": true,\n                            \"text\": \"@{length(body('Filter_apps_to_this_managers'))}\"\n                        }\n                    ],\n                    \"width\": \"stretch\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"bolder\",\n                            \"text\": \"Number of Orphaned Flows\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"separator\": true,\n                            \"text\": \"@{length(body('Filter_flows_to_this_managers'))}\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        }\n    ]\n}",
                      "PostAdaptiveCardRequest/messageTitle": "Please reassign Power Platform objects",
                      "PostAdaptiveCardRequest/recipient/to": "@{items('Apply_to_each_Manager_with_Orphaned_Objects')};"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {
                    "Filter_flows_to_this_managers": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "Send_conclusion_message": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                      "connectionName": "shared_teams",
                      "operationId": "PostUserNotification"
                    },
                    "parameters": {
                      "PostNotificationRequest/messageBody": "Thank you for helping keep the tenant tidy. We will return with any remaining or new orphans to clean. ",
                      "PostNotificationRequest/messageTitle": "Thank you",
                      "PostNotificationRequest/recipient/to": "@{items('Apply_to_each_Manager_with_Orphaned_Objects')};"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {
                    "Run_a_Child_Flow": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@variables('ManagersWithOrphans')",
              "runAfter": {},
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Send_items_without_managers_to_admins": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Admin eMail": {
          "defaultValue": "CoETeam@PPlatform.onmicrosoft.com",
          "metadata": {
            "description": "CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list",
            "schemaName": "admin_AdminMail"
          },
          "type": "String"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
