CenterofExcellenceCoreComponentsTeams/SolutionPackage/Workflows/CLEANUPHELPER-CheckDeletedCanvasApps-2E6AE3E2-8AFB-EB11-94EF-002248237D7D.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse2"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAppsAdmin"},"api":{"name":"shared_powerappsforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Power Automate Environment Variable":{"defaultValue":"https://us.flow.microsoft.com/manage/environments/","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate - Ex for US: https://us.flow.microsoft.com/manage/environments/"}}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"EnvtID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"boolean":{"title":"CheckIfDeleted","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"boolean_1":{"title":"DeleteFromCoE","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"text_1":{"title":"EnvtName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","boolean","boolean_1","text_1"]}}}},"actions":{"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Error_Handling_Scope":["Succeeded","Skipped"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"thereturnvalue":"@variables('returnValue')"},"schema":{"type":"object","properties":{"thereturnvalue":{"title":"theReturnValue","x-ms-dynamically-added":true,"type":"string"}}}}},"Initialize_returnValue":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"returnValue","type":"string","value":"pass"}]}},"Check_Deleted_Scope":{"actions":{"List_Canvas_Apps":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"admin_apps","$select":"admin_appid, admin_appdeleted ","$filter":"_admin_appenvironment_value eq '@{triggerBody()['text']}' and admin_powerappstype ne 597910001"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"See_if_need_to_check_deleted_status_before_marking_delete":{"actions":{"Check_each_app_to_see_if_still_in_environment":{"foreach":"@outputs('List_Canvas_Apps_not_yet_marked_deleted')?['body/value']","actions":{"Filter_tenant_list_of_apps_to_this_appid":{"runAfter":{},"type":"Query","inputs":{"from":"@outputs('Get_Apps_as_Admin')?['body/value']","where":"@equals(item()?['name'], items('Check_each_app_to_see_if_still_in_environment')?['admin_appid'])"}},"If_not_found_in_tenant,_delete_or_mark_deleted":{"actions":{"See_if_delete_row_from_inventory_or_mark_deleted_-_check_deleted":{"actions":{"Delete_this_app_from_inventory":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord"},"parameters":{"entityName":"admin_apps","recordId":"@items('Check_each_app_to_see_if_still_in_environment')?['admin_appid']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Mark_this_app_as_deleted_today":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"admin_apps","recordId":"@items('Check_each_app_to_see_if_still_in_environment')?['admin_appid']","item/admin_appdeleted":true,"item/admin_appdeletedon":"@utcNow()"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerBody()['boolean_1']","@true"]},"type":"If"}},"runAfter":{"Filter_tenant_list_of_apps_to_this_appid":["Succeeded"]},"expression":{"equals":["@length(body('Filter_tenant_list_of_apps_to_this_appid'))",0]},"type":"If"}},"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"type":"Foreach"},"List_Canvas_Apps_not_yet_marked_deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"admin_apps","$select":"admin_appid, admin_appdeleted ","$filter":"_admin_appenvironment_value eq '@{triggerBody()['text']}' and admin_appdeleted eq false and admin_powerappstype ne 597910001"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Get_Apps_as_Admin":{"runAfter":{"List_Canvas_Apps_not_yet_marked_deleted":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins","connectionName":"shared_powerappsforadmins","operationId":"Get-AdminApps"},"parameters":{"environment":"@triggerBody()['text_1']","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}}},"runAfter":{"List_Canvas_Apps":["Succeeded"]},"else":{"actions":{"See_if_delete_row_from_inventory_or_mark_deleted":{"actions":{"Delete_all_the_apps_from_inventory":{"foreach":"@outputs('List_Canvas_Apps')?['body/value']","actions":{"Delete_app_from_inventory":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord"},"parameters":{"entityName":"admin_apps","recordId":"@items('Delete_all_the_apps_from_inventory')?['admin_appid']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Mark_all_apps_in_inventory_as_deleted_today":{"foreach":"@outputs('List_Canvas_Apps')?['body/value']","actions":{"Mark_app_as_deleted_today":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"admin_apps","recordId":"@items('Mark_all_apps_in_inventory_as_deleted_today')?['admin_appid']","item/admin_appdeleted":true,"item/admin_appdeletedon":"@utcNow()"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@triggerBody()['boolean_1']","@true"]},"type":"If"}}},"expression":{"equals":["@triggerBody()['boolean']","@true"]},"type":"If"}},"runAfter":{"Initialize_returnValue":["Succeeded"]},"type":"Scope"},"Error_Handling_Scope":{"actions":{"Create_Sync_Flow_Error_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"CLEANUP HELPER - Check Deleted (Canvas Apps)","item/admin_environmentname":"@triggerBody()['text']","item/admin_flowinstanceurl":"@concat(parameters('Power Automate Environment Variable'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"},"authentication":"@parameters('$authentication')"}},"Set_returnValue_to_fail":{"runAfter":{"Create_Sync_Flow_Error_record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"returnValue","value":"fail"}}},"runAfter":{"Check_Deleted_Scope":["Failed"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}