CenterofExcellenceALMAccelerator/SolutionPackage/Workflows/GetSolutionCanvasApps-E2EFE137-4304-EC11-94EF-0022481DE3BC.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cat_CDSDevOps"},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Region Subdomain","type":"string","x-ms-dynamically-added":true,"description":"Region Subdomain","x-ms-content-hint":"TEXT"},"text_1":{"title":"Environment Unique Name","type":"string","x-ms-dynamically-added":true,"description":"Environment Unique Name","x-ms-content-hint":"TEXT"},"text_2":{"title":"Solution ID","type":"string","x-ms-dynamically-added":true,"description":"ID of the Solution","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2"]}}}},"actions":{"Get_Solution_Components":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@{triggerBody()['text_1']}.@{triggerBody()['text']}","table":"solutioncomponents","$filter":"_solutionid_value eq '@{triggerBody()['text_2']}' and componenttype eq 300"},"authentication":"@parameters('$authentication')"}},"Response":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@variables('CanvasApps')","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.context":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"canvasapprowid":{"type":"string"},"createdbyclientversion":{"type":"string"},"_owningbusinessunit_value":{"type":"string"},"_owningbusinessunit_type":{"type":"string"},"admincontrolbypassconsent":{"type":"boolean"},"aadcreatedbyid":{"type":"string"},"canvasapptype":{"type":"integer"},"_canvasapptype_label":{"type":"string"},"appcomponentdependencies":{"type":"string"},"aadlastmodifiedbyid":{"type":"string"},"authorizationreferences":{"type":"string"},"isheroapp":{"type":"boolean"},"_ownerid_value":{"type":"string"},"_ownerid_type":{"type":"string"},"overwritetime":{"type":"string"},"name":{"type":"string"},"cdsdependencies":{"type":"string"},"solutionid":{"type":"string"},"ismanaged":{"type":"boolean"},"versionnumber":{"type":"integer"},"createdtime":{"type":"string"},"lastpublishtime":{"type":"string"},"appversion":{"type":"string"},"tags":{"type":"string"},"canvasappid":{"type":"string"},"appcomponents":{"type":"string"},"backgroundcolor":{"type":"string"},"databasereferences":{"type":"string"},"introducedversion":{"type":"string"},"displayname":{"type":"string"},"minclientversion":{"type":"string"},"aadlastpublishedbyid":{"type":"string"},"componentstate":{"type":"integer"},"_componentstate_label":{"type":"string"},"ishidden":{"type":"boolean"},"isfeaturedapp":{"type":"boolean"},"lastmodifiedtime":{"type":"string"},"connectionreferences":{"type":"string"},"iscdsupgraded":{"type":"boolean"},"status":{"type":"string"},"bypassconsent":{"type":"boolean"},"appopenuri":{"type":"string"},"iscustomizable":{"type":"boolean"}},"required":["@@odata.context","@@odata.id","@@odata.etag","ItemInternalId","canvasapprowid","createdbyclientversion","_owningbusinessunit_value","_owningbusinessunit_type","admincontrolbypassconsent","aadcreatedbyid","canvasapptype","_canvasapptype_label","appcomponentdependencies","aadlastmodifiedbyid","authorizationreferences","isheroapp","_ownerid_value","_ownerid_type","overwritetime","name","cdsdependencies","solutionid","ismanaged","versionnumber","createdtime","lastpublishtime","appversion","tags","canvasappid","appcomponents","backgroundcolor","databasereferences","introducedversion","displayname","minclientversion","aadlastpublishedbyid","componentstate","_componentstate_label","ishidden","isfeaturedapp","lastmodifiedtime","connectionreferences","iscdsupgraded","status","bypassconsent","appopenuri","iscustomizable"]}}}},"Initialize_CanvasApps_array":{"runAfter":{"Get_Solution_Components":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CanvasApps","type":"array"}]}},"Apply_to_each":{"foreach":"@outputs('Get_Solution_Components')?['body/value']","actions":{"Get_the_Canvas_App_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@{triggerBody()['text_1']}.@{triggerBody()['text']}","table":"canvasapps","id":"@item()?['objectid']"},"authentication":"@parameters('$authentication')"}},"Append_to_array_variable":{"runAfter":{"Get_the_Canvas_App_Record":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"CanvasApps","value":"@outputs('Get_the_Canvas_App_Record')['body']"}}},"runAfter":{"Initialize_CanvasApps_array":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}