CenterofExcellenceALMAccelerator/SolutionPackage/Workflows/GetSolutionEnvironmentVariableValues-A84EC31C-B905-EC11-94EF-0022481DEFC2.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice_1": {
        "api": {
          "name": "shared_commondataservice"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CDSDevOps"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Check_if_there_are_any_components_returned": {
          "actions": {
            "Add_an_empty_GUID_to_our_search_criteria": {
              "inputs": {
                "name": "ObjectIds",
                "value": "00000000-0000-0000-0000-000000000000'"
              },
              "runAfter": {},
              "type": "AppendToStringVariable"
            }
          },
          "else": {
            "actions": {
              "Concatenate_the_Object_ID_for_each_Solution_Component": {
                "actions": {
                  "Condition": {
                    "actions": {
                      "Append_objectid_on_first_iteration_of_loop": {
                        "inputs": {
                          "name": "ObjectIds",
                          "value": "@concat(items('Concatenate_the_Object_ID_for_each_Solution_Component')['objectid'], '''')"
                        },
                        "runAfter": {},
                        "type": "AppendToStringVariable"
                      }
                    },
                    "else": {
                      "actions": {
                        "Append_objectid_on_subsequent_iterations_of_loop": {
                          "inputs": {
                            "name": "ObjectIds",
                            "value": "@concat(concat(' or _environmentvariabledefinitionid_value eq ''', items('Concatenate_the_Object_ID_for_each_Solution_Component')['objectid']), '''')"
                          },
                          "runAfter": {},
                          "type": "AppendToStringVariable"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@variables('ObjectIds')",
                        "_environmentvariabledefinitionid_value eq '"
                      ]
                    },
                    "runAfter": {},
                    "type": "If"
                  }
                },
                "foreach": "@outputs('Get_Solution_Components')?['body/value']",
                "runAfter": {},
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
              "@length(body('Get_Solution_Components')?['value'])",
              0
            ]
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Get_Solution_Components": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
              "connectionName": "shared_commondataservice_1",
              "operationId": "GetItems_V2"
            },
            "parameters": {
              "$filter": "_solutionid_value eq '@{triggerBody()['text_2']}' and componenttype eq 380",
              "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
              "table": "solutioncomponents"
            }
          },
          "runAfter": {},
          "type": "OpenApiConnection"
        },
        "Initialize_variable": {
          "inputs": {
            "variables": [
              {
                "name": "ObjectIds",
                "type": "string",
                "value": "_environmentvariabledefinitionid_value eq '"
              }
            ]
          },
          "runAfter": {
            "Get_Solution_Components": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Response": {
          "inputs": {
            "body": "@outputs('Retrieve_Environment_Variable_Value_Records')?['body/value']",
            "schema": {
              "items": {
                "properties": {
                  "@@odata.etag": {
                    "type": "string"
                  },
                  "@@odata.id": {
                    "type": "string"
                  },
                  "ItemInternalId": {
                    "type": "string"
                  },
                  "_componentstate_label": {
                    "type": "string"
                  },
                  "_createdby_type": {
                    "type": "string"
                  },
                  "_createdby_value": {
                    "type": "string"
                  },
                  "_environmentvariabledefinitionid_type": {
                    "type": "string"
                  },
                  "_environmentvariabledefinitionid_value": {
                    "type": "string"
                  },
                  "_modifiedby_type": {
                    "type": "string"
                  },
                  "_modifiedby_value": {
                    "type": "string"
                  },
                  "_ownerid_type": {
                    "type": "string"
                  },
                  "_ownerid_value": {
                    "type": "string"
                  },
                  "_owningbusinessunit_type": {
                    "type": "string"
                  },
                  "_owningbusinessunit_value": {
                    "type": "string"
                  },
                  "_statecode_label": {
                    "type": "string"
                  },
                  "_statuscode_label": {
                    "type": "string"
                  },
                  "componentstate": {
                    "type": "integer"
                  },
                  "createdon": {
                    "type": "string"
                  },
                  "environmentvariablevalueid": {
                    "type": "string"
                  },
                  "environmentvariablevalueidunique": {
                    "type": "string"
                  },
                  "introducedversion": {
                    "type": "string"
                  },
                  "iscustomizable": {
                    "type": "boolean"
                  },
                  "ismanaged": {
                    "type": "boolean"
                  },
                  "modifiedon": {
                    "type": "string"
                  },
                  "overwritetime": {
                    "type": "string"
                  },
                  "schemaname": {
                    "type": "string"
                  },
                  "solutionid": {
                    "type": "string"
                  },
                  "statecode": {
                    "type": "integer"
                  },
                  "statuscode": {
                    "type": "integer"
                  },
                  "value": {
                    "type": "string"
                  },
                  "versionnumber": {
                    "type": "integer"
                  }
                },
                "required": [
                  "@@odata.id",
                  "@@odata.etag",
                  "ItemInternalId",
                  "overwritetime",
                  "_owningbusinessunit_value",
                  "_owningbusinessunit_type",
                  "solutionid",
                  "introducedversion",
                  "statecode",
                  "_statecode_label",
                  "statuscode",
                  "_statuscode_label",
                  "ismanaged",
                  "environmentvariablevalueidunique",
                  "value",
                  "schemaname",
                  "_ownerid_value",
                  "_ownerid_type",
                  "componentstate",
                  "_componentstate_label",
                  "modifiedon",
                  "_modifiedby_value",
                  "_modifiedby_type",
                  "environmentvariablevalueid",
                  "createdon",
                  "versionnumber",
                  "_environmentvariabledefinitionid_value",
                  "_environmentvariabledefinitionid_type",
                  "_createdby_value",
                  "_createdby_type",
                  "iscustomizable"
                ],
                "type": "object"
              },
              "type": "array"
            },
            "statusCode": 200
          },
          "kind": "Http",
          "runAfter": {
            "Retrieve_Environment_Variable_Value_Records": [
              "Succeeded"
            ]
          },
          "type": "Response"
        },
        "Retrieve_Environment_Variable_Value_Records": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
              "connectionName": "shared_commondataservice_1",
              "operationId": "GetItems_V2"
            },
            "parameters": {
              "$filter": "@variables('ObjectIds')",
              "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
              "table": "environmentvariablevalues"
            }
          },
          "runAfter": {
            "Check_if_there_are_any_components_returned": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Region Subdomain",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Environment Unique Name",
                  "title": "Environment Unique Name",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "ID of the Solution",
                  "title": "Solution ID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ],
              "type": "object"
            }
          },
          "kind": "PowerAppV2",
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
