CenterofExcellenceALMAccelerator/SolutionPackage/Workflows/GetSolutionFlows-B4705964-B409-EC11-B6E6-000D3A9C5165.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice_1": {
        "api": {
          "name": "shared_commondataservice"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CDSDevOps"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Check_if_there_are_any_components_returned": {
          "actions": {
            "No_Solution_Components_Found_Return_Empty_Array": {
              "inputs": {
                "body": [],
                "schema": {
                  "items": {
                    "properties": {
                      "@@odata.etag": {
                        "type": "string"
                      },
                      "@@odata.id": {
                        "type": "string"
                      },
                      "ItemInternalId": {
                        "type": "string"
                      },
                      "_businessprocesstype_label": {
                        "type": "string"
                      },
                      "_category_label": {
                        "type": "string"
                      },
                      "_componentstate_label": {
                        "type": "string"
                      },
                      "_createdby_type": {
                        "type": "string"
                      },
                      "_createdby_value": {
                        "type": "string"
                      },
                      "_createstage_label": {
                        "type": "string"
                      },
                      "_deletestage_label": {
                        "type": "string"
                      },
                      "_mode_label": {
                        "type": "string"
                      },
                      "_modifiedby_type": {
                        "type": "string"
                      },
                      "_modifiedby_value": {
                        "type": "string"
                      },
                      "_ownerid_type": {
                        "type": "string"
                      },
                      "_ownerid_value": {
                        "type": "string"
                      },
                      "_owningbusinessunit_type": {
                        "type": "string"
                      },
                      "_owningbusinessunit_value": {
                        "type": "string"
                      },
                      "_processtriggerscope_label": {
                        "type": "string"
                      },
                      "_runas_label": {
                        "type": "string"
                      },
                      "_scope_label": {
                        "type": "string"
                      },
                      "_statecode_label": {
                        "type": "string"
                      },
                      "_statuscode_label": {
                        "type": "string"
                      },
                      "_type_label": {
                        "type": "string"
                      },
                      "_uiflowtype_label": {
                        "type": "string"
                      },
                      "_updatestage_label": {
                        "type": "string"
                      },
                      "asyncautodelete": {
                        "type": "boolean"
                      },
                      "category": {
                        "type": "integer"
                      },
                      "clientdata": {
                        "type": "string"
                      },
                      "componentstate": {
                        "type": "integer"
                      },
                      "createdon": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "introducedversion": {
                        "type": "string"
                      },
                      "iscrmuiworkflow": {
                        "type": "boolean"
                      },
                      "iscustomizable": {
                        "type": "boolean"
                      },
                      "iscustomprocessingstepallowedforotherpublishers": {
                        "type": "boolean"
                      },
                      "ismanaged": {
                        "type": "boolean"
                      },
                      "istransacted": {
                        "type": "boolean"
                      },
                      "mode": {
                        "type": "integer"
                      },
                      "modifiedon": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ondemand": {
                        "type": "boolean"
                      },
                      "overwritetime": {
                        "type": "string"
                      },
                      "primaryentity": {
                        "type": "string"
                      },
                      "runas": {
                        "type": "integer"
                      },
                      "scope": {
                        "type": "integer"
                      },
                      "solutionid": {
                        "type": "string"
                      },
                      "statecode": {
                        "type": "integer"
                      },
                      "statuscode": {
                        "type": "integer"
                      },
                      "subprocess": {
                        "type": "boolean"
                      },
                      "syncworkflowlogonfailure": {
                        "type": "boolean"
                      },
                      "triggeroncreate": {
                        "type": "boolean"
                      },
                      "triggerondelete": {
                        "type": "boolean"
                      },
                      "type": {
                        "type": "integer"
                      },
                      "versionnumber": {
                        "type": "integer"
                      },
                      "workflowid": {
                        "type": "string"
                      },
                      "workflowidunique": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "@@odata.id",
                      "@@odata.etag",
                      "ItemInternalId",
                      "category",
                      "_category_label",
                      "statecode",
                      "_statecode_label",
                      "statuscode",
                      "_statuscode_label",
                      "istransacted",
                      "workflowidunique",
                      "type",
                      "_type_label",
                      "createdon",
                      "triggeroncreate",
                      "runas",
                      "_runas_label",
                      "triggerondelete",
                      "_ownerid_value",
                      "_ownerid_type",
                      "asyncautodelete",
                      "name",
                      "solutionid",
                      "ismanaged",
                      "versionnumber",
                      "mode",
                      "_mode_label",
                      "introducedversion",
                      "iscrmuiworkflow",
                      "workflowid",
                      "_modifiedby_value",
                      "_modifiedby_type",
                      "overwritetime",
                      "modifiedon",
                      "subprocess",
                      "scope",
                      "_scope_label",
                      "ondemand",
                      "componentstate",
                      "_componentstate_label",
                      "_createdby_value",
                      "_createdby_type",
                      "_owningbusinessunit_value",
                      "_owningbusinessunit_type",
                      "syncworkflowlogonfailure",
                      "primaryentity",
                      "clientdata",
                      "_createstage_label",
                      "_businessprocesstype_label",
                      "_processtriggerscope_label",
                      "_updatestage_label",
                      "_deletestage_label",
                      "_uiflowtype_label",
                      "iscustomprocessingstepallowedforotherpublishers",
                      "iscustomizable"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "statusCode": 200
              },
              "kind": "Http",
              "runAfter": {},
              "type": "Response"
            }
          },
          "else": {
            "actions": {
              "Append_to_Object_Ids": {
                "inputs": {
                  "name": "ObjectIds",
                  "value": "@concat(concat('(workflowid eq ''', replace(replace(replace(join(body('Select_Object_IDs'), ','), '{\"objectid\":\"', ''), '\"}', ''), ',', ''' or workflowid eq ''')), ''')')"
                },
                "runAfter": {
                  "Select_Object_IDs": [
                    "Succeeded"
                  ]
                },
                "type": "AppendToStringVariable"
              },
              "Response": {
                "inputs": {
                  "body": "@outputs('Retrieve_Workflow_Records')?['body/value']",
                  "schema": {
                    "items": {
                      "properties": {
                        "@@odata.etag": {
                          "type": "string"
                        },
                        "@@odata.id": {
                          "type": "string"
                        },
                        "ItemInternalId": {
                          "type": "string"
                        },
                        "_businessprocesstype_label": {
                          "type": "string"
                        },
                        "_category_label": {
                          "type": "string"
                        },
                        "_componentstate_label": {
                          "type": "string"
                        },
                        "_createdby_type": {
                          "type": "string"
                        },
                        "_createdby_value": {
                          "type": "string"
                        },
                        "_createstage_label": {
                          "type": "string"
                        },
                        "_deletestage_label": {
                          "type": "string"
                        },
                        "_mode_label": {
                          "type": "string"
                        },
                        "_modifiedby_type": {
                          "type": "string"
                        },
                        "_modifiedby_value": {
                          "type": "string"
                        },
                        "_ownerid_type": {
                          "type": "string"
                        },
                        "_ownerid_value": {
                          "type": "string"
                        },
                        "_owningbusinessunit_type": {
                          "type": "string"
                        },
                        "_owningbusinessunit_value": {
                          "type": "string"
                        },
                        "_processtriggerscope_label": {
                          "type": "string"
                        },
                        "_runas_label": {
                          "type": "string"
                        },
                        "_scope_label": {
                          "type": "string"
                        },
                        "_statecode_label": {
                          "type": "string"
                        },
                        "_statuscode_label": {
                          "type": "string"
                        },
                        "_type_label": {
                          "type": "string"
                        },
                        "_uiflowtype_label": {
                          "type": "string"
                        },
                        "_updatestage_label": {
                          "type": "string"
                        },
                        "asyncautodelete": {
                          "type": "boolean"
                        },
                        "category": {
                          "type": "integer"
                        },
                        "clientdata": {
                          "type": "string"
                        },
                        "componentstate": {
                          "type": "integer"
                        },
                        "createdon": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "introducedversion": {
                          "type": "string"
                        },
                        "iscrmuiworkflow": {
                          "type": "boolean"
                        },
                        "iscustomizable": {
                          "type": "boolean"
                        },
                        "iscustomprocessingstepallowedforotherpublishers": {
                          "type": "boolean"
                        },
                        "ismanaged": {
                          "type": "boolean"
                        },
                        "istransacted": {
                          "type": "boolean"
                        },
                        "mode": {
                          "type": "integer"
                        },
                        "modifiedon": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ondemand": {
                          "type": "boolean"
                        },
                        "overwritetime": {
                          "type": "string"
                        },
                        "primaryentity": {
                          "type": "string"
                        },
                        "runas": {
                          "type": "integer"
                        },
                        "scope": {
                          "type": "integer"
                        },
                        "solutionid": {
                          "type": "string"
                        },
                        "statecode": {
                          "type": "integer"
                        },
                        "statuscode": {
                          "type": "integer"
                        },
                        "subprocess": {
                          "type": "boolean"
                        },
                        "syncworkflowlogonfailure": {
                          "type": "boolean"
                        },
                        "triggeroncreate": {
                          "type": "boolean"
                        },
                        "triggerondelete": {
                          "type": "boolean"
                        },
                        "type": {
                          "type": "integer"
                        },
                        "versionnumber": {
                          "type": "integer"
                        },
                        "workflowid": {
                          "type": "string"
                        },
                        "workflowidunique": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "@@odata.id",
                        "@@odata.etag",
                        "ItemInternalId",
                        "category",
                        "_category_label",
                        "statecode",
                        "_statecode_label",
                        "statuscode",
                        "_statuscode_label",
                        "istransacted",
                        "workflowidunique",
                        "type",
                        "_type_label",
                        "createdon",
                        "triggeroncreate",
                        "runas",
                        "_runas_label",
                        "triggerondelete",
                        "_ownerid_value",
                        "_ownerid_type",
                        "asyncautodelete",
                        "name",
                        "solutionid",
                        "ismanaged",
                        "versionnumber",
                        "mode",
                        "_mode_label",
                        "introducedversion",
                        "iscrmuiworkflow",
                        "workflowid",
                        "_modifiedby_value",
                        "_modifiedby_type",
                        "overwritetime",
                        "modifiedon",
                        "subprocess",
                        "scope",
                        "_scope_label",
                        "ondemand",
                        "componentstate",
                        "_componentstate_label",
                        "_createdby_value",
                        "_createdby_type",
                        "_owningbusinessunit_value",
                        "_owningbusinessunit_type",
                        "syncworkflowlogonfailure",
                        "primaryentity",
                        "clientdata",
                        "_createstage_label",
                        "_businessprocesstype_label",
                        "_processtriggerscope_label",
                        "_updatestage_label",
                        "_deletestage_label",
                        "_uiflowtype_label",
                        "iscustomprocessingstepallowedforotherpublishers",
                        "iscustomizable"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                  "Retrieve_Workflow_Records": [
                    "Succeeded"
                  ]
                },
                "type": "Response"
              },
              "Retrieve_Workflow_Records": {
                "inputs": {
                  "authentication": "@parameters('$authentication')",
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                    "connectionName": "shared_commondataservice_1",
                    "operationId": "GetItems_V2"
                  },
                  "parameters": {
                    "$filter": "@variables('ObjectIds')",
                    "$orderby": "name asc",
                    "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
                    "table": "workflows"
                  }
                },
                "runAfter": {
                  "Append_to_Object_Ids": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection"
              },
              "Select_Object_IDs": {
                "inputs": {
                  "from": "@outputs('Get_Solution_Components')?['body/value']",
                  "select": {
                    "objectid": "@item()['objectid']"
                  }
                },
                "runAfter": {},
                "type": "Select"
              }
            }
          },
          "expression": {
            "equals": [
              "@length(body('Get_Solution_Components')?['value'])",
              0
            ]
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Get_Solution_Components": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
              "connectionName": "shared_commondataservice_1",
              "operationId": "GetItems_V2"
            },
            "parameters": {
              "$filter": "_solutionid_value eq '@{triggerBody()['text_2']}' and componenttype eq 29",
              "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
              "table": "solutioncomponents"
            }
          },
          "runAfter": {},
          "type": "OpenApiConnection"
        },
        "Initialize_variable": {
          "inputs": {
            "variables": [
              {
                "name": "ObjectIds",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Get_Solution_Components": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Region Subdomain",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Environment Unique Name",
                  "title": "Environment Unique Name",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "ID of the Solution",
                  "title": "Solution ID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ],
              "type": "object"
            }
          },
          "kind": "PowerAppV2",
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
