CenterofExcellenceALMAccelerator/SolutionPackage/Workflows/SearchAADGroups-F2536A22-FC30-EC11-B6E5-00224826D291.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedwebcontents_0df3a"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "e968b117-5c92-4a81-9fec-8f25cad9fccc"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Enter Search Text",
                  "title": "SearchText",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Enter the Current ID",
                  "title": "CurrentID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": []
            }
          }
        }
      },
      "actions": {
        "Check_if_CurrentValue_is_Empty": {
          "actions": {
            "Check_if_SearchText_and_CurrentValue_is_Empty": {
              "actions": {
                "Search_AAD_Groups_Current_Value_Empty_SearchText_Empty": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f7033fdc-3387-420e-8dfc-6a35f6dfb1bd"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_webcontents",
                      "operationId": "InvokeHttp",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                    },
                    "parameters": {
                      "request/method": "GET",
                      "request/url": "https://graph.microsoft.com/v1.0/groups?$select=id,displayName&$filter=mailEnabled eq false and securityEnabled eq true&$top=150"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_Response_to_Get_AAD_Groups_Response_2": {
                  "runAfter": {
                    "Search_AAD_Groups_Current_Value_Empty_SearchText_Empty": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "966ce3ee-a9a7-471d-9fc2-0c07f8013f23"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Response",
                    "value": "@body('Search_AAD_Groups_Current_Value_Empty_SearchText_Empty')"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Search_AAD_Groups_Current_Value_Empty_SearchText_Not": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3fc4afe3-42ab-41e2-b3ad-b54432abdd3a"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_webcontents",
                        "operationId": "InvokeHttp",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                      },
                      "parameters": {
                        "request/method": "GET",
                        "request/url": "https://graph.microsoft.com/v1.0/groups?$filter=mailEnabled eq false and \nsecurityEnabled eq true and startswith(displayName, '@{triggerBody()['text']}')&$select=id,displayName"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_Response_to_Search_AAD_Groups_Response_2": {
                    "runAfter": {
                      "Search_AAD_Groups_Current_Value_Empty_SearchText_Not": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "80a0e4d1-a0ff-4bf4-87f2-f4f7d82958c0"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Response",
                      "value": "@body('Search_AAD_Groups_Current_Value_Empty_SearchText_Not')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(triggerBody()['text'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "df6089a8-4905-4edb-8cf2-a1868763f462"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Check_if_SearchText_Is_Empty_and_CurrentValue_is_not_Empty": {
                "actions": {
                  "Get_All_AAD_Groups": {
                    "runAfter": {
                      "Get_Current_AAD_Groups_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f7033fdc-3387-420e-8dfc-6a35f6dfb1bd"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_webcontents",
                        "operationId": "InvokeHttp",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                      },
                      "parameters": {
                        "request/method": "GET",
                        "request/url": "https://graph.microsoft.com/v1.0/groups?$filter=mailEnabled eq false and securityEnabled eq true&$select=id,displayName&$top=150"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Get_Current_AAD_Groups_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3dacce17-64f4-4122-b17c-ade9e07cf1f1"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_webcontents",
                        "operationId": "InvokeHttp",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                      },
                      "parameters": {
                        "request/method": "GET",
                        "request/url": "https://graph.microsoft.com/v1.0/groups?$filter=@{triggerBody()?['text_1']} and mailEnabled eq false and securityEnabled eq true&$select=id,displayName"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_Response_to_Get_AAD_Groups_Response": {
                    "runAfter": {
                      "Get_All_AAD_Groups": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "966ce3ee-a9a7-471d-9fc2-0c07f8013f23"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Response",
                      "value": {
                        "value": "@union(outputs('Get_Current_AAD_Groups_2')?['body']?['value'], outputs('Get_All_AAD_Groups')?['body']?['value'])"
                      }
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Get_Current_AAD_Groups": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "01688c2e-5a47-4655-9ad8-b0422120ad97"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_webcontents",
                          "operationId": "InvokeHttp",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                        },
                        "parameters": {
                          "request/method": "GET",
                          "request/url": "https://graph.microsoft.com/v1.0/groups?$filter=@{triggerBody()?['text_1']} and \nmailEnabled eq false and securityEnabled eq true&$select=id,displayName"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Get_Searched_AAD_Groups": {
                      "runAfter": {
                        "Get_Current_AAD_Groups": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3fc4afe3-42ab-41e2-b3ad-b54432abdd3a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_webcontents",
                          "operationId": "InvokeHttp",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                        },
                        "parameters": {
                          "request/method": "GET",
                          "request/url": "https://graph.microsoft.com/v1.0/groups?$filter=mailEnabled eq false and securityEnabled eq true and startswith(displayName, '@{triggerBody()['text']}')&$select=id,displayName"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_Response_to_Search_AAD_Groups_Response_3": {
                      "runAfter": {
                        "Get_Searched_AAD_Groups": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "80a0e4d1-a0ff-4bf4-87f2-f4f7d82958c0"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Response",
                        "value": {
                          "value": "@union(outputs('Get_Current_AAD_Groups')?['body']?['value'], outputs('Get_Searched_AAD_Groups')?['body']?['value'])"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@length(triggerBody()?['text'])",
                    0
                  ]
                },
                "metadata": {
                  "operationMetadataId": "df6089a8-4905-4edb-8cf2-a1868763f462"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerBody()?['text_1']",
                  "id eq ''"
                ]
              },
              {
                "equals": [
                  "@length(triggerBody()?['text_1'])",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "dbbe6d84-b717-4988-9c8a-bf7c589182bc"
          },
          "type": "If"
        },
        "Get_Response": {
          "runAfter": {
            "Check_if_CurrentValue_is_Empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "33ea9f55-3237-4e63-917b-6e3d3c7548cf"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@variables('Response')",
            "schema": {
              "properties": {
                "@@odata.context": {
                  "type": "string"
                },
                "value": {
                  "items": {
                    "properties": {
                      "displayName": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "displayName"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f50ff68b-18a9-4f53-95a8-bd1be889e6a9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Response",
                "type": "object"
              }
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}