CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/AdminWelcomeEmailv3-F98071EE-73A6-EB11-B1AC-000D3A19E1B0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Community URL (admin_CommunityURL)": {
          "defaultValue": "https://web.yammer.com/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiI1MDMzNjIyIn0/new",
          "type": "String",
          "metadata": {
            "schemaName": "admin_CommunityURL",
            "description": "Link to your internal Microsoft Power Platform community (for example, Yammer or Teams)"
          }
        },
        "ProductionEnvironment (admin_ProductionEnvironment)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ProductionEnvironment",
            "description": "Yes by default. Set to No if you are creating a dev type envt. This will allow some flows to set target users to the admin instead of resource owners"
          }
        },
        "Admin eMail (admin_AdminMail)": {
          "defaultValue": "adelev@pplatform.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdminMail",
            "description": "CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added": {
          "metadata": {
            "operationMetadataId": "44c786a9-0a9b-4671-9f03-8e4961daf591"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "admin_maker",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "If_service_principle_then_exit_here": {
          "actions": {
            "Terminate_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "84ba54a9-64b6-4ea3-8f5f-0dd739618d03"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Initialize_emailGUID": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_userisserviceprinciple']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "12ce10c7-afc3-4767-bc7c-6e1ff51c2ce3"
          },
          "type": "If"
        },
        "Initialize_adminEmail": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "85daf3a2-cd7d-4da1-b29f-80ef20603713"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "adminEmail",
                "type": "string",
                "value": "@parameters('Admin eMail (admin_AdminMail)')"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4f1f356a-3a39-478c-952b-46d16283cab7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isProductionEnvt",
                "type": "boolean",
                "value": "@parameters('ProductionEnvironment (admin_ProductionEnvironment)')"
              }
            ]
          }
        },
        "Initialize_emailGUID": {
          "runAfter": {
            "Initialize_adminEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dad8eca6-7937-47c0-aa57-f2d48dd1c5a2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emailGUID",
                "type": "string"
              }
            ]
          }
        },
        "Get_Row_-_Send_Welcome_Mail": {
          "actions": {
            "Get_a_row_by_ID": {
              "runAfter": {
                "Set_emailGUID_to_localized_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_customizedemails",
                  "recordId": "@variables('emailGUID')",
                  "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_emails_for_preferred_language": {
              "runAfter": {
                "emailGUID_to_en-US": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_customizedemails",
                  "$select": "admin_customizedemailid",
                  "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US')}' and admin_language eq '@{triggerOutputs()?['body/admin_preferredlanguage']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_emailGUID_to_localized_row": {
              "runAfter": {
                "List_emails_for_preferred_language": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4c1f823f-63a0-4d98-b489-df53e0e934b7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "emailGUID",
                "value": "@{if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']), 0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))}"
              },
              "description": "if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']),0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))"
            },
            "emailGUID_to_en-US": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d19afed8-4f91-4914-9cb7-fe89e74e1a6c"
              },
              "type": "Compose",
              "inputs": "f530c294-4742-ec11-8c62-00224829bf00"
            }
          },
          "runAfter": {
            "If_service_principle_then_exit_here": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
          },
          "type": "Scope"
        },
        "Send_Welcome_Mail": {
          "runAfter": {
            "Get_Row_-_Send_Welcome_Mail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cde22ca8-5369-47d5-bc3e-5a4c6f3c5660"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
            },
            "body": {
              "email": "@if(equals(variables('isProductionEnvt'), true), triggerOutputs()?['body/admin_userprincipalname'], variables('adminEmail'))",
              "text": "@outputs('Get_a_row_by_ID')?['body/admin_subject']",
              "text_1": "@{outputs('Get_a_row_by_ID')?['body/admin_body']}\n\n  <li><a href=\"@{parameters('Community URL (admin_CommunityURL)')}\">Our Power Platform Community</a></li>\n</ul>\n",
              "email_1": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID')?['body/admin_cc'])",
              "email_2": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID')?['body/admin_sendonbehalf'])",
              "email_3": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID')?['body/admin_replyto'])",
              "text_2": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID')?['body/admin_importance'])"
            }
          },
          "description": "f530c294-4742-ec11-8c62-00224829bf00"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}