CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/AdminSyncTemplatev4ModelDrivenApps-7C7AC6E2-1B7C-EE11-8179-000D3A341FFF.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_3": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "InventoryFilter_DaysToLookBack (admin_InventoryFilter_DaysToLookBack)": {
          "defaultValue": 7,
          "type": "Int",
          "metadata": {
            "schemaName": "admin_InventoryFilter_DaysToLookBack",
            "description": "Inventory - When not running a full inventory, we filter back this number of days and then see if the object needs updated in order to save API calls. Default 7"
          }
        },
        "FullInventory (admin_FullInventory)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_FullInventory",
            "description": "Inventory - Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running "
          }
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "Inventory - REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        },
        "CoE System User ID (admin_CoESystemUserID)": {
          "defaultValue": "12c238e6-eea1-ef11-8a69-000d3a5c3575",
          "type": "String",
          "metadata": {
            "schemaName": "admin_CoESystemUserID",
            "description": "in the maker table we store a user for system with an id. Storing here so that it can be referenced without having to look it up all the time."
          }
        },
        "Inventory and Telemetry in Azure Data Storage account (admin_InventoryandTelemetryinAzureDataStorageaccount)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_InventoryandTelemetryinAzureDataStorageaccount",
            "description": "Inventory - Have you set up data export in PPAC and is your inventory and telemetry in an Azure Data Storage folder (also referred to as Bring your own Datalake, self-serve analytics feature). Default no"
          }
        },
        "DelayObjectInventory (admin_DelayObjectInventory)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_DelayObjectInventory",
            "description": "Inventory - If Yes, will run a delay step to assist with the Dataverse throttling. Things like solutions, apps, flows, will have delays in the individual envt runs. Default No."
          }
        }
      },
      "triggers": {
        "When_a_row_is_added_or_modified": {
          "metadata": {
            "operationMetadataId": "26ca7bc4-b502-4e71-82e1-5b3e3c124d33"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "admin_environment",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_if_Model_Driven_Apps_can_and_should_be_retrieved_for_this_environment": {
          "actions": {
            "Terminate,_inquiry_not_supported": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "303cf191-ec29-40ed-b90b-d73833e269c0"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_environmentdeleted']",
                  "@true"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_hascds']",
                  "@false"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_excusefrominventory']",
                  "@true"
                ]
              },
              {
                "equals": [
                  "@parameters('Inventory and Telemetry in Azure Data Storage account (admin_InventoryandTelemetryinAzureDataStorageaccount)')",
                  "@true"
                ]
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/admin_environmentruntimestate']",
                    "Enabled"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "9b6688e4-c25b-4e40-9deb-fcf181094357"
          },
          "type": "If"
        },
        "Initialize_mdasToInvenotry": {
          "runAfter": {
            "Delay_Object_Inventory": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b133bb41-c98a-45c4-a8f4-fbf40b3c3873"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "mdasToInvenotry",
                "type": "array"
              }
            ]
          }
        },
        "Inventory_Model_Driven_Apps_(MDAs)_for_this_envt": {
          "actions": {
            "Get_Basics": {
              "actions": {
                "Get_MDAs_and_Exit_if_no_MDAs_in_envt_or_if_no_permissions": {
                  "actions": {
                    "Count_MDAs": {
                      "actions": {
                        "Quit_if_no_MDAs": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "f8a93c00-c6c9-4716-9e92-62ed6d148503"
                          },
                          "type": "Terminate",
                          "inputs": {
                            "runStatus": "Succeeded"
                          }
                        }
                      },
                      "runAfter": {
                        "Terminate_if_no_access": [
                          "Skipped"
                        ]
                      },
                      "expression": {
                        "equals": [
                          "@length(outputs('List_Envt_MDAs')?['body/value'])",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b7370f16-6982-490a-92dd-0fd0001e2c79"
                      },
                      "type": "If"
                    },
                    "Terminate_if_no_access": {
                      "runAfter": {
                        "List_Envt_MDAs": [
                          "Failed"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "713f1ba1-95d3-4176-80c2-0488efa1cb30"
                      },
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Failed",
                        "runError": {
                          "code": "404",
                          "message": "Unauthorized"
                        }
                      }
                    },
                    "List_Envt_MDAs": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "6ef2cc8a-c705-4ed3-a72a-c92fe9bc39f4"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecordsWithOrganization",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "organization": "@triggerOutputs()?['body/admin_environmentcdsinstanceurl']",
                          "entityName": "appmodules",
                          "$select": "appmoduleid, modifiedon, createdon",
                          "$filter": "appmoduleid ne null"
                        },
                        "authentication": "@parameters('$authentication')",
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 20,
                          "interval": "PT20S"
                        }
                      },
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3e11da85-65c2-4bec-a9d3-76ca594e26b2"
                  },
                  "type": "Scope"
                },
                "List_Inventory_MDAs": {
                  "runAfter": {
                    "Get_MDAs_and_Exit_if_no_MDAs_in_envt_or_if_no_permissions": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "90eb78c4-2fb8-4e37-af13-0da2fd53c059"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "$select": "admin_appid, admin_appuniquename, admin_appidstring, admin_displayname, admin_appdeleted",
                      "$filter": "_admin_appenvironment_value eq '@{triggerOutputs()?['body/admin_environmentid']}' and admin_powerappstype eq 597910001 and admin_appdeleted ne true"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 20,
                      "interval": "PT20S"
                    }
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "efeb0f32-2b27-4c3f-b104-0b2d7d855845"
              },
              "type": "Scope"
            },
            "Look_for_MDAs_to_Inventory": {
              "actions": {
                "Look_for_new_MDAs": {
                  "actions": {
                    "Get_Inventory_-_New_MDAs": {
                      "actions": {
                        "Select_Inventory_-_New_MDAs": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "d9864193-358e-4194-9acd-28dab1de4882"
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@outputs('List_Inventory_MDAs')?['body/value']",
                            "select": {
                              "MDA_Unique": "@item()?['admin_appuniquename']",
                              "MDA_NonUnique": "@item()?['admin_appidstring']"
                            }
                          }
                        },
                        "Parse_Inventory_-_New_MDAs": {
                          "runAfter": {
                            "Select_Inventory_-_New_MDAs": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "274daa1f-66a7-4bf4-be08-c3a0e2f758d7"
                          },
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('Select_Inventory_-_New_MDAs')",
                            "schema": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "MDA_Unique": {
                                    "type": "string"
                                  },
                                  "MDA_NonUnique": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "MDA_Unique",
                                  "MDA_NonUnique"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "61117d90-0e7a-40c6-8484-f0212a2b0cc4"
                      },
                      "type": "Scope"
                    },
                    "Get_Actual_-_New_MDAs": {
                      "actions": {
                        "Select_Actual_-_New_MDAs": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "8410edf3-be25-420e-9c3d-d5c2a4d8ef20"
                          },
                          "type": "Select",
                          "inputs": {
                            "from": "@outputs('List_Envt_MDAs')?['body/value']",
                            "select": {
                              "MDA_Unique": "@concat(triggerOutputs()?['body/admin_environmentid'], '_', item()?['appmoduleid'])",
                              "MDA_NonUnique": "@item()?['appmoduleid']"
                            }
                          }
                        },
                        "Parse_Actual_-_New_MDAs": {
                          "runAfter": {
                            "Select_Actual_-_New_MDAs": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "bb1cea14-82ae-4c5e-93a4-66f7d675861e"
                          },
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('Select_Actual_-_New_MDAs')",
                            "schema": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "MDA_Unique": {
                                    "type": "string"
                                  },
                                  "MDA_NonUnique": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "MDA_Unique",
                                  "MDA_NonUnique"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Get_Inventory_-_New_MDAs": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7343aee1-301c-4197-a13f-d3e6968adc8b"
                      },
                      "type": "Scope"
                    },
                    "Add_new_ones_to_inventory_array": {
                      "actions": {
                        "AddToInventory": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "ec8ebf56-f3e3-4251-9491-440c69d207e4"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Parse_Actual_-_New_MDAs')",
                            "where": "@not(contains(body('Parse_Inventory_-_New_MDAs'), item()))"
                          }
                        },
                        "Add_new_to_array": {
                          "foreach": "@body('AddToInventory')",
                          "actions": {
                            "Append_to_appsToInventory_-_new_apps": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "b5cba045-3339-477f-a67f-2b5ce63b9928"
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "mdasToInvenotry",
                                "value": "@items('Add_new_to_array')"
                              }
                            }
                          },
                          "runAfter": {
                            "AddToInventory": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "6db8b7e6-0fdd-4817-b396-693634e27477"
                          },
                          "type": "Foreach",
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Get_Actual_-_New_MDAs": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e201560e-ea4a-4844-a4e1-1a38aeefe1ed"
                      },
                      "type": "Scope"
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0c3972e2-243e-4814-bbac-18203f99e3f9"
                  },
                  "type": "Scope"
                },
                "If_full_inventory_run": {
                  "actions": {
                    "Add_every_inventoried_mda_to_mdasToInventory": {
                      "foreach": "@outputs('List_Inventory_MDAs')?['body/value']",
                      "actions": {
                        "Append_to_rpasToInventory_-_full_inventory": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "5be2389e-be4a-4737-aa0d-487ae30aa1c4"
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "mdasToInvenotry",
                            "value": {
                              "MDA_Unique": "@items('Add_every_inventoried_mda_to_mdasToInventory')?['admin_appuniquename']",
                              "MDA_NonUnique": "@items('Add_every_inventoried_mda_to_mdasToInventory')?['admin_appidstring']"
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "afd988eb-2f3e-4962-ba12-7e4f2f573c82"
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 50
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Look_for_new_MDAs": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Look_for_rpas_manually_flagged_for_inventory": {
                        "actions": {
                          "MDAsToInventory_-_ManualRequest": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "0e8d8c5b-cc57-472d-864e-103af0ef245b"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "ListRecords",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_apps",
                                "$select": "admin_appid, admin_appuniquename, admin_appidstring, admin_displayname",
                                "$filter": "_admin_appenvironment_value eq '@{triggerOutputs()?['body/admin_environmentid']}' and admin_powerappstype eq 597910001 and admin_inventoryme eq true"
                              },
                              "authentication": "@parameters('$authentication')",
                              "retryPolicy": {
                                "type": "exponential",
                                "count": 20,
                                "interval": "PT20S"
                              }
                            },
                            "runtimeConfiguration": {
                              "paginationPolicy": {
                                "minimumItemCount": 100000
                              }
                            }
                          },
                          "Add_manual_requests_to_array": {
                            "foreach": "@outputs('MDAsToInventory_-_ManualRequest')?['body/value']",
                            "actions": {
                              "Append_to_mdasToInventory_-_Manual_Requests": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "f6a9316e-3842-469d-b7b0-2fad69e91448"
                                },
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                  "name": "mdasToInvenotry",
                                  "value": {
                                    "MDA_Unique": "@items('Add_manual_requests_to_array')?['admin_appuniquename']",
                                    "MDA_NonUnique": "@items('Add_manual_requests_to_array')?['admin_appidstring']"
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "MDAsToInventory_-_ManualRequest": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "36d126b2-b699-44ff-91bb-804ce9296a8c"
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                              "concurrency": {
                                "repetitions": 50
                              }
                            }
                          }
                        },
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "9616f302-9d94-44a0-b657-9b1daa4f78a2"
                        },
                        "type": "Scope"
                      },
                      "Look_for_ones_modified_since_date": {
                        "actions": {
                          "Get_past_time": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "214bd6fa-e96e-4732-9380-2b5f1f449478"
                            },
                            "type": "Expression",
                            "kind": "GetPastTime",
                            "inputs": {
                              "interval": "@parameters('InventoryFilter_DaysToLookBack (admin_InventoryFilter_DaysToLookBack)')",
                              "timeUnit": "Day"
                            },
                            "description": "from env variable"
                          },
                          "Filter_to_mdas_modified_since_Get_past_time": {
                            "runAfter": {
                              "Get_past_time": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "63cbd0e2-57e8-449a-942a-5d8fd1f78b09"
                            },
                            "type": "Query",
                            "inputs": {
                              "from": "@outputs('List_Envt_MDAs')?['body/value']",
                              "where": "@or(equals(item()?['modifiedon'], null), greater(item()?['modifiedon'], body('Get_past_time')))"
                            }
                          },
                          "Add_each_recently_modified_to_array": {
                            "foreach": "@body('Filter_to_mdas_modified_since_Get_past_time')",
                            "actions": {
                              "Get_MDA_from_Inventory": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "c2776441-5eeb-4fb9-9e49-21a132061f3a"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "ListRecords",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "admin_apps",
                                    "$select": "admin_appid, admin_appuniquename, admin_appidstring, admin_displayname, admin_appmodifiedon",
                                    "$filter": "admin_appuniquename eq '@{concat(triggerOutputs()?['body/admin_environmentid'], '_', items('Add_each_recently_modified_to_array')?['appmoduleid'])}'"
                                  },
                                  "authentication": "@parameters('$authentication')",
                                  "retryPolicy": {
                                    "type": "exponential",
                                    "count": 20,
                                    "interval": "PT20S"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "paginationPolicy": {
                                    "minimumItemCount": 100000
                                  }
                                }
                              },
                              "If_exists_in_inventory": {
                                "actions": {
                                  "see_if_recently_modified": {
                                    "actions": {
                                      "theLastDateModifiedProduct": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "168ece0f-af10-456a-9b2c-2b86b076359c"
                                        },
                                        "type": "Compose",
                                        "inputs": "@if(equals(items('Add_each_recently_modified_to_array')?['modifiedon'], null), '', formatDateTime(items('Add_each_recently_modified_to_array')?['modifiedon'], 'yyyy-MM-dd HH:mm:ss'))"
                                      },
                                      "If_modified_add_to_inventory": {
                                        "actions": {
                                          "Append_to_array_variable_-_recently_modified": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "4737fe2b-cdfd-4ba7-85b9-b515b604a8c2"
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                              "name": "mdasToInvenotry",
                                              "value": {
                                                "MDA_Unique": "@first(outputs('Get_MDA_from_Inventory')?['body/value'])?['admin_appuniquename']",
                                                "MDA_NonUnique": "@first(outputs('Get_MDA_from_Inventory')?['body/value'])?['admin_appidstring']"
                                              }
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "theLastDateModfiedCoE": [
                                            "Succeeded"
                                          ]
                                        },
                                        "expression": {
                                          "or": [
                                            {
                                              "equals": [
                                                "@length(outputs('theLastDateModfiedCoE'))",
                                                0
                                              ]
                                            },
                                            {
                                              "equals": [
                                                "@length(outputs('theLastDateModifiedProduct'))",
                                                0
                                              ]
                                            },
                                            {
                                              "less": [
                                                "@outputs('theLastDateModfiedCoE')",
                                                "@outputs('theLastDateModifiedProduct')"
                                              ]
                                            }
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "e844dd8a-5c7b-4d80-92e9-7b26ab15397b"
                                        },
                                        "type": "If"
                                      },
                                      "theLastDateModfiedCoE": {
                                        "runAfter": {
                                          "theLastDateModifiedProduct": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "0a56b9d1-ffc4-433e-abe7-c520c8f318e7"
                                        },
                                        "type": "Compose",
                                        "inputs": "@if(equals(first(outputs('Get_MDA_from_Inventory')?['body/value'])?['admin_appmodifiedon'], null), '', formatDateTime(first(outputs('Get_MDA_from_Inventory')?['body/value'])?['admin_appmodifiedon'], 'yyyy-MM-dd HH:mm:ss'))"
                                      }
                                    },
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "24b0a08f-7f0b-4995-8834-add08a612a97"
                                    },
                                    "type": "Scope"
                                  }
                                },
                                "runAfter": {
                                  "Get_MDA_from_Inventory": [
                                    "Succeeded"
                                  ]
                                },
                                "expression": {
                                  "greater": [
                                    "@length(outputs('Get_MDA_from_Inventory')?['body/value'])",
                                    0
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "c153161f-e91f-4ab1-9dc8-280b4f3816c0"
                                },
                                "type": "If"
                              }
                            },
                            "runAfter": {
                              "Filter_to_mdas_modified_since_Get_past_time": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "32127bd9-2400-4d2f-b15e-6d176fc23554"
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                              "concurrency": {
                                "repetitions": 50
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "Look_for_rpas_manually_flagged_for_inventory": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "4c090145-2a78-4b48-994e-32e2be8b1c11"
                        },
                        "type": "Scope"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@parameters('FullInventory (admin_FullInventory)')",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c0e211f1-0938-41a4-ac62-faf1ae2e371c"
                  },
                  "type": "If"
                },
                "Raw_to_Inventory": {
                  "runAfter": {
                    "If_full_inventory_run": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ed6ce112-c849-4027-9411-49f382ff01fc"
                  },
                  "type": "Compose",
                  "inputs": "@variables('mdasToInvenotry')"
                },
                "Distinct_to_Inventory": {
                  "runAfter": {
                    "Raw_to_Inventory": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "15557393-f770-4298-8857-aa91a143b52e"
                  },
                  "type": "Compose",
                  "inputs": "@union(variables('mdasToInvenotry'), variables('mdasToInvenotry'))"
                }
              },
              "runAfter": {
                "Get_Basics": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b9ef3d69-2a72-41e6-9640-f43ba22c8ed0"
              },
              "type": "Scope"
            },
            "Inventory_MDAs": {
              "actions": {
                "For_each_item_to_inventory": {
                  "foreach": "@outputs('Distinct_to_Inventory')",
                  "actions": {
                    "Get_actual_object": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "c392d00b-9e49-4834-92e3-ebe566f67ca3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItemWithOrganization",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "organization": "@triggerOutputs()?['body/admin_environmentcdsinstanceurl']",
                          "entityName": "appmodules",
                          "recordId": "@items('For_each_item_to_inventory')?['MDA_NonUnique']"
                        },
                        "authentication": "@parameters('$authentication')",
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 20,
                          "interval": "PT20S"
                        }
                      }
                    },
                    "CATCH:_Object_no_longer_exists": {
                      "runAfter": {
                        "Get_actual_object": [
                          "Failed"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8a5890f6-d918-4a9f-b39f-bd646233e439"
                      },
                      "type": "Compose",
                      "inputs": "Object no longer exists"
                    },
                    "Object_Found_so_add_or_update_inventory": {
                      "actions": {
                        "Get_Owner_Details": {
                          "actions": {
                            "Get_Owner": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "790069e7-1747-45da-a4f3-f6b9dda38e5a"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_3",
                                  "operationId": "GetItemWithOrganization",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "organization": "@triggerOutputs()?['body/admin_environmentcdsinstanceurl']",
                                  "entityName": "systemusers",
                                  "recordId": "@outputs('Get_actual_object')?['body/_createdby_value']"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 20,
                                  "interval": "PT20S"
                                }
                              }
                            },
                            "OwnerID": {
                              "runAfter": {
                                "Get_Owner": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "56cfa7cf-65cb-4e51-b16a-430bc087d28c"
                              },
                              "type": "Compose",
                              "inputs": "@if(equals(body('Get_Owner')?['azureactivedirectoryobjectid'], null), if(equals(body('Get_Owner')?['fullname'], 'SYSTEM'), parameters('CoE System User ID (admin_CoESystemUserID)'), ''), body('Get_Owner')?['azureactivedirectoryobjectid'])"
                            },
                            "See_if_already_in_Maker_Table": {
                              "runAfter": {
                                "OwnerID": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "6a7ef4f9-5a59-45f9-a290-e89115a2f36d"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "ListRecords",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_makers",
                                  "$filter": "admin_makerid eq @{outputs('OwnerID')}"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 20,
                                  "interval": "PT20S"
                                }
                              },
                              "runtimeConfiguration": {
                                "paginationPolicy": {
                                  "minimumItemCount": 100000
                                }
                              }
                            },
                            "If_not,_add_them": {
                              "actions": {
                                "OwnerID_for_Helper": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "56cfa7cf-65cb-4e51-b16a-430bc087d28c"
                                  },
                                  "type": "Compose",
                                  "inputs": "@if(equals(body('Get_Owner')?['azureactivedirectoryobjectid'], null), if(equals(body('Get_Owner')?['fullname'], 'SYSTEM'), 'SYSTEM', ''), body('Get_Owner')?['azureactivedirectoryobjectid'])"
                                },
                                "Maker_Check": {
                                  "runAfter": {
                                    "OwnerID_for_Helper": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "9b77404f-4d8e-4e72-992d-f09db75c4167"
                                  },
                                  "type": "Workflow",
                                  "inputs": {
                                    "host": {
                                      "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                                    },
                                    "body": {
                                      "text": "@outputs('OwnerID_for_Helper')",
                                      "boolean": false
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "See_if_already_in_Maker_Table": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                  "@length(outputs('See_if_already_in_Maker_Table')?['body/value'])",
                                  0
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b0599ae4-1806-47c1-9c32-955838f93048"
                              },
                              "type": "If"
                            },
                            "Get_Maker": {
                              "runAfter": {
                                "If_not,_add_them": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "ae6d172a-7fcb-44c7-88dc-32f5b1cec2c8"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_makers",
                                  "recordId": "@outputs('OwnerID')"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 20,
                                  "interval": "PT20S"
                                }
                              }
                            },
                            "catch_for_orphans_no_id": {
                              "runAfter": {
                                "Get_Maker": [
                                  "Failed"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b420ec58-4b1d-4f34-8cf4-880c0c0b82ab"
                              },
                              "type": "Compose",
                              "inputs": "catch for orphans no id"
                            },
                            "IsOrphan": {
                              "runAfter": {
                                "catch_for_orphans_no_id": [
                                  "Succeeded",
                                  "Skipped"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "5ba88760-724b-482e-b7c5-72b125a595a0"
                              },
                              "type": "Compose",
                              "inputs": "@if(or(equals(outputs('OwnerID'), null), equals(length(outputs('OwnerID')), 0), equals(outputs('Get_Maker')?['body/admin_makerisorphaned'], true), equals(outputs('Get_Maker')?['body/admin_makerid'], null)), true, false)"
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "615c25ea-17df-47c6-b0b2-1620d61d03c7"
                          },
                          "type": "Scope"
                        },
                        "See_if_in_inventory": {
                          "runAfter": {
                            "Get_Owner_Details": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "db3e5b77-c2eb-430b-a5a1-2b9fd96c1d71"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_apps",
                              "$select": "admin_appid",
                              "$filter": "admin_appuniquename eq '@{items('For_each_item_to_inventory')?['MDA_Unique']}'"
                            },
                            "authentication": "@parameters('$authentication')",
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 20,
                              "interval": "PT20S"
                            }
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          }
                        },
                        "GUID_to_use": {
                          "runAfter": {
                            "See_if_in_inventory": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2aa06b3d-bba6-4ec1-a0df-be421c60ae9c"
                          },
                          "type": "Compose",
                          "inputs": "@if(equals(length(outputs('See_if_in_inventory')?['body/value']), 0), guid(), first(outputs('See_if_in_inventory')?['body/value'])['admin_appid'])"
                        },
                        "Upsert_Record": {
                          "actions": {
                            "Upsert_Model_Driven_App_(Orphan)": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "2c2e8a84-5ae2-4ab6-a2c5-bb9430efd6fa"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_apps",
                                  "recordId": "@outputs('GUID_to_use')",
                                  "item/admin_displayname": "@outputs('Get_actual_object')?['body/name']",
                                  "item/admin_appcreatedon": "@outputs('Get_actual_object')?['body/createdon']",
                                  "item/admin_appdeleted": false,
                                  "item/admin_appdeletedon": "@null",
                                  "item/admin_appdescription": "@outputs('Get_actual_object')?['body/description']",
                                  "item/admin_AppEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                  "item/admin_appenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                  "item/admin_appenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                  "item/cr5d5_appisorphaned": "Yes",
                                  "item/admin_applogicalname": "@outputs('Get_actual_object')?['body/uniquename']",
                                  "item/admin_appmodifiedon": "@outputs('Get_actual_object')?['body/modifiedon']",
                                  "item/admin_powerappstype": 597910001,
                                  "item/admin_appuniquename": "@items('For_each_item_to_inventory')?['MDA_Unique']",
                                  "item/admin_appidstring": "@items('For_each_item_to_inventory')?['MDA_NonUnique']",
                                  "item/admin_inventoryme": false,
                                  "item/admin_recordguidasstring": "@outputs('GUID_to_use')"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 20,
                                  "interval": "PT20S"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "GUID_to_use": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Upsert_Model_Driven_App": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "8dc4368f-e96a-47c5-988c-04693e9a8cb8"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "UpdateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "admin_apps",
                                    "recordId": "@outputs('GUID_to_use')",
                                    "item/admin_displayname": "@outputs('Get_actual_object')?['body/name']",
                                    "item/admin_appcompany": "@outputs('Get_Maker')?['body/admin_company']",
                                    "item/admin_appcreatedon": "@outputs('Get_actual_object')?['body/createdon']",
                                    "item/admin_appdeleted": false,
                                    "item/admin_appdeletedon": "@null",
                                    "item/admin_department": "@outputs('Get_Maker')?['body/admin_department']",
                                    "item/admin_appdescription": "@outputs('Get_actual_object')?['body/description']",
                                    "item/admin_AppEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                    "item/admin_appenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                    "item/admin_appenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                    "item/cr5d5_appisorphaned": "No",
                                    "item/admin_applogicalname": "@outputs('Get_actual_object')?['body/uniquename']",
                                    "item/admin_appmodifiedon": "@outputs('Get_actual_object')?['body/modifiedon']",
                                    "item/admin_AppOwner@odata.bind": "admin_makers(@{outputs('Get_Maker')?['body/admin_makerid']})",
                                    "item/admin_appownerdisplayname": "@outputs('Get_Maker')?['body/admin_displayname']",
                                    "item/admin_powerappstype": 597910001,
                                    "item/admin_appuniquename": "@items('For_each_item_to_inventory')?['MDA_Unique']",
                                    "item/admin_appidstring": "@items('For_each_item_to_inventory')?['MDA_NonUnique']",
                                    "item/admin_city": "@outputs('Get_Maker')?['body/admin_city']",
                                    "item/admin_country": "@outputs('Get_Maker')?['body/admin_country']",
                                    "item/admin_inventoryme": false,
                                    "item/admin_recordguidasstring": "@outputs('GUID_to_use')"
                                  },
                                  "authentication": "@parameters('$authentication')",
                                  "retryPolicy": {
                                    "type": "exponential",
                                    "count": 20,
                                    "interval": "PT20S"
                                  }
                                }
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@outputs('IsOrphan')",
                              true
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "be0a6eb2-7133-4fd0-912c-f8bba4a7d144"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "CATCH:_Object_no_longer_exists": [
                          "Skipped"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "28e14234-542b-4cdf-80cc-10089718f981"
                      },
                      "type": "Scope"
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b7cba24f-db60-4fcd-9d25-3367415d1537"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 50
                    }
                  }
                }
              },
              "runAfter": {
                "Look_for_MDAs_to_Inventory": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f69952e0-f7f4-4a4e-bb9b-50ad877ae173"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Initialize_mdasToInvenotry": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7fabdbe3-cca0-4e6b-9f0b-b9ac39bea0b9"
          },
          "type": "Scope"
        },
        "Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "87961ff0-e261-4890-9ab9-a53f88fe0de5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "@workflow()?['tags']['flowDisplayName']",
                  "item/admin_environmentname": "@triggerOutputs()?['body/admin_displayname']",
                  "item/admin_flowinstanceurl": "@concat(parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Update_Last_Run_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e5a2a18-dba2-47a1-96d5-3356f4348e5a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "500",
                  "message": "Get Environments Failed"
                }
              }
            },
            "Get_ID_Fail": {
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "47329bf2-8aac-400d-9778-a793b4f1180f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_Last_Run_Fail": {
              "runAfter": {
                "Get_ID_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c63eb7cc-6101-4567-b520-a4a8881264e9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Fail')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": false
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Inventory_Model_Driven_Apps_(MDAs)_for_this_envt": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "38ae684e-622d-42ea-abd2-ee571aee3a5f"
          },
          "type": "Scope"
        },
        "Update_last_run_as_pass": {
          "actions": {
            "Update_Last_Run_Successful": {
              "runAfter": {
                "Get_ID_Pass": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78ef70e5-7f67-4737-9a02-8533f12caa19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Pass')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_ID_Pass": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f4f314b6-89d3-4056-af1c-73115e7d6bd1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Catch_-_not_ready_to_take_last_run_date": {
              "runAfter": {
                "Update_Last_Run_Successful": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "f88cdefe-c402-49d7-8f4a-934475e6f741"
              },
              "type": "Compose",
              "inputs": "Catch - not ready to take last run date"
            }
          },
          "runAfter": {
            "Error_Handling": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c140442-d939-4ca4-8ec8-d1ee2bed4a81"
          },
          "type": "Scope"
        },
        "Delay_Object_Inventory": {
          "actions": {
            "Delay_1_to_300_minutes": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f37a4a9d-c5b4-41ed-8484-636dca60ee81"
              },
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": "@rand(1, 300)",
                  "unit": "Minute"
                }
              },
              "description": "To avoid throttling of the backend to the tenant user, we will randomize the start time of these flows for tenants within a 5 hour range"
            }
          },
          "runAfter": {
            "Check_if_Model_Driven_Apps_can_and_should_be_retrieved_for_this_environment": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@parameters('DelayObjectInventory (admin_DelayObjectInventory)')",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "49b3d120-232d-4694-b373-a97ecde35cc4"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}