CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/AdminSyncTemplatev3Desktopflows-8091A1F0-1042-EB11-A813-000D3A8F4AD6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseLegacy"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_sharedcommondataserviceforapps_98924"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        },
        "FullInventory (admin_FullInventory)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_FullInventory",
            "description": "Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running "
          }
        }
      },
      "triggers": {
        "When_a_record_is_created_or_updated": {
          "metadata": {
            "operationMetadataId": "ceeaa3ed-3c5a-4e70-9d2c-87c669e3d097"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "admin_environment",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_if_Desktop_Flows_can_be_retrieved_for_this_environment": {
          "actions": {
            "Terminate,_inquiry__not_supported": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "303cf191-ec29-40ed-b90b-d73833e269c0"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_environmentdeleted']",
                  "@true"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_hascds']",
                  "@false"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_environmentsku']",
                  "Teams"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_environmentsku']",
                  "Developer"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_excusefrominventory']",
                  "@true"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "9b6688e4-c25b-4e40-9deb-fcf181094357"
          },
          "type": "If"
        },
        "Get_RPAs_and_Exit_if_no_RPAs_in_envt_or_if_no_permissions": {
          "actions": {
            "Count_bots": {
              "actions": {
                "Quit_if_no_bots": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f8a93c00-c6c9-4716-9e92-62ed6d148503"
                  },
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Succeeded"
                  }
                }
              },
              "runAfter": {
                "Terminate_if_no_access": [
                  "Skipped"
                ]
              },
              "expression": {
                "equals": [
                  "@length(body('List_Desktop_Flows')?['value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "b7370f16-6982-490a-92dd-0fd0001e2c79"
              },
              "type": "If"
            },
            "List_Desktop_Flows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "18cc04ae-6bf0-45a5-88cd-867597f3f22a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataservice_1",
                  "operationId": "GetItems_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                },
                "parameters": {
                  "dataset": "@triggerOutputs()?['body/admin_environmentcdsmetadataname']",
                  "table": "workflows",
                  "$filter": "category eq 6 and uiflowtype ne 101"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              }
            },
            "Terminate_if_no_access": {
              "runAfter": {
                "List_Desktop_Flows": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "713f1ba1-95d3-4176-80c2-0488efa1cb30"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "404",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "runAfter": {
            "Check_if_Desktop_Flows_can_be_retrieved_for_this_environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3e11da85-65c2-4bec-a9d3-76ca594e26b2"
          },
          "type": "Scope"
        },
        "Initialize_variable_DesktopFlowNeedsUpdateToCoE": {
          "runAfter": {
            "Initialize_variable_isNewToCoE": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "95e3dcbc-6397-466b-b14e-01c2e5387440"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DesktopFlowNeedsUpdateToCoE",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Initialize_variable_flowEnvironment": {
          "runAfter": {
            "Initialize_variable_DesktopFlowNeedsUpdateToCoE": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d983cd7c-cde0-47c7-8fc8-d8f5720f1b26"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "flowEnvironment",
                "type": "string",
                "value": "@parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)')"
              }
            ]
          },
          "description": "Environment location specific Flow URL - remember / at the end"
        },
        "Initialize_variable_fullInventory": {
          "runAfter": {
            "Initialize_variable_flowEnvironment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9cafdaa3-2a8a-4f7f-8873-371d4b6899a5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "fullInventory",
                "type": "string",
                "value": "@{parameters('FullInventory (admin_FullInventory)')}"
              }
            ]
          },
          "description": "Environment location specific Flow URL - remember / at the end"
        },
        "Initialize_variable_isNewToCoE": {
          "runAfter": {
            "Get_RPAs_and_Exit_if_no_RPAs_in_envt_or_if_no_permissions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "36f25af1-a1b1-45e0-a618-66a66bec28da"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isNewToCoE",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Put_Desktop_Flows_in_CoE": {
          "actions": {
            "For_each_Desktop_Flow": {
              "foreach": "@outputs('List_Desktop_Flows')?['body/value']",
              "actions": {
                "Check_that_client_data_not_equal_to_null": {
                  "actions": {
                    "Get_Desktop_Flow_Owner": {
                      "runAfter": {
                        "UniqueNameString": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9da86c21-50be-4119-a56a-be15b0f4ebc6"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataservice_1",
                          "operationId": "GetItem_V2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                        },
                        "parameters": {
                          "dataset": "@triggerOutputs()?['body/admin_environmentcdsmetadataname']",
                          "table": "systemusers",
                          "id": "@items('For_each_Desktop_Flow')?['_ownerid_value']"
                        },
                        "authentication": "@parameters('$authentication')",
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 10,
                          "interval": "PT10S"
                        }
                      }
                    },
                    "Parse_RPA_JSON": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "406864cc-9c84-44df-a74f-537276df3894"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@items('For_each_Desktop_Flow')?['clientdata']",
                        "schema": {
                          "properties": {
                            "schemaVersion": {
                              "type": "string"
                            },
                            "targets": {
                              "properties": {
                                "schema": {
                                  "properties": {
                                    "properties": {
                                      "properties": {
                                        "XD22JMjhEkyAAS8lVpFe+w==": {
                                          "properties": {
                                            "automationType": {
                                              "type": "string"
                                            },
                                            "icon": {
                                              "type": "string"
                                            },
                                            "mainWindowTitle": {
                                              "type": "string"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "path": {
                                              "type": "string"
                                            },
                                            "processId": {
                                              "type": "integer"
                                            },
                                            "systemConfiguration": {
                                              "properties": {
                                                "keyboard": {
                                                  "properties": {
                                                    "layoutId": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "type": "object"
                                                },
                                                "screen": {
                                                  "properties": {
                                                    "height": {
                                                      "type": "integer"
                                                    },
                                                    "scale": {
                                                      "type": "integer"
                                                    },
                                                    "width": {
                                                      "type": "integer"
                                                    }
                                                  },
                                                  "type": "object"
                                                }
                                              },
                                              "type": "object"
                                            },
                                            "version": {
                                              "type": "string"
                                            }
                                          },
                                          "type": "object"
                                        }
                                      },
                                      "type": "object"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Update_or_Insert_Desktop_flow_and_Owner": {
                      "actions": {
                        "Only_proceed_if_changed_since_last_updated_in_CoE_or_FullInventory": {
                          "actions": {
                            "Maker_Check_-_Edit": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "8c1757ea-e74d-44a4-a679-447f3afa0c95"
                              },
                              "type": "Workflow",
                              "inputs": {
                                "host": {
                                  "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                                },
                                "body": {
                                  "text": "@if(equals(body('Get_Desktop_Flow_Owner')?['azureactivedirectoryobjectid'], null), '', body('Get_Desktop_Flow_Owner')?['azureactivedirectoryobjectid'])",
                                  "text_1": "@body('Get_Desktop_Flow_Owner')?['fullname']",
                                  "boolean": false
                                }
                              }
                            },
                            "Check_if_Orphan_-_Edit": {
                              "actions": {
                                "Update_Desktop_Flow_(Orphaned)": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "aab5f90e-38e3-4fd1-92e1-e66c8a695c94"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps_1",
                                      "operationId": "UpdateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_rpas",
                                      "recordId": "@outputs('flowGUID')",
                                      "item/admin_name": "@items('For_each_Desktop_Flow')?['workflowid']",
                                      "item/admin_rpacreatedon": "@items('For_each_Desktop_Flow')?['createdon']",
                                      "item/admin_displayname": "@items('For_each_Desktop_Flow')?['name']",
                                      "item/admin_DesktopflowEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                      "item/admin_rpaenvironment": "@triggerOutputs()?['body/admin_displayname']",
                                      "item/admin_rpaisorphaned": "Yes",
                                      "item/admin_rpamodifiedon": "@items('For_each_Desktop_Flow')?['modifiedon']",
                                      "item/admin_rpastate": "@items('For_each_Desktop_Flow')?['_componentstate_label']",
                                      "item/admin_uiflowtype": "@items('For_each_Desktop_Flow')?['_uiflowtype_label']",
                                      "item/admin_recordguidasstring": "@outputs('flowGUID')",
                                      "item/admin_rpauniquename": "@outputs('UniqueNameString')",
                                      "item/admin_url": "@body('Parse_RPA_JSON')?['properties']?['definition']?['url']"
                                    },
                                    "authentication": "@parameters('$authentication')",
                                    "retryPolicy": {
                                      "type": "exponential",
                                      "count": 10,
                                      "interval": "PT10S"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Maker_Check_-_Edit": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {
                                  "Update_Desktop_Flow": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "84779c89-3917-4c78-be40-d4358e0400e4"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps_1",
                                        "operationId": "UpdateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "admin_rpas",
                                        "recordId": "@outputs('flowGUID')",
                                        "item/admin_name": "@items('For_each_Desktop_Flow')?['workflowid']",
                                        "item/admin_rpacreatedon": "@items('For_each_Desktop_Flow')?['createdon']",
                                        "item/admin_displayname": "@items('For_each_Desktop_Flow')?['name']",
                                        "item/admin_DesktopflowEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                        "item/admin_rpaenvironment": "@triggerOutputs()?['body/admin_displayname']",
                                        "item/admin_rpaisorphaned": "No",
                                        "item/admin_rpamodifiedon": "@items('For_each_Desktop_Flow')?['modifiedon']",
                                        "item/admin_RPAOwner@odata.bind": "admin_makers(@{outputs('Maker_Check_-_Edit')?['Body']?['userid']})",
                                        "item/admin_rpastate": "@items('For_each_Desktop_Flow')?['_componentstate_label']",
                                        "item/admin_uiflowtype": "@items('For_each_Desktop_Flow')?['_uiflowtype_label']",
                                        "item/admin_recordguidasstring": "@outputs('flowGUID')",
                                        "item/admin_rpauniquename": "@outputs('UniqueNameString')",
                                        "item/admin_url": "@body('Parse_RPA_JSON')?['properties']?['definition']?['url']"
                                      },
                                      "authentication": "@parameters('$authentication')",
                                      "retryPolicy": {
                                        "type": "exponential",
                                        "count": 10,
                                        "interval": "PT10S"
                                      }
                                    }
                                  }
                                }
                              },
                              "expression": {
                                "equals": [
                                  "@outputs('Maker_Check_-_Edit')?['Body']?['userisorphan']",
                                  "True"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "1d8b79f7-6645-475f-9883-8fc2a59e5690"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            "See_if_DesktopFlowNeedsUpdateToCoE": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "equals": [
                              "@variables('DesktopFlowNeedsUpdateToCoE')",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "507cd4bc-3076-4698-9164-4c956343c417"
                          },
                          "type": "If"
                        },
                        "See_if_DesktopFlowNeedsUpdateToCoE": {
                          "actions": {
                            "Catch_case_where_coe_last_modified_date_is_null_": {
                              "runAfter": {
                                "CoE_ModifiedOn": [
                                  "Failed"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b621ef4b-7181-418b-909e-4342fc631f5e"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "DesktopFlowNeedsUpdateToCoE",
                                "value": "@true"
                              }
                            },
                            "Catch_case_where_product_last_modified_date_is_null": {
                              "runAfter": {
                                "Desktop_Flow_Modified_On": [
                                  "Failed"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "2b24c4e2-d5c2-43dd-bfe0-d5b996bfdf51"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "DesktopFlowNeedsUpdateToCoE",
                                "value": "@true"
                              }
                            },
                            "Condition": {
                              "actions": {
                                "Set_DesktopFlowNeedsUPdateToCoE_to_true": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "1f4fa492-401d-4561-8995-717973ebcf70"
                                  },
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "DesktopFlowNeedsUpdateToCoE",
                                    "value": "@true"
                                  }
                                }
                              },
                              "runAfter": {
                                "Catch_case_where_product_last_modified_date_is_null": [
                                  "Succeeded",
                                  "Skipped"
                                ]
                              },
                              "expression": {
                                "or": [
                                  {
                                    "equals": [
                                      "@variables('fullInventory')",
                                      "True"
                                    ]
                                  },
                                  {
                                    "equals": [
                                      "@variables('DesktopFlowNeedsUpdateToCoE')",
                                      "@true"
                                    ]
                                  },
                                  {
                                    "less": [
                                      "@outputs('CoE_ModifiedOn')",
                                      "@outputs('Desktop_Flow_Modified_On')"
                                    ]
                                  }
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b5673221-f2b6-424a-ae3e-f0bc434158db"
                              },
                              "type": "If"
                            },
                            "Desktop_Flow_Modified_On": {
                              "runAfter": {
                                "Catch_case_where_coe_last_modified_date_is_null_": [
                                  "Succeeded",
                                  "Skipped"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "96907a76-89a8-465c-bd96-4b70efdd2ec3"
                              },
                              "type": "Compose",
                              "inputs": "@formatDateTime(items('For_each_Desktop_Flow')?['modifiedon'], 'yyyy-MM-dd HH:mm:ss')"
                            },
                            "CoE_ModifiedOn": {
                              "runAfter": {
                                "Get_Desktop_Flow_from_CoE": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "12bb6d45-955f-411a-8a2e-7cd4b2f032a5"
                              },
                              "type": "Compose",
                              "inputs": "@coalesce(formatDateTime(outputs('Get_Desktop_Flow_from_CoE')?['body/admin_rpamodifiedon'], 'yyyy-MM-dd HH:mm:ss'), '')"
                            },
                            "Get_Desktop_Flow_from_CoE": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "5827ef59-a98b-4c2c-ad21-ee2123818897"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_rpas",
                                  "recordId": "@outputs('flowGUID')",
                                  "$select": "admin_name, admin_rpamodifiedon"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "da148b46-6b39-46d8-96ab-d3cc1e53ab53"
                          },
                          "type": "Scope"
                        }
                      },
                      "runAfter": {
                        "If_did_not_return_rows_then_new_to_Coe_else_get_GUID": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Maker_Check_-_New": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "59dc6293-002e-4aa2-bb1c-cbce71a1429f"
                            },
                            "type": "Workflow",
                            "inputs": {
                              "host": {
                                "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                              },
                              "body": {
                                "text": "@if(equals(body('Get_Desktop_Flow_Owner')?['azureactivedirectoryobjectid'], null), '', body('Get_Desktop_Flow_Owner')?['azureactivedirectoryobjectid'])",
                                "text_1": "@body('Get_Desktop_Flow_Owner')?['fullname']",
                                "boolean": false
                              }
                            }
                          },
                          "Check_if_Orphan_-_New": {
                            "actions": {
                              "Create__Desktop_Flow_(Orphaned)": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "3f1e0a27-d619-4887-a35a-8857ba69c4ac"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "CreateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "admin_rpas",
                                    "item/admin_name": "@items('For_each_Desktop_Flow')?['workflowid']",
                                    "item/admin_rpacreatedon": "@items('For_each_Desktop_Flow')?['createdon']",
                                    "item/admin_displayname": "@items('For_each_Desktop_Flow')?['name']",
                                    "item/admin_DesktopflowEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                    "item/admin_rpaenvironment": "@triggerOutputs()?['body/admin_displayname']",
                                    "item/admin_rpaisorphaned": "yes",
                                    "item/admin_rpamodifiedon": "@items('For_each_Desktop_Flow')?['modifiedon']",
                                    "item/admin_rpastate": "@items('For_each_Desktop_Flow')?['_componentstate_label']",
                                    "item/admin_uiflowtype": "@items('For_each_Desktop_Flow')?['_uiflowtype_label']",
                                    "item/admin_rpauniquename": "@outputs('UniqueNameString')",
                                    "item/admin_url": "@body('Parse_RPA_JSON')?['properties']?['definition']?['url']"
                                  },
                                  "authentication": "@parameters('$authentication')",
                                  "retryPolicy": {
                                    "type": "exponential",
                                    "count": 10,
                                    "interval": "PT10S"
                                  }
                                }
                              },
                              "Update_Record_GUID_as_String_-_orphan": {
                                "runAfter": {
                                  "Create__Desktop_Flow_(Orphaned)": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "caa9c079-4d11-4faa-b444-878c58eaeeb2"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_2",
                                    "operationId": "UpdateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "admin_rpas",
                                    "recordId": "@outputs('Create__Desktop_Flow_(Orphaned)')?['body/admin_rpaid']",
                                    "item/admin_rpauniquename": "@outputs('Create__Desktop_Flow_(Orphaned)')?['body/admin_rpaid']"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            },
                            "runAfter": {
                              "Maker_Check_-_New": [
                                "Succeeded"
                              ]
                            },
                            "else": {
                              "actions": {
                                "Create_Desktop_Flow": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "62abfad9-080e-430d-b406-fd101318a9cd"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps_1",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_rpas",
                                      "item/admin_name": "@items('For_each_Desktop_Flow')?['workflowid']",
                                      "item/admin_rpacreatedon": "@items('For_each_Desktop_Flow')?['createdon']",
                                      "item/admin_displayname": "@items('For_each_Desktop_Flow')?['name']",
                                      "item/admin_DesktopflowEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                      "item/admin_rpaenvironment": "@triggerOutputs()?['body/admin_displayname']",
                                      "item/admin_rpaisorphaned": "no",
                                      "item/admin_rpamodifiedon": "@items('For_each_Desktop_Flow')?['modifiedon']",
                                      "item/admin_RPAOwner@odata.bind": "admin_makers(@{outputs('Maker_Check_-_New')?['Body']?['userid']})",
                                      "item/admin_rpastate": "@items('For_each_Desktop_Flow')?['_componentstate_label']",
                                      "item/admin_uiflowtype": "@items('For_each_Desktop_Flow')?['_uiflowtype_label']",
                                      "item/admin_rpauniquename": "@outputs('UniqueNameString')",
                                      "item/admin_url": "@body('Parse_RPA_JSON')?['properties']?['definition']?['url']"
                                    },
                                    "authentication": "@parameters('$authentication')",
                                    "retryPolicy": {
                                      "type": "exponential",
                                      "count": 10,
                                      "interval": "PT10S"
                                    }
                                  }
                                },
                                "Record_GUID_as_String": {
                                  "runAfter": {
                                    "Create_Desktop_Flow": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "4b3ef1ba-2733-450a-a06f-60a4ee2942b3"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps_2",
                                      "operationId": "UpdateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_rpas",
                                      "recordId": "@outputs('Create_Desktop_Flow')?['body/admin_rpaid']",
                                      "item/admin_recordguidasstring": "@outputs('Create_Desktop_Flow')?['body/admin_rpaid']"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              }
                            },
                            "expression": {
                              "equals": [
                                "@outputs('Maker_Check_-_New')?['Body']?['userisorphan']",
                                "True"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "46906b52-89d4-491f-a03c-65a5f9c0f40d"
                            },
                            "type": "If"
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@variables('isNewToCoE')",
                          "@false"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3c2d1c39-30ec-4bd6-9c78-82461022d972"
                      },
                      "type": "If"
                    },
                    "UniqueNameString": {
                      "runAfter": {
                        "Parse_RPA_JSON": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c223ff55-c16f-451e-8dcc-bf7389e8d93d"
                      },
                      "type": "Compose",
                      "inputs": "@concat(triggerOutputs()?['body/admin_environmentid'], '_', items('For_each_Desktop_Flow')?['ItemInternalId'])",
                      "description": "concat(triggerOutputs()?['body/admin_environmentid'], '_', items('For_each_Desktop_Flow')?['ItemInternalId'])"
                    },
                    "List_Desktop_Flows_that_match_by_Unique_Name": {
                      "runAfter": {
                        "Get_Desktop_Flow_Owner": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c6efef1e-e024-4348-8e1f-1576f9c815b3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_rpas",
                          "$select": "admin_rpaid, admin_rpamodifiedon",
                          "$filter": "admin_rpauniquename eq '@{outputs('UniqueNameString')}'"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "If_did_not_return_rows_then_new_to_Coe_else_get_GUID": {
                      "actions": {
                        "Set_isNewToCoE_to_true": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "b9e856a8-f1d6-4eff-81e3-20473feea4e3"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "isNewToCoE",
                            "value": "@true"
                          }
                        }
                      },
                      "runAfter": {
                        "List_Desktop_Flows_that_match_by_Unique_Name": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "flowGUID": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "6e76a3f7-b4f8-4443-9231-fe7914fa0550"
                            },
                            "type": "Compose",
                            "inputs": "@first(outputs('List_Desktop_Flows_that_match_by_Unique_Name')?['body/value'])['admin_rpaid']",
                            "description": "first(outputs('List_Desktop_Flows_that_match_by_Unique_Name')?['body/value'])['admin_rpaid']"
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@length(outputs('List_Desktop_Flows_that_match_by_Unique_Name')?['body/value'])",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c368680d-7bc3-4c97-b8cc-77d24741ac01"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Reset_DesktopFlowNeedsUpdateToCoE": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@items('For_each_Desktop_Flow')?['clientdata']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "284b9b16-826d-43bf-8f19-dfeb47d735ae"
                  },
                  "type": "If"
                },
                "Reset_DesktopFlowNeedsUpdateToCoE": {
                  "runAfter": {
                    "Reset_isNewToCoE": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b12d2288-6b7d-4cf7-9558-742f38eef739"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DesktopFlowNeedsUpdateToCoE",
                    "value": "@false"
                  }
                },
                "Reset_isNewToCoE": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "55dc8f76-8748-4ecc-bb17-0ddffb15c5c8"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "isNewToCoE",
                    "value": "@false"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f431db5e-71bf-4a63-a629-a99552c34dc8"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable_fullInventory": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7fabdbe3-cca0-4e6b-9f0b-b9ac39bea0b9"
          },
          "type": "Scope"
        },
        "Put_Desktop_Flows_in_CoE_failed_-_Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2eaef1d8-85c6-4491-8537-cee32a7ac2cd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "Admin | Sync Template v3 (RPA)",
                  "item/admin_environmentname": "@triggerOutputs()?['body/admin_displayname']",
                  "item/admin_flowinstanceurl": "@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "523fb189-e675-485e-ab85-02c254a8fdca"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "500",
                  "message": "Get RPAs Failed"
                }
              }
            }
          },
          "runAfter": {
            "Put_Desktop_Flows_in_CoE": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "34774f99-349c-4431-83d5-0fda0ae7d6b2"
          },
          "type": "Scope"
        },
        "Clean_up_Envt_-_github_2755": {
          "actions": {
            "List_Desktop_Flows_with_no_Unique_Name": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c6efef1e-e024-4348-8e1f-1576f9c815b3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_rpas",
                  "$select": "admin_rpaid, admin_rpamodifiedon",
                  "$filter": "admin_rpauniquename eq null and admin_rpadeleted ne true"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Mark_all_old_GUID_style_flows_as_deleted": {
              "foreach": "@outputs('List_Desktop_Flows_with_no_Unique_Name')?['body/value']",
              "actions": {
                "Mark_deleted_to_avoid_double_count": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "66ed6675-90a4-4a5c-b001-deccb764ed2f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_rpas",
                      "recordId": "@items('Mark_all_old_GUID_style_flows_as_deleted')?['admin_rpaid']",
                      "item/admin_rpadeleted": true,
                      "item/admin_rpadeletedon": "@utcNow()"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_Desktop_Flows_with_no_Unique_Name": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "48dadcd3-8e09-4b6e-bc56-8eff3363bdef"
              },
              "type": "Foreach"
            },
            "List_new_style_desktop_flows_created_this_week": {
              "runAfter": {
                "Mark_all_old_GUID_style_flows_as_deleted": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c2a2cfb8-b37a-4917-9277-5f47a9d36121"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_rpas",
                  "$select": "admin_name, admin_rpaid",
                  "$filter": "admin_rpauniquename ne null and createdon gt @{addDays(utcNow(), -7)}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_new_flow_type": {
              "foreach": "@outputs('List_new_style_desktop_flows_created_this_week')?['body/value']",
              "actions": {
                "Get_old_style_GUID_of_this_record": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9d6d1323-8f77-4cc0-8a36-639c12e4a039"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_rpas",
                      "recordId": "@items('Apply_to_each_new_flow_type')?['admin_name']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Catch_it_did_not_exists": {
                  "runAfter": {
                    "Get_old_style_GUID_of_this_record": [
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bfab5210-bf12-440b-bfd0-324cc246aaf7"
                  },
                  "type": "Compose",
                  "inputs": "catch it did not exist"
                },
                "Update_properties_of_new_GUID_type": {
                  "runAfter": {
                    "Catch_it_did_not_exists": [
                      "Skipped"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e449ae0d-1dde-474d-bf99-75c7e6a680f7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_rpas",
                      "recordId": "@items('Apply_to_each_new_flow_type')?['admin_rpaid']",
                      "item/admin_adminrequirementreviewedrpa": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_adminrequirementreviewedrpa']",
                      "item/admin_adminrequirementriskassessment": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_adminrequirementriskassessment']",
                      "item/admin_adminrequirementriskassessmentstate": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_adminrequirementriskassessmentstate']",
                      "item/admin_applicationname": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_applicationname']",
                      "item/admin_compliancerequestedon": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_compliancerequestedon']",
                      "item/admin_rpadescription": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_rpadescription']",
                      "item/admin_makerrequirementbusinessimpact": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_makerrequirementbusinessimpact']",
                      "item/admin_makerrequirementbusinessjustification": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_makerrequirementbusinessjustification']",
                      "item/admin_makerrequirementdependencies": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_makerrequirementdependencies']",
                      "item/admin_makersubmittedrequirements": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_makersubmittedrequirements']",
                      "item/admin_mitigationplanprovided": "@outputs('Get_old_style_GUID_of_this_record')?['body/admin_mitigationplanprovided']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_new_style_desktop_flows_created_this_week": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8cf400e9-b363-4bc5-8a14-f930d60374da"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Put_Desktop_Flows_in_CoE_failed_-_Error_Handling": [
              "Skipped",
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e04ebefd-3f56-469b-983e-f674fb12f9da"
          },
          "type": "Scope",
          "description": "july 2022 we will mark the old guid style rpas as deleted so they dont double show in reports while the work is done to map the runs to the new guids. later we will delete these"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}