CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/AdminSyncTemplatev3CustomConnectors-AE1EF367-1B3E-EB11-A813-000D3A8F4AD6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_sharedcommondataserviceforapps_98924"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerappsforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsAdmin2"
        },
        "api": {
          "name": "shared_powerappsforadmins"
        }
      },
      "shared_powerappsforappmakers": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsMakers"
        },
        "api": {
          "name": "shared_powerappsforappmakers"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        }
      },
      "triggers": {
        "When_a_record_is_created_or_updated": {
          "metadata": {
            "operationMetadataId": "d26ccf47-c388-4609-8738-670162769be4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "admin_environment",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_if_Environment_Deleted,_terminate_if_true": {
          "actions": {
            "Terminate_for_environments_marked_deleted": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c96f244b-3c1d-43b6-b930-9df94f180269"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_environmentdeleted']",
                  "@true"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_excusefrominventory']",
                  "@true"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "63dea944-5e5f-41f8-afd4-50360d37b9d5"
          },
          "type": "If"
        },
        "Get_Custom_Connectors_and_store_them_in_CoE_CDS_Entity": {
          "actions": {
            "Filter_to_custom_connectors": {
              "runAfter": {
                "Get_Connectors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "190586f3-7050-46f6-99bc-ca562750d4d9"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_Connectors')?['body/value']",
                "where": "@equals(item()?['properties/isCustomApi'], true)"
              }
            },
            "Apply_to_each_custom_connector": {
              "foreach": "@body('Filter_to_custom_connectors')",
              "actions": {
                "Get_Custom_Connector_Record": {
                  "runAfter": {
                    "Compose_isHTTP_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "60cec6d2-4ca6-4b62-b599-5826ec936ad0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_connectors",
                      "$select": "admin_connectorid",
                      "$filter": "admin_name eq '@{items('Apply_to_each_custom_connector')?['name']}'"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                },
                "Compose_custom_connector_guid": {
                  "runAfter": {
                    "Get_Custom_Connector_Record": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cd6c4711-b41a-41dc-bf6f-bd65d10f9e79"
                  },
                  "type": "Compose",
                  "inputs": "@if(empty(outputs('Get_Custom_Connector_Record')?['body']), guid(), first(outputs('Get_Custom_Connector_Record')?['body/value'])?['admin_connectorid'])"
                },
                "Insert_or_Update_Custom_Connector": {
                  "actions": {
                    "Maker_Check_-_Edit": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "a128ad51-9558-4d3d-b4e5-f7560260f0eb"
                      },
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                        },
                        "body": {
                          "text": "@if(equals(items('Apply_to_each_custom_connector')?['properties/createdBy/id'], null), '', items('Apply_to_each_custom_connector')?['properties/createdBy/id'])",
                          "boolean": false
                        }
                      }
                    },
                    "Check_if_Orphan_-_Edit": {
                      "actions": {
                        "Update_Custom_Connector_record_-_orphan": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "6fd5a38f-e88f-4637-bdd0-949a1cce2da4"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_connectors",
                              "recordId": "@outputs('Compose_custom_connector_guid')",
                              "item/admin_displayname": "@items('Apply_to_each_custom_connector')?['properties/displayName']",
                              "item/admin_name": "@items('Apply_to_each_custom_connector')?['name']",
                              "item/admin_backgroundcolor": "@items('Apply_to_each_custom_connector')?['properties/iconBrandColor']",
                              "item/admin_connectorcreateddatetime": "@items('Apply_to_each_custom_connector')?['properties/createdTime']",
                              "item/admin_connectordeleted": false,
                              "item/admin_environmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                              "item/admin_iconuri": "@items('Apply_to_each_custom_connector')?['properties/iconUri']",
                              "item/admin_appisorphaned": "yes",
                              "item/admin_connectormodified": "@items('Apply_to_each_custom_connector')?['properties/changedTime']",
                              "item/admin_customconnectorhost": "@items('Apply_to_each_custom_connector')?['properties/backendService/serviceUrl']",
                              "item/admin_customconnectorhostishttp": "@outputs('Compose_isHTTP_2')",
                              "item/admin_EnvironmentCustomConnector@odata.bind": "admin_environments(@{triggerOutputs()?['body/admin_environmentid']})",
                              "item/admin_iscustomapi": true,
                              "item/admin_recordguidasstring": "@outputs('Compose_custom_connector_guid')",
                              "item/admin_tier": "Custom"
                            },
                            "authentication": "@parameters('$authentication')",
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 10,
                              "interval": "PT10S"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Maker_Check_-_Edit": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Update_Custom_Connector_record": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "16492bd4-17b5-45d5-8207-eebc3c1f383b"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "UpdateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_connectors",
                                "recordId": "@outputs('Compose_custom_connector_guid')",
                                "item/admin_displayname": "@items('Apply_to_each_custom_connector')?['properties/displayName']",
                                "item/admin_name": "@items('Apply_to_each_custom_connector')?['name']",
                                "item/admin_backgroundcolor": "@items('Apply_to_each_custom_connector')?['properties/iconBrandColor']",
                                "item/admin_connectorcreateddatetime": "@items('Apply_to_each_custom_connector')?['properties/createdTime']",
                                "item/admin_connectorcreatordisplayname": "@outputs('Maker_Check_-_Edit')?['Body']?['userdisplayname']",
                                "item/admin_connectordeleted": false,
                                "item/admin_environmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                "item/admin_iconuri": "@items('Apply_to_each_custom_connector')?['properties/iconUri']",
                                "item/admin_appisorphaned": "no",
                                "item/admin_connectormodified": "@items('Apply_to_each_custom_connector')?['properties/changedTime']",
                                "item/admin_customconnectorhost": "@items('Apply_to_each_custom_connector')?['properties/backendService/serviceUrl']",
                                "item/admin_customconnectorhostishttp": "@outputs('Compose_isHTTP_2')",
                                "item/admin_EnvironmentCustomConnector@odata.bind": "admin_environments(@{triggerOutputs()?['body/admin_environmentid']})",
                                "item/admin_iscustomapi": true,
                                "item/admin_Maker@odata.bind": "admin_makers(@{body('Maker_Check_-_Edit')?['userid']})",
                                "item/admin_recordguidasstring": "@outputs('Compose_custom_connector_guid')",
                                "item/admin_tier": "Custom"
                              },
                              "authentication": "@parameters('$authentication')",
                              "retryPolicy": {
                                "type": "exponential",
                                "count": 10,
                                "interval": "PT10S"
                              }
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@outputs('Maker_Check_-_Edit')?['Body']?['userisorphan']",
                          "True"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b7358272-b0a7-40af-abe2-376ea567c519"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Compose_custom_connector_guid": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Maker_Check_-_New": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "b443aa3d-d28e-4f49-a59d-95dbf197feac"
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                          },
                          "body": {
                            "text": "@if(equals(items('Apply_to_each_custom_connector')?['properties/createdBy/id'], null), '', items('Apply_to_each_custom_connector')?['properties/createdBy/id'])",
                            "boolean": false
                          }
                        }
                      },
                      "Check_if_Orphan_-_New": {
                        "actions": {
                          "Insert_Custom_Connector_record_-_orphan": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "017c5a0d-557f-4b2c-8220-d0cbc260b838"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_connectors",
                                "item/admin_displayname": "@items('Apply_to_each_custom_connector')?['properties/displayName']",
                                "item/admin_name": "@items('Apply_to_each_custom_connector')?['name']",
                                "item/admin_backgroundcolor": "@items('Apply_to_each_custom_connector')?['properties/iconBrandColor']",
                                "item/admin_connectorcreateddatetime": "@items('Apply_to_each_custom_connector')?['properties/createdTime']",
                                "item/admin_connectordeleted": false,
                                "item/admin_environmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                "item/admin_iconuri": "@items('Apply_to_each_custom_connector')?['properties/iconUri']",
                                "item/admin_appisorphaned": "yes",
                                "item/admin_connectormodified": "@items('Apply_to_each_custom_connector')?['properties/changedTime']",
                                "item/admin_customconnectorhost": "@items('Apply_to_each_custom_connector')?['properties/backendService/serviceUrl']",
                                "item/admin_customconnectorhostishttp": "@outputs('Compose_isHTTP_2')",
                                "item/admin_EnvironmentCustomConnector@odata.bind": "admin_environments(@{triggerOutputs()?['body/admin_environmentid']})",
                                "item/admin_iscustomapi": true,
                                "item/admin_tier": "Custom"
                              },
                              "authentication": "@parameters('$authentication')",
                              "retryPolicy": {
                                "type": "exponential",
                                "count": 10,
                                "interval": "PT10S"
                              }
                            }
                          },
                          "Update_Record_GUID_as_String_-_orphan": {
                            "runAfter": {
                              "Insert_Custom_Connector_record_-_orphan": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "a6221be5-beca-46ce-a3f2-7fa07be5c546"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "UpdateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_connectors",
                                "recordId": "@outputs('Insert_Custom_Connector_record_-_orphan')?['body/admin_connectorid']",
                                "item/admin_recordguidasstring": "@outputs('Insert_Custom_Connector_record_-_orphan')?['body/admin_connectorid']"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Maker_Check_-_New": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {
                            "Insert_Custom_Connector_record": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "bedab6c9-f662-48c8-9fe7-64e681e7118b"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_connectors",
                                  "item/admin_displayname": "@items('Apply_to_each_custom_connector')?['properties/displayName']",
                                  "item/admin_name": "@items('Apply_to_each_custom_connector')?['name']",
                                  "item/admin_backgroundcolor": "@items('Apply_to_each_custom_connector')?['properties/iconBrandColor']",
                                  "item/admin_connectorcreateddatetime": "@items('Apply_to_each_custom_connector')?['properties/createdTime']",
                                  "item/admin_connectorcreatordisplayname": "@outputs('Maker_Check_-_New')?['Body']?['userdisplayname']",
                                  "item/admin_connectordeleted": false,
                                  "item/admin_environmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                  "item/admin_iconuri": "@items('Apply_to_each_custom_connector')?['properties/iconUri']",
                                  "item/admin_appisorphaned": "no",
                                  "item/admin_connectormodified": "@items('Apply_to_each_custom_connector')?['properties/changedTime']",
                                  "item/admin_customconnectorhost": "@items('Apply_to_each_custom_connector')?['properties/backendService/serviceUrl']",
                                  "item/admin_customconnectorhostishttp": "@outputs('Compose_isHTTP_2')",
                                  "item/admin_EnvironmentCustomConnector@odata.bind": "admin_environments(@{triggerOutputs()?['body/admin_environmentid']})",
                                  "item/admin_iscustomapi": true,
                                  "item/admin_Maker@odata.bind": "admin_makers(@{body('Maker_Check_-_New')?['userid']})",
                                  "item/admin_tier": "Custom"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            },
                            "Update_Record_GUID_as_String": {
                              "runAfter": {
                                "Insert_Custom_Connector_record": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "dc1cf966-238f-445f-b7a2-85743a2b523c"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_connectors",
                                  "recordId": "@outputs('Insert_Custom_Connector_record')?['body/admin_connectorid']",
                                  "item/admin_recordguidasstring": "@outputs('Insert_Custom_Connector_record')?['body/admin_connectorid']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@body('Maker_Check_-_New')?['userisorphan']",
                            "True"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "04c8f681-15f6-48ad-9d00-753c16fd7542"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@length(outputs('Get_Custom_Connector_Record')?['body/value'])",
                        0
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "704eead7-694b-4708-abb0-11cf7f0f99b2"
                  },
                  "type": "If"
                },
                "Compose_isHTTP_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "efc8fdf6-f156-4c77-90c8-12e18c5cb42f"
                  },
                  "type": "Compose",
                  "inputs": "@if(equals(split(items('Apply_to_each_custom_Connector')?['properties/backendService/serviceUrl'], ':')[0], 'http'), true, false)"
                }
              },
              "runAfter": {
                "Filter_to_custom_connectors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c019e256-000a-4d8e-9a4a-4b53d4203eb7"
              },
              "type": "Foreach"
            },
            "Get_Custom_Connectors_as_Admin": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2b055a0a-f93b-4262-a350-589ac33e3d03"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerappsforadmins",
                  "operationId": "Get-AdminConnectors",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                },
                "parameters": {
                  "environment": "@triggerOutputs()?['body/admin_environmentname']",
                  "api-version": "2017-05-01",
                  "$top": 250
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              }
            },
            "Get_Connectors": {
              "runAfter": {
                "Apply_to_each_Connector": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fd978791-21e0-4370-a018-26f8414cf7fe"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerappsforappmakers",
                  "operationId": "Get-Connectors",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"
                },
                "parameters": {
                  "showApisWithToS": "true",
                  "$filter": "environment eq '@{triggerOutputs()?['body/admin_environmentname']}'",
                  "api-version": "2016-11-01",
                  "$top": 250
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              }
            },
            "Apply_to_each_Connector": {
              "foreach": "@outputs('Get_Custom_Connectors_as_Admin')?['body/value']",
              "actions": {
                "Get_Connector_Record": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2edb216e-c1cd-49a7-a328-c4ff988beb6c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_connectors",
                      "$select": "admin_connectorid",
                      "$filter": "admin_name eq '@{items('Apply_to_each_Connector')?['name']}'"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                },
                "Compose_connector_upsert_guid": {
                  "runAfter": {
                    "Compose_isHTTP": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "adde63ea-19e2-4ffb-b117-6627678616ac"
                  },
                  "type": "Compose",
                  "inputs": "@if(empty(outputs('Get_Connector_Record')?['body']), guid(), first(outputs('Get_Connector_Record')?['body/value'])?['admin_connectorid'])"
                },
                "See_if_already_in_CoE": {
                  "actions": {
                    "Maker_Check_-_Edit_Connector": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "06afca0d-a5fb-4ac5-892d-83b2dd175d2d"
                      },
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                        },
                        "body": {
                          "text": "@if(equals(items('Apply_to_each_Connector')?['properties/createdBy/id'], null), '', items('Apply_to_each_Connector')?['properties/createdBy/id'])",
                          "boolean": false
                        }
                      }
                    },
                    "Check_if_Orphan_-_Edit_Connector": {
                      "actions": {
                        "Update_Custom_Connector_(orphaned)": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "af899fb4-10c9-425d-b59b-e6146a7c8d3d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_connectors",
                              "recordId": "@outputs('Compose_connector_upsert_guid')",
                              "item/admin_displayname": "@items('Apply_to_each_Connector')?['properties/displayName']",
                              "item/admin_name": "@items('Apply_to_each_Connector')?['name']",
                              "item/admin_backgroundcolor": "@items('Apply_to_each_Connector')?['properties/iconBrandColor']",
                              "item/admin_connectorcreateddatetime": "@items('Apply_to_each_Connector')?['properties/createdTime']",
                              "item/admin_connectordeleted": false,
                              "item/admin_environmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                              "item/admin_iconuri": "@items('Apply_to_each_Connector')?['properties/iconUri']",
                              "item/admin_appisorphaned": "yes",
                              "item/admin_connectormodified": "@items('Apply_to_each_Connector')?['properties/changedTime']",
                              "item/admin_customconnectorhost": "@items('Apply_to_each_Connector')?['properties/backendService/serviceUrl']",
                              "item/admin_customconnectorhostishttp": "@outputs('Compose_isHTTP')",
                              "item/admin_EnvironmentCustomConnector@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                              "item/admin_iscustomapi": true,
                              "item/admin_tier": "Custom"
                            },
                            "authentication": "@parameters('$authentication')",
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 10,
                              "interval": "PT10S"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Maker_Check_-_Edit_Connector": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Update_Custom_Connector": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "e00024d2-879a-4fd7-9b33-4cb22cdcb266"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "UpdateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_connectors",
                                "recordId": "@outputs('Compose_connector_upsert_guid')",
                                "item/admin_displayname": "@items('Apply_to_each_Connector')?['properties/displayName']",
                                "item/admin_name": "@items('Apply_to_each_Connector')?['name']",
                                "item/admin_backgroundcolor": "@items('Apply_to_each_Connector')?['properties/iconBrandColor']",
                                "item/admin_connectorcreateddatetime": "@items('Apply_to_each_Connector')?['properties/createdTime']",
                                "item/admin_connectorcreatordisplayname": "@outputs('Maker_Check_-_Edit_Connector')?['Body']?['userdisplayname']",
                                "item/admin_connectordeleted": false,
                                "item/admin_environmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                "item/admin_iconuri": "@items('Apply_to_each_Connector')?['properties/iconUri']",
                                "item/admin_appisorphaned": "no",
                                "item/admin_connectormodified": "@items('Apply_to_each_Connector')?['properties/changedTime']",
                                "item/admin_customconnectorhost": "@items('Apply_to_each_Connector')?['properties/backendService/serviceUrl']",
                                "item/admin_customconnectorhostishttp": "@outputs('Compose_isHTTP')",
                                "item/admin_EnvironmentCustomConnector@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                "item/admin_iscustomapi": true,
                                "item/admin_Maker@odata.bind": "admin_makers(@{body('Maker_Check_-_Edit_Connector')?['userid']})",
                                "item/admin_tier": "Custom"
                              },
                              "authentication": "@parameters('$authentication')",
                              "retryPolicy": {
                                "type": "exponential",
                                "count": 10,
                                "interval": "PT10S"
                              }
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@outputs('Maker_Check_-_Edit_Connector')?['Body']?['userisorphan']",
                          "True"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a06eb718-ec1f-411a-8ca9-60e67afd98c7"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Compose_connector_upsert_guid": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Maker_Check_-_New_Connector": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "b3a42748-adae-45f5-adf0-d0a909b4e045"
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                          },
                          "body": {
                            "text": "@if(equals(items('Apply_to_each_Connector')?['properties/createdBy/id'], null), '', items('Apply_to_each_Connector')?['properties/createdBy/id'])",
                            "boolean": false
                          }
                        }
                      },
                      "Check_if_Orphan_-_New_Connector": {
                        "actions": {
                          "Create_Custom_Connector_(orphaned)": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "6fcfc78a-35b2-4165-9090-ff465d3c2843"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_connectors",
                                "item/admin_displayname": "@items('Apply_to_each_Connector')?['properties/displayName']",
                                "item/admin_name": "@items('Apply_to_each_Connector')?['name']",
                                "item/admin_backgroundcolor": "@items('Apply_to_each_Connector')?['properties/iconBrandColor']",
                                "item/admin_connectorcreateddatetime": "@items('Apply_to_each_Connector')?['properties/createdTime']",
                                "item/admin_connectordeleted": false,
                                "item/admin_environmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                "item/admin_iconuri": "@items('Apply_to_each_Connector')?['properties/iconUri']",
                                "item/admin_appisorphaned": "yes",
                                "item/admin_connectormodified": "@items('Apply_to_each_Connector')?['properties/changedTime']",
                                "item/admin_customconnectorhost": "@items('Apply_to_each_Connector')?['properties/backendService/serviceUrl']",
                                "item/admin_customconnectorhostishttp": "@outputs('Compose_isHTTP')",
                                "item/admin_EnvironmentCustomConnector@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                "item/admin_iscustomapi": true,
                                "item/admin_tier": "Custom"
                              },
                              "authentication": "@parameters('$authentication')",
                              "retryPolicy": {
                                "type": "exponential",
                                "count": 10,
                                "interval": "PT10S"
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "Maker_Check_-_New_Connector": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {
                            "Create_Custom_Connector": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "00412129-bbac-4c61-8bd8-6e3283a82a32"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_connectors",
                                  "item/admin_displayname": "@items('Apply_to_each_Connector')?['properties/displayName']",
                                  "item/admin_name": "@items('Apply_to_each_Connector')?['name']",
                                  "item/admin_backgroundcolor": "@items('Apply_to_each_Connector')?['properties/iconBrandColor']",
                                  "item/admin_connectorcreateddatetime": "@items('Apply_to_each_Connector')?['properties/createdTime']",
                                  "item/admin_connectorcreatordisplayname": "@outputs('Maker_Check_-_New_Connector')?['Body']?['userdisplayname']",
                                  "item/admin_connectordeleted": false,
                                  "item/admin_environmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                  "item/admin_iconuri": "@items('Apply_to_each_Connector')?['properties/iconUri']",
                                  "item/admin_appisorphaned": "no",
                                  "item/admin_connectormodified": "@items('Apply_to_each_Connector')?['properties/changedTime']",
                                  "item/admin_customconnectorhost": "@items('Apply_to_each_Connector')?['properties/backendService/serviceUrl']",
                                  "item/admin_customconnectorhostishttp": "@outputs('Compose_isHTTP')",
                                  "item/admin_EnvironmentCustomConnector@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                  "item/admin_iscustomapi": true,
                                  "item/admin_Maker@odata.bind": "admin_makers(@{body('Maker_Check_-_New_Connector')?['userid']})",
                                  "item/admin_tier": "Custom"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@outputs('Maker_Check_-_New_Connector')?['Body']?['userisorphan']",
                            "True"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "dcd45f0b-96d0-4b7f-805b-e36f2b8058e0"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@length(outputs('Get_Connector_Record')?['body/value'])",
                        0
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "504b09e8-2968-4a74-bff1-9ef735c814f4"
                  },
                  "type": "If"
                },
                "Compose_isHTTP": {
                  "runAfter": {
                    "Get_Connector_Record": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "494ad5a9-cba4-413b-befe-9c4a43bbe3a5"
                  },
                  "type": "Compose",
                  "inputs": "@if(equals(split(items('Apply_to_each_Connector')?['properties/backendService/serviceUrl'], ':')[0], 'http'), true, false)"
                }
              },
              "runAfter": {
                "Get_Custom_Connectors_as_Admin": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "39e0a1f6-0965-4b21-97aa-817b914cfa41"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable_flowEnvironment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "246a6196-0b55-46a2-a98f-7f57b68b3ed6"
          },
          "type": "Scope"
        },
        "Get_Custom_Connectors_fails_-_Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c525de68-a0d1-429d-813c-815b43ed43fe"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "Admin | Sync Template v3 (Custom Connectors)",
                  "item/admin_environmentname": "@triggerOutputs()?['body/admin_displayname']",
                  "item/admin_flowinstanceurl": "@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b1d1e6a4-5011-4195-a95b-dc486d0c573d"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "500",
                  "message": "Get Custom Connectors Failed"
                }
              }
            }
          },
          "runAfter": {
            "Get_Custom_Connectors_and_store_them_in_CoE_CDS_Entity": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3d2c33a-9aee-43da-b94b-0e71ac2a817f"
          },
          "type": "Scope"
        },
        "Initialize_variable_flowEnvironment": {
          "runAfter": {
            "Initialize_variable_today": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b1869c0d-3d55-41d2-aba9-9ccff7c0ce47"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "flowEnvironment",
                "type": "string",
                "value": "@parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)')"
              }
            ]
          },
          "description": "Environment location specific Flow URL - remember / at the end"
        },
        "Initialize_variable_today": {
          "runAfter": {
            "Check_if_Environment_Deleted,_terminate_if_true": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "da089250-9915-4fb8-84cb-c9d3909a1cb6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "today",
                "type": "string",
                "value": "@{utcNow()}"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}