CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/AdminComplianceDetailsRequesteMailChatbots-D7582303-21BB-EC11-983F-000D3A571551.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)": {
          "defaultValue": "fake link here",
          "type": "String",
          "metadata": {
            "schemaName": "admin_DeveloperComplianceCenterURL",
            "description": "LEAVE EMPTY ON IMPORT.  URL to Developer Compliance Center Canvas App. "
          }
        },
        "Admin eMail (admin_AdminMail)": {
          "defaultValue": "adelev@pplatform.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdminMail",
            "description": "CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list"
          }
        },
        "ProductionEnvironment (admin_ProductionEnvironment)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ProductionEnvironment",
            "description": "Yes by default. Set to No if you are creating a dev type envt. This will allow some flows to set target users to the admin instead of resource owners"
          }
        }
      },
      "triggers": {
        "When_Chatbot_Risk_Assessment_-_State_is_modified": {
          "metadata": {
            "operationMetadataId": "594e0311-3050-4b42-9f8a-51aa210e837b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "admin_pva",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_emailGUID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8243356f-c7ff-48f5-9126-da25fe595e3d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emailGUID",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_assignee": {
          "runAfter": {
            "Initialize_emailGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7bfd9f17-3c4d-444a-b175-d896b3fc6866"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAssignee",
                "type": "string"
              }
            ]
          }
        },
        "If_Admin_Risk_Assessment_State_is_Requested": {
          "actions": {
            "Send_Audit_Mail_to_Owner_Bots": {
              "runAfter": {
                "Get_Row_-_Send_Audit_Mail_to_Owner_-_Bots": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cde22ca8-5369-47d5-bc3e-5a4c6f3c5660"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                },
                "body": {
                  "email": "@variables('varAssignee')",
                  "text": "@outputs('Get_a_row_by_ID_3')?['body/admin_subject']",
                  "text_1": "@{outputs('Get_a_row_by_ID_3')?['body/admin_body']} \n\n<a href='@{parameters('Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)')}?chatbotName=@{triggerOutputs()?['body/admin_pvaid']}'>Developer Compliance Center</a><br><br>\n\n<b><u>Chatbot Details</u></b><br>\n<p><b>Display Name: </b> @{triggerOutputs()?['body/admin_pvadisplayname']} </p>\n<p><b>Environment: </b> @{triggerOutputs()?['body/admin_pvaenvironmentdisplayname']} </p>\n",
                  "email_1": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_cc'])",
                  "email_2": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_sendonbehalf'])",
                  "email_3": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_replyto'])",
                  "text_2": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_importance'])"
                }
              },
              "description": "87853f93-cd41-ec11-8c62-00224829bf00"
            },
            "Send_Audit_Mail_to_Admin_Bots": {
              "runAfter": {
                "Send_Audit_Mail_to_Owner_Bots": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "cde22ca8-5369-47d5-bc3e-5a4c6f3c5660"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                },
                "body": {
                  "email": "@variables('varAssignee')",
                  "text": "@{outputs('Get_a_row_by_ID_3')?['body/admin_subject']} -- REASSIGNED TO ADMIN",
                  "text_1": "REASSIGNED TO ADMIN <br>\n@{outputs('Get_a_row_by_ID_3')?['body/admin_body']}\n\n<a href='@{parameters('Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)')}?chatbotName=@{triggerOutputs()?['body/admin_pvaid']}'>Developer Compliance Center</a><br><br>\n\n<b><u>Chatbot Details</u></b><br>\n<p><b>Display Name: </b> @{triggerOutputs()?['body/admin_pvadisplayname']}</p>\n<p><b>Environment: </b> @{triggerOutputs()?['body/admin_pvaenvironmentdisplayname']}</p>\n",
                  "email_1": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_cc'])",
                  "email_2": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_sendonbehalf'])",
                  "email_3": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_replyto'])",
                  "text_2": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_importance'])"
                }
              },
              "description": "87853f93-cd41-ec11-8c62-00224829bf00"
            },
            "Check_maker_and_set_eMail_assignee": {
              "actions": {
                "Get_Maker": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "66e5fa34-f173-4f00-b714-4482408ed34b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_makers",
                      "recordId": "@triggerOutputs()?['body/_admin_pvaowner_value']",
                      "$select": "admin_displayname"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Check_if_Maker_is_orphaned": {
                  "actions": {
                    "Set_variable_to_Admin_eMail": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "31f7a560-efce-4a67-9ebc-1f972875a0f6"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varAssignee",
                        "value": "@{parameters('Admin eMail (admin_AdminMail)')}"
                      }
                    }
                  },
                  "runAfter": {
                    "Check_Maker_status": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_variable_to_Maker_eMail": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "23c6af05-f4fb-405a-86f3-3c8e07681441"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "varAssignee",
                          "value": "@body('Check_Maker_status')?['useremail']"
                        }
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@body('Check_Maker_status')?['userisorphan']",
                          "True"
                        ]
                      },
                      {
                        "equals": [
                          "@parameters('ProductionEnvironment (admin_ProductionEnvironment)')",
                          "@false"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2e428884-464c-47da-905c-008200042729"
                  },
                  "type": "If"
                },
                "Check_Maker_status": {
                  "runAfter": {
                    "Get_Maker": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "fe0c3165-0e98-4546-a12b-ccdd78385cb9"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                    },
                    "body": {
                      "text": "@triggerOutputs()?['body/_admin_pvaowner_value']",
                      "text_1": "@outputs('Get_Maker')?['body/admin_displayname']",
                      "boolean": false
                    }
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "39699716-8261-40dc-9422-67ce56f65a1e"
              },
              "type": "Scope"
            },
            "Get_Row_-_Send_Audit_Mail_to_Owner_-_Bots": {
              "actions": {
                "Get_a_row_by_ID_3": {
                  "runAfter": {
                    "Set_emailGUID_to_localized_row_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_customizedemails",
                      "recordId": "@variables('emailGUID')",
                      "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "List_emails_for_preferred_language_3": {
                  "runAfter": {
                    "emailGUID_to_en-US_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_customizedemails",
                      "$select": "admin_customizedemailid",
                      "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US_3')}' and admin_language eq '@{body('Check_Maker_status')?['userpreferredlanguage']}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_emailGUID_to_localized_row_3": {
                  "runAfter": {
                    "List_emails_for_preferred_language_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4c1f823f-63a0-4d98-b489-df53e0e934b7"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "emailGUID",
                    "value": "@{if(greater(length(outputs('List_emails_for_preferred_language_3')?['body/value']), 0), first(body('List_emails_for_preferred_language_3')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US_3'))}"
                  },
                  "description": "if(greater(length(outputs('List_emails_for_preferred_language_3')?['body/value']), 0), first(body('List_emails_for_preferred_language_3')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US_3'))"
                },
                "emailGUID_to_en-US_3": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d19afed8-4f91-4914-9cb7-fe89e74e1a6c"
                  },
                  "type": "Compose",
                  "inputs": "87853f93-cd41-ec11-8c62-00224829bf00"
                }
              },
              "runAfter": {
                "If_BPF_not_already_started_for_this_app,_start_it": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
              },
              "type": "Scope"
            },
            "If_BPF_not_already_started_for_this_app,_start_it": {
              "actions": {
                "Start_App_Audit_BPF": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ac86b0d9-2e77-430a-b3ba-a481ef2b84ca"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "new_chatbotapprovalbpfs",
                      "item/bpf_name": "Audit for @{triggerOutputs()?['body/admin_pvadisplayname']}",
                      "item/activestagestartedon": "@utcNow()",
                      "item/bpf_admin_pvaid@odata.bind": "admin_pvas(@{triggerOutputs()?['body/admin_pvaid']})"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                }
              },
              "runAfter": {
                "List_BPFs_for_this_App": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@length(outputs('List_BPFs_for_this_App')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "5ef038f2-c89f-4a80-a15e-d97a488087ab"
              },
              "type": "If"
            },
            "List_BPFs_for_this_App": {
              "runAfter": {
                "Check_maker_and_set_eMail_assignee": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "38657fe9-1fb8-406b-931b-61995e23c97d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "new_chatbotapprovalbpfs",
                  "$select": "businessprocessflowinstanceid",
                  "$filter": "_bpf_admin_pvaid_value eq '@{triggerOutputs()?['body/admin_pvaid']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_assignee": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_adminrequirementriskassessmentstate']",
              597910001
            ]
          },
          "metadata": {
            "operationMetadataId": "8d48ef52-baa1-44d0-aeb1-acd2f84670b1"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}