CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/AdminSyncTemplatev3ModelDrivenApps-B94B3718-C23F-EB11-A813-000D3A8F4AD6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseLegacy"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerplatformforadmins_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdmins"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "Inventory - REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        },
        "FullInventory (admin_FullInventory)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_FullInventory",
            "description": "Inventory - Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running "
          }
        },
        "Inventory and Telemetry in Azure Data Storage account (admin_InventoryandTelemetryinAzureDataStorageaccount)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_InventoryandTelemetryinAzureDataStorageaccount",
            "description": "Inventory - Have you set up data export in PPAC and is your inventory and telemetry in an Azure Data Storage folder (also referred to as Bring your own Datalake, self-serve analytics feature)"
          }
        }
      },
      "triggers": {
        "When_a_record_is_created_or_updated": {
          "metadata": {
            "operationMetadataId": "a0621d41-a585-4c7a-97fc-9e744f8195a9"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "admin_environment",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_if_CDS,_terminate_if_false": {
          "actions": {
            "Not_CDS_so_no_Model_Driven_Apps": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1bd5f7b3-aa2f-40c5-a6d0-67bbc2d717bc"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Check_if_Environment_Deleted_or_Inventory_in_BYODL,_terminate_if_true": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_hascds']",
              "@false"
            ]
          },
          "metadata": {
            "operationMetadataId": "4440a0f2-cf23-484d-9587-6946a6ee7641"
          },
          "type": "If"
        },
        "Check_if_Dev_SKU,_terminate_if_true": {
          "actions": {
            "Inquiry_not_supported_for_Dev_Sku": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "07a6b979-9dab-4f94-b95f-c357a54cb75c"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Check_if_CDS,_terminate_if_false": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_environmentsku']",
              "Developer"
            ]
          },
          "metadata": {
            "operationMetadataId": "4dd85ca3-5c81-4d3e-90ee-b5556f9d0877"
          },
          "type": "If"
        },
        "Check_if_Environment_Deleted_or_Inventory_in_BYODL,_terminate_if_true": {
          "actions": {
            "Terminate_for_environments_marked_deleted": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8393c639-d594-47ab-a1c2-6f3e33f29772"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_environmentdeleted']",
                  "@true"
                ]
              },
              {
                "equals": [
                  "@parameters('Inventory and Telemetry in Azure Data Storage account (admin_InventoryandTelemetryinAzureDataStorageaccount)')",
                  "@true"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_excusefrominventory']",
                  "@true"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "e165abd0-1603-49f2-a6a0-cf664881dbc2"
          },
          "type": "If"
        },
        "Check_if_Teams_SKU,_terminate_if_true": {
          "actions": {
            "Inquiry_not_supported_for_Teams_Sku": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cdfb59d4-ba2b-46ab-a63c-85f710056a20"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Check_if_Dev_SKU,_terminate_if_true": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_environmentsku']",
              "Teams"
            ]
          },
          "metadata": {
            "operationMetadataId": "8fb48f9d-524e-4eb4-bbed-1da1ae2b2bd6"
          },
          "type": "If"
        },
        "Get_App_Modules_Table._Fail_out_if_no_permissions_to_environment": {
          "actions": {
            "Fail_if_no_permissions": {
              "runAfter": {
                "List_Model_Driven_Apps": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "1584c6a7-1072-4b7f-9404-037001e58632"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "404",
                  "message": "No Perissions to CDS Table"
                }
              }
            },
            "List_Model_Driven_Apps": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3d217051-2de9-4b80-8178-97ce292ab250"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataservice_1",
                  "operationId": "GetItems_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                },
                "parameters": {
                  "dataset": "@triggerOutputs()?['body/admin_environmentcdsmetadataname']",
                  "table": "appmodules"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              }
            },
            "Count_apps": {
              "actions": {
                "Quit_if_no_apps": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f8a93c00-c6c9-4716-9e92-62ed6d148503"
                  },
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Succeeded"
                  }
                }
              },
              "runAfter": {
                "Fail_if_no_permissions": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@length(outputs('List_Model_Driven_Apps')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "b7370f16-6982-490a-92dd-0fd0001e2c79"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Check_if_Teams_SKU,_terminate_if_true": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8f07dd2-ba5f-4af1-aa27-1c57dbaa36ed"
          },
          "type": "Scope"
        },
        "Get_Model_Driven_Apps_and_store_in_CoE_CDS_Entity": {
          "actions": {
            "Apply_to_each_Model_Driven_App": {
              "foreach": "@outputs('List_Model_Driven_Apps')?['body/value']",
              "actions": {
                "Get_Owner_and_first_orphan_check": {
                  "actions": {
                    "Get_MDD_App_Creator": {
                      "runAfter": {
                        "Reset_isOrphaned_to_false": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e9d28fdd-e49e-42d0-9d62-e3c87831d4a0"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataservice_1",
                          "operationId": "GetItem_V2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                        },
                        "parameters": {
                          "dataset": "@triggerOutputs()?['body/admin_environmentcdsmetadataname']",
                          "table": "systemusers",
                          "id": "@body('Parse_Model_Driven_App_JSON')?['_createdby_value']"
                        },
                        "authentication": "@parameters('$authentication')",
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 10,
                          "interval": "PT10S"
                        }
                      }
                    },
                    "Reset_isOrphaned_to_false": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "00da8656-41bf-4492-844b-51df54e82976"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "isOrphaned",
                        "value": "@false"
                      }
                    },
                    "See_if_azureactivedirectoryobjectid_is_null": {
                      "actions": {
                        "Set_isOrphaned_to_true": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "44d023f5-2020-4957-98fa-8cdfd2459db9"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "isOrphaned",
                            "value": "@true"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_MDD_App_Creator": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "equals": [
                          "@body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']",
                          "@null"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "43ef7682-68d4-4cf3-8344-3069019e8eed"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "UniqueNameString": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d56b5bca-a90e-4646-b615-e3dd035f3fac"
                  },
                  "type": "Scope"
                },
                "Parse_Model_Driven_App_JSON": {
                  "runAfter": {
                    "Reset_isNewToCoE": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ef1f1de6-3d98-42b8-826a-6b7681eebfc6"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('Apply_to_each_Model_Driven_App')",
                    "schema": {
                      "properties": {
                        "@@odata.etag": {
                          "type": "string"
                        },
                        "@@odata.id": {
                          "type": "string"
                        },
                        "ItemInternalId": {
                          "type": "string"
                        },
                        "_componentstate_label": {
                          "type": "string"
                        },
                        "_createdby_type": {
                          "type": "string"
                        },
                        "_createdby_value": {
                          "type": "string"
                        },
                        "_modifiedby_type": {
                          "type": "string"
                        },
                        "_modifiedby_value": {
                          "type": "string"
                        },
                        "_navigationtype_label": {
                          "type": "string"
                        },
                        "_organizationid_type": {
                          "type": "string"
                        },
                        "_organizationid_value": {
                          "type": "string"
                        },
                        "appmoduleid": {
                          "type": "string"
                        },
                        "appmoduleidunique": {
                          "type": "string"
                        },
                        "componentstate": {
                          "type": "integer"
                        },
                        "createdon": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "descriptor": {
                          "type": "string"
                        },
                        "formfactor": {
                          "type": "integer"
                        },
                        "isdefault": {
                          "type": "boolean"
                        },
                        "isfeatured": {
                          "type": "boolean"
                        },
                        "ismanaged": {
                          "type": "boolean"
                        },
                        "modifiedon": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "navigationtype": {
                          "type": "integer"
                        },
                        "overwritetime": {
                          "type": "string"
                        },
                        "solutionid": {
                          "type": "string"
                        },
                        "uniquename": {
                          "type": "string"
                        },
                        "versionnumber": {
                          "type": "integer"
                        },
                        "webresourceid": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "Reset_isNewToCoE": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a9269a88-e96d-43d1-ad47-a1ca2245418e"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "isNewToCoE",
                    "value": "@false"
                  }
                },
                "See_if_app_already_in_CoE": {
                  "actions": {
                    "Only_proceed_if_changed_since_last_updated_in_CoE_or_FullInventory": {
                      "actions": {
                        "Check_if_made_by_System": {
                          "actions": {
                            "Update_Model_Driven_App_(created_by_SYSTEM)": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "9f8347df-c2e2-465d-934e-9f654d1bea74"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_apps",
                                  "recordId": "@outputs('appGUID')",
                                  "item/admin_displayname": "@body('Parse_Model_Driven_App_JSON')?['name']",
                                  "item/admin_appcreatedon": "@body('Parse_Model_Driven_App_JSON')?['createdon']",
                                  "item/admin_appdeleted": false,
                                  "item/admin_appdescription": "@body('Parse_Model_Driven_App_JSON')?['description']",
                                  "item/admin_AppEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                  "item/admin_appenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                  "item/admin_appenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                  "item/cr5d5_appisorphaned": "no",
                                  "item/admin_appmodifiedon": "@body('Parse_Model_Driven_App_JSON')?['modifiedon']",
                                  "item/admin_appownerdisplayname": "SYSTEM",
                                  "item/admin_powerappstype": 597910001,
                                  "item/admin_appuniquename": "@outputs('UniqueNameString')",
                                  "item/admin_appidstring": "@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Recheck_Orphan_status": {
                                "actions": {
                                  "Maker_Check_-_Edit": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "0cb72125-e00e-442f-ad78-33336d02cd52"
                                    },
                                    "type": "Workflow",
                                    "inputs": {
                                      "host": {
                                        "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                                      },
                                      "body": {
                                        "text": "@if(equals(body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid'], null), '', body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid'])",
                                        "text_1": "@body('Get_MDD_App_Creator')?['fullname']",
                                        "boolean": false
                                      }
                                    }
                                  },
                                  "Check_if_Orphan_-_Edit": {
                                    "actions": {
                                      "Set_isOrphaned_true_Edit": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "0d04e207-3374-4b41-9512-3960155ee794"
                                        },
                                        "type": "SetVariable",
                                        "inputs": {
                                          "name": "isOrphaned",
                                          "value": "@true"
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Maker_Check_-_Edit": [
                                        "Succeeded"
                                      ]
                                    },
                                    "else": {
                                      "actions": {
                                        "Set_isOrphaned_false_Edit": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "d9b15f5a-e827-4523-b491-572de606e2ae"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "isOrphaned",
                                            "value": "@false"
                                          }
                                        }
                                      }
                                    },
                                    "expression": {
                                      "equals": [
                                        "@outputs('Maker_Check_-_Edit')?['Body']?['userisorphan']",
                                        "True"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "807c0a4d-cd69-4221-a6fb-5ad369e83842"
                                    },
                                    "type": "If"
                                  }
                                },
                                "runAfter": {},
                                "expression": {
                                  "equals": [
                                    "@variables('isOrphaned')",
                                    "@false"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "7c58253e-dc05-4c1e-a3e7-be925414c3ec"
                                },
                                "type": "If"
                              },
                              "Update_based_on_Orphan_Status": {
                                "actions": {
                                  "Update_App_record": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "a4da81fd-67c3-4f93-869c-3bd54e4fed5a"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "UpdateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "admin_apps",
                                        "recordId": "@outputs('appGUID')",
                                        "item/admin_displayname": "@body('Parse_Model_Driven_App_JSON')?['name']",
                                        "item/admin_appcompany": "@outputs('Maker_Check_-_Edit')?['Body']?['usercompany']",
                                        "item/admin_appcreatedon": "@body('Parse_Model_Driven_App_JSON')?['createdon']",
                                        "item/admin_appdeleted": false,
                                        "item/admin_department": "@outputs('Maker_Check_-_Edit')?['Body']?['userdepartment']",
                                        "item/admin_appdescription": "@body('Parse_Model_Driven_App_JSON')?['description']",
                                        "item/admin_AppEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                        "item/admin_appenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                        "item/admin_appenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                        "item/cr5d5_appisorphaned": "no",
                                        "item/admin_appmodifiedon": "@body('Parse_Model_Driven_App_JSON')?['modifiedon']",
                                        "item/admin_AppOwner@odata.bind": "admin_makers(@{body('Maker_Check_-_Edit')?['userid']})",
                                        "item/admin_appownerdisplayname": "@outputs('Maker_Check_-_Edit')?['Body']?['userdisplayname']",
                                        "item/admin_powerappstype": 597910001,
                                        "item/admin_appuniquename": "@outputs('UniqueNameString')",
                                        "item/admin_appidstring": "@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']",
                                        "item/admin_city": "@outputs('Maker_Check_-_Edit')?['Body']?['usercity']",
                                        "item/admin_country": "@outputs('Maker_Check_-_Edit')?['Body']?['usercountry']"
                                      },
                                      "authentication": "@parameters('$authentication')",
                                      "retryPolicy": {
                                        "type": "exponential",
                                        "count": 10,
                                        "interval": "PT10S"
                                      }
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Recheck_Orphan_status": [
                                    "Succeeded"
                                  ]
                                },
                                "else": {
                                  "actions": {
                                    "Update_App_record_(Abandoned)": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "0ff0e804-2637-488e-bead-c82ff896680e"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_apps",
                                          "recordId": "@outputs('appGUID')",
                                          "item/admin_displayname": "@body('Parse_Model_Driven_App_JSON')?['name']",
                                          "item/admin_appcreatedon": "@body('Parse_Model_Driven_App_JSON')?['createdon']",
                                          "item/admin_appdeleted": false,
                                          "item/admin_appdescription": "@body('Parse_Model_Driven_App_JSON')?['description']",
                                          "item/admin_AppEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                          "item/admin_appenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                          "item/admin_appenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                          "item/cr5d5_appisorphaned": "yes",
                                          "item/admin_appmodifiedon": "@body('Parse_Model_Driven_App_JSON')?['modifiedon']",
                                          "item/admin_powerappstype": 597910001,
                                          "item/admin_appuniquename": "@outputs('UniqueNameString')",
                                          "item/admin_appidstring": "@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']"
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                          "type": "exponential",
                                          "count": 10,
                                          "interval": "PT10S"
                                        }
                                      }
                                    }
                                  }
                                },
                                "expression": {
                                  "equals": [
                                    "@variables('isOrphaned')",
                                    "@false"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "ffa512c0-3246-4327-ba5b-b5067471d34a"
                                },
                                "type": "If"
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@body('Get_MDD_App_Creator')?['fullname']",
                              "SYSTEM"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "eafb595e-37f7-42b0-ab73-0bb1457c885a"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "lastMod_from_MDA": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "or": [
                          {
                            "less": [
                              "@outputs('lastMod_from_CoE')",
                              "@outputs('lastMod_from_MDA')"
                            ]
                          },
                          {
                            "equals": [
                              "@variables('fullInventory')",
                              "True"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e3af48b8-78eb-4eb9-b0a2-46a11412de80"
                      },
                      "type": "If"
                    },
                    "lastMod_from_CoE": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3c1fbfd3-427a-475b-a4e8-d3bee3597bd5"
                      },
                      "type": "Compose",
                      "inputs": "@coalesce(formatDateTime(outputs('appLastModified'), 'yyyy-MM-dd HH:mm:ss'), '')",
                      "description": "coalesce(formatDateTime(outputs('appLastModified'), 'yyyy-MM-dd HH:mm:ss'), '')"
                    },
                    "lastMod_from_MDA": {
                      "runAfter": {
                        "lastMod_from_CoE": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f4cdb7df-81d3-4d81-bd95-368d9c9a7473"
                      },
                      "type": "Compose",
                      "inputs": "@formatDateTime(body('Parse_Model_Driven_App_JSON')?['modifiedon'], 'yyyy-MM-dd HH:mm:ss')",
                      "description": "formatDateTime(body('Parse_Model_Driven_App_JSON')?['modifiedon'], 'yyyy-MM-dd HH:mm:ss')"
                    }
                  },
                  "runAfter": {
                    "If_did_not_return_rows_then_new_to_Coe_else_get_app_GUID": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Check_if_made_by_System_2": {
                        "actions": {
                          "Insert_Model_Driven_App_(created_by_SYSTEM)": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "0c8b4dca-724a-484c-b611-a39f46589d2f"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_apps",
                                "item/admin_displayname": "@body('Parse_Model_Driven_App_JSON')?['name']",
                                "item/admin_appcreatedon": "@body('Parse_Model_Driven_App_JSON')?['createdon']",
                                "item/admin_appdeleted": false,
                                "item/admin_appdescription": "@body('Parse_Model_Driven_App_JSON')?['description']",
                                "item/admin_AppEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                "item/admin_appenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                "item/admin_appenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                "item/cr5d5_appisorphaned": "no",
                                "item/admin_appmodifiedon": "@body('Parse_Model_Driven_App_JSON')?['modifiedon']",
                                "item/admin_appownerdisplayname": "SYSTEM",
                                "item/admin_powerappstype": 597910001,
                                "item/admin_appuniquename": "@outputs('UniqueNameString')",
                                "item/admin_appidstring": "@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']"
                              },
                              "authentication": "@parameters('$authentication')",
                              "retryPolicy": {
                                "type": "exponential",
                                "count": 10,
                                "interval": "PT10S"
                              }
                            }
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Recheck_Orphan_status_new": {
                              "actions": {
                                "Maker_Check_-_New": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "7087a6a9-70a2-4582-9a54-98d18baeafdf"
                                  },
                                  "type": "Workflow",
                                  "inputs": {
                                    "host": {
                                      "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                                    },
                                    "body": {
                                      "text": "@if(equals(body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid'], null), '', body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid'])",
                                      "text_1": "@body('Get_MDD_App_Creator')?['fullname']",
                                      "boolean": false
                                    }
                                  }
                                },
                                "Check_if_Orphan_-_New": {
                                  "actions": {
                                    "Set_Orphan_True": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "29f4f717-238e-40d5-9074-3696bb77e7e3"
                                      },
                                      "type": "SetVariable",
                                      "inputs": {
                                        "name": "isOrphaned",
                                        "value": "@true"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Maker_Check_-_New": [
                                      "Succeeded"
                                    ]
                                  },
                                  "else": {
                                    "actions": {
                                      "Set_Orphan_False": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "1d42183c-66ec-4e66-a58b-a5740bdb32a7"
                                        },
                                        "type": "SetVariable",
                                        "inputs": {
                                          "name": "isOrphaned",
                                          "value": "@false"
                                        }
                                      }
                                    }
                                  },
                                  "expression": {
                                    "equals": [
                                      "@outputs('Maker_Check_-_New')?['Body']?['userisorphan']",
                                      "True"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "0ebdfd05-5796-42c2-aa5c-d652fb83d1ce"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {},
                              "expression": {
                                "equals": [
                                  "@variables('isOrphaned')",
                                  "@false"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "32a037ad-91fc-4abf-8eef-52f96e7a3133"
                              },
                              "type": "If"
                            },
                            "Update_based_on_Orphan_Status_new": {
                              "actions": {
                                "Insert_Model_Driven_App": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "c0df2c48-c29b-4b10-8729-3372617a8473"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_apps",
                                      "item/admin_displayname": "@body('Parse_Model_Driven_App_JSON')?['name']",
                                      "item/admin_appcompany": "@outputs('Maker_Check_-_New')?['Body']?['usercompany']",
                                      "item/admin_appcreatedon": "@body('Parse_Model_Driven_App_JSON')?['createdon']",
                                      "item/admin_appdeleted": false,
                                      "item/admin_department": "@outputs('Maker_Check_-_New')?['Body']?['userdepartment']",
                                      "item/admin_appdescription": "@body('Parse_Model_Driven_App_JSON')?['description']",
                                      "item/admin_AppEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                      "item/admin_appenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                      "item/admin_appenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                      "item/cr5d5_appisorphaned": "no",
                                      "item/admin_appmodifiedon": "@body('Parse_Model_Driven_App_JSON')?['modifiedon']",
                                      "item/admin_AppOwner@odata.bind": "admin_makers(@{body('Maker_Check_-_New')?['userid']})",
                                      "item/admin_appownerdisplayname": "@outputs('Maker_Check_-_New')?['Body']?['userdisplayname']",
                                      "item/admin_powerappstype": 597910001,
                                      "item/admin_appuniquename": "@outputs('UniqueNameString')",
                                      "item/admin_appidstring": "@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']",
                                      "item/admin_city": "@outputs('Maker_Check_-_New')?['Body']?['usercity']",
                                      "item/admin_country": "@outputs('Maker_Check_-_New')?['Body']?['usercountry']"
                                    },
                                    "authentication": "@parameters('$authentication')",
                                    "retryPolicy": {
                                      "type": "exponential",
                                      "count": 10,
                                      "interval": "PT10S"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Recheck_Orphan_status_new": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {
                                  "Insert_Model_Driven_App_(Abandoned)": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "aadf8133-d808-4740-a878-28856f92e1ec"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "CreateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "admin_apps",
                                        "item/admin_displayname": "@body('Parse_Model_Driven_App_JSON')?['name']",
                                        "item/admin_appcreatedon": "@body('Parse_Model_Driven_App_JSON')?['createdon']",
                                        "item/admin_appdeleted": false,
                                        "item/admin_appdescription": "@body('Parse_Model_Driven_App_JSON')?['description']",
                                        "item/admin_AppEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                        "item/admin_appenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                        "item/admin_appenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                        "item/cr5d5_appisorphaned": "yes",
                                        "item/admin_appmodifiedon": "@body('Parse_Model_Driven_App_JSON')?['modifiedon']",
                                        "item/admin_powerappstype": 597910001,
                                        "item/admin_appuniquename": "@outputs('UniqueNameString')",
                                        "item/admin_appidstring": "@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']"
                                      },
                                      "authentication": "@parameters('$authentication')",
                                      "retryPolicy": {
                                        "type": "exponential",
                                        "count": 10,
                                        "interval": "PT10S"
                                      }
                                    }
                                  }
                                }
                              },
                              "expression": {
                                "equals": [
                                  "@variables('isOrphaned')",
                                  "@false"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "ad00939d-2631-4ade-9fd9-899b4908e58d"
                              },
                              "type": "If"
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@body('Get_MDD_App_Creator')?['fullname']",
                            "SYSTEM"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "259ef942-df97-440d-af26-f5d0ae9b1a52"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('isNewToCoE')",
                      "@false"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8e07d40e-2794-4685-b654-27b5398a9ba3"
                  },
                  "type": "If"
                },
                "UniqueNameString": {
                  "runAfter": {
                    "Parse_Model_Driven_App_JSON": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c223ff55-c16f-451e-8dcc-bf7389e8d93d"
                  },
                  "type": "Compose",
                  "inputs": "@concat(triggerOutputs()?['body/admin_environmentid'], '_', body('Parse_Model_Driven_App_JSON')?['ItemInternalId'])",
                  "description": "concat(triggerOutputs()?['body/admin_environmentid'], '_', body('Parse_Model_Driven_App_JSON')?['ItemInternalId'])"
                },
                "List_Model_Driven_Apps_that_match_by_Unique_Name": {
                  "runAfter": {
                    "Get_Owner_and_first_orphan_check": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2a276946-2b13-4a41-9221-2e7fc69b2505"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "$select": "admin_appid, admin_appmodifiedon",
                      "$filter": "admin_appuniquename eq '@{outputs('UniqueNameString')}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "If_did_not_return_rows_then_new_to_Coe_else_get_app_GUID": {
                  "actions": {
                    "Set_isNewToCoE_to_true": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "09147229-a306-46af-8f6f-6182475e6826"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "isNewToCoE",
                        "value": "@true"
                      }
                    }
                  },
                  "runAfter": {
                    "List_Model_Driven_Apps_that_match_by_Unique_Name": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "appGUID": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "ebdfd488-91b6-420d-a508-bbd0be4a1ed2"
                        },
                        "type": "Compose",
                        "inputs": "@first(outputs('List_Model_Driven_Apps_that_match_by_Unique_Name')?['body/value'])['admin_appid']",
                        "description": "first(outputs('List_Model_Driven_Apps_that_match_by_Unique_Name')?['body/value'])['admin_appid']"
                      },
                      "appLastModified": {
                        "runAfter": {
                          "appGUID": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "21c5d6a6-d76c-4cff-bcbf-2d54eb9275f9"
                        },
                        "type": "Compose",
                        "inputs": "@first(outputs('List_Model_Driven_Apps_that_match_by_Unique_Name')?['body/value'])['admin_appmodifiedon']",
                        "description": "first(outputs('List_Model_Driven_Apps_that_match_by_Unique_Name')?['body/value'])['admin_appmodifiedon']"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@length(outputs('List_Model_Driven_Apps_that_match_by_Unique_Name')?['body/value'])",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2dbbc638-9cff-44bf-a085-36ba04cec560"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Remove_any_Environment_prefix": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cdc8616c-7b1e-4d5a-8660-b79f87d20de9"
              },
              "type": "Foreach"
            },
            "Get_Environment_as_Admin": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0f6a0822-1516-4149-82c8-281f79ef5663"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerplatformforadmins_1",
                  "operationId": "GetSingleEnvironment",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                },
                "parameters": {
                  "environment": "@triggerOutputs()?['body/admin_environmentname']",
                  "api-version": "2018-10-01"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Name_Length": {
              "runAfter": {
                "Get_Environment_as_Admin": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a3bb18b-de13-4f6d-8e61-2c098ee3a0cf"
              },
              "type": "Compose",
              "inputs": "@sub(length(body('Get_Environment_as_Admin')?['name']), 36)",
              "description": "Returns the index where the GUID starts"
            },
            "Remove_any_Environment_prefix": {
              "runAfter": {
                "Name_Length": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f2c01be0-7d1e-4bc2-adc4-e52e38d330e9"
              },
              "type": "Compose",
              "inputs": "@substring(body('Get_Environment_as_Admin')?['name'], int(outputs('Name_Length')), 36)",
              "description": "Returns the GUID without any prefix (right 36 chars)"
            }
          },
          "runAfter": {
            "Initialize_variable_fullInventory": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3664a4c1-048c-4a53-9cda-96938fb348cc"
          },
          "type": "Scope"
        },
        "Get_Model_Driven_Apps_fails_-_Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f0fe5651-38a4-4d5b-9d57-47b2f0bbd227"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "Admin | Sync Template v3 (Model Driven Apps)",
                  "item/admin_environmentname": "@triggerOutputs()?['body/admin_displayname']",
                  "item/admin_flowinstanceurl": "@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "61a0b753-29fc-47e6-9a78-a164d4eb98c0"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "500",
                  "message": "Get Model Driven Apps Failed"
                }
              }
            }
          },
          "runAfter": {
            "Get_Model_Driven_Apps_and_store_in_CoE_CDS_Entity": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "42131d73-e991-43e4-bee0-5e9bbcf67d02"
          },
          "type": "Scope"
        },
        "Initialize_variable_flowEnvironment": {
          "runAfter": {
            "Initialize_variable_isOrphaned": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "488d01e2-63a7-42d8-bab0-0580c2edbc88"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "flowEnvironment",
                "type": "string",
                "value": "@parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)')"
              }
            ]
          },
          "description": "Environment location specific Flow URL - remember / at the end"
        },
        "Initialize_variable_fullInventory": {
          "runAfter": {
            "Initialize_variable_flowEnvironment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "95da9491-27b7-4198-bd35-93d3f26bd282"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "fullInventory",
                "type": "string",
                "value": "@{parameters('FullInventory (admin_FullInventory)')}"
              }
            ]
          },
          "description": "Environment location specific Flow URL - remember / at the end"
        },
        "Initialize_variable_isNewToCoE": {
          "runAfter": {
            "Clean_up_Envt_-_GitHub_1345": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c0ef23fd-0915-47d4-bb27-7b2ce1ca1abe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isNewToCoE",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Initialize_variable_isOrphaned": {
          "runAfter": {
            "Initialize_variable_today": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "836ccf93-8da7-4ca5-b0c6-5e94f12139a8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isOrphaned",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Initialize_variable_today": {
          "runAfter": {
            "Initialize_variable_isNewToCoE": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b698576-d555-4a6e-a42f-55aa650a97ba"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "today",
                "type": "string",
                "value": "@{utcNow()}"
              }
            ]
          }
        },
        "Clean_up_Envt_-_GitHub_1345": {
          "actions": {
            "List_apps_for_this_envt_-_clean_up": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7a04584b-9eaf-4a92-bbb8-f9bf2df42138"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_apps",
                  "$select": "admin_appid",
                  "$filter": "admin_appuniquename eq null and _admin_appenvironment_value eq '@{triggerOutputs()?['body/admin_environmentid']}' and admin_powerappstype eq 597910001"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 5000
                }
              }
            },
            "Delete_all_apps_-_clean_up": {
              "foreach": "@outputs('List_apps_for_this_envt_-_clean_up')?['body/value']",
              "actions": {
                "Delete_a_row_-_clean_up": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "95d1efb7-3288-4b4e-9a8c-5fd6d923ed5b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "DeleteRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "recordId": "@items('Delete_all_apps_-_clean_up')?['admin_appid']"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                }
              },
              "runAfter": {
                "List_apps_for_this_envt_-_clean_up": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2e899c6e-94ad-4327-b108-b4ff60a75965"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Get_App_Modules_Table._Fail_out_if_no_permissions_to_environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a12e74a1-a968-4332-9384-61e9257f3adf"
          },
          "type": "Scope",
          "description": "Scope added to clean up duplicate records as we changed GUID scheme. Will delete this scope in a few months after repair is complete and add to Bad Data cleanup flow instead"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}