CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/AppCatalogRequestAccess-1F5DBA85-7D32-EC11-B6E5-000D3A582A55.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerappsforadmins": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsAdmin"
        },
        "api": {
          "name": "shared_powerappsforadmins"
        }
      },
      "shared_teams_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreTeams"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "ProductionEnvironment (admin_ProductionEnvironment)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ProductionEnvironment",
            "description": "Yes by default. Set to No if you are creating a dev type envt. This will allow some flows to set target users to the admin instead of resource owners"
          }
        },
        "Individual Admin (admin_ApprovalAdmin)": {
          "defaultValue": "adelev@pplatform.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "admin_ApprovalAdmin",
            "description": "An individual admin's email. Some actions (approvals / team chats) cannot accept a group/DL. So this env variable is for those instances in the kit. "
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "2f1633da-42a9-447e-9574-e6ad8911b9da"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "EditAppRoleAssignmentasAdmin_EnvironmentName": {
                  "type": "string",
                  "description": "Name field of the Environment.",
                  "x-ms-powerflows-param-ispartial": false
                },
                "EditAppRoleAssignmentasAdmin_PowerAppName": {
                  "type": "string",
                  "description": "Name field of the PowerApp.",
                  "x-ms-powerflows-param-ispartial": false
                },
                "PostachoiceofoptionsastheFlowbottoauser_Recipient": {
                  "type": "string",
                  "description": "Add an email address. This parameter is used as part of \"383A359B-4E99-472B-8D90-0595476F2174\"",
                  "x-ms-powerflows-param-ispartial": true
                },
                "PostachoiceofoptionsastheFlowbottoauser_Message": {
                  "type": "string",
                  "description": ". This parameter is used as part of \"1E1C2562-5E71-43A9-91A6-73ACE4E78FC4\"",
                  "x-ms-powerflows-param-ispartial": true
                },
                "PostachoiceofoptionsastheFlowbottoauser_Message_1": {
                  "type": "string"
                },
                "EditAppRoleAssignmentasAdmin_putPrincipalEmail-1": {
                  "type": "string"
                }
              },
              "required": [
                "EditAppRoleAssignmentasAdmin_EnvironmentName",
                "EditAppRoleAssignmentasAdmin_PowerAppName",
                "PostachoiceofoptionsastheFlowbottoauser_Recipient",
                "PostachoiceofoptionsastheFlowbottoauser_Message",
                "PostachoiceofoptionsastheFlowbottoauser_Message_1",
                "EditAppRoleAssignmentasAdmin_putPrincipalEmail-1"
              ]
            }
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Edit_App_Role_Assignment_as_Admin": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8f383150-fd59-40fe-82fa-5b1dcac63c01"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerappsforadmins",
                  "operationId": "Edit-AdminAppRoleAssignment",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                },
                "parameters": {
                  "environment": "@triggerBody()['EditAppRoleAssignmentasAdmin_EnvironmentName']",
                  "app": "@triggerBody()['EditAppRoleAssignmentasAdmin_PowerAppName']",
                  "api-version": "2016-11-01",
                  "body/put": [
                    {
                      "properties/roleName": "CanView",
                      "properties/NotifyShareTargetOption": "Notify",
                      "properties/principal/email": "@triggerBody()['EditAppRoleAssignmentasAdmin_putPrincipalEmail-1']"
                    }
                  ]
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Post_a_choice_of_options_as_the_Flow_bot_to_a_user": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Post_message_in_a_chat_or_channel": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "42474b66-c114-46d7-9901-e765daa3e831"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_teams_1",
                    "operationId": "PostMessageToConversation",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                  },
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@{if(equals(parameters('ProductionEnvironment (admin_ProductionEnvironment)'), false), parameters('Individual Admin (admin_ApprovalAdmin)'), triggerBody()['EditAppRoleAssignmentasAdmin_putPrincipalEmail-1'])};",
                    "body/messageBody": "<p>Your access request to @{triggerBody()['PostachoiceofoptionsastheFlowbottoauser_Message_1']}has been rejected by the app owner.</p>"
                  },
                  "authentication": {
                    "type": "Raw",
                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Post_a_choice_of_options_as_the_Flow_bot_to_a_user')?['body/selectedOption']",
              "Grant Access"
            ]
          },
          "metadata": {
            "operationMetadataId": "e82a04a4-2081-4408-805a-29d75da4ceef"
          },
          "type": "If"
        },
        "Post_a_choice_of_options_as_the_Flow_bot_to_a_user": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e219b567-20f9-483c-b04c-c14493d17744"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_teams_1",
              "operationId": "SubscribeUserMessageWithOptions",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "UserMessageWithOptionsSubscriptionRequest/body/options": [
                "Grant Access",
                "Reject"
              ],
              "UserMessageWithOptionsSubscriptionRequest/body/recipient/to": "@{if(equals(parameters('ProductionEnvironment (admin_ProductionEnvironment)'), false), parameters('Individual Admin (admin_ApprovalAdmin)'), triggerBody()['PostachoiceofoptionsastheFlowbottoauser_Recipient'])};",
              "UserMessageWithOptionsSubscriptionRequest/body/messageBody": " @{triggerBody()['PostachoiceofoptionsastheFlowbottoauser_Message']} has requested access to @{triggerBody()['PostachoiceofoptionsastheFlowbottoauser_Message_1']}. If you select Grant Access, they will be granted read-only permissions to this app. If you select Reject, they will be notified via Teams. ",
              "UserMessageWithOptionsSubscriptionRequest/body/messageTitle": "Power App access request"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f7de9b95-2e98-47ee-a131-8066d6c23f42"
          },
          "type": "Compose",
          "inputs": "@triggerBody()['EditAppRoleAssignmentasAdmin_putPrincipalEmail-1']"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}