CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/CLEANUPHELPER-CheckDeletedv4CustomConnectors-2B878801-21AC-EE11-BE37-000D3A3411D9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerplatformforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdmins"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      },
      "shared_powerappsforadmins_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsAdmin2"
        },
        "api": {
          "name": "shared_powerappsforadmins"
        }
      },
      "shared_powerappsforappmakers": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsMakers"
        },
        "api": {
          "name": "shared_powerappsforappmakers"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseEnvRequest"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "Inventory - REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "906f340d-d7ef-44c5-9738-ea3d44b01048"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "EnvtID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "EnvtName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_returnValue": {
          "runAfter": {
            "Initialize_ConnObject": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5b0e82ff-2beb-45e5-ad3e-356b5954d046"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "returnValue",
                "type": "string",
                "value": "pass"
              }
            ]
          }
        },
        "Check_Deleted_Scope": {
          "actions": {
            "List_Inventory_Custom_Connectors": {
              "runAfter": {
                "Check_for_early_exit": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e8e5574c-87ce-441e-b8be-03addf6a1686"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_connectors",
                  "$select": "admin_name, admin_connectorid",
                  "$filter": "_admin_environmentcustomconnector_value eq '@{triggerBody()['text']}' and admin_iscustomapi eq true"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              }
            },
            "Recheck_envt_still_exists,_exit_if_not": {
              "actions": {
                "Get_Environment_as_Admin": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "43975f51-d8e5-4d7d-9648-0f5c8c032525"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerplatformforadmins",
                      "operationId": "GetSingleEnvironment",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                    },
                    "parameters": {
                      "environment": "@triggerBody()['text_1']",
                      "api-version": "2018-10-01"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Set_envtExists_false": {
                  "runAfter": {
                    "Get_Environment_as_Admin": [
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "fcf0bcf2-1687-4afd-94ed-ed824537811f"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "envtExists",
                    "value": "@false"
                  }
                },
                "If_evnt_does_not_exist_exit": {
                  "actions": {
                    "Respond_to_a_PowerApp_or_flow_-_early_exit": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "424fd3e2-73ed-4a51-871d-cf27c0aeb7df"
                      },
                      "type": "Response",
                      "kind": "PowerApp",
                      "inputs": {
                        "statusCode": 200,
                        "body": {
                          "thereturnvalue": "@variables('returnValue')"
                        },
                        "schema": {
                          "type": "object",
                          "properties": {
                            "thereturnvalue": {
                              "title": "theReturnValue",
                              "x-ms-dynamically-added": true,
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "Terminate_for_environments_recently_deleted": {
                      "runAfter": {
                        "Respond_to_a_PowerApp_or_flow_-_early_exit": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c96f244b-3c1d-43b6-b930-9df94f180269"
                      },
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Succeeded"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_envtExists_false": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@variables('envtExists')",
                      "@false"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "346f84b2-711e-4972-8b53-f44823f41d3b"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "List_Inventory_Custom_Connectors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "92d470ee-d893-464b-8e9b-f1588f45626b"
              },
              "type": "Scope"
            },
            "List_ccs_not_yet_marked_deleted": {
              "runAfter": {
                "Recheck_envt_still_exists,_exit_if_not": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "efffcfdc-902d-4cf1-8767-77f13bfd433d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_connectors",
                  "$select": "admin_name, admin_connectorid",
                  "$filter": "_admin_environmentcustomconnector_value eq '@{triggerBody()['text']}' and admin_iscustomapi eq true and admin_connectordeleted eq false"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              }
            },
            "Build_array_of_custom_connectors_that_still_exist": {
              "actions": {
                "Get_Custom_Connectors_as_Admin": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "77c68fc4-0d64-4a4e-ae51-4f7954def810"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerappsforadmins_1",
                      "operationId": "Get-AdminConnectors",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                    },
                    "parameters": {
                      "environment": "@triggerBody()['text_1']",
                      "api-version": "2017-05-01",
                      "$top": 250
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Get_Connectors": {
                  "runAfter": {
                    "Apply_to_each_Connector_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7aafbc99-d331-45a9-a54e-ca3fb3da2945"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerappsforappmakers",
                      "operationId": "Get-Connectors",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"
                    },
                    "parameters": {
                      "showApisWithToS": "true",
                      "$filter": "environment eq '@{triggerBody()['text_1']}'",
                      "api-version": "2016-11-01",
                      "$top": 250
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Filter_to_custom_connectors": {
                  "runAfter": {
                    "Get_Connectors": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8b4d0c6a-7e07-416e-b1c8-8714a691a91f"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('Get_Connectors')?['body/value']",
                    "where": "@equals(item()?['properties/isCustomApi'], true)"
                  }
                },
                "Apply_to_each_Connector_1": {
                  "foreach": "@outputs('Get_Custom_Connectors_as_Admin')?['body/value']",
                  "actions": {
                    "Set_ConnObject_Type_1": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9d13d258-9078-4c1d-9e01-5a289f00de29"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ConnObject",
                        "value": {
                          "type": "1",
                          "Name": "@items('Apply_to_each_Connector_1')?['name']"
                        }
                      }
                    },
                    "Append_to_array_variable": {
                      "runAfter": {
                        "Set_ConnObject_Type_1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "37bd576b-ec19-4b91-ae83-e414d8fd55bc"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "arrayOfConnectors",
                        "value": "@variables('ConnObject')"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Custom_Connectors_as_Admin": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6f146525-a8c1-4603-8ccf-c27e2179a7c3"
                  },
                  "type": "Foreach"
                },
                "Apply_to_each_Connector_2": {
                  "foreach": "@body('Filter_to_custom_connectors')",
                  "actions": {
                    "Set_ConnObject_Type_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "893dbcd6-06b7-43e1-aec6-de3bb98415f8"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ConnObject",
                        "value": {
                          "type": "2",
                          "Name": "@items('Apply_to_each_Connector_2')?['name']"
                        }
                      }
                    },
                    "Append_to_array_variable_2": {
                      "runAfter": {
                        "Set_ConnObject_Type_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "05064f00-faaf-4cda-a2f0-1cdff08c48e4"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "arrayOfConnectors",
                        "value": "@variables('ConnObject')"
                      }
                    }
                  },
                  "runAfter": {
                    "Filter_to_custom_connectors": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "10f29b8d-f12c-49b0-9def-edc475c4e4e7"
                  },
                  "type": "Foreach"
                },
                "Parse_JSON": {
                  "runAfter": {
                    "Apply_to_each_Connector_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "03f44b37-4422-4076-a045-bc46bff6fafe"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@variables('arrayOfConnectors')",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "Name"
                        ]
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "List_ccs_not_yet_marked_deleted": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8d27cf8a-c74a-4e55-8cc0-7df092d44be5"
              },
              "type": "Scope"
            },
            "Filter_to_this_custom_connector": {
              "foreach": "@outputs('List_ccs_not_yet_marked_deleted')?['body/value']",
              "actions": {
                "Filter_array": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f446d734-b156-42e8-b514-d4687568ee93"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_JSON')",
                    "where": "@equals(item()['Name'], items('Filter_to_this_custom_connector')?['admin_name'])"
                  }
                },
                "If_not_found_in_tenant,_delete_or_mark_deleted": {
                  "actions": {
                    "Mark_this_cc_as_deleted_today": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "c2c7d355-9b82-4b19-a159-e3cd037331a1"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_connectors",
                          "recordId": "@items('Filter_to_this_custom_connector')?['admin_connectorid']",
                          "item/admin_connectordeleted": true,
                          "item/admin_connectordeletedon": "@utcNow()"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 10,
                          "interval": "PT10S"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Filter_array": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "found": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "fc3ecc41-97d0-416c-bc10-bd2a48a5a43b"
                        },
                        "type": "Compose",
                        "inputs": "found"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@length(body('Filter_array'))",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a37fb70c-322b-4b24-9f82-0bee2d1f2bcb"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Build_array_of_custom_connectors_that_still_exist": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a19a0ce8-ae43-435a-b0e5-dc01de85294e"
              },
              "type": "Foreach"
            },
            "Get_Envt_Properties": {
              "actions": {
                "Get_Envt_from_CoE_inventory": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "251db6aa-7dbb-4904-9307-ccc7dc2d3a1d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_environments",
                      "recordId": "@triggerBody()['text']",
                      "$select": "admin_displayname, admin_hascds"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "EnvtDisplayName": {
                  "runAfter": {
                    "Get_Envt_from_CoE_inventory": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f3ba7f44-0763-4ee3-8e27-4e9a06b7db5c"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Get_Envt_from_CoE_inventory')?['body/admin_displayname']"
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8f905600-6e9a-4534-bf4a-5ab50c0e9db8"
              },
              "type": "Scope"
            },
            "Check_for_early_exit": {
              "actions": {
                "If_need_early_exit": {
                  "actions": {
                    "Respond_to_a_PowerApp_or_flow_-_early_exit_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "424fd3e2-73ed-4a51-871d-cf27c0aeb7df"
                      },
                      "type": "Response",
                      "kind": "PowerApp",
                      "inputs": {
                        "statusCode": 200,
                        "body": {
                          "thereturnvalue": "@variables('returnValue')"
                        },
                        "schema": {
                          "type": "object",
                          "properties": {
                            "thereturnvalue": {
                              "title": "theReturnValue",
                              "x-ms-dynamically-added": true,
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "Terminate_for_environments_recently_deleted_2": {
                      "runAfter": {
                        "Respond_to_a_PowerApp_or_flow_-_early_exit_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c96f244b-3c1d-43b6-b930-9df94f180269"
                      },
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Succeeded"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "equals": [
                      "@outputs('Get_Envt_from_CoE_inventory')?['body/admin_hascds']",
                      "@false"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c1071f9d-12ba-4f2d-bf0d-5453639be3ab"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Envt_Properties": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9239b1ec-0546-49e3-80bb-966ca1b3ee3d"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Initialize_envtExists_true": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9b4358be-7f0d-46f2-bbe8-f43648039b5d"
          },
          "type": "Scope"
        },
        "Initialize_arrayOfConnectors": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a56ed85d-b1df-4167-b2cf-02df46a3e231"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "arrayOfConnectors",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_ConnObject": {
          "runAfter": {
            "Initialize_arrayOfConnectors": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b2c6a9be-7ea9-42ab-97cf-859e89f49091"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ConnObject",
                "type": "object"
              }
            ]
          }
        },
        "Error_Handling": {
          "actions": {
            "Check_if_M365_Copilot_environment_error": {
              "actions": {
                "Set_returnValue_to_success_for_M365": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d9f5a3e8-4b2c-4f7a-9e1f-8c6d7e9a2b4c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "returnValue",
                    "value": "success"
                  }
                },
                "Respond_to_a_PowerApp_or_flow_for_M365": {
                  "runAfter": {
                    "Set_returnValue_to_success_for_M365": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e8a4b6c9-5d3e-4f8b-9a2c-7d9e8f6a3b5d"
                  },
                  "type": "Response",
                  "kind": "PowerApp",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "thereturnvalue": "@variables('returnValue')"
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "thereturnvalue": {
                          "title": "theReturnValue",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "Terminate_for_M365_Copilot_environments_cleanup": {
                  "runAfter": {
                    "Respond_to_a_PowerApp_or_flow_for_M365": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f9b5c7d8-6e4f-4g9c-0b3e-8f7g9h5a4c6e"
                  },
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Succeeded"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "or": [
                  {
                    "contains": [
                      "@string(actions('Get_Custom_Connectors_as_Admin')?['error'])",
                      "PermissionBlockedByOfficeAI"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "c8e6f9a1-5d4c-4f8b-9a2e-7e9f8a6c3b5d"
              },
              "type": "If",
              "else": {
                "actions": {
                  "Create_a_new_record_-_Sync_Flow_Errors": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "87961ff0-e261-4890-9ab9-a53f88fe0de5"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "admin_syncflowerrorses",
                        "item/admin_name": "@workflow()?['tags']['flowDisplayName']",
                        "item/admin_environmentname": "@outputs('EnvtDisplayName')",
                        "item/admin_flowinstanceurl": "@concat(parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      },
                      "retryPolicy": {
                        "type": "exponential",
                        "count": 10,
                        "interval": "PT10S"
                      }
                    }
                  },
                  "Get_ID_Fail": {
                    "runAfter": {
                      "Create_a_new_record_-_Sync_Flow_Errors": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "47329bf2-8aac-400d-9778-a793b4f1180f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "admin_coesolutionmetadatas",
                        "$select": "admin_coesolutionmetadataid",
                        "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                        "$top": 1
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  },
                  "Update_Last_Run_Fail": {
                    "runAfter": {
                      "Get_ID_Fail": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c63eb7cc-6101-4567-b520-a4a8881264e9"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "admin_coesolutionmetadatas",
                        "recordId": "@first(outputs('Get_ID_Fail')?['body/value'])?['admin_coesolutionmetadataid']",
                        "item/admin_lastrun": "@utcNow()",
                        "item/admin_lastrunpassed": false
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  },
                  "Set_returnValue_to_fail": {
                    "runAfter": {
                      "Update_Last_Run_Fail": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a81b9e62-2c13-4131-a1ea-80363f3680fa"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "returnValue",
                      "value": "fail"
                    }
                  },
                  "Respond_to_a_PowerApp_or_flow_failed": {
                    "runAfter": {
                      "Set_returnValue_to_fail": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "424fd3e2-73ed-4a51-871d-cf27c0aeb7df"
                    },
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "thereturnvalue": "@variables('returnValue')"
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "thereturnvalue": {
                            "title": "theReturnValue",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "Terminate": {
                    "runAfter": {
                      "Respond_to_a_PowerApp_or_flow_failed": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "9e5a2a18-dba2-47a1-96d5-3356f4348e5a"
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "500",
                        "message": "Get Environments Failed"
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Check_Deleted_Scope": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "38ae684e-622d-42ea-abd2-ee571aee3a5f"
          },
          "type": "Scope"
        },
        "Update_last_run_as_pass": {
          "actions": {
            "Update_Last_Run_Successful": {
              "runAfter": {
                "Get_ID_Pass": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78ef70e5-7f67-4737-9a02-8533f12caa19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Pass')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": true
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_ID_Pass": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f4f314b6-89d3-4056-af1c-73115e7d6bd1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Catch_-_not_ready_to_take_last_run_date": {
              "runAfter": {
                "Update_Last_Run_Successful": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "f88cdefe-c402-49d7-8f4a-934475e6f741"
              },
              "type": "Compose",
              "inputs": "Catch - not ready to take last run date"
            },
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {
                "Catch_-_not_ready_to_take_last_run_date": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "424fd3e2-73ed-4a51-871d-cf27c0aeb7df"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "thereturnvalue": "@variables('returnValue')"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "thereturnvalue": {
                      "title": "theReturnValue",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Error_Handling": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c140442-d939-4ca4-8ec8-d1ee2bed4a81"
          },
          "type": "Scope"
        },
        "Initialize_envtExists_true": {
          "runAfter": {
            "Initialize_returnValue": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a8dd420b-cffa-46e8-8dd6-051717aa07c3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "envtExists",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}