CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/CLEANUPHELPER-CheckDeletedBusinessProcessFlows-BC9DE9B5-A8ED-EC11-BB3D-000D3A8FBE6E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_sharedcommondataserviceforapps_98924"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseLegacy"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_sharedcommondataserviceforapps_98924"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "5123fe1f-3180-4014-846c-e0db66c88d87"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "EnvtID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "boolean": {
                  "title": "CheckIfDeleted",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "boolean_1": {
                  "title": "DeleteFromCoE",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "text_1": {
                  "title": "EnvtName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "boolean",
                "boolean_1",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Envt_CDS_MetaDataName": {
          "actions": {
            "Get_Envt_from_CoE_inventory": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "66a9b415-a575-4d8c-a3c5-7a8c57e04fc2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_environments",
                  "recordId": "@triggerBody()['text']",
                  "$select": "admin_environmentcdsmetadataname"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "EnvtMetadataName": {
              "runAfter": {
                "Get_Envt_from_CoE_inventory": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "56873fc8-d3c0-4aa6-a839-9cc96da0fb5c"
              },
              "type": "Compose",
              "inputs": "@outputs('Get_Envt_from_CoE_inventory')?['body/admin_environmentcdsmetadataname']"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "326a5697-e2fd-4c96-b266-d5442c1963a1"
          },
          "type": "Scope"
        },
        "Initialize_returnValue": {
          "runAfter": {
            "Get_Envt_CDS_MetaDataName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9bd12cd4-f02c-4af0-ad8d-846691b32ef6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "returnValue",
                "type": "string",
                "value": "pass"
              }
            ]
          }
        },
        "Initialize_noBPFs": {
          "runAfter": {
            "Initialize_returnValue": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "39f01852-5ff2-4c09-9636-50654031f78b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "noBPFs",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Initialize_BPFfound": {
          "runAfter": {
            "Initialize_noBPFs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "72d92743-03ae-49c6-91aa-56b7c926e6b8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BPFfound",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Check_Deleted_Scope": {
          "actions": {
            "List_Business_Process_Flows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "be66251e-dbfd-4d85-9f10-21844ff88b31"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_businessprocessflowses",
                  "$select": "admin_businessprocessflowsid, admin_businessprocessflowdeletedon, admin_name",
                  "$filter": "_admin_businessprocessflowenvironment_value eq '@{triggerBody()['text']}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              }
            },
            "See_if_need_to_check_deleted_status_before_marking_delete": {
              "actions": {
                "List_BPFs_not_yet_marked_deleted": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "addbd585-8835-4584-a215-c71fa769404c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_businessprocessflowses",
                      "$select": "admin_businessprocessflowsid, admin_businessprocessflowdeleted, admin_businessprocessflowuniquename, admin_name",
                      "$filter": "_admin_businessprocessflowenvironment_value eq '@{triggerBody()['text']}' and admin_businessprocessflowdeleted eq false"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Get_this_envs_BPFs_from_workflows": {
                  "runAfter": {
                    "List_BPFs_not_yet_marked_deleted": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d44fc35f-ed48-4a3c-8897-ad81820772bd"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataservice",
                      "operationId": "GetItems_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                    },
                    "parameters": {
                      "dataset": "@outputs('EnvtMetadataName')",
                      "table": "workflows",
                      "$filter": "category eq 4"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Catch_failure_and_set_noBPFs_to_true": {
                  "runAfter": {
                    "Get_this_envs_BPFs_from_workflows": [
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "106f9ece-63ea-48c4-baf9-6983f3dec3d2"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "noBPFs",
                    "value": "@true"
                  }
                },
                "if_no_BPFs,_mark_all_deleted,_else_look_each_up": {
                  "actions": {
                    "Mark_all_BPFs_deleted": {
                      "foreach": "@outputs('List_BPFs_not_yet_marked_deleted')?['body/value']",
                      "actions": {
                        "Mark_all_BPFs_deleted_-_this_BPF": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "c8798204-cd18-428b-baed-abcd54bc9317"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_2",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_businessprocessflowses",
                              "recordId": "@items('Mark_all_BPFs_deleted')?['admin_businessprocessflowsid']",
                              "item/admin_businessprocessflowdeleted": true,
                              "item/admin_businessprocessflowdeletedon": "@utcNow()"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "e1475abb-e776-4462-95e0-d2ce3eb5aada"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {
                    "Catch_failure_and_set_noBPFs_to_true": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Check_each_BPF_to_see_if_still_in_environment": {
                        "foreach": "@outputs('List_BPFs_not_yet_marked_deleted')?['body/value']",
                        "actions": {
                          "reset_BPFfound": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "b840cc9a-ade4-41ce-89f4-fcd56b3f4970"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "BPFfound",
                              "value": "@false"
                            }
                          },
                          "Apply_to_each_BPF": {
                            "foreach": "@outputs('Get_this_envs_BPFs_from_workflows')?['body/value']",
                            "actions": {
                              "Parse_BPF_JSON": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "d67881ae-69b6-44c1-8c98-caa19c47fc9d"
                                },
                                "type": "ParseJson",
                                "inputs": {
                                  "content": "@items('Apply_to_each_BPF')",
                                  "schema": {
                                    "properties": {
                                      "@@odata.etag": {
                                        "type": "string"
                                      },
                                      "@@odata.id": {
                                        "type": "string"
                                      },
                                      "ItemInternalId": {
                                        "type": "string"
                                      },
                                      "workflowid": {
                                        "type": "string"
                                      },
                                      "_componentstate_label": {
                                        "type": "string"
                                      },
                                      "_createdby_type": {
                                        "type": "string"
                                      },
                                      "_createdby_value": {
                                        "type": "string"
                                      },
                                      "_modifiedby_type": {
                                        "type": "string"
                                      },
                                      "_modifiedby_value": {
                                        "type": "string"
                                      },
                                      "_navigationtype_label": {
                                        "type": "string"
                                      },
                                      "_organizationid_type": {
                                        "type": "string"
                                      },
                                      "_organizationid_value": {
                                        "type": "string"
                                      },
                                      "appmoduleid": {
                                        "type": "string"
                                      },
                                      "appmoduleidunique": {
                                        "type": "string"
                                      },
                                      "componentstate": {
                                        "type": "integer"
                                      },
                                      "createdon": {
                                        "type": "string"
                                      },
                                      "descriptor": {
                                        "type": "string"
                                      },
                                      "formfactor": {
                                        "type": "integer"
                                      },
                                      "isdefault": {
                                        "type": "boolean"
                                      },
                                      "isfeatured": {
                                        "type": "boolean"
                                      },
                                      "ismanaged": {
                                        "type": "boolean"
                                      },
                                      "modifiedon": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "navigationtype": {
                                        "type": "integer"
                                      },
                                      "overwritetime": {
                                        "type": "string"
                                      },
                                      "solutionid": {
                                        "type": "string"
                                      },
                                      "uniquename": {
                                        "type": "string"
                                      },
                                      "versionnumber": {
                                        "type": "integer"
                                      },
                                      "webresourceid": {
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                }
                              },
                              "See_if_our_current_BPF": {
                                "actions": {
                                  "Set_BPFfound_to_true": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "abc29c53-aa28-442d-a013-1e961d42e4f9"
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "BPFfound",
                                      "value": "@true"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Parse_BPF_JSON": [
                                    "Succeeded"
                                  ]
                                },
                                "expression": {
                                  "equals": [
                                    "@body('Parse_BPF_JSON')?['workflowid']",
                                    "@items('Check_each_BPF_to_see_if_still_in_environment')?['admin_name']"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "da699b77-5833-4c8b-bdb7-6e35908bfc11"
                                },
                                "type": "If"
                              }
                            },
                            "runAfter": {
                              "reset_BPFfound": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "bf780e58-88a8-4b41-a783-8cc429f86f8f"
                            },
                            "type": "Foreach"
                          },
                          "If_BPF_not_found,_delete_or_mark_deleted": {
                            "actions": {
                              "See_if_delete_row_from_inventory_or_mark_deleted_-_check_deleted": {
                                "actions": {
                                  "Delete_this_BPF_from_inventory": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "4b344ca6-8281-46c4-a7ca-8bba58529f47"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps_2",
                                        "operationId": "DeleteRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "admin_businessprocessflowses",
                                        "recordId": "@items('Check_each_BPF_to_see_if_still_in_environment')?['admin_businessprocessflowsid']"
                                      },
                                      "authentication": {
                                        "type": "Raw",
                                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                      }
                                    }
                                  }
                                },
                                "runAfter": {},
                                "else": {
                                  "actions": {
                                    "Mark_this_BPF_as_deleted_today": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "d14315b7-1712-4f6f-8a42-5d06b96848d6"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_2",
                                          "operationId": "UpdateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_businessprocessflowses",
                                          "recordId": "@items('Check_each_BPF_to_see_if_still_in_environment')?['admin_businessprocessflowsid']",
                                          "item/admin_businessprocessflowdeleted": true,
                                          "item/admin_businessprocessflowdeletedon": "@utcnow()"
                                        },
                                        "authentication": {
                                          "type": "Raw",
                                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                        }
                                      }
                                    }
                                  }
                                },
                                "expression": {
                                  "equals": [
                                    "@triggerBody()['boolean_1']",
                                    "@true"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "e9068cf7-37e6-4db4-8296-dd909f8b1074"
                                },
                                "type": "If"
                              }
                            },
                            "runAfter": {
                              "Apply_to_each_BPF": [
                                "Succeeded"
                              ]
                            },
                            "expression": {
                              "not": {
                                "equals": [
                                  "@variables('BPFfound')",
                                  "@true"
                                ]
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "576710cd-4a0f-4b4b-868f-e527053c4963"
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "27318ae4-7ef7-4d78-ad19-5280fe80acbd"
                        },
                        "type": "Foreach"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('noBPFs')",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d81c5415-c709-46b9-8b4e-5c7864c8df8f"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "List_Business_Process_Flows": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "See_if_delete_row_from_inventory_or_mark_deleted": {
                    "actions": {
                      "Delete_all_the_BPFs_from_inventory": {
                        "foreach": "@outputs('List_Business_Process_Flows')?['body/value']",
                        "actions": {
                          "Delete_BPF_from_inventory": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "baadbdd3-a9ba-4245-b292-281812c30150"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_2",
                                "operationId": "DeleteRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_businessprocessflowses",
                                "recordId": "@items('Delete_all_the_BPFs_from_inventory')?['admin_businessprocessflowsid']"
                              },
                              "authentication": {
                                "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                              }
                            }
                          }
                        },
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "2169686f-81b8-496d-be31-4e69c3101f19"
                        },
                        "type": "Foreach"
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Mark_all_BPFs_in_inventory_as_deleted_today": {
                          "foreach": "@outputs('List_Business_Process_Flows')?['body/value']",
                          "actions": {
                            "Mark_BPF_as_deleted_today": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "625fae38-0b35-4dba-8e34-f113fd492b6b"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_2",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_businessprocessflowses",
                                  "recordId": "@items('Mark_all_BPFs_in_inventory_as_deleted_today')?['admin_businessprocessflowsid']",
                                  "item/admin_businessprocessflowdeleted": true,
                                  "item/admin_businessprocessflowdeletedon": "@utcnow()"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              }
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "8ed5c686-9528-4b10-a383-d46ba724bda0"
                          },
                          "type": "Foreach"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@triggerBody()['boolean_1']",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e078dd2c-7990-4db8-bedf-697a13b8a5c6"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerBody()['boolean']",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "e805bbc3-c88b-4e1c-a722-14ff3bbbd097"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_BPFfound": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "86c68153-2b1b-4eeb-b1c8-2b6781eb5328"
          },
          "type": "Scope"
        },
        "Error_Handling_Scope": {
          "actions": {
            "Create_Sync_Flow_Error_record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f4835946-0a58-40fc-aa12-85f34020c51d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "CLEANUP HELPER - Check Deleted (Business Process Flows)",
                  "item/admin_environmentname": "@triggerBody()['text']",
                  "item/admin_flowinstanceurl": "@concat(parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Set_returnValue_to_fail": {
              "runAfter": {
                "Create_Sync_Flow_Error_record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a81b9e62-2c13-4131-a1ea-80363f3680fa"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "returnValue",
                "value": "fail"
              }
            }
          },
          "runAfter": {
            "Check_Deleted_Scope": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "51b1afaa-bb59-4931-b860-4504d451a676"
          },
          "type": "Scope"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Error_Handling_Scope": [
              "Succeeded",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "424fd3e2-73ed-4a51-871d-cf27c0aeb7df"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "thereturnvalue": "@variables('returnValue')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "thereturnvalue": {
                  "title": "theReturnValue",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}