CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/CLEANUP-AdminSyncTemplatev3PowerAppsUserSharedWith-B0EDF614-AD0F-EB11-A814-000D3A1BB7BB.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerplatformforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdmins"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        }
      },
      "staticResults": {
        "List_Environments_as_Admin0": {
          "status": "Succeeded",
          "outputs": {
            "headers": {},
            "statusCode": "OK"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Week",
            "interval": 2,
            "schedule": {
              "weekDays": [
                "Sunday"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "dfea51a6-5983-4b22-8184-81d82afc33d5"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_Group_Size": {
          "runAfter": {
            "Initialize_variable_EnvironmentName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "15112ecf-0eed-4f0e-b6b6-1bf233b1a35a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "sharedGroupSize",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_User_Role_ID": {
          "runAfter": {
            "Initialize_Group_Size": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "52b3801e-558c-4e01-ac88-1d93e1cb74cd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "userRoleObject",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_User_Role_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "34f4bf8f-5182-4f45-bcd3-ad47dc6d2109"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "oData",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_EnvironmentName": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dfff9735-326a-4eb8-a7d2-37eb4c4b1c34"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EnvironmentName",
                "type": "string"
              }
            ]
          }
        },
        "List_Environments_as_Admin": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "73f89423-4c2d-4bc9-be74-44b354fa5852"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_powerplatformforadmins",
              "operationId": "Get-AdminEnvironment",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
            },
            "parameters": {
              "api-version": "2020-06-01"
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            },
            "staticResult": {
              "staticResultOptions": "Disabled",
              "name": "List_Environments_as_Admin0"
            }
          }
        },
        "Walk_Each_Environment": {
          "foreach": "@outputs('List_Environments_as_Admin')?['body/value']",
          "actions": {
            "Get_Environment_": {
              "actions": {
                "Envt_Name": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0fb34ded-674a-4a4c-a5e6-cee89054b3b9"
                  },
                  "type": "Compose",
                  "inputs": "@substring(items('Walk_Each_Environment')?['name'], sub(length(items('Walk_Each_Environment')?['name']), 36), 36)"
                },
                "Get_Envt_from_CoE": {
                  "runAfter": {
                    "Envt_Name": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "54b52490-e83e-4e1b-a4ed-07a47a158198"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_environments",
                      "$select": "admin_environmentid,  admin_excusefrominventory",
                      "$filter": "admin_environmentid eq @{outputs('Envt_Name')}"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "68d4ddc0-5ed6-42fc-b4be-d871e15fee07"
              },
              "type": "Scope"
            },
            "Proceed_if_Envt_already_in_CoE_and_not_excused_from_inventory": {
              "actions": {
                "Run_a_Child_Flow": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "befc6b29-fc3f-4b85-8d12-44175d6ed753"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "1f3f24ff-c717-ec11-b6e6-000d3a1c26f9"
                    },
                    "body": {
                      "text": "@items('Walk_Each_Environment')?['name']"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Environment_": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('Get_Envt_from_CoE')?['body/value'])",
                      0
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@first(outputs('Get_Envt_from_CoE')?['body/value'])?['admin_excusefrominventory']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@first(outputs('Get_Envt_from_CoE')?['body/value'])?['admin_excusefrominventory']",
                        "@true"
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "918d8285-af37-4498-88ce-d4754fbcf7d3"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_Environments_as_Admin": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b2b7ab70-1460-4ddd-925e-b892f23e368a"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          }
        },
        "Shared_With_fails_-_Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "87961ff0-e261-4890-9ab9-a53f88fe0de5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "CLEANUP - Admin | Sync Template v3 (Power Apps User Shared With)",
                  "item/admin_flowinstanceurl": "@concat(parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Update_Last_Run_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e5a2a18-dba2-47a1-96d5-3356f4348e5a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "500",
                  "message": "Shared With Failed"
                }
              }
            },
            "Get_ID_Fail": {
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "47329bf2-8aac-400d-9778-a793b4f1180f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectguid eq @{workflow()?['name']}",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_Last_Run_Fail": {
              "runAfter": {
                "Get_ID_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c63eb7cc-6101-4567-b520-a4a8881264e9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Fail')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": false
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Walk_Each_Environment": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "38ae684e-622d-42ea-abd2-ee571aee3a5f"
          },
          "type": "Scope"
        },
        "Update_last_run_as_pass": {
          "actions": {
            "Update_Last_Run_Successful": {
              "runAfter": {
                "Get_ID_Pass": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78ef70e5-7f67-4737-9a02-8533f12caa19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Pass')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_ID_Pass": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f4f314b6-89d3-4056-af1c-73115e7d6bd1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectguid eq @{workflow()?['name']}",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Catch_-_not_ready_to_take_last_run_date": {
              "runAfter": {
                "Update_Last_Run_Successful": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "fa9a6fa1-eb7b-4917-9561-58e10218a808"
              },
              "type": "Compose",
              "inputs": "Catch - not ready to take last run date"
            }
          },
          "runAfter": {
            "Shared_With_fails_-_Error_Handling": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c140442-d939-4ca4-8ec8-d1ee2bed4a81"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}