CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/CLEANUPHELPER-CheckDeletedPVA-FFD82928-64FC-EB11-94EF-002248237D7D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseLegacy"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://us.flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3890e276-f585-44ac-b456-ebcef7b19d5d"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "EnvtID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "boolean": {
                  "title": "CheckIfDeleted",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "boolean_1": {
                  "title": "DeleteFromCoE",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "Please select yes or no",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "text_1": {
                  "title": "EnvtName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "boolean",
                "boolean_1",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Envt_CDS_MetaDataName": {
          "actions": {
            "Get_Envt_from_CoE_inventory": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b6d4e949-a524-4efc-b2be-379df8b129df"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_environments",
                  "recordId": "@triggerBody()['text']",
                  "$select": "admin_environmentcdsmetadataname"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "EnvtMetadataName": {
              "runAfter": {
                "Get_Envt_from_CoE_inventory": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6f0698a0-b884-4026-aff7-da9d21184130"
              },
              "type": "Compose",
              "inputs": "@outputs('Get_Envt_from_CoE_inventory')?['body/admin_environmentcdsmetadataname']"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fb5385a3-100b-4738-a847-d86a58cb91a4"
          },
          "type": "Scope"
        },
        "Initialize_returnValue": {
          "runAfter": {
            "Get_Envt_CDS_MetaDataName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "04a1b24c-b233-4822-80f4-4951bb371530"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "returnValue",
                "type": "string",
                "value": "pass"
              }
            ]
          }
        },
        "Initialize_noPVAs": {
          "runAfter": {
            "Initialize_returnValue": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cac8eca0-0b4f-4257-b763-48df22e04385"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "noPVAs",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Initialize_PVAfound": {
          "runAfter": {
            "Initialize_noPVAs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d1c79a64-a3e1-492f-a31d-f00309800dd3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PVAfound",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Check_Deleted_Scope": {
          "actions": {
            "List_PVAs": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "48be3c84-25b4-4f48-a1cb-4fba1f9d8ad5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_pvas",
                  "$select": "admin_pvaid, admin_pvadeletedon",
                  "$filter": "_admin_pvaenvironment_value eq '@{triggerBody()['text']}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              }
            },
            "See_if_need_to_check_deleted_status_before_marking_delete": {
              "actions": {
                "List_PVAs_not_yet_marked_deleted": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ef8603f8-b4d2-448b-b7c2-11866b22a0ef"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_pvas",
                      "$select": "admin_pvaid",
                      "$filter": "_admin_pvaenvironment_value eq '@{triggerBody()['text']}' and admin_pvadeleted eq false"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Catch_failure_and_set_noPVAs_to_true": {
                  "runAfter": {
                    "Get_this_envs_PVAs_from_bots": [
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "84be86f1-d7dd-48c8-84c5-291eb3af3ebb"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "noPVAs",
                    "value": "@true"
                  }
                },
                "Get_this_envs_PVAs_from_bots": {
                  "runAfter": {
                    "List_PVAs_not_yet_marked_deleted": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c351458a-bcc4-4e9e-b346-8db531535fb6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataservice",
                      "operationId": "GetItems_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                    },
                    "parameters": {
                      "dataset": "@outputs('EnvtMetadataName')",
                      "table": "bots"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "if_no_PVAs,_mark_all_deleted,_else_look_each_up": {
                  "actions": {
                    "Mark_all_PVAs_deleted": {
                      "foreach": "@outputs('List_PVAs_not_yet_marked_deleted')?['body/value']",
                      "actions": {
                        "Mark_all_PVAs_deleted_-_this_PVA": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "f62324e5-9068-466e-8ddb-d44ab4c86636"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_pvas",
                              "recordId": "@items('Mark_all_PVAs_deleted')?['admin_pvaid']",
                              "item/admin_pvadeleted": true,
                              "item/admin_pvadeletedon": "@utcNow()"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 10,
                              "interval": "PT10S"
                            }
                          }
                        },
                        "List_Bot_Components_for_Marking_Delete_-_this_bot": {
                          "runAfter": {
                            "Mark_all_PVAs_deleted_-_this_PVA": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e4d57f77-427a-4e61-83f5-5a1753aff8cf"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_pvacomponents",
                              "$select": "admin_pvacomponentid",
                              "$filter": "_admin_pvabot_value eq @{items('Mark_all_PVAs_deleted')?['admin_pvaid']}"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          }
                        },
                        "Loop_Bot_Components_-_this_bot": {
                          "foreach": "@outputs('List_Bot_Components_for_Marking_Delete_-_this_bot')?['body/value']",
                          "actions": {
                            "Mark_PVA_Component_Deleted_-_this_bot": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "c6a4ba96-b455-40ec-9e08-07702952e2f5"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_pvacomponents",
                                  "recordId": "@items('Loop_Bot_Components_-_this_bot')?['admin_pvacomponentid']",
                                  "item/admin_componentdeleted": true,
                                  "item/admin_componentdeletedon": "@utcNow()"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "List_Bot_Components_for_Marking_Delete_-_this_bot": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a174aa83-d366-4e67-a2d0-fafe2f030066"
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "a3bdf007-af9a-4581-913f-4af5de62d0eb"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {
                    "Catch_failure_and_set_noPVAs_to_true": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Check_each_PVA_to_see_if_still_in_environment": {
                        "foreach": "@outputs('List_PVAs_not_yet_marked_deleted')?['body/value']",
                        "actions": {
                          "reset_PVAfound": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "5382460b-f7cb-4cc0-8b58-d3dd24826f93"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "PVAfound",
                              "value": "@false"
                            }
                          },
                          "Apply_to_each_PVA": {
                            "foreach": "@outputs('Get_this_envs_PVAs_from_bots')?['body/value']",
                            "actions": {
                              "Parse_PVA_JSON": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "ffe91d99-dc98-41ec-b8cd-05c3c3ecb736"
                                },
                                "type": "ParseJson",
                                "inputs": {
                                  "content": "@items('Apply_to_each_PVA')",
                                  "schema": {
                                    "properties": {
                                      "@@odata.etag": {
                                        "type": "string"
                                      },
                                      "@@odata.id": {
                                        "type": "string"
                                      },
                                      "ItemInternalId": {
                                        "type": "string"
                                      },
                                      "_componentstate_label": {
                                        "type": "string"
                                      },
                                      "_createdby_type": {
                                        "type": "string"
                                      },
                                      "_createdby_value": {
                                        "type": "string"
                                      },
                                      "_language_label": {
                                        "type": "string"
                                      },
                                      "_modifiedby_type": {
                                        "type": "string"
                                      },
                                      "_modifiedby_value": {
                                        "type": "string"
                                      },
                                      "_ownerid_type": {
                                        "type": "string"
                                      },
                                      "_ownerid_value": {
                                        "type": "string"
                                      },
                                      "_owningbusinessunit_type": {
                                        "type": "string"
                                      },
                                      "_owningbusinessunit_value": {
                                        "type": "string"
                                      },
                                      "_owningteam_value": {},
                                      "_statecode_label": {
                                        "type": "string"
                                      },
                                      "_statuscode_label": {
                                        "type": "string"
                                      },
                                      "botid": {
                                        "type": "string"
                                      },
                                      "componentidunique": {
                                        "type": "string"
                                      },
                                      "componentstate": {
                                        "type": "integer"
                                      },
                                      "createdon": {
                                        "type": "string"
                                      },
                                      "importsequencenumber": {},
                                      "iscustomizable": {
                                        "type": "boolean"
                                      },
                                      "ismanaged": {
                                        "type": "boolean"
                                      },
                                      "language": {
                                        "type": "integer"
                                      },
                                      "modifiedon": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "overriddencreatedon": {},
                                      "overwritetime": {
                                        "type": "string"
                                      },
                                      "schemaname": {
                                        "type": "string"
                                      },
                                      "solutionid": {
                                        "type": "string"
                                      },
                                      "statecode": {
                                        "type": "integer"
                                      },
                                      "statuscode": {
                                        "type": "integer"
                                      },
                                      "timezoneruleversionnumber": {},
                                      "utcconversiontimezonecode": {},
                                      "versionnumber": {
                                        "type": "integer"
                                      }
                                    },
                                    "type": "object"
                                  }
                                }
                              },
                              "See_if_our_current_PVA": {
                                "actions": {
                                  "Set_PVAfound_to_true": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "642da8fc-91f2-4fca-af1e-d2916c83df1e"
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "PVAfound",
                                      "value": "@true"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Parse_PVA_JSON": [
                                    "Succeeded"
                                  ]
                                },
                                "expression": {
                                  "equals": [
                                    "@body('Parse_PVA_JSON')?['ItemInternalId']",
                                    "@items('Check_each_PVA_to_see_if_still_in_environment')?['admin_pvaid']"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "437d63b1-7fcd-4e49-af80-b00edb747673"
                                },
                                "type": "If"
                              }
                            },
                            "runAfter": {
                              "reset_PVAfound": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "d5bd4fee-1816-4bf3-9b10-8e6430de910e"
                            },
                            "type": "Foreach"
                          },
                          "If_PVA_not_found,_delete_or_mark_deleted": {
                            "actions": {
                              "See_if_delete_row_from_inventory_or_mark_deleted_-_check_deleted": {
                                "actions": {
                                  "Delete_this_PVA_from_inventory": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "27d7b8fa-e075-4dd2-95c4-cb782793a928"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "DeleteRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "admin_pvas",
                                        "recordId": "@items('Check_each_PVA_to_see_if_still_in_environment')?['admin_pvaid']"
                                      },
                                      "authentication": {
                                        "type": "Raw",
                                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                      },
                                      "retryPolicy": {
                                        "type": "exponential",
                                        "count": 10,
                                        "interval": "PT10S"
                                      }
                                    }
                                  },
                                  "List_this_PVAs_components_to_delete_from_inventory": {
                                    "runAfter": {
                                      "Delete_this_PVA_from_inventory": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "6a8a6493-408f-4271-bac5-e11a8ac40100"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "ListRecords",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "admin_pvacomponents",
                                        "$select": "admin_pvacomponentid",
                                        "$filter": "_admin_pvabot_value eq @{items('Check_each_PVA_to_see_if_still_in_environment')?['admin_pvaid']}"
                                      },
                                      "authentication": {
                                        "type": "Raw",
                                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                      }
                                    },
                                    "runtimeConfiguration": {
                                      "paginationPolicy": {
                                        "minimumItemCount": 100000
                                      }
                                    }
                                  },
                                  "Delete_this_PVAs_components_from_inventory": {
                                    "foreach": "@outputs('List_this_PVAs_components_to_delete_from_inventory')?['body/value']",
                                    "actions": {
                                      "Delete_this_PVA_component": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "130f90e5-382d-4cc3-a78d-7cadd3689b60"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "DeleteRecord",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "admin_pvacomponents",
                                            "recordId": "@items('Delete_this_PVAs_components_from_inventory')?['admin_pvacomponentid']"
                                          },
                                          "authentication": {
                                            "type": "Raw",
                                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                          },
                                          "retryPolicy": {
                                            "type": "exponential",
                                            "count": 10,
                                            "interval": "PT10S"
                                          }
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "List_this_PVAs_components_to_delete_from_inventory": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "41c55f76-52dd-455e-a5ab-7466f26f81cf"
                                    },
                                    "type": "Foreach"
                                  }
                                },
                                "runAfter": {},
                                "else": {
                                  "actions": {
                                    "Mark_this_PVA_as_deleted_today": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "9ca9f9aa-fab8-43b5-9140-fcc9f16acefb"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_pvas",
                                          "recordId": "@items('Check_each_PVA_to_see_if_still_in_environment')?['admin_pvaid']",
                                          "item/admin_pvadeleted": true,
                                          "item/admin_pvadeletedon": "@utcnow()"
                                        },
                                        "authentication": {
                                          "type": "Raw",
                                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                        },
                                        "retryPolicy": {
                                          "type": "exponential",
                                          "count": 10,
                                          "interval": "PT10S"
                                        }
                                      }
                                    },
                                    "List_this_PVAs_components_to_mark_deleted_from_inventory": {
                                      "runAfter": {
                                        "Mark_this_PVA_as_deleted_today": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "156b15e3-d62a-43fc-a02e-0f6999ba34ba"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "ListRecords",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_pvacomponents",
                                          "$select": "admin_pvacomponentid",
                                          "$filter": "_admin_pvabot_value eq @{items('Check_each_PVA_to_see_if_still_in_environment')?['admin_pvaid']}"
                                        },
                                        "authentication": {
                                          "type": "Raw",
                                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                        }
                                      },
                                      "runtimeConfiguration": {
                                        "paginationPolicy": {
                                          "minimumItemCount": 100000
                                        }
                                      }
                                    },
                                    "Mark_this_PVAs_components_to_deleted_from_inventory": {
                                      "foreach": "@outputs('List_this_PVAs_components_to_mark_deleted_from_inventory')?['body/value']",
                                      "actions": {
                                        "Mark_this_PVA_component_deleted": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "193648b7-3d57-48e1-91af-73ae92f46b68"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "UpdateRecord",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "admin_pvacomponents",
                                              "recordId": "@items('Mark_this_PVAs_components_to_deleted_from_inventory')?['admin_pvacomponentid']",
                                              "item/admin_componentdeleted": true,
                                              "item/admin_componentdeletedon": "@utcnow()"
                                            },
                                            "authentication": {
                                              "type": "Raw",
                                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                            },
                                            "retryPolicy": {
                                              "type": "exponential",
                                              "count": 10,
                                              "interval": "PT10S"
                                            }
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "List_this_PVAs_components_to_mark_deleted_from_inventory": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "8960da0a-a230-4866-ad37-2007477660c1"
                                      },
                                      "type": "Foreach"
                                    }
                                  }
                                },
                                "expression": {
                                  "equals": [
                                    "@triggerBody()['boolean_1']",
                                    "@true"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "d0751bd1-4804-4071-89ee-75bec3fd7749"
                                },
                                "type": "If"
                              }
                            },
                            "runAfter": {
                              "Apply_to_each_PVA": [
                                "Succeeded"
                              ]
                            },
                            "expression": {
                              "not": {
                                "equals": [
                                  "@variables('PVAfound')",
                                  "@true"
                                ]
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "5323b54f-fc46-4a2c-b54c-9a41e8d23c67"
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "6fcb7319-4737-4f3f-86ae-df2990a076fb"
                        },
                        "type": "Foreach"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('noPVAs')",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b1483db5-e035-493f-99d5-17fe9d672deb"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "List_PVAs": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "See_if_delete_row_from_inventory_or_mark_deleted": {
                    "actions": {
                      "Delete_all_the_pvas_from_inventory": {
                        "foreach": "@outputs('List_PVAs')?['body/value']",
                        "actions": {
                          "Delete_PVA_from_inventory": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "a26cdd66-67f7-4a5d-b4f6-43f59812b1ea"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "DeleteRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_pvas",
                                "recordId": "@items('Delete_all_the_pvas_from_inventory')?['admin_pvaid']"
                              },
                              "authentication": {
                                "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                              },
                              "retryPolicy": {
                                "type": "exponential",
                                "count": 10,
                                "interval": "PT10S"
                              }
                            }
                          },
                          "List_bot_components_to_delete": {
                            "runAfter": {
                              "Delete_PVA_from_inventory": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "d3ab978a-732b-4a67-8f02-0c5f373e38aa"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "ListRecords",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_pvacomponents",
                                "$select": "admin_pvacomponentid",
                                "$filter": "_admin_pvabot_value eq @{items('Delete_all_the_pvas_from_inventory')?['admin_pvaid']}"
                              },
                              "authentication": {
                                "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                              }
                            },
                            "runtimeConfiguration": {
                              "paginationPolicy": {
                                "minimumItemCount": 100000
                              }
                            }
                          },
                          "Delete_each_PVA_Component_from_inventory": {
                            "foreach": "@outputs('List_bot_components_to_delete')?['body/value']",
                            "actions": {
                              "Delete_PVA_Component_from_inventory": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "6c96f7c4-bf30-4115-9863-e72ffb095071"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "DeleteRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "admin_pvacomponents",
                                    "recordId": "@items('Delete_each_PVA_Component_from_inventory')?['admin_pvacomponentid']"
                                  },
                                  "authentication": {
                                    "type": "Raw",
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                  },
                                  "retryPolicy": {
                                    "type": "exponential",
                                    "count": 10,
                                    "interval": "PT10S"
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "List_bot_components_to_delete": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "ca96a12f-2335-42c8-9230-13c95b829338"
                            },
                            "type": "Foreach"
                          }
                        },
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "debdac81-465d-4fb2-b82d-e0f18a19c92d"
                        },
                        "type": "Foreach"
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Mark_all_PVAs_in_inventory_as_deleted_today": {
                          "foreach": "@outputs('List_PVAs')?['body/value']",
                          "actions": {
                            "Mark_PVA_as_deleted_today": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "f1a06dbb-609a-4cc0-86e2-2ec798df1c7f"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_pvas",
                                  "recordId": "@items('Mark_all_PVAs_in_inventory_as_deleted_today')?['admin_pvaid']",
                                  "item/admin_pvadeleted": true,
                                  "item/admin_pvadeletedon": "@utcNow()"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            },
                            "List_bot_components_to_mark_deleted_today": {
                              "runAfter": {
                                "Mark_PVA_as_deleted_today": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "76d853bb-f851-4612-8e71-fe6cdaa80706"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "ListRecords",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_pvacomponents",
                                  "$select": "admin_pvacomponentid",
                                  "$filter": "_admin_pvabot_value eq @{items('Mark_all_PVAs_in_inventory_as_deleted_today')?['admin_pvaid']}"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              },
                              "runtimeConfiguration": {
                                "paginationPolicy": {
                                  "minimumItemCount": 100000
                                }
                              }
                            },
                            "Mark_each_PVA_Component_deleted_today": {
                              "foreach": "@outputs('List_bot_components_to_mark_deleted_today')?['body/value']",
                              "actions": {
                                "Mark_PVA_Component_deleted_today": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "fd8437cf-4186-4280-b2e9-02f00048e4ae"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_pvacomponents",
                                      "recordId": "@items('Mark_each_PVA_Component_deleted_today')?['admin_pvacomponentid']",
                                      "item/admin_componentdeleted": true,
                                      "item/admin_componentdeletedon": "@utcNow()"
                                    },
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    },
                                    "retryPolicy": {
                                      "type": "exponential",
                                      "count": 10,
                                      "interval": "PT10S"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "List_bot_components_to_mark_deleted_today": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "686660d7-a76e-4e13-850d-65b5e98a94c0"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "fd3383d3-dce4-4bfb-9f20-49a541c0bfd5"
                          },
                          "type": "Foreach"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@triggerBody()['boolean_1']",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6521c170-d60d-484a-a44f-215743c6f81c"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerBody()['boolean']",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "b29d8fb3-f4e2-4dc8-a117-f196f9d02ed8"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_PVAfound": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48ce2504-e779-4d81-8d3d-92faf279cf6a"
          },
          "type": "Scope"
        },
        "Error_Handling_Scope": {
          "actions": {
            "Create_Sync_Flow_Error_record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9ec53393-57c4-41b7-aaf7-7a9a053d3a48"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "CLEANUP HELPER - Check Deleted (PVA)",
                  "item/admin_environmentname": "@triggerBody()['text']",
                  "item/admin_flowinstanceurl": "@concat(parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Set_returnValue_to_fail": {
              "runAfter": {
                "Create_Sync_Flow_Error_record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a0fc2ac7-cce5-4eb1-a7e0-512e21fa80f4"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "returnValue",
                "value": "fail"
              }
            }
          },
          "runAfter": {
            "Check_Deleted_Scope": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "87c7f74d-2f87-4125-8d49-89584eb782cc"
          },
          "type": "Scope"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Error_Handling_Scope": [
              "Succeeded",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "3233de33-8d6e-4dc2-a1de-45a2584bcd1c"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "thereturnvalue": "@variables('returnValue')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "thereturnvalue": {
                  "title": "theReturnValue",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}