CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/CoEBYODL-WhenAppdataflowrefreshiscomplete-D6FFA560-393B-ED11-9DB0-000D3A9A3022.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoEBYODLDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerplatformforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdminsEnvRequest"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      },
      "shared_dataflows_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoEBYODLPowerQuery"
        },
        "api": {
          "name": "shared_dataflows"
        }
      },
      "shared_powerappsforadmins_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsAdmin"
        },
        "api": {
          "name": "shared_powerappsforadmins"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Current Environment (admin_CurrentEnvironment)": {
          "defaultValue": "c88c7061-6eea-e86a-a0dd-926a8e97d41d-31c688f59-westus",
          "type": "String",
          "metadata": {
            "schemaName": "admin_CurrentEnvironment",
            "description": "Current Environment ID."
          }
        },
        "App Dataflow ID (admin_AppDataflowID)": {
          "defaultValue": "a862bce2-5592-4741-ae70-b88d20ef8d24",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AppDataflowID",
            "description": "LEAVE BLANK ON IMPORT. Dataflow ID of the CoE BYODL Apps dataflow."
          }
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "Inventory - REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        },
        "App Usage Dataflow ID (admin_AppUsageDataflowID)": {
          "defaultValue": "a9aceb46-fd7a-40f1-868a-264a11c4bbf1",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AppUsageDataflowID",
            "description": "LEAVE EMPTY ON IMPORT. App Usage Dataflow ID."
          }
        },
        "App Connections Dataflow ID (admin_AppConnectionsDataflowID)": {
          "defaultValue": "9ac0857c-f8d0-4513-8df8-e1bc973a3213",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AppConnectionsDataflowID",
            "description": "LEAVE EMPTY ON IMPORT. App Connections Dataflow ID."
          }
        }
      },
      "triggers": {
        "When_a_dataflow_refresh_completes": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "metadata": {
            "operationMetadataId": "e1a55617-594e-4512-a5e7-c800c84d3c29"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_dataflows_1",
              "operationId": "OnRefreshComplete",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_dataflows"
            },
            "parameters": {
              "workspaceType": "Environment",
              "groupIdForOnRefreshComplete": "@parameters('Current Environment (admin_CurrentEnvironment)')",
              "dataflowIdForOnRefreshComplete": "@parameters('App Dataflow ID (admin_AppDataflowID)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "87961ff0-e261-4890-9ab9-a53f88fe0de5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "@workflow()?['tags']['flowDisplayName']",
                  "item/admin_flowinstanceurl": "@concat(parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Terminate_2": {
              "runAfter": {
                "Update_Last_Run_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e5a2a18-dba2-47a1-96d5-3356f4348e5a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "500",
                  "message": "Get Environments Failed"
                }
              }
            },
            "Get_ID_Fail": {
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "47329bf2-8aac-400d-9778-a793b4f1180f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_Last_Run_Fail": {
              "runAfter": {
                "Get_ID_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c63eb7cc-6101-4567-b520-a4a8881264e9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Fail')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": false
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "App_dataflow_complete_processing": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "38ae684e-622d-42ea-abd2-ee571aee3a5f"
          },
          "type": "Scope"
        },
        "Update_last_run_as_pass": {
          "actions": {
            "Update_Last_Run_Successful": {
              "runAfter": {
                "Get_ID_Pass": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78ef70e5-7f67-4737-9a02-8533f12caa19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Pass')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_ID_Pass": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f4f314b6-89d3-4056-af1c-73115e7d6bd1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Catch_-_not_ready_to_take_last_run_date": {
              "runAfter": {
                "Update_Last_Run_Successful": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "f88cdefe-c402-49d7-8f4a-934475e6f741"
              },
              "type": "Compose",
              "inputs": "Catch - not ready to take last run date"
            }
          },
          "runAfter": {
            "Error_Handling": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c140442-d939-4ca4-8ec8-d1ee2bed4a81"
          },
          "type": "Scope"
        },
        "App_dataflow_complete_processing": {
          "actions": {
            "Mark_apps_as_deleted": {
              "actions": {
                "List_all_apps_that_weren't_updated_today": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1ac34201-8ffb-4665-8240-78deeb8fb52a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "$select": "admin_appid,admin_appqueriedon",
                      "$filter": "admin_powerappstype ne 597910001 and admin_appdeleted ne true and (Microsoft.Dynamics.CRM.OlderThanXDays(PropertyName='admin_appqueriedon',PropertyValue=1) or admin_appqueriedon eq null)"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Apply_to_each_app": {
                  "foreach": "@outputs('List_all_apps_that_weren''t_updated_today')?['body/value']",
                  "actions": {
                    "Update_app_-_mark_as_deleted": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3ecf09b7-df00-4143-8ea8-d9f52f60fd45"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_apps",
                          "recordId": "@items('Apply_to_each_app')?['admin_appid']",
                          "item/admin_appdeleted": true,
                          "item/admin_appdeletedon": "@utcNow()"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_all_apps_that_weren't_updated_today": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0c150fa0-2d61-45ab-ae10-e842e52f846a"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 50
                    }
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5330b75e-0925-41ad-b81d-2280464961bb"
              },
              "type": "Scope"
            },
            "Mark_apps_as_restored": {
              "actions": {
                "List_all_apps_that_are_marked_as_deleted_but_where_updated_today": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1ac34201-8ffb-4665-8240-78deeb8fb52a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "$select": "admin_appid,admin_appqueriedon",
                      "$filter": "admin_powerappstype ne 597910001 and admin_appdeleted eq true and Microsoft.Dynamics.CRM.LastXDays(PropertyName='admin_appqueriedon',PropertyValue=1)"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Apply_to_each_app_2": {
                  "foreach": "@outputs('List_all_apps_that_are_marked_as_deleted_but_where_updated_today')?['body/value']",
                  "actions": {
                    "Update_app_-_mark_as_not_deleted": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3ecf09b7-df00-4143-8ea8-d9f52f60fd45"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_apps",
                          "recordId": "@items('Apply_to_each_app_2')?['admin_appid']",
                          "item/admin_appdeleted": false,
                          "item/admin_appdeletedon": "@null"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_all_apps_that_are_marked_as_deleted_but_where_updated_today": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0c150fa0-2d61-45ab-ae10-e842e52f846a"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 50
                    }
                  }
                }
              },
              "runAfter": {
                "Mark_apps_as_deleted": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5330b75e-0925-41ad-b81d-2280464961bb"
              },
              "type": "Scope"
            },
            "Call_for_App_Properties": {
              "actions": {
                "List_Environments_as_Admin": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5d7544c0-c659-4142-95c2-c569bc685abb"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerplatformforadmins",
                      "operationId": "Get-AdminEnvironment",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                    },
                    "parameters": {
                      "api-version": "2018-10-01"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Apply_to_each_envt": {
                  "foreach": "@outputs('List_Environments_as_Admin')?['body/value']",
                  "actions": {
                    "Call_Admin_|_Sync_Template_v3_(App_Properties)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "10485dc5-b3dd-4667-90a2-a97fd6d6908c"
                      },
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflowReferenceName": "575e9880-b3b6-ed11-83fe-0022480819d7"
                        },
                        "body": {
                          "text": "@items('Apply_to_each_envt')?['name']",
                          "text_1": "@substring(items('Apply_to_each_envt')?['name'], int(sub(length(items('Apply_to_each_envt')?['name']),36)), 36)"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_Environments_as_Admin": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c70c6a07-9802-41e9-9690-de15c48d862d"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 50
                    }
                  }
                }
              },
              "runAfter": {
                "Update_missing_fields": [
                  "Succeeded",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "61f1de20-272c-49fb-ba47-7c07722a33d5"
              },
              "type": "Scope"
            },
            "Call_next_set_of_dataflows": {
              "actions": {
                "Refresh_App_Connections_dataflow": {
                  "runAfter": {
                    "Refresh_App_Usage_dataflow": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d2e687ba-2647-4c90-9078-c1576c28021e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_dataflows_1",
                      "operationId": "RefreshDataflow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_dataflows"
                    },
                    "parameters": {
                      "workspaceType": "Environment",
                      "groupIdForRefreshDataflow": "@parameters('Current Environment (admin_CurrentEnvironment)')",
                      "dataflowIdForRefreshDataflow": "@parameters('App Connections Dataflow ID (admin_AppConnectionsDataflowID)')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Refresh_App_Usage_dataflow": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "37ca2896-2786-4330-bcb2-7e290dfd7092"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_dataflows_1",
                      "operationId": "RefreshDataflow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_dataflows"
                    },
                    "parameters": {
                      "workspaceType": "Environment",
                      "groupIdForRefreshDataflow": "@parameters('Current Environment (admin_CurrentEnvironment)')",
                      "dataflowIdForRefreshDataflow": "@parameters('App Usage Dataflow ID (admin_AppUsageDataflowID)')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Mark_apps_as_restored": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "43be7f30-37d8-4751-9269-5beb644c8202"
              },
              "type": "Scope"
            },
            "Update_missing_fields": {
              "actions": {
                "List_apps_that_need_updating": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "59bd4663-0bbd-4afb-a4cc-85be62486a0f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "$select": "admin_appid,admin_appqueriedon,admin_appenvironmentid",
                      "$filter": "admin_appdeleted eq false and admin_powerappstype eq 597910000 and (Microsoft.Dynamics.CRM.LastXDays(PropertyName='admin_appmodifiedon',PropertyValue=2) or admin_appalmmode eq null)"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "For_each_app": {
                  "foreach": "@outputs('List_apps_that_need_updating')?['body/value']",
                  "actions": {
                    "Get_App_as_Admin": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "0fbc5d90-5813-4d46-9e98-4f26927e7d83"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_powerappsforadmins_1",
                          "operationId": "Get-AdminApp",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                        },
                        "parameters": {
                          "environment": "@items('For_each_app')?['admin_appenvironmentid']",
                          "app": "@items('For_each_app')?['admin_appid']",
                          "api-version": "2020-07-01"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Update_a_row": {
                      "runAfter": {
                        "Parse_JSON": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3c499332-8c17-4af5-b869-217d69d7767e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_apps",
                          "recordId": "@items('For_each_app')?['admin_appid']",
                          "item/admin_appalmmode": "@body('Parse_JSON')?['properties']?['almMode']",
                          "item/admin_appiconuri": "@body('Parse_JSON')?['properties']?['backgroundImageUri']",
                          "item/admin_appplanclassification": "@coalesce(body('Parse_JSON')?['properties']?['appPlanClassification'], '')",
                          "item/admin_appusesdataversetables": "@if(empty(body('Parse_JSON')?['properties']?['databaseReferences']), false, true)",
                          "item/admin_dlpevaluationstatus": "@body('Parse_JSON')?['properties']?['executionRestrictions']?['dataLossPreventionEvaluationResult']?['status']",
                          "item/admin_dlplastevaluationdate": "@body('Parse_JSON')?['properties']?['executionRestrictions']?['dataLossPreventionEvaluationResult']?['lastEvaluationDate']",
                          "item/admin_iconbackgroundcolor": "@body('Parse_JSON')?['properties']?['backgroundColor']",
                          "item/admin_sharepointformurl": "@coalesce(body('Parse_JSON')?['properties']?['embeddedApp']?['listUrl'], '')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Compose": {
                      "runAfter": {
                        "Get_App_as_Admin": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "415053c2-9e0d-463a-bd4b-7fd11fde282a"
                      },
                      "type": "Compose",
                      "inputs": "Skip if Get App as Admin failed."
                    },
                    "Parse_JSON": {
                      "runAfter": {
                        "Get_App_as_Admin": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1fb85241-d3ca-434e-a299-e1e93f37f9c7"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_App_as_Admin')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "statusCode": {
                              "type": "integer"
                            },
                            "headers": {
                              "type": "object",
                              "properties": {
                                "Vary": {
                                  "type": "string"
                                },
                                "Strict-Transport-Security": {
                                  "type": "string"
                                },
                                "x-ms-islandgateway": {
                                  "type": "string"
                                },
                                "x-ms-request-id": {
                                  "type": "string"
                                },
                                "x-ms-correlation-request-id": {
                                  "type": "string"
                                },
                                "x-ms-client-request-id": {
                                  "type": "string"
                                },
                                "x-servicefabric": {
                                  "type": "string"
                                },
                                "x-ms-service-request-id": {
                                  "type": "string"
                                },
                                "x-ms-correlation-id": {
                                  "type": "string"
                                },
                                "x-ms-activity-vector": {
                                  "type": "string"
                                },
                                "Server-Timing": {
                                  "type": "string"
                                },
                                "X-Content-Type-Options": {
                                  "type": "string"
                                },
                                "Timing-Allow-Origin": {
                                  "type": "string"
                                },
                                "x-ms-apihub-cached-response": {
                                  "type": "string"
                                },
                                "x-ms-apihub-obo": {
                                  "type": "string"
                                },
                                "Cache-Control": {
                                  "type": "string"
                                },
                                "Date": {
                                  "type": "string"
                                },
                                "Content-Length": {
                                  "type": "string"
                                },
                                "Content-Type": {
                                  "type": "string"
                                }
                              }
                            },
                            "body": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "tags": {
                                  "type": "object",
                                  "properties": {
                                    "primaryDeviceWidth": {
                                      "type": "string"
                                    },
                                    "primaryDeviceHeight": {
                                      "type": "string"
                                    },
                                    "supportsPortrait": {
                                      "type": "string"
                                    },
                                    "supportsLandscape": {
                                      "type": "string"
                                    },
                                    "primaryFormFactor": {
                                      "type": "string"
                                    },
                                    "publisherVersion": {
                                      "type": "string"
                                    },
                                    "minimumRequiredApiVersion": {
                                      "type": "string"
                                    },
                                    "hasComponent": {
                                      "type": "string"
                                    },
                                    "hasUnlockedComponent": {
                                      "type": "string"
                                    },
                                    "isUnifiedRootApp": {
                                      "type": "string"
                                    },
                                    "sienaVersion": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "appVersion": {
                                      "type": "string"
                                    },
                                    "lastDraftVersion": {
                                      "type": "string"
                                    },
                                    "lifeCycleId": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "createdByClientVersion": {
                                      "type": "object",
                                      "properties": {
                                        "major": {
                                          "type": "integer"
                                        },
                                        "minor": {
                                          "type": "integer"
                                        },
                                        "build": {
                                          "type": "integer"
                                        },
                                        "revision": {
                                          "type": "integer"
                                        },
                                        "majorRevision": {
                                          "type": "integer"
                                        },
                                        "minorRevision": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "minClientVersion": {
                                      "type": "object",
                                      "properties": {
                                        "major": {
                                          "type": "integer"
                                        },
                                        "minor": {
                                          "type": "integer"
                                        },
                                        "build": {
                                          "type": "integer"
                                        },
                                        "revision": {
                                          "type": "integer"
                                        },
                                        "majorRevision": {
                                          "type": "integer"
                                        },
                                        "minorRevision": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "owner": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "email": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "tenantId": {
                                          "type": "string"
                                        },
                                        "userPrincipalName": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "createdBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "email": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "tenantId": {
                                          "type": "string"
                                        },
                                        "userPrincipalName": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "lastModifiedBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "tenantId": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "lastPublishedBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "tenantId": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "backgroundColor": {
                                      "type": "string"
                                    },
                                    "backgroundImageUri": {
                                      "type": "string"
                                    },
                                    "teamsColorIconUrl": {
                                      "type": "string"
                                    },
                                    "teamsOutlineIconUrl": {
                                      "type": "string"
                                    },
                                    "displayName": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "commitMessage": {
                                      "type": "string"
                                    },
                                    "publisher": {
                                      "type": "string"
                                    },
                                    "appUris": {
                                      "type": "object",
                                      "properties": {
                                        "documentUri": {
                                          "type": "object",
                                          "properties": {
                                            "value": {
                                              "type": "string"
                                            },
                                            "readonlyValue": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "imageUris": {
                                          "type": "array"
                                        },
                                        "additionalUris": {
                                          "type": "array"
                                        }
                                      }
                                    },
                                    "createdTime": {
                                      "type": "string"
                                    },
                                    "lastModifiedTime": {
                                      "type": "string"
                                    },
                                    "lastPublishTime": {
                                      "type": "string"
                                    },
                                    "sharedGroupsCount": {
                                      "type": "integer"
                                    },
                                    "sharedUsersCount": {
                                      "type": "integer"
                                    },
                                    "appOpenProtocolUri": {
                                      "type": "string"
                                    },
                                    "appOpenUri": {
                                      "type": "string"
                                    },
                                    "appPlayUri": {
                                      "type": "string"
                                    },
                                    "appPlayEmbeddedUri": {
                                      "type": "string"
                                    },
                                    "appPlayTeamsUri": {
                                      "type": "string"
                                    },
                                    "connectionReferences": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "iconUri": {
                                            "type": "string"
                                          },
                                          "displayName": {
                                            "type": "string"
                                          },
                                          "apiTier": {
                                            "type": "string"
                                          },
                                          "isOnPremiseConnection": {
                                            "type": "boolean"
                                          },
                                          "isCustomApiConnection": {
                                            "type": "boolean"
                                          },
                                          "bypassConsent": {
                                            "type": "boolean"
                                          },
                                          "id": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "iconUri",
                                          "displayName",
                                          "apiTier",
                                          "isOnPremiseConnection",
                                          "isCustomApiConnection",
                                          "bypassConsent",
                                          "id"
                                        ]
                                      }
                                    },
                                    "authorizationReferences": {
                                      "type": "array"
                                    },
                                    "databaseReferences": {
                                      "type": "object",
                                      "properties": {
                                        "default.cds": {
                                          "type": "object",
                                          "properties": {
                                            "databaseDetails": {
                                              "type": "object",
                                              "properties": {
                                                "referenceType": {
                                                  "type": "string"
                                                },
                                                "environmentName": {
                                                  "type": "string"
                                                },
                                                "overrideValues": {
                                                  "type": "object",
                                                  "properties": {
                                                    "status": {
                                                      "type": "string"
                                                    }
                                                  }
                                                },
                                                "linkedEnvironmentMetadata": {
                                                  "type": "object",
                                                  "properties": {
                                                    "resourceId": {
                                                      "type": "string"
                                                    },
                                                    "friendlyName": {
                                                      "type": "string"
                                                    },
                                                    "uniqueName": {
                                                      "type": "string"
                                                    },
                                                    "domainName": {
                                                      "type": "string"
                                                    },
                                                    "version": {
                                                      "type": "string"
                                                    },
                                                    "instanceUrl": {
                                                      "type": "string"
                                                    },
                                                    "instanceApiUrl": {
                                                      "type": "string"
                                                    },
                                                    "baseLanguage": {
                                                      "type": "integer"
                                                    },
                                                    "instanceState": {
                                                      "type": "string"
                                                    },
                                                    "createdTime": {
                                                      "type": "string"
                                                    },
                                                    "securityGroupId": {
                                                      "type": "string"
                                                    },
                                                    "platformSku": {
                                                      "type": "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "dataSources": {
                                              "type": "object",
                                              "properties": {
                                                "Environment Variable Values": {
                                                  "type": "object",
                                                  "properties": {
                                                    "entitySetName": {
                                                      "type": "string"
                                                    },
                                                    "logicalName": {
                                                      "type": "string"
                                                    }
                                                  }
                                                },
                                                "Environment Variable Definitions": {
                                                  "type": "object",
                                                  "properties": {
                                                    "entitySetName": {
                                                      "type": "string"
                                                    },
                                                    "logicalName": {
                                                      "type": "string"
                                                    }
                                                  }
                                                },
                                                "Power Platform Users": {
                                                  "type": "object",
                                                  "properties": {
                                                    "entitySetName": {
                                                      "type": "string"
                                                    },
                                                    "logicalName": {
                                                      "type": "string"
                                                    }
                                                  }
                                                },
                                                "PowerApps Apps": {
                                                  "type": "object",
                                                  "properties": {
                                                    "entitySetName": {
                                                      "type": "string"
                                                    },
                                                    "logicalName": {
                                                      "type": "string"
                                                    }
                                                  }
                                                },
                                                "Environments": {
                                                  "type": "object",
                                                  "properties": {
                                                    "entitySetName": {
                                                      "type": "string"
                                                    },
                                                    "logicalName": {
                                                      "type": "string"
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "userAppMetadata": {
                                      "type": "object",
                                      "properties": {
                                        "favorite": {
                                          "type": "string"
                                        },
                                        "includeInAppsList": {
                                          "type": "boolean"
                                        }
                                      }
                                    },
                                    "isFeaturedApp": {
                                      "type": "boolean"
                                    },
                                    "bypassConsent": {
                                      "type": "boolean"
                                    },
                                    "isHeroApp": {
                                      "type": "boolean"
                                    },
                                    "environment": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "location": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "almMode": {
                                      "type": "string"
                                    },
                                    "performanceOptimizationEnabled": {
                                      "type": "boolean"
                                    },
                                    "unauthenticatedWebPackageHint": {
                                      "type": "string"
                                    },
                                    "canConsumeAppPass": {
                                      "type": "boolean"
                                    },
                                    "enableModernRuntimeMode": {
                                      "type": "boolean"
                                    },
                                    "executionRestrictions": {
                                      "type": "object",
                                      "properties": {
                                        "isTeamsOnly": {
                                          "type": "boolean"
                                        },
                                        "dataLossPreventionEvaluationResult": {
                                          "type": "object",
                                          "properties": {
                                            "status": {
                                              "type": "string"
                                            },
                                            "lastEvaluationDate": {
                                              "type": "string"
                                            },
                                            "violations": {
                                              "type": "array"
                                            },
                                            "violationsByPolicy": {
                                              "type": "array"
                                            },
                                            "violationErrorMessage": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "httpActionRestriction": {
                                          "type": "object",
                                          "properties": {
                                            "appUsesSharepointHttpAction": {
                                              "type": "boolean"
                                            },
                                            "enforcementStrategy": {
                                              "type": "string"
                                            },
                                            "evaluationTime": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "appPlanClassification": {
                                      "type": "string"
                                    },
                                    "usesPremiumApi": {
                                      "type": "boolean"
                                    },
                                    "usesOnlyGrandfatheredPremiumApis": {
                                      "type": "boolean"
                                    },
                                    "usesCustomApi": {
                                      "type": "boolean"
                                    },
                                    "usesOnPremiseGateway": {
                                      "type": "boolean"
                                    },
                                    "usesPcfExternalServiceUsage": {
                                      "type": "boolean"
                                    },
                                    "isCustomizable": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "logicalName": {
                                  "type": "string"
                                },
                                "appLocation": {
                                  "type": "string"
                                },
                                "isAppComponentLibrary": {
                                  "type": "boolean"
                                },
                                "appType": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "If_not_found_mark_as_deleted": {
                      "runAfter": {
                        "Compose": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4e8549b8-d0d5-4f60-afad-b816e91153a2"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_apps",
                          "recordId": "@items('For_each_app')?['admin_appid']",
                          "item/admin_appdeleted": true,
                          "item/admin_appdeletedon": "@utcNow()"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_apps_that_need_updating": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8fdefe77-68a8-4b84-8ed0-e8b47233837c"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 50
                    }
                  }
                }
              },
              "runAfter": {
                "Call_next_set_of_dataflows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "068d0b68-5a3b-4647-a6dd-1fbd4365428d"
              },
              "type": "Scope"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4f4b1a65-55d8-4679-8f09-5fdaf0f005cf"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}