CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/DLPRequestProcessApprovedPolicyChange-40A1AAC1-DDDE-EB11-BACB-000D3A55A7C8.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerplatformforadmins_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdmins"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_policy_change_request_is_Approved": {
          "metadata": {
            "operationMetadataId": "0ab853be-5e3d-4e6d-b939-e74a3dfee880"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "coe_dlppolicychangerequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "coe_requeststatus eq 597910003"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Status is changed to 'Approved'"
        }
      },
      "actions": {
        "Get_DLP_Policy_row_in_Dataverse": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "83ca81c6-400c-47f6-bd9b-1f8b74c09068"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "coe_dlppolicychangerequests",
              "recordId": "@triggerOutputs()?['body/coe_dlppolicychangerequestid']"
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          }
        },
        "Scope_-_Process_DLP_Policy_change": {
          "actions": {
            "Update_a_row_-_Request_Completed": {
              "runAfter": {
                "Switch_-_Action_Requested_(Environment_operations)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ac30ca75-b8f6-4482-8a84-1739b9e0bd36"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "coe_dlppolicychangerequests",
                  "recordId": "@triggerOutputs()?['body/coe_dlppolicychangerequestid']",
                  "item/coe_requeststatus": 181330003,
                  "item/statecode": 1
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Get_Environment_as_Admin": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f94f6fe5-7b0b-4697-b148-39212cc931d5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerplatformforadmins_1",
                  "operationId": "GetSingleEnvironment",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                },
                "parameters": {
                  "environment": "@outputs('Get_DLP_Policy_row_in_Dataverse')?['body/_coe_environment_value']",
                  "api-version": "2018-10-01"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Get_DLP_Policy_V2": {
              "runAfter": {
                "Get_Environment_as_Admin": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2872cf96-ac9a-4bc9-ab89-1f2a876904e9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerplatformforadmins_1",
                  "operationId": "GetPolicyV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                },
                "parameters": {
                  "policy": "@outputs('Get_DLP_Policy_row_in_Dataverse')?['body/coe_policyid']"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Switch_-_Action_Requested_(Environment_operations)": {
              "runAfter": {
                "Get_DLP_Policy_V2": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Case_-_Add_Environment_to_Policy": {
                  "case": 181330000,
                  "actions": {
                    "Run_a_Child_Flow": {
                      "runAfter": {},
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflowReferenceName": "309dccc8-a76b-ec11-8943-00224828fb29"
                        },
                        "body": {
                          "text": "@outputs('Get_DLP_Policy_row_in_Dataverse')?['body/coe_policyid']",
                          "text_1": "@outputs('Get_DLP_Policy_row_in_Dataverse')?['body/_coe_environment_value']"
                        }
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@triggerOutputs()?['body/coe_actionrequested']",
              "metadata": {
                "operationMetadataId": "aee07002-fbe6-4557-9f60-51751bce5445"
              },
              "type": "Switch"
            }
          },
          "runAfter": {
            "Get_DLP_Policy_row_in_Dataverse": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2454ab85-e1a8-42b9-b9c3-9a6e790ace59"
          },
          "type": "Scope"
        },
        "Update_a_row_-_Failed": {
          "runAfter": {
            "Scope_-_Process_DLP_Policy_change": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "bd3bf7de-da33-42c8-969f-0c86a12a08a8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "coe_dlppolicychangerequests",
              "recordId": "@triggerOutputs()?['body/coe_dlppolicychangerequestid']",
              "item/coe_requeststatus": 597910007,
              "item/statecode": 1
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          }
        },
        "Terminate_-_Failed": {
          "runAfter": {
            "Update_a_row_-_Failed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4647ab31-10af-45fa-8e57-c0199f1ec362"
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Failed",
            "runError": {
              "code": "1",
              "message": "An error occured when attempting to update the DLP Policy."
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}