CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/EnvRequestCreateApprovedEnvironment-043D28D9-9288-EB11-A812-000D3A573ECC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseEnvRequest"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerplatformforadmins_1": {
        "api": {
          "name": "shared_powerplatformforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdminsEnvRequest"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerplatformforadmins": {
        "api": {
          "name": "shared_powerplatformforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdminsEnvRequest"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)": {
          "defaultValue": "en-US",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdmineMailPreferredLanguage",
            "description": "Inventory - The preferred language for the emails sent to the admin email alias, which is specified in theAdmin eMail environment variable. Default is en-US"
          }
        },
        "PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)": {
          "defaultValue": "https://make.powerapps.com/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAppEnvironmentVariable",
            "description": "Inventory - REQUIRED. The maker URL used by PowerApps for your cloud. Ex https://make.powerapps.com/"
          }
        },
        "Admin eMail (admin_AdminMail)": {
          "defaultValue": "hannescoeadmins@powercattools.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdminMail",
            "description": "Inventory - CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list"
          }
        },
        "ProductionEnvironment (admin_ProductionEnvironment)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ProductionEnvironment",
            "description": "Inventory - Yes by default. Set to No if you are creating a dev type envt. This will allow some flows to set target users to the admin instead of resource owners"
          }
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "Inventory - REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "description": "Triggers when the request status is updated to Approved",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "coe_environmentcreationrequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "coe_requeststatus",
              "subscriptionRequest/filterexpression": "coe_requeststatus eq 597910003"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "metadata": {
            "operationMetadataId": "7effc202-af23-43a9-862c-e2c2efc24049"
          }
        }
      },
      "actions": {
        "Get_a_record_-_environment_request": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "coe_environmentcreationrequests",
              "recordId": "@triggerOutputs()?['body/coe_environmentcreationrequestid']",
              "$expand": "coe_EnvCreationRequest_SystemAdmins($select=admin_makerid,admin_userprincipalname), coe_DLPPolicyChangeRequest_CreationReques($select=coe_dlppolicychangerequestid),createdby($select=fullname,domainname,azureactivedirectoryobjectid)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a665e0d9-ee48-49e7-af53-00cce41744a3"
          }
        },
        "Parse_JSON": {
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('Get_a_record_-_environment_request')?['body']",
            "schema": {
              "type": "object",
              "properties": {
                "coe_EnvCreationRequest_SystemAdmins": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@@odata.type": {
                        "type": "string"
                      },
                      "@@odata.id": {
                        "type": "string"
                      },
                      "@@odata.etag": {
                        "type": "string"
                      },
                      "@@odata.editLink": {
                        "type": "string"
                      },
                      "admin_makerid@odata.type": {
                        "type": "string"
                      },
                      "admin_makerid": {
                        "type": "string"
                      },
                      "admin_userprincipalname": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "@@odata.type",
                      "@@odata.id",
                      "@@odata.etag",
                      "@@odata.editLink",
                      "admin_makerid@odata.type",
                      "admin_makerid",
                      "admin_userprincipalname"
                    ]
                  }
                },
                "coe_DLPPolicyChangeRequest_CreationReques": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coe_dlppolicychangerequestid": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "coe_dlppolicychangerequestid"
                    ]
                  }
                }
              }
            }
          },
          "runAfter": {
            "Environment_Status_is_Approved": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dc74818f-f5e8-4323-a2ed-0e5403e47ac6"
          }
        },
        "Initialize_variable_-_varEnvAdmins": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varEnvAdmins",
                "type": "array",
                "value": "@body('Parse_JSON')?['coe_EnvCreationRequest_SystemAdmins']"
              }
            ]
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8af00f83-675f-4e3f-b2d0-0fa56849d72a"
          }
        },
        "Get_a_row_by_ID_-_requestor_user": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@outputs('Get_a_record_-_environment_request')?['body/_createdby_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          },
          "runAfter": {
            "Condition_-_Update_varMakerPortalUrl_with_Env_Var_value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dc6f8af8-3cd3-4c86-9b44-c9d6fe42e443"
          }
        },
        "Append_to_array_variable_-_varEnvAdmins": {
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "varEnvAdmins",
            "value": {
              "admin_makerid": "@{outputs('Get_a_row_by_ID_-_requestor_user')?['body/azureactivedirectoryobjectid']}",
              "admin_userprincipalname": "@{outputs('Get_a_row_by_ID_-_requestor_user')?['body/domainname']}"
            }
          },
          "runAfter": {
            "Get_Maker": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d02b0eeb-f8a4-4a7b-b8ed-7a51a6728f8d"
          }
        },
        "Initialize_variable_-_varEnvAdminEmails": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varEnvAdminEmails",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_-_varDlpChangeRequests": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "556300ac-6fd5-4ecc-8e94-6f8eba66d675"
          }
        },
        "Initialize_variable_-_varDlpChangeRequests": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varDlpChangeRequests",
                "type": "array",
                "value": "@body('Parse_JSON')?['coe_DLPPolicyChangeRequest_CreationReques']"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_-_varEnvAdmins": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "76d0d11f-b492-4774-a132-5ec02d499e57"
          }
        },
        "Initialize_variable_-_varErrorMessage": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorMessage",
                "type": "string",
                "value": "An error occured when provisioning the approved environment."
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_-_varEnvAdminEmails": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f8cf0e3-8df7-4016-b7de-59626c90dbfe"
          }
        },
        "Scope_-_Provision_environment": {
          "type": "Scope",
          "actions": {
            "Create_Environment": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "api-version": "2020-05-01",
                  "body/location": "@outputs('Get_a_record_-_environment_request')?['body/coe_envregion']",
                  "body/properties/displayName": "@outputs('Get_a_record_-_environment_request')?['body/coe_envdisplayname']",
                  "body/properties/environmentSku": "@outputs('Get_a_record_-_environment_request')?['body/coe_envsku@OData.Community.Display.V1.FormattedValue']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
                  "operationId": "NewAdminEnvironment",
                  "connectionName": "shared_powerplatformforadmins_1"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              },
              "operationOptions": "DisableAsyncPattern",
              "metadata": {
                "operationMetadataId": "8579e7d7-fea9-441c-8105-dc84501e73fc"
              }
            },
            "Get_Environment_as_Admin": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "environment": "@outputs('Create_Environment')?['body/name']",
                  "api-version": "2021-03-01"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
                  "operationId": "GetSingleEnvironment",
                  "connectionName": "shared_powerplatformforadmins_1"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              },
              "runAfter": {
                "Create_Environment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "71ef6a10-7505-4d6f-abe8-f4ce7ecb44a0"
              }
            },
            "Set_variable_-_varErrorMessage": {
              "type": "SetVariable",
              "inputs": {
                "name": "varErrorMessage",
                "value": "There was an issue creating the environment. Error message: @{body('Create_Environment')?['error']?['message']}"
              },
              "runAfter": {
                "Create_Environment": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "9c3f29fd-69f7-4a56-a231-0ecc5caa009c"
              }
            },
            "Apply_to_each_-_Grant_access_to_System_Admins": {
              "type": "Foreach",
              "foreach": "@variables('varEnvAdmins')",
              "actions": {
                "Make_User_an_Environment_Admin": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "environment": "@outputs('Get_Environment_as_Admin')?['body/name']",
                      "api-version": "2021-03-01",
                      "body/add": [
                        {
                          "properties/principal/email": "@items('Apply_to_each_-_Grant_access_to_System_Admins')?['admin_userprincipalname']",
                          "properties/principal/tenantId": "@outputs('Get_Environment_as_Admin')?['body/properties/createdBy/tenantId']",
                          "properties/principal/id": "@items('Apply_to_each_-_Grant_access_to_System_Admins')?['admin_makerid']",
                          "properties/principal/type": "User",
                          "properties/roleDefinition/id": "/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/@{outputs('Get_Environment_as_Admin')?['body/name']}/roleDefinitions/EnvironmentAdmin"
                        }
                      ]
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
                      "operationId": "Edit-AdminEnvironmentRoleAssignment",
                      "connectionName": "shared_powerplatformforadmins"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "d17796ff-9856-43ed-ab70-65ffa5349e49"
                  }
                },
                "Append_to_string_variable": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varEnvAdminEmails",
                    "value": "@{items('Apply_to_each_-_Grant_access_to_System_Admins')?['admin_userprincipalname']};"
                  },
                  "runAfter": {
                    "Make_User_an_Environment_Admin": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "544a8339-99ca-4f9b-bf7c-82a887d41512"
                  }
                }
              },
              "runAfter": {
                "Get_Environment_as_Admin": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "471b50bf-4bec-4d40-aa97-2610778ec5a6"
              }
            },
            "Condition_-_Provision_Database": {
              "type": "If",
              "expression": {
                "equals": [
                  "@outputs('Get_a_record_-_environment_request')?['body/coe_hasdatabase']",
                  "@true"
                ]
              },
              "actions": {
                "Create_Database": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "environment": "@outputs('Get_Environment_as_Admin')?['body/name']",
                      "body/baseLanguage": "@outputs('Get_a_record_-_environment_request')?['body/coe_dblanguage']",
                      "body/currency/code": "@outputs('Get_a_record_-_environment_request')?['body/coe_dbcurrency']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
                      "operationId": "ProvisionInstance",
                      "connectionName": "shared_powerplatformforadmins"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "8ebba2ae-9063-441e-a2a6-3cea419d4125"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Apply_to_each_-_Grant_access_to_System_Admins": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b617da2e-678f-416c-b093-59354ff1eb26"
              }
            },
            "Add_a_new_row_-_Environments_table": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "admin_environments",
                  "item/admin_displayname": "@outputs('Get_Environment_as_Admin')?['body/properties/displayName']",
                  "item/admin_BusinessArea@odata.bind": "@if(empty(outputs('Get_a_record_-_environment_request')?['body/_admin_businessarea_value']),null,concat('admin_environmentbusinessareas(',outputs('Get_a_record_-_environment_request')?['body/_admin_businessarea_value'],')'))",
                  "item/admin_environmentid": "@outputs('Get_Environment_as_Admin')?['body/name']",
                  "item/admin_environmentcdsinstanceurl": "@outputs('EnvtURL')",
                  "item/admin_environmentcdsmetadataname": "@outputs('EnvtNameFriendly')",
                  "item/admin_environmentcreatedon": "@outputs('Get_Environment_as_Admin')?['body/properties/createdTime']",
                  "item/admin_environmentdeleted": false,
                  "item/admin_Maker@odata.bind": "admin_makers(@{outputs('Get_a_row_by_ID_-_requestor_user')?['body/azureactivedirectoryobjectid']})",
                  "item/admin_region": "@outputs('Get_a_record_-_environment_request')?['body/coe_envregion']",
                  "item/admin_environmentsku": "@outputs('Get_Environment_as_Admin')?['body/properties/environmentSku']",
                  "item/admin_hascds": "@outputs('Get_a_record_-_environment_request')?['body/coe_hasdatabase']",
                  "item/admin_environmentname": "@outputs('Get_Environment_as_Admin')?['body/name']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              },
              "runAfter": {
                "Condition_-_Security_Group_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "523b8b22-26c3-431f-ba85-37705d16ebc4"
              }
            },
            "Condition_-_Expiration_date": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerOutputs()?['body/coe_durationrequested']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "greater": [
                      "@outputs('Get_a_record_-_environment_request')?['body/coe_durationrequested']",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Set_variable_-_Expiration_message": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varExpriationEmailCard",
                    "value": "<b>⚠Temporary Environment Clean-Up Warning:</b> To keep the tenant clean, the Environment will be automatically cleaned up on @{body('Calculate_expiration_date')} (@{triggerOutputs()?['body/coe_durationrequested']} days). You will be notified weekly when the Environment is close to being cleaned up. Please make sure to save work that will be needed beyond the expiration date outside of the Environment."
                  },
                  "runAfter": {
                    "Calculate_expiration_date": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d16bf59c-b510-4a0c-9a54-ecdef9c412b1"
                  }
                },
                "Calculate_expiration_date": {
                  "type": "Expression",
                  "kind": "AddToTime",
                  "inputs": {
                    "baseTime": "@{utcNow()}",
                    "interval": "@outputs('Get_a_record_-_environment_request')?['body/coe_durationrequested']",
                    "timeUnit": "Day"
                  },
                  "metadata": {
                    "operationMetadataId": "b275580c-ed7f-4d39-9b7a-e6fcd280b0f4"
                  }
                },
                "Set_variable_-_varHasExpirationDate": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varHasExpirationDate",
                    "value": "@true"
                  },
                  "runAfter": {
                    "Set_variable_-_Expiration_message": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2dc79855-6599-409a-910d-5b60519c43f3"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Add_a_new_row_-_Environments_table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "afe0c4f1-6898-4b7a-83b1-ca187ab40582"
              }
            },
            "Condition_-_Security_Group_ID": {
              "type": "If",
              "expression": {
                "greater": [
                  "@length(variables('varSecurityGroupId'))",
                  0
                ]
              },
              "actions": {
                "Update_Environment_with_security_group": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "environment": "@outputs('Get_Environment_as_Admin')?['body/name']",
                      "api-version": "2020-10-01",
                      "body/properties/linkedEnvironmentMetadata/securityGroupId": "@variables('varSecurityGroupId')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
                      "operationId": "UpdateEnvironment",
                      "connectionName": "shared_powerplatformforadmins"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "ef525723-c7fb-48d4-8d24-38771854ed70"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Org_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "070d2f77-2159-445c-9347-eb42152d1a6b"
              }
            },
            "Check_that_maker_not_orphaned_and_prod_envt": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@outputs('Get_Maker')?['Body']?['userisorphan']",
                        "True"
                      ]
                    }
                  },
                  {
                    "equals": [
                      "@parameters('ProductionEnvironment (admin_ProductionEnvironment)')",
                      "@true"
                    ]
                  }
                ]
              },
              "actions": {
                "Get_Row_-_Send_email_Environment_is_live": {
                  "type": "Scope",
                  "actions": {
                    "emailGUID_to_en-US": {
                      "type": "Compose",
                      "inputs": "79030d17-1e43-ec11-8c62-00224829bf00",
                      "metadata": {
                        "operationMetadataId": "3c46d691-0f2a-4c36-9611-c2c7de1ec33d"
                      }
                    },
                    "List_emails_for_preferred_language": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "admin_customizedemails",
                          "$select": "admin_customizedemailid",
                          "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US')}' and admin_language eq '@{outputs('Get_Maker')?['Body']?['userpreferredlanguage']}'"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "runAfter": {
                        "emailGUID_to_en-US": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                      }
                    },
                    "Set_emailGUID_to_localized_row": {
                      "type": "SetVariable",
                      "description": "if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']),0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))",
                      "inputs": {
                        "name": "emailGUID",
                        "value": "@{if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']), 0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))}"
                      },
                      "runAfter": {
                        "List_emails_for_preferred_language": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1e1c0a09-41a6-4b3d-a558-df89f10ca738"
                      }
                    },
                    "Get_a_row_by_ID": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "admin_customizedemails",
                          "recordId": "@variables('emailGUID')",
                          "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "runAfter": {
                        "Set_emailGUID_to_localized_row": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                      }
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
                  }
                },
                "Send_email_Environment_is_live": {
                  "type": "Workflow",
                  "description": "79030d17-1e43-ec11-8c62-00224829bf00",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                    },
                    "body": {
                      "email": "@outputs('Get_Maker')?['Body']?['useremail']",
                      "text": "@{outputs('Update_a_record_-_Environment_is_Live')?['body/coe_name']} - @{outputs('Get_a_row_by_ID')?['body/admin_subject']}",
                      "text_1": "@{outputs('Get_a_row_by_ID')?['body/admin_body']}\n<a href=\"@{parameters('PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)')}environments/@{outputs('Get_Environment_as_Admin')?['body/name']}/home\"> @{outputs('Update_a_record_-_Environment_is_Live')?['body/coe_envdisplayname']}</a> \n<br>\n<br>\n<br>\n@{variables('varExpriationEmailCard')}</p>\n",
                      "email_1": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID')?['body/admin_cc'])",
                      "email_2": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID')?['body/admin_sendonbehalf'])",
                      "email_3": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID')?['body/admin_replyto'])",
                      "text_2": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID')?['body/admin_importance'])"
                    }
                  },
                  "runAfter": {
                    "Get_Row_-_Send_email_Environment_is_live": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "acaf353e-cf00-46d1-b457-eac85c38f49e"
                  }
                }
              },
              "else": {
                "actions": {
                  "Get_Row_-_Send_email_Environment_is_live_2": {
                    "type": "Scope",
                    "actions": {
                      "emailGUID_to_en-US_3": {
                        "type": "Compose",
                        "inputs": "79030d17-1e43-ec11-8c62-00224829bf00",
                        "metadata": {
                          "operationMetadataId": "3c46d691-0f2a-4c36-9611-c2c7de1ec33d"
                        }
                      },
                      "List_emails_for_preferred_language_3": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "admin_customizedemails",
                            "$select": "admin_customizedemailid",
                            "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US_3')}' and admin_language eq '@{parameters('Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)')}'"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "connectionName": "shared_commondataserviceforapps_1"
                          }
                        },
                        "runAfter": {
                          "emailGUID_to_en-US_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                        }
                      },
                      "Set_emailGUID_to_localized_row_3": {
                        "type": "SetVariable",
                        "description": "if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']),0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))",
                        "inputs": {
                          "name": "emailGUID",
                          "value": "@{if(greater(length(outputs('List_emails_for_preferred_language_3')?['body/value']), 0), first(body('List_emails_for_preferred_language_3')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US_3'))}"
                        },
                        "runAfter": {
                          "List_emails_for_preferred_language_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "1e1c0a09-41a6-4b3d-a558-df89f10ca738"
                        }
                      },
                      "Get_a_row_by_ID_3": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "admin_customizedemails",
                            "recordId": "@variables('emailGUID')",
                            "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "connectionName": "shared_commondataserviceforapps_1"
                          }
                        },
                        "runAfter": {
                          "Set_emailGUID_to_localized_row_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                        }
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
                    }
                  },
                  "Send_email_Environment_is_live_-_admin": {
                    "type": "Workflow",
                    "description": "79030d17-1e43-ec11-8c62-00224829bf00",
                    "inputs": {
                      "host": {
                        "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                      },
                      "body": {
                        "email": "@parameters('Admin eMail (admin_AdminMail)')",
                        "text": "@{outputs('Update_a_record_-_Environment_is_Live')?['body/coe_name']} - @{outputs('Get_a_row_by_ID_3')?['body/admin_subject']}",
                        "text_1": "@{outputs('Get_a_row_by_ID_3')?['body/admin_body']}\n<a href=\"@{parameters('PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)')}environments/@{outputs('Get_Environment_as_Admin')?['body/name']}/home\"> @{outputs('Update_a_record_-_Environment_is_Live')?['body/coe_envdisplayname']}</a> \n<br>\n<br>\n<br>\n@{variables('varExpriationEmailCard')}</p>\n",
                        "email_1": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_cc'])",
                        "email_2": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_sendonbehalf'])",
                        "email_3": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_replyto'])",
                        "text_2": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_importance'])"
                      }
                    },
                    "runAfter": {
                      "Get_Row_-_Send_email_Environment_is_live_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "acaf353e-cf00-46d1-b457-eac85c38f49e"
                    }
                  }
                }
              },
              "runAfter": {
                "Update_a_record_-_Environment_is_Live": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0d0730ec-7d22-4d44-ae76-ef262494eb23"
              }
            },
            "Apply_to_each_-_DLP_Policy_Change_Request": {
              "type": "Foreach",
              "foreach": "@variables('varDlpChangeRequests')",
              "actions": {
                "Update_a_row_-_DLP_Policy_Change_Request": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "coe_dlppolicychangerequests",
                      "recordId": "@item()?['coe_dlppolicychangerequestid']",
                      "item/coe_Environment@odata.bind": "admin_environments(@{outputs('Add_a_new_row_-_Environments_table')?['body/admin_environmentid']})",
                      "item/coe_requeststatus": 597910003
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "c58014bb-ab23-4d33-9e16-158aaa0e9c3d"
                  }
                }
              },
              "runAfter": {
                "Check_that_maker_not_orphaned_and_prod_envt": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c90cb1cc-7f6e-4fbb-ad28-0bc4cac415f0"
              }
            },
            "Update_a_record_-_Environment_is_Live": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "coe_environmentcreationrequests",
                  "recordId": "@outputs('Get_a_record_-_environment_request')?['body/coe_environmentcreationrequestid']",
                  "item/coe_canexpire": "@variables('varHasExpirationDate')",
                  "item/coe_Environment@odata.bind": "admin_environments(@{outputs('Add_a_new_row_-_Environments_table')?['body/admin_environmentid']})",
                  "item/coe_expirationdate": "@body('Calculate_expiration_date')",
                  "item/coe_requeststatus": 597910006
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              },
              "runAfter": {
                "Condition_-_Expiration_date": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "57c57105-f833-48b4-a88b-73ce9005a860"
              }
            },
            "Condition_-_If_PCF_Enabled": {
              "type": "If",
              "expression": {
                "equals": [
                  "@outputs('Get_a_record_-_environment_request')?['body/admin_enablepcfcontrol']",
                  "@true"
                ]
              },
              "actions": {
                "Update_iscustomcontrolsincanvasappsenabled_in_new_environment": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "organization": "@outputs('EnvtURL')",
                      "entityName": "organizations",
                      "recordId": "@outputs('Org_ID')",
                      "item": {
                        "iscustomcontrolsincanvasappsenabled": true
                      }
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecordWithOrganization",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "227392ba-a46b-42ce-b485-1095e6d9bd21"
                  }
                },
                "Update_a_row_in_selected_environment": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "organization": "@outputs('EnvtURL')",
                      "entityName": "organizations",
                      "recordId": "@outputs('Org_ID')",
                      "item": "@outputs('Org_ID')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecordWithOrganization",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "Update_iscustomcontrolsincanvasappsenabled_in_new_environment": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6b4153a6-798e-4789-aa61-449670d7c69b"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Apply_to_each_-_DLP_Policy_Change_Request": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b617da2e-678f-416c-b093-59354ff1eb26"
              }
            },
            "EnvtURL": {
              "type": "Compose",
              "inputs": "@coalesce(outputs('Create_Database')?['body/properties/linkedEnvironmentMetadata/instanceUrl'], '')",
              "runAfter": {
                "Condition_-_Provision_Database": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "57776150-cad1-47c5-9c11-5f769a09488d"
              }
            },
            "EnvtNameFriendly": {
              "type": "Compose",
              "inputs": "@coalesce(outputs('Create_Database')?['body/properties/linkedEnvironmentMetadata/friendlyName'], '')",
              "runAfter": {
                "EnvtURL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "deda5ca8-32e9-4c34-b2d8-8fa4f3a1b50f"
              }
            },
            "Org_ID": {
              "type": "Compose",
              "inputs": "@coalesce(outputs('Create_Database')?['body/properties/linkedEnvironmentMetadata/resourceId'], '')",
              "runAfter": {
                "EnvtNameFriendly": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fbf4bd2c-dfe8-4a14-ac7e-2788faccaeb8"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_varHasExpirationDate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "50a80b78-48b4-44c7-960a-0a8818be628e"
          }
        },
        "Scope_-_Environment_provisioning_failed": {
          "type": "Scope",
          "actions": {
            "Apply_to_each_-_DLP_Policy_Change_Request_-_Environment_provisioning_failed": {
              "type": "Foreach",
              "foreach": "@variables('varDlpChangeRequests')",
              "actions": {
                "Update_a_record_-_DLP_Policy_Change_Requests_(failed)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "coe_dlppolicychangerequests",
                      "recordId": "@items('Apply_to_each_-_DLP_Policy_Change_Request_-_Environment_provisioning_failed')?['coe_dlppolicychangerequestid']",
                      "item/coe_requeststatus": 597910007,
                      "item/statecode": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "e46ed94c-0c94-494f-9f5b-f75f30212bea"
                  }
                }
              },
              "runAfter": {
                "Update_a_record_-_Environment_provisioning_failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f7c38e99-865a-46d7-95ab-54658d1663d3"
              }
            },
            "Update_a_record_-_Environment_provisioning_failed": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "coe_environmentcreationrequests",
                  "recordId": "@outputs('Get_a_record_-_environment_request')?['body/coe_environmentcreationrequestid']",
                  "item/coe_notes": "@concat(outputs('Get_a_record_-_environment_request')?['body/coe_notes'], '; Error while provisioning: ',variables('varErrorMessage'))",
                  "item/coe_requeststatus": 597910007,
                  "item/statecode": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              },
              "runAfter": {
                "Environment_provisioning_failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "adf53b3a-77a9-4129-8169-4f9c0d59cc68"
              }
            },
            "Get_Row_-_Environment_provisioning_failed": {
              "type": "Scope",
              "actions": {
                "emailGUID_to_en-US_2": {
                  "type": "Compose",
                  "inputs": "bea55af1-2343-ec11-8c62-00224829bf00",
                  "metadata": {
                    "operationMetadataId": "3c46d691-0f2a-4c36-9611-c2c7de1ec33d"
                  }
                },
                "List_emails_for_preferred_language_2": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "admin_customizedemails",
                      "$select": "admin_customizedemailid",
                      "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US_2')}' and admin_language eq '@{parameters('Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)')}'"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "emailGUID_to_en-US_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                  }
                },
                "Set_emailGUID_to_localized_row_2": {
                  "type": "SetVariable",
                  "description": "if(greater(length(outputs('List_emails_for_preferred_language_2')?['body/value']), 0), first(body('List_emails_for_preferred_language_2')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US_2'))",
                  "inputs": {
                    "name": "emailGUID",
                    "value": "@{if(greater(length(outputs('List_emails_for_preferred_language_2')?['body/value']), 0), first(body('List_emails_for_preferred_language_2')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US_2'))}"
                  },
                  "runAfter": {
                    "List_emails_for_preferred_language_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1e1c0a09-41a6-4b3d-a558-df89f10ca738"
                  }
                },
                "Get_a_row_by_ID_2": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "admin_customizedemails",
                      "recordId": "@variables('emailGUID')",
                      "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "Set_emailGUID_to_localized_row_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
              }
            },
            "Environment_provisioning_failed": {
              "type": "Workflow",
              "description": "bea55af1-2343-ec11-8c62-00224829bf00",
              "inputs": {
                "host": {
                  "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                },
                "body": {
                  "email": "@{parameters('Admin eMail (admin_AdminMail)')};@{variables('varEnvAdminEmails')}",
                  "text": "@{triggerOutputs()?['body/coe_name']} - @{outputs('Get_a_row_by_ID_2')?['body/admin_subject']}",
                  "text_1": "@{outputs('Get_a_row_by_ID_2')?['body/admin_body']}<br>\n<span style=\"color: rgb(184,49,47)\">Error: </span><span style=\"color: rgb(184,49,47)\">@{variables('varErrorMessage')}</span><span style=\"color: rgb(184,49,47)\"></span><br>\n</p>",
                  "email_1": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_cc'])",
                  "email_2": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_sendonbehalf'])",
                  "email_3": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_replyto'])",
                  "text_2": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_importance'])"
                }
              },
              "runAfter": {
                "Get_Row_-_Environment_provisioning_failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "acaf353e-cf00-46d1-b457-eac85c38f49e"
              }
            },
            "Error_Handling": {
              "type": "Scope",
              "actions": {
                "Create_a_new_record_-_Sync_Flow_Errors": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "admin_syncflowerrorses",
                      "item/admin_name": "@workflow()?['tags']['flowDisplayName']",
                      "item/admin_flowinstanceurl": "@concat(parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "87961ff0-e261-4890-9ab9-a53f88fe0de5"
                  }
                },
                "Terminate": {
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Failed",
                    "runError": {
                      "code": "500",
                      "message": "Get Environments Failed"
                    }
                  },
                  "runAfter": {
                    "Update_Last_Run_Fail": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9e5a2a18-dba2-47a1-96d5-3356f4348e5a"
                  }
                },
                "Get_ID_Fail": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "admin_coesolutionmetadatas",
                      "$select": "admin_coesolutionmetadataid",
                      "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                      "$top": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "Create_a_new_record_-_Sync_Flow_Errors": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "47329bf2-8aac-400d-9778-a793b4f1180f"
                  }
                },
                "Update_Last_Run_Fail": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "admin_coesolutionmetadatas",
                      "recordId": "@first(outputs('Get_ID_Fail')?['body/value'])?['admin_coesolutionmetadataid']",
                      "item/admin_lastrun": "@utcNow()",
                      "item/admin_lastrunpassed": false
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "Get_ID_Fail": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c63eb7cc-6101-4567-b520-a4a8881264e9"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each_-_DLP_Policy_Change_Request_-_Environment_provisioning_failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "38ae684e-622d-42ea-abd2-ee571aee3a5f"
              }
            }
          },
          "runAfter": {
            "Scope_-_Provision_environment": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "92499082-e95b-473e-b085-73bc606c84bd"
          }
        },
        "Initialize_variable_-_varExpriationEmailCard": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varExpriationEmailCard",
                "type": "string",
                "value": "The Environment does not have any expiration date and can be used indefinitely. If at any point in the future this Environment is no longer needed, help keep costs down by deleting the Environment."
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_-_varErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "046500c3-a4f9-441d-9c7f-d06ee9c6cfa6"
          }
        },
        "Initialize_variable_-_varSecurityGroupId": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSecurityGroupId",
                "type": "string",
                "value": "@outputs('Get_a_record_-_environment_request')?['body/coe_databasesecuritygroupid']"
              }
            ]
          },
          "runAfter": {
            "Append_to_array_variable_-_varEnvAdmins": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f4e404a2-52ad-419d-aba3-b4d67c2f0127"
          }
        },
        "Initialize_variable_varMakerPortalUrl": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varMakerPortalUrl",
                "type": "string",
                "value": "https://make.powerapps.com/"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_-_varExpriationEmailCard": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "11c2c7d9-aff9-4e13-a044-89bd615eb1de"
          }
        },
        "Condition_-_Update_varMakerPortalUrl_with_Env_Var_value": {
          "type": "If",
          "expression": {
            "greater": [
              "@length(parameters('PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)'))",
              0
            ]
          },
          "actions": {
            "Set_variable_varMakerPortalUrl": {
              "type": "SetVariable",
              "description": "Updates to the environment variable value, else keeps the default make.powerapps.com",
              "inputs": {
                "name": "varMakerPortalUrl",
                "value": "@parameters('PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)')"
              },
              "metadata": {
                "operationMetadataId": "5cf07c92-b7ba-4ede-8bce-7e3993c56644"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Initialize_emailGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "deb0897e-0811-4cac-b3ed-57444dec7f0a"
          }
        },
        "Get_Maker": {
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
            },
            "body": {
              "text": "@outputs('Get_a_row_by_ID_-_requestor_user')?['body/azureactivedirectoryobjectid']",
              "boolean": false
            }
          },
          "runAfter": {
            "Get_a_row_by_ID_-_requestor_user": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99dfd02a-9e16-4f2c-a277-ee6141ece7ab"
          }
        },
        "Initialize_emailGUID": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emailGUID",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_varMakerPortalUrl": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dad8eca6-7937-47c0-aa57-f2d48dd1c5a2"
          }
        },
        "Initialize_variable_-_varHasExpirationDate": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varHasExpirationDate",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_-_varSecurityGroupId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a070aab6-e3d4-415a-99f4-2bfcc149f646"
          }
        },
        "Update_last_run_as_pass": {
          "type": "Scope",
          "actions": {
            "Update_Last_Run_Successful": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Pass')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "runAfter": {
                "Get_ID_Pass": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78ef70e5-7f67-4737-9a02-8533f12caa19"
              }
            },
            "Get_ID_Pass": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "metadata": {
                "operationMetadataId": "f4f314b6-89d3-4056-af1c-73115e7d6bd1"
              }
            },
            "Catch_-_not_ready_to_take_last_run_date": {
              "type": "Compose",
              "inputs": "Catch - not ready to take last run date",
              "runAfter": {
                "Update_Last_Run_Successful": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "f88cdefe-c402-49d7-8f4a-934475e6f741"
              }
            }
          },
          "runAfter": {
            "Scope_-_Environment_provisioning_failed": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c140442-d939-4ca4-8ec8-d1ee2bed4a81"
          }
        },
        "Environment_Status_is_Approved": {
          "type": "If",
          "expression": {
            "equals": [
              "@outputs('Get_a_record_-_environment_request')?['body/coe_requeststatus']",
              597910003
            ]
          },
          "actions": {},
          "else": {
            "actions": {
              "Terminate_-_Not_Approved_Status": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                },
                "metadata": {
                  "operationMetadataId": "a1259a77-1b8e-45bd-9995-3018c1b64962"
                }
              }
            }
          },
          "runAfter": {
            "Get_a_record_-_environment_request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e3480793-f9ac-4083-9e5d-cdad75b13357"
          }
        }
      },
      "outputs": {},
      "description": "When an Environment Creation Request has been Approved, this flow automates the provisioning and sends a confirmation email when successfully completed."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}