CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/EnvRequestCreateApprovedEnvironment-043D28D9-9288-EB11-A812-000D3A573ECC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_sharedcommondataserviceforapps_98924"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerplatformforadmins_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdmins"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      },
      "shared_powerplatformforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdminsEnvRequest"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)": {
          "defaultValue": "en-US",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdmineMailPreferredLanguage",
            "description": "The preferred language for the emails sent to the admin email alias, which is specified in theAdmin eMail environment variable. Default is en-US"
          }
        },
        "PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)": {
          "defaultValue": "https://make.powerapps.com/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAppEnvironmentVariable",
            "description": "REQUIRED. The maker URL used by PowerApps for your cloud. Ex https://make.powerapps.com/"
          }
        },
        "Admin eMail (admin_AdminMail)": {
          "defaultValue": "PowerPlatformAdmins@powercattools.onmicrosoft.com ",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdminMail",
            "description": "CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list"
          }
        },
        "ProductionEnvironment (admin_ProductionEnvironment)": {
          "defaultValue": true,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ProductionEnvironment",
            "description": "Yes by default. Set to No if you are creating a dev type envt. This will allow some flows to set target users to the admin instead of resource owners"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "7effc202-af23-43a9-862c-e2c2efc24049"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "coe_environmentcreationrequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "coe_requeststatus",
              "subscriptionRequest/filterexpression": "coe_requeststatus eq 597910003"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Triggers when the request status is updated to Approved"
        }
      },
      "actions": {
        "Get_a_record_-_environment_request": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a665e0d9-ee48-49e7-af53-00cce41744a3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "coe_environmentcreationrequests",
              "recordId": "@triggerOutputs()?['body/coe_environmentcreationrequestid']",
              "$expand": "coe_EnvCreationRequest_SystemAdmins($select=admin_makerid,admin_userprincipalname), coe_DLPPolicyChangeRequest_CreationReques($select=coe_dlppolicychangerequestid),createdby($select=fullname,domainname,azureactivedirectoryobjectid)"
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Get_a_record_-_environment_request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dc74818f-f5e8-4323-a2ed-0e5403e47ac6"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('Get_a_record_-_environment_request')?['body']",
            "schema": {
              "type": "object",
              "properties": {
                "coe_EnvCreationRequest_SystemAdmins": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@@odata.type": {
                        "type": "string"
                      },
                      "@@odata.id": {
                        "type": "string"
                      },
                      "@@odata.etag": {
                        "type": "string"
                      },
                      "@@odata.editLink": {
                        "type": "string"
                      },
                      "admin_makerid@odata.type": {
                        "type": "string"
                      },
                      "admin_makerid": {
                        "type": "string"
                      },
                      "admin_userprincipalname": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "@@odata.type",
                      "@@odata.id",
                      "@@odata.etag",
                      "@@odata.editLink",
                      "admin_makerid@odata.type",
                      "admin_makerid",
                      "admin_userprincipalname"
                    ]
                  }
                },
                "coe_DLPPolicyChangeRequest_CreationReques": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coe_dlppolicychangerequestid": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "coe_dlppolicychangerequestid"
                    ]
                  }
                }
              }
            }
          }
        },
        "Initialize_variable_-_varEnvAdmins": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8af00f83-675f-4e3f-b2d0-0fa56849d72a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varEnvAdmins",
                "type": "array",
                "value": "@body('Parse_JSON')?['coe_EnvCreationRequest_SystemAdmins']"
              }
            ]
          }
        },
        "Get_a_row_by_ID_-_requestor_user": {
          "runAfter": {
            "Condition_-_Update_varMakerPortalUrl_with_Env_Var_value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dc6f8af8-3cd3-4c86-9b44-c9d6fe42e443"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@outputs('Get_a_record_-_environment_request')?['body/_createdby_value']"
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          }
        },
        "Append_to_array_variable_-_varEnvAdmins": {
          "runAfter": {
            "Get_Maker": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d02b0eeb-f8a4-4a7b-b8ed-7a51a6728f8d"
          },
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "varEnvAdmins",
            "value": {
              "admin_makerid": "@{outputs('Get_a_row_by_ID_-_requestor_user')?['body/azureactivedirectoryobjectid']}",
              "admin_userprincipalname": "@{outputs('Get_a_row_by_ID_-_requestor_user')?['body/domainname']}"
            }
          }
        },
        "Initialize_variable_-_varEnvAdminEmails": {
          "runAfter": {
            "Initialize_variable_-_varDlpChangeRequests": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "556300ac-6fd5-4ecc-8e94-6f8eba66d675"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varEnvAdminEmails",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_varDlpChangeRequests": {
          "runAfter": {
            "Initialize_variable_-_varEnvAdmins": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "76d0d11f-b492-4774-a132-5ec02d499e57"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varDlpChangeRequests",
                "type": "array",
                "value": "@body('Parse_JSON')?['coe_DLPPolicyChangeRequest_CreationReques']"
              }
            ]
          }
        },
        "Initialize_variable_-_varErrorMessage": {
          "runAfter": {
            "Initialize_variable_-_varEnvAdminEmails": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f8cf0e3-8df7-4016-b7de-59626c90dbfe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorMessage",
                "type": "string",
                "value": "An error occured when provisioning the approved environment."
              }
            ]
          }
        },
        "Scope_-_Provision_environment": {
          "actions": {
            "Create_Environment": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8579e7d7-fea9-441c-8105-dc84501e73fc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerplatformforadmins_1",
                  "operationId": "NewAdminEnvironment",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                },
                "parameters": {
                  "api-version": "2020-05-01",
                  "body/location": "@outputs('Get_a_record_-_environment_request')?['body/coe_envregion']",
                  "body/properties/displayName": "@outputs('Get_a_record_-_environment_request')?['body/coe_envdisplayname']",
                  "body/properties/environmentSku": "@outputs('Get_a_record_-_environment_request')?['body/coe_envsku@OData.Community.Display.V1.FormattedValue']"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              },
              "operationOptions": "DisableAsyncPattern"
            },
            "Get_Environment_as_Admin": {
              "runAfter": {
                "Create_Environment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "71ef6a10-7505-4d6f-abe8-f4ce7ecb44a0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerplatformforadmins",
                  "operationId": "GetSingleEnvironment",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                },
                "parameters": {
                  "environment": "@outputs('Create_Environment')?['body/name']",
                  "api-version": "2021-03-01"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Set_variable_-_varErrorMessage": {
              "runAfter": {
                "Create_Environment": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "9c3f29fd-69f7-4a56-a231-0ecc5caa009c"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varErrorMessage",
                "value": "There was an issue creating the environment. Error message: @{body('Create_Environment')?['error']?['message']}"
              }
            },
            "Apply_to_each_-_Grant_access_to_System_Admins": {
              "foreach": "@variables('varEnvAdmins')",
              "actions": {
                "Make_User_an_Environment_Admin": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d17796ff-9856-43ed-ab70-65ffa5349e49"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerplatformforadmins",
                      "operationId": "Edit-AdminEnvironmentRoleAssignment",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                    },
                    "parameters": {
                      "environment": "@outputs('Get_Environment_as_Admin')?['body/name']",
                      "body/add": [
                        {
                          "properties/principal/email": "@items('Apply_to_each_-_Grant_access_to_System_Admins')?['admin_userprincipalname']",
                          "properties/principal/tenantId": "@outputs('Get_Environment_as_Admin')?['body/properties/createdBy/tenantId']",
                          "properties/principal/id": "@items('Apply_to_each_-_Grant_access_to_System_Admins')?['admin_makerid']",
                          "properties/principal/type": "User",
                          "properties/roleDefinition/id": "/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/@{outputs('Get_Environment_as_Admin')?['body/name']}/roleDefinitions/EnvironmentAdmin"
                        }
                      ],
                      "api-version": "2021-03-01"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                },
                "Append_to_string_variable": {
                  "runAfter": {
                    "Make_User_an_Environment_Admin": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "544a8339-99ca-4f9b-bf7c-82a887d41512"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varEnvAdminEmails",
                    "value": "@items('Apply_to_each_-_Grant_access_to_System_Admins')?['admin_userprincipalname']"
                  }
                }
              },
              "runAfter": {
                "Get_Environment_as_Admin": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "471b50bf-4bec-4d40-aa97-2610778ec5a6"
              },
              "type": "Foreach"
            },
            "Condition_-_Provision_Database": {
              "actions": {
                "Create_Database": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "8ebba2ae-9063-441e-a2a6-3cea419d4125"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerplatformforadmins",
                      "operationId": "ProvisionInstance",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                    },
                    "parameters": {
                      "environment": "@outputs('Get_Environment_as_Admin')?['body/name']",
                      "body/baseLanguage": "@outputs('Get_a_record_-_environment_request')?['body/coe_dblanguage']",
                      "body/currency/code": "@outputs('Get_a_record_-_environment_request')?['body/coe_dbcurrency']"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                }
              },
              "runAfter": {
                "Apply_to_each_-_Grant_access_to_System_Admins": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@outputs('Get_a_record_-_environment_request')?['body/coe_hasdatabase']",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "b617da2e-678f-416c-b093-59354ff1eb26"
              },
              "type": "If"
            },
            "Add_a_new_row_-_Environments_table": {
              "runAfter": {
                "Condition_-_Security_Group_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "523b8b22-26c3-431f-ba85-37705d16ebc4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_environments",
                  "item/admin_displayname": "@outputs('Get_Environment_as_Admin')?['body/properties/displayName']",
                  "item/admin_BusinessArea@odata.bind": "@if(empty(outputs('Get_a_record_-_environment_request')?['body/_admin_businessarea_value']),null,concat('admin_environmentbusinessareas(',outputs('Get_a_record_-_environment_request')?['body/_admin_businessarea_value'],')'))",
                  "item/admin_environmentid": "@outputs('Get_Environment_as_Admin')?['body/name']",
                  "item/admin_environmentcdsinstanceurl": "@outputs('Get_Environment_as_Admin')?['body/properties/linkedEnvironmentMetadata/instanceUrl']",
                  "item/admin_environmentcdsmetadataname": "@outputs('Get_Environment_as_Admin')?['body/properties/linkedEnvironmentMetadata/friendlyName']",
                  "item/admin_environmentcreatedon": "@outputs('Get_Environment_as_Admin')?['body/properties/createdTime']",
                  "item/admin_environmentdeleted": false,
                  "item/admin_Maker@odata.bind": "admin_makers(@{outputs('Get_a_row_by_ID_-_requestor_user')?['body/azureactivedirectoryobjectid']})",
                  "item/admin_region": "@outputs('Get_a_record_-_environment_request')?['body/coe_envregion']",
                  "item/admin_environmentsku": "@outputs('Get_Environment_as_Admin')?['body/properties/environmentSku']",
                  "item/admin_hascds": "@outputs('Get_a_record_-_environment_request')?['body/coe_hasdatabase']",
                  "item/admin_environmentname": "@outputs('Get_Environment_as_Admin')?['body/name']"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Condition_-_Expiration_date": {
              "actions": {
                "Set_variable_-_Expiration_message": {
                  "runAfter": {
                    "Calculate_expiration_date": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d16bf59c-b510-4a0c-9a54-ecdef9c412b1"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varExpriationEmailCard",
                    "value": "<b>⚠Temporary Environment Clean-Up Warning:</b> To keep the tenant clean, the Environment will be automatically cleaned up on @{body('Calculate_expiration_date')} (@{triggerOutputs()?['body/coe_durationrequested']} days). You will be notified weekly when the Environment is close to being cleaned up. Please make sure to save work that will be needed beyond the expiration date outside of the Environment."
                  }
                },
                "Calculate_expiration_date": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b275580c-ed7f-4d39-9b7a-e6fcd280b0f4"
                  },
                  "type": "Expression",
                  "kind": "AddToTime",
                  "inputs": {
                    "baseTime": "@{utcNow()}",
                    "interval": "@outputs('Get_a_record_-_environment_request')?['body/coe_durationrequested']",
                    "timeUnit": "Day"
                  }
                },
                "Set_variable_-_varHasExpirationDate": {
                  "runAfter": {
                    "Set_variable_-_Expiration_message": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2dc79855-6599-409a-910d-5b60519c43f3"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varHasExpirationDate",
                    "value": "@true"
                  }
                }
              },
              "runAfter": {
                "Add_a_new_row_-_Environments_table": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerOutputs()?['body/coe_durationrequested']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "greater": [
                      "@outputs('Get_a_record_-_environment_request')?['body/coe_durationrequested']",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "afe0c4f1-6898-4b7a-83b1-ca187ab40582"
              },
              "type": "If"
            },
            "Condition_-_Security_Group_ID": {
              "actions": {
                "Update_Environment_with_security_group": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ef525723-c7fb-48d4-8d24-38771854ed70"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerplatformforadmins",
                      "operationId": "UpdateEnvironment",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                    },
                    "parameters": {
                      "environment": "@outputs('Get_Environment_as_Admin')?['body/name']",
                      "api-version": "2020-10-01",
                      "body/properties/linkedEnvironmentMetadata/securityGroupId": "@triggerOutputs()?['body/coe_databasesecuritygroupid']"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                }
              },
              "runAfter": {
                "Condition_-_Provision_Database": [
                  "Succeeded"
                ]
              },
              "expression": {
                "greater": [
                  "@length(variables('varSecurityGroupId'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "070d2f77-2159-445c-9347-eb42152d1a6b"
              },
              "type": "If"
            },
            "Check_that_maker_not_orphaned_and_prod_envt": {
              "actions": {
                "Get_Row_-_Send_email_Environment_is_live": {
                  "actions": {
                    "emailGUID_to_en-US": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3c46d691-0f2a-4c36-9611-c2c7de1ec33d"
                      },
                      "type": "Compose",
                      "inputs": "79030d17-1e43-ec11-8c62-00224829bf00"
                    },
                    "List_emails_for_preferred_language": {
                      "runAfter": {
                        "emailGUID_to_en-US": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_customizedemails",
                          "$select": "admin_customizedemailid",
                          "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US')}' and admin_language eq '@{outputs('Get_Maker')?['Body']?['userpreferredlanguage']}'"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_emailGUID_to_localized_row": {
                      "runAfter": {
                        "List_emails_for_preferred_language": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1e1c0a09-41a6-4b3d-a558-df89f10ca738"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "emailGUID",
                        "value": "@{if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']), 0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))}"
                      },
                      "description": "if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']),0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))"
                    },
                    "Get_a_row_by_ID": {
                      "runAfter": {
                        "Set_emailGUID_to_localized_row": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_customizedemails",
                          "recordId": "@variables('emailGUID')",
                          "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
                  },
                  "type": "Scope"
                },
                "Send_email_Environment_is_live": {
                  "runAfter": {
                    "Get_Row_-_Send_email_Environment_is_live": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "acaf353e-cf00-46d1-b457-eac85c38f49e"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                    },
                    "body": {
                      "email": "@outputs('Get_Maker')?['Body']?['useremail']",
                      "text": "@{outputs('Update_a_record_-_Environment_is_Live')?['body/coe_name']} - @{outputs('Get_a_row_by_ID')?['body/admin_subject']}",
                      "text_1": "@{outputs('Get_a_row_by_ID')?['body/admin_body']}\n<a href=\"@{parameters('PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)')}environments/@{outputs('Get_Environment_as_Admin')?['body/name']}/home\"> @{outputs('Update_a_record_-_Environment_is_Live')?['body/coe_envdisplayname']}</a> \n<br>\n<br>\n<br>\n@{variables('varExpriationEmailCard')}</p>\n",
                      "email_1": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID')?['body/admin_cc'])",
                      "email_2": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID')?['body/admin_sendonbehalf'])",
                      "email_3": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID')?['body/admin_replyto'])",
                      "text_2": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID')?['body/admin_importance'])"
                    }
                  },
                  "description": "79030d17-1e43-ec11-8c62-00224829bf00"
                }
              },
              "runAfter": {
                "Update_a_record_-_Environment_is_Live": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Get_Row_-_Send_email_Environment_is_live_2": {
                    "actions": {
                      "emailGUID_to_en-US_3": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3c46d691-0f2a-4c36-9611-c2c7de1ec33d"
                        },
                        "type": "Compose",
                        "inputs": "79030d17-1e43-ec11-8c62-00224829bf00"
                      },
                      "List_emails_for_preferred_language_3": {
                        "runAfter": {
                          "emailGUID_to_en-US_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_2",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "admin_customizedemails",
                            "$select": "admin_customizedemailid",
                            "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US_3')}' and admin_language eq '@{parameters('Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)')}'"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Set_emailGUID_to_localized_row_3": {
                        "runAfter": {
                          "List_emails_for_preferred_language_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "1e1c0a09-41a6-4b3d-a558-df89f10ca738"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "emailGUID",
                          "value": "@{if(greater(length(outputs('List_emails_for_preferred_language_3')?['body/value']), 0), first(body('List_emails_for_preferred_language_3')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US_3'))}"
                        },
                        "description": "if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']),0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))"
                      },
                      "Get_a_row_by_ID_3": {
                        "runAfter": {
                          "Set_emailGUID_to_localized_row_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_2",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "admin_customizedemails",
                            "recordId": "@variables('emailGUID')",
                            "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
                    },
                    "type": "Scope"
                  },
                  "Send_email_Environment_is_live_-_admin": {
                    "runAfter": {
                      "Get_Row_-_Send_email_Environment_is_live_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "acaf353e-cf00-46d1-b457-eac85c38f49e"
                    },
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                      },
                      "body": {
                        "email": "@parameters('Admin eMail (admin_AdminMail)')",
                        "text": "@{outputs('Update_a_record_-_Environment_is_Live')?['body/coe_name']} - @{outputs('Get_a_row_by_ID_3')?['body/admin_subject']}",
                        "text_1": "@{outputs('Get_a_row_by_ID_3')?['body/admin_body']}\n<a href=\"@{parameters('PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)')}environments/@{outputs('Get_Environment_as_Admin')?['body/name']}/home\"> @{outputs('Update_a_record_-_Environment_is_Live')?['body/coe_envdisplayname']}</a> \n<br>\n<br>\n<br>\n@{variables('varExpriationEmailCard')}</p>\n",
                        "email_1": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_cc'])",
                        "email_2": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_sendonbehalf'])",
                        "email_3": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_replyto'])",
                        "text_2": "@if(equals(outputs('Get_a_row_by_ID_3')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID_3')?['body/admin_importance'])"
                      }
                    },
                    "description": "79030d17-1e43-ec11-8c62-00224829bf00"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@outputs('Get_Maker')?['Body']?['userisorphan']",
                        "True"
                      ]
                    }
                  },
                  {
                    "equals": [
                      "@parameters('ProductionEnvironment (admin_ProductionEnvironment)')",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "0d0730ec-7d22-4d44-ae76-ef262494eb23"
              },
              "type": "If"
            },
            "Apply_to_each_-_DLP_Policy_Change_Request": {
              "foreach": "@variables('varDlpChangeRequests')",
              "actions": {
                "Update_a_row_-_DLP_Policy_Change_Request": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c58014bb-ab23-4d33-9e16-158aaa0e9c3d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "coe_dlppolicychangerequests",
                      "recordId": "@item()?['coe_dlppolicychangerequestid']",
                      "item/coe_Environment@odata.bind": "admin_environments(@{outputs('Add_a_new_row_-_Environments_table')?['body/admin_environmentid']})",
                      "item/coe_requeststatus": 597910003
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                }
              },
              "runAfter": {
                "Check_that_maker_not_orphaned_and_prod_envt": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c90cb1cc-7f6e-4fbb-ad28-0bc4cac415f0"
              },
              "type": "Foreach"
            },
            "Update_a_record_-_Environment_is_Live": {
              "runAfter": {
                "Condition_-_Expiration_date": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "57c57105-f833-48b4-a88b-73ce9005a860"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "coe_environmentcreationrequests",
                  "recordId": "@outputs('Get_a_record_-_environment_request')?['body/coe_environmentcreationrequestid']",
                  "item/coe_canexpire": "@variables('varHasExpirationDate')",
                  "item/coe_Environment@odata.bind": "admin_environments(@{outputs('Add_a_new_row_-_Environments_table')?['body/admin_environmentid']})",
                  "item/coe_expirationdate": "@body('Calculate_expiration_date')",
                  "item/coe_requeststatus": 597910006
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_varHasExpirationDate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "50a80b78-48b4-44c7-960a-0a8818be628e"
          },
          "type": "Scope"
        },
        "Scope_-_Environment_provisioning_failed": {
          "actions": {
            "Apply_to_each_-_DLP_Policy_Change_Request_-_Environment_provisioning_failed": {
              "foreach": "@variables('varDlpChangeRequests')",
              "actions": {
                "Update_a_record_-_DLP_Policy_Change_Requests_(failed)": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e46ed94c-0c94-494f-9f5b-f75f30212bea"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "coe_dlppolicychangerequests",
                      "recordId": "@items('Apply_to_each_-_DLP_Policy_Change_Request_-_Environment_provisioning_failed')?['coe_dlppolicychangerequestid']",
                      "item/coe_requeststatus": 597910007,
                      "item/statecode": 1
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  }
                }
              },
              "runAfter": {
                "Update_a_record_-_Environment_provisioning_failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f7c38e99-865a-46d7-95ab-54658d1663d3"
              },
              "type": "Foreach"
            },
            "Update_a_record_-_Environment_provisioning_failed": {
              "runAfter": {
                "Environment_provisioning_failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "adf53b3a-77a9-4129-8169-4f9c0d59cc68"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "coe_environmentcreationrequests",
                  "recordId": "@outputs('Get_a_record_-_environment_request')?['body/coe_environmentcreationrequestid']",
                  "item/coe_notes": "@concat(outputs('Get_a_record_-_environment_request')?['body/coe_notes'], '; Error while provisioning: ',variables('varErrorMessage'))",
                  "item/coe_requeststatus": 597910007,
                  "item/statecode": 1
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Get_Row_-_Environment_provisioning_failed": {
              "actions": {
                "emailGUID_to_en-US_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3c46d691-0f2a-4c36-9611-c2c7de1ec33d"
                  },
                  "type": "Compose",
                  "inputs": "bea55af1-2343-ec11-8c62-00224829bf00"
                },
                "List_emails_for_preferred_language_2": {
                  "runAfter": {
                    "emailGUID_to_en-US_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_customizedemails",
                      "$select": "admin_customizedemailid",
                      "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US_2')}' and admin_language eq '@{parameters('Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)')}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_emailGUID_to_localized_row_2": {
                  "runAfter": {
                    "List_emails_for_preferred_language_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1e1c0a09-41a6-4b3d-a558-df89f10ca738"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "emailGUID",
                    "value": "@{if(greater(length(outputs('List_emails_for_preferred_language_2')?['body/value']), 0), first(body('List_emails_for_preferred_language_2')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US_2'))}"
                  },
                  "description": "if(greater(length(outputs('List_emails_for_preferred_language_2')?['body/value']), 0), first(body('List_emails_for_preferred_language_2')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US_2'))"
                },
                "Get_a_row_by_ID_2": {
                  "runAfter": {
                    "Set_emailGUID_to_localized_row_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_customizedemails",
                      "recordId": "@variables('emailGUID')",
                      "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
              },
              "type": "Scope"
            },
            "Environment_provisioning_failed": {
              "runAfter": {
                "Get_Row_-_Environment_provisioning_failed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "acaf353e-cf00-46d1-b457-eac85c38f49e"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                },
                "body": {
                  "email": "@{parameters('Admin eMail (admin_AdminMail)')};@{variables('varEnvAdminEmails')}",
                  "text": "@{triggerOutputs()?['body/coe_name']} - @{outputs('Get_a_row_by_ID_2')?['body/admin_subject']}",
                  "text_1": "@{outputs('Get_a_row_by_ID_2')?['body/admin_body']}<br>\n<span style=\"color: rgb(184,49,47)\">Error: </span><span style=\"color: rgb(184,49,47)\">@{variables('varErrorMessage')}</span><span style=\"color: rgb(184,49,47)\"></span><br>\n</p>",
                  "email_1": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_cc'])",
                  "email_2": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_sendonbehalf'])",
                  "email_3": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_replyto'])",
                  "text_2": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_importance'])"
                }
              },
              "description": "bea55af1-2343-ec11-8c62-00224829bf00"
            }
          },
          "runAfter": {
            "Scope_-_Provision_environment": [
              "Failed",
              "TimedOut",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "92499082-e95b-473e-b085-73bc606c84bd"
          },
          "type": "Scope"
        },
        "Initialize_variable_-_varExpriationEmailCard": {
          "runAfter": {
            "Initialize_variable_-_varErrorMessage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "046500c3-a4f9-441d-9c7f-d06ee9c6cfa6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varExpriationEmailCard",
                "type": "string",
                "value": "The Environment does not have any expiration date and can be used indefinitely. If at any point in the future this Environment is no longer needed, help keep costs down by deleting the Environment."
              }
            ]
          }
        },
        "Initialize_variable_-_varSecurityGroupId": {
          "runAfter": {
            "Append_to_array_variable_-_varEnvAdmins": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f4e404a2-52ad-419d-aba3-b4d67c2f0127"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSecurityGroupId",
                "type": "string",
                "value": "@triggerOutputs()?['body/coe_databasesecuritygroupid']"
              }
            ]
          }
        },
        "Initialize_variable_varMakerPortalUrl": {
          "runAfter": {
            "Initialize_variable_-_varExpriationEmailCard": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "11c2c7d9-aff9-4e13-a044-89bd615eb1de"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varMakerPortalUrl",
                "type": "string",
                "value": "https://make.powerapps.com/"
              }
            ]
          }
        },
        "Condition_-_Update_varMakerPortalUrl_with_Env_Var_value": {
          "actions": {
            "Set_variable_varMakerPortalUrl": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5cf07c92-b7ba-4ede-8bce-7e3993c56644"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varMakerPortalUrl",
                "value": "@parameters('PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)')"
              },
              "description": "Updates to the environment variable value, else keeps the default make.powerapps.com"
            }
          },
          "runAfter": {
            "Initialize_emailGUID": [
              "Succeeded"
            ]
          },
          "expression": {
            "greater": [
              "@length(parameters('PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)'))",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "deb0897e-0811-4cac-b3ed-57444dec7f0a"
          },
          "type": "If"
        },
        "Get_Maker": {
          "runAfter": {
            "Get_a_row_by_ID_-_requestor_user": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99dfd02a-9e16-4f2c-a277-ee6141ece7ab"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
            },
            "body": {
              "text": "@outputs('Get_a_row_by_ID_-_requestor_user')?['body/azureactivedirectoryobjectid']",
              "text_1": "@outputs('Get_a_row_by_ID_-_requestor_user')?['body/fullname']",
              "boolean": false
            }
          }
        },
        "Initialize_emailGUID": {
          "runAfter": {
            "Initialize_variable_varMakerPortalUrl": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dad8eca6-7937-47c0-aa57-f2d48dd1c5a2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emailGUID",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_varHasExpirationDate": {
          "runAfter": {
            "Initialize_variable_-_varSecurityGroupId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a070aab6-e3d4-415a-99f4-2bfcc149f646"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varHasExpirationDate",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}