CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/HELPER-CloudFlowOperations-6093B58A-4FEA-EB11-BACB-000D3A578F6C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365users": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreO365Users"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_commondataservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseLegacy"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_microsoftflowforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAutomateAdmin"
        },
        "api": {
          "name": "shared_microsoftflowforadmins"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d223fc88-1872-45a7-a6e4-5cf53d5a6fa8"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "userID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "flowName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "envName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "action",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT",
                  "enum": [
                    "assign",
                    "delete",
                    "addeditor",
                    "addviewer",
                    "removeuser"
                  ]
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "If_found_in_inventory_then_continue": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "66827cd0-52a2-44a2-ae6f-e51446853f43"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "thereturnstring": "@variables('ReturnString')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "thereturnstring": {
                  "title": "theReturnString",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Get_flow_from_CoE": {
          "runAfter": {
            "EnvtGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b01b42aa-d97e-446f-bee7-82cbea8ce1b4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "admin_flows",
              "recordId": "@triggerBody()['text_1']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Initialize_ReturnString_to_pass": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4ab2df3b-de59-4a3c-b6d0-4a80377c5344"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ReturnString",
                "type": "string",
                "value": "pass"
              }
            ]
          }
        },
        "Set_ReturnString_to_Not_Found": {
          "runAfter": {
            "Get_flow_from_CoE": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "7b8cd687-c03d-484b-9ab0-dce07f3eac98"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "ReturnString",
            "value": "Not found in inventory"
          }
        },
        "If_found_in_inventory_then_continue": {
          "actions": {
            "Get_User_Info_if_not_null": {
              "actions": {
                "Get_user_photo_(V2)": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9ca8fc74-8bac-4620-aaea-a442f839f4cf"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365users",
                      "operationId": "UserPhoto_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                    },
                    "parameters": {
                      "id": "@triggerBody()['text']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Get_user_profile_(V2)": {
                  "runAfter": {
                    "Catch_-_for_delete_cases_with_no_user_-_photo": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2f541dfe-98bc-4d99-bd90-37f465e2f087"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365users",
                      "operationId": "UserProfile_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                    },
                    "parameters": {
                      "id": "@triggerBody()['text']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Catch_-_for_delete_cases_with_no_user_-_photo": {
                  "runAfter": {
                    "Get_user_photo_(V2)": [
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d5bd14bd-4078-4ec3-ac47-1cf8231dc1fc"
                  },
                  "type": "Compose",
                  "inputs": "Catch - for delete cases with no user"
                },
                "Catch_-_for_delete_cases_with_no_user_-_profile": {
                  "runAfter": {
                    "Get_user_profile_(V2)": [
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8e03cbc5-24f2-4e76-b564-49f0c4eb48cc"
                  },
                  "type": "Compose",
                  "inputs": "Catch - for delete cases with no user"
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()['text']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@triggerBody()['text_3']",
                        "delete"
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "39916be4-b054-4c70-a34b-216a85c8493a"
              },
              "type": "If"
            },
            "Set_SolutionAwareFlow_to_value_from_CoE": {
              "runAfter": {
                "Get_User_Info_if_not_null": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cc40f393-bbd1-4b88-bb9d-cc04d4a52563"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "SolutionAwareFlow",
                "value": "@if(outputs('Get_flow_from_CoE')?['body/admin_issolutionflow'], true, false)"
              }
            },
            "Switch_on_action_input": {
              "runAfter": {
                "Set_SolutionAwareFlow_to_value_from_CoE": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Case_assign": {
                  "case": "assign",
                  "actions": {
                    "see_if_solution_flow": {
                      "actions": {
                        "Update_flow_owner": {
                          "runAfter": {
                            "Get_new_owner_ID_from_envt_system_table": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataservice",
                              "operationId": "PatchItem_V2",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                            },
                            "parameters": {
                              "dataset": "@outputs('Get_environments_CDSMetadataName')?['body/admin_environmentcdsinstanceurl']",
                              "table": "workflows",
                              "id": "@outputs('Get_flow_from_CoE')?['body/admin_workflowentityid']",
                              "item": {
                                "_ownerid_value": "@outputs('Get_new_owner_SystemUser_id')",
                                "_ownerid_type": "systemusers"
                              }
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 10,
                              "interval": "PT10S"
                            }
                          }
                        },
                        "Mark_app_owner_in_CoE_Soln_Flow": {
                          "runAfter": {
                            "Set_ReturnString_to_failed_-_assign_solution_aware": [
                              "Skipped"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_flows",
                              "recordId": "@triggerBody()['text_1']",
                              "item/admin_DerivedOwner@odata.bind": "admin_makers(@{triggerBody()['text']})",
                              "item/cr5d5_flowisorphaned": "no"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 10,
                              "interval": "PT10S"
                            }
                          }
                        },
                        "Set_ReturnString_to_failed_-_assign_solution_aware": {
                          "runAfter": {
                            "Update_flow_owner": [
                              "Failed"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "ReturnString",
                            "value": "@{outputs('Update_flow_owner')['body/error/message']}"
                          }
                        },
                        "Get_new_owner_ID_from_envt_system_table": {
                          "actions": {
                            "Get_environments_CDSMetadataName": {
                              "runAfter": {},
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_environments",
                                  "recordId": "@outputs('Get_flow_from_CoE')?['body/_admin_flowenvironment_value']",
                                  "$select": "admin_environmentcdsmetadataname, admin_environmentcdsinstanceurl"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            },
                            "List_users_from_target_envt": {
                              "runAfter": {
                                "Get_environments_CDSMetadataName": [
                                  "Succeeded"
                                ]
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataservice",
                                  "operationId": "GetItems_V2",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                                },
                                "parameters": {
                                  "dataset": "@outputs('Get_environments_CDSMetadataName')?['body/admin_environmentcdsinstanceurl']",
                                  "table": "systemusers",
                                  "$filter": "azureactivedirectoryobjectid eq @{triggerBody()['text']}"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            },
                            "Get_first_from_list": {
                              "runAfter": {
                                "List_users_from_target_envt": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Compose",
                              "inputs": "@first(outputs('List_users_from_target_envt')?['body/value'])"
                            },
                            "Get_new_owner_SystemUser_id": {
                              "runAfter": {
                                "Get_first_from_list": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Compose",
                              "inputs": "@outputs('Get_first_from_list')?['iteminternalid']"
                            }
                          },
                          "runAfter": {},
                          "type": "Scope"
                        }
                      },
                      "runAfter": {
                        "Ensure_New_Owner_is_in_Maker_and_User_tables": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "If_permission_change_passed,_update_owner": {
                            "actions": {
                              "Mark_app_owner_in_CoE": {
                                "runAfter": {},
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "UpdateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "admin_flows",
                                    "recordId": "@triggerBody()['text_1']",
                                    "item/admin_DerivedOwner@odata.bind": "admin_makers(@{triggerBody()['text']})",
                                    "item/cr5d5_flowisorphaned": "no"
                                  },
                                  "authentication": {
                                    "type": "Raw",
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "if_not_creator_add_edit_permissions": [
                                "Succeeded"
                              ]
                            },
                            "expression": {
                              "equals": [
                                "@variables('ReturnString')",
                                "pass"
                              ]
                            },
                            "type": "If"
                          },
                          "if_not_creator_add_edit_permissions": {
                            "actions": {
                              "Edit_Flow_Owner_Role_as_Admin": {
                                "runAfter": {},
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_microsoftflowforadmins",
                                    "operationId": "Edit-AdminFlowOwnerRole",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                                  },
                                  "parameters": {
                                    "environment": "@triggerBody()['text_2']",
                                    "flow": "@triggerBody()['text_1']",
                                    "api-version": "2016-11-01",
                                    "Content-Type": "application/json",
                                    "body/put": [
                                      {
                                        "properties/principal/id": "@triggerBody()['text']",
                                        "properties/principal/type": "user",
                                        "properties/roleName": "CanEdit"
                                      }
                                    ]
                                  },
                                  "authentication": {
                                    "type": "Raw",
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                  },
                                  "retryPolicy": {
                                    "type": "exponential",
                                    "count": 10,
                                    "interval": "PT10S"
                                  }
                                }
                              },
                              "Set_ReturnString_to_failed_-_assign_not_solution_aware": {
                                "runAfter": {
                                  "Edit_Flow_Owner_Role_as_Admin": [
                                    "Failed"
                                  ]
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "ReturnString",
                                  "value": "@{outputs('Edit_Flow_Owner_Role_as_Admin')['body/error/message']}"
                                }
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Reason_we_do_not_update_permission_for_Maker": {
                                  "runAfter": {},
                                  "type": "Compose",
                                  "inputs": "Product will fail if you try to give Maker edit permissions as \"cannot downgrade\""
                                }
                              }
                            },
                            "expression": {
                              "not": {
                                "equals": [
                                  "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                                  "@triggerBody()['text']"
                                ]
                              }
                            },
                            "type": "If"
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@variables('SolutionAwareFlow')",
                          "@true"
                        ]
                      },
                      "type": "If"
                    },
                    "Ensure_New_Owner_is_in_Maker_and_User_tables": {
                      "actions": {
                        "Maker_Check": {
                          "runAfter": {},
                          "type": "Workflow",
                          "inputs": {
                            "host": {
                              "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                            },
                            "body": {
                              "text": "@triggerBody()['text']",
                              "boolean": false
                            }
                          }
                        },
                        "List_new_owner_from_User_Table": {
                          "runAfter": {
                            "Maker_Check": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_powerplatformusers",
                              "$select": "admin_powerplatformuserid",
                              "$filter": "admin_powerplatformuserid eq @{triggerBody()['text']}"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        },
                        "Add_to_User_Table_if_not_yet_present": {
                          "actions": {
                            "Add_a_new_user": {
                              "runAfter": {},
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformusers",
                                  "item/admin_displayname": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                                  "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                                  "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                                  "item/admin_groupsize": 1,
                                  "item/admin_powerplatformuserid": "@triggerBody()['text']",
                                  "item/admin_recordguidasstring": "@triggerBody()['text']",
                                  "item/admin_userprincipalname": "@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              }
                            },
                            "update_picture_if_not_null": {
                              "actions": {
                                "Upload_a_file_or_an_image": {
                                  "runAfter": {},
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateEntityFileImageFieldContent",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "recordId": "@body('Maker_Check')?['userid']",
                                      "fileImageFieldName": "admin_photoobject",
                                      "item": "@body('Get_user_photo_(V2)')",
                                      "x-ms-file-name": "@{body('Maker_Check')?['userid']}_pic"
                                    },
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Add_a_new_user": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "not": {
                                  "equals": [
                                    "@body('Get_user_photo_(V2)')",
                                    "@null"
                                  ]
                                }
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            "List_new_owner_from_User_Table": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "equals": [
                              "@length(outputs('List_new_owner_from_User_Table')?['body/value'])",
                              0
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "type": "Scope"
                    }
                  }
                },
                "Case_delete": {
                  "case": "delete",
                  "actions": {
                    "Mark_flow_as_deleted_in_CoE": {
                      "runAfter": {
                        "Set_ReturnString_to_failed_-_delete": [
                          "Skipped"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_flows",
                          "recordId": "@triggerBody()['text_1']",
                          "item/admin_flowdeleted": true,
                          "item/admin_flowdeletedon": "@utcNow()"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 10,
                          "interval": "PT10S"
                        }
                      }
                    },
                    "Set_ReturnString_to_failed_-_delete": {
                      "runAfter": {
                        "Remove_Flow_as_Admin": [
                          "Failed"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ReturnString",
                        "value": "@{outputs('Remove_Flow_as_Admin')['body/error/message']}"
                      }
                    },
                    "Remove_Flow_as_Admin": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_microsoftflowforadmins",
                          "operationId": "Remove-AdminFlow",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                        },
                        "parameters": {
                          "environment": "@triggerBody()['text_2']",
                          "flow": "@triggerBody()['text_1']",
                          "api-version": "2016-11-01"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 10,
                          "interval": "PT10S"
                        }
                      }
                    }
                  }
                },
                "Case_addeditor": {
                  "case": "addeditor",
                  "actions": {
                    "Ensure_Editor_is_in_Maker_and_User_tables": {
                      "actions": {
                        "Maker_Check_-_addeditor": {
                          "runAfter": {},
                          "type": "Workflow",
                          "inputs": {
                            "host": {
                              "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                            },
                            "body": {
                              "text": "@triggerBody()['text']",
                              "boolean": false
                            }
                          }
                        },
                        "List_new_editor_from_User_Table": {
                          "runAfter": {
                            "Maker_Check_-_addeditor": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_powerplatformusers",
                              "$select": "admin_powerplatformuserid",
                              "$filter": "admin_powerplatformuserid eq @{triggerBody()['text']}"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        },
                        "Add_to_User_Table_if_not_yet_present_-_addeditor": {
                          "actions": {
                            "Add_a_new_user_-_addeditor": {
                              "runAfter": {},
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformusers",
                                  "item/admin_displayname": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                                  "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                                  "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                                  "item/admin_groupsize": 1,
                                  "item/admin_powerplatformuserid": "@triggerBody()['text']",
                                  "item/admin_recordguidasstring": "@triggerBody()['text']",
                                  "item/admin_userprincipalname": "@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              }
                            },
                            "update_picture_if_not_null_-_addeditor": {
                              "actions": {
                                "Upload_a_file_or_an_image_-_addeditor": {
                                  "runAfter": {},
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateEntityFileImageFieldContent",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "recordId": "@triggerBody()['text']",
                                      "fileImageFieldName": "admin_photoobject",
                                      "item": "@body('Get_user_photo_(V2)')",
                                      "x-ms-file-name": "@{triggerBody()['text']}_pic"
                                    },
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Add_a_new_user_-_addeditor": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "not": {
                                  "equals": [
                                    "@body('Get_user_photo_(V2)')",
                                    "@null"
                                  ]
                                }
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            "List_new_editor_from_User_Table": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "equals": [
                              "@length(outputs('List_new_editor_from_User_Table')?['body/value'])",
                              0
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "type": "Scope"
                    },
                    "if_not_creator_add_edit_permissions_-_addeditor": {
                      "actions": {
                        "Edit_Flow_Editor_Role_as_Admin": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_microsoftflowforadmins",
                              "operationId": "Edit-AdminFlowOwnerRole",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                            },
                            "parameters": {
                              "environment": "@triggerBody()['text_2']",
                              "flow": "@triggerBody()['text_1']",
                              "api-version": "2016-11-01",
                              "Content-Type": "application/json",
                              "body/put": [
                                {
                                  "properties/principal/id": "@triggerBody()['text']",
                                  "properties/principal/type": "user",
                                  "properties/roleName": "CanEdit"
                                }
                              ]
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 10,
                              "interval": "PT10S"
                            }
                          }
                        },
                        "Set_ReturnString_to_failed_-_assign_not_solution_aware_-_addeditor": {
                          "runAfter": {
                            "Edit_Flow_Editor_Role_as_Admin": [
                              "Failed"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "ReturnString",
                            "value": "@{outputs('Edit_Flow_Editor_Role_as_Admin')['body/error/message']}"
                          }
                        }
                      },
                      "runAfter": {
                        "Ensure_Editor_is_in_Maker_and_User_tables": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Reason_we_do_not_update_permission_for_Maker_-_addeditor": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": "Product will fail if you try to give Maker edit permissions as \"cannot downgrade\""
                          }
                        }
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                            "@triggerBody()['text']"
                          ]
                        }
                      },
                      "type": "If"
                    }
                  }
                },
                "Case_addviewer": {
                  "case": "addviewer",
                  "actions": {
                    "Ensure_Viewer_is_in_User_table": {
                      "actions": {
                        "List_new_viewer_from_User_Table": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_powerplatformusers",
                              "$select": "admin_powerplatformuserid",
                              "$filter": "admin_powerplatformuserid eq @{triggerBody()['text']}"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        },
                        "Add_to_User_Table_if_not_yet_present_-_addviewer": {
                          "actions": {
                            "Add_a_new_user_-_addviewer": {
                              "runAfter": {},
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformusers",
                                  "item/admin_displayname": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                                  "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                                  "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                                  "item/admin_groupsize": 1,
                                  "item/admin_powerplatformuserid": "@triggerBody()['text']",
                                  "item/admin_recordguidasstring": "@triggerBody()['text']",
                                  "item/admin_userprincipalname": "@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              }
                            },
                            "update_picture_if_not_null_-_addviewer": {
                              "actions": {
                                "Upload_a_file_or_an_image_-_addviewer": {
                                  "runAfter": {},
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateEntityFileImageFieldContent",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "recordId": "@triggerBody()['text']",
                                      "fileImageFieldName": "admin_photoobject",
                                      "item": "@body('Get_user_photo_(V2)')",
                                      "x-ms-file-name": "@{triggerBody()['text']}_pic"
                                    },
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Add_a_new_user_-_addviewer": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "not": {
                                  "equals": [
                                    "@body('Get_user_photo_(V2)')",
                                    "@null"
                                  ]
                                }
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            "List_new_viewer_from_User_Table": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "equals": [
                              "@length(outputs('List_new_viewer_from_User_Table')?['body/value'])",
                              0
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "type": "Scope"
                    },
                    "if_not_creator_add_edit_permissions_-_addviewer": {
                      "actions": {
                        "Remove_role_Edit_Flow_Editor_Role_as_Admin": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_microsoftflowforadmins",
                              "operationId": "Edit-AdminFlowOwnerRole",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                            },
                            "parameters": {
                              "environment": "@triggerBody()['text_2']",
                              "flow": "@triggerBody()['text_1']",
                              "api-version": "2016-11-01",
                              "Content-Type": "application/json",
                              "body/delete": [
                                {
                                  "id": "@triggerBody()['text']"
                                }
                              ]
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          },
                          "description": "This is to ensure we arent downgrading permissions"
                        },
                        "Edit_Flow_Viewer_Role_as_Admin": {
                          "runAfter": {
                            "Remove_role_Edit_Flow_Editor_Role_as_Admin": [
                              "Succeeded",
                              "Failed"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_microsoftflowforadmins",
                              "operationId": "Edit-AdminFlowOwnerRole",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                            },
                            "parameters": {
                              "environment": "@triggerBody()['text_2']",
                              "flow": "@triggerBody()['text_1']",
                              "api-version": "2016-11-01",
                              "Content-Type": "application/json",
                              "body/put": [
                                {
                                  "properties/principal/id": "@triggerBody()['text']",
                                  "properties/principal/type": "user",
                                  "properties/roleName": "CanView"
                                }
                              ]
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          },
                          "description": "This is to ensure we arent downgrading permissions"
                        },
                        "Set_ReturnString_to_failed_-_addviewer": {
                          "runAfter": {
                            "Edit_Flow_Viewer_Role_as_Admin": [
                              "Failed"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "ReturnString",
                            "value": "@{outputs('Edit_Flow_Viewer_Role_as_Admin')['body/error/message']}"
                          }
                        }
                      },
                      "runAfter": {
                        "Ensure_Viewer_is_in_User_table": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Reason_we_do_not_update_permission_for_Maker_-_addviewer": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": "Product will fail if you try to give Maker edit permissions as \"cannot downgrade\""
                          }
                        }
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                            "@triggerBody()['text']"
                          ]
                        }
                      },
                      "type": "If"
                    }
                  }
                },
                "Case_removeuser": {
                  "case": "removeuser",
                  "actions": {
                    "if_not_creator_remove_permissions": {
                      "actions": {
                        "Remove_role": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_microsoftflowforadmins",
                              "operationId": "Edit-AdminFlowOwnerRole",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                            },
                            "parameters": {
                              "environment": "@triggerBody()['text_2']",
                              "flow": "@triggerBody()['text_1']",
                              "api-version": "2016-11-01",
                              "Content-Type": "application/json",
                              "body/delete": [
                                {
                                  "id": "@triggerBody()['text']"
                                }
                              ]
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          },
                          "description": "This is to ensure we arent downgrading permissions"
                        },
                        "Set_ReturnString_to_failed_-_removeuser": {
                          "runAfter": {
                            "Remove_role": [
                              "Failed"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "ReturnString",
                            "value": "@{outputs('Remove_role')['body/error/message']}"
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Cannot_remove_Creator_permissions": {
                            "runAfter": {},
                            "type": "SetVariable",
                            "inputs": {
                              "name": "ReturnString",
                              "value": "Cannot remove Creator permissions"
                            }
                          }
                        }
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                            "@triggerBody()['text']"
                          ]
                        }
                      },
                      "type": "If"
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@triggerBody()['text_3']",
              "metadata": {
                "operationMetadataId": "7fab9001-e7dd-4f6c-a71a-043361acf669"
              },
              "type": "Switch"
            }
          },
          "runAfter": {
            "Set_ReturnString_to_Not_Found": [
              "Succeeded",
              "Skipped"
            ]
          },
          "expression": {
            "equals": [
              "@variables('ReturnString')",
              "pass"
            ]
          },
          "metadata": {
            "operationMetadataId": "d56e2342-f914-4d1c-bbc2-3cf83b9ca754"
          },
          "type": "If"
        },
        "Initialize_SolutionAwareFlow_to_false": {
          "runAfter": {
            "Initialize_ReturnString_to_pass": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "54fa706f-6915-44af-8303-b4b3530dda32"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SolutionAwareFlow",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "EnvtGUID": {
          "runAfter": {
            "Initialize_SolutionAwareFlow_to_false": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0237a90a-c2ef-420d-b9bf-3f5d4b095373"
          },
          "type": "Compose",
          "inputs": "@substring(triggerBody()['text_2'], sub(length(triggerBody()['text_2']),36), 36)"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}