CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/HELPER-CloudFlowOperations-6093B58A-4FEA-EB11-BACB-000D3A578F6C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365users": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreO365Users"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_commondataservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseLegacy"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_microsoftflowforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAutomateAdmin"
        },
        "api": {
          "name": "shared_microsoftflowforadmins"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "Inventory - REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d223fc88-1872-45a7-a6e4-5cf53d5a6fa8"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "userID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "flowName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "envName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "action",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT",
                  "enum": [
                    "assign",
                    "delete",
                    "addeditor",
                    "addviewer",
                    "removeuser"
                  ]
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_ReturnString_to_pass": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4ab2df3b-de59-4a3c-b6d0-4a80377c5344"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ReturnString",
                "type": "string",
                "value": "pass"
              }
            ]
          }
        },
        "Initialize_SolutionAwareFlow_to_false": {
          "runAfter": {
            "Initialize_ReturnString_to_pass": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "54fa706f-6915-44af-8303-b4b3530dda32"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SolutionAwareFlow",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Perform_Cloud_Flow_Operation": {
          "actions": {
            "EnvtGUID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0237a90a-c2ef-420d-b9bf-3f5d4b095373"
              },
              "type": "Compose",
              "inputs": "@substring(triggerBody()['text_2'], sub(length(triggerBody()['text_2']),36), 36)"
            },
            "Get_flow_from_CoE": {
              "runAfter": {
                "EnvtGUID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b01b42aa-d97e-446f-bee7-82cbea8ce1b4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_flows",
                  "recordId": "@triggerBody()['text_1']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Set_ReturnString_to_Not_Found": {
              "runAfter": {
                "Get_flow_from_CoE": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "7b8cd687-c03d-484b-9ab0-dce07f3eac98"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ReturnString",
                "value": "Not found in inventory"
              }
            },
            "If_found_in_inventory_then_continue": {
              "actions": {
                "Get_User_Info_if_not_null": {
                  "actions": {
                    "Get_user_photo_(V2)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9ca8fc74-8bac-4620-aaea-a442f839f4cf"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365users",
                          "operationId": "UserPhoto_V2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                        },
                        "parameters": {
                          "id": "@triggerBody()['text']"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Get_user_profile_(V2)": {
                      "runAfter": {
                        "Catch_-_for_delete_cases_with_no_user_-_photo": [
                          "Succeeded",
                          "Skipped"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2f541dfe-98bc-4d99-bd90-37f465e2f087"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365users",
                          "operationId": "UserProfile_V2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                        },
                        "parameters": {
                          "id": "@triggerBody()['text']"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Catch_-_for_delete_cases_with_no_user_-_photo": {
                      "runAfter": {
                        "Get_user_photo_(V2)": [
                          "Failed"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d5bd14bd-4078-4ec3-ac47-1cf8231dc1fc"
                      },
                      "type": "Compose",
                      "inputs": "Catch - for delete cases with no user"
                    },
                    "Catch_-_for_delete_cases_with_no_user_-_profile": {
                      "runAfter": {
                        "Get_user_profile_(V2)": [
                          "Failed"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8e03cbc5-24f2-4e76-b564-49f0c4eb48cc"
                      },
                      "type": "Compose",
                      "inputs": "Catch - for delete cases with no user"
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@triggerBody()['text']",
                            "@null"
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@triggerBody()['text_3']",
                            "delete"
                          ]
                        }
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "39916be4-b054-4c70-a34b-216a85c8493a"
                  },
                  "type": "If"
                },
                "Set_SolutionAwareFlow_to_value_from_CoE": {
                  "runAfter": {
                    "Get_User_Info_if_not_null": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cc40f393-bbd1-4b88-bb9d-cc04d4a52563"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SolutionAwareFlow",
                    "value": "@if(outputs('Get_flow_from_CoE')?['body/admin_issolutionflow'], true, false)"
                  }
                },
                "Switch_on_action_input": {
                  "runAfter": {
                    "Set_SolutionAwareFlow_to_value_from_CoE": [
                      "Succeeded"
                    ]
                  },
                  "cases": {
                    "Case_assign": {
                      "case": "assign",
                      "actions": {
                        "see_if_solution_flow": {
                          "actions": {
                            "Update_flow_owner": {
                              "runAfter": {
                                "Get_new_owner_ID_from_envt_system_table": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "06cc232f-f117-41ff-89e7-86b722065327"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataservice",
                                  "operationId": "PatchItem_V2",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                                },
                                "parameters": {
                                  "dataset": "@outputs('Get_environments_CDSMetadataName')?['body/admin_environmentcdsinstanceurl']",
                                  "table": "workflows",
                                  "id": "@outputs('Get_flow_from_CoE')?['body/admin_workflowentityid']",
                                  "item": {
                                    "_ownerid_value": "@outputs('Get_new_owner_SystemUser_id')",
                                    "_ownerid_type": "systemusers"
                                  }
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            },
                            "Mark_app_owner_in_CoE_Soln_Flow": {
                              "runAfter": {
                                "Set_ReturnString_to_failed_-_assign_solution_aware": [
                                  "Skipped"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "02111452-1009-49c3-8b2e-ba6e72b80f83"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_flows",
                                  "recordId": "@triggerBody()['text_1']",
                                  "item/admin_DerivedOwner@odata.bind": "admin_makers(@{triggerBody()['text']})",
                                  "item/cr5d5_flowisorphaned": "no"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            },
                            "Set_ReturnString_to_failed_-_assign_solution_aware": {
                              "runAfter": {
                                "Update_flow_owner": [
                                  "Failed"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "2696f063-32b1-435e-b6d8-346d5e81fe17"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "ReturnString",
                                "value": "@{outputs('Update_flow_owner')['body/error/message']}"
                              }
                            },
                            "Get_new_owner_ID_from_envt_system_table": {
                              "actions": {
                                "Get_environments_CDSMetadataName": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "e3eaba66-6313-438e-8cbe-c92dc35d09bb"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "GetItem",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_environments",
                                      "recordId": "@outputs('Get_flow_from_CoE')?['body/_admin_flowenvironment_value']",
                                      "$select": "admin_environmentcdsmetadataname, admin_environmentcdsinstanceurl"
                                    },
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    },
                                    "retryPolicy": {
                                      "type": "exponential",
                                      "count": 10,
                                      "interval": "PT10S"
                                    }
                                  }
                                },
                                "List_users_from_target_envt": {
                                  "runAfter": {
                                    "Get_environments_CDSMetadataName": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "2f949f91-f5b5-481c-b034-eba64ae3dab1"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataservice",
                                      "operationId": "GetItems_V2",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                                    },
                                    "parameters": {
                                      "dataset": "@outputs('Get_environments_CDSMetadataName')?['body/admin_environmentcdsinstanceurl']",
                                      "table": "systemusers",
                                      "$filter": "azureactivedirectoryobjectid eq @{triggerBody()['text']}"
                                    },
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    },
                                    "retryPolicy": {
                                      "type": "exponential",
                                      "count": 10,
                                      "interval": "PT10S"
                                    }
                                  }
                                },
                                "Get_first_from_list": {
                                  "runAfter": {
                                    "List_users_from_target_envt": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "0e085dfc-69d9-4814-9af0-4a457bbd213d"
                                  },
                                  "type": "Compose",
                                  "inputs": "@first(outputs('List_users_from_target_envt')?['body/value'])"
                                },
                                "Get_new_owner_SystemUser_id": {
                                  "runAfter": {
                                    "Get_first_from_list": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "719a28fe-8eb0-4420-8640-1184f96c8576"
                                  },
                                  "type": "Compose",
                                  "inputs": "@outputs('Get_first_from_list')?['iteminternalid']"
                                }
                              },
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "f88908e6-feee-433e-9a52-a6b6d0413c92"
                              },
                              "type": "Scope"
                            }
                          },
                          "runAfter": {
                            "Ensure_New_Owner_is_in_Maker_and_User_tables": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "If_permission_change_passed,_update_owner": {
                                "actions": {
                                  "Mark_app_owner_in_CoE": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "67435fd2-da70-4cdd-a8bf-43c5f45276d2"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "UpdateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "admin_flows",
                                        "recordId": "@triggerBody()['text_1']",
                                        "item/admin_DerivedOwner@odata.bind": "admin_makers(@{triggerBody()['text']})",
                                        "item/cr5d5_flowisorphaned": "no"
                                      },
                                      "authentication": {
                                        "type": "Raw",
                                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                      }
                                    }
                                  }
                                },
                                "runAfter": {
                                  "if_not_creator_add_edit_permissions": [
                                    "Succeeded"
                                  ]
                                },
                                "expression": {
                                  "equals": [
                                    "@variables('ReturnString')",
                                    "pass"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "769ddfd5-a950-452c-9a16-64b7c9281e8e"
                                },
                                "type": "If"
                              },
                              "if_not_creator_add_edit_permissions": {
                                "actions": {
                                  "Edit_Flow_Owner_Role_as_Admin": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "3742a173-f750-41c8-a070-02374b48dd2a"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_microsoftflowforadmins",
                                        "operationId": "Edit-AdminFlowOwnerRole",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                                      },
                                      "parameters": {
                                        "environment": "@triggerBody()['text_2']",
                                        "flow": "@triggerBody()['text_1']",
                                        "api-version": "2016-11-01",
                                        "Content-Type": "application/json",
                                        "body/put": [
                                          {
                                            "properties/principal/id": "@triggerBody()['text']",
                                            "properties/principal/type": "user",
                                            "properties/roleName": "CanEdit"
                                          }
                                        ]
                                      },
                                      "authentication": {
                                        "type": "Raw",
                                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                      },
                                      "retryPolicy": {
                                        "type": "exponential",
                                        "count": 10,
                                        "interval": "PT10S"
                                      }
                                    }
                                  },
                                  "Set_ReturnString_to_failed_-_assign_not_solution_aware": {
                                    "runAfter": {
                                      "Edit_Flow_Owner_Role_as_Admin": [
                                        "Failed"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "77d82248-3437-4e50-814d-f3bb2fbd8882"
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "ReturnString",
                                      "value": "@{outputs('Edit_Flow_Owner_Role_as_Admin')['body/error/message']}"
                                    }
                                  }
                                },
                                "runAfter": {},
                                "else": {
                                  "actions": {
                                    "Reason_we_do_not_update_permission_for_Maker": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "deca9133-b39a-44a5-b64d-092a01e0874a"
                                      },
                                      "type": "Compose",
                                      "inputs": "Product will fail if you try to give Maker edit permissions as \"cannot downgrade\""
                                    }
                                  }
                                },
                                "expression": {
                                  "not": {
                                    "equals": [
                                      "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                                      "@triggerBody()['text']"
                                    ]
                                  }
                                },
                                "metadata": {
                                  "operationMetadataId": "2fd2c86d-0b16-483c-a4a5-a0232ed0ce8c"
                                },
                                "type": "If"
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@variables('SolutionAwareFlow')",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "54fdc3e3-9f06-4e35-9d9e-2e877cc126a3"
                          },
                          "type": "If"
                        },
                        "Ensure_New_Owner_is_in_Maker_and_User_tables": {
                          "actions": {
                            "Maker_Check": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "a58a6830-c1be-4386-82e6-3846d40fffe8"
                              },
                              "type": "Workflow",
                              "inputs": {
                                "host": {
                                  "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                                },
                                "body": {
                                  "text": "@triggerBody()['text']",
                                  "boolean": false
                                }
                              }
                            },
                            "List_new_owner_from_User_Table": {
                              "runAfter": {
                                "Maker_Check": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "693bd161-5e50-4219-915a-a210cab894e1"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "ListRecords",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformusers",
                                  "$select": "admin_powerplatformuserid",
                                  "$filter": "admin_powerplatformuserid eq @{triggerBody()['text']}"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              }
                            },
                            "Add_to_User_Table_if_not_yet_present": {
                              "actions": {
                                "Add_a_new_user": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "288453ee-de33-4765-8eb7-2421639c09a5"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_displayname": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                                      "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                                      "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                                      "item/admin_groupsize": 1,
                                      "item/admin_powerplatformuserid": "@triggerBody()['text']",
                                      "item/admin_recordguidasstring": "@triggerBody()['text']",
                                      "item/admin_useremail": "@outputs('Get_user_profile_(V2)')?['body/mail']",
                                      "item/admin_userprincipalname": "@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"
                                    },
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    }
                                  }
                                },
                                "update_picture_if_not_null": {
                                  "actions": {
                                    "Upload_a_file_or_an_image": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "8a17e548-6f34-4599-8689-5ad9aa059400"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_powerplatformusers",
                                          "recordId": "@body('Maker_Check')?['userid']",
                                          "fileImageFieldName": "admin_photoobject",
                                          "item": "@body('Get_user_photo_(V2)')",
                                          "x-ms-file-name": "@{body('Maker_Check')?['userid']}_pic"
                                        },
                                        "authentication": {
                                          "type": "Raw",
                                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                        }
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Add_a_new_user": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "not": {
                                      "equals": [
                                        "@body('Get_user_photo_(V2)')",
                                        "@null"
                                      ]
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "1d2a11ee-ed1f-4462-ab27-a5b032c29bad"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {
                                "List_new_owner_from_User_Table": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                  "@length(outputs('List_new_owner_from_User_Table')?['body/value'])",
                                  0
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "c4c812fd-c847-410e-a34c-135378752d9f"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "359391ad-aa3c-44b4-9071-8dbe27a8072b"
                          },
                          "type": "Scope"
                        }
                      }
                    },
                    "Case_delete": {
                      "case": "delete",
                      "actions": {
                        "Mark_flow_as_deleted_in_CoE": {
                          "runAfter": {
                            "Set_ReturnString_to_failed_-_delete": [
                              "Skipped"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "de1c6fa5-e257-4f97-83d9-2641d99ede91"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "admin_flows",
                              "recordId": "@triggerBody()['text_1']",
                              "item/admin_flowdeleted": true,
                              "item/admin_flowdeletedon": "@utcNow()"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 10,
                              "interval": "PT10S"
                            }
                          }
                        },
                        "Set_ReturnString_to_failed_-_delete": {
                          "runAfter": {
                            "Remove_Flow_as_Admin": [
                              "Failed"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "755d3471-b1c2-4f9d-958e-43c463d4136f"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "ReturnString",
                            "value": "@{outputs('Remove_Flow_as_Admin')['body/error/message']}"
                          }
                        },
                        "Remove_Flow_as_Admin": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "83e054d7-f379-4d76-8fef-d8a10231c893"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_microsoftflowforadmins",
                              "operationId": "Remove-AdminFlow",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                            },
                            "parameters": {
                              "environment": "@triggerBody()['text_2']",
                              "flow": "@triggerBody()['text_1']",
                              "api-version": "2016-11-01"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 10,
                              "interval": "PT10S"
                            }
                          }
                        }
                      }
                    },
                    "Case_addeditor": {
                      "case": "addeditor",
                      "actions": {
                        "Ensure_Editor_is_in_Maker_and_User_tables": {
                          "actions": {
                            "Maker_Check_-_addeditor": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "bb6ac796-dcfa-4aac-82d9-803abb17e08e"
                              },
                              "type": "Workflow",
                              "inputs": {
                                "host": {
                                  "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                                },
                                "body": {
                                  "text": "@triggerBody()['text']",
                                  "boolean": false
                                }
                              }
                            },
                            "List_new_editor_from_User_Table": {
                              "runAfter": {
                                "Maker_Check_-_addeditor": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "8b22bf9b-01dd-47e0-8354-b599055f8c10"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "ListRecords",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformusers",
                                  "$select": "admin_powerplatformuserid",
                                  "$filter": "admin_powerplatformuserid eq @{triggerBody()['text']}"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              }
                            },
                            "Add_to_User_Table_if_not_yet_present_-_addeditor": {
                              "actions": {
                                "Add_a_new_user_-_addeditor": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "798105ad-c1ea-4cf2-a82e-03813511601f"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_displayname": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                                      "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                                      "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                                      "item/admin_groupsize": 1,
                                      "item/admin_powerplatformuserid": "@triggerBody()['text']",
                                      "item/admin_recordguidasstring": "@triggerBody()['text']",
                                      "item/admin_useremail": "@outputs('Get_user_profile_(V2)')?['body/mail']",
                                      "item/admin_userprincipalname": "@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"
                                    },
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    }
                                  }
                                },
                                "update_picture_if_not_null_-_addeditor": {
                                  "actions": {
                                    "Upload_a_file_or_an_image_-_addeditor": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "a4351d70-b93a-4d65-b989-a688d0fff6f7"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_powerplatformusers",
                                          "recordId": "@triggerBody()['text']",
                                          "fileImageFieldName": "admin_photoobject",
                                          "item": "@body('Get_user_photo_(V2)')",
                                          "x-ms-file-name": "@{triggerBody()['text']}_pic"
                                        },
                                        "authentication": {
                                          "type": "Raw",
                                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                        }
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Add_a_new_user_-_addeditor": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "not": {
                                      "equals": [
                                        "@body('Get_user_photo_(V2)')",
                                        "@null"
                                      ]
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "b4d99bbe-8f02-40b8-a02d-3670f8f2b8ba"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {
                                "List_new_editor_from_User_Table": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                  "@length(outputs('List_new_editor_from_User_Table')?['body/value'])",
                                  0
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "6cdd6cee-b2b8-4ed2-ba63-d7f91fe94bf6"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "66901eaa-29d1-4dae-8cc2-f34a7f7a6443"
                          },
                          "type": "Scope"
                        },
                        "if_not_creator_add_edit_permissions_-_addeditor": {
                          "actions": {
                            "Edit_Flow_Editor_Role_as_Admin": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "33807d9e-3671-455f-b392-6fedb407c1fc"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_microsoftflowforadmins",
                                  "operationId": "Edit-AdminFlowOwnerRole",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                                },
                                "parameters": {
                                  "environment": "@triggerBody()['text_2']",
                                  "flow": "@triggerBody()['text_1']",
                                  "api-version": "2016-11-01",
                                  "Content-Type": "application/json",
                                  "body/put": [
                                    {
                                      "properties/principal/id": "@triggerBody()['text']",
                                      "properties/principal/type": "user",
                                      "properties/roleName": "CanEdit"
                                    }
                                  ]
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            },
                            "Set_ReturnString_to_failed_-_assign_not_solution_aware_-_addeditor": {
                              "runAfter": {
                                "Edit_Flow_Editor_Role_as_Admin": [
                                  "Failed"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "738a7c5f-f33f-461b-9e25-ddf024032d08"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "ReturnString",
                                "value": "@{outputs('Edit_Flow_Editor_Role_as_Admin')['body/error/message']}"
                              }
                            }
                          },
                          "runAfter": {
                            "Ensure_Editor_is_in_Maker_and_User_tables": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Reason_we_do_not_update_permission_for_Maker_-_addeditor": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "19f0e41a-4a96-4a9e-88ee-f1664eb43189"
                                },
                                "type": "Compose",
                                "inputs": "Product will fail if you try to give Maker edit permissions as \"cannot downgrade\""
                              }
                            }
                          },
                          "expression": {
                            "not": {
                              "equals": [
                                "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                                "@triggerBody()['text']"
                              ]
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "59e26f3e-442d-49ea-99e6-5a26320ab11b"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "Case_addviewer": {
                      "case": "addviewer",
                      "actions": {
                        "Ensure_Viewer_is_in_User_table": {
                          "actions": {
                            "List_new_viewer_from_User_Table": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "e9729d0b-f5dc-4027-be7f-96afbfacb45d"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "ListRecords",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformusers",
                                  "$select": "admin_powerplatformuserid",
                                  "$filter": "admin_powerplatformuserid eq @{triggerBody()['text']}"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              }
                            },
                            "Add_to_User_Table_if_not_yet_present_-_addviewer": {
                              "actions": {
                                "Add_a_new_user_-_addviewer": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "872e335a-6ecc-4b18-a252-9a38436a4bcc"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_displayname": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                                      "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                                      "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                                      "item/admin_groupsize": 1,
                                      "item/admin_powerplatformuserid": "@triggerBody()['text']",
                                      "item/admin_recordguidasstring": "@triggerBody()['text']",
                                      "item/admin_useremail": "@outputs('Get_user_profile_(V2)')?['body/mail']",
                                      "item/admin_userprincipalname": "@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"
                                    },
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    }
                                  }
                                },
                                "update_picture_if_not_null_-_addviewer": {
                                  "actions": {
                                    "Upload_a_file_or_an_image_-_addviewer": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "570ece0d-c0f5-46dc-9d58-9ff3d3a9903e"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateEntityFileImageFieldContent",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_powerplatformusers",
                                          "recordId": "@triggerBody()['text']",
                                          "fileImageFieldName": "admin_photoobject",
                                          "item": "@body('Get_user_photo_(V2)')",
                                          "x-ms-file-name": "@{triggerBody()['text']}_pic"
                                        },
                                        "authentication": {
                                          "type": "Raw",
                                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                        }
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Add_a_new_user_-_addviewer": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "not": {
                                      "equals": [
                                        "@body('Get_user_photo_(V2)')",
                                        "@null"
                                      ]
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "e5c26cd3-c32f-4274-abb2-eefdd4f70484"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {
                                "List_new_viewer_from_User_Table": [
                                  "Succeeded"
                                ]
                              },
                              "expression": {
                                "equals": [
                                  "@length(outputs('List_new_viewer_from_User_Table')?['body/value'])",
                                  0
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "5577c53a-051d-418b-a8e9-16815e312758"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "52b462c0-66bf-4a5f-b4f0-ea2e9cae10bf"
                          },
                          "type": "Scope"
                        },
                        "if_not_creator_add_edit_permissions_-_addviewer": {
                          "actions": {
                            "Remove_role_Edit_Flow_Editor_Role_as_Admin": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "b45a1b3a-a116-4c88-aad3-a1534536302b"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_microsoftflowforadmins",
                                  "operationId": "Edit-AdminFlowOwnerRole",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                                },
                                "parameters": {
                                  "environment": "@triggerBody()['text_2']",
                                  "flow": "@triggerBody()['text_1']",
                                  "api-version": "2016-11-01",
                                  "Content-Type": "application/json",
                                  "body/delete": [
                                    {
                                      "id": "@triggerBody()['text']"
                                    }
                                  ]
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              },
                              "description": "This is to ensure we arent downgrading permissions"
                            },
                            "Edit_Flow_Viewer_Role_as_Admin": {
                              "runAfter": {
                                "Remove_role_Edit_Flow_Editor_Role_as_Admin": [
                                  "Succeeded",
                                  "Failed"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "bc6f2236-cd8e-40af-a5ed-945e9f1ed501"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_microsoftflowforadmins",
                                  "operationId": "Edit-AdminFlowOwnerRole",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                                },
                                "parameters": {
                                  "environment": "@triggerBody()['text_2']",
                                  "flow": "@triggerBody()['text_1']",
                                  "api-version": "2016-11-01",
                                  "Content-Type": "application/json",
                                  "body/put": [
                                    {
                                      "properties/principal/id": "@triggerBody()['text']",
                                      "properties/principal/type": "user",
                                      "properties/roleName": "CanView"
                                    }
                                  ]
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              },
                              "description": "This is to ensure we arent downgrading permissions"
                            },
                            "Set_ReturnString_to_failed_-_addviewer": {
                              "runAfter": {
                                "Edit_Flow_Viewer_Role_as_Admin": [
                                  "Failed"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "2a42fd48-4275-475a-8aec-424edb1c7fee"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "ReturnString",
                                "value": "@{outputs('Edit_Flow_Viewer_Role_as_Admin')['body/error/message']}"
                              }
                            }
                          },
                          "runAfter": {
                            "Ensure_Viewer_is_in_User_table": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Reason_we_do_not_update_permission_for_Maker_-_addviewer": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "27aa444c-4bc7-4246-8806-cb319525e5a7"
                                },
                                "type": "Compose",
                                "inputs": "Product will fail if you try to give Maker edit permissions as \"cannot downgrade\""
                              }
                            }
                          },
                          "expression": {
                            "not": {
                              "equals": [
                                "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                                "@triggerBody()['text']"
                              ]
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "39f762f0-6100-41bd-81fb-8030d516eeec"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "Case_removeuser": {
                      "case": "removeuser",
                      "actions": {
                        "if_not_creator_remove_permissions": {
                          "actions": {
                            "Remove_role": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "8a6e3274-f15d-41b5-9214-9cbc98d81e8d"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_microsoftflowforadmins",
                                  "operationId": "Edit-AdminFlowOwnerRole",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins"
                                },
                                "parameters": {
                                  "environment": "@triggerBody()['text_2']",
                                  "flow": "@triggerBody()['text_1']",
                                  "api-version": "2016-11-01",
                                  "Content-Type": "application/json",
                                  "body/delete": [
                                    {
                                      "id": "@triggerBody()['text']"
                                    }
                                  ]
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              },
                              "description": "This is to ensure we arent downgrading permissions"
                            },
                            "Set_ReturnString_to_failed_-_removeuser": {
                              "runAfter": {
                                "Remove_role": [
                                  "Failed"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "c1268f41-b54f-4dca-b786-2f745b379bde"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "ReturnString",
                                "value": "@{outputs('Remove_role')['body/error/message']}"
                              }
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Cannot_remove_Creator_permissions": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "d9a8f290-1fb7-4e00-bfe0-1746b7048311"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "ReturnString",
                                  "value": "Cannot remove Creator permissions"
                                }
                              }
                            }
                          },
                          "expression": {
                            "not": {
                              "equals": [
                                "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                                "@triggerBody()['text']"
                              ]
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "3494fb4c-a514-461b-8293-c459e95c62c5"
                          },
                          "type": "If"
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "expression": "@triggerBody()['text_3']",
                  "metadata": {
                    "operationMetadataId": "7fab9001-e7dd-4f6c-a71a-043361acf669"
                  },
                  "type": "Switch"
                }
              },
              "runAfter": {
                "Set_ReturnString_to_Not_Found": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "expression": {
                "equals": [
                  "@variables('ReturnString')",
                  "pass"
                ]
              },
              "metadata": {
                "operationMetadataId": "d56e2342-f914-4d1c-bbc2-3cf83b9ca754"
              },
              "type": "If"
            },
            "Respond_to_a_PowerApp_or_flow": {
              "runAfter": {
                "If_found_in_inventory_then_continue": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "66827cd0-52a2-44a2-ae6f-e51446853f43"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "thereturnstring": "@variables('ReturnString')"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "thereturnstring": {
                      "title": "theReturnString",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Initialize_SolutionAwareFlow_to_false": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7135f1a2-df87-4403-967b-da4d37a71302"
          },
          "type": "Scope"
        },
        "Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "87961ff0-e261-4890-9ab9-a53f88fe0de5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "@workflow()?['tags']['flowDisplayName']",
                  "item/admin_flowinstanceurl": "@concat(parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Update_Last_Run_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e5a2a18-dba2-47a1-96d5-3356f4348e5a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "500",
                  "message": "Get Environments Failed"
                }
              }
            },
            "Get_ID_Fail": {
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "47329bf2-8aac-400d-9778-a793b4f1180f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Update_Last_Run_Fail": {
              "runAfter": {
                "Get_ID_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c63eb7cc-6101-4567-b520-a4a8881264e9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Fail')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": false
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Perform_Cloud_Flow_Operation": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "38ae684e-622d-42ea-abd2-ee571aee3a5f"
          },
          "type": "Scope"
        },
        "Update_last_run_as_pass": {
          "actions": {
            "Update_Last_Run_Successful": {
              "runAfter": {
                "Get_ID_Pass": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78ef70e5-7f67-4737-9a02-8533f12caa19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Pass')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": true
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_ID_Pass": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f4f314b6-89d3-4056-af1c-73115e7d6bd1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Catch_-_not_ready_to_take_last_run_date": {
              "runAfter": {
                "Update_Last_Run_Successful": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "f88cdefe-c402-49d7-8f4a-934475e6f741"
              },
              "type": "Compose",
              "inputs": "Catch - not ready to take last run date"
            }
          },
          "runAfter": {
            "Error_Handling": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c140442-d939-4ca4-8ec8-d1ee2bed4a81"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}