CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/HELPER-ObjectOperations-6FDA1B2D-3904-EC11-94EF-00224826A4D2.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "1a4f0b2c-2dc2-4c7f-8f34-bccb41785e8f"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "newOwner",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "objectName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "envName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "action",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "objectType",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4"
              ]
            }
          }
        }
      },
      "actions": {
        "see_if_app_or_flow": {
          "actions": {
            "Run_App_Helper_Flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7abaa640-87dd-4c3f-81e6-fa09cb43ddfb"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "41263d72-4dea-eb11-bacb-000d3a5786fb"
                },
                "body": {
                  "text": "@triggerBody()['text']",
                  "text_1": "@triggerBody()['text_1']",
                  "text_2": "@triggerBody()['text_2']",
                  "text_3": "@triggerBody()['text_3']"
                }
              }
            },
            "Set_ReturnString_to_fail_as_Run_App_Helper_Flow_failed": {
              "runAfter": {
                "Run_App_Helper_Flow": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "6f69d0ef-a441-4206-b085-cbed7b84de53"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ReturnString",
                "value": "failed to call helper"
              }
            },
            "check_if_Run_App_Helper_flow_failed": {
              "actions": {
                "Set_ReturnString_to_return_value_from_Run_App_Helper_Flow": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7c64f4b7-e104-468e-b9df-f4f4c0fc4cfe"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ReturnString",
                    "value": "@body('Run_App_Helper_Flow')?['thereturnstring']"
                  }
                }
              },
              "runAfter": {
                "Set_ReturnString_to_fail_as_Run_App_Helper_Flow_failed": [
                  "Skipped"
                ]
              },
              "expression": {
                "not": {
                  "equals": [
                    "@body('Run_App_Helper_Flow')?['thereturnstring']",
                    "pass"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "11ec992f-86be-4815-9df4-fc4c6097ae91"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_ReturnString": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Run_Flow_Helper_Flow": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "be86b1cc-e5dd-4601-b5a5-6c1636b5ea5b"
                },
                "type": "Workflow",
                "inputs": {
                  "host": {
                    "workflowReferenceName": "6093b58a-4fea-eb11-bacb-000d3a578f6c"
                  },
                  "body": {
                    "text": "@triggerBody()['text']",
                    "text_1": "@triggerBody()['text_1']",
                    "text_2": "@triggerBody()['text_2']",
                    "text_3": "@triggerBody()['text_3']"
                  }
                }
              },
              "Set_ReturnString_to_fail_as_Run_Flow_Helper_Flow_failed": {
                "runAfter": {
                  "Run_Flow_Helper_Flow": [
                    "Failed"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "03a03ed2-018f-4c65-8c51-c31c5cc94f81"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "ReturnString",
                  "value": "failed to call helper"
                }
              },
              "check_if_Run_Flow_Helper_flow_failed": {
                "actions": {
                  "Set_ReturnString_to_return_value_from_Run_Flow_Helper_Flow": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "cbc003d2-ce83-4b20-a882-3b8f4c82d556"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "ReturnString",
                      "value": "@body('Run_Flow_Helper_Flow')?['thereturnstring']"
                    }
                  }
                },
                "runAfter": {
                  "Set_ReturnString_to_fail_as_Run_Flow_Helper_Flow_failed": [
                    "Skipped"
                  ]
                },
                "expression": {
                  "not": {
                    "equals": [
                      "@body('Run_Flow_Helper_Flow')?['thereturnstring']",
                      "pass"
                    ]
                  }
                },
                "metadata": {
                  "operationMetadataId": "ea8988cc-0847-4791-9ca7-06d9745fa6b5"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()['text_4']",
              "app"
            ]
          },
          "metadata": {
            "operationMetadataId": "42ce620d-ffb2-4dc6-9273-eb96a9a36f86"
          },
          "type": "If"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "see_if_app_or_flow": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d2179fbf-0042-489a-9bb7-a23743aac56e"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "thereturnstring": "@variables('ReturnString')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "thereturnstring": {
                  "title": "theReturnString",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_ReturnString": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a4d712c9-0c85-44f2-bbc1-7001be729cac"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ReturnString",
                "type": "string",
                "value": "pass"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}