CenterofExcellenceCoreComponents/SolutionPackage/src/Workflows/SetupWizardCreateGroup-2FBE886B-E51F-ED11-B83E-00224822FB7E.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365groups": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreO365Groups"
        },
        "api": {
          "name": "shared_office365groups"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_sharedcommondataserviceforapps_98924"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "de485fd4-3677-40c8-a117-c9fbc9e62f91"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "SendanHTTPrequest_Body": {
                  "type": "string",
                  "format": "binary",
                  "description": "The request body content.. This parameter is used as part of \"EFB76083-588D-46B3-BA9F-4E7EC51560EF\"",
                  "x-ms-powerflows-param-ispartial": true
                },
                "SendanHTTPrequest_Body_1": {
                  "type": "string"
                }
              },
              "required": [
                "SendanHTTPrequest_Body",
                "SendanHTTPrequest_Body_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Send_an_HTTP_request": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6b2a2e69-823d-4845-97a2-f15d8c934a0c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365groups",
              "operationId": "HttpRequest",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups"
            },
            "parameters": {
              "Uri": "https://graph.microsoft.com/v1.0/groups",
              "Method": "POST",
              "Body": "{\n  \"description\": \"@{triggerBody()['SendanHTTPrequest_Body']}\",\n  \"displayName\": \"@{triggerBody()['SendanHTTPrequest_Body']}\",\n  \"groupTypes\": [\n    \"Unified\"\n  ],\n  \"mailEnabled\": true,\n  \"mailNickname\": \"@{triggerBody()['SendanHTTPrequest_Body_1']}\",\n  \"securityEnabled\": true\n}",
              "ContentType": "application/json"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Send_an_HTTP_request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7679cc63-6f67-46ad-a14f-9c0aca297ed8"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Send_an_HTTP_request')",
            "schema": {
              "type": "object",
              "properties": {
                "@@odata.context": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "deletedDateTime": {},
                "classification": {},
                "createdDateTime": {
                  "type": "string"
                },
                "creationOptions": {
                  "type": "array"
                },
                "description": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "expirationDateTime": {},
                "groupTypes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "isAssignableToRole": {},
                "mail": {
                  "type": "string"
                },
                "mailEnabled": {
                  "type": "boolean"
                },
                "mailNickname": {
                  "type": "string"
                },
                "membershipRule": {},
                "membershipRuleProcessingState": {},
                "onPremisesDomainName": {},
                "onPremisesLastSyncDateTime": {},
                "onPremisesNetBiosName": {},
                "onPremisesSamAccountName": {},
                "onPremisesSecurityIdentifier": {},
                "onPremisesSyncEnabled": {},
                "preferredDataLocation": {},
                "preferredLanguage": {},
                "proxyAddresses": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "renewedDateTime": {
                  "type": "string"
                },
                "resourceBehaviorOptions": {
                  "type": "array"
                },
                "resourceProvisioningOptions": {
                  "type": "array"
                },
                "securityEnabled": {
                  "type": "boolean"
                },
                "securityIdentifier": {
                  "type": "string"
                },
                "theme": {},
                "visibility": {
                  "type": "string"
                },
                "onPremisesProvisioningErrors": {
                  "type": "array"
                }
              }
            }
          }
        },
        "Respond_failure": {
          "runAfter": {
            "Send_an_HTTP_request": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "26d41845-2d9c-4cb9-b638-a7987ce4c433"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "groupid": "0",
              "status": "Failed",
              "email": "0"
            },
            "schema": {
              "type": "object",
              "properties": {
                "groupid": {
                  "title": "GroupID",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "status": {
                  "title": "Status",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "email": {
                  "title": "eMail",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Respond_success": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4e215ece-8030-4a47-be08-10f57c672683"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "groupid": "@body('Parse_JSON')?['id']",
              "status": "Success",
              "email": "@body('Parse_JSON')?['mail']"
            },
            "schema": {
              "type": "object",
              "properties": {
                "groupid": {
                  "title": "GroupID",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "status": {
                  "title": "Status",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "email": {
                  "title": "eMail",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "87961ff0-e261-4890-9ab9-a53f88fe0de5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "@workflow()?['tags']['flowDisplayName']",
                  "item/admin_flowinstanceurl": "@concat('https://make.powerautomate.com/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Update_Last_Run_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e5a2a18-dba2-47a1-96d5-3356f4348e5a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "500",
                  "message": "Get Environments Failed"
                }
              }
            },
            "Get_ID_Fail": {
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "47329bf2-8aac-400d-9778-a793b4f1180f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Update_Last_Run_Fail": {
              "runAfter": {
                "Get_ID_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c63eb7cc-6101-4567-b520-a4a8881264e9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Fail')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": false
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Respond_failure": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "38ae684e-622d-42ea-abd2-ee571aee3a5f"
          },
          "type": "Scope"
        },
        "Update_last_run_as_pass": {
          "actions": {
            "Update_Last_Run_Successful": {
              "runAfter": {
                "Get_ID_Pass": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78ef70e5-7f67-4737-9a02-8533f12caa19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Pass')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": true
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_ID_Pass": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f4f314b6-89d3-4056-af1c-73115e7d6bd1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Catch_-_not_ready_to_take_last_run_date": {
              "runAfter": {
                "Update_Last_Run_Successful": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "f88cdefe-c402-49d7-8f4a-934475e6f741"
              },
              "type": "Compose",
              "inputs": "Catch - not ready to take last run date"
            }
          },
          "runAfter": {
            "Respond_success": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c140442-d939-4ca4-8ec8-d1ee2bed4a81"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}