CenterofExcellenceALMAccelerator/SolutionPackage/src/Workflows/GetAzureTenantInformation-C7DEEC43-E448-EE11-BE6D-000D3A354BF5.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedwebcontents_0df3a"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "969a5696-267a-4527-8451-71a854687fc7"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Call_Graph_to_get_the_tenant_information": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "08139976-0796-4c8c-9f82-a60d60e808c0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "GET",
              "request/url": "https://graph.microsoft.com/v1.0/organization"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Call_Graph_to_get_the_tenant_information": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "32dffb0e-440a-4c1a-b7f8-eb37323280ff"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Call_Graph_to_get_the_tenant_information')",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "@@@odata.context": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "required": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "543d34e0-f844-4ee0-ace9-e21f7a7d2c9e"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "tenantid": "@{First(body('Parse_JSON')?['value'])?['id']}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "tenantid": {
                  "title": "TenantId",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}