CenterofExcellenceALMAccelerator/SolutionPackage/src/Workflows/SearchDeploymentEnvironmentUsers-FD15D021-181B-EC11-B6E6-002248279915.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cat_CDSDevOps"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "431d27ae-1200-4c82-8b6c-2c2e3efab660"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Region Subdomain",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Environment Unique Name",
                  "title": "Environment Unique Name",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Search Text",
                  "title": "Search Text",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "Current User Name",
                  "title": "Current User Name",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Check_if_Current_Value_is_Empty": {
          "actions": {
            "Check_if_Current_Value_and_SearchText_is_Empty": {
              "actions": {
                "Get_All_Users": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e17d03eb-ede1-4ba5-9caf-db5dbff950c5"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataservice",
                      "operationId": "GetItems_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                    },
                    "parameters": {
                      "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
                      "table": "systemusers",
                      "$filter": "accessmode ne 3 and accessmode ne 5 and isdisabled eq false",
                      "$orderby": "internalemailaddress",
                      "$top": 150
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_User_Response_to_Get_All_Users": {
                  "runAfter": {
                    "Get_All_Users": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "66f54c05-28eb-434c-a0e2-a83c9ef451ed"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "UserResponse",
                    "value": "@outputs('Get_All_Users')?['body/value']"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Search_Users": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "9047b422-d58f-447a-bb76-1a1bb21565cf"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataservice",
                        "operationId": "GetItems_V2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                      },
                      "parameters": {
                        "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
                        "table": "systemusers",
                        "$filter": "accessmode ne 3 and accessmode ne 5 and isdisabled eq false and (startswith(internalemailaddress, '@{triggerBody()['text_3']}') )",
                        "$orderby": "internalemailaddress",
                        "$top": 150
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_User_Response_to_Search_Users": {
                    "runAfter": {
                      "Search_Users": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d7e587f7-08c3-47f9-a7d6-e914bd28312b"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "UserResponse",
                      "value": "@outputs('Search_Users')?['body/value']"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(triggerBody()['text_3'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "5ec83859-fc8c-4ea4-ad9f-e5057e5b046a"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_User_Response": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Check_if_Current_Value_is_Not_Empty_and_SearchText_is_Empty": {
                "actions": {
                  "Current_Value_is_Not_Empty_and_SearchText_is_Empty": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "e17d03eb-ede1-4ba5-9caf-db5dbff950c5"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataservice",
                        "operationId": "GetItems_V2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                      },
                      "parameters": {
                        "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
                        "table": "systemusers",
                        "$filter": "accessmode ne 3 and accessmode ne 5 and isdisabled eq false and @{triggerBody()?['text_4']}",
                        "$orderby": "internalemailaddress",
                        "$top": 150
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Get_All_Users_2": {
                    "runAfter": {
                      "Current_Value_is_Not_Empty_and_SearchText_is_Empty": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e17d03eb-ede1-4ba5-9caf-db5dbff950c5"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataservice",
                        "operationId": "GetItems_V2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                      },
                      "parameters": {
                        "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
                        "table": "systemusers",
                        "$filter": "accessmode ne 3 and accessmode ne 5 and isdisabled eq false",
                        "$orderby": "internalemailaddress",
                        "$top": 150
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_User_Response_Current_Value_is_Not_Empty_and_SearchText_is_Empty": {
                    "runAfter": {
                      "Get_All_Users_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "66f54c05-28eb-434c-a0e2-a83c9ef451ed"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "UserResponse",
                      "value": "@union(outputs('Current_Value_is_Not_Empty_and_SearchText_is_Empty')?['body/value'],outputs('Get_All_Users_2')?['body/value'])"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Search_for_Current_User(s)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9047b422-d58f-447a-bb76-1a1bb21565cf"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataservice",
                          "operationId": "GetItems_V2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                        },
                        "parameters": {
                          "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
                          "table": "systemusers",
                          "$filter": "accessmode ne 3 and accessmode ne 5 and isdisabled eq false and @{triggerBody()?['text_4']}",
                          "$orderby": "internalemailaddress",
                          "$top": 150
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Search_for_Users_based_on_SearchText": {
                      "runAfter": {
                        "Search_for_Current_User(s)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9047b422-d58f-447a-bb76-1a1bb21565cf"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataservice",
                          "operationId": "GetItems_V2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                        },
                        "parameters": {
                          "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
                          "table": "systemusers",
                          "$filter": "accessmode ne 3 and accessmode ne 5 and isdisabled eq false and (startswith(internalemailaddress, '@{triggerBody()['text_3']}') )",
                          "$orderby": "internalemailaddress",
                          "$top": 150
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_User_Response_to_Search_Users_for_SearchText_and_CurrentUser": {
                      "runAfter": {
                        "Search_for_Users_based_on_SearchText": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d7e587f7-08c3-47f9-a7d6-e914bd28312b"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "UserResponse",
                        "value": "@union(outputs('Search_for_Current_User(s)')?['body/value'], outputs('Search_for_Users_based_on_SearchText')?['body/value'])"
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@length(triggerBody()['text_3'])",
                    0
                  ]
                },
                "metadata": {
                  "operationMetadataId": "5ec83859-fc8c-4ea4-ad9f-e5057e5b046a"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@length(triggerBody()?['text_4'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "5021dee1-f337-4d02-9d3b-a38020e765ed"
          },
          "type": "If"
        },
        "Initialize_User_Response": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ae2b09c0-14bf-4640-8d84-87e9931a5192"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UserResponse",
                "type": "array"
              }
            ]
          }
        },
        "Response": {
          "runAfter": {
            "Check_if_Current_Value_is_Empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "90518026-da76-4632-9dd7-8102888050d1"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@variables('UserResponse')",
            "schema": {
              "items": {
                "properties": {
                  "@@odata.etag": {
                    "type": "string"
                  },
                  "@@odata.id": {
                    "type": "string"
                  },
                  "ItemInternalId": {
                    "type": "string"
                  },
                  "_accessmode_label": {
                    "type": "string"
                  },
                  "_address1_addresstypecode_label": {
                    "type": "string"
                  },
                  "_address2_addresstypecode_label": {
                    "type": "string"
                  },
                  "_businessunitid_type": {
                    "type": "string"
                  },
                  "_businessunitid_value": {
                    "type": "string"
                  },
                  "_calendarid_type": {
                    "type": "string"
                  },
                  "_calendarid_value": {
                    "type": "string"
                  },
                  "_caltype_label": {
                    "type": "string"
                  },
                  "_createdby_type": {
                    "type": "string"
                  },
                  "_createdby_value": {
                    "type": "string"
                  },
                  "_defaultmailbox_type": {
                    "type": "string"
                  },
                  "_defaultmailbox_value": {
                    "type": "string"
                  },
                  "_emailrouteraccessapproval_label": {
                    "type": "string"
                  },
                  "_incomingemaildeliverymethod_label": {
                    "type": "string"
                  },
                  "_invitestatuscode_label": {
                    "type": "string"
                  },
                  "_modifiedby_type": {
                    "type": "string"
                  },
                  "_modifiedby_value": {
                    "type": "string"
                  },
                  "_modifiedonbehalfby_type": {
                    "type": "string"
                  },
                  "_modifiedonbehalfby_value": {
                    "type": "string"
                  },
                  "_outgoingemaildeliverymethod_label": {
                    "type": "string"
                  },
                  "_preferredaddresscode_label": {
                    "type": "string"
                  },
                  "_preferredemailcode_label": {
                    "type": "string"
                  },
                  "_preferredphonecode_label": {
                    "type": "string"
                  },
                  "_queueid_type": {
                    "type": "string"
                  },
                  "_queueid_value": {
                    "type": "string"
                  },
                  "_transactioncurrencyid_type": {
                    "type": "string"
                  },
                  "_transactioncurrencyid_value": {
                    "type": "string"
                  },
                  "accessmode": {
                    "type": "integer"
                  },
                  "address1_addresstypecode": {
                    "type": "integer"
                  },
                  "address1_city": {
                    "type": "string"
                  },
                  "address1_composite": {
                    "type": "string"
                  },
                  "address1_country": {
                    "type": "string"
                  },
                  "address1_line1": {
                    "type": "string"
                  },
                  "address1_postalcode": {
                    "type": "string"
                  },
                  "address1_stateorprovince": {
                    "type": "string"
                  },
                  "address1_telephone1": {
                    "type": "string"
                  },
                  "address2_addresstypecode": {
                    "type": "integer"
                  },
                  "applicationid": {
                    "type": "string"
                  },
                  "applicationiduri": {
                    "type": "string"
                  },
                  "azureactivedirectoryobjectid": {
                    "type": "string"
                  },
                  "caltype": {
                    "type": "integer"
                  },
                  "createdon": {
                    "type": "string"
                  },
                  "defaultfilterspopulated": {
                    "type": "boolean"
                  },
                  "defaultodbfoldername": {
                    "type": "string"
                  },
                  "displayinserviceviews": {
                    "type": "boolean"
                  },
                  "domainname": {
                    "type": "string"
                  },
                  "emailrouteraccessapproval": {
                    "type": "integer"
                  },
                  "exchangerate": {
                    "type": "integer"
                  },
                  "firstname": {
                    "type": "string"
                  },
                  "fullname": {
                    "type": "string"
                  },
                  "identityid": {
                    "type": "integer"
                  },
                  "incomingemaildeliverymethod": {
                    "type": "integer"
                  },
                  "internalemailaddress": {
                    "type": "string"
                  },
                  "invitestatuscode": {
                    "type": "integer"
                  },
                  "isdisabled": {
                    "type": "boolean"
                  },
                  "isemailaddressapprovedbyo365admin": {
                    "type": "boolean"
                  },
                  "isintegrationuser": {
                    "type": "boolean"
                  },
                  "islicensed": {
                    "type": "boolean"
                  },
                  "issyncwithdirectory": {
                    "type": "boolean"
                  },
                  "lastname": {
                    "type": "string"
                  },
                  "mobilephone": {
                    "type": "string"
                  },
                  "modifiedon": {
                    "type": "string"
                  },
                  "organizationid": {
                    "type": "string"
                  },
                  "outgoingemaildeliverymethod": {
                    "type": "integer"
                  },
                  "preferredaddresscode": {
                    "type": "integer"
                  },
                  "preferredemailcode": {
                    "type": "integer"
                  },
                  "preferredphonecode": {
                    "type": "integer"
                  },
                  "setupuser": {
                    "type": "boolean"
                  },
                  "systemuserid": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "userlicensetype": {
                    "type": "integer"
                  },
                  "userpuid": {
                    "type": "string"
                  },
                  "versionnumber": {
                    "type": "integer"
                  },
                  "windowsliveid": {
                    "type": "string"
                  },
                  "yomifullname": {
                    "type": "string"
                  }
                },
                "required": [
                  "@@odata.id",
                  "@@odata.etag",
                  "ItemInternalId",
                  "systemuserid",
                  "accessmode",
                  "_accessmode_label",
                  "firstname",
                  "issyncwithdirectory",
                  "incomingemaildeliverymethod",
                  "_incomingemaildeliverymethod_label",
                  "internalemailaddress",
                  "identityid",
                  "domainname",
                  "_queueid_value",
                  "_queueid_type",
                  "isintegrationuser",
                  "createdon",
                  "_calendarid_value",
                  "_calendarid_type",
                  "windowsliveid",
                  "_address1_addresstypecode_label",
                  "_businessunitid_value",
                  "_businessunitid_type",
                  "caltype",
                  "_caltype_label",
                  "modifiedon",
                  "defaultfilterspopulated",
                  "outgoingemaildeliverymethod",
                  "_outgoingemaildeliverymethod_label",
                  "emailrouteraccessapproval",
                  "_emailrouteraccessapproval_label",
                  "versionnumber",
                  "_address2_addresstypecode_label",
                  "_preferredphonecode_label",
                  "fullname",
                  "setupuser",
                  "_preferredemailcode_label",
                  "userlicensetype",
                  "organizationid",
                  "defaultodbfoldername",
                  "isemailaddressapprovedbyo365admin",
                  "invitestatuscode",
                  "_invitestatuscode_label",
                  "yomifullname",
                  "isdisabled",
                  "_defaultmailbox_value",
                  "_defaultmailbox_type",
                  "_preferredaddresscode_label",
                  "lastname",
                  "islicensed"
                ],
                "type": "object"
              },
              "type": "array"
            }
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}