CenterofExcellenceNurtureComponents/SolutionPackage/src/Workflows/Pulse-SurveyMakersforCoEfeedback-BB3BF13E-A08D-EC11-B400-000D3A5D3A92.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoENurtureDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365users": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoENurtureO365Users"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoENurtureMicrosoftTeams"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Pulse - How many makers to survey? (admin_PulseHowmanymakerstosurvey)": {
          "defaultValue": 1,
          "type": "Int",
          "metadata": {
            "schemaName": "admin_PulseHowmanymakerstosurvey",
            "description": "The Pulse survey is send to makers to provide feedback on their experience working with the CoE and Power Platform. Provide the number of makers you want to survey regularly here. If you set this number to 5, the survey will be sent to 5 random makers per week. A Default value of 1 is provided."
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2022-02-14T10:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "0c66d748-7917-44e0-991a-b0004f23aa41"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Get_Makers": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3023a2c6-4e52-48fe-b7b2-59260af3df27"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "admin_makers",
              "$select": "admin_makerid,admin_userprincipalname",
              "$filter": "admin_userisserviceprinciple eq false and admin_makerisorphaned eq false and (Microsoft.Dynamics.CRM.OlderThanXDays(PropertyName='admin_lastpulsesurvey',PropertyValue=90) or admin_lastpulsesurvey eq null)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_makers_to_survey_count": {
          "runAfter": {
            "Get_Makers": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6965b51f-6a44-4464-a1fa-d5e60706607b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "surveyXMakers",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Proceed_if_makers_have_been_found": {
          "actions": {
            "Do_until_x_amount_of_makers_have_been_surveyed": {
              "actions": {
                "Get_random_maker_": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "8924eeec-cea9-4d44-8b4a-5153c833df26"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Get_Makers')?['body/value'][rand(1, length(outputs('Get_Makers')?['body/value']))]"
                },
                "Increment_variable": {
                  "runAfter": {
                    "Run_a_Child_Flow": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "69db82b0-6405-4b7b-87f6-0956c91e09af"
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "surveyXMakers",
                    "value": 1
                  }
                },
                "Run_a_Child_Flow": {
                  "runAfter": {
                    "Get_random_maker_": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3eec781b-37b2-49d1-af59-b12451adb367"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "c31d2018-ab8d-ec11-b400-000d3a5d3a92"
                    },
                    "body": {
                      "email": "@outputs('Get_random_maker_')?['admin_userprincipalname']",
                      "text": "@outputs('Get_random_maker_')?['admin_makerid']"
                    }
                  }
                }
              },
              "runAfter": {},
              "expression": "@equals(variables('surveyXMakers'), parameters('Pulse - How many makers to survey? (admin_PulseHowmanymakerstosurvey)'))",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "metadata": {
                "operationMetadataId": "988d1f70-94c3-4fd8-95ab-149eed0a853c"
              },
              "type": "Until"
            }
          },
          "runAfter": {
            "Initialize_makers_to_survey_count": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "4fda032c-dfa3-4855-8081-2deddd7d031a"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              },
              "Get_my_profile_(V2)": {
                "runAfter": {
                  "Terminate": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "b436902e-e446-44c1-a587-84cefa6d4a76"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365users",
                    "operationId": "MyProfile_V2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                  },
                  "parameters": {},
                  "authentication": "@parameters('$authentication')"
                }
              },
              "List_teams": {
                "runAfter": {
                  "Get_my_profile_(V2)": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "28ddbb64-83cc-4e82-a158-f397306f3876"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_teams",
                    "operationId": "GetAllTeams",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                  },
                  "parameters": {},
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "greater": [
              "@length(outputs('Get_Makers')?['body/value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "8fc22c8d-7a94-4955-969b-61254537b668"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}