ALMAcceleratorForAdvancedMakers/SolutionPackage/Workflows/GetSolutionConnectionReferences-52750250-5900-EC11-94EF-000D3A199785.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice": {
        "api": {
          "name": "shared_commondataservice"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CDSDevOps"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Check_if_any_results_came_back_in_Connection_References": {
          "actions": {
            "No_Connection_References_Found_Return_Empty_Array": {
              "inputs": {
                "body": [],
                "schema": {
                  "items": {
                    "properties": {
                      "@@odata.etag": {
                        "type": "string"
                      },
                      "@@odata.id": {
                        "type": "string"
                      },
                      "ItemInternalId": {
                        "type": "string"
                      },
                      "_componentstate_label": {
                        "type": "string"
                      },
                      "_createdby_type": {
                        "type": "string"
                      },
                      "_createdby_value": {
                        "type": "string"
                      },
                      "_modifiedby_type": {
                        "type": "string"
                      },
                      "_modifiedby_value": {
                        "type": "string"
                      },
                      "_ownerid_type": {
                        "type": "string"
                      },
                      "_ownerid_value": {
                        "type": "string"
                      },
                      "_owningbusinessunit_type": {
                        "type": "string"
                      },
                      "_owningbusinessunit_value": {
                        "type": "string"
                      },
                      "_statecode_label": {
                        "type": "string"
                      },
                      "_statuscode_label": {
                        "type": "string"
                      },
                      "componentidunique": {
                        "type": "string"
                      },
                      "componentstate": {
                        "type": "integer"
                      },
                      "connectionid": {
                        "type": "string"
                      },
                      "connectionreferencedisplayname": {
                        "type": "string"
                      },
                      "connectionreferenceid": {
                        "type": "string"
                      },
                      "connectionreferencelogicalname": {
                        "type": "string"
                      },
                      "connectorid": {
                        "type": "string"
                      },
                      "createdon": {
                        "type": "string"
                      },
                      "iscustomizable": {
                        "type": "boolean"
                      },
                      "ismanaged": {
                        "type": "boolean"
                      },
                      "modifiedon": {
                        "type": "string"
                      },
                      "overwritetime": {
                        "type": "string"
                      },
                      "solutionid": {
                        "type": "string"
                      },
                      "statecode": {
                        "type": "integer"
                      },
                      "statuscode": {
                        "type": "integer"
                      },
                      "versionnumber": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "@@odata.id",
                      "@@odata.etag",
                      "ItemInternalId",
                      "overwritetime",
                      "connectionreferencelogicalname",
                      "ismanaged",
                      "connectionreferencedisplayname",
                      "solutionid",
                      "componentidunique",
                      "connectionreferenceid",
                      "statecode",
                      "_statecode_label",
                      "connectionid",
                      "statuscode",
                      "_statuscode_label",
                      "_createdby_value",
                      "_createdby_type",
                      "_ownerid_value",
                      "_ownerid_type",
                      "componentstate",
                      "_componentstate_label",
                      "modifiedon",
                      "connectorid",
                      "_modifiedby_value",
                      "_modifiedby_type",
                      "versionnumber",
                      "createdon",
                      "_owningbusinessunit_value",
                      "_owningbusinessunit_type",
                      "iscustomizable"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "statusCode": 200
              },
              "kind": "Http",
              "runAfter": {},
              "type": "Response"
            }
          },
          "else": {
            "actions": {
              "Append_to_ConnectionReferenceIds": {
                "inputs": {
                  "name": "ConnectionReferenceIds",
                  "value": "@concat(concat('(objectid eq ''', replace(replace(replace(join(body('Select_Connection_Reference_IDs'), ','), '{\"connectionreferenceid\":\"', ''), '\"}', ''), ',', ''' or objectid eq ''')), ''')')"
                },
                "runAfter": {},
                "type": "AppendToStringVariable"
              },
              "Check_if_any_results_came_back_in_Solution_Components": {
                "actions": {
                  "No_Solution_Components_Found_Return_Empty_Array": {
                    "inputs": {
                      "body": [],
                      "schema": {
                        "items": {
                          "properties": {
                            "@@odata.etag": {
                              "type": "string"
                            },
                            "@@odata.id": {
                              "type": "string"
                            },
                            "ItemInternalId": {
                              "type": "string"
                            },
                            "_componentstate_label": {
                              "type": "string"
                            },
                            "_createdby_type": {
                              "type": "string"
                            },
                            "_createdby_value": {
                              "type": "string"
                            },
                            "_modifiedby_type": {
                              "type": "string"
                            },
                            "_modifiedby_value": {
                              "type": "string"
                            },
                            "_ownerid_type": {
                              "type": "string"
                            },
                            "_ownerid_value": {
                              "type": "string"
                            },
                            "_owningbusinessunit_type": {
                              "type": "string"
                            },
                            "_owningbusinessunit_value": {
                              "type": "string"
                            },
                            "_statecode_label": {
                              "type": "string"
                            },
                            "_statuscode_label": {
                              "type": "string"
                            },
                            "componentidunique": {
                              "type": "string"
                            },
                            "componentstate": {
                              "type": "integer"
                            },
                            "connectionid": {
                              "type": "string"
                            },
                            "connectionreferencedisplayname": {
                              "type": "string"
                            },
                            "connectionreferenceid": {
                              "type": "string"
                            },
                            "connectionreferencelogicalname": {
                              "type": "string"
                            },
                            "connectorid": {
                              "type": "string"
                            },
                            "createdon": {
                              "type": "string"
                            },
                            "iscustomizable": {
                              "type": "boolean"
                            },
                            "ismanaged": {
                              "type": "boolean"
                            },
                            "modifiedon": {
                              "type": "string"
                            },
                            "overwritetime": {
                              "type": "string"
                            },
                            "solutionid": {
                              "type": "string"
                            },
                            "statecode": {
                              "type": "integer"
                            },
                            "statuscode": {
                              "type": "integer"
                            },
                            "versionnumber": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "@@odata.id",
                            "@@odata.etag",
                            "ItemInternalId",
                            "overwritetime",
                            "connectionreferencelogicalname",
                            "ismanaged",
                            "connectionreferencedisplayname",
                            "solutionid",
                            "componentidunique",
                            "connectionreferenceid",
                            "statecode",
                            "_statecode_label",
                            "connectionid",
                            "statuscode",
                            "_statuscode_label",
                            "_createdby_value",
                            "_createdby_type",
                            "_ownerid_value",
                            "_ownerid_type",
                            "componentstate",
                            "_componentstate_label",
                            "modifiedon",
                            "connectorid",
                            "_modifiedby_value",
                            "_modifiedby_type",
                            "versionnumber",
                            "createdon",
                            "_owningbusinessunit_value",
                            "_owningbusinessunit_type",
                            "iscustomizable"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "statusCode": 200
                    },
                    "kind": "Http",
                    "runAfter": {},
                    "type": "Response"
                  }
                },
                "else": {
                  "actions": {
                    "Append_to_ObjectIds": {
                      "inputs": {
                        "name": "ObjectIds",
                        "value": "@concat(concat('(connectionreferenceid eq ''', replace(replace(replace(join(body('Select_Object_IDs'), ','), '{\"objectid\":\"', ''), '\"}', ''), ',', ''' or connectionreferenceid eq ''')), ''')')"
                      },
                      "runAfter": {
                        "Select_Object_IDs": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToStringVariable"
                    },
                    "Response": {
                      "inputs": {
                        "body": "@outputs('Retrieve_the_Solution_Connection_References')?['body/value']",
                        "schema": {
                          "items": {
                            "properties": {
                              "@@odata.etag": {
                                "type": "string"
                              },
                              "@@odata.id": {
                                "type": "string"
                              },
                              "ItemInternalId": {
                                "type": "string"
                              },
                              "_componentstate_label": {
                                "type": "string"
                              },
                              "_createdby_type": {
                                "type": "string"
                              },
                              "_createdby_value": {
                                "type": "string"
                              },
                              "_modifiedby_type": {
                                "type": "string"
                              },
                              "_modifiedby_value": {
                                "type": "string"
                              },
                              "_ownerid_type": {
                                "type": "string"
                              },
                              "_ownerid_value": {
                                "type": "string"
                              },
                              "_owningbusinessunit_type": {
                                "type": "string"
                              },
                              "_owningbusinessunit_value": {
                                "type": "string"
                              },
                              "_statecode_label": {
                                "type": "string"
                              },
                              "_statuscode_label": {
                                "type": "string"
                              },
                              "componentidunique": {
                                "type": "string"
                              },
                              "componentstate": {
                                "type": "integer"
                              },
                              "connectionid": {
                                "type": "string"
                              },
                              "connectionreferencedisplayname": {
                                "type": "string"
                              },
                              "connectionreferenceid": {
                                "type": "string"
                              },
                              "connectionreferencelogicalname": {
                                "type": "string"
                              },
                              "connectorid": {
                                "type": "string"
                              },
                              "createdon": {
                                "type": "string"
                              },
                              "iscustomizable": {
                                "type": "boolean"
                              },
                              "ismanaged": {
                                "type": "boolean"
                              },
                              "modifiedon": {
                                "type": "string"
                              },
                              "overwritetime": {
                                "type": "string"
                              },
                              "solutionid": {
                                "type": "string"
                              },
                              "statecode": {
                                "type": "integer"
                              },
                              "statuscode": {
                                "type": "integer"
                              },
                              "versionnumber": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "@@odata.id",
                              "@@odata.etag",
                              "ItemInternalId",
                              "overwritetime",
                              "connectionreferencelogicalname",
                              "ismanaged",
                              "connectionreferencedisplayname",
                              "solutionid",
                              "componentidunique",
                              "connectionreferenceid",
                              "statecode",
                              "_statecode_label",
                              "connectionid",
                              "statuscode",
                              "_statuscode_label",
                              "_createdby_value",
                              "_createdby_type",
                              "_ownerid_value",
                              "_ownerid_type",
                              "componentstate",
                              "_componentstate_label",
                              "modifiedon",
                              "connectorid",
                              "_modifiedby_value",
                              "_modifiedby_type",
                              "versionnumber",
                              "createdon",
                              "_owningbusinessunit_value",
                              "_owningbusinessunit_type",
                              "iscustomizable"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "statusCode": 200
                      },
                      "kind": "Http",
                      "runAfter": {
                        "Retrieve_the_Solution_Connection_References": [
                          "Succeeded"
                        ]
                      },
                      "type": "Response"
                    },
                    "Retrieve_the_Solution_Connection_References": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                          "connectionName": "shared_commondataservice",
                          "operationId": "GetItems_V2"
                        },
                        "parameters": {
                          "$filter": "@variables('ObjectIds')",
                          "$orderby": "connectionreferencedisplayname asc",
                          "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
                          "table": "connectionreferences"
                        }
                      },
                      "runAfter": {
                        "Append_to_ObjectIds": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection"
                    },
                    "Select_Object_IDs": {
                      "inputs": {
                        "from": "@outputs('Get_Solution_Components')?['body/value']",
                        "select": {
                          "objectid": "@item()['objectid']"
                        }
                      },
                      "runAfter": {},
                      "type": "Select"
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@length(body('Get_Solution_Components')?['value'])",
                    0
                  ]
                },
                "runAfter": {
                  "Get_Solution_Components": [
                    "Succeeded"
                  ]
                },
                "type": "If"
              },
              "Get_Solution_Components": {
                "inputs": {
                  "authentication": "@parameters('$authentication')",
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                    "connectionName": "shared_commondataservice",
                    "operationId": "GetItems_V2"
                  },
                  "parameters": {
                    "$filter": "_solutionid_value eq '@{triggerBody()['text_2']}' and @{variables('ConnectionReferenceIds')}",
                    "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
                    "table": "solutioncomponents"
                  }
                },
                "runAfter": {
                  "Append_to_ConnectionReferenceIds": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection"
              }
            }
          },
          "expression": {
            "equals": [
              "@length(body('Retrieve_All_Connection_References')?['value'])",
              0
            ]
          },
          "runAfter": {
            "Initialize_ObjectIds": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Initialize_Connection_Reference_IDs": {
          "inputs": {
            "variables": [
              {
                "name": "ConnectionReferenceIds",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Select_Connection_Reference_IDs": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_ObjectIds": {
          "inputs": {
            "variables": [
              {
                "name": "ObjectIds",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_Connection_Reference_IDs": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Retrieve_All_Connection_References": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
              "connectionName": "shared_commondataservice",
              "operationId": "GetItems_V2"
            },
            "parameters": {
              "dataset": "@{triggerBody()['text_1']}.@{triggerBody()['text']}",
              "table": "connectionreferences"
            }
          },
          "runAfter": {},
          "type": "OpenApiConnection"
        },
        "Select_Connection_Reference_IDs": {
          "inputs": {
            "from": "@outputs('Retrieve_All_Connection_References')?['body/value']",
            "select": {
              "connectionreferenceid": "@item()['connectionreferenceid']"
            }
          },
          "runAfter": {
            "Retrieve_All_Connection_References": [
              "Succeeded"
            ]
          },
          "type": "Select"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "text": {
                  "description": "Region Subdomain",
                  "title": "Region Subdomain",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Environment Unique Name",
                  "title": "Environment Unique Name",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "ID of the Solution",
                  "title": "Solution ID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ],
              "type": "object"
            }
          },
          "kind": "PowerAppV2",
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
