CenterofExcellencePipelineAccelerator/SolutionPackage/src/Workflows/PipelinePreDeployment-AD970FDC-D0F5-ED11-8848-000D3A32AF20.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedcommondataserviceforapps_3bba0"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerappsforappmakers": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedpowerappsforappmakers_c4094"
        },
        "api": {
          "name": "shared_powerappsforappmakers"
        }
      },
      "shared_visualstudioteamservices": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedvisualstudioteamservices_0080c"
        },
        "api": {
          "name": "shared_visualstudioteamservices"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_action_is_performed": {
          "metadata": {
            "operationMetadataId": "bfc45c7e-30ee-43fb-85e4-a924485e5a87"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "BusinessEventsTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "catalog": "commoncatalog",
              "category": "powerplatformpipelines",
              "subscriptionRequest/entityname": "none",
              "subscriptionRequest/sdkmessagename": "OnPreDeploymentStarted"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Retrieve_the_Deployment_Stage_Run": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "71b14d8c-e25a-495c-b3ca-6044a57b480f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "deploymentstageruns",
                  "recordId": "@triggerOutputs()?['body/InputParameters/StageRunId']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Retrieve_the_Deployment_Stage": {
              "runAfter": {
                "Retrieve_the_Deployment_Stage_Run": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a2dcfaee-2de2-4724-b8ef-0f6cb84085c4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "deploymentstages",
                  "recordId": "@outputs('Retrieve_the_Deployment_Stage_Run')?['body/_deploymentstageid_value']",
                  "$select": "name,deploymentstageid,_deploymentpipelineid_value,_previousdeploymentstageid_value"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_the_User's_Email_Who_Requested_the_Deployment": {
              "runAfter": {
                "Retrieve_the_Deployment_Stage": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "76325021-0217-4169-a2cf-bd8c359d649b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Retrieve_the_Deployment_Stage_Run')?['body/_createdby_value']",
                  "$select": "internalemailaddress"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Development_Environment": {
              "runAfter": {
                "Get_the_User's_Email_Who_Requested_the_Deployment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5dc4cee3-77e3-4c7e-bd67-f570d6848312"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "deploymentenvironments",
                  "recordId": "@outputs('Retrieve_the_Deployment_Stage_Run')?['body/_devdeploymentenvironment_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Check_if_Deployment_Solution_Profile_Exists": {
              "actions": {
                "Set_Deployment_Profile_ID_from_Current_Profile_Solution_Profiles": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f1a3bf68-95da-408b-965a-d9876bd4d1cc"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Deployment Profile ID",
                    "value": "@{first(body('Retrieve_Current_Profile_for_Solution_from_Solution_Profiles')?['value'])?['_cat_deploymentprofileid_value']}"
                  }
                }
              },
              "runAfter": {
                "Retrieve_Current_Profile_for_Solution_from_Solution_Profiles": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Retrieve_Current_Profile_for_Solution_from_Requests": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "2dac0441-2141-445a-b0f5-84d7708ec09f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cat_deploymentrequests",
                        "$select": "cat_DeploymentProfileId",
                        "fetchXml": "<fetch top=\"1\">\n  <entity name=\"cat_deploymentrequest\">\n    <attribute name=\"cat_deploymentstepid\" />\n    <attribute name=\"cat_deploymentprofileid\" />\n    <attribute name=\"cat_requesttype\" />\n    <attribute name=\"cat_solutionname\" />\n    <filter type=\"and\">\n      <condition attribute=\"cat_requesttype\" operator=\"eq\" value=\"809060004\" />\n      <filter type=\"or\">\n          <condition attribute=\"cat_solutionname\" operator=\"eq\" value=\"@{triggerOutputs()?['body/OutputParameters/ArtifactName']}\" />\n          <condition attribute=\"cat_solutionname\" operator=\"eq\" value=\"@{triggerOutputs()?['body/OutputParameters/ArtifactName']}-@{outputs('Get_Development_Environment')?['body/environmentid']}\" />\n      </filter>\n    </filter>\n    <order attribute=\"createdon\" descending=\"true\" />\n  </entity>\n</fetch>",
                        "$top": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Check_if_Deployment_Request_Profile_Exists": {
                    "actions": {
                      "Set_Deployment_Profile_ID_from_Current_Profile_Request": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "d706d314-51e3-49bb-9b5a-7dafb967333f"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Deployment Profile ID",
                          "value": "@{first(body('Retrieve_Current_Profile_for_Solution_from_Requests')?['value'])?['_cat_deploymentprofileid_value']}"
                        }
                      }
                    },
                    "runAfter": {
                      "Retrieve_Current_Profile_for_Solution_from_Requests": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Retrieve_Default_Profile_for_Solution": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "2dac0441-2141-445a-b0f5-84d7708ec09f"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cat_deploymentprofiles",
                              "$select": "cat_deploymentprofileid",
                              "fetchXml": "<fetch top=\"1\">\n  <entity name=\"cat_deploymentprofile\">\n    <attribute name=\"cat_deploymentprofileid\" />\n    <filter>\n      <condition attribute=\"cat_defaultdeploymentprofile\" operator=\"eq\" value=\"1\" />\n    </filter>\n  </entity>\n</fetch>",
                              "$top": 1
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Set_Deployment_Profile_ID_from_Default_Profile": {
                          "runAfter": {
                            "Retrieve_Default_Profile_for_Solution": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "54457761-5bb9-4aff-998d-16a4e2cc0293"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Deployment Profile ID",
                            "value": "@{first(body('Retrieve_Default_Profile_for_Solution')?['value'])?['cat_deploymentprofileid']}"
                          }
                        }
                      }
                    },
                    "expression": {
                      "greater": [
                        "@length(outputs('Retrieve_Current_Profile_for_Solution_from_Requests')?['body/value'])",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "924b30fb-2323-4bab-adc5-511d271199b6"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(outputs('Retrieve_Current_Profile_for_Solution_from_Solution_Profiles')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "55dd094f-41d4-4432-a492-198789551160"
              },
              "type": "If"
            },
            "Retrieve_the_Profile": {
              "runAfter": {
                "Check_if_Deployment_Solution_Profile_Exists": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5c37cdd6-0c2e-45c9-90aa-0b366e9dbbb1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_deploymentprofiles",
                  "recordId": "@variables('Deployment Profile ID')",
                  "$select": "cat_deploymentprofileid, cat_azdoorganization, cat_azdoproject, cat_repository, cat_repositoryid"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Retrieve_All_Deployment_Steps": {
              "runAfter": {
                "Retrieve_the_Profile": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e8679da0-374e-4267-a262-7dc0a5e9f367"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_deploymentsteps",
                  "$select": "cat_name, cat_DeploymentEnvironmentId, cat_approvaltype, cat_buildtemplatepath, cat_steptype",
                  "fetchXml": "<fetch>\n  <entity name=\"cat_deploymentstep\">\n    <attribute name=\"cat_name\" />        \n    <attribute name=\"cat_deploymentenvironmentid\" />    \n    <attribute name=\"cat_approvaltype\" />    \n    <attribute name=\"cat_buildtemplatepath\" />    \n    <attribute name=\"cat_steptype\" />    \n\n     <filter>\n      <condition attribute=\"cat_deploymentprofileid\" operator=\"eq\" value=\"@{outputs('Retrieve_the_Profile')?['body/cat_deploymentprofileid']}\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Environments": {
              "runAfter": {
                "Retrieve_All_Deployment_Steps": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8d1ef54a-0f00-415f-a6ed-06d0890e987d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerappsforappmakers",
                  "operationId": "Get-Environments",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"
                },
                "parameters": {
                  "api-version": "2022-11-01",
                  "$top": 250
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('Retrieve_All_Deployment_Steps')?['body/value']",
              "actions": {
                "Append_to_array_variable": {
                  "runAfter": {
                    "Create_Deployment_Environment_Settings_Object": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "94fd9c80-4237-4c6d-9442-ac89c63fe963"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "Deployment Settings Data",
                    "value": "@body('Create_Deployment_Environment_Settings_Object')"
                  }
                },
                "Get_the_Environment_for_this_Step": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "729dd130-1603-4c6a-8370-6aa56550bef5"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_deploymentenvironments",
                      "recordId": "@items('Apply_to_each')?['_cat_deploymentenvironmentid_value']",
                      "$select": "cat_url, cat_serviceconnectionname"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Check_if_the_Current_Stage_is_this_Step": {
                  "actions": {
                    "Update_the_Deployment_Setttings_JSON": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "6a51c478-52e9-4295-9157-4e97299050ce"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "DeploymentSettings",
                        "value": "@outputs('Retrieve_the_Deployment_Stage_Run')?['body/deploymentsettingsjson']"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_the_Environment_for_this_Step": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Update_the_Deployment_Settings_JSON_to_Empty": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3f008ed2-1396-476d-951c-62e547c29cb8"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "DeploymentSettings",
                          "value": "{}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Retrieve_the_Deployment_Stage')?['body/name']",
                          "@item()?['cat_name']"
                        ]
                      },
                      {
                        "not": {
                          "equals": [
                            "@empty(outputs('Retrieve_the_Deployment_Stage_Run')?['body/deploymentsettingsjson'])",
                            true
                          ]
                        }
                      },
                      {
                        "greater": [
                          "@length(outputs('Retrieve_the_Deployment_Stage_Run')?['body/deploymentsettingsjson'])",
                          0
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "43c402d9-f18c-4587-a991-12a00e4c5b73"
                  },
                  "type": "If"
                },
                "Initialize_Deployment_Settings_Data_Current_Stage": {
                  "runAfter": {
                    "Check_if_the_Current_Stage_is_this_Step": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "64409ffb-a9d6-4d82-b881-b977c8afb4b4"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": {
                      "EnvironmentVariables": [
                        {
                          "SchemaName": "cat_TextEnvironmentVariable",
                          "Value": "Test Cat Facts"
                        },
                        {
                          "SchemaName": "cat_ConnectorHostUrl",
                          "Value": "catfact.ninja"
                        },
                        {
                          "SchemaName": "cat_DecimalEnvironmentVariable",
                          "Value": "2"
                        },
                        {
                          "SchemaName": "cat_JsonEnvironmentVariable",
                          "Value": ""
                        },
                        {
                          "SchemaName": "cat_shared_sharepointonline_97456712308a4e65aae18bafcd84c81f",
                          "Value": "https://powercattools.sharepoint.com/sites/ALMAcceleratorProduction"
                        },
                        {
                          "SchemaName": "cat_shared_sharepointonline_21f63b2d26f043fb85a5c32fc0c65924",
                          "Value": "93bc2fbb-d2fd-4e0a-8b62-4f0441dc12ae"
                        }
                      ],
                      "ConnectionReferences": [
                        {
                          "LogicalName": "cat_CDS_Current",
                          "ConnectionId": "05e64b0e2dd345f997caf4fbffe42f82",
                          "ConnectorId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "ConnectionOwner": "3b8bd16c-e11b-408a-aae3-91409c286939"
                        },
                        {
                          "LogicalName": "cat_sharedoffice365_4ee46",
                          "ConnectionId": "42da9e54c13a46968bea51c7d3fe663b",
                          "ConnectorId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "ConnectionOwner": "3b8bd16c-e11b-408a-aae3-91409c286939"
                        }
                      ],
                      "ActivateFlowConfiguration": [
                        {
                          "solutionComponentName": "AppTitle",
                          "solutionComponentUniqueName": "71cc728c-2487-eb11-a812-000d3a8fe6a3",
                          "sortOrder": "1",
                          "activate": "true"
                        },
                        {
                          "solutionComponentName": "GetEnvironmentVariableValues",
                          "solutionComponentUniqueName": "16a25ccc-8b7f-ec11-8d21-0022482cfe1b",
                          "sortOrder": "3",
                          "activate": "true"
                        },
                        {
                          "solutionComponentName": "LikeQuote",
                          "solutionComponentUniqueName": "90d90640-11bc-ec11-983f-0022483403a3",
                          "sortOrder": "4",
                          "activate": "true"
                        },
                        {
                          "solutionComponentName": "EmailQuote",
                          "solutionComponentUniqueName": "a4c44986-14d6-ec11-a7b5-000d3a1c0439",
                          "sortOrder": "5",
                          "activate": "true"
                        }
                      ],
                      "ConnectorShareWithGroupTeamConfiguration": [
                        {
                          "solutionComponentName": "EnvironmentVariableConnector",
                          "solutionComponentUniqueName": "b464e249-0bf7-48c0-8350-24476349bac1",
                          "aadGroupTeamName": "pctools-makers-sg"
                        }
                      ],
                      "SolutionComponentOwnershipConfiguration": [
                        {
                          "solutionComponentType": 29,
                          "solutionComponentName": "AppTitle",
                          "solutionComponentUniqueName": "71cc728c-2487-eb11-a812-000d3a8fe6a3",
                          "ownerEmail": "Michaelp@powercattools.onmicrosoft.com"
                        },
                        {
                          "solutionComponentType": 29,
                          "solutionComponentName": "GetEnvironmentVariableValues",
                          "solutionComponentUniqueName": "16a25ccc-8b7f-ec11-8d21-0022482cfe1b",
                          "ownerEmail": "Michaelp@powercattools.onmicrosoft.com"
                        },
                        {
                          "solutionComponentType": 29,
                          "solutionComponentName": "LikeQuote",
                          "solutionComponentUniqueName": "90d90640-11bc-ec11-983f-0022483403a3",
                          "ownerEmail": "Michaelp@powercattools.onmicrosoft.com"
                        },
                        {
                          "solutionComponentType": 29,
                          "solutionComponentName": "EmailQuote",
                          "solutionComponentUniqueName": "a4c44986-14d6-ec11-a7b5-000d3a1c0439",
                          "ownerEmail": "Michaelp@powercattools.onmicrosoft.com"
                        },
                        {
                          "solutionComponentType": 29,
                          "solutionComponentName": "SÆmpleØærligforsøk",
                          "solutionComponentUniqueName": "37443c82-d03d-ed11-9db0-0022482e56be",
                          "ownerEmail": "Michaelp@powercattools.onmicrosoft.com"
                        }
                      ],
                      "FlowShareWithGroupTeamConfiguration": [
                        {
                          "solutionComponentName": "AppTitle",
                          "solutionComponentUniqueName": "71cc728c-2487-eb11-a812-000d3a8fe6a3",
                          "aadGroupTeamName": "pctools-makers-sg"
                        },
                        {
                          "solutionComponentName": "GetEnvironmentVariableValues",
                          "solutionComponentUniqueName": "16a25ccc-8b7f-ec11-8d21-0022482cfe1b",
                          "aadGroupTeamName": "pctools-makers-sg"
                        },
                        {
                          "solutionComponentName": "LikeQuote",
                          "solutionComponentUniqueName": "90d90640-11bc-ec11-983f-0022483403a3",
                          "aadGroupTeamName": "pctools-makers-sg"
                        },
                        {
                          "solutionComponentName": "EmailQuote",
                          "solutionComponentUniqueName": "a4c44986-14d6-ec11-a7b5-000d3a1c0439",
                          "aadGroupTeamName": "pctools-makers-sg"
                        },
                        {
                          "solutionComponentName": "SÆmpleØærligforsøk",
                          "solutionComponentUniqueName": "37443c82-d03d-ed11-9db0-0022482e56be",
                          "aadGroupTeamName": "pctools-makers-sg"
                        }
                      ],
                      "AadGroupCanvasConfiguration": [
                        {
                          "aadGroupId": "393805da-5c67-4cae-a607-2a3323613d4f",
                          "canvasNameInSolution": "cat_devopskitsamplecanvasapp_c7ec5",
                          "canvasDisplayName": "CAT Planner Sample App",
                          "roleName": "CanView"
                        },
                        {
                          "aadGroupId": "393805da-5c67-4cae-a607-2a3323613d4f",
                          "canvasNameInSolution": "cat_devopskitsamplecanvasapp_c7ec5",
                          "canvasDisplayName": "CAT Planner Sample App",
                          "roleName": "CanEdit"
                        }
                      ],
                      "AadGroupTeamConfiguration": [
                        {
                          "aadGroupTeamName": "pctools-makers-sg",
                          "aadGroupTeamBusinessUnitId": "6f64f4b9-4e54-ee11-be6e-000d3a5c4e97",
                          "aadSecurityGroupId": "0b2661bb-d187-4329-9f71-9b57af9517df",
                          "dataverseSecurityRoleNames": [
                            "Basic User"
                          ]
                        },
                        {
                          "aadGroupTeamName": "",
                          "aadGroupTeamBusinessUnitId": "6f64f4b9-4e54-ee11-be6e-000d3a5c4e97",
                          "aadSecurityGroupId": "0b2661bb-d187-4329-9f71-9b57af9517df",
                          "dataverseSecurityRoleNames": [
                            ""
                          ]
                        }
                      ],
                      "WebhookUrls": [
                        {
                          "SchemaName": "SampleHook",
                          "Value": "https://catfacts.ninja"
                        }
                      ],
                      "SDKMessages": [
                        {
                          "Config": "unsec.2e9fc4e4-ddf0-ed11-8848-6045bd08d866",
                          "Value": ""
                        }
                      ]
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ApprovalType": {
                          "type": "integer"
                        },
                        "BuildName": {
                          "type": "string"
                        },
                        "BuildTemplate": {
                          "type": "string"
                        },
                        "DeploymentEnvironmentName": {
                          "type": "string"
                        },
                        "DeploymentEnvironmentUrl": {
                          "type": "string"
                        },
                        "EnvironmentUrl": {
                          "type": "string"
                        },
                        "ServiceConnectionName": {
                          "type": "string"
                        },
                        "StepType": {
                          "type": "integer"
                        },
                        "DeploymentSettings": {
                          "type": "object",
                          "properties": {
                            "EnvironmentVariables": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "SchemaName": {
                                    "type": "string"
                                  },
                                  "Value": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "ConnectionReferences": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "LogicalName": {
                                    "type": "string"
                                  },
                                  "ConnectionId": {
                                    "type": "string"
                                  },
                                  "ConnectorId": {
                                    "type": "string"
                                  },
                                  "ConnectionOwner": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "ActivateFlowConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "solutionComponentName": {
                                    "type": "string"
                                  },
                                  "solutionComponentUniqueName": {
                                    "type": "string"
                                  },
                                  "sortOrder": {
                                    "type": "string"
                                  },
                                  "activate": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "ConnectorShareWithGroupTeamConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "solutionComponentName": {
                                    "type": "string"
                                  },
                                  "solutionComponentUniqueName": {
                                    "type": "string"
                                  },
                                  "aadGroupTeamName": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "SolutionComponentOwnershipConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "solutionComponentType": {
                                    "type": "integer"
                                  },
                                  "solutionComponentName": {
                                    "type": "string"
                                  },
                                  "solutionComponentUniqueName": {
                                    "type": "string"
                                  },
                                  "ownerEmail": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "FlowShareWithGroupTeamConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "solutionComponentName": {
                                    "type": "string"
                                  },
                                  "solutionComponentUniqueName": {
                                    "type": "string"
                                  },
                                  "aadGroupTeamName": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "AadGroupCanvasConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "aadGroupId": {
                                    "type": "string"
                                  },
                                  "canvasNameInSolution": {
                                    "type": "string"
                                  },
                                  "canvasDisplayName": {
                                    "type": "string"
                                  },
                                  "roleName": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "AadGroupTeamConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "aadGroupTeamName": {
                                    "type": "string"
                                  },
                                  "aadGroupTeamBusinessUnitId": {
                                    "type": "string"
                                  },
                                  "aadSecurityGroupId": {
                                    "type": "string"
                                  },
                                  "dataverseSecurityRoleNames": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "required": []
                              }
                            },
                            "WebhookUrls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "SchemaName": {
                                    "type": "string"
                                  },
                                  "Value": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "SDKMessages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Config": {
                                    "type": "string"
                                  },
                                  "Value": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Create_Deployment_Environment_Settings_Object": {
                  "runAfter": {
                    "Initialize_Deployment_Settings_Data_Current_Stage": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0aad07bc-3094-478a-a9b6-57cb14b659fd"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": {
                      "ApprovalType": "@items('Apply_to_each')?['cat_approvaltype']",
                      "BuildName": "deploy-@{toLower(items('Apply_to_each')?['cat_name'])}-@{outputs('Retrieve_the_Deployment_Stage_Run')?['body/artifactname']}",
                      "BuildTemplate": "@{items('Apply_to_each')?['cat_buildtemplatepath']}",
                      "DeploymentEnvironmentName": "@{items('Apply_to_each')?['cat_name']}",
                      "DeploymentEnvironmentUrl": "@{outputs('Get_the_Environment_for_this_Step')?['body/cat_url']}",
                      "EnvironmentUrl": "@{variables('ServiceConnectionUrl')}",
                      "ServiceConnectionName": "@{outputs('Get_the_Environment_for_this_Step')?['body/cat_serviceconnectionname']}",
                      "StepType": "@items('Apply_to_each')?['cat_steptype']",
                      "DeploymentSettings": "@body('Initialize_Deployment_Settings_Data_Current_Stage')"
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ApprovalType": {
                          "type": "integer"
                        },
                        "BuildName": {
                          "type": "string"
                        },
                        "BuildTemplate": {
                          "type": "string"
                        },
                        "DeploymentEnvironmentName": {
                          "type": "string"
                        },
                        "DeploymentEnvironmentUrl": {
                          "type": "string"
                        },
                        "EnvironmentUrl": {
                          "type": "string"
                        },
                        "ServiceConnectionName": {
                          "type": "string"
                        },
                        "StepType": {
                          "type": "integer"
                        },
                        "DeploymentSettings": {
                          "type": "object",
                          "properties": {
                            "EnvironmentVariables": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "SchemaName": {
                                    "type": "string"
                                  },
                                  "Value": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "ConnectionReferences": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "LogicalName": {
                                    "type": "string"
                                  },
                                  "ConnectionId": {
                                    "type": "string"
                                  },
                                  "ConnectorId": {
                                    "type": "string"
                                  },
                                  "ConnectionOwner": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "ActivateFlowConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "solutionComponentName": {
                                    "type": "string"
                                  },
                                  "solutionComponentUniqueName": {
                                    "type": "string"
                                  },
                                  "sortOrder": {
                                    "type": "string"
                                  },
                                  "activate": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "ConnectorShareWithGroupTeamConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "solutionComponentName": {
                                    "type": "string"
                                  },
                                  "solutionComponentUniqueName": {
                                    "type": "string"
                                  },
                                  "aadGroupTeamName": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "SolutionComponentOwnershipConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "solutionComponentType": {
                                    "type": "integer"
                                  },
                                  "solutionComponentName": {
                                    "type": "string"
                                  },
                                  "solutionComponentUniqueName": {
                                    "type": "string"
                                  },
                                  "ownerEmail": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "FlowShareWithGroupTeamConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "solutionComponentName": {
                                    "type": "string"
                                  },
                                  "solutionComponentUniqueName": {
                                    "type": "string"
                                  },
                                  "aadGroupTeamName": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "AadGroupCanvasConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "aadGroupId": {
                                    "type": "string"
                                  },
                                  "canvasNameInSolution": {
                                    "type": "string"
                                  },
                                  "canvasDisplayName": {
                                    "type": "string"
                                  },
                                  "roleName": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "AadGroupTeamConfiguration": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "aadGroupTeamName": {
                                    "type": "string"
                                  },
                                  "aadGroupTeamBusinessUnitId": {
                                    "type": "string"
                                  },
                                  "aadSecurityGroupId": {
                                    "type": "string"
                                  },
                                  "dataverseSecurityRoleNames": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "required": []
                              }
                            },
                            "WebhookUrls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "SchemaName": {
                                    "type": "string"
                                  },
                                  "Value": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            },
                            "SDKMessages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Config": {
                                    "type": "string"
                                  },
                                  "Value": {
                                    "type": "string"
                                  }
                                },
                                "required": []
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Set_the_Development_Environment_Url": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5f573102-ea9d-404d-a6e1-39faf4303e53"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Parse_Profile_JSON": {
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "582e799d-1db9-41e0-b904-a7a5c655e196"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Retrieve_the_Profile')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "@@odata.type": {
                      "type": "string"
                    },
                    "@@odata.id": {
                      "type": "string"
                    },
                    "@@odata.etag": {
                      "type": "string"
                    },
                    "@@odata.editLink": {
                      "type": "string"
                    },
                    "cat_deploymentprofileid@odata.type": {
                      "type": "string"
                    },
                    "cat_deploymentprofileid": {
                      "type": "string"
                    },
                    "cat_azdoorganization": {
                      "type": "string"
                    },
                    "cat_azdoproject": {
                      "type": "string"
                    },
                    "cat_repository": {
                      "type": "string"
                    },
                    "_organizationid_value@Microsoft.Dynamics.CRM.associatednavigationproperty": {
                      "type": "string"
                    },
                    "_organizationid_value@Microsoft.Dynamics.CRM.lookuplogicalname": {
                      "type": "string"
                    },
                    "_organizationid_value@odata.type": {
                      "type": "string"
                    },
                    "_organizationid_value": {
                      "type": "string"
                    },
                    "organizationid@odata.associationLink": {
                      "type": "string"
                    },
                    "organizationid@odata.navigationLink": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "List_pipelines": {
              "runAfter": {
                "Parse_Profile_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c76040e8-4959-44d7-83ce-e228d29ad134"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_visualstudioteamservices",
                  "operationId": "ListPipelines",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                },
                "parameters": {
                  "account": "@outputs('Retrieve_the_Profile')?['body/cat_azdoorganization']",
                  "project": "@outputs('Retrieve_the_Profile')?['body/cat_azdoproject']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Find_Export_Pipeline": {
              "runAfter": {
                "List_pipelines": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8fd87184-7046-4f48-ab1f-f39941c2ae24"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('List_pipelines')?['body/value']",
                "where": "@equals(item()?['name'], 'export-solution-to-git-pipelines')"
              }
            },
            "Find_the_Pipelines_Host_Environment": {
              "runAfter": {
                "Find_Export_Pipeline": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3b98b9a1-ec60-42ff-9c61-fe5b8e9bd7a9"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_Environments')?['body/value']",
                "where": "@equals(item()?['name'], variables('PipelineHostEnvironmentName'))"
              }
            },
            "Set_the_Pipelines_Host_Url": {
              "runAfter": {
                "Find_the_Pipelines_Host_Environment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "549cd96c-39c5-4eb2-8052-e07d1c0be894"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "PipelineHostServiceConnectionUrl",
                "value": "@{first(body('Find_the_Pipelines_Host_Environment'))?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']}"
              }
            },
            "Find_the_working_branch_if_it_exists": {
              "runAfter": {
                "Update_Branch_to_Default_Working_Branch": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8d640e11-83f0-4aab-8cf6-fbc61fb507b3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_visualstudioteamservices",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                },
                "parameters": {
                  "account": "@outputs('Retrieve_the_Profile')?['body/cat_azdoorganization']",
                  "parameters/Method": "GET",
                  "parameters/Uri": "https://dev.azure.com/@{outputs('Retrieve_the_Profile')?['body/cat_azdoorganization']}/@{outputs('Retrieve_the_Profile')?['body/cat_azdoproject']}/_apis/git/repositories/@{outputs('Retrieve_the_Profile')?['body/cat_repositoryid']}/refs?filter=heads/@{variables('Branch')}&api-version=7.0"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_Working_Branch_Results": {
              "runAfter": {
                "Find_the_working_branch_if_it_exists": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "797d41ec-7203-4656-aba0-97be1b5ba3d5"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Find_the_working_branch_if_it_exists')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "objectId": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "_links": {
                                "type": "object",
                                "properties": {
                                  "avatar": {
                                    "type": "object",
                                    "properties": {
                                      "href": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "uniqueName": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "descriptor": {
                                "type": "string"
                              }
                            }
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "objectId",
                          "creator",
                          "url"
                        ]
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "Find_the_solution_branch_if_it_exists": {
              "runAfter": {
                "Parse_Working_Branch_Results": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9dbb1181-4fb6-4924-a3ef-6902846586ce"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_visualstudioteamservices",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                },
                "parameters": {
                  "account": "@outputs('Retrieve_the_Profile')?['body/cat_azdoorganization']",
                  "parameters/Method": "GET",
                  "parameters/Uri": "https://dev.azure.com/@{outputs('Retrieve_the_Profile')?['body/cat_azdoorganization']}/@{outputs('Retrieve_the_Profile')?['body/cat_azdoproject']}/_apis/git/repositories/@{outputs('Retrieve_the_Profile')?['body/cat_repositoryid']}/refs?filter=heads/@{triggerOutputs()?['body/OutputParameters/ArtifactName']}&api-version=7.0"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_Solution_Branch_Results": {
              "runAfter": {
                "Find_the_solution_branch_if_it_exists": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "31d9cc8a-8bb7-46ba-9ad9-70c267641c78"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Find_the_solution_branch_if_it_exists')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "objectId": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "_links": {
                                "type": "object",
                                "properties": {
                                  "avatar": {
                                    "type": "object",
                                    "properties": {
                                      "href": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "uniqueName": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "descriptor": {
                                "type": "string"
                              }
                            }
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "objectId",
                          "creator",
                          "url"
                        ]
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "Check_if_Working_Branch_Doesn't_Exist": {
              "actions": {
                "Update_Branch_to_Create_to_Working_Branch": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "8a4081c7-acdf-49a8-b9f7-33147c9500d9"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "BranchToCreate",
                    "value": "@variables('Branch')"
                  }
                },
                "Check_if_Solution_Branch_Doesn't_Exist": {
                  "actions": {
                    "Set_Branch_to_Default_Branch_(Main)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "87994d53-ceb6-4714-b645-ad67256e060e"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Branch",
                        "value": "@variables('RepoDefaultBranch')"
                      }
                    }
                  },
                  "runAfter": {
                    "Update_Branch_to_Create_to_Working_Branch": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_Branch_to_Solution_Branch": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "eb1a9708-6c01-4ad9-827a-984e48254dca"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Branch",
                          "value": "@triggerOutputs()?['body/OutputParameters/ArtifactName']"
                        }
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@body('Parse_Solution_Branch_Results')?['count']",
                          0
                        ]
                      },
                      {
                        "equals": [
                          "@variables('BranchToCreate')",
                          "@triggerOutputs()?['body/OutputParameters/ArtifactName']"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b5eedc71-f756-4d35-9d1a-b6fc2966bc8d"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Parse_Solution_Branch_Results": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Check_if_Solution_Branch_Doesn't_Exist_To_Set_Target_Branch": {
                    "actions": {
                      "Set_PR_Target_Branch_to_Default_Branch_(Main)": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "87994d53-ceb6-4714-b645-ad67256e060e"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "PRTargetBranch",
                          "value": "@variables('RepoDefaultBranch')"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Set_PR_Target_Branch_to_Solution_Branch": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "eb1a9708-6c01-4ad9-827a-984e48254dca"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PRTargetBranch",
                            "value": "@triggerOutputs()?['body/OutputParameters/ArtifactName']"
                          }
                        }
                      }
                    },
                    "expression": {
                      "or": [
                        {
                          "equals": [
                            "@body('Parse_Solution_Branch_Results')?['count']",
                            0
                          ]
                        },
                        {
                          "equals": [
                            "@variables('BranchToCreate')",
                            "@triggerOutputs()?['body/OutputParameters/ArtifactName']"
                          ]
                        },
                        {
                          "not": {
                            "equals": [
                              "@variables('CreateSolutionBranch')",
                              true
                            ]
                          }
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b5eedc71-f756-4d35-9d1a-b6fc2966bc8d"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@body('Parse_Working_Branch_Results')?['count']",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "3076f937-da75-44a6-ae92-f524da4784ee"
              },
              "type": "If"
            },
            "Check_if_Commit_Message_is_Empty": {
              "actions": {
                "Set_Default_Commit_Message": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "bdaa1e56-6b59-418a-9362-b94ceb28a198"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "CommitMessage",
                    "value": "No Commit Message Supplied"
                  }
                }
              },
              "runAfter": {
                "Check_if_Working_Branch_Doesn't_Exist": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@length(variables('CommitMessage'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "2dcf4864-5b23-4ebd-9a2f-58a9090a73b5"
              },
              "type": "If"
            },
            "Run_the_export_pipeline": {
              "runAfter": {
                "Check_if_this_is_the_Last_Stage": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d613bcc9-ff7f-4f88-bff3-f79d05f69abd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_visualstudioteamservices",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                },
                "parameters": {
                  "account": "@outputs('Retrieve_the_Profile')?['body/cat_azdoorganization']",
                  "parameters/Method": "POST",
                  "parameters/Uri": "https://dev.azure.com/@{outputs('Retrieve_the_Profile')?['body/cat_azdoorganization']}/@{outputs('Retrieve_the_Profile')?['body/cat_azdoproject']}/_apis/pipelines/@{first(body('Find_Export_Pipeline'))?['id']}/runs?api-version=6.0-preview.1",
                  "parameters/Body": "{\n    \"resources\": {\n        \"repositories\": {\n            \"self\": {\n                \"refName\": \"refs/heads/@{variables('RepoDefaultBranch')}\"\n            }\n        }\n    },\n    \"templateParameters\": {\n        \"Branch\": \"@{variables('Branch')}\",\n        \"BranchToCreate\": \"@{variables('BranchToCreate')}\",\n        \"CreateSolutionBranch\": \"@{variables('CreateSolutionBranch')}\",\n        \"CommitMessage\": \"@{replace(variables('CommitMessage'), decodeUriComponent('%0A'), '')}\",\n        \"Data\": '@{variables('Deployment Settings Data')}',\n        \"Email\": \"@{outputs('Get_the_User''s_Email_Who_Requested_the_Deployment')?['body/internalemailaddress']}\",\n        \"PipelineId\": \"@{first(body('Find_Export_Pipeline'))?['id']}\",\n        \"PortalSiteName\": \"NA\",\n        \"CommitScope\": \"@{variables('CommitScope')}\",\n        \"PublishCustomizations\": \"false\",\n        \"Project\": \"@{outputs('Retrieve_the_Profile')?['body/cat_azdoproject']}\",\n        \"Repo\": \"@{outputs('Retrieve_the_Profile')?['body/cat_repository']}\",\n        \"ServiceConnectionName\": \"@{variables('ServiceConnectionUrl')}\",\n        \"ServiceConnectionUrl\": \"@{variables('ServiceConnectionUrl')}\",\n        \"SolutionName\": \"@{triggerOutputs()?['body/OutputParameters/ArtifactName']}\",\n        \"UserName\": \"@{triggerOutputs()?['body/OutputParameters/DeployAsUser']}\",\n        \"ArtifactUrl\": \"@{triggerOutputs()?['body/OutputParameters/ArtifactFileDownloadLink']}\",\n        \"PipelineServiceConnectionName\": \"@{variables('PipelineHostServiceConnectionUrl')}\",\n        \"PipelineServiceConnectionUrl\": \"@{variables('PipelineHostServiceConnectionUrl')}\", \n        \"PipelineStageRunId\": \"@{triggerOutputs()?['body/InputParameters/StageRunId']}\",\n        \"CreatePR\": \"@{variables('CreatePullRequest')}\",\n        \"PRTargetBranch\": \"@{variables('PRTargetBranch')}\",\n        \"AutoCompletePR\": \"@{variables('AutoCompletePR')}\",\n        \"BuildAndRunUnitTests\": \"@{variables('BuildAndRunUnitTests')}\"\n      }\n}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Check_if_No_Previous_Deployment_Stage_Exists": {
              "actions": {
                "Set_Build_And_Run_Unit_Tests_to_True": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cad08668-1748-415a-acdc-60354b95979e"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "BuildAndRunUnitTests",
                    "value": "true"
                  }
                }
              },
              "runAfter": {
                "Check_if_Commit_Message_is_Empty": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_Commit_Scope_to_Customizations_Only": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "ae004168-d0e0-45bc-8892-40c06bf62b05"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "CommitScope",
                      "value": "3"
                    }
                  },
                  "Set_Auto_Complete_PR_to_True": {
                    "runAfter": {
                      "Set_Commit_Scope_to_Customizations_Only": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "23124440-e446-46fc-8123-50d7a227c612"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "AutoCompletePR",
                      "value": "true"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@empty(outputs('Retrieve_the_Deployment_Stage')?['body/_previousdeploymentstageid_value'])",
                  true
                ]
              },
              "metadata": {
                "operationMetadataId": "ce843230-2085-4cac-96f4-c6e59cfab41c"
              },
              "type": "If"
            },
            "Check_if_this_is_the_Last_Stage": {
              "actions": {
                "Set_Auto_Complete_PR_to_false_for_Final_Stage": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f2e8994a-deed-4f3d-8ac0-12112b35997c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AutoCompletePR",
                    "value": "false"
                  }
                },
                "Set_PR_Target_Branch_to_Repo_Default_Branch": {
                  "runAfter": {
                    "Set_Auto_Complete_PR_to_false_for_Final_Stage": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f7bf29d0-735c-4338-9745-0cc15e3acd32"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PRTargetBranch",
                    "value": "@variables('RepoDefaultBranch')"
                  }
                }
              },
              "runAfter": {
                "Retrieve_Deployment_Stages_where_this_Stage_is_the_Previous": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@length(outputs('Retrieve_Deployment_Stages_where_this_Stage_is_the_Previous')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "ec97353b-c074-469e-aa72-2998641bec85"
              },
              "type": "If"
            },
            "Retrieve_Deployment_Stages_where_this_Stage_is_the_Previous": {
              "runAfter": {
                "Check_if_No_Previous_Deployment_Stage_Exists": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "95ac34c1-56c2-43b0-bfac-c72a0ca2065a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "deploymentstages",
                  "$select": "deploymentstageid",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"deploymentstage\">\n    <attribute name=\"deploymentstageid\" />\n    <filter>\n      <condition attribute=\"previousdeploymentstageid\" operator=\"eq\" value=\"@{outputs('Retrieve_the_Deployment_Stage')?['body/deploymentstageid']}\" />\n    </filter>\n  </entity>\n</fetch>",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Find_the_Development_Environment": {
              "runAfter": {
                "Get_Environments": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "60ef3726-b95f-4723-9516-69009f703538"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_Environments')?['body/value']",
                "where": "@equals(item()?['name'], outputs('Get_Development_Environment')?['body/environmentid'])"
              }
            },
            "Set_the_Development_Environment_Url": {
              "runAfter": {
                "Find_the_Development_Environment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "44d0c68f-c243-497d-a8b2-ee61e8d9dd8c"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ServiceConnectionUrl",
                "value": "@{first(body('Find_the_Development_Environment'))?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']}"
              }
            },
            "Retrieve_the_Solution_Repository": {
              "runAfter": {
                "Set_the_Pipelines_Host_Url": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a98dd9c3-649d-47f1-8cc1-50384d8c6e94"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_visualstudioteamservices",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                },
                "parameters": {
                  "account": "@outputs('Retrieve_the_Profile')?['body/cat_azdoorganization']",
                  "parameters/Method": "GET",
                  "parameters/Uri": "https://dev.azure.com/@{outputs('Retrieve_the_Profile')?['body/cat_azdoorganization']}/@{outputs('Retrieve_the_Profile')?['body/cat_azdoproject']}/_apis/git/repositories/@{outputs('Retrieve_the_Profile')?['body/cat_repositoryid']}?api-version=4.1"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_the_Solution_Repository_Response": {
              "runAfter": {
                "Retrieve_the_Solution_Repository": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c87c8cf8-5105-4c90-a1e0-60a0eee86422"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Retrieve_the_Solution_Repository')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "revision": {
                          "type": "integer"
                        },
                        "visibility": {
                          "type": "string"
                        },
                        "lastUpdateTime": {
                          "type": "string"
                        }
                      }
                    },
                    "defaultBranch": {
                      "type": "string"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "remoteUrl": {
                      "type": "string"
                    },
                    "sshUrl": {
                      "type": "string"
                    },
                    "webUrl": {
                      "type": "string"
                    },
                    "_links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "project": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "web": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "ssh": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "commits": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "refs": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "pullRequests": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "items": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "pushes": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "isDisabled": {
                      "type": "boolean"
                    },
                    "isInMaintenance": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "Update_Branch_to_Default_Working_Branch": {
              "runAfter": {
                "Check_if_Feature_Branch_Doesn't_Exist": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3192c23a-ea4b-49b2-a62e-ed62f6098be3"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Branch",
                "value": "@variables('FeatureBranchName')"
              }
            },
            "Set_Default_Repo_Branch_from_Response": {
              "runAfter": {
                "Parse_the_Solution_Repository_Response": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f00135ff-afaf-4cee-9aed-2792ba307e9d"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "RepoDefaultBranch",
                "value": "@{replace(body('Parse_the_Solution_Repository_Response')?['defaultBranch'], 'refs/heads/','')}"
              }
            },
            "Retrieve_Current_Profile_for_Solution_from_Solution_Profiles": {
              "runAfter": {
                "Get_Development_Environment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3d37d8f6-e2fa-427b-8d24-6cfcbdac2df6"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_deploymentsolutionprofiles",
                  "$select": "cat_DeploymentProfileId",
                  "fetchXml": "<fetch top=\"1\">\n  <entity name=\"cat_deploymentsolutionprofile\">\n    <attribute name=\"cat_deploymentprofileid\" />\n    <filter type=\"and\">\n          <condition attribute=\"cat_solutionname\" operator=\"eq\" value=\"@{triggerOutputs()?['body/OutputParameters/ArtifactName']}\" />\n          <condition attribute=\"cat_makerenvironmentid\" operator=\"eq\" value=\"@{outputs('Get_Development_Environment')?['body/environmentid']}\" />\n    </filter>\n    <order attribute=\"createdon\" descending=\"true\" />\n  </entity>\n</fetch>",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Check_if_Feature_Branch_Doesn't_Exist": {
              "actions": {
                "Set_Feature_Branch_to_Email-SolutionName": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d3f2f1af-f6e4-4b84-a52d-4ca2698097bd"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "FeatureBranchName",
                    "value": "@{outputs('Get_the_User''s_Email_Who_Requested_the_Deployment')?['body/internalemailaddress']}-@{outputs('Retrieve_the_Deployment_Stage_Run')?['body/artifactname']}"
                  }
                }
              },
              "runAfter": {
                "Set_Default_Repo_Branch_from_Response": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@length(variables('FeatureBranchName'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "05d5cd50-f0b8-4e68-a760-0d5fe058af32"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_Pull_Request_Target_Branch_=_empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a7fb458d-4ec6-4c4c-9cf3-02017c0313c4"
          },
          "type": "Scope"
        },
        "Initialize_Deployment_Settings_Data_=_empty": {
          "runAfter": {
            "Initialize_Deployment_Profile_ID_=_empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b51c53da-6024-4258-ad56-3948f1d0e150"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Deployment Settings Data",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_Service_Connection_Url_=_empty": {
          "runAfter": {
            "Initialize_Deployment_Settings_Data_=_empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cba97da1-6328-48e2-a560-a55fdfd3bdd2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ServiceConnectionUrl",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Branch_=_empty": {
          "runAfter": {
            "Initialize_Default_Repo_Branch_=_main": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e8ce3ba-fbfa-4431-94e1-dc9d771bd383"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Branch",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Branch_To_Create_=_empty": {
          "runAfter": {
            "Initialize_Branch_=_empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f07b2dce-adcf-467d-8433-4b6b9b9bf475"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BranchToCreate",
                "type": "string",
                "value": "Commit to existing branch specified in Branch parameter"
              }
            ]
          }
        },
        "Catch": {
          "actions": {
            "Mark_the_Predeployment_Stage_as_Failed": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e1441331-05a5-4436-81b9-67ab7dced514"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "UpdatePreDeploymentStepStatus",
                  "item/StageRunId": "@triggerOutputs()?['body/InputParameters/StageRunId']",
                  "item/Comments": "@actions('Try')?['error']?['message']",
                  "item/PreDeploymentStepStatus": 30
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3c582493-e39c-42d5-8914-e268ff4799b2"
          },
          "type": "Scope"
        },
        "Initialize_Pipeline_Host_Environment_Name_=_This_Environment": {
          "runAfter": {
            "Initialize_Branch_To_Create_=_empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8cfc74c0-8b74-460b-818d-7e869954e066"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PipelineHostEnvironmentName",
                "type": "string",
                "value": "@{workflow()?['tags']['environmentName']}"
              }
            ]
          }
        },
        "Initialize_Pipeline_Host_Service_Connection_Url_=_empty": {
          "runAfter": {
            "Initialize_Service_Connection_Name_=_empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "332ad98f-b27b-4175-a334-5d40fec1f986"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PipelineHostServiceConnectionUrl",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Service_Connection_Name_=_empty": {
          "runAfter": {
            "Initialize_Service_Connection_Url_=_empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5d8b7cd-058b-4b20-bdbe-7235b752f752"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ServiceConnectionName",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Commit_Message_=_Deployment_Notes": {
          "runAfter": {
            "Initialize_Pipeline_Host_Environment_Name_=_This_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7a371eb7-4b29-4851-a2ac-9a59d1f8e194"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CommitMessage",
                "type": "string",
                "value": "@triggerOutputs()?['body/OutputParameters/DeploymentNotes']"
              }
            ]
          }
        },
        "Initialize_Deployment_Settings_=_empty": {
          "runAfter": {
            "Initialize_Commit_Message_=_Deployment_Notes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eccefcb7-2a4a-4864-ac2c-2b129caec922"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DeploymentSettings",
                "type": "string",
                "value": "{}"
              }
            ]
          }
        },
        "Initialize_Deployment_Profile_ID_=_empty": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b8e1650f-c67e-45c5-b04b-aad7553a03a4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Deployment Profile ID",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Commit_Scope_=_1_(Solution_and_Settings)": {
          "runAfter": {
            "Initialize_Deployment_Settings_=_empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8457a3f4-2689-4644-af1e-89e9de1a340f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CommitScope",
                "type": "string",
                "value": "1"
              }
            ]
          }
        },
        "Initialize_Build_And_Run_Unit_Tests_=_false": {
          "runAfter": {
            "Initialize_Commit_Scope_=_1_(Solution_and_Settings)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "30a16b7f-0903-49ca-b81c-65643e40f099"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BuildAndRunUnitTests",
                "type": "string",
                "value": "false"
              }
            ]
          }
        },
        "Initialize_Auto_Complete_PR_=_true": {
          "runAfter": {
            "Initialize_Build_And_Run_Unit_Tests_=_false": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "55eb91f2-54ef-40fb-8152-0e4c6864e997"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AutoCompletePR",
                "type": "string",
                "value": "true"
              }
            ]
          }
        },
        "Initialize_Default_Repo_Branch_=_main": {
          "runAfter": {
            "Initialize_Pipeline_Host_Service_Connection_Url_=_empty": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c203baf5-56bc-4a2f-b430-675a0b25a309"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RepoDefaultBranch",
                "type": "string",
                "value": "main"
              }
            ]
          }
        },
        "Initialize_Create_Solution_Branch_=_true": {
          "runAfter": {
            "Initialize_Auto_Complete_PR_=_true": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "be19c471-24fe-4ba1-9a61-179a440b18aa"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CreateSolutionBranch",
                "type": "string",
                "value": "true"
              }
            ]
          }
        },
        "Initialize_Feature_Branch_Name_=_empty_(Auto_Generate_Name)": {
          "runAfter": {
            "Initialize_Create_Solution_Branch_=_true": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9e82ac2a-6971-430b-aa88-e425864cd6a2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FeatureBranchName",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Create_Pull_Request_=_true": {
          "runAfter": {
            "Initialize_Feature_Branch_Name_=_empty_(Auto_Generate_Name)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f1860c4a-4b33-4031-bd0e-fc8706d2287c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CreatePullRequest",
                "type": "string",
                "value": "true"
              }
            ]
          }
        },
        "Initialize_Pull_Request_Target_Branch_=_empty": {
          "runAfter": {
            "Initialize_Create_Pull_Request_=_true": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f9ae1fad-0688-4212-8fab-9b236a85a7ce"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PRTargetBranch",
                "type": "string",
                "value": "NA"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}