CenterofExcellenceCoreComponents/SolutionPackage/Workflows/AdminSyncTemplatev3PVA-B1404DE5-6444-EB11-A813-000D3A8F4AD6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice": {
        "api": {
          "name": "shared_commondataservice"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseLegacy"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerplatformforadmins_1": {
        "api": {
          "name": "shared_powerplatformforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdmins"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Check_if_CDS,_terminate_if_false": {
          "actions": {
            "Not_CDS_so_no_PVA_Bots": {
              "inputs": {
                "runStatus": "Succeeded"
              },
              "metadata": {
                "operationMetadataId": "e2e97fee-3f7d-4039-bcff-dc2a4aa56f06"
              },
              "runAfter": {},
              "type": "Terminate"
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_hascds']",
              "@false"
            ]
          },
          "metadata": {
            "operationMetadataId": "4c73c6d2-c504-4af3-9bb2-353010cf6e61"
          },
          "runAfter": {
            "Check_if_Environment_Deleted,_terminate_if_true": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Check_if_Dev_SKU,_terminate_if_true": {
          "actions": {
            "Inquiry_not_supported_for_Dev_Sku": {
              "inputs": {
                "runStatus": "Succeeded"
              },
              "metadata": {
                "operationMetadataId": "07e3db40-bfd9-4212-bd95-2089d20f54dd"
              },
              "runAfter": {},
              "type": "Terminate"
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_environmentsku']",
              "Developer"
            ]
          },
          "metadata": {
            "operationMetadataId": "915772cd-d1ec-42b6-9a83-109194b2cab1"
          },
          "runAfter": {
            "Check_if_CDS,_terminate_if_false": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Check_if_Environment_Deleted,_terminate_if_true": {
          "actions": {
            "Terminate_for_environments_marked_deleted": {
              "inputs": {
                "runStatus": "Succeeded"
              },
              "metadata": {
                "operationMetadataId": "5cda13cc-953b-42c4-843e-66d61f674663"
              },
              "runAfter": {},
              "type": "Terminate"
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_environmentdeleted']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "528ad957-e94c-4db9-9a78-367f3108f968"
          },
          "runAfter": {},
          "type": "If"
        },
        "Check_if_Teams_SKU,_terminate_if_true": {
          "actions": {
            "Inquiry_not_supported_for_Teams_Sku": {
              "inputs": {
                "runStatus": "Succeeded"
              },
              "metadata": {
                "operationMetadataId": "f2d6e8d5-3589-4dba-b450-f97aaedbd8ff"
              },
              "runAfter": {},
              "type": "Terminate"
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_environmentsku']",
              "Teams"
            ]
          },
          "metadata": {
            "operationMetadataId": "dc72e031-c9b8-41cb-a8cb-65c2c7da86b6"
          },
          "runAfter": {
            "Check_if_Dev_SKU,_terminate_if_true": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Exit_if_no_bots_in_envt": {
          "actions": {
            "List_Bots": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                  "connectionName": "shared_commondataservice",
                  "operationId": "GetItems_V2"
                },
                "parameters": {
                  "dataset": "@triggerOutputs()?['body/admin_environmentcdsmetadataname']",
                  "table": "bots"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "67dc6fd7-3529-4d9f-b64c-50c3bf61584f"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "Quit_if_no_bots": {
              "inputs": {
                "runStatus": "Succeeded"
              },
              "metadata": {
                "operationMetadataId": "fa04fce0-94f3-43d4-af21-e30e71b0589f"
              },
              "runAfter": {
                "List_Bots": [
                  "Failed"
                ]
              },
              "type": "Terminate"
            }
          },
          "metadata": {
            "operationMetadataId": "c8001aee-3246-48a3-bc49-060d14fb2010"
          },
          "runAfter": {
            "Get_Environment_from_Tenant": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Get_Environment_from_Tenant": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
              "connectionName": "shared_powerplatformforadmins_1",
              "operationId": "GetSingleEnvironment"
            },
            "parameters": {
              "api-version": "2020-06-01",
              "environment": "@triggerOutputs()?['body/admin_environmentname']"
            },
            "retryPolicy": {
              "count": 10,
              "interval": "PT10S",
              "type": "exponential"
            }
          },
          "metadata": {
            "operationMetadataId": "88b9cf75-1ee6-4950-95cb-c85b60c1f81e"
          },
          "runAfter": {
            "Check_if_Teams_SKU,_terminate_if_true": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection"
        },
        "Get_PVA_fails_-_Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_environmentname": "@triggerOutputs()?['body/admin_displayname']",
                  "item/admin_flowinstanceurl": "@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/admin_name": "Admin | Sync Template v3 (PVA)"
                }
              },
              "metadata": {
                "operationMetadataId": "a27f3d5c-2097-4352-87fb-a7e01012dbf0"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            },
            "Terminate": {
              "inputs": {
                "runError": {
                  "code": "500",
                  "message": "Get PVAs Failed"
                },
                "runStatus": "Failed"
              },
              "metadata": {
                "operationMetadataId": "52de3289-940f-47db-8abb-5ff162335983"
              },
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "type": "Terminate"
            }
          },
          "metadata": {
            "operationMetadataId": "23e507d5-284e-432c-aa48-d9291cb1ec7e"
          },
          "runAfter": {
            "Put_Bots_in_CoE": [
              "Failed"
            ]
          },
          "type": "Scope"
        },
        "Initialize_ChangedBots": {
          "inputs": {
            "variables": [
              {
                "name": "ChangedBots",
                "type": "array"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "b9ef1320-83e9-46f4-9f32-234d5cb2da7a"
          },
          "runAfter": {
            "Exit_if_no_bots_in_envt": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_isFlowAction": {
          "inputs": {
            "variables": [
              {
                "name": "isFlowAction",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "fb8a9c34-26e0-4b44-9e33-cb2296f7e6cb"
          },
          "runAfter": {
            "Initialize_ChangedBots": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_varLastLaunched": {
          "inputs": {
            "variables": [
              {
                "name": "varLastLaunched",
                "type": "string",
                "value": "1990-01-01T15:24:42Z"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "0e285ece-fe95-4ada-9f76-9fabe45c0bb3"
          },
          "runAfter": {
            "Initialize_varNumberConvos": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_varNumberConvos": {
          "inputs": {
            "variables": [
              {
                "name": "varNumberConvos",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "c94930cb-ce9c-4e92-aef6-67ad5d6c4970"
          },
          "runAfter": {
            "Initialize_isFlowAction": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_BotNeedsUpdateToCoE": {
          "inputs": {
            "variables": [
              {
                "name": "BotNeedsUpdateToCoE",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "135a94f0-542d-4498-8888-d35443aac868"
          },
          "runAfter": {
            "Initialize_variable_isNewToCoE": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_flowEnvironment": {
          "description": "Environment location specific Flow URL - remember / at the end",
          "inputs": {
            "variables": [
              {
                "name": "flowEnvironment",
                "type": "string",
                "value": "@parameters('Power Automate Environment Variable')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "58f3185f-e100-4765-a926-69ff0e5bb8e0"
          },
          "runAfter": {
            "Initialize_variable_today": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_fullInventory": {
          "description": "Environment location specific Flow URL - remember / at the end",
          "inputs": {
            "variables": [
              {
                "name": "fullInventory",
                "type": "string",
                "value": "@{parameters('FullInventory')}"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "3216a757-8d1a-496e-8bbe-ea6c22e3018c"
          },
          "runAfter": {
            "Initialize_variable_flowEnvironment": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_isNewToCoE": {
          "inputs": {
            "variables": [
              {
                "name": "isNewToCoE",
                "type": "boolean",
                "value": false
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "7ee6a435-e28e-49bc-bf5a-6f1db85790e2"
          },
          "runAfter": {
            "Initialize_varLastLaunched": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_today": {
          "inputs": {
            "variables": [
              {
                "name": "today",
                "type": "string",
                "value": "@{utcNow()}"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "763af2eb-dd44-4158-ba35-b6d4a55e9e5e"
          },
          "runAfter": {
            "Initialize_variable_BotNeedsUpdateToCoE": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Put_Bots_in_CoE": {
          "actions": {
            "For_Each_Bot": {
              "actions": {
                "Get_Bot_Creator": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                      "connectionName": "shared_commondataservice",
                      "operationId": "GetItem_V2"
                    },
                    "parameters": {
                      "dataset": "@triggerOutputs()?['body/admin_environmentcdsmetadataname']",
                      "id": "@body('Parse_Bot_JSON')?['_ownerid_value']",
                      "table": "systemusers"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "140402ce-6be5-474e-9a95-b7dfb8da826d"
                  },
                  "runAfter": {
                    "Parse_Bot_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "Get_PVA_from_CoE": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem"
                    },
                    "parameters": {
                      "entityName": "admin_pvas",
                      "recordId": "@body('Parse_Bot_JSON')?['ItemInternalId']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "966e8643-58a1-41c5-97e6-705db0f0b285"
                  },
                  "runAfter": {
                    "Get_Bot_Creator": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "Get_Usage": {
                  "actions": {
                    "Apply_to_each": {
                      "actions": {
                        "Increment_varNumberConvos": {
                          "inputs": {
                            "name": "varNumberConvos",
                            "value": 1
                          },
                          "metadata": {
                            "operationMetadataId": "dc24bb1b-6bbb-49e8-982d-10420aad5704"
                          },
                          "runAfter": {},
                          "type": "IncrementVariable"
                        },
                        "Parse_conversation_JSON": {
                          "inputs": {
                            "content": "@items('Apply_to_each')",
                            "schema": {
                              "properties": {
                                "@@odata.etag": {
                                  "type": "string"
                                },
                                "@@odata.id": {
                                  "type": "string"
                                },
                                "conversationstarttime": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "dc686e14-3053-457d-89d5-8770f3a3d0b7"
                          },
                          "runAfter": {
                            "Increment_varNumberConvos": [
                              "Succeeded"
                            ]
                          },
                          "type": "ParseJson"
                        },
                        "See_if_more_recent_convo": {
                          "actions": {
                            "Set_BotNeedsUpdateToCoE_to_true": {
                              "inputs": {
                                "name": "BotNeedsUpdateToCoE",
                                "value": "@true"
                              },
                              "metadata": {
                                "operationMetadataId": "6445c0c7-585f-4130-813b-a97e38bf7a23"
                              },
                              "runAfter": {
                                "Set_varLastLaunched": [
                                  "Succeeded"
                                ]
                              },
                              "type": "SetVariable"
                            },
                            "Set_varLastLaunched": {
                              "inputs": {
                                "name": "varLastLaunched",
                                "value": "@body('Parse_conversation_JSON')?['conversationstarttime']"
                              },
                              "metadata": {
                                "operationMetadataId": "85ff3fb7-46ee-4cef-b79c-2580cc68387e"
                              },
                              "runAfter": {},
                              "type": "SetVariable"
                            }
                          },
                          "expression": {
                            "greater": [
                              "@body('Parse_conversation_JSON')?['conversationstarttime']",
                              "@variables('varLastLaunched')"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "7de89229-58e3-434a-8e0c-d5aaa91f5626"
                          },
                          "runAfter": {
                            "Parse_conversation_JSON": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "foreach": "@outputs('Get_Conversation_Transcripts')?['body/value']",
                      "metadata": {
                        "operationMetadataId": "8d3b7c93-7432-4209-a3cb-a13ee8b096ad"
                      },
                      "runAfter": {
                        "Get_Conversation_Transcripts": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "Get_Conversation_Transcripts": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                          "connectionName": "shared_commondataservice",
                          "operationId": "GetItems_V2"
                        },
                        "parameters": {
                          "$filter": "contains(metadata, '@{outputs('shrink_guid')}') eq true",
                          "dataset": "@triggerOutputs()?['body/admin_environmentcdsmetadataname']",
                          "table": "conversationtranscripts"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "4aa6ae94-a69a-43fa-b011-4b944569bb99"
                      },
                      "runAfter": {
                        "shrink_guid": [
                          "Succeeded"
                        ]
                      },
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      },
                      "type": "OpenApiConnection"
                    },
                    "shrink_guid": {
                      "inputs": "@substring(body('Parse_Bot_JSON')?['ItemInternalId'], 0, 22)",
                      "metadata": {
                        "operationMetadataId": "871ecd31-4241-4bdc-a9b0-1a8fe83c69e8"
                      },
                      "runAfter": {},
                      "type": "Compose"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "6ebbe2d9-5e4c-456c-a693-7e3b303eaba5"
                  },
                  "runAfter": {
                    "reset_varLastLaunched": [
                      "Succeeded"
                    ]
                  },
                  "type": "Scope"
                },
                "Parse_Bot_JSON": {
                  "inputs": {
                    "content": "@items('For_Each_Bot')",
                    "schema": {
                      "properties": {
                        "@@odata.etag": {
                          "type": "string"
                        },
                        "@@odata.id": {
                          "type": "string"
                        },
                        "ItemInternalId": {
                          "type": "string"
                        },
                        "_componentstate_label": {
                          "type": "string"
                        },
                        "_createdby_type": {
                          "type": "string"
                        },
                        "_createdby_value": {
                          "type": "string"
                        },
                        "_language_label": {
                          "type": "string"
                        },
                        "_modifiedby_type": {
                          "type": "string"
                        },
                        "_modifiedby_value": {
                          "type": "string"
                        },
                        "_ownerid_type": {
                          "type": "string"
                        },
                        "_ownerid_value": {
                          "type": "string"
                        },
                        "_owningbusinessunit_type": {
                          "type": "string"
                        },
                        "_owningbusinessunit_value": {
                          "type": "string"
                        },
                        "_owningteam_value": {},
                        "_statecode_label": {
                          "type": "string"
                        },
                        "_statuscode_label": {
                          "type": "string"
                        },
                        "botid": {
                          "type": "string"
                        },
                        "componentidunique": {
                          "type": "string"
                        },
                        "componentstate": {
                          "type": "integer"
                        },
                        "createdon": {
                          "type": "string"
                        },
                        "importsequencenumber": {},
                        "iscustomizable": {
                          "type": "boolean"
                        },
                        "ismanaged": {
                          "type": "boolean"
                        },
                        "language": {
                          "type": "integer"
                        },
                        "modifiedon": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "overriddencreatedon": {},
                        "overwritetime": {
                          "type": "string"
                        },
                        "schemaname": {
                          "type": "string"
                        },
                        "solutionid": {
                          "type": "string"
                        },
                        "statecode": {
                          "type": "integer"
                        },
                        "statuscode": {
                          "type": "integer"
                        },
                        "timezoneruleversionnumber": {},
                        "utcconversiontimezonecode": {},
                        "versionnumber": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "c87867fd-29b8-46e5-bc69-09c501b97841"
                  },
                  "runAfter": {
                    "ReSet_varNumberConvos": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson"
                },
                "ReSet_BotNeedsUpdateToCoE": {
                  "inputs": {
                    "name": "BotNeedsUpdateToCoE",
                    "value": "@false"
                  },
                  "metadata": {
                    "operationMetadataId": "646db882-3744-4906-b253-c68b1af4089e"
                  },
                  "runAfter": {
                    "ReSet_isNewToCoE": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "ReSet_isNewToCoE": {
                  "inputs": {
                    "name": "isNewToCoE",
                    "value": "@false"
                  },
                  "metadata": {
                    "operationMetadataId": "e745f35f-6aa5-4adb-b6ac-16912c712bb9"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                },
                "ReSet_varNumberConvos": {
                  "inputs": {
                    "name": "varNumberConvos",
                    "value": 0
                  },
                  "metadata": {
                    "operationMetadataId": "01d9a6e8-94ee-48d4-954b-fbc3add08868"
                  },
                  "runAfter": {
                    "ReSet_BotNeedsUpdateToCoE": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "See_if_BotNeedsUpdateToCoE": {
                  "actions": {
                    "Condition": {
                      "actions": {
                        "Set_BotNeedsUpdateToCoE_to_true_2": {
                          "inputs": {
                            "name": "BotNeedsUpdateToCoE",
                            "value": "@true"
                          },
                          "metadata": {
                            "operationMetadataId": "ba39adb8-e1fe-4df3-9499-23ed7c986937"
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        }
                      },
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@variables('isNewToCoE')",
                              "@true"
                            ]
                          },
                          {
                            "equals": [
                              "@variables('fullInventory')",
                              "True"
                            ]
                          },
                          {
                            "less": [
                              "@coalesce(formatDateTime(outputs('Get_PVA_from_CoE')?['body/admin_pvamodifiedon'], 'yyyy-MM-dd HH:mm:ss'), '')",
                              "@formatDateTime(body('Parse_Bot_JSON')?['modifiedon'], 'yyyy-MM-dd HH:mm:ss')"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0d6f8df7-6584-4a2b-8fbc-6d2878d38458"
                      },
                      "runAfter": {},
                      "type": "If"
                    }
                  },
                  "description": "Need to set this outside a condition because also setting via last launched above",
                  "metadata": {
                    "operationMetadataId": "fb6b6854-d518-4f55-99bc-94d88a949f24"
                  },
                  "runAfter": {
                    "Get_Usage": [
                      "Succeeded"
                    ]
                  },
                  "type": "Scope"
                },
                "Set_isNewToCoE_to_true_if_not_found": {
                  "inputs": {
                    "name": "isNewToCoE",
                    "value": "@true"
                  },
                  "metadata": {
                    "operationMetadataId": "8c0ec73a-979d-4644-b9a8-7760b918e105"
                  },
                  "runAfter": {
                    "Get_PVA_from_CoE": [
                      "Failed"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Update_or_Insert_Bot_and_Owner": {
                  "actions": {
                    "Only_proceed_if_set_to_needing_update": {
                      "actions": {
                        "Append_updated_Bot_to_ChangedBots": {
                          "inputs": {
                            "name": "ChangedBots",
                            "value": "@body('Parse_Bot_JSON')?['ItemInternalId']"
                          },
                          "metadata": {
                            "operationMetadataId": "8bd03706-45ac-4c4e-9492-8b762223f4ec"
                          },
                          "runAfter": {
                            "Check_if_Orphan_-_Edit": [
                              "Succeeded"
                            ]
                          },
                          "type": "AppendToArrayVariable"
                        },
                        "Check_if_Orphan_-_Edit": {
                          "actions": {
                            "Update_Bot_(orphaned)": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_pvas",
                                  "item/admin_PVAEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                  "item/admin_name": "@body('Parse_Bot_JSON')?['name']",
                                  "item/admin_pvacreatedon": "@body('Parse_Bot_JSON')?['createdon']",
                                  "item/admin_pvadeleted": "@if(equals(substring(body('Parse_Bot_JSON')?['_componentstate_label'], 0, 7), 'Deleted'), true, false)",
                                  "item/admin_pvadisplayname": "@body('Parse_Bot_JSON')?['name']",
                                  "item/admin_pvaenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                  "item/admin_pvaisorphaned": "Yes",
                                  "item/admin_pvalastlaunchedon": "@if(lessOrEquals(variables('varNumberConvos'), 0), body('Parse_Bot_JSON')?['createdon'], variables('varLastLaunched'))",
                                  "item/admin_pvamodifiedon": "@body('Parse_Bot_JSON')?['modifiedon']",
                                  "item/admin_pvanumberlaunches": "@variables('varNumberConvos')",
                                  "item/admin_pvastate": "@body('Parse_Bot_JSON')?['_componentstate_label']",
                                  "recordId": "@body('Parse_Bot_JSON')?['ItemInternalId']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "3652694e-edbb-467f-abf1-5f57a761ebf9"
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "else": {
                            "actions": {
                              "Update_Bot": {
                                "inputs": {
                                  "authentication": "@parameters('$authentication')",
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "UpdateRecord"
                                  },
                                  "parameters": {
                                    "entityName": "admin_pvas",
                                    "item/admin_PVAEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                    "item/admin_PVAOwner@odata.bind": "admin_makers(@{outputs('Maker_Check_-_Edit')?['Body']?['userid']})",
                                    "item/admin_name": "@body('Parse_Bot_JSON')?['name']",
                                    "item/admin_pvacreatedon": "@body('Parse_Bot_JSON')?['createdon']",
                                    "item/admin_pvadeleted": "@if(equals(substring(body('Parse_Bot_JSON')?['_componentstate_label'], 0, 7), 'Deleted'), true, false)",
                                    "item/admin_pvadisplayname": "@body('Parse_Bot_JSON')?['name']",
                                    "item/admin_pvaenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                    "item/admin_pvaisorphaned": "No",
                                    "item/admin_pvalastlaunchedon": "@if(lessOrEquals(variables('varNumberConvos'), 0), body('Parse_Bot_JSON')?['createdon'], variables('varLastLaunched'))",
                                    "item/admin_pvamodifiedon": "@body('Parse_Bot_JSON')?['modifiedon']",
                                    "item/admin_pvanumberlaunches": "@variables('varNumberConvos')",
                                    "item/admin_pvastate": "@body('Parse_Bot_JSON')?['_componentstate_label']",
                                    "recordId": "@body('Parse_Bot_JSON')?['ItemInternalId']"
                                  },
                                  "retryPolicy": {
                                    "count": 10,
                                    "interval": "PT10S",
                                    "type": "exponential"
                                  }
                                },
                                "metadata": {
                                  "operationMetadataId": "3586a448-1a38-4e86-b107-730460f0a90e"
                                },
                                "runAfter": {},
                                "type": "OpenApiConnection"
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@outputs('Maker_Check_-_Edit')?['Body']?['userisorphan']",
                              "True"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "4e7ff877-69a7-460c-8936-92933433099b"
                          },
                          "runAfter": {
                            "Maker_Check_-_Edit": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        },
                        "Maker_Check_-_Edit": {
                          "inputs": {
                            "body": {
                              "text": "@body('Get_Bot_Creator')?['azureactivedirectoryobjectid']",
                              "text_1": "@body('Get_Bot_Creator')?['fullname']"
                            },
                            "host": {
                              "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "7695b688-33df-4aa6-b281-4e8d64a18f78"
                          },
                          "runAfter": {},
                          "type": "Workflow"
                        }
                      },
                      "expression": {
                        "equals": [
                          "@variables('BotNeedsUpdateToCoE')",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5ffff01a-cf68-451c-b9af-c305b2b1c5fb"
                      },
                      "runAfter": {},
                      "type": "If"
                    }
                  },
                  "else": {
                    "actions": {
                      "Append_inserted_Bot_to_ChangedBots": {
                        "inputs": {
                          "name": "ChangedBots",
                          "value": "@body('Parse_Bot_JSON')?['ItemInternalId']"
                        },
                        "metadata": {
                          "operationMetadataId": "a4c96082-0393-432e-a18e-0d147f3fbf71"
                        },
                        "runAfter": {
                          "Check_if_Orphan_-_New": [
                            "Succeeded"
                          ]
                        },
                        "type": "AppendToArrayVariable"
                      },
                      "Check_if_Orphan_-_New": {
                        "actions": {
                          "Create_Bot_(Orphaned)": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "CreateRecord"
                              },
                              "parameters": {
                                "entityName": "admin_pvas",
                                "item/admin_PVAEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                "item/admin_name": "@body('Parse_Bot_JSON')?['name']",
                                "item/admin_pvacreatedon": "@body('Parse_Bot_JSON')?['createdon']",
                                "item/admin_pvadeleted": "@if(equals(substring(body('Parse_Bot_JSON')?['_componentstate_label'], 0, 7), 'Deleted'), true, false)",
                                "item/admin_pvadisplayname": "@body('Parse_Bot_JSON')?['name']",
                                "item/admin_pvaenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                "item/admin_pvaid": "@body('Parse_Bot_JSON')?['ItemInternalId']",
                                "item/admin_pvaisorphaned": "Yes",
                                "item/admin_pvalastlaunchedon": "@if(lessOrEquals(variables('varNumberConvos'), 0), body('Parse_Bot_JSON')?['createdon'], variables('varLastLaunched'))",
                                "item/admin_pvamodifiedon": "@body('Parse_Bot_JSON')?['modifiedon']",
                                "item/admin_pvanumberlaunches": "@variables('varNumberConvos')",
                                "item/admin_pvastate": "@body('Parse_Bot_JSON')?['_componentstate_label']"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "bf263edf-98b6-49a8-985d-d0dc1f2cce15"
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          }
                        },
                        "else": {
                          "actions": {
                            "Create_Bot": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_pvas",
                                  "item/admin_PVAEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                  "item/admin_PVAOwner@odata.bind": "admin_makers(@{outputs('Maker_Check_-_New')?['Body']?['userid']})",
                                  "item/admin_name": "@body('Parse_Bot_JSON')?['name']",
                                  "item/admin_pvacreatedon": "@body('Parse_Bot_JSON')?['createdon']",
                                  "item/admin_pvadeleted": "@if(equals(substring(body('Parse_Bot_JSON')?['_componentstate_label'], 0, 7), 'Deleted'), true, false)",
                                  "item/admin_pvadisplayname": "@body('Parse_Bot_JSON')?['name']",
                                  "item/admin_pvaenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                  "item/admin_pvaid": "@body('Parse_Bot_JSON')?['ItemInternalId']",
                                  "item/admin_pvaisorphaned": "No",
                                  "item/admin_pvalastlaunchedon": "@if(lessOrEquals(variables('varNumberConvos'), 0), body('Parse_Bot_JSON')?['createdon'], variables('varLastLaunched'))",
                                  "item/admin_pvamodifiedon": "@body('Parse_Bot_JSON')?['modifiedon']",
                                  "item/admin_pvanumberlaunches": "@variables('varNumberConvos')",
                                  "item/admin_pvastate": "@body('Parse_Bot_JSON')?['_componentstate_label']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "70f7b4d4-b4d2-48d1-971a-2839137558e8"
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@outputs('Maker_Check_-_New')?['Body']?['userisorphan']",
                            "True"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "e61db4f0-6bc4-4c8e-9bbb-3de29749538c"
                        },
                        "runAfter": {
                          "Maker_Check_-_New": [
                            "Succeeded"
                          ]
                        },
                        "type": "If"
                      },
                      "Maker_Check_-_New": {
                        "inputs": {
                          "body": {
                            "text": "@body('Get_Bot_Creator')?['azureactivedirectoryobjectid']",
                            "text_1": "@body('Get_Bot_Creator')?['fullname']"
                          },
                          "host": {
                            "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "c0a53a2f-b9f9-4f26-a2db-d5d77801624f"
                        },
                        "runAfter": {},
                        "type": "Workflow"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('isNewToCoE')",
                      "@false"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ba0f81b4-a1f4-446f-91eb-4b5909a357d1"
                  },
                  "runAfter": {
                    "See_if_BotNeedsUpdateToCoE": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "reset_varLastLaunched": {
                  "inputs": {
                    "name": "varLastLaunched",
                    "value": "@outputs('Get_PVA_from_CoE')?['body/admin_pvalastlaunchedon']"
                  },
                  "metadata": {
                    "operationMetadataId": "bd8b3c52-6482-4325-8a93-5f726d652541"
                  },
                  "runAfter": {
                    "Set_isNewToCoE_to_true_if_not_found": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "type": "SetVariable"
                }
              },
              "foreach": "@outputs('List_Bots')?['body/value']",
              "metadata": {
                "operationMetadataId": "21a7a6db-2516-4cdb-a290-1d403b79f0be"
              },
              "runAfter": {},
              "type": "Foreach"
            },
            "Update_Components_for_Changed_Bots": {
              "actions": {
                "Apply_to_each_Bot_Component": {
                  "actions": {
                    "Get_Parent_Bot_ID": {
                      "actions": {
                        "GetBotID": {
                          "inputs": "@first(body('List_bot_for_a_botcomponent')?['value'])['botid']",
                          "metadata": {
                            "operationMetadataId": "2101de9c-15e2-4cee-ae32-6b22506860eb"
                          },
                          "runAfter": {
                            "List_bot_for_a_botcomponent": [
                              "Succeeded"
                            ]
                          },
                          "type": "Compose"
                        },
                        "List_bot_for_a_botcomponent": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                              "connectionName": "shared_commondataservice",
                              "operationId": "GetItems_V2"
                            },
                            "parameters": {
                              "$filter": "botcomponentid eq @{body('Parse_Bot_Component_JSON')?['ItemInternalId']}",
                              "dataset": "@triggerOutputs()?['body/admin_environmentcdsmetadataname']",
                              "table": "bot_botcomponentset"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "54b327e5-b383-448d-9ef4-381310976f8a"
                          },
                          "runAfter": {},
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "6c8b3e3a-4b5f-4672-9850-38bdc7c250f8"
                      },
                      "runAfter": {
                        "Parse_Bot_Component_JSON": [
                          "Succeeded"
                        ]
                      },
                      "type": "Scope"
                    },
                    "If_an_updated_bot,_proceed_to_insert_its_components_and_component_flows": {
                      "actions": {
                        "Add_flows": {
                          "actions": {
                            "For_Each_Flow": {
                              "actions": {
                                "Catch:_Sync_of_Flow_in_COE_not_yet_complete_": {
                                  "inputs": "Catch: Sync of Flow in COE not yet complete ",
                                  "metadata": {
                                    "operationMetadataId": "800a6260-f8fa-4873-8f4d-37f5efb50fb9"
                                  },
                                  "runAfter": {
                                    "Get_CoE_version_of_the_flow": [
                                      "Failed",
                                      "TimedOut"
                                    ]
                                  },
                                  "type": "Compose"
                                },
                                "Get_CoE_version_of_the_flow": {
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "ListRecords"
                                    },
                                    "parameters": {
                                      "$filter": "admin_workflowentityid eq @{outputs('Get_WorkflowID_value')}",
                                      "$select": "admin_flowid",
                                      "entityName": "admin_flows"
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "11ad14ae-ae8d-4921-987e-16a5501638db"
                                  },
                                  "runAfter": {
                                    "Get_WorkflowID_value": [
                                      "Succeeded"
                                    ]
                                  },
                                  "runtimeConfiguration": {
                                    "paginationPolicy": {
                                      "minimumItemCount": 100000
                                    }
                                  },
                                  "type": "OpenApiConnection"
                                },
                                "Get_WorkflowID_value": {
                                  "inputs": "@items('For_Each_Flow')?['workflowid']",
                                  "metadata": {
                                    "operationMetadataId": "da18b8c4-0806-4030-9f43-f96e95a11d86"
                                  },
                                  "runAfter": {},
                                  "type": "Compose"
                                },
                                "if_flow_found,_add_PVA_Component_Flow_Lookup": {
                                  "actions": {
                                    "Get_CoE_GUID_for_the_flow": {
                                      "inputs": "@first(body('Get_CoE_version_of_the_flow')?['value'])['admin_flowid']",
                                      "metadata": {
                                        "operationMetadataId": "a2099739-fdef-4a8b-b17f-4ec9730c0db8"
                                      },
                                      "runAfter": {},
                                      "type": "Compose"
                                    },
                                    "Upsert_PVA_Component_Flow_Lookups": {
                                      "inputs": {
                                        "authentication": "@parameters('$authentication')",
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "CreateRecord"
                                        },
                                        "parameters": {
                                          "entityName": "admin_pvacomponentflowlookups",
                                          "item/admin_Flow@odata.bind": "admin_flows(@{outputs('Get_CoE_GUID_for_the_flow')})",
                                          "item/admin_PVAComponent@odata.bind": "admin_pvacomponents(@{body('Parse_Bot_Component_JSON')?['ItemInternalId']})",
                                          "item/admin_name": "@items('For_Each_Flow')?['ItemInternalId']",
                                          "item/admin_pvacomponentflowlookupid": "@items('For_Each_Flow')?['ItemInternalId']"
                                        },
                                        "retryPolicy": {
                                          "count": 10,
                                          "interval": "PT10S",
                                          "type": "exponential"
                                        }
                                      },
                                      "metadata": {
                                        "operationMetadataId": "3e0a03a1-1c53-4e9a-a5d0-b5c71c4805bf"
                                      },
                                      "runAfter": {
                                        "Get_CoE_GUID_for_the_flow": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "OpenApiConnection"
                                    }
                                  },
                                  "expression": {
                                    "greater": [
                                      "@length(body('Get_CoE_version_of_the_flow')?['value'])",
                                      0
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "5e4076fc-d816-4d40-b299-876e3acdcb6f"
                                  },
                                  "runAfter": {
                                    "Catch:_Sync_of_Flow_in_COE_not_yet_complete_": [
                                      "Skipped"
                                    ]
                                  },
                                  "type": "If"
                                }
                              },
                              "foreach": "@outputs('List_flows_for_a_botcomponent')?['body/value']",
                              "metadata": {
                                "operationMetadataId": "6f3117cc-dcaf-40d6-86b4-9e0e9431309e"
                              },
                              "runAfter": {},
                              "type": "Foreach"
                            }
                          },
                          "expression": {
                            "equals": [
                              "@variables('isFlowAction')",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "32401ec8-4f26-4fee-8f9e-fb408ca3b6d9"
                          },
                          "runAfter": {
                            "Create_PVA_Component": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        },
                        "Create_PVA_Component": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord"
                            },
                            "parameters": {
                              "entityName": "admin_pvacomponents",
                              "item/admin_ComponentEnvt@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                              "item/admin_PVABot@odata.bind": "admin_pvas(@{outputs('GetBotID')})",
                              "item/admin_componentcreatedon": "@body('Parse_Bot_Component_JSON')?['createdon']",
                              "item/admin_componentdeleted": false,
                              "item/admin_componentdescription": "@body('Parse_Bot_Component_JSON')?['description']",
                              "item/admin_componentdisplayname": "@body('Parse_Bot_Component_JSON')?['name']",
                              "item/admin_componentmodifiedon": "@body('Parse_Bot_Component_JSON')?['modifiedon']",
                              "item/admin_componentstate": "@body('Parse_Bot_Component_JSON')?['_componentstate_label']",
                              "item/admin_componenttype": "@body('Parse_Bot_Component_JSON')?['_componenttype_label']",
                              "item/admin_componentusesflow": "@variables('isFlowAction')",
                              "item/admin_name": "@body('Parse_Bot_Component_JSON')?['name']",
                              "item/admin_pvacomponentid": "@body('Parse_Bot_Component_JSON')?['ItemInternalId']"
                            },
                            "retryPolicy": {
                              "count": 10,
                              "interval": "PT10S",
                              "type": "exponential"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "c60ca6d7-90f8-4dc2-ab66-983b2da5b922"
                          },
                          "runAfter": {
                            "See_if_flows_exist": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection"
                        },
                        "List_flows_for_a_botcomponent": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                              "connectionName": "shared_commondataservice",
                              "operationId": "GetItems_V2"
                            },
                            "parameters": {
                              "$filter": "botcomponentid eq @{body('Parse_Bot_Component_JSON')?['ItemInternalId']}",
                              "dataset": "@triggerOutputs()?['body/admin_environmentcdsmetadataname']",
                              "table": "botcomponent_workflowset"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "399cec66-b1e3-4df3-abe9-f3801dd93456"
                          },
                          "runAfter": {
                            "ReSet_isFlowAction": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        },
                        "ReSet_isFlowAction": {
                          "inputs": {
                            "name": "isFlowAction",
                            "value": "@false"
                          },
                          "metadata": {
                            "operationMetadataId": "a8ff03aa-aa52-4840-8550-867a28feeb90"
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        },
                        "See_if_flows_exist": {
                          "actions": {
                            "Set_isFlowAction_to_true": {
                              "inputs": {
                                "name": "isFlowAction",
                                "value": "@true"
                              },
                              "metadata": {
                                "operationMetadataId": "a2b6cf66-ce9a-457f-b83d-9630c8117f16"
                              },
                              "runAfter": {},
                              "type": "SetVariable"
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(body('List_flows_for_a_botcomponent')?['value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "3199e532-420d-45dd-8faa-7b12a8bde9e3"
                          },
                          "runAfter": {
                            "List_flows_for_a_botcomponent": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "expression": {
                        "contains": [
                          "@variables('ChangedBots')",
                          "@outputs('GetBotID')"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8573e337-6c82-4a80-90ae-1a52a94c3b83"
                      },
                      "runAfter": {
                        "Get_Parent_Bot_ID": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "Parse_Bot_Component_JSON": {
                      "inputs": {
                        "content": "@items('Apply_to_each_Bot_Component')",
                        "schema": {
                          "properties": {
                            "@@odata.etag": {
                              "type": "string"
                            },
                            "@@odata.id": {
                              "type": "string"
                            },
                            "ItemInternalId": {
                              "type": "string"
                            },
                            "_componentstate_label": {
                              "type": "string"
                            },
                            "_componenttype_label": {
                              "type": "string"
                            },
                            "_createdby_type": {
                              "type": "string"
                            },
                            "_createdby_value": {
                              "type": "string"
                            },
                            "_modifiedby_type": {
                              "type": "string"
                            },
                            "_modifiedby_value": {
                              "type": "string"
                            },
                            "_ownerid_type": {
                              "type": "string"
                            },
                            "_ownerid_value": {
                              "type": "string"
                            },
                            "_owningbusinessunit_type": {
                              "type": "string"
                            },
                            "_owningbusinessunit_value": {
                              "type": "string"
                            },
                            "_owningteam_value": {},
                            "_statecode_label": {
                              "type": "string"
                            },
                            "_statuscode_label": {
                              "type": "string"
                            },
                            "botcomponentid": {
                              "type": "string"
                            },
                            "componentidunique": {
                              "type": "string"
                            },
                            "componentstate": {
                              "type": "integer"
                            },
                            "componenttype": {
                              "type": "integer"
                            },
                            "createdon": {
                              "type": "string"
                            },
                            "description": {},
                            "importsequencenumber": {},
                            "iscustomizable": {
                              "type": "boolean"
                            },
                            "ismanaged": {
                              "type": "boolean"
                            },
                            "modifiedon": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "overriddencreatedon": {},
                            "overwritetime": {
                              "type": "string"
                            },
                            "schemaname": {
                              "type": "string"
                            },
                            "solutionid": {
                              "type": "string"
                            },
                            "statecode": {
                              "type": "integer"
                            },
                            "statuscode": {
                              "type": "integer"
                            },
                            "timezoneruleversionnumber": {},
                            "utcconversiontimezonecode": {},
                            "versionnumber": {
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "f77a6114-955d-4e4a-9065-4741c8f47fa5"
                      },
                      "runAfter": {},
                      "type": "ParseJson"
                    }
                  },
                  "foreach": "@outputs('List_BotComponents')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "8b67306b-a344-4be9-a5b0-388ebc9834a4"
                  },
                  "runAfter": {
                    "List_BotComponents": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Apply_to_each_of_the_Changed_Bots": {
                  "actions": {
                    "Delete_old_records": {
                      "actions": {
                        "Apply_to_each_PVA_Component": {
                          "actions": {
                            "Apply_to_each_component_flow": {
                              "actions": {
                                "Delete_the_component_flow": {
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "DeleteRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_pvacomponentflowlookups",
                                      "recordId": "@items('Apply_to_each_component_flow')?['admin_pvacomponentflowlookupid']"
                                    },
                                    "retryPolicy": {
                                      "count": 10,
                                      "interval": "PT10S",
                                      "type": "exponential"
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "2a1a4216-d0b1-4464-a70e-6e831a65f066"
                                  },
                                  "runAfter": {},
                                  "type": "OpenApiConnection"
                                }
                              },
                              "foreach": "@outputs('List_component_flows')?['body/value']",
                              "metadata": {
                                "operationMetadataId": "0b70955a-36c1-4904-af0b-d1c8fe0e4b87"
                              },
                              "runAfter": {
                                "List_component_flows": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Foreach"
                            },
                            "Delete_the_component": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "DeleteRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_pvacomponents",
                                  "recordId": "@items('Apply_to_each_PVA_Component')?['admin_pvacomponentid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "44aeb998-17a0-4f5c-a161-59fb9e014067"
                              },
                              "runAfter": {
                                "Apply_to_each_component_flow": [
                                  "Succeeded"
                                ]
                              },
                              "type": "OpenApiConnection"
                            },
                            "List_component_flows": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "ListRecords"
                                },
                                "parameters": {
                                  "$filter": "_admin_pvacomponent_value eq @{items('Apply_to_each_PVA_Component')?['admin_pvacomponentid']}",
                                  "$select": "_admin_pvacomponent_value, admin_pvacomponentflowlookupid",
                                  "entityName": "admin_pvacomponentflowlookups"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "778478cb-bc63-4445-8ea4-a83a7eaebff9"
                              },
                              "runAfter": {},
                              "runtimeConfiguration": {
                                "paginationPolicy": {
                                  "minimumItemCount": 100000
                                }
                              },
                              "type": "OpenApiConnection"
                            }
                          },
                          "foreach": "@outputs('List_PVA_Components')?['body/value']",
                          "metadata": {
                            "operationMetadataId": "6bbd554a-4865-4dcb-b6a4-817f014c708a"
                          },
                          "runAfter": {},
                          "type": "Foreach"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "71ccb239-1a75-45d9-aa24-a62af61ffe93"
                      },
                      "runAfter": {
                        "List_PVA_Components": [
                          "Succeeded"
                        ]
                      },
                      "type": "Scope"
                    },
                    "List_PVA_Components": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "_admin_pvabot_value eq @{items('Apply_to_each_of_the_Changed_Bots')}",
                          "$select": "admin_pvacomponentid, _admin_pvabot_value",
                          "entityName": "admin_pvacomponents"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "61e17ce3-bf63-4e7a-af6b-563e0e6696be"
                      },
                      "runAfter": {},
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      },
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@variables('ChangedBots')",
                  "metadata": {
                    "operationMetadataId": "27648d10-842a-46ff-9747-1ca063072916"
                  },
                  "runAfter": {},
                  "type": "Foreach"
                },
                "List_BotComponents": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                      "connectionName": "shared_commondataservice",
                      "operationId": "GetItems_V2"
                    },
                    "parameters": {
                      "$filter": "botcomponentid ne null",
                      "dataset": "@triggerOutputs()?['body/admin_environmentcdsmetadataname']",
                      "table": "botcomponents"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "c7e4898a-db5d-47ca-893d-56195b0b21ce"
                  },
                  "runAfter": {
                    "Apply_to_each_of_the_Changed_Bots": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                }
              },
              "metadata": {
                "operationMetadataId": "0a112d13-8b00-40fc-9032-a8bb4289288c"
              },
              "runAfter": {
                "For_Each_Bot": [
                  "Succeeded"
                ]
              },
              "type": "Scope"
            }
          },
          "metadata": {
            "operationMetadataId": "ddd5a336-f1f2-4b44-859d-9f102744f4b0"
          },
          "runAfter": {
            "Initialize_variable_fullInventory": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "FullInventory": {
          "defaultValue": true,
          "metadata": {
            "description": "Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running ",
            "schemaName": "admin_FullInventory"
          },
          "type": "Bool"
        },
        "Power Automate Environment Variable": {
          "defaultValue": "https://us.flow.microsoft.com/manage/environments/",
          "metadata": {
            "description": "Environment, including geographic location, for Power Automate - Ex for US: https://us.flow.microsoft.com/manage/environments/",
            "schemaName": "admin_PowerAutomateEnvironmentVariable"
          },
          "type": "String"
        }
      },
      "triggers": {
        "When_a_record_is_created_or_updated": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "parameters": {
              "subscriptionRequest/entityname": "admin_environment",
              "subscriptionRequest/message": 4,
              "subscriptionRequest/scope": 4
            }
          },
          "metadata": {
            "operationMetadataId": "6e0614d6-4f90-4354-82f1-1727dc613c50"
          },
          "type": "OpenApiConnectionWebhook"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
