CenterofExcellenceCoreComponents/SolutionPackage/Workflows/AdminSyncTemplatev3Connectors-7E1DDB35-613D-EB11-A813-000D3A8F4AD6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerappsforappmakers": {
        "api": {
          "name": "shared_powerappsforappmakers"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsMakers"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerplatformforadmins_1": {
        "api": {
          "name": "shared_powerplatformforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdmins"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Get_Connectors_and_store_in_CoE_CDS_Entity": {
          "actions": {
            "Apply_to_each_Standard_Connector": {
              "actions": {
                "validate_standard": {
                  "actions": {
                    "Get_Connector_Record": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "admin_name eq '@{items('Apply_to_each_Standard_Connector')?['name']}'",
                          "$select": "admin_connectorid",
                          "$top": 1,
                          "entityName": "admin_connectors"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "f036e1f1-cf33-4ea9-b48e-7cebc450ba80"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    },
                    "insert_or_update": {
                      "actions": {
                        "Update_a_record": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateRecord"
                            },
                            "parameters": {
                              "entityName": "admin_connectors",
                              "item/admin_backgroundcolor": "@items('Apply_to_each_Standard_Connector')?['properties/metadata/brandColor']",
                              "item/admin_connectorcreateddatetime": "@items('Apply_to_each_Standard_Connector')?['properties/createdTime']",
                              "item/admin_connectormodified": "@items('Apply_to_each_Standard_Connector')?['properties/changedTime']",
                              "item/admin_displayname": "@items('Apply_to_each_Standard_Connector')?['properties/displayName']",
                              "item/admin_iconuri": "@items('Apply_to_each_Standard_Connector')?['properties/iconUri']",
                              "item/admin_id": "@items('Apply_to_each_Standard_Connector')?['id']",
                              "item/admin_iscustomapi": false,
                              "item/admin_name": "@items('Apply_to_each_Standard_Connector')?['name']",
                              "item/admin_publisher": "@items('Apply_to_each_Standard_Connector')?['properties/publisher']",
                              "item/admin_tier": "@items('Apply_to_each_Standard_Connector')?['properties/tier']",
                              "recordId": "@first(outputs('Get_Connector_Record')?['body/value'])?['admin_connectorid']"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "2e9a7cec-ff2b-4616-9e15-d8e940992eee"
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        }
                      },
                      "else": {
                        "actions": {
                          "Create_a_new_record": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "CreateRecord"
                              },
                              "parameters": {
                                "entityName": "admin_connectors",
                                "item/admin_backgroundcolor": "@items('Apply_to_each_Standard_Connector')?['properties/metadata/brandColor']",
                                "item/admin_connectorcreateddatetime": "@items('Apply_to_each_Standard_Connector')?['properties/createdTime']",
                                "item/admin_connectormodified": "@items('Apply_to_each_Standard_Connector')?['properties/changedTime']",
                                "item/admin_displayname": "@items('Apply_to_each_Standard_Connector')?['properties/displayName']",
                                "item/admin_iconuri": "@items('Apply_to_each_Standard_Connector')?['properties/iconUri']",
                                "item/admin_id": "@items('Apply_to_each_Standard_Connector')?['id']",
                                "item/admin_iscustomapi": false,
                                "item/admin_name": "@items('Apply_to_each_Standard_Connector')?['name']",
                                "item/admin_publisher": "@items('Apply_to_each_Standard_Connector')?['properties/publisher']",
                                "item/admin_tier": "@items('Apply_to_each_Standard_Connector')?['properties/tier']"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "8534402c-2681-4c1e-a35f-5a2e0f9bcb9c"
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          }
                        }
                      },
                      "expression": {
                        "greater": [
                          "@length(outputs('Get_Connector_Record')?['body/value'])",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f1f9445d-3ddb-4fcb-9b87-e7d55a90f9c6"
                      },
                      "runAfter": {
                        "Get_Connector_Record": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each_Standard_Connector')?['properties/isCustomApi']",
                      "@false"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7feba47f-afab-4c4b-a5dc-7c55adb1f4a9"
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "foreach": "@outputs('Get_Connectors')?['body/value']",
              "metadata": {
                "operationMetadataId": "17e7ab6b-a741-40b3-9eaa-e3b34fdf49cc"
              },
              "runAfter": {
                "Get_Connectors": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_Connectors": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers",
                  "connectionName": "shared_powerappsforappmakers",
                  "operationId": "Get-Connectors"
                },
                "parameters": {
                  "$filter": "environment eq '@{outputs('Get_Environment_as_Admin')?['body/name']}'",
                  "$top": 250,
                  "api-version": "2016-11-01",
                  "showApisWithToS": "true"
                }
              },
              "metadata": {
                "operationMetadataId": "5cd124b5-5979-41ab-accc-15a133d70ea5"
              },
              "runAfter": {
                "Specialty_Connectors": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_initial_Connector_records": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "admin_iscustomapi eq false",
                  "entityName": "admin_connectors"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "e6a66d12-42ff-4ae4-89ba-6ed427b64778"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "Select": {
              "inputs": {
                "from": "@outputs('List_initial_Connector_records')?['body/value']",
                "select": "@item()?['admin_displayname']"
              },
              "metadata": {
                "operationMetadataId": "67a0fba4-7203-4852-9ce4-c7c49ab1e98f"
              },
              "runAfter": {
                "List_initial_Connector_records": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "Specialty_Connectors": {
              "actions": {
                "List_Http": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "admin_id eq 'Http'",
                      "$select": "admin_connectorid",
                      "$top": 1,
                      "entityName": "admin_connectors"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "ee734f72-173b-4708-8fd1-e88f10195826"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                },
                "List_HttpRequestReceived": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "admin_id eq 'HttpRequestReceived'",
                      "$select": "admin_connectorid",
                      "$top": 1,
                      "entityName": "admin_connectors"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "7f9ab01b-be8a-47b6-b309-6d861d8c66ef"
                  },
                  "runAfter": {
                    "insert_or_update_HttpWebhook": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "List_HttpWebhook": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "admin_id eq 'HttpWebhook'",
                      "$select": "admin_connectorid",
                      "$top": 1,
                      "entityName": "admin_connectors"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "7a39cd19-d939-4096-bfa4-e65155ef439b"
                  },
                  "runAfter": {
                    "insert_or_update_Http": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "List_MicrosoftSpatialServices": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "admin_id eq '/providers/Microsoft.PowerApps/apis/shared_microsoftspatialservices'",
                      "$select": "admin_connectorid",
                      "$top": 1,
                      "entityName": "admin_connectors"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "d8e8f7ad-99ad-4c70-9dc2-eda0ff33b8ff"
                  },
                  "runAfter": {
                    "insert_or_update_HttpRequestReceived": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "insert_or_update_Http": {
                  "actions": {
                    "Update_HTTP": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_connectors",
                          "item/admin_displayname": "HTTP",
                          "item/admin_id": "Http",
                          "item/admin_name": "Http",
                          "recordId": "@first(outputs('List_Http')?['body/value'])?['admin_connectorid']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "689185ae-6688-48f0-96a0-607eee475656"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "else": {
                    "actions": {
                      "Add_HTTP": {
                        "inputs": {
                          "authentication": "@parameters('$authentication')",
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "CreateRecord"
                          },
                          "parameters": {
                            "entityName": "admin_connectors",
                            "item/admin_displayname": "HTTP",
                            "item/admin_id": "Http",
                            "item/admin_name": "Http",
                            "item/admin_publisher": "Microsoft",
                            "item/admin_tier": "Premium"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "5c479b83-ac35-4d6c-b9ad-206407f3f898"
                        },
                        "runAfter": {},
                        "type": "OpenApiConnection"
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@length(outputs('List_Http')?['body/value'])",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "71ef4c67-a5db-44a5-915f-db4d7282e8e8"
                  },
                  "runAfter": {
                    "List_Http": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "insert_or_update_HttpRequestReceived": {
                  "actions": {
                    "Update_HttpRequestReceived": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_connectors",
                          "item/admin_displayname": "Http Request Received",
                          "item/admin_id": "HttpRequestReceived",
                          "item/admin_name": "HttpRequestReceived",
                          "recordId": "@first(outputs('List_HttpRequestReceived')?['body/value'])?['admin_connectorid']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "19bb5e75-127e-4456-a77e-c4209b6aadda"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "else": {
                    "actions": {
                      "Add_HttpRequestReceived": {
                        "inputs": {
                          "authentication": "@parameters('$authentication')",
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "CreateRecord"
                          },
                          "parameters": {
                            "entityName": "admin_connectors",
                            "item/admin_displayname": "Http Request Received",
                            "item/admin_id": "HttpRequestReceived",
                            "item/admin_name": "HttpRequestReceived",
                            "item/admin_publisher": "Microsoft",
                            "item/admin_tier": "Premium"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "5c479b83-ac35-4d6c-b9ad-206407f3f898"
                        },
                        "runAfter": {},
                        "type": "OpenApiConnection"
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@length(outputs('List_HttpRequestReceived')?['body/value'])",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "71ef4c67-a5db-44a5-915f-db4d7282e8e8"
                  },
                  "runAfter": {
                    "List_HttpRequestReceived": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "insert_or_update_HttpWebhook": {
                  "actions": {
                    "Update_HttpWebhook": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_connectors",
                          "item/admin_displayname": "Http Webhook",
                          "item/admin_id": "HttpWebhook",
                          "item/admin_name": "HttpWebhook",
                          "recordId": "@first(outputs('List_HttpWebhook')?['body/value'])?['admin_connectorid']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "de32277e-8612-4d34-882a-1433bc259895"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "else": {
                    "actions": {
                      "Add_HttpWebhook": {
                        "inputs": {
                          "authentication": "@parameters('$authentication')",
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "CreateRecord"
                          },
                          "parameters": {
                            "entityName": "admin_connectors",
                            "item/admin_displayname": "Http Webhook",
                            "item/admin_id": "HttpWebhook",
                            "item/admin_name": "HttpWebhook",
                            "item/admin_publisher": "Microsoft",
                            "item/admin_tier": "Premium"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "5c479b83-ac35-4d6c-b9ad-206407f3f898"
                        },
                        "runAfter": {},
                        "type": "OpenApiConnection"
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@length(outputs('List_HttpWebhook')?['body/value'])",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "71ef4c67-a5db-44a5-915f-db4d7282e8e8"
                  },
                  "runAfter": {
                    "List_HttpWebhook": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "insert_or_update_MicrosoftSpatialServices": {
                  "actions": {
                    "Update_MicrosoftSpatialServices": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_connectors",
                          "item/admin_displayname": "Microsoft Spatial Services",
                          "item/admin_id": "/providers/Microsoft.PowerApps/apis/shared_microsoftspatialservices",
                          "item/admin_name": "MicrosoftSpatialServices",
                          "recordId": "@first(outputs('List_MicrosoftSpatialServices')?['body/value'])?['admin_connectorid']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a9130616-1e05-40be-9526-6489018d14bb"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "else": {
                    "actions": {
                      "Add_MicrosoftSpatialServices": {
                        "inputs": {
                          "authentication": "@parameters('$authentication')",
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "CreateRecord"
                          },
                          "parameters": {
                            "entityName": "admin_connectors",
                            "item/admin_displayname": "Microsoft Spatial Services",
                            "item/admin_id": "/providers/Microsoft.PowerApps/apis/shared_microsoftspatialservices",
                            "item/admin_name": "MicrosoftSpatialServices",
                            "item/admin_publisher": "Microsoft",
                            "item/admin_tier": "Premium"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "5c479b83-ac35-4d6c-b9ad-206407f3f898"
                        },
                        "runAfter": {},
                        "type": "OpenApiConnection"
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@length(outputs('List_MicrosoftSpatialServices')?['body/value'])",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "71ef4c67-a5db-44a5-915f-db4d7282e8e8"
                  },
                  "runAfter": {
                    "List_MicrosoftSpatialServices": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                }
              },
              "metadata": {
                "operationMetadataId": "b330093d-15a0-4eab-af9a-467e3a1e56c5"
              },
              "runAfter": {
                "Select": [
                  "Succeeded"
                ]
              },
              "type": "Scope"
            }
          },
          "metadata": {
            "operationMetadataId": "73a0e3ae-7efd-4b20-aed3-6cec4d49b5bd"
          },
          "runAfter": {
            "Get_Default_Environments_Connectors": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Get_Connectors_fails_-_Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_flowinstanceurl": "@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/admin_name": "Admin | Sync Template v3 (Connectors)"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "d201f70b-ec6a-48ba-9855-ed4ae4d1eef1"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            },
            "Terminate_2": {
              "inputs": {
                "runError": {
                  "code": "500",
                  "message": "Get Connectors failed"
                },
                "runStatus": "Failed"
              },
              "metadata": {
                "operationMetadataId": "1223cff9-ee20-4234-8101-036159b1c3dc"
              },
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "type": "Terminate"
            }
          },
          "metadata": {
            "operationMetadataId": "fc57519d-03f6-448f-a8e9-bad1f7237500"
          },
          "runAfter": {
            "Get_Connectors_and_store_in_CoE_CDS_Entity": [
              "Failed"
            ]
          },
          "type": "Scope"
        },
        "Get_Default_Environments_Connectors": {
          "actions": {
            "Filter_to_Default": {
              "inputs": {
                "from": "@outputs('List_Environments_as_Admin')?['body/value']",
                "where": "@equals(item()?['properties/environmentSku'], 'Default')"
              },
              "metadata": {
                "operationMetadataId": "c712b3a0-bbfd-4ce2-a152-a67a194edfd7"
              },
              "runAfter": {
                "List_Environments_as_Admin": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "Get_Default_Envt_if_have_Permissions,_else_get_first_envt": {
              "actions": {
                "Set_to_default": {
                  "inputs": {
                    "name": "varEnvtNameForConnectors",
                    "value": "@{first(body('Filter_to_Default'))?['name']}"
                  },
                  "metadata": {
                    "operationMetadataId": "b85cde35-239a-4742-8ca5-85d88cb4dfb3"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                }
              },
              "else": {
                "actions": {
                  "Set_to_first": {
                    "inputs": {
                      "name": "varEnvtNameForConnectors",
                      "value": "@{first(outputs('List_Environments_as_Admin')?['body/value'])?['name']}"
                    },
                    "metadata": {
                      "operationMetadataId": "a7b1e7c3-ccc0-40f1-bf3a-7bef6b69f392"
                    },
                    "runAfter": {},
                    "type": "SetVariable"
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(body('Filter_to_Default'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "1d087284-15e1-4ff4-b6d5-48f2641ba142"
              },
              "runAfter": {
                "Filter_to_Default": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "Get_Environment_as_Admin": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
                  "connectionName": "shared_powerplatformforadmins_1",
                  "operationId": "GetSingleEnvironment"
                },
                "parameters": {
                  "api-version": "2018-10-01",
                  "environment": "@variables('varEnvtNameForConnectors')"
                }
              },
              "metadata": {
                "operationMetadataId": "ba73d126-0650-4029-b380-64913e2a7d27"
              },
              "runAfter": {
                "Get_Default_Envt_if_have_Permissions,_else_get_first_envt": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection"
            },
            "List_Environments_as_Admin": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
                  "connectionName": "shared_powerplatformforadmins_1",
                  "operationId": "Get-AdminEnvironment"
                },
                "parameters": {
                  "api-version": "2020-09-01"
                }
              },
              "metadata": {
                "operationMetadataId": "c85945de-139c-4a30-9114-2d588ba0aca1"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 5000
                }
              },
              "type": "OpenApiConnection"
            }
          },
          "metadata": {
            "operationMetadataId": "16e9e62c-2669-4298-806d-1d24256b3567"
          },
          "runAfter": {
            "Initialize_varEnvtNameForConnectors": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Initialize_varEnvtNameForConnectors": {
          "inputs": {
            "variables": [
              {
                "name": "varEnvtNameForConnectors",
                "type": "string"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "e9f61408-d566-492a-9690-3011564608e5"
          },
          "runAfter": {
            "Initialize_variable_flowEnvironment": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_flowEnvironment": {
          "description": "Environment location specific Flow URL - remember / at the end",
          "inputs": {
            "variables": [
              {
                "name": "flowEnvironment",
                "type": "string",
                "value": "@parameters('Power Automate Environment Variable')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "a2d4ceae-cf2d-42f7-8a5b-b2e0ad365232"
          },
          "runAfter": {
            "Initialize_variable_today": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_today": {
          "inputs": {
            "variables": [
              {
                "name": "today",
                "type": "string",
                "value": "@{utcNow()}"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "de21beb6-df8d-4221-b54c-4bbdb9face33"
          },
          "runAfter": {},
          "type": "InitializeVariable"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Automate Environment Variable": {
          "defaultValue": "https://us.flow.microsoft.com/manage/environments/",
          "metadata": {
            "description": "Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/",
            "schemaName": "admin_PowerAutomateEnvironmentVariable"
          },
          "type": "String"
        }
      },
      "triggers": {
        "Recurrence": {
          "metadata": {
            "operationMetadataId": "711ccb8d-44c7-446f-8297-4965a412945f"
          },
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "schedule": {
              "hours": [
                "1"
              ]
            }
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
