CenterofExcellenceCoreComponents/SolutionPackage/Workflows/AdminSyncTemplatev3Flows-D9F8DF64-C838-EB11-A813-000D3A1BB495.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_5": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_flowmanagement": {
        "api": {
          "name": "shared_flowmanagement"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAutomateManagement"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365users": {
        "api": {
          "name": "shared_office365users"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreO365Users"
        },
        "runtimeSource": "embedded"
      },
      "shared_webcontents_1": {
        "api": {
          "name": "shared_webcontents"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreHTTPAZUREAD"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Check_if_Environment_Deleted,_terminate_if_true": {
          "actions": {
            "Terminate_for_environments_marked_deleted": {
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {},
              "type": "Terminate"
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_environmentdeleted']",
              "@true"
            ]
          },
          "runAfter": {},
          "type": "If"
        },
        "Get_Flow_fails_-_Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_5",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_environmentname": "@triggerBody()?['admin_displayname']",
                  "item/admin_flowinstanceurl": "@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/admin_name": "Admin | Sync Template v3 (Flows)"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            },
            "Terminate": {
              "inputs": {
                "runError": {
                  "code": "500",
                  "message": "Get Flows Failed"
                },
                "runStatus": "Failed"
              },
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "type": "Terminate"
            }
          },
          "runAfter": {
            "Get_Flows_and_store_them_in_CoE_CDS_Entity": [
              "Failed"
            ]
          },
          "type": "Scope"
        },
        "Get_Flows_and_store_them_in_CoE_CDS_Entity": {
          "actions": {
            "Apply_to_each_Flow": {
              "actions": {
                "Get_Flow_from_CoE": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_5",
                      "operationId": "GetItem"
                    },
                    "parameters": {
                      "$select": "admin_flowid,admin_flowmodifiedon, _admin_derivedowner_value",
                      "entityName": "admin_flows",
                      "recordId": "@items('Apply_to_each_Flow')?['name']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {
                    "Reset_hasBadConnections": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "Reset_hasBadConnections": {
                  "inputs": {
                    "name": "hasBadConnections",
                    "value": "@false"
                  },
                  "runAfter": {
                    "Reset_updateInCoe": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Reset_isNewToCoE": {
                  "inputs": {
                    "name": "isNewToCoE",
                    "value": "@false"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                },
                "Reset_updateInCoe": {
                  "inputs": {
                    "name": "updateInCoe",
                    "value": "@false"
                  },
                  "runAfter": {
                    "Reset_isNewToCoE": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "See_if_flow_already_in_CoE": {
                  "actions": {
                    "Catch_case_where_coe_last_modified_date_is_null_": {
                      "inputs": {
                        "name": "updateInCoe",
                        "value": "@true"
                      },
                      "runAfter": {
                        "LastDateModfiedCoE": [
                          "Failed"
                        ]
                      },
                      "type": "SetVariable"
                    },
                    "Catch_case_where_product_last_modified_date_is_null": {
                      "inputs": {
                        "name": "updateInCoe",
                        "value": "@true"
                      },
                      "runAfter": {
                        "LastDateModifiedProduct": [
                          "Failed"
                        ]
                      },
                      "type": "SetVariable"
                    },
                    "LastDateModfiedCoE": {
                      "inputs": "@coalesce(formatDateTime(outputs('Get_Flow_from_CoE')?['body/admin_flowmodifiedon'], 'yyyy-MM-dd HH:mm:ss'), '')",
                      "runAfter": {
                        "Catch_case_where_product_last_modified_date_is_null": [
                          "Succeeded",
                          "Skipped"
                        ]
                      },
                      "type": "Compose"
                    },
                    "LastDateModifiedProduct": {
                      "inputs": "@formatDateTime(items('Apply_to_each_Flow')?['properties/lastModifiedTime'], 'yyy-MM-dd HH:mm:ss')",
                      "runAfter": {},
                      "type": "Compose"
                    },
                    "Only_proceed_if_changed_since_last_updated_in_CoE_or_FullInventory": {
                      "actions": {
                        "Get_Flow_as_Admin": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement",
                              "connectionName": "shared_flowmanagement",
                              "operationId": "AdminGetFlow"
                            },
                            "parameters": {
                              "environmentName": "@triggerOutputs()?['body/admin_environmentname']",
                              "flowName": "@items('Apply_to_each_Flow')?['name']"
                            },
                            "retryPolicy": {
                              "count": 10,
                              "interval": "PT10S",
                              "type": "exponential"
                            }
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        },
                        "Get_Updated_Flow_Owner": {
                          "actions": {
                            "If_DerivedOwner_is_null,_set_to_Creator": {
                              "actions": {
                                "Set_FlowOwnerID_to_Creator": {
                                  "inputs": {
                                    "name": "FlowOwnerID",
                                    "value": "@{outputs('Get_Flow_as_Admin')?['body/properties/creator/objectId']}"
                                  },
                                  "runAfter": {
                                    "Update_a_row": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "SetVariable"
                                },
                                "Update_a_row": {
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps_5",
                                      "operationId": "UpdateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_flows",
                                      "item/admin_DerivedOwner@odata.bind": "admin_makers(@{outputs('Get_Flow_as_Admin')?['body/properties/creator/objectId']})",
                                      "recordId": "@outputs('Get_Flow_from_CoE')?['body/admin_flowid']"
                                    }
                                  },
                                  "runAfter": {},
                                  "type": "OpenApiConnection"
                                }
                              },
                              "expression": {
                                "equals": [
                                  "@outputs('Get_Flow_from_CoE')?['body/_admin_derivedowner_value']",
                                  "@null"
                                ]
                              },
                              "runAfter": {
                                "Set_FlowOwnerID_to_Derived_Owner": [
                                  "Succeeded"
                                ]
                              },
                              "type": "If"
                            },
                            "Set_FlowOwnerID_to_Derived_Owner": {
                              "inputs": {
                                "name": "FlowOwnerID",
                                "value": "@{outputs('Get_Flow_from_CoE')?['body/_admin_derivedowner_value']}"
                              },
                              "runAfter": {},
                              "type": "SetVariable"
                            }
                          },
                          "description": "We augment the products concept of owner for flow in order to re-assign owners. So this scope is needed to get the identity we will use",
                          "runAfter": {
                            "Prepare_Connection_Information_edit": [
                              "Succeeded"
                            ]
                          },
                          "type": "Scope"
                        },
                        "Parse_JSON_2": {
                          "inputs": {
                            "content": "@body('Get_Flow_as_Admin')",
                            "schema": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "properties": {
                                  "properties": {
                                    "apiId": {
                                      "type": "string"
                                    },
                                    "connectionReferences": {
                                      "type": "array"
                                    },
                                    "createdTime": {
                                      "type": "string"
                                    },
                                    "creator": {
                                      "properties": {
                                        "objectId": {
                                          "type": "string"
                                        },
                                        "tenantId": {
                                          "type": "string"
                                        },
                                        "userId": {
                                          "type": "string"
                                        },
                                        "userType": {
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "definitionSummary": {
                                      "properties": {
                                        "actions": {
                                          "items": {
                                            "properties": {
                                              "kind": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string"
                                              }
                                            },
                                            "type": "object"
                                          },
                                          "type": "array"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "triggers": {
                                          "items": {
                                            "properties": {
                                              "kind": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string"
                                              }
                                            },
                                            "type": "object"
                                          },
                                          "type": "array"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "displayName": {
                                      "type": "string"
                                    },
                                    "environment": {
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "flowFailureAlertSubscribed": {
                                      "type": "boolean"
                                    },
                                    "flowSuspensionReason": {
                                      "type": "string"
                                    },
                                    "lastModifiedTime": {
                                      "type": "string"
                                    },
                                    "provisioningMethod": {
                                      "type": "string"
                                    },
                                    "referencedResources": {
                                      "type": "array"
                                    },
                                    "sharingType": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "triggerSchema": {
                                      "properties": {
                                        "properties": {
                                          "type": "object"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "userType": {
                                      "type": "string"
                                    },
                                    "workflowEntityId": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "runAfter": {
                            "Get_Flow_as_Admin": [
                              "Succeeded"
                            ]
                          },
                          "type": "ParseJson"
                        },
                        "Prepare_Connection_Information_edit": {
                          "actions": {
                            "Select": {
                              "inputs": {
                                "from": "@body('Parse_JSON_2')?['properties']?['definitionSummary']?['actions']",
                                "select": "@item()?['type']"
                              },
                              "runAfter": {},
                              "type": "Select"
                            },
                            "add_HTTP_Webhook_edit": {
                              "inputs": "@if(contains(body('Select'), 'HttpWebhook'), ',HTTP Webhook', '')",
                              "runAfter": {
                                "add_HTTP_edit": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Compose"
                            },
                            "add_HTTP_edit": {
                              "inputs": "@if(contains(body('Select'), 'Http'), ',HTTP', '')",
                              "runAfter": {
                                "Select": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Compose"
                            },
                            "check_if_connection_reference_edit_exist": {
                              "actions": {
                                "Compose_edit_comma_separated_connector_list": {
                                  "inputs": "@concat(join(body('Select_Connector_Display_Name_edit'), ','), outputs('add_HTTP_Webhook_edit'), outputs('add_HTTP_edit'))",
                                  "runAfter": {
                                    "Select_Connector_Display_Name_edit": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Compose"
                                },
                                "Parse_Connection_JSON": {
                                  "inputs": {
                                    "content": "@outputs('Get_Flow_as_Admin')?['body/properties/connectionReferences']",
                                    "schema": {
                                      "items": {
                                        "properties": {
                                          "apiDefinition": {
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "name": {
                                                "type": "string"
                                              },
                                              "properties": {
                                                "properties": {
                                                  "capabilities": {
                                                    "items": {
                                                      "type": "string"
                                                    },
                                                    "type": "array"
                                                  },
                                                  "changedTime": {
                                                    "type": "string"
                                                  },
                                                  "connectionParameters": {
                                                    "properties": {
                                                      "token": {
                                                        "properties": {
                                                          "oAuthSettings": {
                                                            "properties": {
                                                              "clientId": {
                                                                "type": "string"
                                                              },
                                                              "customParameters": {
                                                                "properties": {
                                                                  "loginUri": {
                                                                    "properties": {
                                                                      "value": {
                                                                        "type": "string"
                                                                      }
                                                                    },
                                                                    "type": "object"
                                                                  },
                                                                  "loginUriAAD": {
                                                                    "properties": {
                                                                      "value": {
                                                                        "type": "string"
                                                                      }
                                                                    },
                                                                    "type": "object"
                                                                  },
                                                                  "resourceUri": {
                                                                    "properties": {
                                                                      "value": {
                                                                        "type": "string"
                                                                      }
                                                                    },
                                                                    "type": "object"
                                                                  }
                                                                },
                                                                "type": "object"
                                                              },
                                                              "identityProvider": {
                                                                "type": "string"
                                                              },
                                                              "properties": {
                                                                "properties": {
                                                                  "AzureActiveDirectoryResourceId": {
                                                                    "type": "string"
                                                                  },
                                                                  "IsFirstParty": {
                                                                    "type": "string"
                                                                  }
                                                                },
                                                                "type": "object"
                                                              },
                                                              "redirectMode": {
                                                                "type": "string"
                                                              },
                                                              "redirectUrl": {
                                                                "type": "string"
                                                              },
                                                              "scopes": {
                                                                "type": "array"
                                                              }
                                                            },
                                                            "type": "object"
                                                          },
                                                          "type": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "type": "object"
                                                      }
                                                    },
                                                    "type": "object"
                                                  },
                                                  "createdTime": {
                                                    "type": "string"
                                                  },
                                                  "description": {
                                                    "type": "string"
                                                  },
                                                  "displayName": {
                                                    "type": "string"
                                                  },
                                                  "iconUri": {
                                                    "type": "string"
                                                  },
                                                  "isCustomApi": {
                                                    "type": "boolean"
                                                  },
                                                  "metadata": {
                                                    "properties": {
                                                      "brandColor": {
                                                        "type": "string"
                                                      },
                                                      "source": {
                                                        "type": "string"
                                                      },
                                                      "version": {
                                                        "properties": {
                                                          "current": {
                                                            "type": "string"
                                                          },
                                                          "previous": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "type": "object"
                                                      }
                                                    },
                                                    "type": "object"
                                                  },
                                                  "primaryRuntimeUrl": {
                                                    "type": "string"
                                                  },
                                                  "purpose": {
                                                    "type": "string"
                                                  },
                                                  "runtimeUrls": {
                                                    "items": {
                                                      "type": "string"
                                                    },
                                                    "type": "array"
                                                  },
                                                  "scopes": {
                                                    "properties": {
                                                      "will": {
                                                        "type": "array"
                                                      },
                                                      "wont": {
                                                        "type": "array"
                                                      }
                                                    },
                                                    "type": "object"
                                                  },
                                                  "tier": {
                                                    "type": "string"
                                                  }
                                                },
                                                "type": "object"
                                              },
                                              "type": {
                                                "type": "string"
                                              }
                                            },
                                            "type": "object"
                                          },
                                          "connectionName": {
                                            "type": "string"
                                          },
                                          "displayName": {
                                            "type": "string"
                                          },
                                          "id": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id"
                                        ],
                                        "type": "object"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "runAfter": {},
                                  "type": "ParseJson"
                                },
                                "Select_Connector_Display_Name_edit": {
                                  "inputs": {
                                    "from": "@body('Parse_Connection_JSON')",
                                    "select": "@item()?['displayName']"
                                  },
                                  "runAfter": {
                                    "Parse_Connection_JSON": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Select"
                                }
                              },
                              "expression": {
                                "not": {
                                  "equals": [
                                    "@outputs('Get_Flow_as_Admin')?['body/properties/connectionReferences']",
                                    "@null"
                                  ]
                                }
                              },
                              "runAfter": {
                                "add_HTTP_Webhook_edit": [
                                  "Succeeded"
                                ]
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            "Parse_JSON_2": [
                              "Succeeded"
                            ]
                          },
                          "type": "Scope"
                        },
                        "Store_Flow_Connection_References": {
                          "actions": {
                            "Check_if_Flow_Connection_References_are_not_null": {
                              "actions": {
                                "Apply_to_each_Flow_Connection_Reference": {
                                  "actions": {
                                    "Connecor_Name": {
                                      "inputs": "@last(outputs('split_on_slash'))",
                                      "runAfter": {
                                        "split_on_slash": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "Compose"
                                    },
                                    "ConnectorID": {
                                      "inputs": "@items('Apply_to_each_Flow_Connection_Reference')?['id']",
                                      "runAfter": {},
                                      "type": "Compose"
                                    },
                                    "Filter_current_flow_Connector": {
                                      "inputs": {
                                        "from": "@outputs('List_Connectors')?['body/value']",
                                        "where": "@equals(item()?['admin_name'], outputs('Connecor_Name'))"
                                      },
                                      "runAfter": {
                                        "Connecor_Name": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "Query"
                                    },
                                    "mark_broken_connector_or_insert_connection_reference": {
                                      "actions": {
                                        "Create_a_new_Flow_Connection_Reference": {
                                          "inputs": {
                                            "authentication": "@parameters('$authentication')",
                                            "host": {
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                              "connectionName": "shared_commondataserviceforapps_5",
                                              "operationId": "CreateRecord"
                                            },
                                            "parameters": {
                                              "entityName": "admin_connectionreferences",
                                              "item/admin_Connector@odata.bind": "admin_connectors(@{first(body('Filter_current_flow_Connector'))?['admin_connectorid']})",
                                              "item/admin_Flow@odata.bind": "admin_flows(@{items('Apply_to_each_Flow')?['name']})",
                                              "item/admin_displayname": "@coalesce(items('Apply_to_each_Flow_Connection_Reference')?['displayName'], 'No Display Name For Connector')"
                                            },
                                            "retryPolicy": {
                                              "count": 10,
                                              "interval": "PT10S",
                                              "type": "exponential"
                                            }
                                          },
                                          "runAfter": {},
                                          "type": "OpenApiConnection"
                                        }
                                      },
                                      "else": {
                                        "actions": {
                                          "Set_hasBadConnections_true": {
                                            "inputs": {
                                              "name": "hasBadConnections",
                                              "value": "@true"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                          }
                                        }
                                      },
                                      "expression": {
                                        "greater": [
                                          "@length(body('Filter_current_flow_Connector'))",
                                          0
                                        ]
                                      },
                                      "runAfter": {
                                        "Filter_current_flow_Connector": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "If"
                                    },
                                    "split_on_slash": {
                                      "inputs": "@split(outputs('ConnectorID'), '/')",
                                      "runAfter": {
                                        "ConnectorID": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "Compose"
                                    }
                                  },
                                  "foreach": "@body('Filter_non_custom')",
                                  "runAfter": {
                                    "Filter_non_custom": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Foreach"
                                },
                                "Apply_to_each_Flow_Custom_Connection_Reference": {
                                  "actions": {
                                    "Connecor_Name_custom": {
                                      "inputs": "@last(outputs('split_on_slash_custom'))",
                                      "runAfter": {
                                        "split_on_slash_custom": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "Compose"
                                    },
                                    "ConnectorID_custom": {
                                      "inputs": "@items('Apply_to_each_Flow_Custom_Connection_Reference')?['id']",
                                      "runAfter": {},
                                      "type": "Compose"
                                    },
                                    "Filter_current_flow_Connector_custom": {
                                      "inputs": {
                                        "from": "@outputs('List_Connectors')?['body/value']",
                                        "where": "@equals(item()?['admin_name'], outputs('Connecor_Name_custom'))"
                                      },
                                      "runAfter": {
                                        "Connecor_Name_custom": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "Query"
                                    },
                                    "mark_broken_connector_or_insert_connection_reference_for_custom": {
                                      "actions": {
                                        "Create_a_new_Flow_Connection_Reference_for_Custom": {
                                          "inputs": {
                                            "authentication": "@parameters('$authentication')",
                                            "host": {
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                              "connectionName": "shared_commondataserviceforapps_5",
                                              "operationId": "CreateRecord"
                                            },
                                            "parameters": {
                                              "entityName": "admin_connectionreferences",
                                              "item/admin_Connector@odata.bind": "admin_connectors(@{first(body('Filter_current_flow_Connector_custom'))?['admin_connectorid']})",
                                              "item/admin_Flow@odata.bind": "admin_flows(@{items('Apply_to_each_Flow')?['name']})",
                                              "item/admin_displayname": "@coalesce(items('Apply_to_each_Flow_Custom_Connection_Reference')?['displayName'], 'No Display Name For Connector')"
                                            },
                                            "retryPolicy": {
                                              "count": 10,
                                              "interval": "PT10S",
                                              "type": "exponential"
                                            }
                                          },
                                          "runAfter": {},
                                          "type": "OpenApiConnection"
                                        }
                                      },
                                      "else": {
                                        "actions": {
                                          "Set_hasBadConnections_true_custom": {
                                            "inputs": {
                                              "name": "hasBadConnections",
                                              "value": "@true"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                          }
                                        }
                                      },
                                      "expression": {
                                        "greater": [
                                          "@length(body('Filter_current_flow_Connector_custom'))",
                                          0
                                        ]
                                      },
                                      "runAfter": {
                                        "Filter_current_flow_Connector_custom": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "If"
                                    },
                                    "split_on_slash_custom": {
                                      "inputs": "@split(outputs('ConnectorID_custom'), '/')",
                                      "runAfter": {
                                        "ConnectorID_custom": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "Compose"
                                    }
                                  },
                                  "foreach": "@body('Filter_custom')",
                                  "runAfter": {
                                    "Filter_custom": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Foreach"
                                },
                                "Filter_custom": {
                                  "inputs": {
                                    "from": "@body('Parse_Connection_JSON')",
                                    "where": "@equals(item()?['apiDefinition']?['properties']?['isCustomApi'], true)"
                                  },
                                  "runAfter": {
                                    "Apply_to_each_Flow_Connection_Reference": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Query"
                                },
                                "Filter_non_custom": {
                                  "inputs": {
                                    "from": "@body('Parse_Connection_JSON')",
                                    "where": "@equals(item()?['apiDefinition']?['properties']?['isCustomApi'], false)"
                                  },
                                  "runAfter": {},
                                  "type": "Query"
                                },
                                "if_found_bad_connection,_mark_in_flow_record": {
                                  "actions": {
                                    "Mark_flow_as_having_broken_connections": {
                                      "inputs": {
                                        "authentication": "@parameters('$authentication')",
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                          "connectionName": "shared_commondataserviceforapps_5",
                                          "operationId": "UpdateRecord"
                                        },
                                        "parameters": {
                                          "entityName": "admin_flows",
                                          "item/admin_flowcontainsbrokenconnections": true,
                                          "recordId": "@items('Apply_to_each_Flow')?['name']"
                                        }
                                      },
                                      "runAfter": {},
                                      "type": "OpenApiConnection"
                                    }
                                  },
                                  "expression": {
                                    "equals": [
                                      "@variables('hasBadConnections')",
                                      "@true"
                                    ]
                                  },
                                  "runAfter": {
                                    "Apply_to_each_Flow_Custom_Connection_Reference": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "If"
                                }
                              },
                              "expression": {
                                "not": {
                                  "equals": [
                                    "@outputs('Get_Flow_as_Admin')?['body/properties/connectionReferences']",
                                    "@null"
                                  ]
                                }
                              },
                              "runAfter": {
                                "Delete_this_flows_existing_connection_references": [
                                  "Succeeded"
                                ]
                              },
                              "type": "If"
                            },
                            "Delete_this_flows_existing_connection_references": {
                              "actions": {
                                "Delete_this_record": {
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps_5",
                                      "operationId": "DeleteRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_connectionreferences",
                                      "recordId": "@items('Delete_this_flows_existing_connection_references')?['admin_connectionreferenceid']"
                                    },
                                    "retryPolicy": {
                                      "count": 10,
                                      "interval": "PT10S",
                                      "type": "exponential"
                                    }
                                  },
                                  "runAfter": {},
                                  "type": "OpenApiConnection"
                                }
                              },
                              "foreach": "@outputs('List_This_Flow_Existing_Connection_References')?['body/value']",
                              "runAfter": {
                                "List_This_Flow_Existing_Connection_References": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Foreach"
                            },
                            "List_This_Flow_Existing_Connection_References": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps_5",
                                  "operationId": "ListRecords"
                                },
                                "parameters": {
                                  "$filter": "_admin_flow_value eq '@{items('Apply_to_each_Flow')?['name']}'",
                                  "$select": "admin_connectionreferenceid",
                                  "entityName": "admin_connectionreferences"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "runAfter": {},
                              "runtimeConfiguration": {
                                "paginationPolicy": {
                                  "minimumItemCount": 100000
                                }
                              },
                              "type": "OpenApiConnection"
                            }
                          },
                          "runAfter": {
                            "Upsert_Flow_Details": [
                              "Succeeded"
                            ]
                          },
                          "type": "Scope"
                        },
                        "Upsert_Flow_Details": {
                          "actions": {
                            "Get_Flow_Owner_profile": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                                  "connectionName": "shared_office365users",
                                  "operationId": "UserProfile_V2"
                                },
                                "parameters": {
                                  "$select": "city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id",
                                  "id": "@variables('FlowOwnerID')"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            },
                            "Switch_on_Flow_Owner_Lookup": {
                              "cases": {
                                "200_Success": {
                                  "actions": {
                                    "Find_Flow_Maker": {
                                      "inputs": {
                                        "authentication": "@parameters('$authentication')",
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                          "connectionName": "shared_commondataserviceforapps_5",
                                          "operationId": "ListRecords"
                                        },
                                        "parameters": {
                                          "$filter": "admin_makerid eq @{variables('FlowOwnerID')}",
                                          "$select": "admin_makerid",
                                          "entityName": "admin_makers"
                                        },
                                        "retryPolicy": {
                                          "count": 10,
                                          "interval": "PT10S",
                                          "type": "exponential"
                                        }
                                      },
                                      "runAfter": {},
                                      "runtimeConfiguration": {
                                        "paginationPolicy": {
                                          "minimumItemCount": 100000
                                        }
                                      },
                                      "type": "OpenApiConnection"
                                    },
                                    "Update_Flow_record": {
                                      "inputs": {
                                        "authentication": "@parameters('$authentication')",
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                          "connectionName": "shared_commondataserviceforapps_5",
                                          "operationId": "UpdateRecord"
                                        },
                                        "parameters": {
                                          "entityName": "admin_flows",
                                          "item/admin_DerivedOwner@odata.bind": "admin_makers(@{variables('FlowOwnerID')})",
                                          "item/admin_FlowCreator@odata.bind": "admin_makers(@{body('Get_Flow_as_Admin')?['properties']?['creator']?['objectId']})",
                                          "item/admin_FlowEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                          "item/admin_city": "@body('Get_Flow_Owner_profile')?['city']",
                                          "item/admin_country": "@body('Get_Flow_Owner_profile')?['country']",
                                          "item/admin_department": "@body('Get_Flow_Owner_profile')?['department']",
                                          "item/admin_displayname": "@items('Apply_to_each_Flow')?['properties/displayName']",
                                          "item/admin_flowconnections": "@outputs('Compose_edit_comma_separated_connector_list')",
                                          "item/admin_flowcontainsbrokenconnections": false,
                                          "item/admin_flowcreatedon": "@items('Apply_to_each_Flow')?['properties']?['createdTime']",
                                          "item/admin_flowcreatorupn": "@body('Get_Flow_as_Admin')?['properties']?['creator']?['userId']",
                                          "item/admin_flowdeleted": false,
                                          "item/admin_flowdescription": "@body('Parse_JSON_2')?['properties']?['definitionSummary']?['description']",
                                          "item/admin_flowenvironmentdisplayname": "@triggerBody()?['admin_displayname']",
                                          "item/admin_flowenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                          "item/admin_flowmakerdisplayname": "@body('Get_Flow_Owner_profile')?['displayName']",
                                          "item/admin_flowmodifiedon": "@items('Apply_to_each_Flow')?['properties']?['lastModifiedTime']",
                                          "item/admin_flowstate": "@body('Get_Flow_as_Admin')['properties']['state']",
                                          "item/admin_workflowentityid": "@body('Parse_JSON_2')?['properties']?['workflowEntityId']",
                                          "item/cr5d5_flowisorphaned": "no",
                                          "recordId": "@items('Apply_to_each_Flow')?['name']"
                                        },
                                        "retryPolicy": {
                                          "count": 10,
                                          "interval": "PT10S",
                                          "type": "exponential"
                                        }
                                      },
                                      "runAfter": {
                                        "Update_or_Insert_Flow_Maker": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "OpenApiConnection"
                                    },
                                    "Update_or_Insert_Flow_Maker": {
                                      "actions": {
                                        "Update_Flow_Maker": {
                                          "inputs": {
                                            "authentication": "@parameters('$authentication')",
                                            "host": {
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                              "connectionName": "shared_commondataserviceforapps_5",
                                              "operationId": "UpdateRecord"
                                            },
                                            "parameters": {
                                              "entityName": "admin_makers",
                                              "item/admin_city": "@outputs('Get_Flow_Owner_profile')?['body/city']",
                                              "item/admin_country": "@outputs('Get_Flow_Owner_profile')?['body/country']",
                                              "item/admin_department": "@outputs('Get_Flow_Owner_profile')?['body/department']",
                                              "item/admin_displayname": "@outputs('Get_Flow_Owner_profile')?['body/displayName']",
                                              "item/admin_jobtitle": "@outputs('Get_Flow_Owner_profile')?['body/jobTitle']",
                                              "item/admin_makerisorphaned": false,
                                              "item/admin_office": "@outputs('Get_Flow_Owner_profile')?['body/officeLocation']",
                                              "item/admin_userprincipalname": "@outputs('Get_Flow_Owner_profile')?['body/userPrincipalName']",
                                              "recordId": "@variables('FlowOwnerID')"
                                            },
                                            "retryPolicy": {
                                              "count": 10,
                                              "interval": "PT10S",
                                              "type": "exponential"
                                            }
                                          },
                                          "runAfter": {},
                                          "type": "OpenApiConnection"
                                        }
                                      },
                                      "else": {
                                        "actions": {
                                          "Create_Flow_Maker": {
                                            "inputs": {
                                              "authentication": "@parameters('$authentication')",
                                              "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                "connectionName": "shared_commondataserviceforapps_5",
                                                "operationId": "CreateRecord"
                                              },
                                              "parameters": {
                                                "entityName": "admin_makers",
                                                "item/admin_city": "@outputs('Get_Flow_Owner_profile')?['body/city']",
                                                "item/admin_country": "@outputs('Get_Flow_Owner_profile')?['body/country']",
                                                "item/admin_department": "@outputs('Get_Flow_Owner_profile')?['body/department']",
                                                "item/admin_displayname": "@outputs('Get_Flow_Owner_profile')?['body/displayName']",
                                                "item/admin_jobtitle": "@outputs('Get_Flow_Owner_profile')?['body/jobTitle']",
                                                "item/admin_makerid": "@variables('FlowOwnerID')",
                                                "item/admin_makerisorphaned": false,
                                                "item/admin_office": "@outputs('Get_Flow_Owner_profile')?['body/officeLocation']",
                                                "item/admin_userprincipalname": "@outputs('Get_Flow_Owner_profile')?['body/userPrincipalName']"
                                              },
                                              "retryPolicy": {
                                                "count": 10,
                                                "interval": "PT10S",
                                                "type": "exponential"
                                              }
                                            },
                                            "runAfter": {},
                                            "type": "OpenApiConnection"
                                          }
                                        }
                                      },
                                      "expression": {
                                        "greater": [
                                          "@length(outputs('Find_Flow_Maker')?['body/value'])",
                                          0
                                        ]
                                      },
                                      "runAfter": {
                                        "Find_Flow_Maker": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "If"
                                    }
                                  },
                                  "case": 200
                                },
                                "404_User_Not_Found": {
                                  "actions": {
                                    "Look_up_in_AD_for_Service_Principles_Editted_Flow": {
                                      "inputs": {
                                        "authentication": "@parameters('$authentication')",
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                          "connectionName": "shared_webcontents_1",
                                          "operationId": "InvokeHttp"
                                        },
                                        "parameters": {
                                          "request/method": "GET",
                                          "request/url": "https://graph.microsoft.com/v1.0/servicePrincipals/@{variables('FlowOwnerID')}"
                                        }
                                      },
                                      "runAfter": {},
                                      "type": "OpenApiConnection"
                                    },
                                    "Switch_Editted_Flow_Service_Principle_Check": {
                                      "cases": {
                                        "404:_Orphaned_Flow": {
                                          "actions": {
                                            "Update_Flow_record_(creator_not_found)": {
                                              "inputs": {
                                                "authentication": "@parameters('$authentication')",
                                                "host": {
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                  "connectionName": "shared_commondataserviceforapps_5",
                                                  "operationId": "UpdateRecord"
                                                },
                                                "parameters": {
                                                  "entityName": "admin_flows",
                                                  "item/admin_FlowEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                                  "item/admin_displayname": "@items('Apply_to_each_Flow')?['properties/displayName']",
                                                  "item/admin_flowconnections": "@outputs('Compose_edit_comma_separated_connector_list')",
                                                  "item/admin_flowcontainsbrokenconnections": false,
                                                  "item/admin_flowcreatedon": "@items('Apply_to_each_Flow')?['properties']?['createdTime']",
                                                  "item/admin_flowcreatorupn": "@body('Get_Flow_as_Admin')?['properties']?['creator']?['userId']",
                                                  "item/admin_flowdeleted": false,
                                                  "item/admin_flowdescription": "@body('Parse_JSON_2')?['properties']?['definitionSummary']?['description']",
                                                  "item/admin_flowenvironmentdisplayname": "@triggerBody()?['admin_displayname']",
                                                  "item/admin_flowenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                                  "item/admin_flowmodifiedon": "@items('Apply_to_each_Flow')?['properties']?['lastModifiedTime']",
                                                  "item/admin_flowstate": "@body('Get_Flow_as_Admin')['properties']['state']",
                                                  "item/admin_workflowentityid": "@body('Parse_JSON_2')?['properties']?['workflowEntityId']",
                                                  "item/cr5d5_flowisorphaned": "yes",
                                                  "recordId": "@items('Apply_to_each_Flow')?['name']"
                                                },
                                                "retryPolicy": {
                                                  "count": 10,
                                                  "interval": "PT10S",
                                                  "type": "exponential"
                                                }
                                              },
                                              "runAfter": {},
                                              "type": "OpenApiConnection"
                                            }
                                          },
                                          "case": 404
                                        },
                                        "Case_200:_Service_Principle_Owner": {
                                          "actions": {
                                            "Find_Flow_Maker_Service_Principle": {
                                              "inputs": {
                                                "authentication": "@parameters('$authentication')",
                                                "host": {
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                  "connectionName": "shared_commondataserviceforapps_5",
                                                  "operationId": "ListRecords"
                                                },
                                                "parameters": {
                                                  "$filter": "admin_makerid eq @{variables('FlowOwnerID')}",
                                                  "$select": "admin_makerid",
                                                  "entityName": "admin_makers"
                                                }
                                              },
                                              "runAfter": {},
                                              "type": "OpenApiConnection"
                                            },
                                            "Update_Flow_Record_Service_Principle_Owned": {
                                              "inputs": {
                                                "authentication": "@parameters('$authentication')",
                                                "host": {
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                  "connectionName": "shared_commondataserviceforapps_5",
                                                  "operationId": "UpdateRecord"
                                                },
                                                "parameters": {
                                                  "entityName": "admin_flows",
                                                  "item/admin_DerivedOwner@odata.bind": "admin_makers(@{variables('FlowOwnerID')})",
                                                  "item/admin_FlowCreator@odata.bind": "admin_makers(@{body('Get_Flow_as_Admin')?['properties']?['creator']?['objectId']})",
                                                  "item/admin_FlowEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                                  "item/admin_displayname": "@items('Apply_to_each_Flow')?['properties/displayName']",
                                                  "item/admin_flowconnections": "@outputs('Compose_edit_comma_separated_connector_list')",
                                                  "item/admin_flowcontainsbrokenconnections": false,
                                                  "item/admin_flowcreatedon": "@items('Apply_to_each_Flow')?['properties']?['createdTime']",
                                                  "item/admin_flowcreatorupn": "@body('Get_Flow_as_Admin')?['properties']?['creator']?['userId']",
                                                  "item/admin_flowdeleted": false,
                                                  "item/admin_flowdescription": "@body('Parse_JSON_2')?['properties']?['definitionSummary']?['description']",
                                                  "item/admin_flowenvironmentdisplayname": "@triggerBody()?['admin_displayname']",
                                                  "item/admin_flowenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                                  "item/admin_flowmakerdisplayname": "@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')?['body']?['appDisplayName']",
                                                  "item/admin_flowmodifiedon": "@items('Apply_to_each_Flow')?['properties']?['lastModifiedTime']",
                                                  "item/admin_flowstate": "@body('Get_Flow_as_Admin')['properties']['state']",
                                                  "item/admin_workflowentityid": "@body('Parse_JSON_2')?['properties']?['workflowEntityId']",
                                                  "item/cr5d5_flowisorphaned": "no",
                                                  "recordId": "@items('Apply_to_each_Flow')?['name']"
                                                }
                                              },
                                              "runAfter": {
                                                "Update_or_Insert_Flow_Maker_Service_Principle": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "type": "OpenApiConnection"
                                            },
                                            "Update_or_Insert_Flow_Maker_Service_Principle": {
                                              "actions": {
                                                "Update_Service_Principle_Owner": {
                                                  "inputs": {
                                                    "authentication": "@parameters('$authentication')",
                                                    "host": {
                                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                      "connectionName": "shared_commondataserviceforapps_5",
                                                      "operationId": "UpdateRecord"
                                                    },
                                                    "parameters": {
                                                      "entityName": "admin_makers",
                                                      "item/admin_displayname": "@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')?['body']?['appDisplayName']",
                                                      "item/admin_makerisorphaned": false,
                                                      "item/admin_userisserviceprinciple": true,
                                                      "item/admin_userprincipalname": "@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')?['body']?['appDisplayName']",
                                                      "recordId": "@variables('FlowOwnerID')"
                                                    }
                                                  },
                                                  "runAfter": {},
                                                  "type": "OpenApiConnection"
                                                }
                                              },
                                              "else": {
                                                "actions": {
                                                  "Add_a_new_Service_Principle_Owner": {
                                                    "inputs": {
                                                      "authentication": "@parameters('$authentication')",
                                                      "host": {
                                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                        "connectionName": "shared_commondataserviceforapps_5",
                                                        "operationId": "CreateRecord"
                                                      },
                                                      "parameters": {
                                                        "entityName": "admin_makers",
                                                        "item/admin_displayname": "@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')?['body']?['appDisplayName']",
                                                        "item/admin_makerid": "@variables('FlowOwnerID')",
                                                        "item/admin_makerisorphaned": false,
                                                        "item/admin_userisserviceprinciple": true,
                                                        "item/admin_userprincipalname": "@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')?['body']?['appDisplayName']"
                                                      }
                                                    },
                                                    "runAfter": {},
                                                    "type": "OpenApiConnection"
                                                  }
                                                }
                                              },
                                              "expression": {
                                                "greater": [
                                                  "@length(outputs('Find_Flow_Maker_Service_Principle')?['body/value'])",
                                                  0
                                                ]
                                              },
                                              "runAfter": {
                                                "Find_Flow_Maker_Service_Principle": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "type": "If"
                                            }
                                          },
                                          "case": 200
                                        }
                                      },
                                      "default": {
                                        "actions": {}
                                      },
                                      "expression": "@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')['statusCode']",
                                      "runAfter": {
                                        "Look_up_in_AD_for_Service_Principles_Editted_Flow": [
                                          "Succeeded",
                                          "Failed"
                                        ]
                                      },
                                      "type": "Switch"
                                    }
                                  },
                                  "case": 404
                                }
                              },
                              "default": {
                                "actions": {}
                              },
                              "expression": "@outputs('Get_Flow_Owner_profile')['statusCode']",
                              "runAfter": {
                                "Get_Flow_Owner_profile": [
                                  "Succeeded",
                                  "Failed"
                                ]
                              },
                              "type": "Switch"
                            }
                          },
                          "runAfter": {
                            "Get_Updated_Flow_Owner": [
                              "Succeeded"
                            ]
                          },
                          "type": "Scope"
                        }
                      },
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@parameters('FullInventory')",
                              "@true"
                            ]
                          },
                          {
                            "equals": [
                              "@variables('updateInCoe')",
                              "@true"
                            ]
                          },
                          {
                            "less": [
                              "@outputs('LastDateModfiedCoE')",
                              "@outputs('LastDateModifiedProduct')"
                            ]
                          }
                        ]
                      },
                      "runAfter": {
                        "Catch_case_where_coe_last_modified_date_is_null_": [
                          "Succeeded",
                          "Skipped"
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "else": {
                    "actions": {
                      "Get_New_Flow_as_Admin": {
                        "inputs": {
                          "authentication": "@parameters('$authentication')",
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement",
                            "connectionName": "shared_flowmanagement",
                            "operationId": "AdminGetFlow"
                          },
                          "parameters": {
                            "environmentName": "@triggerBody()?['admin_environmentname']",
                            "flowName": "@items('Apply_to_each_Flow')?['name']"
                          },
                          "retryPolicy": {
                            "count": 10,
                            "interval": "PT10S",
                            "type": "exponential"
                          }
                        },
                        "runAfter": {},
                        "type": "OpenApiConnection"
                      },
                      "Insert_New_Flow_Details": {
                        "actions": {
                          "Get_New_Flow_Creator_profile": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                                "connectionName": "shared_office365users",
                                "operationId": "UserProfile_V2"
                              },
                              "parameters": {
                                "$select": "city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id",
                                "id": "@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          },
                          "Switch_2": {
                            "cases": {
                              "200_Success": {
                                "actions": {
                                  "Find_New_Flow_Maker": {
                                    "inputs": {
                                      "authentication": "@parameters('$authentication')",
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                        "connectionName": "shared_commondataserviceforapps_5",
                                        "operationId": "ListRecords"
                                      },
                                      "parameters": {
                                        "$filter": "admin_makerid eq @{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']}",
                                        "$select": "admin_makerid",
                                        "entityName": "admin_makers"
                                      },
                                      "retryPolicy": {
                                        "count": 10,
                                        "interval": "PT10S",
                                        "type": "exponential"
                                      }
                                    },
                                    "runAfter": {},
                                    "type": "OpenApiConnection"
                                  },
                                  "Insert_Flow_record": {
                                    "inputs": {
                                      "authentication": "@parameters('$authentication')",
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                        "connectionName": "shared_commondataserviceforapps_5",
                                        "operationId": "CreateRecord"
                                      },
                                      "parameters": {
                                        "entityName": "admin_flows",
                                        "item/admin_DerivedOwner@odata.bind": "admin_makers(@{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']})",
                                        "item/admin_FlowCreator@odata.bind": "admin_makers(@{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']})",
                                        "item/admin_FlowEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                        "item/admin_city": "@outputs('Get_New_Flow_Creator_profile')?['body/city']",
                                        "item/admin_country": "@outputs('Get_New_Flow_Creator_profile')?['body/country']",
                                        "item/admin_department": "@outputs('Get_New_Flow_Creator_profile')?['body/department']",
                                        "item/admin_displayname": "@outputs('Get_New_Flow_as_Admin')?['body/properties/displayName']",
                                        "item/admin_flowconnections": "@outputs('Compose_new_comma_separated_connector_list')",
                                        "item/admin_flowcontainsbrokenconnections": false,
                                        "item/admin_flowcreatedon": "@outputs('Get_New_Flow_as_Admin')?['body/properties/createdTime']",
                                        "item/admin_flowcreatorupn": "@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/userId']",
                                        "item/admin_flowdeleted": false,
                                        "item/admin_flowdescription": "@body('Parse_New_Flow_JSON')?['properties']?['definitionSummary']?['description']",
                                        "item/admin_flowenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                        "item/admin_flowenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                        "item/admin_flowexcusedfromarchival": false,
                                        "item/admin_flowid": "@outputs('Get_New_Flow_as_Admin')?['body/name']",
                                        "item/admin_flowmakerdisplayname": "@outputs('Get_New_Flow_Creator_profile')?['body/displayName']",
                                        "item/admin_flowmodifiedon": "@outputs('Get_New_Flow_as_Admin')?['body/properties/lastModifiedTime']",
                                        "item/admin_flowstate": "@outputs('Get_New_Flow_as_Admin')?['body/properties/state']",
                                        "item/admin_workflowentityid": "@body('Parse_New_Flow_JSON')?['properties']?['workflowEntityId']",
                                        "item/cr5d5_flowisorphaned": "no"
                                      },
                                      "retryPolicy": {
                                        "count": 10,
                                        "interval": "PT10S",
                                        "type": "exponential"
                                      }
                                    },
                                    "runAfter": {
                                      "Update_or_Insert_New_Flow_Maker": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "OpenApiConnection"
                                  },
                                  "Update_or_Insert_New_Flow_Maker": {
                                    "actions": {
                                      "Update_New_Flow_Maker": {
                                        "inputs": {
                                          "authentication": "@parameters('$authentication')",
                                          "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                            "connectionName": "shared_commondataserviceforapps_5",
                                            "operationId": "UpdateRecord"
                                          },
                                          "parameters": {
                                            "entityName": "admin_makers",
                                            "item/admin_city": "@outputs('Get_New_Flow_Creator_profile')?['body/city']",
                                            "item/admin_country": "@outputs('Get_New_Flow_Creator_profile')?['body/country']",
                                            "item/admin_department": "@outputs('Get_New_Flow_Creator_profile')?['body/department']",
                                            "item/admin_displayname": "@outputs('Get_New_Flow_Creator_profile')?['body/displayName']",
                                            "item/admin_jobtitle": "@outputs('Get_New_Flow_Creator_profile')?['body/jobTitle']",
                                            "item/admin_makerisorphaned": false,
                                            "item/admin_office": "@outputs('Get_New_Flow_Creator_profile')?['body/officeLocation']",
                                            "item/admin_userisserviceprinciple": false,
                                            "item/admin_userprincipalname": "@outputs('Get_New_Flow_Creator_profile')?['body/userPrincipalName']",
                                            "recordId": "@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']"
                                          },
                                          "retryPolicy": {
                                            "count": 10,
                                            "interval": "PT10S",
                                            "type": "exponential"
                                          }
                                        },
                                        "runAfter": {},
                                        "type": "OpenApiConnection"
                                      }
                                    },
                                    "else": {
                                      "actions": {
                                        "Create_New_Flow_Maker": {
                                          "inputs": {
                                            "authentication": "@parameters('$authentication')",
                                            "host": {
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                              "connectionName": "shared_commondataserviceforapps_5",
                                              "operationId": "CreateRecord"
                                            },
                                            "parameters": {
                                              "entityName": "admin_makers",
                                              "item/admin_city": "@outputs('Get_New_Flow_Creator_profile')?['body/city']",
                                              "item/admin_country": "@outputs('Get_New_Flow_Creator_profile')?['body/country']",
                                              "item/admin_department": "@outputs('Get_New_Flow_Creator_profile')?['body/department']",
                                              "item/admin_displayname": "@outputs('Get_New_Flow_Creator_profile')?['body/displayName']",
                                              "item/admin_jobtitle": "@outputs('Get_New_Flow_Creator_profile')?['body/jobTitle']",
                                              "item/admin_makerid": "@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']",
                                              "item/admin_makerisorphaned": false,
                                              "item/admin_office": "@outputs('Get_New_Flow_Creator_profile')?['body/officeLocation']",
                                              "item/admin_userisserviceprinciple": false,
                                              "item/admin_userprincipalname": "@outputs('Get_New_Flow_Creator_profile')?['body/userPrincipalName']"
                                            },
                                            "retryPolicy": {
                                              "count": 10,
                                              "interval": "PT10S",
                                              "type": "exponential"
                                            }
                                          },
                                          "runAfter": {},
                                          "type": "OpenApiConnection"
                                        }
                                      }
                                    },
                                    "expression": {
                                      "greater": [
                                        "@length(outputs('Find_New_Flow_Maker')?['body/value'])",
                                        0
                                      ]
                                    },
                                    "runAfter": {
                                      "Find_New_Flow_Maker": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "If"
                                  }
                                },
                                "case": 200
                              },
                              "404_File_Not_Found": {
                                "actions": {
                                  "Look_up_in_AD_for_Service_Principles_New_Flow": {
                                    "inputs": {
                                      "authentication": "@parameters('$authentication')",
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents",
                                        "connectionName": "shared_webcontents_1",
                                        "operationId": "InvokeHttp"
                                      },
                                      "parameters": {
                                        "request/method": "GET",
                                        "request/url": "https://graph.microsoft.com/v1.0/servicePrincipals/@{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']}"
                                      }
                                    },
                                    "runAfter": {},
                                    "type": "OpenApiConnection"
                                  },
                                  "Switch_New_Service_Principle_Check": {
                                    "cases": {
                                      "Case_200:_Service_Principle_Owner": {
                                        "actions": {
                                          "Find_New_Flow_Maker_Service_Principle": {
                                            "inputs": {
                                              "authentication": "@parameters('$authentication')",
                                              "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                "connectionName": "shared_commondataserviceforapps_5",
                                                "operationId": "ListRecords"
                                              },
                                              "parameters": {
                                                "$filter": "admin_makerid eq @{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']}",
                                                "$select": "admin_makerid",
                                                "entityName": "admin_makers"
                                              }
                                            },
                                            "runAfter": {},
                                            "type": "OpenApiConnection"
                                          },
                                          "Insert_New_Flow_record_(service_principle_creator)": {
                                            "inputs": {
                                              "authentication": "@parameters('$authentication')",
                                              "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                "connectionName": "shared_commondataserviceforapps_5",
                                                "operationId": "CreateRecord"
                                              },
                                              "parameters": {
                                                "entityName": "admin_flows",
                                                "item/admin_DerivedOwner@odata.bind": "admin_makers(@{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']})",
                                                "item/admin_FlowCreator@odata.bind": "admin_makers(@{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']})",
                                                "item/admin_FlowEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                                "item/admin_displayname": "@outputs('Get_New_Flow_as_Admin')?['body/properties/displayName']",
                                                "item/admin_flowconnections": "@outputs('Compose_new_comma_separated_connector_list')",
                                                "item/admin_flowcontainsbrokenconnections": false,
                                                "item/admin_flowcreatedon": "@outputs('Get_New_Flow_as_Admin')?['body/properties/createdTime']",
                                                "item/admin_flowcreatorupn": "@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/userId']",
                                                "item/admin_flowdeleted": false,
                                                "item/admin_flowdescription": "@body('Parse_New_Flow_JSON')?['properties']?['definitionSummary']?['description']",
                                                "item/admin_flowenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                                "item/admin_flowenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                                "item/admin_flowexcusedfromarchival": false,
                                                "item/admin_flowid": "@outputs('Get_New_Flow_as_Admin')?['body/name']",
                                                "item/admin_flowmakerdisplayname": "@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')?['body']?['appDisplayName']",
                                                "item/admin_flowmodifiedon": "@outputs('Get_New_Flow_as_Admin')?['body/properties/lastModifiedTime']",
                                                "item/admin_flowstate": "@outputs('Get_New_Flow_as_Admin')?['body/properties/state']",
                                                "item/admin_workflowentityid": "@body('Parse_New_Flow_JSON')?['properties']?['workflowEntityId']",
                                                "item/cr5d5_flowisorphaned": "no"
                                              }
                                            },
                                            "runAfter": {
                                              "Update_or_Insert_New_Flow_Maker_Service_Principle": [
                                                "Succeeded"
                                              ]
                                            },
                                            "type": "OpenApiConnection"
                                          },
                                          "Update_or_Insert_New_Flow_Maker_Service_Principle": {
                                            "actions": {
                                              "Update_New_Flow_Service_Principle_Maker": {
                                                "inputs": {
                                                  "authentication": "@parameters('$authentication')",
                                                  "host": {
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                    "connectionName": "shared_commondataserviceforapps_5",
                                                    "operationId": "UpdateRecord"
                                                  },
                                                  "parameters": {
                                                    "entityName": "admin_makers",
                                                    "item/admin_displayname": "@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')?['body']?['appDisplayName']",
                                                    "item/admin_makerisorphaned": false,
                                                    "item/admin_userisserviceprinciple": true,
                                                    "item/admin_userprincipalname": "@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')?['body']?['appDisplayName']",
                                                    "recordId": "@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']"
                                                  }
                                                },
                                                "runAfter": {},
                                                "type": "OpenApiConnection"
                                              }
                                            },
                                            "else": {
                                              "actions": {
                                                "Create_New_Flow_Service_Principle_Maker": {
                                                  "inputs": {
                                                    "authentication": "@parameters('$authentication')",
                                                    "host": {
                                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                      "connectionName": "shared_commondataserviceforapps_5",
                                                      "operationId": "CreateRecord"
                                                    },
                                                    "parameters": {
                                                      "entityName": "admin_makers",
                                                      "item/admin_displayname": "@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')?['body']?['appDisplayName']",
                                                      "item/admin_makerid": "@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']",
                                                      "item/admin_makerisorphaned": false,
                                                      "item/admin_userisserviceprinciple": true,
                                                      "item/admin_userprincipalname": "@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')?['body']?['appDisplayName']"
                                                    }
                                                  },
                                                  "runAfter": {},
                                                  "type": "OpenApiConnection"
                                                }
                                              }
                                            },
                                            "expression": {
                                              "greater": [
                                                "@length(outputs('Find_New_Flow_Maker_Service_Principle')?['body/value'])",
                                                0
                                              ]
                                            },
                                            "runAfter": {
                                              "Find_New_Flow_Maker_Service_Principle": [
                                                "Succeeded"
                                              ]
                                            },
                                            "type": "If"
                                          }
                                        },
                                        "case": 200
                                      },
                                      "Case_404:_Orphan_Found": {
                                        "actions": {
                                          "Insert_New_Flow_record_(creator_not_found)": {
                                            "inputs": {
                                              "authentication": "@parameters('$authentication')",
                                              "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                "connectionName": "shared_commondataserviceforapps_5",
                                                "operationId": "CreateRecord"
                                              },
                                              "parameters": {
                                                "entityName": "admin_flows",
                                                "item/admin_FlowEnvironment@odata.bind": "admin_environments(@{triggerBody()?['admin_environmentid']})",
                                                "item/admin_displayname": "@outputs('Get_New_Flow_as_Admin')?['body/properties/displayName']",
                                                "item/admin_flowconnections": "@outputs('Compose_new_comma_separated_connector_list')",
                                                "item/admin_flowcontainsbrokenconnections": false,
                                                "item/admin_flowcreatedon": "@outputs('Get_New_Flow_as_Admin')?['body/properties/createdTime']",
                                                "item/admin_flowcreatorupn": "@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/userId']",
                                                "item/admin_flowdeleted": false,
                                                "item/admin_flowdescription": "@body('Parse_New_Flow_JSON')?['properties']?['definitionSummary']?['description']",
                                                "item/admin_flowenvironmentdisplayname": "@triggerOutputs()?['body/admin_displayname']",
                                                "item/admin_flowenvironmentid": "@triggerOutputs()?['body/admin_environmentname']",
                                                "item/admin_flowexcusedfromarchival": false,
                                                "item/admin_flowid": "@outputs('Get_New_Flow_as_Admin')?['body/name']",
                                                "item/admin_flowmodifiedon": "@outputs('Get_New_Flow_as_Admin')?['body/properties/lastModifiedTime']",
                                                "item/admin_flowstate": "@outputs('Get_New_Flow_as_Admin')?['body/properties/state']",
                                                "item/admin_workflowentityid": "@body('Parse_New_Flow_JSON')?['properties']?['workflowEntityId']",
                                                "item/cr5d5_flowisorphaned": "yes"
                                              },
                                              "retryPolicy": {
                                                "count": 10,
                                                "interval": "PT10S",
                                                "type": "exponential"
                                              }
                                            },
                                            "runAfter": {},
                                            "type": "OpenApiConnection"
                                          }
                                        },
                                        "case": 404
                                      }
                                    },
                                    "default": {
                                      "actions": {}
                                    },
                                    "expression": "@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')['statusCode']",
                                    "runAfter": {
                                      "Look_up_in_AD_for_Service_Principles_New_Flow": [
                                        "Succeeded",
                                        "Failed"
                                      ]
                                    },
                                    "type": "Switch"
                                  }
                                },
                                "case": 404
                              }
                            },
                            "default": {
                              "actions": {}
                            },
                            "expression": "@outputs('Get_New_Flow_Creator_profile')['statusCode']",
                            "runAfter": {
                              "Get_New_Flow_Creator_profile": [
                                "Succeeded",
                                "Failed"
                              ]
                            },
                            "type": "Switch"
                          }
                        },
                        "runAfter": {
                          "Prepare_Connection_Information_new": [
                            "Succeeded"
                          ]
                        },
                        "type": "Scope"
                      },
                      "Parse_New_Flow_JSON": {
                        "inputs": {
                          "content": "@body('Get_New_Flow_as_Admin')",
                          "schema": {
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "properties": {
                                "properties": {
                                  "apiId": {
                                    "type": "string"
                                  },
                                  "connectionReferences": {
                                    "type": "array"
                                  },
                                  "createdTime": {
                                    "type": "string"
                                  },
                                  "creator": {
                                    "properties": {
                                      "objectId": {
                                        "type": "string"
                                      },
                                      "tenantId": {
                                        "type": "string"
                                      },
                                      "userId": {
                                        "type": "string"
                                      },
                                      "userType": {
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "definitionSummary": {
                                    "properties": {
                                      "actions": {
                                        "items": {
                                          "properties": {
                                            "kind": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          },
                                          "type": "object"
                                        },
                                        "type": "array"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "triggers": {
                                        "items": {
                                          "properties": {
                                            "kind": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          },
                                          "type": "object"
                                        },
                                        "type": "array"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "environment": {
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "flowFailureAlertSubscribed": {
                                    "type": "boolean"
                                  },
                                  "flowSuspensionReason": {
                                    "type": "string"
                                  },
                                  "lastModifiedTime": {
                                    "type": "string"
                                  },
                                  "provisioningMethod": {
                                    "type": "string"
                                  },
                                  "referencedResources": {
                                    "type": "array"
                                  },
                                  "sharingType": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "triggerSchema": {
                                    "properties": {
                                      "properties": {
                                        "type": "object"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "userType": {
                                    "type": "string"
                                  },
                                  "workflowEntityId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "runAfter": {
                          "Get_New_Flow_as_Admin": [
                            "Succeeded"
                          ]
                        },
                        "type": "ParseJson"
                      },
                      "Prepare_Connection_Information_new": {
                        "actions": {
                          "Add_HTTP": {
                            "inputs": "@if(contains(body('Select_2'), 'Http'), ',HTTP', '')",
                            "runAfter": {
                              "Select_2": [
                                "Succeeded"
                              ]
                            },
                            "type": "Compose"
                          },
                          "Add_HTTP_Webhook": {
                            "inputs": "@if(contains(body('Select_2'), 'HttpWebhook'), ',HTTP Webhook', '')",
                            "runAfter": {
                              "Add_HTTP": [
                                "Succeeded"
                              ]
                            },
                            "type": "Compose"
                          },
                          "Select_2": {
                            "inputs": {
                              "from": "@body('Parse_New_Flow_JSON')?['properties']?['definitionSummary']?['actions']",
                              "select": "@item()?['type']"
                            },
                            "runAfter": {},
                            "type": "Select"
                          },
                          "check_if_connection_reference_new_exist": {
                            "actions": {
                              "Compose_new_comma_separated_connector_list": {
                                "inputs": "@concat(join(body('Select_new_connector_display_name'), ','), outputs('Add_HTTP_Webhook'), outputs('Add_HTTP'))",
                                "runAfter": {
                                  "Select_new_connector_display_name": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "Compose"
                              },
                              "Parse_JSON": {
                                "inputs": {
                                  "content": "@outputs('Get_New_Flow_as_Admin')?['body/properties/connectionReferences']",
                                  "schema": {
                                    "items": {
                                      "properties": {
                                        "apiDefinition": {
                                          "properties": {
                                            "id": {
                                              "type": "string"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "properties": {
                                              "properties": {
                                                "capabilities": {
                                                  "items": {
                                                    "type": "string"
                                                  },
                                                  "type": "array"
                                                },
                                                "changedTime": {
                                                  "type": "string"
                                                },
                                                "connectionParameters": {
                                                  "properties": {
                                                    "token": {
                                                      "properties": {
                                                        "oAuthSettings": {
                                                          "properties": {
                                                            "clientId": {
                                                              "type": "string"
                                                            },
                                                            "customParameters": {
                                                              "properties": {
                                                                "loginUri": {
                                                                  "properties": {
                                                                    "value": {
                                                                      "type": "string"
                                                                    }
                                                                  },
                                                                  "type": "object"
                                                                },
                                                                "loginUriAAD": {
                                                                  "properties": {
                                                                    "value": {
                                                                      "type": "string"
                                                                    }
                                                                  },
                                                                  "type": "object"
                                                                },
                                                                "resourceUri": {
                                                                  "properties": {
                                                                    "value": {
                                                                      "type": "string"
                                                                    }
                                                                  },
                                                                  "type": "object"
                                                                }
                                                              },
                                                              "type": "object"
                                                            },
                                                            "identityProvider": {
                                                              "type": "string"
                                                            },
                                                            "properties": {
                                                              "properties": {
                                                                "AzureActiveDirectoryResourceId": {
                                                                  "type": "string"
                                                                },
                                                                "IsFirstParty": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "type": "object"
                                                            },
                                                            "redirectMode": {
                                                              "type": "string"
                                                            },
                                                            "redirectUrl": {
                                                              "type": "string"
                                                            },
                                                            "scopes": {
                                                              "type": "array"
                                                            }
                                                          },
                                                          "type": "object"
                                                        },
                                                        "type": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "type": "object"
                                                    }
                                                  },
                                                  "type": "object"
                                                },
                                                "createdTime": {
                                                  "type": "string"
                                                },
                                                "description": {
                                                  "type": "string"
                                                },
                                                "displayName": {
                                                  "type": "string"
                                                },
                                                "iconUri": {
                                                  "type": "string"
                                                },
                                                "isCustomApi": {
                                                  "type": "boolean"
                                                },
                                                "metadata": {
                                                  "properties": {
                                                    "brandColor": {
                                                      "type": "string"
                                                    },
                                                    "source": {
                                                      "type": "string"
                                                    },
                                                    "version": {
                                                      "properties": {
                                                        "current": {
                                                          "type": "string"
                                                        },
                                                        "previous": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "type": "object"
                                                    }
                                                  },
                                                  "type": "object"
                                                },
                                                "primaryRuntimeUrl": {
                                                  "type": "string"
                                                },
                                                "purpose": {
                                                  "type": "string"
                                                },
                                                "runtimeUrls": {
                                                  "items": {
                                                    "type": "string"
                                                  },
                                                  "type": "array"
                                                },
                                                "scopes": {
                                                  "properties": {
                                                    "will": {
                                                      "type": "array"
                                                    },
                                                    "wont": {
                                                      "type": "array"
                                                    }
                                                  },
                                                  "type": "object"
                                                },
                                                "tier": {
                                                  "type": "string"
                                                }
                                              },
                                              "type": "object"
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          },
                                          "type": "object"
                                        },
                                        "connectionName": {
                                          "type": "string"
                                        },
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id"
                                      ],
                                      "type": "object"
                                    },
                                    "type": "array"
                                  }
                                },
                                "runAfter": {},
                                "type": "ParseJson"
                              },
                              "Select_new_connector_display_name": {
                                "inputs": {
                                  "from": "@body('Parse_JSON')",
                                  "select": "@item()?['displayName']"
                                },
                                "runAfter": {
                                  "Parse_JSON": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "Select"
                              }
                            },
                            "expression": {
                              "not": {
                                "equals": [
                                  "@outputs('Get_New_Flow_as_Admin')?['body/properties/connectionReferences']",
                                  "@null"
                                ]
                              }
                            },
                            "runAfter": {
                              "Add_HTTP_Webhook": [
                                "Succeeded"
                              ]
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {
                          "Parse_New_Flow_JSON": [
                            "Succeeded"
                          ]
                        },
                        "type": "Scope"
                      },
                      "Store_Flow_Connection_References_2": {
                        "actions": {
                          "Check_if_Flow_Connection_References_are_not_null_2": {
                            "actions": {
                              "Apply_to_each_Flow_Connection_Reference_2": {
                                "actions": {
                                  "Connecor_Name_2": {
                                    "inputs": "@last(outputs('split_on_slash_2'))",
                                    "runAfter": {
                                      "split_on_slash_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Compose"
                                  },
                                  "ConnectorID_2": {
                                    "inputs": "@items('Apply_to_each_Flow_Connection_Reference_2')?['id']",
                                    "runAfter": {},
                                    "type": "Compose"
                                  },
                                  "Filter_current_flow_Connector_2": {
                                    "inputs": {
                                      "from": "@outputs('List_Connectors')?['body/value']",
                                      "where": "@equals(item()?['admin_name'], outputs('Connecor_Name_2'))"
                                    },
                                    "runAfter": {
                                      "Connecor_Name_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Query"
                                  },
                                  "mark_broken_connector_or_insert_connection_reference_2": {
                                    "actions": {
                                      "Create_a_new_Flow_Connection_Reference_2": {
                                        "inputs": {
                                          "authentication": "@parameters('$authentication')",
                                          "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                            "connectionName": "shared_commondataserviceforapps_5",
                                            "operationId": "CreateRecord"
                                          },
                                          "parameters": {
                                            "entityName": "admin_connectionreferences",
                                            "item/admin_Connector@odata.bind": "admin_connectors(@{first(body('Filter_current_flow_Connector_2'))?['admin_connectorid']})",
                                            "item/admin_Flow@odata.bind": "admin_flows(@{items('Apply_to_each_Flow')?['name']})",
                                            "item/admin_displayname": "@coalesce(items('Apply_to_each_Flow_Connection_Reference_2')?['displayName'], 'No Display Name For Connector')"
                                          },
                                          "retryPolicy": {
                                            "count": 10,
                                            "interval": "PT10S",
                                            "type": "exponential"
                                          }
                                        },
                                        "runAfter": {},
                                        "type": "OpenApiConnection"
                                      }
                                    },
                                    "else": {
                                      "actions": {
                                        "Set_hasBadConnections_true_2": {
                                          "inputs": {
                                            "name": "hasBadConnections",
                                            "value": "@true"
                                          },
                                          "runAfter": {},
                                          "type": "SetVariable"
                                        }
                                      }
                                    },
                                    "expression": {
                                      "greater": [
                                        "@length(body('Filter_current_flow_Connector_2'))",
                                        0
                                      ]
                                    },
                                    "runAfter": {
                                      "Filter_current_flow_Connector_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "If"
                                  },
                                  "split_on_slash_2": {
                                    "inputs": "@split(outputs('ConnectorID_2'), '/')",
                                    "runAfter": {
                                      "ConnectorID_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Compose"
                                  }
                                },
                                "foreach": "@body('Filter_non_custom_2')",
                                "runAfter": {
                                  "Filter_non_custom_2": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "Foreach"
                              },
                              "Apply_to_each_Flow_Custom_Connection_Reference_2": {
                                "actions": {
                                  "Connecor_Name_custom_2": {
                                    "inputs": "@last(outputs('split_on_slash_custom_2'))",
                                    "runAfter": {
                                      "split_on_slash_custom_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Compose"
                                  },
                                  "ConnectorID_custom_2": {
                                    "inputs": "@items('Apply_to_each_Flow_Custom_Connection_Reference_2')?['id']",
                                    "runAfter": {},
                                    "type": "Compose"
                                  },
                                  "Filter_current_flow_Connector_custom_2": {
                                    "inputs": {
                                      "from": "@outputs('List_Connectors')?['body/value']",
                                      "where": "@equals(item()?['admin_name'], outputs('Connecor_Name_custom_2'))"
                                    },
                                    "runAfter": {
                                      "Connecor_Name_custom_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Query"
                                  },
                                  "mark_broken_connector_or_insert_connection_reference_for_custom_2": {
                                    "actions": {
                                      "Create_a_new_Flow_Connection_Reference_for_Custom_2": {
                                        "inputs": {
                                          "authentication": "@parameters('$authentication')",
                                          "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                            "connectionName": "shared_commondataserviceforapps_5",
                                            "operationId": "CreateRecord"
                                          },
                                          "parameters": {
                                            "entityName": "admin_connectionreferences",
                                            "item/admin_Connector@odata.bind": "admin_connectors(@{first(body('Filter_current_flow_Connector_custom_2'))?['admin_connectorid']})",
                                            "item/admin_Flow@odata.bind": "admin_flows(@{items('Apply_to_each_Flow')?['name']})",
                                            "item/admin_displayname": "@coalesce(items('Apply_to_each_Flow_Custom_Connection_Reference_2')?['displayName'], 'No Display Name For Connector')"
                                          },
                                          "retryPolicy": {
                                            "count": 10,
                                            "interval": "PT10S",
                                            "type": "exponential"
                                          }
                                        },
                                        "runAfter": {},
                                        "type": "OpenApiConnection"
                                      }
                                    },
                                    "else": {
                                      "actions": {
                                        "Set_hasBadConnections_true_custom_2": {
                                          "inputs": {
                                            "name": "hasBadConnections",
                                            "value": "@true"
                                          },
                                          "runAfter": {},
                                          "type": "SetVariable"
                                        }
                                      }
                                    },
                                    "expression": {
                                      "greater": [
                                        "@length(body('Filter_current_flow_Connector_custom_2'))",
                                        0
                                      ]
                                    },
                                    "runAfter": {
                                      "Filter_current_flow_Connector_custom_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "If"
                                  },
                                  "split_on_slash_custom_2": {
                                    "inputs": "@split(outputs('ConnectorID_custom_2'), '/')",
                                    "runAfter": {
                                      "ConnectorID_custom_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Compose"
                                  }
                                },
                                "foreach": "@body('Filter_custom_2')",
                                "runAfter": {
                                  "Filter_custom_2": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "Foreach"
                              },
                              "Filter_custom_2": {
                                "inputs": {
                                  "from": "@body('Filter_non_custom_2')",
                                  "where": "@equals(item()?['apiDefinition']?['properties']?['isCustomApi'], true)"
                                },
                                "runAfter": {
                                  "Apply_to_each_Flow_Connection_Reference_2": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "Query"
                              },
                              "Filter_non_custom_2": {
                                "inputs": {
                                  "from": "@body('Parse_JSON')",
                                  "where": "@equals(item()?['apiDefinition']?['properties']?['isCustomApi'], false)"
                                },
                                "runAfter": {},
                                "type": "Query"
                              },
                              "if_found_bad_connection,_mark_in_flow_record_2": {
                                "actions": {
                                  "Mark_flow_as_having_broken_connections_2": {
                                    "inputs": {
                                      "authentication": "@parameters('$authentication')",
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                        "connectionName": "shared_commondataserviceforapps_5",
                                        "operationId": "UpdateRecord"
                                      },
                                      "parameters": {
                                        "entityName": "admin_flows",
                                        "item/admin_flowcontainsbrokenconnections": true,
                                        "recordId": "@items('Apply_to_each_Flow')?['name']"
                                      }
                                    },
                                    "runAfter": {},
                                    "type": "OpenApiConnection"
                                  }
                                },
                                "expression": {
                                  "equals": [
                                    "@variables('hasBadConnections')",
                                    "@true"
                                  ]
                                },
                                "runAfter": {
                                  "Apply_to_each_Flow_Custom_Connection_Reference_2": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "If"
                              }
                            },
                            "expression": {
                              "not": {
                                "equals": [
                                  "@outputs('Get_New_Flow_as_Admin')?['body/properties/connectionReferences']",
                                  "@null"
                                ]
                              }
                            },
                            "runAfter": {
                              "Delete_this_flows_existing_connection_references_2": [
                                "Succeeded"
                              ]
                            },
                            "type": "If"
                          },
                          "Delete_this_flows_existing_connection_references_2": {
                            "actions": {
                              "Delete_this_record_2": {
                                "inputs": {
                                  "authentication": "@parameters('$authentication')",
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "connectionName": "shared_commondataserviceforapps_5",
                                    "operationId": "DeleteRecord"
                                  },
                                  "parameters": {
                                    "entityName": "admin_connectionreferences",
                                    "recordId": "@items('Delete_this_flows_existing_connection_references_2')?['admin_connectionreferenceid']"
                                  },
                                  "retryPolicy": {
                                    "count": 10,
                                    "interval": "PT10S",
                                    "type": "exponential"
                                  }
                                },
                                "runAfter": {},
                                "type": "OpenApiConnection"
                              }
                            },
                            "foreach": "@outputs('List_This_Flow_Existing_Connection_References_2')?['body/value']",
                            "runAfter": {
                              "List_This_Flow_Existing_Connection_References_2": [
                                "Succeeded"
                              ]
                            },
                            "type": "Foreach"
                          },
                          "List_This_Flow_Existing_Connection_References_2": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps_5",
                                "operationId": "ListRecords"
                              },
                              "parameters": {
                                "$filter": "_admin_flow_value eq '@{items('Apply_to_each_Flow')?['name']}'",
                                "$select": "admin_connectionreferenceid",
                                "entityName": "admin_connectionreferences"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "runAfter": {},
                            "runtimeConfiguration": {
                              "paginationPolicy": {
                                "minimumItemCount": 100000
                              }
                            },
                            "type": "OpenApiConnection"
                          }
                        },
                        "runAfter": {
                          "Insert_New_Flow_Details": [
                            "Succeeded"
                          ]
                        },
                        "type": "Scope"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('isNewToCoE')",
                      "@false"
                    ]
                  },
                  "runAfter": {
                    "Set_isNewToCoE_to_true": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "type": "If"
                },
                "Set_isNewToCoE_to_true": {
                  "inputs": {
                    "name": "isNewToCoE",
                    "value": "@true"
                  },
                  "runAfter": {
                    "Get_Flow_from_CoE": [
                      "Failed"
                    ]
                  },
                  "type": "SetVariable"
                }
              },
              "foreach": "@outputs('List_Flows_as_Admin')?['body/value']",
              "runAfter": {
                "List_Flows_as_Admin": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "List_Connectors": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_5",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$select": "admin_displayname,admin_connectorid,admin_id,admin_name",
                  "entityName": "admin_connectors"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_Flows_as_Admin": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement",
                  "connectionName": "shared_flowmanagement",
                  "operationId": "ListFlowsInEnvironment"
                },
                "parameters": {
                  "environmentName": "@triggerOutputs()?['body/admin_environmentname']"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "runAfter": {
                "List_Connectors": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            }
          },
          "runAfter": {
            "Initialize_variable_EmptyArray": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Initialize_hasBadConnections": {
          "inputs": {
            "variables": [
              {
                "name": "hasBadConnections",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_FlowOwnerID": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_updateInCoe": {
          "inputs": {
            "variables": [
              {
                "name": "updateInCoe",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_isNewToCoE": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_EmptyArray": {
          "inputs": {
            "variables": [
              {
                "name": "EmptyArray",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_flowEnvironment": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_FlowOwnerID": {
          "inputs": {
            "variables": [
              {
                "name": "FlowOwnerID",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_updateInCoe": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_flowEnvironment": {
          "description": "Environment location specific Flow URL - remember / at the end",
          "inputs": {
            "variables": [
              {
                "name": "flowEnvironment",
                "type": "string",
                "value": "@parameters('Power Automate Environment Variable')"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_today": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_isNewToCoE": {
          "inputs": {
            "variables": [
              {
                "name": "isNewToCoE",
                "type": "boolean",
                "value": false
              }
            ]
          },
          "runAfter": {
            "Check_if_Environment_Deleted,_terminate_if_true": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_variable_today": {
          "inputs": {
            "variables": [
              {
                "name": "today",
                "type": "string",
                "value": "@{utcNow()}"
              }
            ]
          },
          "runAfter": {
            "Initialize_hasBadConnections": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "FullInventory": {
          "defaultValue": true,
          "metadata": {
            "description": "Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running ",
            "schemaName": "admin_FullInventory"
          },
          "type": "Bool"
        },
        "Power Automate Environment Variable": {
          "defaultValue": "https://us.flow.microsoft.com/manage/environments/",
          "metadata": {
            "description": "Environment, including geographic location, for Power Automate - for example https://us.flow.microsoft.com/manage/environments/ for US environments",
            "schemaName": "admin_PowerAutomateEnvironmentVariable"
          },
          "type": "String"
        }
      },
      "triggers": {
        "When_a_record_is_created_or_updated": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps_5",
              "operationId": "SubscribeWebhookTrigger"
            },
            "parameters": {
              "subscriptionRequest/entityname": "admin_environment",
              "subscriptionRequest/message": 4,
              "subscriptionRequest/scope": 4
            }
          },
          "type": "OpenApiConnectionWebhook"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
