CenterofExcellenceCoreComponents/SolutionPackage/Workflows/CLEANUPHELPER-PowerAppsUserSharedWith-1F3F24FF-C717-EC11-B6E6-000D3A1C26F9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365groups": {
        "api": {
          "name": "shared_office365groups"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreO365Groups"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365users": {
        "api": {
          "name": "shared_office365users"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreOffice365Users"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerappsforadmins_1": {
        "api": {
          "name": "shared_powerappsforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsAdmin2"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Filter_To_Non_Embedded_Apps": {
          "inputs": {
            "from": "@outputs('Get_Apps_as_Admin')?['body/value']",
            "where": "@not(equals(item()?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'))"
          },
          "runAfter": {
            "Get_Apps_as_Admin": [
              "Succeeded"
            ]
          },
          "type": "Query"
        },
        "Get_Apps_as_Admin": {
          "inputs": {
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins",
              "connectionName": "shared_powerappsforadmins_1",
              "operationId": "Get-AdminApps"
            },
            "parameters": {
              "$top": 250,
              "api-version": "2016-11-01",
              "environment": "@triggerBody()['text']"
            }
          },
          "runAfter": {
            "Initialize_oData": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "type": "OpenApiConnection"
        },
        "Initialize_Group_Size": {
          "inputs": {
            "variables": [
              {
                "name": "sharedGroupSize",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Initialize_User_Role_Object": {
          "inputs": {
            "variables": [
              {
                "name": "userRoleObject",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_Group_Size": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_oData": {
          "inputs": {
            "variables": [
              {
                "name": "oData",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_User_Role_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "inputs": {
            "body": {
              "returnvalue": "pass"
            },
            "schema": {
              "properties": {
                "returnvalue": {
                  "title": "returnValue",
                  "type": "string",
                  "x-ms-dynamically-added": true
                }
              },
              "type": "object"
            },
            "statusCode": 200
          },
          "kind": "PowerApp",
          "runAfter": {
            "Walk_the_Apps_in_this_Envt": [
              "Succeeded"
            ]
          },
          "type": "Response"
        },
        "Walk_the_Apps_in_this_Envt": {
          "actions": {
            "Apply_to_each": {
              "actions": {
                "Get_a_record": {
                  "inputs": {
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "recordId": "@items('Walk_the_Apps_in_this_Envt')?['name']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                },
                "Switch": {
                  "cases": {
                    "Group": {
                      "actions": {
                        "List_group_members": {
                          "inputs": {
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups",
                              "connectionName": "shared_office365groups",
                              "operationId": "ListGroupMembers"
                            },
                            "parameters": {
                              "groupId": "@items('Apply_to_each')?['properties']?['principal']?['id']"
                            }
                          },
                          "runAfter": {},
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        },
                        "Set_Group_Size_for_Groups": {
                          "inputs": {
                            "name": "sharedGroupSize",
                            "value": "@length(outputs('List_group_members')?['body/value'])"
                          },
                          "runAfter": {
                            "List_group_members": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable"
                        }
                      },
                      "case": "Group"
                    },
                    "User": {
                      "actions": {
                        "Set_Group_Size_for_User": {
                          "inputs": {
                            "name": "sharedGroupSize",
                            "value": 1
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        }
                      },
                      "case": "User"
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "expression": "@items('Apply_to_each')?['properties/principal/type']",
                  "runAfter": {
                    "catch_not_yet_in_inventory": [
                      "Skipped"
                    ]
                  },
                  "type": "Switch"
                },
                "Upsert_Power_Platform_User": {
                  "actions": {
                    "Compose_User_Unique_ID": {
                      "inputs": "@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])",
                      "runAfter": {},
                      "type": "Compose"
                    },
                    "proceed_if_id_not_null": {
                      "actions": {
                        "Get_user_profile_(V2)": {
                          "inputs": {
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                              "connectionName": "shared_office365users",
                              "operationId": "UserProfile_V2"
                            },
                            "parameters": {
                              "$select": "city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id, companyName",
                              "id": "@outputs('Compose_User_Unique_ID')"
                            }
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        },
                        "Switch_on_get_user": {
                          "cases": {
                            "200_Success": {
                              "actions": {
                                "Insert_Power_Platform_User": {
                                  "inputs": {
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                                      "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                                      "item/admin_displayname": "@coalesce(items('Apply_to_each')?['properties/principal/displayName'], 'Tenant')",
                                      "item/admin_groupsize": "@variables('sharedGroupSize')",
                                      "item/admin_powerplatformuserid": "@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])",
                                      "item/admin_userprincipalname": "@coalesce(items('Apply_to_each')?['properties/principal/email'], '')"
                                    }
                                  },
                                  "runAfter": {
                                    "Update_Power_Platform_User_": [
                                      "Failed"
                                    ]
                                  },
                                  "type": "OpenApiConnection"
                                },
                                "Update_Power_Platform_User_": {
                                  "inputs": {
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                                      "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                                      "item/admin_displayname": "@coalesce(items('Apply_to_each')?['properties/principal/displayName'], 'Tenant')",
                                      "item/admin_groupsize": "@variables('sharedGroupSize')",
                                      "item/admin_type": "@items('Apply_to_each')?['properties/principal/type']",
                                      "item/admin_userprincipalname": "@coalesce(items('Apply_to_each')?['properties/principal/email'], '')",
                                      "recordId": "@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])"
                                    }
                                  },
                                  "runAfter": {},
                                  "type": "OpenApiConnection"
                                }
                              },
                              "case": 200
                            },
                            "404_File_Not_Found": {
                              "actions": {
                                "Insert_Power_Platform_User_-_no_o365_details": {
                                  "description": "If Update fails, try Insert",
                                  "inputs": {
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_displayname": "@coalesce(items('Apply_to_each')?['properties/principal/displayName'], 'Tenant')",
                                      "item/admin_groupsize": "@variables('sharedGroupSize')",
                                      "item/admin_powerplatformuserid": "@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])",
                                      "item/admin_userprincipalname": "@coalesce(items('Apply_to_each')?['properties/principal/email'], '')"
                                    },
                                    "retryPolicy": {
                                      "count": 10,
                                      "interval": "PT10S",
                                      "type": "exponential"
                                    }
                                  },
                                  "runAfter": {
                                    "Update_Power_Platform_User_-_no_o365_details": [
                                      "Failed"
                                    ]
                                  },
                                  "type": "OpenApiConnection"
                                },
                                "Update_Power_Platform_User_-_no_o365_details": {
                                  "inputs": {
                                    "authentication": {
                                      "type": "Raw",
                                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_displayname": "@coalesce(items('Apply_to_each')?['properties/principal/displayName'], 'Tenant')",
                                      "item/admin_groupsize": "@variables('sharedGroupSize')",
                                      "item/admin_type": "@items('Apply_to_each')?['properties/principal/type']",
                                      "item/admin_userprincipalname": "@coalesce(items('Apply_to_each')?['properties/principal/email'], '')",
                                      "recordId": "@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])"
                                    },
                                    "retryPolicy": {
                                      "count": 10,
                                      "interval": "PT10S",
                                      "type": "exponential"
                                    }
                                  },
                                  "runAfter": {},
                                  "type": "OpenApiConnection"
                                }
                              },
                              "case": 404
                            }
                          },
                          "default": {
                            "actions": {}
                          },
                          "expression": "@outputs('Get_user_profile_(V2)')['statusCode']",
                          "runAfter": {
                            "Get_user_profile_(V2)": [
                              "Succeeded",
                              "Failed"
                            ]
                          },
                          "type": "Switch"
                        }
                      },
                      "description": "It's possible to add a role programmatically but incorrectly",
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Compose_User_Unique_ID')",
                            "@null"
                          ]
                        }
                      },
                      "runAfter": {
                        "Compose_User_Unique_ID": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Switch": [
                      "Succeeded"
                    ]
                  },
                  "type": "Scope"
                },
                "Upsert_Power_Platform_User_Role": {
                  "actions": {
                    "Apply_to_each_record": {
                      "actions": {
                        "Set_variable": {
                          "inputs": {
                            "name": "userRoleObject",
                            "value": "@items('Apply_to_each_record')?['admin_powerplatformuserroleid']"
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        }
                      },
                      "foreach": "@outputs('List_records')?['body/value']",
                      "runAfter": {
                        "List_records": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "Condition": {
                      "actions": {
                        "Create_Power_Platform_User_Role": {
                          "inputs": {
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord"
                            },
                            "parameters": {
                              "entityName": "admin_powerplatformuserroles",
                              "item/admin_name": "@concat(items('Apply_to_each')?['name'], outputs('Get_a_record')?['body/admin_appid'])",
                              "item/admin_resourceuserlink": "@concat(items('Apply_to_each')?['name'], outputs('Get_a_record')?['body/admin_appid'])",
                              "item/admin_rolename": "@items('Apply_to_each')?['properties/roleName']"
                            },
                            "retryPolicy": {
                              "count": 10,
                              "interval": "PT10S",
                              "type": "exponential"
                            }
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        },
                        "Set_OData_ID_from_Create": {
                          "inputs": {
                            "name": "oData",
                            "value": "@{outputs('Create_Power_Platform_User_Role')?['body/@odata.id']}"
                          },
                          "runAfter": {
                            "Create_Power_Platform_User_Role": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable"
                        }
                      },
                      "else": {
                        "actions": {
                          "Set_OData_ID_from_Update": {
                            "inputs": {
                              "name": "oData",
                              "value": "@{outputs('Update_Power_Platform_User_Role')?['body/@odata.id']}"
                            },
                            "runAfter": {
                              "Update_Power_Platform_User_Role": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable"
                          },
                          "Update_Power_Platform_User_Role": {
                            "inputs": {
                              "authentication": {
                                "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "UpdateRecord"
                              },
                              "parameters": {
                                "entityName": "admin_powerplatformuserroles",
                                "item/admin_resourcetype": "App",
                                "item/admin_rolename": "@items('Apply_to_each')?['properties/roleName']",
                                "recordId": "@variables('userRoleObject')"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@length(outputs('List_records')?['body/value'])",
                          0
                        ]
                      },
                      "runAfter": {
                        "Apply_to_each_record": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "List_records": {
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "admin_resourceuserlink eq '@{concat(items('Apply_to_each')?['name'], outputs('Get_a_record')?['body/admin_appid'])}'",
                          "$select": "admin_powerplatformuserroleid",
                          "entityName": "admin_powerplatformuserroles"
                        }
                      },
                      "runAfter": {},
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      },
                      "type": "OpenApiConnection"
                    }
                  },
                  "runAfter": {
                    "Upsert_Power_Platform_User": [
                      "Succeeded"
                    ]
                  },
                  "type": "Scope"
                },
                "catch_not_yet_in_inventory": {
                  "inputs": "catch not yet in inventory",
                  "runAfter": {
                    "Get_a_record": [
                      "Failed"
                    ]
                  },
                  "type": "Compose"
                },
                "relate_role_if_id_exists": {
                  "actions": {
                    "Relate_App_with_Role": {
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "AssociateEntities"
                        },
                        "parameters": {
                          "associationEntityRelationship": "admin_PowerPlatformUserRole_App_admin_App",
                          "entityName": "admin_apps",
                          "item/@odata.id": "@coalesce(outputs('Update_Power_Platform_User_Role')?['body/@odata.id'], outputs('Create_Power_Platform_User_Role')?['body/@odata.id'])",
                          "recordId": "@outputs('Get_a_record')?['body/admin_appid']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "runAfter": {
                        "Relate_User_with_Role": [
                          "Failed"
                        ]
                      },
                      "type": "OpenApiConnection"
                    },
                    "Relate_User_with_Role": {
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "AssociateEntities"
                        },
                        "parameters": {
                          "associationEntityRelationship": "admin_PowerPlatformUser_User",
                          "entityName": "admin_powerplatformusers",
                          "item/@odata.id": "@variables('oData')",
                          "recordId": "@outputs('Compose_User_Unique_ID')"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@outputs('Compose_User_Unique_ID')",
                        "@null"
                      ]
                    }
                  },
                  "runAfter": {
                    "Upsert_Power_Platform_User_Role": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                }
              },
              "foreach": "@outputs('Get_App_Role_Assignments_as_Admin')?['body/value']",
              "runAfter": {
                "catch_no_roles": [
                  "Skipped"
                ]
              },
              "type": "Foreach"
            },
            "Apply_to_each_unshare": {
              "actions": {
                "Apply_to_each_2": {
                  "actions": {
                    "Compose_3": {
                      "inputs": "@items('Apply_to_each_2')?['@odata.id']",
                      "runAfter": {},
                      "type": "Compose"
                    },
                    "Unrelate_records": {
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "DisassociateEntities"
                        },
                        "parameters": {
                          "$id": "@items('Apply_to_each_2')?['@odata.id']",
                          "associationEntityRelationship": "admin_PowerPlatformUserRole_App_admin_App",
                          "entityName": "admin_apps",
                          "recordId": "@items('Walk_the_Apps_in_this_Envt')?['name']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "runAfter": {
                        "Compose_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('List_records_2')?['body/value']",
                  "runAfter": {
                    "List_records_2": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "List_records_2": {
                  "inputs": {
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "_admin_powerplatformuser_value eq @{items('Apply_to_each_unshare')?['ID']} and _admin_app_value eq @{items('Walk_the_Apps_in_this_Envt')?['name']}",
                      "$select": "admin_powerplatformuserroleid",
                      "$top": 1,
                      "entityName": "admin_powerplatformuserroles"
                    }
                  },
                  "runAfter": {
                    "Unrelate_User_from_Role": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                },
                "Unrelate_User_from_Role": {
                  "inputs": {
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "DisassociateEntities"
                    },
                    "parameters": {
                      "$id": "@variables('oData')",
                      "associationEntityRelationship": "admin_PowerPlatformUser_User",
                      "entityName": "admin_powerplatformusers",
                      "recordId": "@items('Apply_to_each_unshare')?['ID']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@body('Filter_delta')",
              "runAfter": {
                "Filter_delta": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Filter_delta": {
              "inputs": {
                "from": "@body('Select_Power_Platform_User_IDs')",
                "where": "@equals(contains(body('Select_Role_Assignment_User_IDs'), item()), false)"
              },
              "runAfter": {
                "Select_Role_Assignment_User_IDs": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "Get_App_Role_Assignments_as_Admin": {
              "inputs": {
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins",
                  "connectionName": "shared_powerappsforadmins_1",
                  "operationId": "Get-AdminAppRoleAssignment"
                },
                "parameters": {
                  "$top": 250,
                  "api-version": "2016-11-01",
                  "app": "@items('Walk_the_Apps_in_this_Envt')?['name']",
                  "environment": "@triggerBody()['text']"
                }
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_Power_Platform_Users": {
              "inputs": {
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$select": "admin_powerplatformuserid",
                  "entityName": "admin_powerplatformusers",
                  "fetchXml": "<fetch>\n  <entity name=\"admin_powerplatformuser\" >\n    <link-entity name=\"admin_powerplatformuserrole\" from=\"admin_powerplatformuser\" to=\"admin_powerplatformuserid\" link-type=\"inner\" >\n      <filter type=\"and\" >\n        <condition attribute=\"admin_app\" operator=\"eq\" value=\"@{items('Walk_the_Apps_in_this_Envt')?['name']}\" uitype=\"admin_app\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                }
              },
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "Select_Power_Platform_User_IDs": {
              "inputs": {
                "from": "@outputs('List_Power_Platform_Users')?['body/value']",
                "select": {
                  "ID": "@item()?['admin_powerplatformuserid']"
                }
              },
              "runAfter": {
                "List_Power_Platform_Users": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "Select_Role_Assignment_User_IDs": {
              "inputs": {
                "from": "@outputs('Get_App_Role_Assignments_as_Admin')?['body/value']",
                "select": {
                  "ID": "@item()?['name']"
                }
              },
              "runAfter": {
                "Select_Power_Platform_User_IDs": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "catch_no_roles": {
              "inputs": "catch no roles",
              "runAfter": {
                "Get_App_Role_Assignments_as_Admin": [
                  "Failed"
                ]
              },
              "type": "Compose"
            }
          },
          "foreach": "@body('Filter_To_Non_Embedded_Apps')",
          "runAfter": {
            "Filter_To_Non_Embedded_Apps": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "envtName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ],
              "type": "object"
            }
          },
          "kind": "Button",
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
