CenterofExcellenceCoreComponents/SolutionPackage/Workflows/CLEANUPHELPER-PowerAppsUserSharedWith-1F3F24FF-C717-EC11-B6E6-000D3A1C26F9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365groups": {
        "api": {
          "name": "shared_office365groups"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreO365Groups"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365users": {
        "api": {
          "name": "shared_office365users"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreOffice365Users"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerappsforadmins_1": {
        "api": {
          "name": "shared_powerappsforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsAdmin2"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Filter_To_Non_Embedded_Apps": {
          "inputs": {
            "from": "@outputs('Get_Apps_as_Admin')?['body/value']",
            "where": "@not(equals(item()?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'))"
          },
          "metadata": {
            "operationMetadataId": "3fff400c-654d-44be-afc9-4f1aea7dbf81"
          },
          "runAfter": {
            "Get_Apps_as_Admin": [
              "Succeeded"
            ]
          },
          "type": "Query"
        },
        "Get_Apps_as_Admin": {
          "inputs": {
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins",
              "connectionName": "shared_powerappsforadmins_1",
              "operationId": "Get-AdminApps"
            },
            "parameters": {
              "$top": 250,
              "api-version": "2016-11-01",
              "environment": "@triggerBody()['text']"
            }
          },
          "metadata": {
            "operationMetadataId": "489d7a10-9a00-4734-99da-85e86d8c749a"
          },
          "runAfter": {
            "Initialize_oData": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "type": "OpenApiConnection"
        },
        "Initialize_Group_Size": {
          "inputs": {
            "variables": [
              {
                "name": "sharedGroupSize",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "0b5299db-ef95-4b83-9362-06cf80834a1a"
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Initialize_User_Role_Object": {
          "inputs": {
            "variables": [
              {
                "name": "userRoleObject",
                "type": "string"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "bf6bcfd9-7912-45e6-876e-bf0d3d66ee70"
          },
          "runAfter": {
            "Initialize_Group_Size": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_oData": {
          "inputs": {
            "variables": [
              {
                "name": "oData",
                "type": "string"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "01b35030-1c04-4e04-ae77-9fd0d985ac32"
          },
          "runAfter": {
            "Initialize_User_Role_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "inputs": {
            "body": {
              "returnvalue": "pass"
            },
            "schema": {
              "properties": {
                "returnvalue": {
                  "title": "returnValue",
                  "type": "string",
                  "x-ms-dynamically-added": true
                }
              },
              "type": "object"
            },
            "statusCode": 200
          },
          "kind": "PowerApp",
          "metadata": {
            "operationMetadataId": "b28449e1-bc60-41e2-b88f-3bc1962d6db4"
          },
          "runAfter": {
            "Walk_the_Apps_in_this_Envt": [
              "Succeeded"
            ]
          },
          "type": "Response"
        },
        "Walk_the_Apps_in_this_Envt": {
          "actions": {
            "Apply_to_each": {
              "actions": {
                "Get_a_record": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "recordId": "@items('Walk_the_Apps_in_this_Envt')?['name']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "58a1b4b1-9ea6-44af-a087-de9645d26eff"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                },
                "Switch": {
                  "cases": {
                    "Group": {
                      "actions": {
                        "List_group_members": {
                          "inputs": {
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups",
                              "connectionName": "shared_office365groups",
                              "operationId": "ListGroupMembers"
                            },
                            "parameters": {
                              "groupId": "@items('Apply_to_each')?['properties']?['principal']?['id']"
                            }
                          },
                          "runAfter": {},
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        },
                        "Set_Group_Size_for_Groups": {
                          "inputs": {
                            "name": "sharedGroupSize",
                            "value": "@length(outputs('List_group_members')?['body/value'])"
                          },
                          "runAfter": {
                            "List_group_members": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable"
                        }
                      },
                      "case": "Group"
                    },
                    "User": {
                      "actions": {
                        "Set_Group_Size_for_User": {
                          "inputs": {
                            "name": "sharedGroupSize",
                            "value": 1
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        }
                      },
                      "case": "User"
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "expression": "@items('Apply_to_each')?['properties/principal/type']",
                  "metadata": {
                    "operationMetadataId": "19b456ff-b313-4698-b699-3b248fff0b3c"
                  },
                  "runAfter": {
                    "catch_not_yet_in_inventory": [
                      "Skipped"
                    ]
                  },
                  "type": "Switch"
                },
                "Upsert_Power_Platform_User": {
                  "actions": {
                    "Compose_User_Unique_ID": {
                      "inputs": "@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])",
                      "metadata": {
                        "operationMetadataId": "5cc0645f-1b41-44d7-8e91-2b479604890a"
                      },
                      "runAfter": {},
                      "type": "Compose"
                    },
                    "proceed_if_id_not_null": {
                      "actions": {
                        "Get_user_profile_(V2)": {
                          "inputs": {
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                              "connectionName": "shared_office365users",
                              "operationId": "UserProfile_V2"
                            },
                            "parameters": {
                              "$select": "city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id, companyName",
                              "id": "@outputs('Compose_User_Unique_ID')"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "91dbdac5-8c71-483f-820f-7df075f992d6"
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        },
                        "Switch_on_get_user": {
                          "cases": {
                            "200_Success": {
                              "actions": {
                                "Insert_Power_Platform_User": {
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                                      "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                                      "item/admin_displayname": "@coalesce(items('Apply_to_each')?['properties/principal/displayName'], 'Tenant')",
                                      "item/admin_groupsize": "@variables('sharedGroupSize')",
                                      "item/admin_powerplatformuserid": "@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])",
                                      "item/admin_userprincipalname": "@coalesce(items('Apply_to_each')?['properties/principal/email'], '')"
                                    }
                                  },
                                  "runAfter": {
                                    "Update_Power_Platform_User_": [
                                      "Failed"
                                    ]
                                  },
                                  "type": "OpenApiConnection"
                                },
                                "Update_Power_Platform_User_": {
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                                      "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                                      "item/admin_displayname": "@coalesce(items('Apply_to_each')?['properties/principal/displayName'], 'Tenant')",
                                      "item/admin_groupsize": "@variables('sharedGroupSize')",
                                      "item/admin_type": "@items('Apply_to_each')?['properties/principal/type']",
                                      "item/admin_userprincipalname": "@coalesce(items('Apply_to_each')?['properties/principal/email'], '')",
                                      "recordId": "@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])"
                                    }
                                  },
                                  "runAfter": {},
                                  "type": "OpenApiConnection"
                                }
                              },
                              "case": 200
                            },
                            "404_File_Not_Found": {
                              "actions": {
                                "Insert_Power_Platform_User_-_no_o365_details": {
                                  "description": "If Update fails, try Insert",
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_displayname": "@coalesce(items('Apply_to_each')?['properties/principal/displayName'], 'Tenant')",
                                      "item/admin_groupsize": "@variables('sharedGroupSize')",
                                      "item/admin_powerplatformuserid": "@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])",
                                      "item/admin_userprincipalname": "@coalesce(items('Apply_to_each')?['properties/principal/email'], '')"
                                    },
                                    "retryPolicy": {
                                      "count": 10,
                                      "interval": "PT10S",
                                      "type": "exponential"
                                    }
                                  },
                                  "runAfter": {
                                    "Update_Power_Platform_User_-_no_o365_details": [
                                      "Failed"
                                    ]
                                  },
                                  "type": "OpenApiConnection"
                                },
                                "Update_Power_Platform_User_-_no_o365_details": {
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_displayname": "@coalesce(items('Apply_to_each')?['properties/principal/displayName'], 'Tenant')",
                                      "item/admin_groupsize": "@variables('sharedGroupSize')",
                                      "item/admin_type": "@items('Apply_to_each')?['properties/principal/type']",
                                      "item/admin_userprincipalname": "@coalesce(items('Apply_to_each')?['properties/principal/email'], '')",
                                      "recordId": "@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])"
                                    },
                                    "retryPolicy": {
                                      "count": 10,
                                      "interval": "PT10S",
                                      "type": "exponential"
                                    }
                                  },
                                  "runAfter": {},
                                  "type": "OpenApiConnection"
                                }
                              },
                              "case": 404
                            }
                          },
                          "default": {
                            "actions": {}
                          },
                          "expression": "@outputs('Get_user_profile_(V2)')['statusCode']",
                          "metadata": {
                            "operationMetadataId": "710227f9-7939-4668-9258-2a59a50b4cab"
                          },
                          "runAfter": {
                            "Get_user_profile_(V2)": [
                              "Succeeded",
                              "Failed"
                            ]
                          },
                          "type": "Switch"
                        }
                      },
                      "description": "It's possible to add a role programmatically but incorrectly",
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Compose_User_Unique_ID')",
                            "@null"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "94190e5b-851f-4e7a-b499-b5201b0ef8d8"
                      },
                      "runAfter": {
                        "Compose_User_Unique_ID": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "8f891513-db45-4460-8425-968dc6e8fa13"
                  },
                  "runAfter": {
                    "Switch": [
                      "Succeeded"
                    ]
                  },
                  "type": "Scope"
                },
                "Upsert_Power_Platform_User_Role": {
                  "actions": {
                    "Apply_to_each_record": {
                      "actions": {
                        "Set_variable": {
                          "inputs": {
                            "name": "userRoleObject",
                            "value": "@items('Apply_to_each_record')?['admin_powerplatformuserroleid']"
                          },
                          "metadata": {
                            "operationMetadataId": "60388144-af9e-49a7-8941-dbf2e0588d6b"
                          },
                          "runAfter": {},
                          "type": "SetVariable"
                        }
                      },
                      "foreach": "@outputs('List_records')?['body/value']",
                      "metadata": {
                        "operationMetadataId": "85bf13ab-5817-4716-a060-4061c671cc7a"
                      },
                      "runAfter": {
                        "List_records": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "Condition": {
                      "actions": {
                        "Create_Power_Platform_User_Role": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord"
                            },
                            "parameters": {
                              "entityName": "admin_powerplatformuserroles",
                              "item/admin_App@odata.bind": "admin_apps(@{outputs('Get_a_record')?['body/admin_appid']})",
                              "item/admin_Environment@odata.bind": "admin_environments(@{outputs('Get_a_record')?['body/_admin_appenvironment_value']})",
                              "item/admin_name": "@concat(items('Apply_to_each')?['name'], outputs('Get_a_record')?['body/admin_appid'])",
                              "item/admin_resourcetype": "App",
                              "item/admin_resourceuserlink": "@concat(items('Apply_to_each')?['name'], outputs('Get_a_record')?['body/admin_appid'])",
                              "item/admin_rolename": "@items('Apply_to_each')?['properties/roleName']"
                            },
                            "retryPolicy": {
                              "count": 10,
                              "interval": "PT10S",
                              "type": "exponential"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "b59e3c8c-dcbe-449a-aea2-e91630e72648"
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        },
                        "Set_OData_ID_from_Create": {
                          "inputs": {
                            "name": "oData",
                            "value": "@{outputs('Create_Power_Platform_User_Role')?['body/@odata.id']}"
                          },
                          "metadata": {
                            "operationMetadataId": "4d5b87e0-db20-4157-87e1-4a9ae6072a51"
                          },
                          "runAfter": {
                            "Create_Power_Platform_User_Role": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable"
                        }
                      },
                      "else": {
                        "actions": {
                          "Set_OData_ID_from_Update": {
                            "inputs": {
                              "name": "oData",
                              "value": "@{outputs('Update_Power_Platform_User_Role')?['body/@odata.id']}"
                            },
                            "metadata": {
                              "operationMetadataId": "3e717dfa-b12c-4af8-a9a4-3fc54e9c4e73"
                            },
                            "runAfter": {
                              "Update_Power_Platform_User_Role": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable"
                          },
                          "Update_Power_Platform_User_Role": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "UpdateRecord"
                              },
                              "parameters": {
                                "entityName": "admin_powerplatformuserroles",
                                "item/admin_App@odata.bind": "admin_apps(@{outputs('Get_a_record')?['body/admin_appid']})",
                                "item/admin_Environment@odata.bind": "admin_environments(@{outputs('Get_a_record')?['body/_admin_appenvironment_value']})",
                                "item/admin_resourcetype": "App",
                                "item/admin_rolename": "@items('Apply_to_each')?['properties/roleName']",
                                "recordId": "@variables('userRoleObject')"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "0473e66d-9fa6-4e6c-812b-b1cb1cf42e4c"
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@length(outputs('List_records')?['body/value'])",
                          0
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c3b53adf-7500-4af9-9834-55d470292c16"
                      },
                      "runAfter": {
                        "Apply_to_each_record": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "List_records": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "admin_resourceuserlink eq '@{concat(items('Apply_to_each')?['name'], outputs('Get_a_record')?['body/admin_appid'])}'",
                          "$select": "admin_powerplatformuserroleid",
                          "entityName": "admin_powerplatformuserroles"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "cc78b6d1-060f-403d-b821-096f353f24f4"
                      },
                      "runAfter": {},
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      },
                      "type": "OpenApiConnection"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "35cdcfcf-5764-48ba-83ec-209799244009"
                  },
                  "runAfter": {
                    "Upsert_Power_Platform_User": [
                      "Succeeded"
                    ]
                  },
                  "type": "Scope"
                },
                "catch_not_yet_in_inventory": {
                  "inputs": "catch not yet in inventory",
                  "metadata": {
                    "operationMetadataId": "00575e45-924c-4269-a3c9-c56edc47619e"
                  },
                  "runAfter": {
                    "Get_a_record": [
                      "Failed"
                    ]
                  },
                  "type": "Compose"
                },
                "relate_role_if_id_exists": {
                  "actions": {
                    "Relate_App_with_Role": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "AssociateEntities"
                        },
                        "parameters": {
                          "associationEntityRelationship": "admin_PowerPlatformUserRole_App_admin_App",
                          "entityName": "admin_apps",
                          "item/@odata.id": "@coalesce(outputs('Update_Power_Platform_User_Role')?['body/@odata.id'], outputs('Create_Power_Platform_User_Role')?['body/@odata.id'])",
                          "recordId": "@outputs('Get_a_record')?['body/admin_appid']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "485e8260-f39f-409e-a60d-befcaaf16733"
                      },
                      "runAfter": {
                        "Relate_User_with_Role": [
                          "Failed"
                        ]
                      },
                      "type": "OpenApiConnection"
                    },
                    "Relate_User_with_Role": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "AssociateEntities"
                        },
                        "parameters": {
                          "associationEntityRelationship": "admin_PowerPlatformUser_User",
                          "entityName": "admin_powerplatformusers",
                          "item/@odata.id": "@variables('oData')",
                          "recordId": "@outputs('Compose_User_Unique_ID')"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "ff1386ee-38a9-4837-a55b-8a1c19ecbc70"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@outputs('Compose_User_Unique_ID')",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "99e9e96b-6eed-4b39-a31c-77412be66889"
                  },
                  "runAfter": {
                    "Upsert_Power_Platform_User_Role": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                }
              },
              "foreach": "@outputs('Get_App_Role_Assignments_as_Admin')?['body/value']",
              "metadata": {
                "operationMetadataId": "6f3a5773-ab6f-4094-8a01-b1ee1de4ee4d"
              },
              "runAfter": {
                "catch_no_roles": [
                  "Skipped"
                ]
              },
              "type": "Foreach"
            },
            "Apply_to_each_unshare": {
              "actions": {
                "Apply_to_each_2": {
                  "actions": {
                    "Compose_3": {
                      "inputs": "@items('Apply_to_each_2')?['@odata.id']",
                      "metadata": {
                        "operationMetadataId": "bc5aba34-e6e8-44fa-b522-bb3f8aae37c5"
                      },
                      "runAfter": {},
                      "type": "Compose"
                    },
                    "Unrelate_records": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "DisassociateEntities"
                        },
                        "parameters": {
                          "$id": "@items('Apply_to_each_2')?['@odata.id']",
                          "associationEntityRelationship": "admin_PowerPlatformUserRole_App_admin_App",
                          "entityName": "admin_apps",
                          "recordId": "@items('Walk_the_Apps_in_this_Envt')?['name']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "86cd4c2d-9311-44f9-9beb-4a978b06b731"
                      },
                      "runAfter": {
                        "Compose_3": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('List_records_2')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "9386c64c-93db-4ecf-a18a-1fb06ebfe7cc"
                  },
                  "runAfter": {
                    "List_records_2": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "List_records_2": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "_admin_powerplatformuser_value eq @{items('Apply_to_each_unshare')?['ID']} and _admin_app_value eq @{items('Walk_the_Apps_in_this_Envt')?['name']}",
                      "$select": "admin_powerplatformuserroleid",
                      "$top": 1,
                      "entityName": "admin_powerplatformuserroles"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "2caffd55-cf27-4d2c-b33d-bc4eebd190a5"
                  },
                  "runAfter": {
                    "Unrelate_User_from_Role": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                },
                "Unrelate_User_from_Role": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "DisassociateEntities"
                    },
                    "parameters": {
                      "$id": "@variables('oData')",
                      "associationEntityRelationship": "admin_PowerPlatformUser_User",
                      "entityName": "admin_powerplatformusers",
                      "recordId": "@items('Apply_to_each_unshare')?['ID']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "600f5678-40ba-4089-9e1d-aad6a90e2296"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@body('Filter_delta')",
              "metadata": {
                "operationMetadataId": "e9d7f7ac-cea8-4bf3-b470-7ca28dbfb79a"
              },
              "runAfter": {
                "Filter_delta": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Filter_delta": {
              "inputs": {
                "from": "@body('Select_Power_Platform_User_IDs')",
                "where": "@equals(contains(body('Select_Role_Assignment_User_IDs'), item()), false)"
              },
              "metadata": {
                "operationMetadataId": "7ae88bc8-c6dd-42f5-9161-93c606eb9582"
              },
              "runAfter": {
                "Select_Role_Assignment_User_IDs": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "Get_App_Role_Assignments_as_Admin": {
              "inputs": {
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins",
                  "connectionName": "shared_powerappsforadmins_1",
                  "operationId": "Get-AdminAppRoleAssignment"
                },
                "parameters": {
                  "$top": 250,
                  "api-version": "2016-11-01",
                  "app": "@items('Walk_the_Apps_in_this_Envt')?['name']",
                  "environment": "@triggerBody()['text']"
                }
              },
              "metadata": {
                "operationMetadataId": "7d97c9ac-572b-4c8e-9a83-225db4614d14"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_Power_Platform_Users": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$select": "admin_powerplatformuserid",
                  "entityName": "admin_powerplatformusers",
                  "fetchXml": "<fetch>\n  <entity name=\"admin_powerplatformuser\" >\n    <link-entity name=\"admin_powerplatformuserrole\" from=\"admin_powerplatformuser\" to=\"admin_powerplatformuserid\" link-type=\"inner\" >\n      <filter type=\"and\" >\n        <condition attribute=\"admin_app\" operator=\"eq\" value=\"@{items('Walk_the_Apps_in_this_Envt')?['name']}\" uitype=\"admin_app\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                }
              },
              "metadata": {
                "operationMetadataId": "03f0465b-474c-4eed-9a23-ecdfb0b22e8b"
              },
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "Select_Power_Platform_User_IDs": {
              "inputs": {
                "from": "@outputs('List_Power_Platform_Users')?['body/value']",
                "select": {
                  "ID": "@item()?['admin_powerplatformuserid']"
                }
              },
              "metadata": {
                "operationMetadataId": "e8d8d18a-ec53-4115-b0b2-9a6978e38397"
              },
              "runAfter": {
                "List_Power_Platform_Users": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "Select_Role_Assignment_User_IDs": {
              "inputs": {
                "from": "@outputs('Get_App_Role_Assignments_as_Admin')?['body/value']",
                "select": {
                  "ID": "@item()?['name']"
                }
              },
              "metadata": {
                "operationMetadataId": "8387a9f1-67a3-4732-aa50-769e03a25336"
              },
              "runAfter": {
                "Select_Power_Platform_User_IDs": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "catch_no_roles": {
              "inputs": "catch no roles",
              "metadata": {
                "operationMetadataId": "8f64e54b-2fa5-4659-be40-317e6c700a43"
              },
              "runAfter": {
                "Get_App_Role_Assignments_as_Admin": [
                  "Failed"
                ]
              },
              "type": "Compose"
            }
          },
          "foreach": "@body('Filter_To_Non_Embedded_Apps')",
          "metadata": {
            "operationMetadataId": "9e2239ac-f88e-4e82-a925-a3650d07fe9c"
          },
          "runAfter": {
            "Filter_To_Non_Embedded_Apps": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "envtName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ],
              "type": "object"
            }
          },
          "kind": "Button",
          "metadata": {
            "operationMetadataId": "67710f6e-1529-45ee-bea1-e8c9691bab01"
          },
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
