CenterofExcellenceCoreComponents/SolutionPackage/Workflows/CLEANUP-AdminSyncTemplatev3DeleteBadData-0D504EE6-70FB-EB11-94EF-002248237D7D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Delete_Bad_Data": {
          "actions": {
            "Delete_Apps_without_Environments": {
              "actions": {
                "Delete_app_without_environment": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "recordId": "@items('Delete_Apps_without_Environments')?['admin_appid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Apps_with_No_Environment')?['body/value']",
              "runAfter": {
                "List_Apps_with_No_Environment": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_CoE_Connection_References_with_neither_app_nor_flow": {
              "actions": {
                "Delete_connection_reference_2": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_connectionreferences",
                      "recordId": "@items('Delete_CoE_Connection_References_with_neither_app_nor_flow')?['admin_connectionreferenceid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_CoE_Connection_References_with_neither_app_nor_flow')?['body/value']",
              "runAfter": {
                "List_CoE_Connection_References_with_neither_app_nor_flow": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_CoE_Connection_References_with_no_Connection": {
              "actions": {
                "Delete_connection_reference": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_connectionreferences",
                      "recordId": "@items('Delete_CoE_Connection_References_with_no_Connection')?['admin_connectionreferenceid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_CoE_Connection_References_with_no_Connection')?['body/value']",
              "runAfter": {
                "List_CoE_Connection_References_with_no_Connection": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_Custom_Connection_with_no_Environmnet": {
              "actions": {
                "Delete_custom_connection": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_connectors",
                      "recordId": "@items('Delete_Custom_Connection_with_no_Environmnet')?['admin_connectorid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Custom_Connection_with_no_Environment')?['body/value']",
              "runAfter": {
                "List_Custom_Connection_with_no_Environment": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_Desktop_Flows_without_Environments": {
              "actions": {
                "Delete_desktop_flow_without_environment": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_rpas",
                      "recordId": "@items('Delete_Desktop_Flows_without_Environments')?['admin_rpaid']"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Desktop_Flows_with_No_Environment')?['body/value']",
              "runAfter": {
                "List_Desktop_Flows_with_No_Environment": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_Flow_Actions_with_no_Flow_or_Envt": {
              "actions": {
                "Delete_flow_action_detail": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_flowactiondetails",
                      "recordId": "@items('Delete_Flow_Actions_with_no_Flow_or_Envt')?['admin_flowactiondetailid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Flow_Actions_with_no_Flow_or_no_Envt')?['body/value']",
              "runAfter": {
                "List_Flow_Actions_with_no_Flow_or_no_Envt": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_Flows_without_Environments": {
              "actions": {
                "Delete_flow_without_environment": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_flows",
                      "recordId": "@items('Delete_Flows_without_Environments')?['admin_flowid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Flow_with_No_Environment')?['body/value']",
              "runAfter": {
                "List_Flow_with_No_Environment": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "List_Apps_with_No_Environment": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_appenvironment_value eq null",
                  "$select": "admin_appid",
                  "entityName": "admin_apps"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_CoE_Connection_References_with_neither_app_nor_flow": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_app_value eq null and _admin_flow_value eq null",
                  "$select": "admin_connectionreferenceid",
                  "entityName": "admin_connectionreferences"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "runAfter": {
                "Delete_CoE_Connection_References_with_no_Connection": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_CoE_Connection_References_with_no_Connection": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_connector_value eq null",
                  "$select": "admin_connectionreferenceid",
                  "entityName": "admin_connectionreferences"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "runAfter": {
                "Delete_Flows_without_Environments": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_Custom_Connection_with_no_Environment": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_environmentcustomconnector_value eq null and admin_iscustomapi eq true",
                  "$select": "admin_connectorid",
                  "entityName": "admin_connectors"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "runAfter": {
                "Delete_CoE_Connection_References_with_neither_app_nor_flow": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_Desktop_Flows_with_No_Environment": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_desktopflowenvironment_value eq null",
                  "$select": "admin_rpaid",
                  "entityName": "admin_rpas"
                }
              },
              "runAfter": {
                "Delete_Apps_without_Environments": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection"
            },
            "List_Flow_Actions_with_no_Flow_or_no_Envt": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_flow_value eq null or _admin_flowactiondetailenvrinment_value eq null",
                  "$select": "admin_flowactiondetailid",
                  "entityName": "admin_flowactiondetails"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "runAfter": {
                "Delete_Custom_Connection_with_no_Environmnet": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_Flow_with_No_Environment": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_flowenvironment_value eq null",
                  "$select": "admin_flowid",
                  "entityName": "admin_flows"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "runAfter": {
                "Delete_Desktop_Flows_without_Environments": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            }
          },
          "description": "We will build to this clean up over time. For now just a few to get it started",
          "runAfter": {
            "Initialize_variable_flowEnvironment": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Delete_Bad_Data_fails_-_Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_flowinstanceurl": "@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/admin_name": "Admin | Sync Template v3 (Flows)"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            },
            "Terminate": {
              "inputs": {
                "runError": {
                  "code": "500",
                  "message": "Delete Bad Data Failed"
                },
                "runStatus": "Failed"
              },
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "type": "Terminate"
            }
          },
          "runAfter": {
            "Delete_Bad_Data": [
              "Failed"
            ]
          },
          "type": "Scope"
        },
        "Initialize_variable_flowEnvironment": {
          "description": "Environment location specific Flow URL - remember / at the end",
          "inputs": {
            "variables": [
              {
                "name": "flowEnvironment",
                "type": "string",
                "value": "@parameters('Power Automate Environment Variable')"
              }
            ]
          },
          "runAfter": {},
          "type": "InitializeVariable"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Automate Environment Variable": {
          "defaultValue": "https://us.flow.microsoft.com/manage/environments/",
          "metadata": {
            "description": "Environment, including geographic location, for Power Automate - for example https://us.flow.microsoft.com/manage/environments/ for US environments",
            "schemaName": "admin_PowerAutomateEnvironmentVariable"
          },
          "type": "String"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
