CenterofExcellenceCoreComponents/SolutionPackage/Workflows/CLEANUP-AdminSyncTemplatev3OrphanedMakers-E05CFB27-740D-EB11-A814-000D3A1BB7BB.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_sharedcommondataserviceforapps_98924"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365users_1": {
        "api": {
          "name": "shared_office365users"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreO365Users"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Find_New_Orpans": {
          "actions": {
            "Apply_to_each_maker": {
              "actions": {
                "Get_Maker": {
                  "inputs": {
                    "body": {
                      "boolean": true,
                      "text": "@items('Apply_to_each_maker')?['admin_makerid']",
                      "text_1": "@items('Apply_to_each_maker')?['admin_displayname']"
                    },
                    "host": {
                      "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "f610c4d0-eed5-4453-ad3b-43d6d3245460"
                  },
                  "runAfter": {},
                  "type": "Workflow"
                },
                "See_if_now_orphaned": {
                  "actions": {
                    "Mark_all_objects_as_orphaned": {
                      "actions": {
                        "Apply_to_each_UI_Flow": {
                          "actions": {
                            "Update_UI_Flow_(Mark_as_orphaned)": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_rpas",
                                  "item/admin_rpaisorphaned": "Yes",
                                  "recordId": "@items('Apply_to_each_UI_Flow')?['admin_rpaid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "d43d52a8-e6d6-4ef7-a72a-29d201841763"
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "foreach": "@outputs('List_UI_Flows_of_maker')?['body/value']",
                          "metadata": {
                            "operationMetadataId": "bb3d9017-c8a5-4be5-9c6b-571f3d1da7c2"
                          },
                          "runAfter": {
                            "List_UI_Flows_of_maker": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          },
                          "type": "Foreach"
                        },
                        "Apply_to_each_app": {
                          "actions": {
                            "Update_App_(Mark_as_orphaned)": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_apps",
                                  "item/cr5d5_appisorphaned": "Yes",
                                  "recordId": "@items('Apply_to_each_app')?['admin_appid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "77f1ff8b-e39f-4cf2-a9d5-b9376c6ffe39"
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "foreach": "@outputs('List_apps_of_maker')?['body/value']",
                          "metadata": {
                            "operationMetadataId": "b79a34f0-23b2-43d9-96cb-3c2d03f6a6ac"
                          },
                          "runAfter": {
                            "List_apps_of_maker": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          },
                          "type": "Foreach"
                        },
                        "Apply_to_each_bot": {
                          "actions": {
                            "Update_bot_(Mark_as_orphaned)": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_pvas",
                                  "item/admin_pvaisorphaned": "Yes",
                                  "recordId": "@items('Apply_to_each_bot')?['admin_pvaid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "09560b67-6e3d-47b4-ab71-20650de445b1"
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "foreach": "@outputs('List_bots_of_maker')?['body/value']",
                          "metadata": {
                            "operationMetadataId": "b3a037e0-aa06-4676-9b65-c4e6c945d94f"
                          },
                          "runAfter": {
                            "List_bots_of_maker": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          },
                          "type": "Foreach"
                        },
                        "Apply_to_each_connector": {
                          "actions": {
                            "Update_Custom_Connector_(Mark_as_Orphaned)": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_connectors",
                                  "item/admin_appisorphaned": "Yes",
                                  "recordId": "@items('Apply_to_each_connector')?['admin_connectorid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "48bd9892-84e6-4f45-bfa8-502b5528ac46"
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "foreach": "@outputs('List_custom_connectors_of_maker')?['body/value']",
                          "metadata": {
                            "operationMetadataId": "3c17c6ed-c564-4ef3-b8ad-23b9fceeb862"
                          },
                          "runAfter": {
                            "List_custom_connectors_of_maker": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          },
                          "type": "Foreach"
                        },
                        "Apply_to_each_environment": {
                          "actions": {
                            "Update_Environment_(Mark_as_Orphaned)": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_environments",
                                  "item/admin_environmentisorphaned": "Yes",
                                  "recordId": "@items('Apply_to_each_environment')?['admin_environmentid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "4ade1d3a-ae73-4cea-ab79-2a04b8dfee82"
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "foreach": "@outputs('List_environments_of_maker')?['body/value']",
                          "metadata": {
                            "operationMetadataId": "3962d28a-ede9-46e9-91d1-31f97e603192"
                          },
                          "runAfter": {
                            "List_environments_of_maker": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          },
                          "type": "Foreach"
                        },
                        "Apply_to_each_flow": {
                          "actions": {
                            "Update_Flow_(Mark_as_orphaned)": {
                              "inputs": {
                                "authentication": "@parameters('$authentication')",
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord"
                                },
                                "parameters": {
                                  "entityName": "admin_flows",
                                  "item/cr5d5_flowisorphaned": "Yes",
                                  "recordId": "@items('Apply_to_each_flow')?['admin_flowid']"
                                },
                                "retryPolicy": {
                                  "count": 10,
                                  "interval": "PT10S",
                                  "type": "exponential"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "ae6aa268-42df-4abf-8e1a-d3212ab0ab58"
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "foreach": "@outputs('List_flows_of_maker')?['body/value']",
                          "metadata": {
                            "operationMetadataId": "3e239d3c-e82a-4194-8d11-22814521e68a"
                          },
                          "runAfter": {
                            "List_flows_of_maker": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "concurrency": {
                              "repetitions": 50
                            }
                          },
                          "type": "Foreach"
                        },
                        "List_UI_Flows_of_maker": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "$filter": "_admin_rpaowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                              "$select": "admin_rpaid",
                              "entityName": "admin_rpas"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "9c007250-6f52-4838-89a6-9f0d28666301"
                          },
                          "runAfter": {
                            "Apply_to_each_bot": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        },
                        "List_apps_of_maker": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "$filter": "_admin_appowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                              "$select": "admin_appid",
                              "entityName": "admin_apps"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "076f9f86-8841-415a-87d9-8aaceade987a"
                          },
                          "runAfter": {},
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        },
                        "List_bots_of_maker": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "$filter": "_admin_pvaowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                              "$select": "admin_pvaid",
                              "entityName": "admin_pvas"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "5d2f4977-25f0-4fab-b0c8-9b0f68d40b06"
                          },
                          "runAfter": {
                            "Apply_to_each_flow": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        },
                        "List_custom_connectors_of_maker": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "$filter": "_admin_maker_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                              "$select": "admin_connectorid",
                              "entityName": "admin_connectors"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "f420c595-bd4e-4bf5-a9aa-f293241209c9"
                          },
                          "runAfter": {
                            "Apply_to_each_environment": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        },
                        "List_environments_of_maker": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "$filter": "_admin_maker_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                              "$select": "admin_environmentid",
                              "entityName": "admin_environments"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "f89c5fe3-ebb5-4cdb-ba39-95e8776311f3"
                          },
                          "runAfter": {
                            "Apply_to_each_UI_Flow": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        },
                        "List_flows_of_maker": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "$filter": "(_admin_flowcreator_value eq @{items('Apply_to_each_maker')?['admin_makerid']} and _admin_derivedowner_value eq null) or _admin_derivedowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                              "$select": "admin_flowid",
                              "entityName": "admin_flows"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "63df4fee-f034-4bd3-8ec2-6ad959c6340d"
                          },
                          "runAfter": {
                            "Apply_to_each_app": [
                              "Succeeded"
                            ]
                          },
                          "runtimeConfiguration": {
                            "paginationPolicy": {
                              "minimumItemCount": 100000
                            }
                          },
                          "type": "OpenApiConnection"
                        },
                        "Update_Maker_record_(mark_as_orphaned)": {
                          "inputs": {
                            "authentication": "@parameters('$authentication')",
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateRecord"
                            },
                            "parameters": {
                              "entityName": "admin_makers",
                              "item/admin_makerisorphaned": true,
                              "recordId": "@items('Apply_to_each_maker')?['admin_makerid']"
                            },
                            "retryPolicy": {
                              "count": 10,
                              "interval": "PT10S",
                              "type": "exponential"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "0e6b1341-7c60-4816-9193-4f0c5d2c122f"
                          },
                          "runAfter": {
                            "Apply_to_each_connector": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "7ec95aa1-f97e-411c-a414-bc621c355011"
                      },
                      "runAfter": {},
                      "type": "Scope"
                    }
                  },
                  "else": {
                    "actions": {
                      "update_managers": {
                        "actions": {
                          "get_M1_info_if_not_null": {
                            "actions": {
                              "Get_M1_manager": {
                                "inputs": {
                                  "authentication": "@parameters('$authentication')",
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                                    "connectionName": "shared_office365users_1",
                                    "operationId": "Manager_V2"
                                  },
                                  "parameters": {
                                    "$select": "id, userPrincipalName",
                                    "id": "@items('Apply_to_each_maker')?['admin_makerid']"
                                  }
                                },
                                "metadata": {
                                  "operationMetadataId": "83ff4099-e870-45ab-b06f-0ee210edd1e2"
                                },
                                "runAfter": {},
                                "type": "OpenApiConnection"
                              },
                              "catch_no_M1": {
                                "inputs": "catch no M1",
                                "metadata": {
                                  "operationMetadataId": "b0cf7566-390d-4455-a8de-facf8b1b0d6f"
                                },
                                "runAfter": {
                                  "Get_M1_manager": [
                                    "Failed"
                                  ]
                                },
                                "type": "Compose"
                              },
                              "update_M1_and_get_M2_info_if_not_null": {
                                "actions": {
                                  "Get_M2_manager": {
                                    "inputs": {
                                      "authentication": "@parameters('$authentication')",
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                                        "connectionName": "shared_office365users_1",
                                        "operationId": "Manager_V2"
                                      },
                                      "parameters": {
                                        "$select": "id, userPrincipalName",
                                        "id": "@outputs('Get_M1_manager')?['body/id']"
                                      }
                                    },
                                    "metadata": {
                                      "operationMetadataId": "f0fff3e6-617a-411b-aa79-827e71477622"
                                    },
                                    "runAfter": {
                                      "Update_Maker_Manager_M1": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "OpenApiConnection"
                                  },
                                  "Update_Maker_Manager_M1": {
                                    "inputs": {
                                      "authentication": "@parameters('$authentication')",
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "UpdateRecord"
                                      },
                                      "parameters": {
                                        "entityName": "admin_makers",
                                        "item/admin_makerisorphaned": false,
                                        "item/admin_managerid": "@outputs('Get_M1_manager')?['body/id']",
                                        "item/admin_managerprinciplename": "@outputs('Get_M1_manager')?['body/userPrincipalName']",
                                        "recordId": "@items('Apply_to_each_maker')?['admin_makerid']"
                                      },
                                      "retryPolicy": {
                                        "count": 10,
                                        "interval": "PT10S",
                                        "type": "exponential"
                                      }
                                    },
                                    "metadata": {
                                      "operationMetadataId": "5f9b14c5-4afb-4eee-bc48-aa4c5a30c11b"
                                    },
                                    "runAfter": {},
                                    "type": "OpenApiConnection"
                                  },
                                  "catch_no_M2": {
                                    "inputs": "catch no M2",
                                    "metadata": {
                                      "operationMetadataId": "37511043-7669-47aa-8ec5-d486c948ec8b"
                                    },
                                    "runAfter": {
                                      "Get_M2_manager": [
                                        "Failed"
                                      ]
                                    },
                                    "type": "Compose"
                                  },
                                  "update_M2_info_if_not_null": {
                                    "actions": {
                                      "Update_Maker_Manager_M2": {
                                        "inputs": {
                                          "authentication": "@parameters('$authentication')",
                                          "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "UpdateRecord"
                                          },
                                          "parameters": {
                                            "entityName": "admin_makers",
                                            "item/admin_m2managerprinciplename": "@outputs('Get_M2_manager')?['body/userPrincipalName']",
                                            "recordId": "@items('Apply_to_each_maker')?['admin_makerid']"
                                          },
                                          "retryPolicy": {
                                            "count": 10,
                                            "interval": "PT10S",
                                            "type": "exponential"
                                          }
                                        },
                                        "metadata": {
                                          "operationMetadataId": "9153585c-413c-43ff-860d-3954410a084d"
                                        },
                                        "runAfter": {},
                                        "type": "OpenApiConnection"
                                      }
                                    },
                                    "expression": {
                                      "not": {
                                        "equals": [
                                          "@outputs('Get_M2_manager')?['body/id']",
                                          "@null"
                                        ]
                                      }
                                    },
                                    "metadata": {
                                      "operationMetadataId": "59a82464-b3ba-41e4-8bc0-3891e483502a"
                                    },
                                    "runAfter": {
                                      "catch_no_M2": [
                                        "Succeeded",
                                        "Skipped"
                                      ]
                                    },
                                    "type": "If"
                                  }
                                },
                                "expression": {
                                  "not": {
                                    "equals": [
                                      "@outputs('Get_M1_manager')?['body/id']",
                                      "@null"
                                    ]
                                  }
                                },
                                "metadata": {
                                  "operationMetadataId": "562e4720-5a0f-4498-8c8f-5ce8500f9ea2"
                                },
                                "runAfter": {
                                  "catch_no_M1": [
                                    "Succeeded",
                                    "Skipped"
                                  ]
                                },
                                "type": "If"
                              }
                            },
                            "expression": {
                              "greater": [
                                "@length(outputs('Get_Maker')?['Body']?['usermanagerid'])",
                                0
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "c6b0b4d0-9fcc-4dee-b07d-d7efcd724277"
                            },
                            "runAfter": {},
                            "type": "If"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "cce0ba1d-5017-4513-b77e-2cf700c75073"
                        },
                        "runAfter": {},
                        "type": "Scope"
                      },
                      "update_photo": {
                        "actions": {
                          "Get_user_photo_(V2)": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                                "connectionName": "shared_office365users_1",
                                "operationId": "UserPhoto_V2"
                              },
                              "parameters": {
                                "id": "@items('Apply_to_each_maker')?['admin_makerid']"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "13627757-0515-4f83-a6af-1433e23cc132"
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          },
                          "update_if_not_null": {
                            "actions": {
                              "Upload_a_file_or_an_image": {
                                "inputs": {
                                  "authentication": "@parameters('$authentication')",
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "UpdateEntityFileImageFieldContent"
                                  },
                                  "parameters": {
                                    "entityName": "admin_makers",
                                    "fileImageFieldName": "admin_photoobject",
                                    "item": "@body('Get_user_photo_(V2)')",
                                    "recordId": "@items('Apply_to_each_maker')?['admin_makerid']",
                                    "x-ms-file-name": "@{items('Apply_to_each_maker')?['admin_makerid']}_pic"
                                  }
                                },
                                "metadata": {
                                  "operationMetadataId": "4cbb8ce5-4851-4dcf-9fb8-d72e76c61404"
                                },
                                "runAfter": {},
                                "type": "OpenApiConnection"
                              }
                            },
                            "expression": {
                              "not": {
                                "equals": [
                                  "@body('Get_user_photo_(V2)')",
                                  "@null"
                                ]
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "ac114f65-c049-4d49-8b94-04587e641a73"
                            },
                            "runAfter": {
                              "Get_user_photo_(V2)": [
                                "Succeeded"
                              ]
                            },
                            "type": "If"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "bd6fef1b-7d30-4b75-a969-f1af0c3d4627"
                        },
                        "runAfter": {
                          "update_managers": [
                            "Succeeded"
                          ]
                        },
                        "type": "Scope"
                      },
                      "update_user_table_as_well": {
                        "actions": {
                          "Get_Maker_as_User": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "ListRecords"
                              },
                              "parameters": {
                                "$filter": "admin_powerplatformuserid eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                                "$select": "admin_powerplatformuserid",
                                "entityName": "admin_powerplatformusers"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "5851244c-0aa9-44f8-86fc-5014bcff13dd"
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          },
                          "Update_Maker_as_User_pic,_if_not_null": {
                            "actions": {
                              "Upload_pic_of_Maker_as_User": {
                                "inputs": {
                                  "authentication": "@parameters('$authentication')",
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "UpdateEntityFileImageFieldContent"
                                  },
                                  "parameters": {
                                    "entityName": "admin_powerplatformusers",
                                    "fileImageFieldName": "admin_photoobject",
                                    "item": "@body('Get_user_photo_(V2)')",
                                    "recordId": "@items('Apply_to_each_maker')?['admin_makerid']",
                                    "x-ms-file-name": "@{items('Apply_to_each_maker')?['admin_makerid']}_pic"
                                  }
                                },
                                "metadata": {
                                  "operationMetadataId": "bd3a1e7a-2b7c-499f-9d73-e965f70ee77e"
                                },
                                "runAfter": {},
                                "type": "OpenApiConnection"
                              }
                            },
                            "expression": {
                              "not": {
                                "equals": [
                                  "@body('Get_user_photo_(V2)')",
                                  "@null"
                                ]
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "ac114f65-c049-4d49-8b94-04587e641a73"
                            },
                            "runAfter": {
                              "Update_or_Insert_Maker_as_User": [
                                "Succeeded"
                              ]
                            },
                            "type": "If"
                          },
                          "Update_or_Insert_Maker_as_User": {
                            "actions": {
                              "Update_Maker_as_User": {
                                "inputs": {
                                  "authentication": "@parameters('$authentication')",
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "UpdateRecord"
                                  },
                                  "parameters": {
                                    "entityName": "admin_powerplatformusers",
                                    "item/admin_company": "@body('Get_Maker')?['usercompany']",
                                    "item/admin_department": "@body('Get_Maker')?['userdepartment']",
                                    "item/admin_displayname": "@body('Get_Maker')?['userdisplayname']",
                                    "item/admin_groupsize": 1,
                                    "item/admin_userprincipalname": "@body('Get_Maker')?['useremail']",
                                    "recordId": "@items('Apply_to_each_maker')?['admin_makerid']"
                                  }
                                },
                                "metadata": {
                                  "operationMetadataId": "0d960717-00da-48f8-b0c8-7853056f2ce4"
                                },
                                "runAfter": {},
                                "type": "OpenApiConnection"
                              }
                            },
                            "else": {
                              "actions": {
                                "Insert_Maker_as_User": {
                                  "inputs": {
                                    "authentication": "@parameters('$authentication')",
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord"
                                    },
                                    "parameters": {
                                      "entityName": "admin_powerplatformusers",
                                      "item/admin_company": "@body('Get_Maker')?['usercompany']",
                                      "item/admin_department": "@body('Get_Maker')?['userdepartment']",
                                      "item/admin_displayname": "@body('Get_Maker')?['userdisplayname']",
                                      "item/admin_groupsize": 1,
                                      "item/admin_powerplatformuserid": "@items('Apply_to_each_maker')?['admin_makerid']",
                                      "item/admin_userprincipalname": "@body('Get_Maker')?['useremail']"
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "db684253-0596-46ea-bf0c-ee48a5dd30e4"
                                  },
                                  "runAfter": {},
                                  "type": "OpenApiConnection"
                                }
                              }
                            },
                            "expression": {
                              "greater": [
                                "@length(outputs('Get_Maker_as_User')?['body/value'])",
                                0
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "b5a019a9-0ae8-4afb-bcbc-db2d4e4cb148"
                            },
                            "runAfter": {
                              "Get_Maker_as_User": [
                                "Succeeded"
                              ]
                            },
                            "type": "If"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "1c8363f4-84fa-4f7a-aee5-85c73f6de16c"
                        },
                        "runAfter": {
                          "update_photo": [
                            "Succeeded"
                          ]
                        },
                        "type": "Scope"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_Maker')?['Body']?['userisorphan']",
                      "True"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0e03ac0e-d929-4633-a489-7328e33be887"
                  },
                  "runAfter": {
                    "Get_Maker": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                }
              },
              "foreach": "@outputs('List_Makers')?['body/value']",
              "metadata": {
                "operationMetadataId": "032252cf-9686-47a9-bc4e-a154d2fb9339"
              },
              "runAfter": {
                "List_Makers": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              },
              "type": "Foreach"
            },
            "List_Makers": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "admin_makerisorphaned ne true and admin_displayname ne 'SYSTEM'",
                  "$select": "admin_makerid, admin_displayname",
                  "entityName": "admin_makers"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "90b2ba83-c24a-4ece-9a1d-30aabe4b1d38"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            }
          },
          "metadata": {
            "operationMetadataId": "bf74b53e-e858-49de-b356-2a9b6893ec79"
          },
          "runAfter": {
            "Initialize_Flow_Environment_variable": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Find_No_Longer_Orphaned": {
          "actions": {
            "Apply_to_each_not_orphaned_app": {
              "actions": {
                "If_app_owner_not_null": {
                  "actions": {
                    "Mark_app_not_orphaned": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_apps",
                          "item/cr5d5_appisorphaned": "No",
                          "recordId": "@items('Apply_to_each_not_orphaned_app')?['admin_appid']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "f071ba7c-1597-4530-a7aa-59811351dd4a"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@items('Apply_to_each_not_orphaned_app')?['_admin_appowner_value']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "942d77ba-406d-4be8-a3e8-d7d9b5b19f47"
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "foreach": "@outputs('List_apps_no_longer_orphaned')?['body/value']",
              "metadata": {
                "operationMetadataId": "1f4e72b9-d93a-424d-ab1d-403d815b74ee"
              },
              "runAfter": {
                "List_apps_no_longer_orphaned": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              },
              "type": "Foreach"
            },
            "Apply_to_each_not_orphaned_bot": {
              "actions": {
                "If_bot_owner_not_null": {
                  "actions": {
                    "Mark_bot_not_orphaned": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_pvas",
                          "item/admin_pvaisorphaned": "No",
                          "recordId": "@items('Apply_to_each_not_orphaned_bot')?['admin_pvaid']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "55b0c26f-72b4-4cc4-8407-c84a8c637357"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@items('Apply_to_each_not_orphaned_bot')?['_admin_pvaowner_value']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "54cc0433-610d-45ca-94db-47c37e85f977"
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "foreach": "@outputs('List_bots_no_longer_orphaned')?['body/value']",
              "metadata": {
                "operationMetadataId": "11ec8179-587a-41c6-a936-c4e1e5b6275a"
              },
              "runAfter": {
                "List_bots_no_longer_orphaned": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              },
              "type": "Foreach"
            },
            "Apply_to_each_not_orphaned_custom_connector": {
              "actions": {
                "If_custom_connector_owner_not_null": {
                  "actions": {
                    "Mark_custom_connector_not_orphaned": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_connectors",
                          "item/admin_appisorphaned": "No",
                          "recordId": "@items('Apply_to_each_not_orphaned_custom_connector')?['admin_connectorid']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "ef9665f8-2001-45dd-975a-f4f2851c0269"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@items('Apply_to_each_not_orphaned_custom_connector')?['_admin_maker_value']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "e6add358-a650-4cb9-9fa7-c065a84cd6e0"
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "foreach": "@outputs('List_custom_connectors_no_longer_orphaned')?['body/value']",
              "metadata": {
                "operationMetadataId": "3b044552-2239-496f-8ef7-f8ce74d0af3d"
              },
              "runAfter": {
                "List_custom_connectors_no_longer_orphaned": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              },
              "type": "Foreach"
            },
            "Apply_to_each_not_orphaned_envt": {
              "actions": {
                "If_envt_owner_not_null": {
                  "actions": {
                    "Mark_envt_not_orphaned": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_environments",
                          "item/admin_environmentisorphaned": "No",
                          "recordId": "@items('Apply_to_each_not_orphaned_envt')?['admin_environmentid']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "d4cb6af1-b448-4f97-9b86-34291a97cef5"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@items('Apply_to_each_not_orphaned_envt')?['_admin_maker_value']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "6626892a-f700-4fca-898a-b9cdfff30c76"
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "foreach": "@outputs('List_envts_no_longer_orphaned')?['body/value']",
              "metadata": {
                "operationMetadataId": "78d50d27-7eef-40a7-a1b1-b566e2fa06dd"
              },
              "runAfter": {
                "List_envts_no_longer_orphaned": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              },
              "type": "Foreach"
            },
            "Apply_to_each_not_orphaned_flow": {
              "actions": {
                "If_flow_owner_not_null": {
                  "actions": {
                    "Mark_flow_not_orphaned": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_flows",
                          "item/cr5d5_flowisorphaned": "No",
                          "recordId": "@items('Apply_to_each_not_orphaned_flow')?['admin_flowid']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "dfdf08d0-59a0-4296-9d73-4231e8dfa8ba"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@items('Apply_to_each_not_orphaned_flow')?['_admin_derivedowner_value']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "31ae4c6b-a96f-4895-91cb-aa5f44783650"
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "foreach": "@outputs('List_flows_no_longer_orphaned')?['body/value']",
              "metadata": {
                "operationMetadataId": "b57d5cc2-0ae5-474b-a536-7c5d78e93a8a"
              },
              "runAfter": {
                "List_flows_no_longer_orphaned": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              },
              "type": "Foreach"
            },
            "Apply_to_each_not_orphaned_ui_flow": {
              "actions": {
                "If_ui_flow_owner_not_null": {
                  "actions": {
                    "Mark_ui_flow_not_orphaned": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_rpas",
                          "item/admin_rpaisorphaned": "No",
                          "recordId": "@items('Apply_to_each_not_orphaned_ui_flow')?['admin_rpaid']"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "2a5f468e-45b7-4914-8e70-96587e1eb8cc"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@items('Apply_to_each_not_orphaned_ui_flow')?['_admin_rpaowner_value']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "a08a460a-9deb-466d-9a3e-1d90d4338d92"
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "foreach": "@outputs('List_ui_flows_no_longer_orphaned')?['body/value']",
              "metadata": {
                "operationMetadataId": "ad324bbc-d5b2-4cb5-bd95-c7dd706240b4"
              },
              "runAfter": {
                "List_ui_flows_no_longer_orphaned": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              },
              "type": "Foreach"
            },
            "List_apps_no_longer_orphaned": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$expand": "admin_AppOwner($select=admin_makerisorphaned)",
                  "$filter": "admin_appdeleted ne true and cr5d5_appisorphaned ne 'no' and admin_AppOwner/admin_makerisorphaned ne true",
                  "$select": "admin_appid, _admin_appowner_value",
                  "entityName": "admin_apps"
                }
              },
              "metadata": {
                "operationMetadataId": "562924fc-8b7b-49f1-92dd-1405494e6a69"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            },
            "List_bots_no_longer_orphaned": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$expand": "admin_PVAOwner($select=admin_makerisorphaned)",
                  "$filter": "admin_pvadeleted ne true and admin_pvaisorphaned ne 'no' and admin_PVAOwner/admin_makerisorphaned ne true",
                  "$select": "admin_pvaid, _admin_pvaowner_value",
                  "entityName": "admin_pvas"
                }
              },
              "metadata": {
                "operationMetadataId": "562924fc-8b7b-49f1-92dd-1405494e6a69"
              },
              "runAfter": {
                "Apply_to_each_not_orphaned_flow": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection"
            },
            "List_custom_connectors_no_longer_orphaned": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$expand": "admin_Maker($select=admin_makerisorphaned)",
                  "$filter": "admin_connectordeleted ne true and admin_appisorphaned ne 'no' and admin_Maker/admin_makerisorphaned ne true and admin_iscustomapi eq true",
                  "$select": "admin_connectorid, _admin_maker_value",
                  "entityName": "admin_connectors"
                }
              },
              "metadata": {
                "operationMetadataId": "562924fc-8b7b-49f1-92dd-1405494e6a69"
              },
              "runAfter": {
                "Apply_to_each_not_orphaned_envt": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection"
            },
            "List_envts_no_longer_orphaned": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$expand": "admin_Maker($select=admin_makerisorphaned)",
                  "$filter": "admin_environmentdeleted ne true and admin_environmentisorphaned ne 'no' and admin_Maker/admin_makerisorphaned ne true",
                  "$select": "admin_environmentid, _admin_maker_value",
                  "entityName": "admin_environments"
                }
              },
              "metadata": {
                "operationMetadataId": "562924fc-8b7b-49f1-92dd-1405494e6a69"
              },
              "runAfter": {
                "Apply_to_each_not_orphaned_ui_flow": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection"
            },
            "List_flows_no_longer_orphaned": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$expand": "admin_DerivedOwner($select=admin_makerisorphaned)",
                  "$filter": "admin_flowdeleted ne true and cr5d5_flowisorphaned ne 'no' and admin_DerivedOwner/admin_makerisorphaned ne true",
                  "$select": "admin_flowid, _admin_derivedowner_value",
                  "entityName": "admin_flows"
                }
              },
              "metadata": {
                "operationMetadataId": "562924fc-8b7b-49f1-92dd-1405494e6a69"
              },
              "runAfter": {
                "Apply_to_each_not_orphaned_app": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection"
            },
            "List_ui_flows_no_longer_orphaned": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$expand": "admin_RPAOwner($select=admin_makerisorphaned)",
                  "$filter": "admin_rpadeleted ne true and admin_rpaisorphaned ne 'no' and admin_RPAOwner/admin_makerisorphaned ne true",
                  "$select": "admin_rpaid, _admin_rpaowner_value ",
                  "entityName": "admin_rpas"
                }
              },
              "metadata": {
                "operationMetadataId": "562924fc-8b7b-49f1-92dd-1405494e6a69"
              },
              "runAfter": {
                "Apply_to_each_not_orphaned_bot": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection"
            }
          },
          "metadata": {
            "operationMetadataId": "e0f32238-060b-4ca6-a31f-42b7fb8f23ad"
          },
          "runAfter": {
            "Initialize_Flow_Environment_variable": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Initialize_FailureOccurred": {
          "inputs": {
            "variables": [
              {
                "name": "FailureOccurred",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "53dff7d9-317d-4a5a-b8e1-545a24aa4be5"
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Initialize_Flow_Environment_variable": {
          "description": "Environment location specific Flow URL - remember / at the end",
          "inputs": {
            "variables": [
              {
                "name": "flowEnvironment",
                "type": "String",
                "value": "@parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "1317eec2-490e-44ed-8782-626f3e887243"
          },
          "runAfter": {
            "Initialize_FailureOccurred": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Orphan_Makers_-_Error_Handling": {
          "actions": {
            "if_failure_occurred": {
              "actions": {
                "Create_a_new_record_-_Sync_Flow_Errors": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord"
                    },
                    "parameters": {
                      "entityName": "admin_syncflowerrorses",
                      "item/admin_flowinstanceurl": "@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                      "item/admin_name": "Admin | Sync Template v3 (Orphaned Makers)"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "0b009593-5797-43e6-9c77-d569fc4304bb"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                },
                "Terminate": {
                  "inputs": {
                    "runError": {
                      "code": "500",
                      "message": "Orphan Makers Failed"
                    },
                    "runStatus": "Failed"
                  },
                  "metadata": {
                    "operationMetadataId": "37317aba-a6c8-44c7-ad2e-f78e0cfb94cc"
                  },
                  "runAfter": {
                    "Create_a_new_record_-_Sync_Flow_Errors": [
                      "Succeeded"
                    ]
                  },
                  "type": "Terminate"
                }
              },
              "expression": {
                "equals": [
                  "@variables('FailureOccurred')",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "4fe7de37-6e4b-4841-8d28-12e1db142953"
              },
              "runAfter": {},
              "type": "If"
            }
          },
          "metadata": {
            "operationMetadataId": "e0179844-f2ce-403f-80ca-1e51f39beee5"
          },
          "runAfter": {
            "Set_FailureOccurred_true_-_new_orphans": [
              "Succeeded",
              "Skipped"
            ],
            "Set_FailureOccurred_true_-_old_orphan_checks": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Set_FailureOccurred_true_-_new_orphans": {
          "inputs": {
            "name": "FailureOccurred",
            "value": "@true"
          },
          "metadata": {
            "operationMetadataId": "d6963e02-ece9-45d2-9548-d64f5b142682"
          },
          "runAfter": {
            "Find_New_Orpans": [
              "Failed"
            ]
          },
          "type": "SetVariable"
        },
        "Set_FailureOccurred_true_-_old_orphan_checks": {
          "inputs": {
            "name": "FailureOccurred",
            "value": "@true"
          },
          "metadata": {
            "operationMetadataId": "d2e512fc-f510-415d-87b9-98fa7fc432d1"
          },
          "runAfter": {
            "Find_No_Longer_Orphaned": [
              "Failed"
            ]
          },
          "type": "SetVariable"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://us.flow.microsoft.com/manage/environments/",
          "metadata": {
            "description": "Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/",
            "schemaName": "admin_PowerAutomateEnvironmentVariable"
          },
          "type": "String"
        }
      },
      "triggers": {
        "Recurrence": {
          "metadata": {
            "operationMetadataId": "5af06e95-e1da-4ef7-8a95-b08c341fca85"
          },
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "hours": [
                "1"
              ],
              "weekDays": [
                "Monday"
              ]
            }
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
