CenterofExcellenceCoreComponents/SolutionPackage/Workflows/CLEANUP-AdminSyncTemplatev3OrphanedMakers-E05CFB27-740D-EB11-A814-000D3A1BB7BB.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Apply_to_each_maker": {
          "actions": {
            "Get_Maker": {
              "inputs": {
                "body": {
                  "text": "@items('Apply_to_each_maker')?['admin_makerid']",
                  "text_1": "@items('Apply_to_each_maker')?['admin_displayname']"
                },
                "host": {
                  "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                }
              },
              "metadata": {
                "operationMetadataId": "f610c4d0-eed5-4453-ad3b-43d6d3245460"
              },
              "runAfter": {},
              "type": "Workflow"
            },
            "See_if_now_orphaned": {
              "actions": {
                "Apply_to_each_UI_Flow": {
                  "actions": {
                    "Update_UI_Flow_(Mark_as_orphaned)": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_rpas",
                          "item/admin_rpaisorphaned": "Yes",
                          "recordId": "@items('Apply_to_each_UI_Flow')?['admin_rpaid']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "d43d52a8-e6d6-4ef7-a72a-29d201841763"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('List_UI_Flows_of_maker')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "bb3d9017-c8a5-4be5-9c6b-571f3d1da7c2"
                  },
                  "runAfter": {
                    "List_UI_Flows_of_maker": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Apply_to_each_app": {
                  "actions": {
                    "Update_App_(Mark_as_orphaned)": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_apps",
                          "item/cr5d5_appisorphaned": "Yes",
                          "recordId": "@items('Apply_to_each_app')?['admin_appid']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "77f1ff8b-e39f-4cf2-a9d5-b9376c6ffe39"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('List_apps_of_maker')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "b79a34f0-23b2-43d9-96cb-3c2d03f6a6ac"
                  },
                  "runAfter": {
                    "List_apps_of_maker": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Apply_to_each_bot": {
                  "actions": {
                    "Update_bot_(Mark_as_orphaned)": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_pvas",
                          "item/admin_pvaisorphaned": "Yes",
                          "recordId": "@items('Apply_to_each_bot')?['admin_pvaid']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "09560b67-6e3d-47b4-ab71-20650de445b1"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('List_bots_of_maker')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "b3a037e0-aa06-4676-9b65-c4e6c945d94f"
                  },
                  "runAfter": {
                    "List_bots_of_maker": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Apply_to_each_connector": {
                  "actions": {
                    "Update_Custom_Connector_(Mark_as_Orphaned)": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_connectors",
                          "item/admin_appisorphaned": "Yes",
                          "recordId": "@items('Apply_to_each_connector')?['admin_connectorid']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "48bd9892-84e6-4f45-bfa8-502b5528ac46"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('List_custom_connectors_of_maker')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "3c17c6ed-c564-4ef3-b8ad-23b9fceeb862"
                  },
                  "runAfter": {
                    "List_custom_connectors_of_maker": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Apply_to_each_environment": {
                  "actions": {
                    "Update_Environment_(Mark_as_Orphaned)": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_environments",
                          "item/admin_environmentisorphaned": "Yes",
                          "recordId": "@items('Apply_to_each_environment')?['admin_environmentid']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "4ade1d3a-ae73-4cea-ab79-2a04b8dfee82"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('List_environments_of_maker')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "3962d28a-ede9-46e9-91d1-31f97e603192"
                  },
                  "runAfter": {
                    "List_environments_of_maker": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Apply_to_each_flow": {
                  "actions": {
                    "Update_Flow_(Mark_as_orphaned)": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_flows",
                          "item/cr5d5_flowisorphaned": "Yes",
                          "recordId": "@items('Apply_to_each_flow')?['admin_flowid']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "ae6aa268-42df-4abf-8e1a-d3212ab0ab58"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "foreach": "@outputs('List_flows_of_maker')?['body/value']",
                  "metadata": {
                    "operationMetadataId": "3e239d3c-e82a-4194-8d11-22814521e68a"
                  },
                  "runAfter": {
                    "List_flows_of_maker": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "List_UI_Flows_of_maker": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "_admin_rpaowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                      "$select": "admin_rpaid",
                      "entityName": "admin_rpas"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "9c007250-6f52-4838-89a6-9f0d28666301"
                  },
                  "runAfter": {
                    "Apply_to_each_bot": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                },
                "List_apps_of_maker": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "_admin_appowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                      "$select": "admin_appid",
                      "entityName": "admin_apps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "076f9f86-8841-415a-87d9-8aaceade987a"
                  },
                  "runAfter": {},
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                },
                "List_bots_of_maker": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "_admin_pvaowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                      "$select": "admin_pvaid",
                      "entityName": "admin_pvas"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "5d2f4977-25f0-4fab-b0c8-9b0f68d40b06"
                  },
                  "runAfter": {
                    "Apply_to_each_flow": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                },
                "List_custom_connectors_of_maker": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "_admin_maker_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                      "$select": "admin_connectorid",
                      "entityName": "admin_connectors"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "f420c595-bd4e-4bf5-a9aa-f293241209c9"
                  },
                  "runAfter": {
                    "Apply_to_each_environment": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                },
                "List_environments_of_maker": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "_admin_maker_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                      "$select": "admin_environmentid",
                      "entityName": "admin_environments"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "f89c5fe3-ebb5-4cdb-ba39-95e8776311f3"
                  },
                  "runAfter": {
                    "Apply_to_each_UI_Flow": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                },
                "List_flows_of_maker": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "(_admin_flowcreator_value eq @{items('Apply_to_each_maker')?['admin_makerid']} and _admin_derivedowner_value eq null) or _admin_derivedowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}",
                      "$select": "admin_flowid",
                      "entityName": "admin_flows"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "63df4fee-f034-4bd3-8ec2-6ad959c6340d"
                  },
                  "runAfter": {
                    "Apply_to_each_app": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  },
                  "type": "OpenApiConnection"
                },
                "Update_Maker_record_(mark_as_orphaned)": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord"
                    },
                    "parameters": {
                      "entityName": "admin_makers",
                      "item/admin_makerisorphaned": true,
                      "recordId": "@items('Apply_to_each_maker')?['admin_makerid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "0e6b1341-7c60-4816-9193-4f0c5d2c122f"
                  },
                  "runAfter": {
                    "Apply_to_each_connector": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection"
                }
              },
              "else": {
                "actions": {
                  "get_M1_info_if_not_null": {
                    "actions": {
                      "Get_Manager_M1": {
                        "inputs": {
                          "body": {
                            "text": "@outputs('Get_Maker')?['Body']?['usermanagerid']",
                            "text_1": "@outputs('Get_Maker')?['Body']?['usermanagername']"
                          },
                          "host": {
                            "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "be08b8e4-1ff1-4b62-ad4d-e322b32baff1"
                        },
                        "runAfter": {},
                        "type": "Workflow"
                      },
                      "Update_Maker_Manager_M1": {
                        "inputs": {
                          "authentication": "@parameters('$authentication')",
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord"
                          },
                          "parameters": {
                            "entityName": "admin_makers",
                            "item/admin_makerisorphaned": false,
                            "item/admin_managerprinciplename": "@outputs('Get_Manager_M1')?['Body']?['useremail']",
                            "recordId": "@items('Apply_to_each_maker')?['admin_makerid']"
                          },
                          "retryPolicy": {
                            "count": 10,
                            "interval": "PT10S",
                            "type": "exponential"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "5f9b14c5-4afb-4eee-bc48-aa4c5a30c11b"
                        },
                        "runAfter": {
                          "Get_Manager_M1": [
                            "Succeeded"
                          ]
                        },
                        "type": "OpenApiConnection"
                      },
                      "get_M2_info_if_not_null": {
                        "actions": {
                          "Get_Manager_M2": {
                            "inputs": {
                              "body": {
                                "text": "@outputs('Get_Manager_M1')?['Body']?['usermanagerid']",
                                "text_1": "@outputs('Get_Manager_M1')?['Body']?['usermanagername']"
                              },
                              "host": {
                                "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "eaca4184-44a7-4be6-8406-166c606ba3b3"
                            },
                            "runAfter": {},
                            "type": "Workflow"
                          },
                          "Update_Maker_Manager_M2": {
                            "inputs": {
                              "authentication": "@parameters('$authentication')",
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "UpdateRecord"
                              },
                              "parameters": {
                                "entityName": "admin_makers",
                                "item/admin_m2managerprinciplename": "@outputs('Get_Manager_M2')?['Body']?['useremail']",
                                "recordId": "@items('Apply_to_each_maker')?['admin_makerid']"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "9153585c-413c-43ff-860d-3954410a084d"
                            },
                            "runAfter": {
                              "Get_Manager_M2": [
                                "Succeeded"
                              ]
                            },
                            "type": "OpenApiConnection"
                          }
                        },
                        "expression": {
                          "greater": [
                            "@length(outputs('Get_Manager_M1')?['Body']?['usermanagerid'])",
                            0
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "562e4720-5a0f-4498-8c8f-5ce8500f9ea2"
                        },
                        "runAfter": {
                          "Update_Maker_Manager_M1": [
                            "Succeeded"
                          ]
                        },
                        "type": "If"
                      }
                    },
                    "expression": {
                      "greater": [
                        "@length(outputs('Get_Maker')?['Body']?['usermanagerid'])",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c6b0b4d0-9fcc-4dee-b07d-d7efcd724277"
                    },
                    "runAfter": {},
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Get_Maker')?['Body']?['userisorphan']",
                  "True"
                ]
              },
              "metadata": {
                "operationMetadataId": "0e03ac0e-d929-4633-a489-7328e33be887"
              },
              "runAfter": {
                "Get_Maker": [
                  "Succeeded"
                ]
              },
              "type": "If"
            }
          },
          "foreach": "@outputs('List_Makers')?['body/value']",
          "metadata": {
            "operationMetadataId": "032252cf-9686-47a9-bc4e-a154d2fb9339"
          },
          "runAfter": {
            "List_Makers": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 40
            }
          },
          "type": "Foreach"
        },
        "Initialize_Flow_Environment_variable": {
          "description": "Environment location specific Flow URL - remember / at the end",
          "inputs": {
            "variables": [
              {
                "name": "flowEnvironment",
                "type": "String",
                "value": "@parameters('Power Automate Environment Variable')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "1317eec2-490e-44ed-8782-626f3e887243"
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "List_Makers": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "$filter": "admin_makerisorphaned ne true and admin_displayname ne 'SYSTEM'",
              "$select": "admin_makerid, admin_displayname",
              "entityName": "admin_makers"
            },
            "retryPolicy": {
              "count": 10,
              "interval": "PT10S",
              "type": "exponential"
            }
          },
          "metadata": {
            "operationMetadataId": "90b2ba83-c24a-4ece-9a1d-30aabe4b1d38"
          },
          "runAfter": {
            "Initialize_Flow_Environment_variable": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          },
          "type": "OpenApiConnection"
        },
        "Orphan_Makers_-_Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_flowinstanceurl": "@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/admin_name": "Admin | Sync Template v3 (Orphaned Makers)"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "0b009593-5797-43e6-9c77-d569fc4304bb"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            },
            "Terminate": {
              "inputs": {
                "runError": {
                  "code": "500",
                  "message": "Orphan Makers Failed"
                },
                "runStatus": "Failed"
              },
              "metadata": {
                "operationMetadataId": "37317aba-a6c8-44c7-ad2e-f78e0cfb94cc"
              },
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "type": "Terminate"
            }
          },
          "metadata": {
            "operationMetadataId": "e0179844-f2ce-403f-80ca-1e51f39beee5"
          },
          "runAfter": {
            "Apply_to_each_maker": [
              "Failed"
            ]
          },
          "type": "Scope"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Automate Environment Variable": {
          "defaultValue": "https://us.flow.microsoft.com/manage/environments/",
          "metadata": {
            "description": "Environment, including geographic location, for Power Automate - Ex for US: https://us.flow.microsoft.com/manage/environments/",
            "schemaName": "admin_PowerAutomateEnvironmentVariable"
          },
          "type": "String"
        }
      },
      "triggers": {
        "Recurrence": {
          "metadata": {
            "operationMetadataId": "5af06e95-e1da-4ef7-8a95-b08c341fca85"
          },
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "hours": [
                "1"
              ],
              "weekDays": [
                "Monday"
              ]
            }
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
