CenterofExcellenceCoreComponents/SolutionPackage/Workflows/CLEANUP-AdminSyncTemplatev3DeleteBadData-0D504EE6-70FB-EB11-94EF-002248237D7D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Delete_Bad_Data": {
          "actions": {
            "Delete_Apps_without_Environments": {
              "actions": {
                "Delete_app_without_environment": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "recordId": "@items('Delete_Apps_without_Environments')?['admin_appid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "dc126169-c330-492a-b00a-8daa4d2a1ab9"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Apps_with_No_Environment')?['body/value']",
              "metadata": {
                "operationMetadataId": "8dd95172-956f-4eea-b3b8-54ed2a82e270"
              },
              "runAfter": {
                "List_Apps_with_No_Environment": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_CoE_Connection_References_with_neither_app_nor_flow": {
              "actions": {
                "Delete_connection_reference_2": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_connectionreferences",
                      "recordId": "@items('Delete_CoE_Connection_References_with_neither_app_nor_flow')?['admin_connectionreferenceid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "677810dd-3534-435e-8133-34f992d476c9"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_CoE_Connection_References_with_neither_app_nor_flow')?['body/value']",
              "metadata": {
                "operationMetadataId": "35591c09-578c-4b91-8ae4-c60b314b9f34"
              },
              "runAfter": {
                "List_CoE_Connection_References_with_neither_app_nor_flow": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_CoE_Connection_References_with_no_Connection": {
              "actions": {
                "Delete_connection_reference": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_connectionreferences",
                      "recordId": "@items('Delete_CoE_Connection_References_with_no_Connection')?['admin_connectionreferenceid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "853a98fa-3b6c-4a0b-8564-db0faed9278d"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_CoE_Connection_References_with_no_Connection')?['body/value']",
              "metadata": {
                "operationMetadataId": "fc46dc85-83f1-45f5-bc7e-69c00ee54e23"
              },
              "runAfter": {
                "List_CoE_Connection_References_with_no_Connection": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_Custom_Connection_with_no_Environmnet": {
              "actions": {
                "Delete_custom_connection": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_connectors",
                      "recordId": "@items('Delete_Custom_Connection_with_no_Environmnet')?['admin_connectorid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "69aadfd8-3d26-4edf-9a36-26522eeede35"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Custom_Connection_with_no_Environment')?['body/value']",
              "metadata": {
                "operationMetadataId": "e66f5aeb-4fc1-4ed1-843c-4abffd52eb9c"
              },
              "runAfter": {
                "List_Custom_Connection_with_no_Environment": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_Desktop_Flows_without_Environments": {
              "actions": {
                "Delete_desktop_flow_without_environment": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_rpas",
                      "recordId": "@items('Delete_Desktop_Flows_without_Environments')?['admin_rpaid']"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "31bbf152-4690-47be-bd6e-012bd414a7b3"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Desktop_Flows_with_No_Environment')?['body/value']",
              "metadata": {
                "operationMetadataId": "47576a0d-e1ab-489c-81ee-afd97f469d4b"
              },
              "runAfter": {
                "List_Desktop_Flows_with_No_Environment": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_Environment_Capacities_with_no_Envt": {
              "actions": {
                "Delete_Environment_Capacity": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_environmentcapacities",
                      "recordId": "@items('Delete_Environment_Capacities_with_no_Envt')?['admin_environmentcapacityid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "e3c34082-eb82-4e96-a593-d058d910d37d"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Environment_Capacities_with_No_Environment')?['body/value']",
              "metadata": {
                "operationMetadataId": "abdf3ded-beef-4b54-b625-289adb2439b6"
              },
              "runAfter": {
                "List_Environment_Capacities_with_No_Environment": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_Flow_Actions_with_no_Flow_or_Envt": {
              "actions": {
                "Delete_flow_action_detail": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_flowactiondetails",
                      "recordId": "@items('Delete_Flow_Actions_with_no_Flow_or_Envt')?['admin_flowactiondetailid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "55ee5804-bf70-4ca2-b71d-7176a2d127eb"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Flow_Actions_with_no_Flow_or_no_Envt')?['body/value']",
              "metadata": {
                "operationMetadataId": "6bd64752-f597-4d22-9b99-581461917cd6"
              },
              "runAfter": {
                "List_Flow_Actions_with_no_Flow_or_no_Envt": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Delete_Flows_without_Environments": {
              "actions": {
                "Delete_flow_without_environment": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DeleteRecord"
                    },
                    "parameters": {
                      "entityName": "admin_flows",
                      "recordId": "@items('Delete_Flows_without_Environments')?['admin_flowid']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "5af39d79-131f-4f6f-82ee-fd5c4ca032fd"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "foreach": "@outputs('List_Flow_with_No_Environment')?['body/value']",
              "metadata": {
                "operationMetadataId": "a73b3d78-661c-47ab-a7c1-e563525d4c1b"
              },
              "runAfter": {
                "List_Flow_with_No_Environment": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "List_Apps_with_No_Environment": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_appenvironment_value eq null",
                  "$select": "admin_appid",
                  "entityName": "admin_apps"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "3b50cd16-059b-4dcc-ba77-081a5e1ca69a"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_CoE_Connection_References_with_neither_app_nor_flow": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_app_value eq null and _admin_flow_value eq null",
                  "$select": "admin_connectionreferenceid",
                  "entityName": "admin_connectionreferences"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "685cbe77-a9fe-432f-a4dc-afd1d7f57d4b"
              },
              "runAfter": {
                "Delete_CoE_Connection_References_with_no_Connection": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_CoE_Connection_References_with_no_Connection": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_connector_value eq null",
                  "$select": "admin_connectionreferenceid",
                  "entityName": "admin_connectionreferences"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "b5858547-3b35-4706-ac91-482fbebfe538"
              },
              "runAfter": {
                "Delete_Flows_without_Environments": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_Custom_Connection_with_no_Environment": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_environmentcustomconnector_value eq null and admin_iscustomapi eq true",
                  "$select": "admin_connectorid",
                  "entityName": "admin_connectors"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "a822f38c-1864-4a13-84a8-37e5c41c1f10"
              },
              "runAfter": {
                "Delete_CoE_Connection_References_with_neither_app_nor_flow": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_Desktop_Flows_with_No_Environment": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_desktopflowenvironment_value eq null",
                  "$select": "admin_rpaid",
                  "entityName": "admin_rpas"
                }
              },
              "metadata": {
                "operationMetadataId": "d1a6b2aa-e468-4af4-93d2-71a890b16cfb"
              },
              "runAfter": {
                "Delete_Apps_without_Environments": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection"
            },
            "List_Environment_Capacities_with_No_Environment": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_environment_value eq null",
                  "$select": "admin_environmentcapacityid",
                  "entityName": "admin_environmentcapacities"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "1ef1e7bf-102f-418f-b028-ea0bbf08d221"
              },
              "runAfter": {
                "Delete_Flow_Actions_with_no_Flow_or_Envt": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_Flow_Actions_with_no_Flow_or_no_Envt": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_flow_value eq null or _admin_flowactiondetailenvrinment_value eq null",
                  "$select": "admin_flowactiondetailid",
                  "entityName": "admin_flowactiondetails"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "35f74863-4032-41bb-9853-83c6fdfc3f98"
              },
              "runAfter": {
                "Delete_Custom_Connection_with_no_Environmnet": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "List_Flow_with_No_Environment": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_admin_flowenvironment_value eq null",
                  "$select": "admin_flowid",
                  "entityName": "admin_flows"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "709748e0-aa9b-4929-9686-9c3219628faf"
              },
              "runAfter": {
                "Delete_Desktop_Flows_without_Environments": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            }
          },
          "description": "We will build to this clean up over time. For now just a few to get it started",
          "metadata": {
            "operationMetadataId": "2ef5c264-64e7-475b-ba13-72c01946ca0e"
          },
          "runAfter": {
            "Initialize_variable_flowEnvironment": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Delete_Bad_Data_fails_-_Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_flowinstanceurl": "@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "item/admin_name": "Admin | Sync Template v3 (Flows)"
                },
                "retryPolicy": {
                  "count": 10,
                  "interval": "PT10S",
                  "type": "exponential"
                }
              },
              "metadata": {
                "operationMetadataId": "d0d3fa63-1389-489b-b06c-e0b6d9f662fe"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            },
            "Terminate": {
              "inputs": {
                "runError": {
                  "code": "500",
                  "message": "Delete Bad Data Failed"
                },
                "runStatus": "Failed"
              },
              "metadata": {
                "operationMetadataId": "b424ce9b-0ed5-4b3f-ae8b-d2d73e65de9b"
              },
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "type": "Terminate"
            }
          },
          "metadata": {
            "operationMetadataId": "db004319-0e84-4fa9-8339-14c67f1e97b5"
          },
          "runAfter": {
            "Delete_Bad_Data": [
              "Failed"
            ]
          },
          "type": "Scope"
        },
        "Initialize_variable_flowEnvironment": {
          "description": "Environment location specific Flow URL - remember / at the end",
          "inputs": {
            "variables": [
              {
                "name": "flowEnvironment",
                "type": "string",
                "value": "@parameters('Power Automate Environment Variable')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "ec77f66a-62c5-44cb-951d-60749199ff32"
          },
          "runAfter": {},
          "type": "InitializeVariable"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Power Automate Environment Variable": {
          "defaultValue": "https://us.flow.microsoft.com/manage/environments/",
          "metadata": {
            "description": "Environment, including geographic location, for Power Automate - Ex for US: https://us.flow.microsoft.com/manage/environments/",
            "schemaName": "admin_PowerAutomateEnvironmentVariable"
          },
          "type": "String"
        }
      },
      "triggers": {
        "Recurrence": {
          "metadata": {
            "operationMetadataId": "9ea14700-14e3-4033-8dbe-ab373f616aed"
          },
          "recurrence": {
            "frequency": "Day",
            "interval": 1
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
