CenterofExcellenceCoreComponents/SolutionPackage/Workflows/CommandCenterAppSetCoEFlowsState-21A5C4F1-5080-EC11-8D21-002248320BCD.json
{
  "properties": {
    "connectionReferences": {
      "shared_flowmanagement": {
        "api": {
          "name": "shared_flowmanagement"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAutomateManagement"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Initialize_return_to_pass": {
          "inputs": {
            "variables": [
              {
                "name": "return",
                "type": "string",
                "value": "pass"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "5fd5e8d6-b5e8-43c6-a21a-a07de239e334"
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "inputs": {
            "body": {
              "return": "@variables('return')"
            },
            "schema": {
              "properties": {
                "return": {
                  "title": "return",
                  "type": "string",
                  "x-ms-dynamically-added": true
                }
              },
              "type": "object"
            },
            "statusCode": 200
          },
          "kind": "PowerApp",
          "metadata": {
            "operationMetadataId": "2bdf9af0-9be2-4e40-b000-37c995f044db"
          },
          "runAfter": {
            "Turn_on_or_off": [
              "Succeeded"
            ]
          },
          "type": "Response"
        },
        "Turn_on_or_off": {
          "actions": {
            "Turn_On_Flow": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement",
                  "connectionName": "shared_flowmanagement",
                  "operationId": "StartFlow"
                },
                "parameters": {
                  "environmentName": "@triggerBody()['text']",
                  "flowName": "@triggerBody()['text_1']"
                }
              },
              "metadata": {
                "operationMetadataId": "06db85ad-b6ad-4de1-b336-4c98e7d1cfb0"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            },
            "catch_fail_to_turn_on": {
              "inputs": {
                "name": "return",
                "value": "fail"
              },
              "metadata": {
                "operationMetadataId": "a3e5e1c9-ec2a-480b-bc93-98ed331ade6d"
              },
              "runAfter": {
                "Turn_On_Flow": [
                  "Failed"
                ]
              },
              "type": "SetVariable"
            }
          },
          "else": {
            "actions": {
              "Turn_Off_Flow": {
                "inputs": {
                  "authentication": "@parameters('$authentication')",
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement",
                    "connectionName": "shared_flowmanagement",
                    "operationId": "StopFlow"
                  },
                  "parameters": {
                    "environmentName": "@triggerBody()['text']",
                    "flowName": "@triggerBody()['text_1']"
                  }
                },
                "metadata": {
                  "operationMetadataId": "29449f70-7c41-4432-833f-e23640992963"
                },
                "runAfter": {},
                "type": "OpenApiConnection"
              },
              "catch_fail_to_turn_off": {
                "inputs": {
                  "name": "return",
                  "value": "fail"
                },
                "metadata": {
                  "operationMetadataId": "139727fd-f6ad-472f-b1db-aa8fbb9c8e6e"
                },
                "runAfter": {
                  "Turn_Off_Flow": [
                    "Failed"
                  ]
                },
                "type": "SetVariable"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()['boolean']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "133d292a-8761-4b8b-b244-bcb4c4a7d23b"
          },
          "runAfter": {
            "Initialize_return_to_pass": [
              "Succeeded"
            ]
          },
          "type": "If"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "boolean": {
                  "description": "Please select yes or no",
                  "title": "TurnOn",
                  "type": "boolean",
                  "x-ms-content-hint": "BOOLEAN",
                  "x-ms-dynamically-added": true
                },
                "text": {
                  "description": "Please enter your input",
                  "title": "envtGUID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "flowID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "boolean",
                "text_1"
              ],
              "type": "object"
            }
          },
          "kind": "PowerAppV2",
          "metadata": {
            "operationMetadataId": "59325ad1-9f92-4005-8879-a9114e6f49ac"
          },
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
