CenterofExcellenceCoreComponents/SolutionPackage/Workflows/CommandCenterAppInitiallyPopulateBookmarks-81EA7AC4-910A-EC11-B6E6-000D3A8C225C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseForApps"
        },
        "impersonation": {},
        "runtimeSource": "embedded"
      },
      "shared_powerappsforadmins_1": {
        "api": {
          "name": "shared_powerappsforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAppsAdmin"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Apply_to_each_app_in_this_environment": {
          "actions": {
            "Catch_-_App_Deleted_-_product_caching_issue": {
              "inputs": "Catch - App Deleted - product caching issue",
              "metadata": {
                "operationMetadataId": "e00e0b8f-907f-4ff4-b91e-4ed33b2727fa"
              },
              "runAfter": {
                "Get_Logical_Name": [
                  "Failed"
                ]
              },
              "type": "Compose"
            },
            "Check_if_CoE_app": {
              "actions": {
                "Add_canvas_if_new": {
                  "actions": {
                    "Add_canvas": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_commandcenterconfigs",
                          "item/admin_link": "@items('Apply_to_each_app_in_this_environment')?['properties/appOpenUri']",
                          "item/admin_name": "@items('Apply_to_each_app_in_this_environment')?['properties/displayName']",
                          "item/admin_resourcetype": 597910000,
                          "item/admin_showinadmincommandcenter": true
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "252ec567-d8b5-46c7-ba1b-832ae15bec37"
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "expression": {
                    "less": [
                      "@length(outputs('See_if_canvas_app_already_collected')?['body/value'])",
                      1
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dce5927a-8c6e-4f50-b3e3-0ea1fb589198"
                  },
                  "runAfter": {
                    "See_if_canvas_app_already_collected": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "See_if_canvas_app_already_collected": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "admin_name eq '@{items('Apply_to_each_app_in_this_environment')?['properties/displayName']}'",
                      "$select": "admin_name",
                      "$top": 1,
                      "entityName": "admin_commandcenterconfigs"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "bc13915a-b022-441a-b83c-c30651493578"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "expression": {
                "or": [
                  {
                    "startsWith": [
                      "@items('Apply_to_each_app_in_this_environment')['logicalName']",
                      "admin_"
                    ]
                  },
                  {
                    "startsWith": [
                      "@items('Apply_to_each_app_in_this_environment')['logicalName']",
                      "coe_"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "fcbd44e2-048d-4bf4-92d3-47d831179631"
              },
              "runAfter": {
                "Catch_-_App_Deleted_-_product_caching_issue": [
                  "Skipped"
                ]
              },
              "type": "If"
            },
            "Get_Logical_Name": {
              "inputs": "@items('Apply_to_each_app_in_this_environment')['logicalName']",
              "metadata": {
                "operationMetadataId": "0f112fd0-22d4-40e9-baae-2598841c63dc"
              },
              "runAfter": {},
              "type": "Compose"
            }
          },
          "foreach": "@outputs('Get_Apps_as_Admin')?['body/value']",
          "metadata": {
            "operationMetadataId": "b05be1b9-0970-4c74-a551-2d1de684ff20"
          },
          "runAfter": {
            "Get_Apps_as_Admin": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Apply_to_each_model_driven_app_in_this_environment": {
          "actions": {
            "Check_if_CoE_model_driven_app": {
              "actions": {
                "Add_model_driven_app_if_new": {
                  "actions": {
                    "Add_Model_Driven_App": {
                      "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_commandcenterconfigs",
                          "item/admin_link": "@outputs('Compose_URL')",
                          "item/admin_name": "@items('Apply_to_each_model_driven_app_in_this_environment')?['name']",
                          "item/admin_resourcetype": 597910000,
                          "item/admin_showinadmincommandcenter": true
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "6df0be82-93eb-432d-bde5-bbcd228fa6db"
                      },
                      "runAfter": {
                        "Compose_URL": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection"
                    },
                    "Compose": {
                      "inputs": "@split(items('Apply_to_each_model_driven_app_in_this_environment')?['@odata.id'], '/')",
                      "metadata": {
                        "operationMetadataId": "915378e4-01a8-4f08-bbb1-627ea983ec7b"
                      },
                      "runAfter": {},
                      "type": "Compose"
                    },
                    "Compose_URL": {
                      "inputs": "https://@{outputs('Compose')[2]}/main.aspx?appid=@{items('Apply_to_each_model_driven_app_in_this_environment')?['appmoduleid']}",
                      "metadata": {
                        "operationMetadataId": "4a688705-44df-491e-9733-663306b5ac2c"
                      },
                      "runAfter": {
                        "Compose": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose"
                    }
                  },
                  "expression": {
                    "less": [
                      "@length(outputs('See_if_model_driven_app_already_collected')?['body/value'])",
                      1
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8526b867-97ac-4348-bb3f-507aed928fcc"
                  },
                  "runAfter": {
                    "See_if_model_driven_app_already_collected": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "See_if_model_driven_app_already_collected": {
                  "inputs": {
                    "authentication": "@parameters('$authentication')",
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "$filter": "admin_name eq '@{items('Apply_to_each_model_driven_app_in_this_environment')?['name']}'",
                      "$select": "admin_name",
                      "$top": 1,
                      "entityName": "admin_commandcenterconfigs"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "7685545a-17d0-4307-8497-fb244345454e"
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                }
              },
              "expression": {
                "or": [
                  {
                    "startsWith": [
                      "@items('Apply_to_each_model_driven_app_in_this_environment')?['uniquename']",
                      "admin_"
                    ]
                  },
                  {
                    "startsWith": [
                      "@items('Apply_to_each_model_driven_app_in_this_environment')?['uniquename']",
                      "coe_"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "95772bf8-816c-4068-9d65-8f52019adfd2"
              },
              "runAfter": {},
              "type": "If"
            }
          },
          "foreach": "@outputs('Get_Model_Driven_Apps')?['body/value']",
          "metadata": {
            "operationMetadataId": "109162ed-5760-4649-8a19-0691bc22f5c7"
          },
          "runAfter": {
            "Get_Model_Driven_Apps": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Get_Apps_as_Admin": {
          "inputs": {
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins",
              "connectionName": "shared_powerappsforadmins_1",
              "operationId": "Get-AdminApps"
            },
            "parameters": {
              "$top": 250,
              "api-version": "2016-11-01",
              "environment": "@body('Parse_JSON')?['tags']?['environmentName']"
            }
          },
          "metadata": {
            "operationMetadataId": "99f49104-4719-48e1-ba85-405c9d5a3e5a"
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection"
        },
        "Get_Model_Driven_Apps": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "$filter": "uniquename ne null",
              "$select": "name, uniquename",
              "entityName": "appmodules"
            }
          },
          "metadata": {
            "operationMetadataId": "604f7f44-79da-4580-a1e2-e2ccd0a7b4c4"
          },
          "runAfter": {
            "Apply_to_each_app_in_this_environment": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection"
        },
        "Parse_JSON": {
          "inputs": {
            "content": "@workflow()",
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "run": {
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "tags": {
                  "properties": {
                    "environmentFlowSuspensionReason": {
                      "type": "string"
                    },
                    "environmentName": {
                      "type": "string"
                    },
                    "environmentWorkflowId": {
                      "type": "string"
                    },
                    "flowDisplayName": {
                      "type": "string"
                    },
                    "logicAppName": {
                      "type": "string"
                    },
                    "sharingType": {
                      "type": "string"
                    },
                    "xrmWorkflowId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "metadata": {
            "operationMetadataId": "91a1e6b6-cf05-423f-8723-644f93c2d1ec"
          },
          "runAfter": {},
          "type": "ParseJson"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "inputs": {
            "body": {
              "response": "OK"
            },
            "schema": {
              "properties": {
                "response": {
                  "title": "Response",
                  "type": "string",
                  "x-ms-dynamically-added": true
                }
              },
              "type": "object"
            },
            "statusCode": 200
          },
          "kind": "PowerApp",
          "metadata": {
            "operationMetadataId": "25daa418-17c7-4a68-b330-1d6d477757af"
          },
          "runAfter": {
            "Apply_to_each_model_driven_app_in_this_environment": [
              "Succeeded"
            ]
          },
          "type": "Response"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {},
              "required": [],
              "type": "object"
            }
          },
          "kind": "PowerAppV2",
          "metadata": {
            "operationMetadataId": "14de6e56-f828-4e0a-b91b-259942eb5f95"
          },
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
