CenterofExcellenceCoreComponents/SolutionPackage/Workflows/CommandCenterAppGetM365ServiceMessages-B38B49EE-41FC-EB11-94EF-002248237D7D.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "List_serviceAnnouncements_from_Graph": {
          "inputs": {
            "authentication": {
              "audience": "https://graph.microsoft.com",
              "clientId": "@parameters('Command Center - Application Client ID (admin_CommandCenterApplicationClientID)')",
              "secret": "@parameters('Command Center - Client Secret (admin_CommandCenterClientSecret)')",
              "tenant": "@parameters('TenantID')",
              "type": "ActiveDirectoryOAuth"
            },
            "method": "GET",
            "queries": {
              "$filter": "'Power Apps' in services or 'Microsoft Power Automate' in services or 'Power Apps in Microsoft 365' in services or 'Power Automate in Microsoft 365' in services or 'Power BI' in services"
            },
            "uri": "https://graph.microsoft.com/v1.0/admin/serviceAnnouncement/messages"
          },
          "metadata": {
            "operationMetadataId": "58ce2497-c4ac-4371-a56a-698cf417f1b8"
          },
          "runAfter": {},
          "type": "Http"
        },
        "Parse_Response": {
          "inputs": {
            "content": "@body('List_serviceAnnouncements_from_Graph')?['value']",
            "schema": {
              "items": {
                "properties": {
                  "actionRequiredByDateTime": {},
                  "body": {
                    "properties": {
                      "content": {
                        "type": "string"
                      },
                      "contentType": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "category": {
                    "type": "string"
                  },
                  "details": {
                    "type": "array"
                  },
                  "endDateTime": {
                    "type": "string"
                  },
                  "expiryDateTime": {},
                  "id": {
                    "type": "string"
                  },
                  "isMajorChange": {
                    "type": "boolean"
                  },
                  "lastModifiedDateTime": {
                    "type": "string"
                  },
                  "services": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "severity": {
                    "type": "string"
                  },
                  "startDateTime": {
                    "type": "string"
                  },
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "title": {
                    "type": "string"
                  },
                  "viewPoint": {}
                },
                "required": [
                  "startDateTime",
                  "endDateTime",
                  "lastModifiedDateTime",
                  "title",
                  "id",
                  "category",
                  "severity",
                  "tags",
                  "isMajorChange",
                  "actionRequiredByDateTime",
                  "services",
                  "expiryDateTime",
                  "viewPoint",
                  "details",
                  "body"
                ],
                "type": "object"
              },
              "type": "array"
            }
          },
          "metadata": {
            "operationMetadataId": "0a520416-8ed4-44d6-95e0-16b1f21a82ba"
          },
          "runAfter": {
            "List_serviceAnnouncements_from_Graph": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "Response": {
          "inputs": {
            "body": "@body('Select_Response_fields')",
            "schema": {
              "items": {
                "properties": {
                  "actBy": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "lastUpdated": {
                    "type": "string"
                  },
                  "services": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "severity": {
                    "type": "string"
                  },
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "title": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "statusCode": 200
          },
          "kind": "Http",
          "metadata": {
            "operationMetadataId": "f39d2bb2-2237-4910-8754-8444590ecd21"
          },
          "runAfter": {
            "Select_Response_fields": [
              "Succeeded"
            ]
          },
          "type": "Response"
        },
        "Select_Response_fields": {
          "inputs": {
            "from": "@body('Parse_Response')",
            "select": {
              "actBy": "@item()['actionRequiredByDateTime']",
              "category": "@item()['category']",
              "content": "@item()?['body']?['content']",
              "id": "@item()['id']",
              "lastUpdated": "@item()['lastModifiedDateTime']",
              "services": "@item()['services']",
              "severity": "@item()['severity']",
              "tags": "@item()['tags']",
              "title": "@item()['title']"
            }
          },
          "metadata": {
            "operationMetadataId": "d6b96eba-e5f1-41a9-8a69-c0d9b56bafa2"
          },
          "runAfter": {
            "Parse_Response": [
              "Succeeded"
            ]
          },
          "type": "Select"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Command Center - Application Client ID (admin_CommandCenterApplicationClientID)": {
          "defaultValue": "d1c9a5c5-d918-41bd-938f-f1fb3d5e562f",
          "metadata": {
            "description": "Application Client ID for the app registered to fetch M365 Service Messages",
            "schemaName": "admin_CommandCenterApplicationClientID"
          },
          "type": "String"
        },
        "Command Center - Client Secret (admin_CommandCenterClientSecret)": {
          "defaultValue": "3vM7Q~pFwmPxV.fH4JUNl4dmfIjveXxRnpSPQ",
          "metadata": {
            "description": "Client Secret for the app registered to fetch M365 Service Messages",
            "schemaName": "admin_CommandCenterClientSecret"
          },
          "type": "String"
        },
        "TenantID": {
          "defaultValue": "8a235459-3d2c-415d-8c1e-e2fe133509ad",
          "metadata": {
            "description": "Azure Tenant ID",
            "schemaName": "admin_TenantID"
          },
          "type": "String"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {},
              "required": [],
              "type": "object"
            }
          },
          "kind": "PowerApp",
          "metadata": {
            "operationMetadataId": "18fc65d2-021e-49ce-867a-e8fdf51e2cf6"
          },
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
