CenterofExcellenceCoreComponents/SolutionPackage/Workflows/CommandCenterAppGetM365ServiceMessages-B38B49EE-41FC-EB11-94EF-002248237D7D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseForApps"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Initialize_Secret_AzureType_to_true": {
          "inputs": {
            "variables": [
              {
                "name": "Secret_AzureType",
                "type": "boolean",
                "value": "@true"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "4fb2b304-6d7c-407e-a2c1-782ba52b4567"
          },
          "runAfter": {
            "Initialize_theTextSecret": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_appID": {
          "inputs": {
            "variables": [
              {
                "name": "theAppID",
                "type": "string"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "4fb2b304-6d7c-407e-a2c1-782ba52b4567"
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Initialize_theTextSecret": {
          "inputs": {
            "variables": [
              {
                "name": "theTextSecret",
                "type": "string"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "8b1e1654-f936-473c-95f8-fcd9869e2f72"
          },
          "runAfter": {
            "Initialize_appID": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "List_serviceAnnouncements_from_Graph": {
          "inputs": {
            "authentication": {
              "audience": "https://graph.microsoft.com",
              "clientId": "@variables('theAppID')",
              "secret": "@{if(variables('Secret_AzureType'), body('Get_Azure_Secret')['EnvironmentVariableSecretValue'], variables('theTextSecret'))}",
              "tenant": "@parameters('TenantID (admin_TenantID)')",
              "type": "ActiveDirectoryOAuth"
            },
            "method": "GET",
            "queries": {
              "$filter": "'Power Apps' in services or 'Microsoft Power Automate' in services or 'Power Apps in Microsoft 365' in services or 'Power Automate in Microsoft 365' in services or 'Power BI' in services"
            },
            "uri": "https://graph.microsoft.com/v1.0/admin/serviceAnnouncement/messages"
          },
          "metadata": {
            "operationMetadataId": "58ce2497-c4ac-4371-a56a-698cf417f1b8"
          },
          "runAfter": {
            "Set_env_var_Azure_Secret": [
              "Succeeded"
            ]
          },
          "type": "Http"
        },
        "Parse_Response": {
          "inputs": {
            "content": "@body('List_serviceAnnouncements_from_Graph')?['value']",
            "schema": {
              "items": {
                "properties": {
                  "actionRequiredByDateTime": {},
                  "body": {
                    "properties": {
                      "content": {
                        "type": "string"
                      },
                      "contentType": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "category": {
                    "type": "string"
                  },
                  "details": {
                    "type": "array"
                  },
                  "endDateTime": {
                    "type": "string"
                  },
                  "expiryDateTime": {},
                  "id": {
                    "type": "string"
                  },
                  "isMajorChange": {
                    "type": "boolean"
                  },
                  "lastModifiedDateTime": {
                    "type": "string"
                  },
                  "services": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "severity": {
                    "type": "string"
                  },
                  "startDateTime": {
                    "type": "string"
                  },
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "title": {
                    "type": "string"
                  },
                  "viewPoint": {}
                },
                "required": [
                  "startDateTime",
                  "endDateTime",
                  "lastModifiedDateTime",
                  "title",
                  "id",
                  "category",
                  "severity",
                  "tags",
                  "isMajorChange",
                  "actionRequiredByDateTime",
                  "services",
                  "expiryDateTime",
                  "viewPoint",
                  "details",
                  "body"
                ],
                "type": "object"
              },
              "type": "array"
            }
          },
          "metadata": {
            "operationMetadataId": "0a520416-8ed4-44d6-95e0-16b1f21a82ba"
          },
          "runAfter": {
            "List_serviceAnnouncements_from_Graph": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "Response": {
          "inputs": {
            "body": "@body('Select_Response_fields')",
            "schema": {
              "items": {
                "properties": {
                  "actBy": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "lastUpdated": {
                    "type": "string"
                  },
                  "services": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "severity": {
                    "type": "string"
                  },
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "title": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "statusCode": 200
          },
          "kind": "Http",
          "metadata": {
            "operationMetadataId": "f39d2bb2-2237-4910-8754-8444590ecd21"
          },
          "runAfter": {
            "Select_Response_fields": [
              "Succeeded"
            ]
          },
          "type": "Response"
        },
        "Response_if_failed": {
          "inputs": {
            "body": [],
            "statusCode": 200
          },
          "kind": "Http",
          "metadata": {
            "operationMetadataId": "fc83b3b9-9a23-45cd-826e-d904ea91b74d"
          },
          "runAfter": {
            "List_serviceAnnouncements_from_Graph": [
              "Failed"
            ]
          },
          "type": "Response"
        },
        "Select_Response_fields": {
          "inputs": {
            "from": "@body('Parse_Response')",
            "select": {
              "actBy": "@item()['actionRequiredByDateTime']",
              "category": "@item()['category']",
              "content": "@item()?['body']?['content']",
              "id": "@item()['id']",
              "lastUpdated": "@item()['lastModifiedDateTime']",
              "services": "@item()['services']",
              "severity": "@item()['severity']",
              "tags": "@item()['tags']",
              "title": "@item()['title']"
            }
          },
          "metadata": {
            "operationMetadataId": "d6b96eba-e5f1-41a9-8a69-c0d9b56bafa2"
          },
          "runAfter": {
            "Parse_Response": [
              "Succeeded"
            ]
          },
          "type": "Select"
        },
        "Set_Secret_value_from_text_Secret": {
          "actions": {
            "Get_ID_from_text_secret": {
              "inputs": "@first(body('ListDefns-TextSecret')?['value'])?['environmentvariabledefinitionid']",
              "metadata": {
                "operationMetadataId": "35daa390-ef10-4e7a-ad74-4616a48dfc39"
              },
              "runAfter": {
                "ListDefns-TextSecret": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "ListCurrents-TextSecret": {
              "inputs": {
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_environmentvariabledefinitionid_value eq @{outputs('Get_ID_from_text_secret')}",
                  "$select": "value",
                  "entityName": "environmentvariablevalues"
                }
              },
              "metadata": {
                "operationMetadataId": "db44e18b-c951-43be-8ed2-990fa2721e87"
              },
              "runAfter": {
                "Get_ID_from_text_secret": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "ListDefns-TextSecret": {
              "inputs": {
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "schemaname eq 'admin_commandcenterclientsecret'",
                  "$select": "environmentvariabledefinitionid, defaultvalue",
                  "entityName": "environmentvariabledefinitions"
                }
              },
              "metadata": {
                "operationMetadataId": "3e4048d2-4f28-43c6-8e87-83b68c7c79aa"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "Set_to_current_or_default_-_TextSecret": {
              "actions": {
                "Set_theTextSecret_-_CurrentValue": {
                  "inputs": {
                    "name": "theTextSecret",
                    "value": "@{first(body('ListCurrents-TextSecret')?['value'])?['Value']}"
                  },
                  "metadata": {
                    "operationMetadataId": "48e7d428-6134-4592-8a06-b7f1e52518ac"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                }
              },
              "else": {
                "actions": {
                  "Set_theTextSecret_-_DefaultValue": {
                    "inputs": {
                      "name": "theTextSecret",
                      "value": "@{first(body('ListDefns-TextSecret')?['value'])?['defaultvalue']}"
                    },
                    "metadata": {
                      "operationMetadataId": "c20649bc-6bdb-4e9c-bf7c-bad351afd877"
                    },
                    "runAfter": {},
                    "type": "SetVariable"
                  }
                }
              },
              "expression": {
                "greaterOrEquals": [
                  "@length(body('ListCurrents-TextSecret')?['value'])",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "c2ad9e77-30d4-4855-89ee-691169650c0d"
              },
              "runAfter": {
                "ListCurrents-TextSecret": [
                  "Succeeded"
                ]
              },
              "type": "If"
            }
          },
          "description": "must use old technique for fetching as env var is optional",
          "metadata": {
            "operationMetadataId": "550ccacb-97c0-4b23-8eae-d781f108c319"
          },
          "runAfter": {
            "Set_env_var_from_AppID": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Set_env_var_Azure_Secret": {
          "actions": {
            "Get_Azure_Secret": {
              "inputs": {
                "authentication": "@parameters('$authentication')",
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformUnboundAction"
                },
                "parameters": {
                  "actionName": "RetrieveEnvironmentVariableSecretValue",
                  "item/EnvironmentVariableName": "admin_commandcenterclientazuresecret"
                }
              },
              "metadata": {
                "operationMetadataId": "5eb8fe09-aecb-4128-ad70-91257c070c90"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "outputs"
                  ]
                }
              },
              "type": "OpenApiConnection"
            },
            "Set_Secret_AzureType_to_false_if_failed": {
              "inputs": {
                "name": "Secret_AzureType",
                "value": "@false"
              },
              "metadata": {
                "operationMetadataId": "70626779-a669-4be0-9727-1bfa0d65c4e3"
              },
              "runAfter": {
                "Get_Azure_Secret": [
                  "Failed"
                ]
              },
              "type": "SetVariable"
            }
          },
          "description": "must use old technique for fetching as env var is optional",
          "metadata": {
            "operationMetadataId": "550ccacb-97c0-4b23-8eae-d781f108c319"
          },
          "runAfter": {
            "Set_Secret_value_from_text_Secret": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Set_env_var_from_AppID": {
          "actions": {
            "Get_ID_from_AppID": {
              "inputs": "@first(body('ListDefns-AppID')?['value'])?['environmentvariabledefinitionid']",
              "metadata": {
                "operationMetadataId": "35daa390-ef10-4e7a-ad74-4616a48dfc39"
              },
              "runAfter": {
                "ListDefns-AppID": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "ListCurrents-AppID": {
              "inputs": {
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "_environmentvariabledefinitionid_value eq @{outputs('Get_ID_from_AppID')}",
                  "$select": "value",
                  "entityName": "environmentvariablevalues"
                }
              },
              "metadata": {
                "operationMetadataId": "db44e18b-c951-43be-8ed2-990fa2721e87"
              },
              "runAfter": {
                "Get_ID_from_AppID": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "ListDefns-AppID": {
              "inputs": {
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "$filter": "schemaname eq 'admin_commandcenterapplicationclientid'",
                  "$select": "environmentvariabledefinitionid, defaultvalue",
                  "entityName": "environmentvariabledefinitions"
                }
              },
              "metadata": {
                "operationMetadataId": "3e4048d2-4f28-43c6-8e87-83b68c7c79aa"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "paginationPolicy": {
                  "minimumItemCount": 100000
                }
              },
              "type": "OpenApiConnection"
            },
            "Set_to_current_or_default_-_AppID": {
              "actions": {
                "Set_AppID_-_CurrentValue": {
                  "inputs": {
                    "name": "theAppID",
                    "value": "@{first(body('ListCurrents-AppID')?['value'])?['Value']}"
                  },
                  "metadata": {
                    "operationMetadataId": "48e7d428-6134-4592-8a06-b7f1e52518ac"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                }
              },
              "else": {
                "actions": {
                  "Set_AppID_-_DefaultValue": {
                    "inputs": {
                      "name": "theAppID",
                      "value": "@{first(body('ListDefns-AppID')?['value'])?['defaultvalue']}"
                    },
                    "metadata": {
                      "operationMetadataId": "c20649bc-6bdb-4e9c-bf7c-bad351afd877"
                    },
                    "runAfter": {},
                    "type": "SetVariable"
                  }
                }
              },
              "expression": {
                "greaterOrEquals": [
                  "@length(body('ListCurrents-AppID')?['value'])",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "c2ad9e77-30d4-4855-89ee-691169650c0d"
              },
              "runAfter": {
                "ListCurrents-AppID": [
                  "Succeeded"
                ]
              },
              "type": "If"
            }
          },
          "description": "must use old technique for fetching as env var is optional",
          "metadata": {
            "operationMetadataId": "550ccacb-97c0-4b23-8eae-d781f108c319"
          },
          "runAfter": {
            "Initialize_Secret_AzureType_to_true": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Terminate": {
          "inputs": {
            "runStatus": "Succeeded"
          },
          "metadata": {
            "operationMetadataId": "e3bc62c0-aace-4b99-96f4-e3ff6b3d5db7"
          },
          "runAfter": {
            "Response_if_failed": [
              "Succeeded"
            ]
          },
          "type": "Terminate"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "TenantID (admin_TenantID)": {
          "defaultValue": "8a235459-3d2c-415d-8c1e-e2fe133509ad",
          "metadata": {
            "description": "Azure Tenant ID",
            "schemaName": "admin_TenantID"
          },
          "type": "String"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {},
              "required": [],
              "type": "object"
            }
          },
          "kind": "PowerApp",
          "metadata": {
            "operationMetadataId": "18fc65d2-021e-49ce-867a-e8fdf51e2cf6"
          },
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
