CenterofExcellenceCoreComponents/SolutionPackage/Workflows/DLPRequestSyncSharedPolicies-9CC88B7B-4968-EC11-8F8F-000D3A13D289.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_powerplatformforadmins_1": {
        "api": {
          "name": "shared_powerplatformforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdmins"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Apply_to_each_shared_Policy": {
          "actions": {
            "Condition_-_Policy_still_exists_in_Power_Platform": {
              "actions": {
                "Run_a_Child_Flow": {
                  "inputs": {
                    "body": {
                      "text": "@item()?['admin_dlppolicyid']"
                    },
                    "host": {
                      "workflowReferenceName": "e55e412f-bf69-ec11-8943-002248266489"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "c104d02b-b2cd-4fb9-833b-bb5adff11c49"
                  },
                  "runAfter": {},
                  "type": "Workflow"
                }
              },
              "else": {
                "actions": {
                  "Update_a_row_-_Policy_deleted_in_Power_Platform": {
                    "inputs": {
                      "authentication": "@parameters('$authentication')",
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord"
                      },
                      "parameters": {
                        "entityName": "admin_dlppolicies",
                        "item/statecode": 1,
                        "recordId": "@items('Apply_to_each_shared_Policy')?['admin_dlppolicyid']"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "0a04932c-a177-434c-aaa4-38ed243996b0"
                    },
                    "runAfter": {},
                    "type": "OpenApiConnection"
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(body('Filter_array'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "1ade9fba-e553-4fe5-abef-d463acd33e8f"
              },
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "Filter_array": {
              "inputs": {
                "from": "@outputs('List_DLP_Policies_V2')?['body/value']",
                "where": "@equals(item()?['name'], outputs('Policy_ID'))"
              },
              "metadata": {
                "operationMetadataId": "52f63b2a-0201-40a1-96ac-48bf9fd91bb8"
              },
              "runAfter": {
                "Policy_ID": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "Policy_ID": {
              "inputs": "@string(items('Apply_to_each_shared_Policy')?['admin_policyid'])",
              "metadata": {
                "operationMetadataId": "57a9b3ae-d0a3-490c-b765-c5ceb9b326be"
              },
              "runAfter": {},
              "type": "Compose"
            }
          },
          "foreach": "@body('Parse_JSON_-_DLP_Policies_with_Connectors')",
          "metadata": {
            "operationMetadataId": "b9905b3e-093c-413c-90c1-a7c143efd21e"
          },
          "runAfter": {
            "List_DLP_Policies_V2": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          },
          "type": "Foreach"
        },
        "List_DLP_Policies_V2": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins",
              "connectionName": "shared_powerplatformforadmins_1",
              "operationId": "ListPoliciesV2"
            },
            "parameters": {}
          },
          "metadata": {
            "operationMetadataId": "757bc5d6-dd6e-4fd0-afbd-14413acb48f3"
          },
          "runAfter": {
            "List_rows_-_PowerApps_Connectors": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection"
        },
        "List_rows": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "$expand": "admin_blocked_policy_connectors($select=admin_id,admin_connectorid,admin_displayname)",
              "$filter": "admin_isshared eq true",
              "entityName": "admin_dlppolicies"
            }
          },
          "metadata": {
            "operationMetadataId": "87b37eb2-968e-43cc-9a6a-0a527f6030a1"
          },
          "runAfter": {},
          "type": "OpenApiConnection"
        },
        "List_rows_-_PowerApps_Connectors": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "$select": "admin_id,admin_connectorid,admin_displayname",
              "entityName": "admin_connectors"
            }
          },
          "metadata": {
            "operationMetadataId": "4a2158ee-2d80-467f-9675-eb24995955bd"
          },
          "runAfter": {
            "Parse_JSON_-_DLP_Policies_with_Connectors": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection"
        },
        "Parse_JSON_-_DLP_Policies_with_Connectors": {
          "inputs": {
            "content": "@outputs('List_rows')?['body/value']",
            "schema": {
              "items": {
                "properties": {
                  "@@odata.id": {
                    "title": "Policy OData Id",
                    "type": "string"
                  },
                  "admin_blocked_policy_connectors": {
                    "items": {
                      "properties": {
                        "@@odata.id": {
                          "title": "Blocked connector OData Id",
                          "type": "string"
                        },
                        "@@odata.type": {
                          "title": "Blocked connector OData type",
                          "type": "string"
                        },
                        "admin_connectorid": {
                          "title": "Blocked PowerAppsConnector Id",
                          "type": "string"
                        },
                        "admin_displayname": {
                          "title": "Blocked connector display name",
                          "type": "string"
                        },
                        "admin_id": {
                          "description": "Power Platform connector Id",
                          "title": "Blocked connector Id",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "title": "Blocked Connectors",
                    "type": "array"
                  },
                  "admin_blocked_policy_connectors@odata.nextLink": {
                    "type": "string"
                  },
                  "admin_dlppolicyid": {
                    "description": "Unique identifier for the Policy as it appears in the Power Platform.",
                    "title": "Power Platform Policy Id",
                    "type": "string"
                  },
                  "admin_name": {
                    "title": "Policy display name",
                    "type": "string"
                  },
                  "admin_policyid": {
                    "type": "string"
                  },
                  "statecode": {
                    "type": "integer"
                  },
                  "statecode@OData.Community.Display.V1.FormattedValue": {
                    "type": "string"
                  },
                  "statuscode": {
                    "title": "Policy status code",
                    "type": "integer"
                  },
                  "statuscode@OData.Community.Display.V1.FormattedValue": {
                    "title": "Formatted Policy status code",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "metadata": {
            "operationMetadataId": "8a00ba14-1398-46da-9aba-9238b8e27b83"
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Run_Daily": {
          "metadata": {
            "operationMetadataId": "12188783-96c7-4613-bb26-baf1c56b3e7d"
          },
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "schedule": {
              "hours": [
                "0"
              ]
            }
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
