CenterofExcellenceCoreComponents/SolutionPackage/Workflows/DLPRequestApplyPolicytoEnvironmentChild-309DCCC8-A76B-EC11-8943-00224828FB29.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerplatformforadmins_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerPlatformforAdminsEnvRequest"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "80d4e494-de9f-410f-afe9-47c0e1d1dbfe"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "PolicyId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Power Platform DLP Policy guid (aka 'name' field) ",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "EnvironmentId",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Power Platform environment (aka 'name' field)",
                  "x-ms-content-hint": "TEXT"
                },
                "boolean": {
                  "title": "ReplaceIncludePolicies",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "True == Will remove environment from all other \"Include\" type policies",
                  "x-ms-content-hint": "BOOLEAN"
                },
                "boolean_1": {
                  "title": "AddToExcludePolicies",
                  "type": "boolean",
                  "x-ms-dynamically-added": true,
                  "description": "True == Adds to all \"Except\" type policies",
                  "x-ms-content-hint": "BOOLEAN"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Add_Environment_to_other_\"Exclude\"_Policies": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f4d94164-79f3-42d4-a17c-e1fe47023bfc"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "code": "@variables('var_statusCode')",
              "message": "@variables('var_statusReason')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "title": "Code",
                  "x-ms-dynamically-added": true,
                  "type": "number"
                },
                "message": {
                  "title": "Message",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Add_Environment_to_target_Policy's_list": {
          "actions": {
            "Filter_array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d28e2969-098e-42f7-8583-94325fb4c038"
              },
              "type": "Query",
              "inputs": {
                "from": "@variables('arr_newEnvironmentList')",
                "where": "@equals(item()?['name'], variables('var_environmentId'))"
              }
            },
            "Check_if_Environment_already_in_Policy": {
              "actions": {},
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Append_to_array_variable": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "928213dd-8f8b-4806-9738-645697aec62b"
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "arr_newEnvironmentList",
                      "value": {
                        "name": "@{outputs('Get_Environment_as_Admin')?['body/name']}",
                        "id": "@{outputs('Get_Environment_as_Admin')?['body/id']}",
                        "type": "@{outputs('Get_Environment_as_Admin')?['body/type']}"
                      }
                    }
                  },
                  "Update_DLP_Policy_V2": {
                    "runAfter": {
                      "Append_to_array_variable": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5c06a274-99a0-4ef0-99d4-08aa5bf07cc7"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_powerplatformforadmins_1",
                        "operationId": "UpdatePolicyV2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                      },
                      "parameters": {
                        "policy": "@outputs('Get_DLP_Policy_V2')?['body/name']",
                        "body/displayName": "@outputs('Get_DLP_Policy_V2')?['body/displayName']",
                        "body/defaultConnectorsClassification": "@outputs('Get_DLP_Policy_V2')?['body/defaultConnectorsClassification']",
                        "body/connectorGroups": "@outputs('Get_DLP_Policy_V2')?['body/connectorGroups']",
                        "body/environmentType": "@outputs('Get_DLP_Policy_V2')?['body/environmentType']",
                        "body/environments": "@variables('arr_newEnvironmentList')",
                        "api-version": "2018-10-01"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(body('Filter_array'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "11437f7e-6bbf-470f-84ca-dda2811dc791"
              },
              "type": "If"
            },
            "Reset_Environments_Variable": {
              "runAfter": {
                "Check_if_Environment_already_in_Policy": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4d7c6784-234f-4624-a2e2-0a2029c09cee"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "arr_newEnvironmentList",
                "value": [
                  {
                    "name": "@{outputs('Get_Environment_as_Admin')?['body/name']}",
                    "id": "@{outputs('Get_Environment_as_Admin')?['body/id']}",
                    "type": "@{outputs('Get_Environment_as_Admin')?['body/type']}"
                  }
                ]
              }
            }
          },
          "runAfter": {
            "Get_Data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "432054e0-8f6d-4dcb-aceb-2e6b4d6d4f28"
          },
          "type": "Scope"
        },
        "Initialize_variable_-_Policy_Id": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "af133f1f-d881-425f-abb5-994d1f3e7fa8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "var_policyId",
                "type": "string",
                "value": "@triggerBody()['text']"
              }
            ]
          }
        },
        "Initialize_variable_-_Environment_Id": {
          "runAfter": {
            "Initialize_variable_-_Policy_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1d940939-5d76-425f-939d-6b89c5ecb2a9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "var_environmentId",
                "type": "string",
                "value": "@triggerBody()['text_1']"
              }
            ]
          }
        },
        "Initialize_variable_-_Status_Code": {
          "runAfter": {
            "Initialize_variable_-_Replace_All_Include_Policies": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3253630b-a7ca-4867-b459-06735cb05b9b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "var_statusCode",
                "type": "integer",
                "value": 200
              }
            ]
          },
          "description": "Used for response"
        },
        "Get_Data": {
          "actions": {
            "Get_DLP_Policy_V2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "fc3ff542-d57a-4a03-a81c-494246a4b86f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerplatformforadmins_1",
                  "operationId": "GetPolicyV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                },
                "parameters": {
                  "policy": "@variables('var_policyId')"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Environment_as_Admin": {
              "runAfter": {
                "Set_variable_-_Policy_Environments": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f3ad4d3b-0f2c-43a4-8b5b-ac398ae36ca8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerplatformforadmins_1",
                  "operationId": "GetSingleEnvironment",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                },
                "parameters": {
                  "environment": "@variables('var_environmentId')",
                  "api-version": "2018-10-01"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Set_variable_-_Policy_Environments": {
              "runAfter": {
                "Get_DLP_Policy_V2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "60d06e27-a806-4bb3-ba01-f7224045d42e"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "arr_newEnvironmentList",
                "value": "@outputs('Get_DLP_Policy_V2')?['body/environments']"
              }
            },
            "OnlyEnvironments_Policies": {
              "runAfter": {
                "Get_Environment_as_Admin": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "786403b2-3be0-4d6a-aa6c-8723dd963b9a"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('List_DLP_Policies_V2')?['body/value']",
                "where": "@equals(item()?['environmentType'], 'OnlyEnvironments')"
              }
            },
            "ExceptEnvironments_Policies": {
              "runAfter": {
                "OnlyEnvironments_Policies": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "65d0119a-fe2f-4da7-8cf5-c8cacbc3a1dc"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('List_DLP_Policies_V2')?['body/value']",
                "where": "@equals(item()?['environmentType'], 'ExceptEnvironments')"
              }
            }
          },
          "runAfter": {
            "List_DLP_Policies_V2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fd3fd675-2e49-48a3-b908-cdc2cae85c82"
          },
          "type": "Scope"
        },
        "Initialize_variable_-_New_Environment_List": {
          "runAfter": {
            "Initialize_variable_-_Status_Reason": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1346fa96-8be3-4e39-8db2-5feecdc8b7c4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "arr_newEnvironmentList",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable_-_Status_Reason": {
          "runAfter": {
            "Initialize_variable_-_Status_Code": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "981c092b-9ac7-43ca-ad02-74af18cbb122"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "var_statusReason",
                "type": "string",
                "value": "OK"
              }
            ]
          }
        },
        "Remove_Environment_from_other_\"Include\"_Policies": {
          "actions": {
            "Apply_to_each_Include_Policy": {
              "foreach": "@body('OnlyEnvironments_Policies')",
              "actions": {
                "Updated_Environments_list_length": {
                  "runAfter": {
                    "Filter_array_-_Remove_Environment": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "263dff64-6fd7-4d7a-a1d8-2258dfc9f5f1"
                  },
                  "type": "Compose",
                  "inputs": "@int(length(body('Filter_array_-_Remove_Environment')))"
                },
                "Update_Policy_if_change_is_made": {
                  "actions": {},
                  "runAfter": {
                    "Compose_4": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Compose_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "4b79a49f-5266-4994-a261-b624564f5b26"
                        },
                        "type": "Compose",
                        "inputs": "UPDATE POLICY ENVIRONMENT LIST"
                      },
                      "Update_DLP_Policy_V2_2": {
                        "runAfter": {
                          "Compose_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "55aa8ee4-6848-4e95-8531-3c66cdc9cc04"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_powerplatformforadmins_1",
                            "operationId": "UpdatePolicyV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                          },
                          "parameters": {
                            "policy": "@item()?['name']",
                            "body/displayName": "@item()?['displayName']",
                            "body/defaultConnectorsClassification": "@item()?['defaultConnectorsClassification']",
                            "body/connectorGroups": "@item()?['connectorGroups']",
                            "body/environmentType": "@item()?['environmentType']",
                            "body/environments": "@body('Filter_array_-_Remove_Environment')",
                            "api-version": "2018-10-01"
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Initial_Environments_list_length')",
                      "@outputs('Updated_Environments_list_length')"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b8ba1f9e-f7bd-4b52-9eeb-063f9bbcbcc0"
                  },
                  "type": "If"
                },
                "Initial_Environments_list_length": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e81b36e0-12b0-4906-b08c-9b9635a6bc94"
                  },
                  "type": "Compose",
                  "inputs": "@int(length(item()?['environments']))"
                },
                "Filter_array_-_Remove_Environment": {
                  "runAfter": {
                    "Initial_Environments_list_length": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d28e2969-098e-42f7-8583-94325fb4c038"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@item()?['environments']",
                    "where": "@not(equals(item()?['name'], variables('var_environmentId')))"
                  }
                },
                "Compose_4": {
                  "runAfter": {
                    "Updated_Environments_list_length": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dfc66358-5373-428c-aebc-0727d701d6c4"
                  },
                  "type": "Compose",
                  "inputs": "@{outputs('Initial_Environments_list_length')} == @{outputs('Updated_Environments_list_length')} ? @{equals(outputs('Updated_Environments_list_length'),outputs('Initial_Environments_list_length'))}"
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "47d7bd96-0e49-4df3-8b3a-428794a74c7d"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Add_Environment_to_target_Policy's_list": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8c530881-fa23-42e3-a776-c4df012540e9"
          },
          "type": "Scope"
        },
        "Add_Environment_to_other_\"Exclude\"_Policies": {
          "actions": {
            "Apply_to_each_Exclude_Policy": {
              "foreach": "@body('ExceptEnvironments_Policies')",
              "actions": {
                "Filter_array_-_Check_if_Environment_is_in_list": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d28e2969-098e-42f7-8583-94325fb4c038"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@items('Apply_to_each_Exclude_Policy')?['environments']",
                    "where": "@equals(item()?['name'], variables('var_environmentId'))"
                  }
                },
                "Check_if_Environments_list_already_had_this_environment": {
                  "actions": {},
                  "runAfter": {
                    "Filter_array_-_Check_if_Environment_is_in_list": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Add_to_Exception_Environments_list": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "c693ebaf-6256-44e5-9144-c9773bd558a0"
                        },
                        "type": "Compose",
                        "inputs": "@union(item()?['environments'],variables('arr_newEnvironmentList'))"
                      },
                      "Update_DLP_Policy_V2_3": {
                        "runAfter": {
                          "Add_to_Exception_Environments_list": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "c2cd6e84-333a-4409-93af-d78c7a33270c"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_powerplatformforadmins_1",
                            "operationId": "UpdatePolicyV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
                          },
                          "parameters": {
                            "policy": "@items('Apply_to_each_Exclude_Policy')?['name']",
                            "body/displayName": "@items('Apply_to_each_Exclude_Policy')?['displayName']",
                            "body/defaultConnectorsClassification": "@items('Apply_to_each_Exclude_Policy')?['defaultConnectorsClassification']",
                            "body/connectorGroups": "@items('Apply_to_each_Exclude_Policy')?['connectorGroups']",
                            "body/environmentType": "@items('Apply_to_each_Exclude_Policy')?['environmentType']",
                            "body/environments": "@outputs('Add_to_Exception_Environments_list')",
                            "api-version": "2018-10-01"
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@length(body('Filter_array_-_Check_if_Environment_is_in_list'))",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2b1da5e5-7d91-4143-b233-8132f68d4c54"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "29d82e1a-c95c-4783-a96d-dc506a4587d0"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Remove_Environment_from_other_\"Include\"_Policies": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e7e20e87-0947-472c-8149-ab15d2bb9b95"
          },
          "type": "Scope"
        },
        "List_DLP_Policies_V2": {
          "runAfter": {
            "Initialize_variable_-_New_Environment_List": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "918d7518-8255-498b-92a9-a51e67a899e3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_powerplatformforadmins_1",
              "operationId": "ListPoliciesV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
            },
            "parameters": {},
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Initialize_variable_-_Replace_All_Include_Policies": {
          "runAfter": {
            "Initialize_variable_-_Environment_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a34be372-1602-4315-8214-0c7962233673"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "var_replaceIncludePolicies",
                "type": "boolean",
                "value": "@true"
              }
            ]
          },
          "description": "True == Remove input environment from all other OnlyEnvironments type policies"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}