CenterofExcellenceCoreComponents/SolutionPackage/Workflows/HELPER-SendEmail-5625768C-BD3D-EC11-8C63-00224829720B.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreO365Outlook"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Initialize_returnVariable_to_pass": {
          "inputs": {
            "variables": [
              {
                "name": "returnVariable",
                "type": "string",
                "value": "pass"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "07fc9250-8f54-4dc6-9fde-f18fafbbef34"
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "inputs": {
            "body": {
              "thereturnstring": "@variables('returnVariable')"
            },
            "schema": {
              "properties": {
                "thereturnstring": {
                  "title": "theReturnString",
                  "type": "string",
                  "x-ms-dynamically-added": true
                }
              },
              "type": "object"
            },
            "statusCode": 200
          },
          "kind": "PowerApp",
          "metadata": {
            "operationMetadataId": "05a27ea2-9c22-436e-9d84-1e5f21c60730"
          },
          "runAfter": {
            "Set_returnVariable_to_fail": [
              "Succeeded",
              "Skipped"
            ]
          },
          "type": "Response"
        },
        "Send_an_email_(V2)": {
          "inputs": {
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2"
            },
            "parameters": {
              "emailMessage/Body": "@{parameters('eMail Header Style')}\n@{parameters('eMail Body Start (admin_eMailBodyStart)')}\n@{triggerBody()['text_1']}\n@{parameters('eMail Body Stop (admin_eMailBodyStop)')}",
              "emailMessage/Cc": "@if(equals(triggerBody()?['email_1'], null), '', triggerBody()?['email_1'])",
              "emailMessage/From": "@if(equals(triggerBody()?['email_2'], null), '', triggerBody()?['email_2'])",
              "emailMessage/ReplyTo": "@if(equals(triggerBody()?['email_3'], null), '', triggerBody()?['email_3'])",
              "emailMessage/Subject": "@triggerBody()['text']",
              "emailMessage/To": "@triggerBody()['email']"
            }
          },
          "metadata": {
            "operationMetadataId": "8c6f9e3d-94be-4b06-8d5f-6722cb9d9da2"
          },
          "runAfter": {
            "Initialize_returnVariable_to_pass": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection"
        },
        "Set_returnVariable_to_fail": {
          "inputs": {
            "name": "returnVariable",
            "value": "fail"
          },
          "metadata": {
            "operationMetadataId": "1b5fed02-be82-4be9-a978-9ad510e2165f"
          },
          "runAfter": {
            "Send_an_email_(V2)": [
              "Failed"
            ]
          },
          "type": "SetVariable"
        }
      },
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "eMail Body Start (admin_eMailBodyStart)": {
          "defaultValue": "<body>      <div id='content'>          <table id='form'>              <tr>                  <td><img id='logo' src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/1280px-Microsoft_logo_%282012%29.svg.png'></td>              </tr>              <tr>                  <td>                      <p id='header'>Power Platform</p>                  </td>              </tr>              <tr id='ribbon'>                  <td>              <tr>                  <td></td>              </tr>              <tr id='message'>                  <td>",
          "metadata": {
            "description": "Starter HTML format for eMails",
            "schemaName": "admin_eMailBodyStart"
          },
          "type": "String"
        },
        "eMail Body Stop (admin_eMailBodyStop)": {
          "defaultValue": "</td>              </tr>          </table>      </div>  </body>",
          "metadata": {
            "description": "Ending HTML format for eMails",
            "schemaName": "admin_eMailBodyStop"
          },
          "type": "String"
        },
        "eMail Header Style": {
          "defaultValue": "<head> <style> \nbody {\n    background-color: #efefef;\n    font-family: Segoe UI;\n    text-align: center;\n}\n\n#content {\n    border: 1px solid #742774;\n    background-color: #ffffff;\n    width: 650px;\n    margin-bottom: 50px;\n    display: inline-block;\n}\n\n#logo {\n    margin-left: 52px;\n    margin-top: 40px;\n    width: 60px;\n    height: 12px;\n}\n\n#header {\n    font-size: 24px;\n    margin-left: 50px;\n    margin-top: 20px;\n    margin-bottom: 20px;\n}\n\n#ribbon {\n    background-color: #742774;\n}\n\n#ribbonContent {\n    font-size: 20px;\n    padding-left: 30px;\n    padding-top: 10px;\n    padding-bottom: 20px;\n    color: white;\n    width: 100%;\n    padding-right: 10px;\n}\n\n#message > td {\n    font-size: 14px;\n    padding-left: 60px;\n    padding-right: 60px;\n    padding-top: 20px;\n    padding-bottom: 40px;\n}\n\n#footer > td {\n    font-size: 12px;\n    background-color: #cfcfcf;\n    height: 40px;\n    padding-top: 15px;\n    padding-left: 40px;\n    padding-bottom: 20px;\n}\n\n#form {\n    width: 100%;\n    border-collapse: collapse;\n}\n\n#app {\n    width: 60%;\n    font-size: 12px;\n}\n\n.label {\n    color: #5f5f5f\n}\n\ntable {\n    border-collapse: collapse;\n    width: 100%;\n}\n\nth, td {\n    padding: 8px;\n    text-align: left;\n    border-bottom: 1px solid #ddd;\n}\n\n</style> </head>",
          "metadata": {
            "description": "CSS/Style used for eMails",
            "schemaName": "admin_eMailHeaderStyle"
          },
          "type": "String"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "email": {
                  "description": "Please enter an e-mail address",
                  "format": "email",
                  "title": "To",
                  "type": "string",
                  "x-ms-content-hint": "EMAIL",
                  "x-ms-dynamically-added": true
                },
                "email_1": {
                  "description": "Please enter an e-mail address",
                  "format": "email",
                  "title": "CC",
                  "type": "string",
                  "x-ms-content-hint": "EMAIL",
                  "x-ms-dynamically-added": true
                },
                "email_2": {
                  "description": "Please enter an e-mail address",
                  "format": "email",
                  "title": "SendOnBehalf",
                  "type": "string",
                  "x-ms-content-hint": "EMAIL",
                  "x-ms-dynamically-added": true
                },
                "email_3": {
                  "description": "Please enter an e-mail address",
                  "format": "email",
                  "title": "ReplyTo",
                  "type": "string",
                  "x-ms-content-hint": "EMAIL",
                  "x-ms-dynamically-added": true
                },
                "text": {
                  "description": "Please enter your input",
                  "title": "Subject",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Body",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "email",
                "text",
                "text_1"
              ],
              "type": "object"
            }
          },
          "kind": "Button",
          "metadata": {
            "operationMetadataId": "a0143d7a-3a74-4bad-a3a9-cff20616e58a"
          },
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
