CenterofExcellenceCoreComponents/SolutionPackage/Workflows/HELPER-CloudFlowOperations-6093B58A-4FEA-EB11-BACB-000D3A578F6C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice": {
        "api": {
          "name": "shared_commondataservice"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseLegacy"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse2"
        },
        "runtimeSource": "embedded"
      },
      "shared_microsoftflowforadmins": {
        "api": {
          "name": "shared_microsoftflowforadmins"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECorePowerAutomateAdmin"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365users": {
        "api": {
          "name": "shared_office365users"
        },
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreO365Users"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Get_User_Info_if_not_null": {
          "actions": {
            "Catch_-_for_delete_cases_with_no_user_-_photo": {
              "inputs": "Catch - for delete cases with no user",
              "metadata": {
                "operationMetadataId": "d5bd14bd-4078-4ec3-ac47-1cf8231dc1fc"
              },
              "runAfter": {
                "Get_user_photo_(V2)": [
                  "Failed"
                ]
              },
              "type": "Compose"
            },
            "Catch_-_for_delete_cases_with_no_user_-_profile": {
              "inputs": "Catch - for delete cases with no user",
              "metadata": {
                "operationMetadataId": "8e03cbc5-24f2-4e76-b564-49f0c4eb48cc"
              },
              "runAfter": {
                "Get_user_profile_(V2)": [
                  "Failed"
                ]
              },
              "type": "Compose"
            },
            "Get_user_photo_(V2)": {
              "inputs": {
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                  "connectionName": "shared_office365users",
                  "operationId": "UserPhoto_V2"
                },
                "parameters": {
                  "id": "@triggerBody()['text']"
                }
              },
              "metadata": {
                "operationMetadataId": "9ca8fc74-8bac-4620-aaea-a442f839f4cf"
              },
              "runAfter": {},
              "type": "OpenApiConnection"
            },
            "Get_user_profile_(V2)": {
              "inputs": {
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                  "connectionName": "shared_office365users",
                  "operationId": "UserProfile_V2"
                },
                "parameters": {
                  "id": "@triggerBody()['text']"
                }
              },
              "metadata": {
                "operationMetadataId": "2f541dfe-98bc-4d99-bd90-37f465e2f087"
              },
              "runAfter": {
                "Catch_-_for_delete_cases_with_no_user_-_photo": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "type": "OpenApiConnection"
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@triggerBody()['text']",
                    "@null"
                  ]
                }
              },
              {
                "not": {
                  "equals": [
                    "@triggerBody()['text_3']",
                    "delete"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "39916be4-b054-4c70-a34b-216a85c8493a"
          },
          "runAfter": {
            "Get_flow_from_CoE": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Get_flow_from_CoE": {
          "inputs": {
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem"
            },
            "parameters": {
              "entityName": "admin_flows",
              "recordId": "@triggerBody()['text_1']"
            }
          },
          "metadata": {
            "operationMetadataId": "b01b42aa-d97e-446f-bee7-82cbea8ce1b4"
          },
          "runAfter": {},
          "type": "OpenApiConnection"
        },
        "Initialize_ReturnString_to_pass": {
          "inputs": {
            "variables": [
              {
                "name": "ReturnString",
                "type": "string",
                "value": "pass"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "4ab2df3b-de59-4a3c-b6d0-4a80377c5344"
          },
          "runAfter": {
            "Get_User_Info_if_not_null": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_SolutionAwareFlow_to_value_from_CoE": {
          "inputs": {
            "variables": [
              {
                "name": "SolutionAwareFlow",
                "type": "boolean",
                "value": "@if(outputs('Get_flow_from_CoE')?['body/admin_issolutionflow'], true, false)"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "54fa706f-6915-44af-8303-b4b3530dda32"
          },
          "runAfter": {
            "Initialize_ReturnString_to_pass": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "inputs": {
            "body": {
              "thereturnstring": "@variables('ReturnString')"
            },
            "schema": {
              "properties": {
                "thereturnstring": {
                  "title": "theReturnString",
                  "type": "string",
                  "x-ms-dynamically-added": true
                }
              },
              "type": "object"
            },
            "statusCode": 200
          },
          "kind": "PowerApp",
          "metadata": {
            "operationMetadataId": "66827cd0-52a2-44a2-ae6f-e51446853f43"
          },
          "runAfter": {
            "Switch_on_action_input": [
              "Succeeded"
            ]
          },
          "type": "Response"
        },
        "Switch_on_action_input": {
          "cases": {
            "Case_addeditor": {
              "actions": {
                "Ensure_Editor_is_in_Maker_and_User_tables": {
                  "actions": {
                    "Add_to_User_Table_if_not_yet_present_-_addeditor": {
                      "actions": {
                        "Add_a_new_user_-_addeditor": {
                          "inputs": {
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord"
                            },
                            "parameters": {
                              "entityName": "admin_powerplatformusers",
                              "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                              "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                              "item/admin_displayname": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                              "item/admin_groupsize": 1,
                              "item/admin_powerplatformuserid": "@triggerBody()['text']",
                              "item/admin_userprincipalname": "@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"
                            }
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        },
                        "update_picture_if_not_null_-_addeditor": {
                          "actions": {
                            "Upload_a_file_or_an_image_-_addeditor": {
                              "inputs": {
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateEntityFileImageFieldContent"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformusers",
                                  "fileImageFieldName": "admin_photoobject",
                                  "item": "@body('Get_user_photo_(V2)')",
                                  "recordId": "@triggerBody()['text']",
                                  "x-ms-file-name": "@{triggerBody()['text']}_pic"
                                }
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "expression": {
                            "not": {
                              "equals": [
                                "@body('Get_user_photo_(V2)')",
                                "@null"
                              ]
                            }
                          },
                          "runAfter": {
                            "Add_a_new_user_-_addeditor": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "expression": {
                        "equals": [
                          "@length(outputs('List_new_editor_from_User_Table')?['body/value'])",
                          0
                        ]
                      },
                      "runAfter": {
                        "List_new_editor_from_User_Table": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "List_new_editor_from_User_Table": {
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "admin_powerplatformuserid eq @{triggerBody()['text']}",
                          "$select": "admin_powerplatformuserid",
                          "entityName": "admin_powerplatformusers"
                        }
                      },
                      "runAfter": {
                        "Maker_Check_-_addeditor": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection"
                    },
                    "Maker_Check_-_addeditor": {
                      "inputs": {
                        "body": {
                          "boolean": false,
                          "text": "@triggerBody()['text']"
                        },
                        "host": {
                          "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                        }
                      },
                      "runAfter": {},
                      "type": "Workflow"
                    }
                  },
                  "runAfter": {},
                  "type": "Scope"
                },
                "if_not_creator_add_edit_permissions_-_addeditor": {
                  "actions": {
                    "Edit_Flow_Editor_Role_as_Admin": {
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins",
                          "connectionName": "shared_microsoftflowforadmins",
                          "operationId": "Edit-AdminFlowOwnerRole"
                        },
                        "parameters": {
                          "Content-Type": "application/json",
                          "api-version": "2016-11-01",
                          "body/put": [
                            {
                              "properties/principal/id": "@triggerBody()['text']",
                              "properties/principal/type": "user",
                              "properties/roleName": "CanEdit"
                            }
                          ],
                          "environment": "@triggerBody()['text_2']",
                          "flow": "@triggerBody()['text_1']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    },
                    "Set_ReturnString_to_failed_-_assign_not_solution_aware_-_addeditor": {
                      "inputs": {
                        "name": "ReturnString",
                        "value": "fail"
                      },
                      "runAfter": {
                        "Edit_Flow_Editor_Role_as_Admin": [
                          "Failed"
                        ]
                      },
                      "type": "SetVariable"
                    }
                  },
                  "else": {
                    "actions": {
                      "Reason_we_do_not_update_permission_for_Maker_-_addeditor": {
                        "inputs": "Product will fail if you try to give Maker edit permissions as \"cannot downgrade\"",
                        "runAfter": {},
                        "type": "Compose"
                      }
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                        "@triggerBody()['text']"
                      ]
                    }
                  },
                  "runAfter": {
                    "Ensure_Editor_is_in_Maker_and_User_tables": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                }
              },
              "case": "addeditor"
            },
            "Case_addviewer": {
              "actions": {
                "Ensure_Viewer_is_in_User_table": {
                  "actions": {
                    "Add_to_User_Table_if_not_yet_present_-_addviewer": {
                      "actions": {
                        "Add_a_new_user_-_addviewer": {
                          "inputs": {
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord"
                            },
                            "parameters": {
                              "entityName": "admin_powerplatformusers",
                              "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                              "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                              "item/admin_displayname": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                              "item/admin_groupsize": 1,
                              "item/admin_powerplatformuserid": "@triggerBody()['text']",
                              "item/admin_userprincipalname": "@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"
                            }
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        },
                        "update_picture_if_not_null_-_addviewer": {
                          "actions": {
                            "Upload_a_file_or_an_image_-_addviewer": {
                              "inputs": {
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateEntityFileImageFieldContent"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformusers",
                                  "fileImageFieldName": "admin_photoobject",
                                  "item": "@body('Get_user_photo_(V2)')",
                                  "recordId": "@triggerBody()['text']",
                                  "x-ms-file-name": "@{triggerBody()['text']}_pic"
                                }
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "expression": {
                            "not": {
                              "equals": [
                                "@body('Get_user_photo_(V2)')",
                                "@null"
                              ]
                            }
                          },
                          "runAfter": {
                            "Add_a_new_user_-_addviewer": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "expression": {
                        "equals": [
                          "@length(outputs('List_new_viewer_from_User_Table')?['body/value'])",
                          0
                        ]
                      },
                      "runAfter": {
                        "List_new_viewer_from_User_Table": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "List_new_viewer_from_User_Table": {
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "admin_powerplatformuserid eq @{triggerBody()['text']}",
                          "$select": "admin_powerplatformuserid",
                          "entityName": "admin_powerplatformusers"
                        }
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    }
                  },
                  "runAfter": {},
                  "type": "Scope"
                },
                "if_not_creator_add_edit_permissions_-_addviewer": {
                  "actions": {
                    "Edit_Flow_Viewer_Role_as_Admin": {
                      "description": "This is to ensure we arent downgrading permissions",
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins",
                          "connectionName": "shared_microsoftflowforadmins",
                          "operationId": "Edit-AdminFlowOwnerRole"
                        },
                        "parameters": {
                          "Content-Type": "application/json",
                          "api-version": "2016-11-01",
                          "body/put": [
                            {
                              "properties/principal/id": "@triggerBody()['text']",
                              "properties/principal/type": "user",
                              "properties/roleName": "CanView"
                            }
                          ],
                          "environment": "@triggerBody()['text_2']",
                          "flow": "@triggerBody()['text_1']"
                        }
                      },
                      "runAfter": {
                        "Remove_role_Edit_Flow_Editor_Role_as_Admin": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection"
                    },
                    "Remove_role_Edit_Flow_Editor_Role_as_Admin": {
                      "description": "This is to ensure we arent downgrading permissions",
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins",
                          "connectionName": "shared_microsoftflowforadmins",
                          "operationId": "Edit-AdminFlowOwnerRole"
                        },
                        "parameters": {
                          "Content-Type": "application/json",
                          "api-version": "2016-11-01",
                          "body/delete": [
                            {
                              "id": "@triggerBody()['text']"
                            }
                          ],
                          "environment": "@triggerBody()['text_2']",
                          "flow": "@triggerBody()['text_1']"
                        }
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    },
                    "Set_ReturnString_to_failed_-_addviewer": {
                      "inputs": {
                        "name": "ReturnString",
                        "value": "fail"
                      },
                      "runAfter": {
                        "Edit_Flow_Viewer_Role_as_Admin": [
                          "Failed"
                        ]
                      },
                      "type": "SetVariable"
                    }
                  },
                  "else": {
                    "actions": {
                      "Reason_we_do_not_update_permission_for_Maker_-_addviewer": {
                        "inputs": "Product will fail if you try to give Maker edit permissions as \"cannot downgrade\"",
                        "runAfter": {},
                        "type": "Compose"
                      }
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                        "@triggerBody()['text']"
                      ]
                    }
                  },
                  "runAfter": {
                    "Ensure_Viewer_is_in_User_table": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                }
              },
              "case": "addviewer"
            },
            "Case_assign": {
              "actions": {
                "Ensure_New_Owner_is_in_Maker_and_User_tables": {
                  "actions": {
                    "Add_to_User_Table_if_not_yet_present": {
                      "actions": {
                        "Add_a_new_user": {
                          "inputs": {
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord"
                            },
                            "parameters": {
                              "entityName": "admin_powerplatformusers",
                              "item/admin_company": "@outputs('Get_user_profile_(V2)')?['body/companyName']",
                              "item/admin_department": "@outputs('Get_user_profile_(V2)')?['body/department']",
                              "item/admin_displayname": "@outputs('Get_user_profile_(V2)')?['body/displayName']",
                              "item/admin_groupsize": 1,
                              "item/admin_powerplatformuserid": "@triggerBody()['text']",
                              "item/admin_userprincipalname": "@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"
                            }
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        },
                        "update_picture_if_not_null": {
                          "actions": {
                            "Upload_a_file_or_an_image": {
                              "inputs": {
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateEntityFileImageFieldContent"
                                },
                                "parameters": {
                                  "entityName": "admin_powerplatformusers",
                                  "fileImageFieldName": "admin_photoobject",
                                  "item": "@body('Get_user_photo_(V2)')",
                                  "recordId": "@body('Maker_Check')?['userid']",
                                  "x-ms-file-name": "@{body('Maker_Check')?['userid']}_pic"
                                }
                              },
                              "runAfter": {},
                              "type": "OpenApiConnection"
                            }
                          },
                          "expression": {
                            "not": {
                              "equals": [
                                "@body('Get_user_photo_(V2)')",
                                "@null"
                              ]
                            }
                          },
                          "runAfter": {
                            "Add_a_new_user": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "expression": {
                        "equals": [
                          "@length(outputs('List_new_owner_from_User_Table')?['body/value'])",
                          0
                        ]
                      },
                      "runAfter": {
                        "List_new_owner_from_User_Table": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    },
                    "List_new_owner_from_User_Table": {
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords"
                        },
                        "parameters": {
                          "$filter": "admin_powerplatformuserid eq @{triggerBody()['text']}",
                          "$select": "admin_powerplatformuserid",
                          "entityName": "admin_powerplatformusers"
                        }
                      },
                      "runAfter": {
                        "Maker_Check": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection"
                    },
                    "Maker_Check": {
                      "inputs": {
                        "body": {
                          "boolean": false,
                          "text": "@triggerBody()['text']"
                        },
                        "host": {
                          "workflowReferenceName": "9301f01a-cb40-ec11-8c62-00224829b4c1"
                        }
                      },
                      "runAfter": {},
                      "type": "Workflow"
                    }
                  },
                  "runAfter": {},
                  "type": "Scope"
                },
                "see_if_solution_flow": {
                  "actions": {
                    "Get_new_owner_ID_from_envt_system_table": {
                      "actions": {
                        "Get_environments_CDSMetadataName": {
                          "inputs": {
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem"
                            },
                            "parameters": {
                              "$select": "admin_environmentcdsmetadataname, admin_environmentcdsinstanceurl",
                              "entityName": "admin_environments",
                              "recordId": "@outputs('Get_flow_from_CoE')?['body/_admin_flowenvironment_value']"
                            },
                            "retryPolicy": {
                              "count": 10,
                              "interval": "PT10S",
                              "type": "exponential"
                            }
                          },
                          "runAfter": {},
                          "type": "OpenApiConnection"
                        },
                        "Get_first_from_list": {
                          "inputs": "@first(outputs('List_users_from_target_envt')?['body/value'])",
                          "runAfter": {
                            "List_users_from_target_envt": [
                              "Succeeded"
                            ]
                          },
                          "type": "Compose"
                        },
                        "Get_new_owner_SystemUser_id": {
                          "inputs": "@outputs('Get_first_from_list')?['iteminternalid']",
                          "runAfter": {
                            "Get_first_from_list": [
                              "Succeeded"
                            ]
                          },
                          "type": "Compose"
                        },
                        "List_users_from_target_envt": {
                          "inputs": {
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                              "connectionName": "shared_commondataservice",
                              "operationId": "GetItems_V2"
                            },
                            "parameters": {
                              "$filter": "azureactivedirectoryobjectid eq @{triggerBody()['text']}",
                              "dataset": "@outputs('Get_environments_CDSMetadataName')?['body/admin_environmentcdsinstanceurl']",
                              "table": "systemusers"
                            },
                            "retryPolicy": {
                              "count": 10,
                              "interval": "PT10S",
                              "type": "exponential"
                            }
                          },
                          "runAfter": {
                            "Get_environments_CDSMetadataName": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection"
                        }
                      },
                      "runAfter": {},
                      "type": "Scope"
                    },
                    "Mark_app_owner_in_CoE_Soln_Flow": {
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "admin_flows",
                          "item/admin_DerivedOwner@odata.bind": "admin_makers(@{triggerBody()['text']})",
                          "item/cr5d5_flowisorphaned": "no",
                          "recordId": "@triggerBody()['text_1']"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "runAfter": {
                        "Set_ReturnString_to_failed_-_assign_solution_aware": [
                          "Skipped"
                        ]
                      },
                      "type": "OpenApiConnection"
                    },
                    "Set_ReturnString_to_failed_-_assign_solution_aware": {
                      "inputs": {
                        "name": "ReturnString",
                        "value": "fail"
                      },
                      "runAfter": {
                        "Update_flow_owner": [
                          "Failed"
                        ]
                      },
                      "type": "SetVariable"
                    },
                    "Update_flow_owner": {
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                          "connectionName": "shared_commondataservice",
                          "operationId": "PatchItem_V2"
                        },
                        "parameters": {
                          "dataset": "@outputs('Get_environments_CDSMetadataName')?['body/admin_environmentcdsinstanceurl']",
                          "id": "@outputs('Get_flow_from_CoE')?['body/admin_workflowentityid']",
                          "item": {
                            "_ownerid_type": "systemusers",
                            "_ownerid_value": "@outputs('Get_new_owner_SystemUser_id')"
                          },
                          "table": "workflows"
                        },
                        "retryPolicy": {
                          "count": 10,
                          "interval": "PT10S",
                          "type": "exponential"
                        }
                      },
                      "runAfter": {
                        "Get_new_owner_ID_from_envt_system_table": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection"
                    }
                  },
                  "else": {
                    "actions": {
                      "If_permission_change_passed,_update_owner": {
                        "actions": {
                          "Mark_app_owner_in_CoE": {
                            "inputs": {
                              "authentication": {
                                "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "UpdateRecord"
                              },
                              "parameters": {
                                "entityName": "admin_flows",
                                "item/admin_DerivedOwner@odata.bind": "admin_makers(@{triggerBody()['text']})",
                                "item/cr5d5_flowisorphaned": "no",
                                "recordId": "@triggerBody()['text_1']"
                              }
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          }
                        },
                        "expression": {
                          "equals": [
                            "@variables('ReturnString')",
                            "pass"
                          ]
                        },
                        "runAfter": {
                          "if_not_creator_add_edit_permissions": [
                            "Succeeded"
                          ]
                        },
                        "type": "If"
                      },
                      "if_not_creator_add_edit_permissions": {
                        "actions": {
                          "Edit_Flow_Owner_Role_as_Admin": {
                            "inputs": {
                              "authentication": {
                                "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins",
                                "connectionName": "shared_microsoftflowforadmins",
                                "operationId": "Edit-AdminFlowOwnerRole"
                              },
                              "parameters": {
                                "Content-Type": "application/json",
                                "api-version": "2016-11-01",
                                "body/put": [
                                  {
                                    "properties/principal/id": "@triggerBody()['text']",
                                    "properties/principal/type": "user",
                                    "properties/roleName": "CanEdit"
                                  }
                                ],
                                "environment": "@triggerBody()['text_2']",
                                "flow": "@triggerBody()['text_1']"
                              },
                              "retryPolicy": {
                                "count": 10,
                                "interval": "PT10S",
                                "type": "exponential"
                              }
                            },
                            "runAfter": {},
                            "type": "OpenApiConnection"
                          },
                          "Set_ReturnString_to_failed_-_assign_not_solution_aware": {
                            "inputs": {
                              "name": "ReturnString",
                              "value": "fail"
                            },
                            "runAfter": {
                              "Edit_Flow_Owner_Role_as_Admin": [
                                "Failed"
                              ]
                            },
                            "type": "SetVariable"
                          }
                        },
                        "else": {
                          "actions": {
                            "Reason_we_do_not_update_permission_for_Maker": {
                              "inputs": "Product will fail if you try to give Maker edit permissions as \"cannot downgrade\"",
                              "runAfter": {},
                              "type": "Compose"
                            }
                          }
                        },
                        "expression": {
                          "not": {
                            "equals": [
                              "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                              "@triggerBody()['text']"
                            ]
                          }
                        },
                        "runAfter": {},
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('SolutionAwareFlow')",
                      "@true"
                    ]
                  },
                  "runAfter": {
                    "Ensure_New_Owner_is_in_Maker_and_User_tables": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                }
              },
              "case": "assign"
            },
            "Case_delete": {
              "actions": {
                "Mark_flow_as_deleted_in_CoE": {
                  "inputs": {
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord"
                    },
                    "parameters": {
                      "entityName": "admin_flows",
                      "item/admin_flowdeleted": true,
                      "item/admin_flowdeletedon": "@utcNow()",
                      "recordId": "@triggerBody()['text_1']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {
                    "Set_ReturnString_to_failed_-_delete": [
                      "Skipped"
                    ]
                  },
                  "type": "OpenApiConnection"
                },
                "Remove_Flow_as_Admin": {
                  "inputs": {
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins",
                      "connectionName": "shared_microsoftflowforadmins",
                      "operationId": "Remove-AdminFlow"
                    },
                    "parameters": {
                      "api-version": "2016-11-01",
                      "environment": "@triggerBody()['text_2']",
                      "flow": "@triggerBody()['text_1']"
                    },
                    "retryPolicy": {
                      "count": 10,
                      "interval": "PT10S",
                      "type": "exponential"
                    }
                  },
                  "runAfter": {},
                  "type": "OpenApiConnection"
                },
                "Set_ReturnString_to_failed_-_delete": {
                  "inputs": {
                    "name": "ReturnString",
                    "value": "failed"
                  },
                  "runAfter": {
                    "Remove_Flow_as_Admin": [
                      "Failed"
                    ]
                  },
                  "type": "SetVariable"
                }
              },
              "case": "delete"
            },
            "Case_removeuser": {
              "actions": {
                "if_not_creator_remove_permissions": {
                  "actions": {
                    "Remove_role": {
                      "description": "This is to ensure we arent downgrading permissions",
                      "inputs": {
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftflowforadmins",
                          "connectionName": "shared_microsoftflowforadmins",
                          "operationId": "Edit-AdminFlowOwnerRole"
                        },
                        "parameters": {
                          "Content-Type": "application/json",
                          "api-version": "2016-11-01",
                          "body/delete": [
                            {
                              "id": "@triggerBody()['text']"
                            }
                          ],
                          "environment": "@triggerBody()['text_2']",
                          "flow": "@triggerBody()['text_1']"
                        }
                      },
                      "runAfter": {},
                      "type": "OpenApiConnection"
                    },
                    "Set_ReturnString_to_failed_-_removeuser": {
                      "inputs": {
                        "name": "ReturnString",
                        "value": "fail"
                      },
                      "runAfter": {
                        "Remove_role": [
                          "Failed"
                        ]
                      },
                      "type": "SetVariable"
                    }
                  },
                  "else": {
                    "actions": {
                      "Cannot_remove_Creator_permissions": {
                        "inputs": {
                          "name": "ReturnString",
                          "value": "fail"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                      }
                    }
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@outputs('Get_flow_from_CoE')?['body/_admin_flowcreator_value']",
                        "@triggerBody()['text']"
                      ]
                    }
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "case": "removeuser"
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@triggerBody()['text_3']",
          "metadata": {
            "operationMetadataId": "7fab9001-e7dd-4f6c-a71a-043361acf669"
          },
          "runAfter": {
            "Initialize_SolutionAwareFlow_to_value_from_CoE": [
              "Succeeded"
            ]
          },
          "type": "Switch"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "userID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "flowName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "envName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "enum": [
                    "assign",
                    "delete",
                    "addeditor",
                    "addviewer",
                    "removeuser"
                  ],
                  "title": "action",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ],
              "type": "object"
            }
          },
          "kind": "Button",
          "metadata": {
            "operationMetadataId": "d223fc88-1872-45a7-a6e4-5cf53d5a6fa8"
          },
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
