CenterofExcellenceCoreComponents/SolutionPackage/Workflows/HELPER-ObjectOperations-6FDA1B2D-3904-EC11-94EF-00224826A4D2.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Initialize_ReturnString": {
          "inputs": {
            "variables": [
              {
                "name": "ReturnString",
                "type": "string",
                "value": "pass"
              }
            ]
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "inputs": {
            "body": {
              "thereturnstring": "@variables('ReturnString')"
            },
            "schema": {
              "properties": {
                "thereturnstring": {
                  "title": "theReturnString",
                  "type": "string",
                  "x-ms-dynamically-added": true
                }
              },
              "type": "object"
            },
            "statusCode": 200
          },
          "kind": "PowerApp",
          "runAfter": {
            "see_if_app_or_flow": [
              "Succeeded"
            ]
          },
          "type": "Response"
        },
        "see_if_app_or_flow": {
          "actions": {
            "Run_App_Helper_Flow": {
              "inputs": {
                "body": {
                  "text": "@triggerBody()['text']",
                  "text_1": "@triggerBody()['text_1']",
                  "text_2": "@triggerBody()['text_2']",
                  "text_3": "@triggerBody()['text_3']"
                },
                "host": {
                  "workflowReferenceName": "41263d72-4dea-eb11-bacb-000d3a5786fb"
                }
              },
              "runAfter": {},
              "type": "Workflow"
            },
            "Set_ReturnString_to_return_value_from_Run_App_Helper_Flow": {
              "inputs": {
                "name": "ReturnString",
                "value": "failed"
              },
              "runAfter": {
                "Run_App_Helper_Flow": [
                  "Failed"
                ]
              },
              "type": "SetVariable"
            }
          },
          "else": {
            "actions": {
              "Run_Flow_Helper_Flow": {
                "inputs": {
                  "body": {
                    "text": "@triggerBody()['text']",
                    "text_1": "@triggerBody()['text_1']",
                    "text_2": "@triggerBody()['text_2']",
                    "text_3": "@triggerBody()['text_3']"
                  },
                  "host": {
                    "workflowReferenceName": "6093b58a-4fea-eb11-bacb-000d3a578f6c"
                  }
                },
                "runAfter": {},
                "type": "Workflow"
              },
              "Set_ReturnString_to_return_value_from_Run_Flow_Helper_Flow": {
                "inputs": {
                  "name": "ReturnString",
                  "value": "failed"
                },
                "runAfter": {
                  "Run_Flow_Helper_Flow": [
                    "Failed"
                  ]
                },
                "type": "SetVariable"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()['text_4']",
              "app"
            ]
          },
          "runAfter": {
            "Initialize_ReturnString": [
              "Succeeded"
            ]
          },
          "type": "If"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "newOwner",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "objectName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "envName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "title": "action",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "Please enter your input",
                  "title": "objectType",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4"
              ],
              "type": "object"
            }
          },
          "kind": "Button",
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
