PowerPlatformDevOpsALM/SolutionPackage/Workflows/GetEnvironmentSolutions-BD40F612-41FF-EA11-A815-000D3A1ABE26.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice_1": {
        "api": {
          "name": "shared_commondataservice"
        },
        "connection": {
          "connectionReferenceLogicalName": "cat_CDSDevOps"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "EnvironmentUniqueName": {
          "inputs": {
            "variables": [
              {
                "name": "EnvironmentUniqueName",
                "type": "string",
                "value": "@{triggerBody()['EnvironmentUniqueName_Value']}"
              }
            ]
          },
          "runAfter": {
            "RegionSubdomain": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "List_records": {
          "inputs": {
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
              "connectionName": "shared_commondataservice_1",
              "operationId": "GetItems_V2"
            },
            "parameters": {
              "$filter": "ismanaged eq false and isvisible eq true and uniquename ne 'Default' and solutionid ne 00000001-0000-0000-0001-00000000009b",
              "dataset": "@{variables('EnvironmentUniqueName')}.@{variables('RegionSubdomain')}",
              "table": "solutions"
            }
          },
          "runAfter": {
            "EnvironmentUniqueName": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection"
        },
        "RegionSubdomain": {
          "inputs": {
            "variables": [
              {
                "name": "RegionSubdomain",
                "type": "string",
                "value": "@{triggerBody()['RegionSubdomain_Value']}"
              }
            ]
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Response": {
          "inputs": {
            "body": "@outputs('List_records')?['body/value']",
            "schema": {
              "items": {
                "properties": {
                  "@@odata.etag": {
                    "type": "string"
                  },
                  "@@odata.id": {
                    "type": "string"
                  },
                  "ItemInternalId": {
                    "type": "string"
                  },
                  "_createdby_type": {
                    "type": "string"
                  },
                  "_createdby_value": {
                    "type": "string"
                  },
                  "_modifiedby_type": {
                    "type": "string"
                  },
                  "_modifiedby_value": {
                    "type": "string"
                  },
                  "_organizationid_type": {
                    "type": "string"
                  },
                  "_organizationid_value": {
                    "type": "string"
                  },
                  "_publisherid_type": {
                    "type": "string"
                  },
                  "_publisherid_value": {
                    "type": "string"
                  },
                  "_solutiontype_label": {
                    "type": "string"
                  },
                  "createdon": {
                    "type": "string"
                  },
                  "friendlyname": {
                    "type": "string"
                  },
                  "installedon": {
                    "type": "string"
                  },
                  "isapimanaged": {
                    "type": "boolean"
                  },
                  "ismanaged": {
                    "type": "boolean"
                  },
                  "isvisible": {
                    "type": "boolean"
                  },
                  "modifiedon": {
                    "type": "string"
                  },
                  "solutionid": {
                    "type": "string"
                  },
                  "uniquename": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string"
                  },
                  "versionnumber": {
                    "type": "integer"
                  }
                },
                "required": [
                  "@@odata.id",
                  "@@odata.etag",
                  "ItemInternalId",
                  "_organizationid_value",
                  "_organizationid_type",
                  "versionnumber",
                  "solutionid",
                  "uniquename",
                  "friendlyname",
                  "_createdby_value",
                  "_createdby_type",
                  "_publisherid_value",
                  "_publisherid_type",
                  "isapimanaged",
                  "ismanaged",
                  "_modifiedby_value",
                  "_modifiedby_type",
                  "isvisible",
                  "version",
                  "modifiedon",
                  "createdon",
                  "installedon",
                  "_solutiontype_label"
                ],
                "type": "object"
              },
              "type": "array"
            },
            "statusCode": 200
          },
          "kind": "Http",
          "runAfter": {
            "List_records": [
              "Succeeded"
            ]
          },
          "type": "Response"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {
              "properties": {
                "EnvironmentUniqueName_Value": {
                  "description": "Enter initial value",
                  "type": "string",
                  "x-ms-powerflows-param-ispartial": false
                },
                "RegionSubdomain_Value": {
                  "description": "Enter initial value",
                  "type": "string",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "EnvironmentUniqueName_Value",
                "RegionSubdomain_Value"
              ],
              "type": "object"
            }
          },
          "kind": "PowerApp",
          "type": "Request"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
