CenterofExcellenceNurtureComponents/SolutionPackage/Workflows/AdminNewsletterwithProductUpdates-E7A96786-C7E5-E911-A860-000D3A372932.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoENurtureO365Outlook"
        },
        "runtimeSource": "embedded"
      },
      "shared_rss": {
        "api": {
          "name": "shared_rss"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_CoENurtureRSS"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Apply_to_each_Flow_Blog_post": {
          "actions": {
            "Add_Flow_Blog_post_to_array": {
              "inputs": {
                "name": "blogContent",
                "value": {
                  "Summary": "@items('Apply_to_each_Flow_Blog_post')?['summary']",
                  "Title": "@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')"
                }
              },
              "metadata": {
                "operationMetadataId": "8aca39fd-08ae-4ac4-998d-d3e6bef7c4a3"
              },
              "runAfter": {},
              "type": "AppendToArrayVariable"
            }
          },
          "foreach": "@body('List_Flow_Blog_RSS_feed_items')",
          "metadata": {
            "operationMetadataId": "2c053158-4b41-4443-a505-abea0b07885c"
          },
          "runAfter": {
            "Apply_to_each_PowerApps_Blog_post": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Apply_to_each_PowerApps_Blog_post": {
          "actions": {
            "Add_PowerApps_Blog_post_to_array": {
              "inputs": {
                "name": "blogContent",
                "value": {
                  "Summary": "@items('Apply_to_each_PowerApps_Blog_post')?['summary']",
                  "Title": "@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')"
                }
              },
              "metadata": {
                "operationMetadataId": "8407915f-1c84-4715-ba00-d7d725394931"
              },
              "runAfter": {},
              "type": "AppendToArrayVariable"
            }
          },
          "foreach": "@body('List_PowerApps_Blog_RSS_feed_items')",
          "metadata": {
            "operationMetadataId": "26bb07d9-37f5-4eff-b3cb-bad8891789dd"
          },
          "runAfter": {
            "List_Power_Virtual_Agent_RSS_feed_items": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Apply_to_each_PowerApps_Community_Blog_Post": {
          "actions": {
            "Add_PowerApps_Community_Blog_post_to_array": {
              "inputs": {
                "name": "blogContent",
                "value": {
                  "summary": "@items('Apply_to_each_PowerApps_Community_Blog_Post')?['summary']",
                  "title": "@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')"
                }
              },
              "metadata": {
                "operationMetadataId": "0ed14fa5-910a-43ca-a4c7-290092e712ab"
              },
              "runAfter": {},
              "type": "AppendToArrayVariable"
            }
          },
          "foreach": "@body('List_PowerApps_Community_Blog_RSS_feed_items')",
          "metadata": {
            "operationMetadataId": "5c0775e9-961b-4010-8214-6ffcf5111cbd"
          },
          "runAfter": {
            "Apply_to_each_Flow_Blog_post": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Apply_to_each_Power_BI_Blog_Post": {
          "actions": {
            "Add_Power_BI_Blog_post_to_array": {
              "inputs": {
                "name": "blogContent",
                "value": {
                  "summary": "@items('Apply_to_each_Power_BI_Blog_Post')?['summary']",
                  "title": "@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')"
                }
              },
              "metadata": {
                "operationMetadataId": "3367eca2-535d-474f-a969-ccf19b5ba15f"
              },
              "runAfter": {},
              "type": "AppendToArrayVariable"
            }
          },
          "foreach": "@body('List_Power_BI_RSS_feed_items')",
          "metadata": {
            "operationMetadataId": "c486407f-4712-4b01-b329-457f2cb3f68d"
          },
          "runAfter": {
            "Apply_to_each_PowerApps_Community_Blog_Post": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Apply_to_each_Power_Virtual_Agent_Blog_Post": {
          "actions": {
            "Add_Power_Virtual_Agent_Blog_post_to_array": {
              "inputs": {
                "name": "blogContent",
                "value": {
                  "summary": "@items('Apply_to_each_Power_Virtual_Agent_Blog_Post')?['summary']",
                  "title": "@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')"
                }
              },
              "metadata": {
                "operationMetadataId": "f46005dd-2a24-4d27-bbfa-578a29e93fce"
              },
              "runAfter": {},
              "type": "AppendToArrayVariable"
            }
          },
          "foreach": "@body('List_Power_Virtual_Agent_RSS_feed_items')",
          "metadata": {
            "operationMetadataId": "3b9cd109-2064-49a1-b45a-63a734c3df4e"
          },
          "runAfter": {
            "Apply_to_each_Power_BI_Blog_Post": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Compose_Blog_HTML_Table": {
          "inputs": "@replace(replace(replace(body('Create_Blog_HTML_table'), '&lt;', '<'), '&gt;', '>'), '&quot;', '\"')",
          "metadata": {
            "operationMetadataId": "cc272c8f-1149-4d2f-b514-0db3e2f660e9"
          },
          "runAfter": {
            "Create_Blog_HTML_table": [
              "Succeeded"
            ]
          },
          "type": "Compose"
        },
        "Create_Blog_HTML_table": {
          "inputs": {
            "format": "HTML",
            "from": "@variables('blogContent')"
          },
          "metadata": {
            "operationMetadataId": "e0ae4972-cb75-48a1-899c-c2bd09cb6212"
          },
          "runAfter": {
            "Apply_to_each_Power_Virtual_Agent_Blog_Post": [
              "Succeeded"
            ]
          },
          "type": "Table"
        },
        "Get_Date_7_days_ago": {
          "inputs": {
            "baseTime": "@{utcNow()}",
            "interval": 7,
            "timeUnit": "Day"
          },
          "kind": "SubtractFromTime",
          "metadata": {
            "operationMetadataId": "ed5deb3f-03bb-4ad2-8393-d93377550908"
          },
          "runAfter": {},
          "type": "Expression"
        },
        "Initialize_Admin_eMail_variable": {
          "description": "Environment location specific Flow URL",
          "inputs": {
            "variables": [
              {
                "name": "adminMail",
                "type": "String",
                "value": "@parameters('Admin eMail')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "12f48662-0df9-4571-aa2f-4b8e9ed100db"
          },
          "runAfter": {
            "Initialize_Blog_Content_Array": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_Blog_Content_Array": {
          "inputs": {
            "variables": [
              {
                "name": "blogContent",
                "type": "Array"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "074763bf-7747-40b0-b485-506e4c660d83"
          },
          "runAfter": {
            "Get_Date_7_days_ago": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_htmlHeader_(style)": {
          "inputs": {
            "variables": [
              {
                "name": "htmlHeader",
                "type": "String",
                "value": "@parameters('eMail Header Style')"
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "4a78bff2-d77b-44fc-a5e2-e86e4de8883c"
          },
          "runAfter": {
            "Initialize_Admin_eMail_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "List_Flow_Blog_RSS_feed_items": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_rss']['connectionId']"
              }
            },
            "method": "get",
            "path": "/ListFeedItems",
            "queries": {
              "feedUrl": "https://flow.microsoft.com/en-us/blog/feed/",
              "since": "@body('Get_Date_7_days_ago')"
            }
          },
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "ListFeedItems"
            },
            "operationMetadataId": "79f08b44-3bf8-46aa-94ae-d0e9a05a5164"
          },
          "runAfter": {
            "List_PowerApps_Community_Blog_RSS_feed_items": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "List_PowerApps_Blog_RSS_feed_items": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_rss']['connectionId']"
              }
            },
            "method": "get",
            "path": "/ListFeedItems",
            "queries": {
              "feedUrl": "https://powerapps.microsoft.com/en-us/blog/feed/",
              "since": "@body('Get_Date_7_days_ago')"
            }
          },
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "ListFeedItems"
            },
            "operationMetadataId": "e561cc2d-d19c-4571-b715-f415ce404f5c"
          },
          "runAfter": {
            "Initialize_htmlHeader_(style)": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "List_PowerApps_Community_Blog_RSS_feed_items": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_rss']['connectionId']"
              }
            },
            "method": "get",
            "path": "/ListFeedItems",
            "queries": {
              "feedUrl": "https://powerusers.microsoft.com/jgvjg48436/rss/board?board.id=PowerAppsBlog",
              "since": "@body('Get_Date_7_days_ago')"
            }
          },
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "ListFeedItems"
            },
            "operationMetadataId": "20f7d2b1-4487-4a82-a286-283f242d1ca7"
          },
          "runAfter": {
            "List_PowerApps_Blog_RSS_feed_items": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "List_Power_BI_RSS_feed_items": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_rss']['connectionId']"
              }
            },
            "method": "get",
            "path": "/ListFeedItems",
            "queries": {
              "feedUrl": "https://powerbi.microsoft.com/en-us/blog/feed/",
              "since": "@body('Get_Date_7_days_ago')"
            }
          },
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "ListFeedItems"
            },
            "operationMetadataId": "476766ee-86c0-4357-9b26-66a92acbf5bd"
          },
          "runAfter": {
            "List_Flow_Blog_RSS_feed_items": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "List_Power_Virtual_Agent_RSS_feed_items": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_rss']['connectionId']"
              }
            },
            "method": "get",
            "path": "/ListFeedItems",
            "queries": {
              "feedUrl": "https://powervirtualagents.microsoft.com/en-us/blog/feed/",
              "since": "@body('Get_Date_7_days_ago')"
            }
          },
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "ListFeedItems"
            },
            "operationMetadataId": "a48fcacb-e631-4233-868b-639d7ffb273d"
          },
          "runAfter": {
            "List_Power_BI_RSS_feed_items": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "Send_an_email_(V2)": {
          "inputs": {
            "authentication": "@parameters('$authentication')",
            "body": {
              "Body": "@{variables('htmlHeader')}\n<strong>Power Platform Product updates, news and announcements </strong>since <strong>@{formatDateTime(body('Get_Date_7_days_ago'), 'yyyy-MM-dd')}</strong><strong></strong><br>\n<br>\n@{outputs('Compose_Blog_HTML_Table')}<br>\n</p>",
              "Importance": "Normal",
              "Subject": "Internal Power Platform Newsletter",
              "To": "@variables('adminMail')"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_office365']['connectionId']"
              }
            },
            "method": "post",
            "path": "/v2/Mail"
          },
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "SendEmailV2"
            },
            "operationMetadataId": "32eff1d4-b51e-4f36-be03-47192c3d0bf7"
          },
          "runAfter": {
            "Compose_Blog_HTML_Table": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        }
      },
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Admin eMail": {
          "defaultValue": "adelev@pplatform.onmicrosoft.com",
          "metadata": {
            "description": "CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list",
            "schemaName": "admin_AdminMail"
          },
          "type": "String"
        },
        "eMail Header Style": {
          "defaultValue": "<head> <style>  body {     background-color: #efefef;     font-family: Segoe UI;     text-align: left; }  #content {     border: 1px solid #742774;     background-color: #ffffff;     width: 650px;     margin-bottom: 50px;     display: inline-block; }  #logo {     margin-left: 52px;     margin-top: 40px;     width: 60px;     height: 12px; }  #header {     font-size: 24px;     margin-left: 50px;     margin-top: 20px;     margin-bottom: 20px; }  #ribbon {     background-color: #742774; }  #ribbonContent {     font-size: 20px;     padding-left: 30px;     padding-top: 10px;     padding-bottom: 20px;     color: white;     width: 100%;     padding-right: 10px; }  #message > td {     font-size: 14px;     padding-left: 60px;     padding-right: 60px;     padding-top: 20px;     padding-bottom: 40px; }  #footer > td {     font-size: 12px;     background-color: #cfcfcf;     height: 40px;     padding-top: 15px;     padding-left: 40px;     padding-bottom: 20px; }  #form {     width: 100%;     border-collapse: collapse; }  #app {     width: 60%;     font-size: 12px; }  .label {     color: #5f5f5f }  table {     border-collapse: collapse;     width: 100%; }  th, td {     padding: 8px;     text-align: left;     border-bottom: 1px solid #ddd; }  </style> </head>",
          "metadata": {
            "description": "CSS/Style used for eMails",
            "schemaName": "admin_eMailHeaderStyle"
          },
          "type": "String"
        }
      },
      "triggers": {
        "Recurrence": {
          "metadata": {
            "operationMetadataId": "222f3af5-b742-41ed-8797-4f4fa4264f14"
          },
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "weekDays": [
                "Monday"
              ]
            },
            "startTime": "2019-10-03T09:00:00Z"
          },
          "type": "Recurrence"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}
