CenterofExcellenceAuditComponents/SolutionPackage/src/Workflows/AdminSetappquarantinestatus-957255CE-1B93-EC11-B400-000D3A8FC5C7.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerappsforadmins_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovPowerAppsforAdmins"
        },
        "api": {
          "name": "shared_powerappsforadmins"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovO365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)": {
          "defaultValue": "https://apps.powerapps.com/play/a08e2bb8-f6d7-4c09-8bdb-96a79519f884?tenantId=8a235459-3d2c-415d-8c1e-e2fe133509ad",
          "type": "String",
          "metadata": {
            "schemaName": "admin_DeveloperComplianceCenterURL",
            "description": "Leave blank on Import. URL to Developer Compliance Center Canvas App. "
          }
        },
        "eMail Body Start (admin_eMailBodyStart)": {
          "defaultValue": "<body>     <div id='content'>         <table id='form'>             <tr>                 <td><img id='logo' src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/1280px-Microsoft_logo_%282012%29.svg.png' width='300px'></td>             </tr>             <tr>                 <td>                     <p id='header'>Power Platform</p>                 </td>             </tr>             <tr id='ribbon'>                 <td>                     <tr>                         <td></td>                     </tr>                     <tr id='message'>                         <td>",
          "type": "String",
          "metadata": {
            "schemaName": "admin_eMailBodyStart",
            "description": "Starter HTML format for eMails"
          }
        },
        "eMail Body Stop (admin_eMailBodyStop)": {
          "defaultValue": "</td>                     </tr>         </table>     </div> </body>",
          "type": "String",
          "metadata": {
            "schemaName": "admin_eMailBodyStop",
            "description": "Ending HTML format for eMails"
          }
        },
        "eMail Header Style (admin_eMailHeaderStyle)": {
          "defaultValue": "<head>     <style>         body {             background-color: #efefef;             font-family: Segoe UI;             text-align: center;         }          #content {             border: 1px solid #742774;             background-color: #ffffff;             width: 650px;             margin-bottom: 50px;             display: inline-block;         }          #logo {             margin-left: 52px;             margin-top: 40px;             width: 60px;             height: 12px;         }          #header {             font-size: 24px;             margin-left: 50px;             margin-top: 20px;             margin-bottom: 20px;         }          #ribbon {             background-color: #742774;         }          #ribbonContent {             font-size: 20px;             padding-left: 30px;             padding-top: 10px;             padding-bottom: 20px;             color: white;             width: 100%;             padding-right: 10px;         }          #message>td {             font-size: 14px;             padding-left: 60px;             padding-right: 60px;             padding-top: 20px;             padding-bottom: 40px;         }          #footer>td {             font-size: 12px;             background-color: #cfcfcf;             height: 40px;             padding-top: 15px;             padding-left: 40px;             padding-bottom: 20px;         }          #form {             width: 100%;             border-collapse: collapse;         }          #app {             width: 60%;             font-size: 12px;         }          .label {             color: #5f5f5f         }          table {             border-collapse: collapse;             width: 100%;         }          th,         td {             padding: 8px;             text-align: left;             border-bottom: 1px solid #ddd;         }     </style> </head>",
          "type": "String",
          "metadata": {
            "schemaName": "admin_eMailHeaderStyle",
            "description": "CSS/Style used for eMails"
          }
        },
        "Admin eMail (admin_AdminMail)": {
          "defaultValue": "adelev@pplatform.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdminMail",
            "description": "CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list"
          }
        },
        "ProductionEnvironment (admin_ProductionEnvironment)": {
          "defaultValue": true,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ProductionEnvironment",
            "description": "true by default. set to false if you are creating a dev type envt. this will allow some flows to set target users to the admin instead of object owners"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "651982b4-e34e-4d94-b63d-e54dad12e910"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "admin_app",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "admin_quarantineapp"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Quarantine_or_Release": {
          "actions": {
            "Release_app_from_quarantine": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d004a36e-8aab-46bc-8076-a064206296aa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerappsforadmins_1",
                  "operationId": "Set-AppQuarantineState",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                },
                "parameters": {
                  "environment": "@triggerOutputs()?['body/admin_appenvironmentid']",
                  "app": "@triggerOutputs()?['body/admin_appid']",
                  "api-version": "2021-02-01",
                  "Content-Type": " application/json",
                  "body/quarantineStatus": "Unquarantined"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_-_release": {
              "runAfter": {
                "clear_quarantine_date": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cb5b7ba3-af10-4fc4-a757-5395f3b76946"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@if(equals(parameters('ProductionEnvironment (admin_ProductionEnvironment)'), false), parameters('Admin eMail (admin_AdminMail)'), outputs('Get_Maker')?['body/admin_userprincipalname'])",
                  "emailMessage/Subject": "Your app has been released from quarantine!",
                  "emailMessage/Body": "@{parameters('eMail Header Style (admin_eMailHeaderStyle)')}@{parameters('eMail Body Start (admin_eMailBodyStart)')}\n<p>Your app has been released from quarantined.</p>\n<p>Your app compliance status has been reviewed, and the app has now been released from quarantine. Users who you've shared your app with can now launch the app again. <br>\n\n<b><u>App Details:</u></b>\n<p><b>Display Name:</b> @{triggerOutputs()?['body/admin_displayname']} </p>\n<p><b>Environment:</b> @{outputs('Get_App')?['body/admin_appenvironment/admin_displayname']}   </p>\n@{parameters('eMail Body Stop (admin_eMailBodyStop)')}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "clear_quarantine_date": {
              "runAfter": {
                "Release_app_from_quarantine": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ebe90ce5-ec10-4f3c-b063-531e7f347496"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_apps",
                  "recordId": "@triggerOutputs()?['body/admin_appid']",
                  "item/admin_quarantineappdate": "@null"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Maker": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Quarantine_app": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "2ee82f8c-2b16-4dc6-8f90-cd1745e57adb"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_powerappsforadmins_1",
                    "operationId": "Set-AppQuarantineState",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                  },
                  "parameters": {
                    "environment": "@triggerOutputs()?['body/admin_appenvironmentid']",
                    "app": "@triggerOutputs()?['body/admin_appid']",
                    "api-version": "2021-02-01",
                    "Content-Type": " application/json",
                    "body/quarantineStatus": "Quarantined"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Send_an_email_-_quarantine": {
                "runAfter": {
                  "set_quarantine_date": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "33014250-5e0e-4fad-b8a8-e5df01971934"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365_1",
                    "operationId": "SendEmailV2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                  },
                  "parameters": {
                    "emailMessage/To": "@if(equals(parameters('ProductionEnvironment (admin_ProductionEnvironment)'), false), parameters('Admin eMail (admin_AdminMail)'), outputs('Get_Maker')?['body/admin_userprincipalname'])",
                    "emailMessage/Subject": "Your app has been quarantined! ",
                    "emailMessage/Body": "@{parameters('eMail Body Stop (admin_eMailBodyStop)')}\n@{parameters('eMail Header Style (admin_eMailHeaderStyle)')} @{parameters('eMail Body Start (admin_eMailBodyStart)')}\n<p>Your app has been quarantined.</p>\n<p>You own an app that's currently not compliant and has been quarantined. This means that your admin needs further details to ensure your app is compliance. <strong>Whilst the app is quarantined, users who you've shared your app with can no longer open it.</strong><br>\nPlease complete the business justification details in the Developer Compliance Center app to document the intended use and your admin will perform a risk assessment to relese the app from quarantine. Note that completing the below information will not automatically release the app form quarantine.<br>\n<br>\n<u><strong>How to become compliant</strong></u><br>\n</p>\n<ol>\n  <li>Follow the link below</li>\n  <li>Add a description to your app.</li>\n  <li>Provide a business justification.</li>\n  <li>Iterate the solution's dependencies.</li>\n  <li>Provide details on the solution's access managment.</li>\n  <li>Select the business impact.</li>\n  <li>Select the data classification.</li>\n  <li>Provide a Mitigation plan in the form of an attachment.</li>\n  <li>Update the 'Mitigation plan provided' toggle to 'Yes'.</li>\n</ol>\n<p><a href=\"@{parameters('Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)')}?appName=@{triggerOutputs()?['body/admin_appidstring']}\">Developer Compliance Center</a><br>\n<br>\n<u><strong>App Details:</strong></u></p>\n<p><strong>Display Name:</strong> @{triggerOutputs()?['body/admin_displayname']}</p>\n<p><strong>Environment:</strong> @{outputs('Get_App')?['body/admin_appenvironment/admin_displayname']}</p>\n@{parameters('eMail Body Stop (admin_eMailBodyStop)')}"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "set_quarantine_date": {
                "runAfter": {
                  "Quarantine_app": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "70a825b0-da93-4355-9446-8fa5de4d20d3"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "admin_apps",
                    "recordId": "@triggerOutputs()?['body/admin_appid']",
                    "item/admin_quarantineappdate": "@utcNow()"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/admin_quarantineapp']",
              "@false"
            ]
          },
          "metadata": {
            "operationMetadataId": "c0997f99-7e0c-4cda-8c99-7d1542f9a35d"
          },
          "type": "If"
        },
        "Get_Maker": {
          "runAfter": {
            "Get_App": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "573aa05c-58e6-4723-baf4-f16bdd02631a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "admin_makers",
              "recordId": "@triggerOutputs()?['body/_admin_appowner_value']",
              "$select": "admin_userprincipalname"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_App": {
          "runAfter": {
            "Exit_if_app_deleted": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ed9f76f-6726-47a5-b652-2884df93573a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "admin_apps",
              "recordId": "@triggerOutputs()?['body/admin_appid']",
              "$select": "admin_displayname, admin_appdeleted",
              "$expand": "admin_AppEnvironment($select=admin_displayname)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Exit_if_app_deleted": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cb0ce4a2-f1af-4681-a8c1-0d67d97a852d"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Set_variable": [
              "Succeeded",
              "Skipped"
            ]
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerOutputs()?['body/admin_appdeleted']",
                  "@true"
                ]
              },
              {
                "equals": [
                  "@variables('AppExists')",
                  "@false"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "7290e68e-a729-46d6-9dbe-96fd83b095e9"
          },
          "type": "If"
        },
        "Get_App_as_Admin": {
          "runAfter": {
            "Check_App_Exists": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b93ba16-5cac-4889-be28-68ef9e19982e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_powerappsforadmins_1",
              "operationId": "Get-AdminApp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
            },
            "parameters": {
              "environment": "@triggerOutputs()?['body/admin_appenvironmentid']",
              "app": "@triggerOutputs()?['body/admin_appid']",
              "api-version": "2016-11-01"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_App_Exists": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4d4c8d42-596a-49c6-9d4b-e65d33422e5a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AppExists",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Set_variable": {
          "runAfter": {
            "Get_App_as_Admin": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "15d27906-4613-4370-b5b7-3f80abbc6abf"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "AppExists",
            "value": "@false"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}