CenterofExcellenceAuditComponents/SolutionPackage/src/Workflows/AdminInactivitynotificationsv2CleanUpandDelete-78466552-7E56-EB11-A812-000D3A996ADC.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365users": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovO365Users"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_powerappsforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovPowerAppsforAdmins"
        },
        "api": {
          "name": "shared_powerappsforadmins"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365users_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovO365Users"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_flowmanagement": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovPowerAutomateManagement"
        },
        "api": {
          "name": "shared_flowmanagement"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverseForApps"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Admin eMail (admin_AdminMail)": {
          "defaultValue": "PowerPlatformAdmins@powercattools.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdminMail",
            "description": "Inventory - CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list"
          }
        },
        "Auto Delete On Archive (admin_AutoDeleteOnArchive)": {
          "defaultValue": "Yes",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AutoDeleteOnArchive",
            "description": "DEPRECATED - Use ProductionEnvironment env var instead. (Was:Delete apps and flows from environment during Archive? values must be: Yes or No)"
          }
        },
        "ProductionEnvironment (admin_ProductionEnvironment)": {
          "defaultValue": true,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ProductionEnvironment",
            "description": "Inventory - Yes by default. Set to No if you are creating a dev type envt. This will allow some flows to set target users to the admin instead of resource owners"
          }
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "Inventory - REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        },
        "Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)": {
          "defaultValue": "en-US",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdmineMailPreferredLanguage",
            "description": "Inventory - The preferred language for the emails sent to the admin email alias, which is specified in theAdmin eMail environment variable. Default is en-US"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1
          },
          "metadata": {
            "operationMetadataId": "d47b5da7-e53e-44b7-b050-ebfc67cb05e4"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Get_my_profile_(V2)": {
          "runAfter": {
            "Renaming_notification": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f7305664-8dc1-4d23-a5aa-af6f52a34fe2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365users",
              "operationId": "MyProfile_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
            },
            "parameters": {},
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          }
        },
        "Initialize_varAutoDelete": {
          "runAfter": {
            "Get_my_profile_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "16582083-180b-4804-bbbb-1340fe4cff55"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAutoDelete",
                "type": "string",
                "value": "@parameters('Auto Delete On Archive (admin_AutoDeleteOnArchive)')"
              }
            ]
          }
        },
        "Initialize_alreadyDeleted": {
          "runAfter": {
            "Initialize_varAutoDelete": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f5d8bd92-fd23-4b94-8613-dfceca305cde"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "alreadyDeleted",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Renaming_notification": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "535d7ccb-8914-4c78-abe0-234c916c7062"
          },
          "type": "Compose",
          "inputs": "In order to avoid confusion we have now renamed this area from referencing Archivals to referencing Inactivity notifications\nThis flow was previously called: Admin | Archive and Clean Up v2 (Clean Up and Delete)"
        },
        "Inactivity_notifications_v2_(Clean_Up_and_Delete)_SCOPE": {
          "actions": {
            "Delete_objects_that_have_been_approved_for_deletion": {
              "actions": {
                "Get_past_time_for_archivals_ready_to_delete": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2fec507d-7822-4201-a3d5-1133db50f766"
                  },
                  "type": "Expression",
                  "kind": "GetPastTime",
                  "inputs": {
                    "interval": 3,
                    "timeUnit": "Week"
                  }
                },
                "Canvas": {
                  "actions": {
                    "Apply_to_each_canvas_app": {
                      "foreach": "@outputs('List_canvas_apps_ready_to_delete')?['body/value']",
                      "actions": {
                        "Reset_alreadyDeleted_for_apps": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "7df44914-4209-4836-80dc-31b169b2b573"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "alreadyDeleted",
                            "value": "@false"
                          }
                        },
                        "See_if_app_still_exists": {
                          "runAfter": {
                            "Reset_alreadyDeleted_for_apps": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2e4c4d72-54bb-4402-a564-4c617f281d22"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_powerappsforadmins",
                              "operationId": "Get-AdminApp",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                            },
                            "parameters": {
                              "environment": "@items('Apply_to_each_canvas_app')?['admin_appenvironmentname']",
                              "app": "@items('Apply_to_each_canvas_app')?['admin_appname']",
                              "api-version": "2016-11-01"
                            },
                            "authentication": "@parameters('$authentication')",
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 10,
                              "interval": "PT10S"
                            }
                          }
                        },
                        "Set_alreadyDeleted_to_true_if_app_not_found": {
                          "runAfter": {
                            "See_if_app_still_exists": [
                              "Failed"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "aa6008a4-b075-4b3f-aca5-c327297f5a95"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "alreadyDeleted",
                            "value": "@true"
                          }
                        },
                        "Delete_app_or_clean_up_archival_record": {
                          "actions": {
                            "Remove_this_Archival_Approval._App_already_deleted": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "7c3eb64c-328b-46ac-9715-52adfa8ad5d3"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "DeleteRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_archiveapprovals",
                                  "recordId": "@items('Apply_to_each_canvas_app')?['admin_archiveapprovalid']"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Set_alreadyDeleted_to_true_if_app_not_found": [
                              "Succeeded",
                              "Skipped"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Helper_-_CanvasAppOperations_-_Delete": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "02980785-6567-48d0-b3f7-aabcaa51784f"
                                },
                                "type": "Workflow",
                                "inputs": {
                                  "host": {
                                    "workflowReferenceName": "41263d72-4dea-eb11-bacb-000d3a5786fb"
                                  },
                                  "body": {
                                    "text": "none",
                                    "text_1": "@items('Apply_to_each_canvas_app')?['admin_appname']",
                                    "text_2": "@items('Apply_to_each_canvas_app')?['admin_appenvironmentname']",
                                    "text_3": "delete"
                                  }
                                }
                              },
                              "See_if_app_deletion_succeeded": {
                                "actions": {
                                  "Mark_App_Deletion_Complete_in_Archive_Approvals": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "7608005a-e380-4c6a-be42-7c95b3b60fdc"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "UpdateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "admin_archiveapprovals",
                                        "recordId": "@items('Apply_to_each_canvas_app')?['admin_archiveapprovalid']",
                                        "item/admin_deletioncomplete": true
                                      },
                                      "authentication": "@parameters('$authentication')",
                                      "retryPolicy": {
                                        "type": "exponential",
                                        "count": 10,
                                        "interval": "PT10S"
                                      }
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Helper_-_CanvasAppOperations_-_Delete": [
                                    "Succeeded"
                                  ]
                                },
                                "else": {
                                  "actions": {
                                    "Get_environment_for_display_name_-_app": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "9d7306fd-bb8f-46bc-a83b-70e38cebcc73"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "GetItem",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_environments",
                                          "recordId": "@substring(items('Apply_to_each_canvas_app')?['admin_appenvironmentname'], sub(length(items('Apply_to_each_canvas_app')?['admin_appenvironmentname']),36), 36)",
                                          "$select": "admin_displayname"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Get_Row_-_Tell_user_they_will_need_to_manually_app_delete": {
                                      "actions": {
                                        "emailGUID_to_en-US_2": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "3c46d691-0f2a-4c36-9611-c2c7de1ec33d"
                                          },
                                          "type": "Compose",
                                          "inputs": "a77bedd7-6e2a-ee11-bdf4-0022480815b8"
                                        },
                                        "List_emails_for_preferred_language_2": {
                                          "runAfter": {
                                            "emailGUID_to_en-US_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "ListRecords",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "admin_customizedemails",
                                              "$select": "admin_customizedemailid",
                                              "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US_2')}' and admin_language eq '@{variables('PreferredLanguage')}'"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Set_emailGUID_to_localized_row_2": {
                                          "runAfter": {
                                            "List_emails_for_preferred_language_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "1e1c0a09-41a6-4b3d-a558-df89f10ca738"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "emailGUID",
                                            "value": "@{if(greater(length(outputs('List_emails_for_preferred_language_2')?['body/value']), 0), first(body('List_emails_for_preferred_language_2')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US_2'))}"
                                          },
                                          "description": "if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']),0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))"
                                        },
                                        "Get_a_row_by_ID_2": {
                                          "runAfter": {
                                            "Set_emailGUID_to_localized_row_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "GetItem",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "admin_customizedemails",
                                              "recordId": "@variables('emailGUID')",
                                              "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "Get_SendTo_-_Tell_user_they_will_need_to_manually_app_delete": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
                                      },
                                      "type": "Scope"
                                    },
                                    "Get_SendTo_-_Tell_user_they_will_need_to_manually_app_delete": {
                                      "actions": {
                                        "Set_SendTo_to_Admin": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "72f48eb2-0b93-4ecf-9498-4ce56ee9c2fb"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "SendTo",
                                            "value": "@parameters('Admin eMail (admin_AdminMail)')"
                                          }
                                        },
                                        "Set_PreferredLanguage_to_admins": {
                                          "runAfter": {
                                            "Set_SendTo_to_Admin": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "0efa4eef-6828-46e2-95e9-c86177cd1754"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "PreferredLanguage",
                                            "value": "@parameters('Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)')"
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "Get_environment_for_display_name_-_app": [
                                          "Succeeded"
                                        ]
                                      },
                                      "else": {
                                        "actions": {
                                          "Get_Preferred_Language": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "c3a5bf90-53e7-492b-9052-e135bdafbb69"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_office365users_1",
                                                "operationId": "UserProfile_V2",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                                              },
                                              "parameters": {
                                                "id": "@items('Apply_to_each_canvas_app')?['admin_appowneremail']",
                                                "$select": "displayName, mail, preferredLanguage"
                                              },
                                              "authentication": "@parameters('$authentication')",
                                              "retryPolicy": {
                                                "type": "exponential",
                                                "count": 10,
                                                "interval": "PT10S"
                                              }
                                            }
                                          },
                                          "Switch": {
                                            "runAfter": {
                                              "Get_Preferred_Language": [
                                                "Succeeded",
                                                "Failed"
                                              ]
                                            },
                                            "cases": {
                                              "Case_200_-_User_Found": {
                                                "case": 200,
                                                "actions": {
                                                  "Set_SendTo_to_Owner": {
                                                    "runAfter": {},
                                                    "metadata": {
                                                      "operationMetadataId": "81013e35-65c8-423b-a4ec-5fe3862df567"
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                      "name": "SendTo",
                                                      "value": "@outputs('Get_Preferred_Language')?['body/mail']"
                                                    }
                                                  },
                                                  "Set_PreferredLanguage_to_Owners": {
                                                    "runAfter": {
                                                      "Set_SendTo_to_Owner": [
                                                        "Succeeded"
                                                      ]
                                                    },
                                                    "metadata": {
                                                      "operationMetadataId": "ee02ff99-05da-4a71-9bcd-45c42f8cd8e5"
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                      "name": "PreferredLanguage",
                                                      "value": "@{if(equals(outputs('Get_Preferred_Language')?['body/preferredLanguage'], null), 'en-US', outputs('Get_Preferred_Language')?['body/preferredLanguage'])}"
                                                    }
                                                  }
                                                }
                                              },
                                              "Case_404_-_New_Orphan": {
                                                "case": 404,
                                                "actions": {
                                                  "Set_SendTo_to_Admin_for_new_Orphan": {
                                                    "runAfter": {},
                                                    "metadata": {
                                                      "operationMetadataId": "d2e64e51-92f0-4ea7-bf85-119a2bf5125a"
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                      "name": "SendTo",
                                                      "value": "@parameters('Admin eMail (admin_AdminMail)')"
                                                    }
                                                  },
                                                  "Set_PreferredLanguage_to_admins_for_new_Orphan": {
                                                    "runAfter": {
                                                      "Set_SendTo_to_Admin_for_new_Orphan": [
                                                        "Succeeded"
                                                      ]
                                                    },
                                                    "metadata": {
                                                      "operationMetadataId": "6e88e33c-d23e-4d9e-8ba3-334ad0c44a2d"
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                      "name": "PreferredLanguage",
                                                      "value": "@parameters('Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)')"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "default": {
                                              "actions": {}
                                            },
                                            "expression": "@outputs('Get_Preferred_Language')['statusCode']",
                                            "metadata": {
                                              "operationMetadataId": "56abf0fe-ca56-4ab4-804b-35d6c31017d1"
                                            },
                                            "type": "Switch"
                                          }
                                        }
                                      },
                                      "expression": {
                                        "equals": [
                                          "@parameters('ProductionEnvironment (admin_ProductionEnvironment)')",
                                          "@false"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "435ecc8e-d065-4bbe-b676-89a8a339f9ee"
                                      },
                                      "type": "If"
                                    },
                                    "Send_Mail_-_Tell_user_they_will_need_to_manually_app_delete": {
                                      "runAfter": {
                                        "Get_Row_-_Tell_user_they_will_need_to_manually_app_delete": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "37376f2e-16fd-48a2-aa5d-242e0a043ceb"
                                      },
                                      "type": "Workflow",
                                      "inputs": {
                                        "host": {
                                          "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                                        },
                                        "body": {
                                          "email": "@variables('SendTo')",
                                          "text": "@{outputs('Get_a_row_by_ID_2')?['body/admin_subject']} @{items('Apply_to_each_canvas_app')?['admin_appdisplayname']}",
                                          "text_1": "@{outputs('Get_a_row_by_ID_2')?['body/admin_body']} <i>@{body('Helper_-_CanvasAppOperations_-_Delete')?['thereturnstring']}</i>\n<br><br>\n<b>Environment:</b> @{outputs('Get_environment_for_display_name_-_app')?['body/admin_displayname']}<br>\n<b>App: </b>@{items('Apply_to_each_canvas_app')?['admin_appdisplayname']}",
                                          "email_1": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_cc'])",
                                          "email_2": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_sendonbehalf'])",
                                          "email_3": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_replyto'])",
                                          "text_2": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_importance'])"
                                        }
                                      }
                                    }
                                  }
                                },
                                "expression": {
                                  "equals": [
                                    "@body('Helper_-_CanvasAppOperations_-_Delete')?['thereturnstring']",
                                    "pass"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "0c884682-abad-4ebe-be76-617da2fac007"
                                },
                                "type": "If"
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@variables('alreadyDeleted')",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5902b2db-8d17-4a30-9967-c525267b0b1b"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "List_canvas_apps_ready_to_delete": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f483992d-ad6f-4808-8ea0-98f0d0b6f8d0"
                      },
                      "type": "Foreach"
                    },
                    "List_canvas_apps_ready_to_delete": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "81e2173a-c69f-44cb-ab55-1eb776b674c9"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_archiveapprovals",
                          "$select": "admin_appname, admin_appenvironmentname, admin_archiveapprovalid, admin_appowneremail, admin_appdisplayname",
                          "$filter": "admin_deletioncomplete ne true and admin_approvalresponsedate lt @{body('Get_past_time_for_archivals_ready_to_delete')} and admin_approvalresponse eq 'Approve' and cr5d5_archivalitemtype eq 129260001"
                        },
                        "authentication": "@parameters('$authentication')",
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 10,
                          "interval": "PT10S"
                        }
                      },
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Check_if_set_to_delete": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3eadd703-7ec7-49f3-a260-ed3e1d08587a"
                  },
                  "type": "Scope"
                },
                "Flows": {
                  "actions": {
                    "Apply_to_each_flow": {
                      "foreach": "@outputs('List_flows_ready_to_delete')?['body/value']",
                      "actions": {
                        "Reset_alreadyDeleted": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "b1e20b75-cc0e-4dde-b416-02656a7eab41"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "alreadyDeleted",
                            "value": "@false"
                          }
                        },
                        "See_if_flow_exists": {
                          "runAfter": {
                            "Reset_alreadyDeleted": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e120c4f8-38a3-4b7f-885a-08a4643e0367"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_flowmanagement",
                              "operationId": "AdminGetFlow",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                            },
                            "parameters": {
                              "environmentName": "@items('Apply_to_each_flow')?['admin_appenvironmentname']",
                              "flowName": "@items('Apply_to_each_flow')?['admin_appname']"
                            },
                            "authentication": "@parameters('$authentication')",
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 10,
                              "interval": "PT10S"
                            }
                          }
                        },
                        "Set_alreadyDeleted_to_true_if_not_found": {
                          "runAfter": {
                            "See_if_flow_exists": [
                              "Failed"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a847f4f8-304f-426c-9ec1-9522e6ce2f96"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "alreadyDeleted",
                            "value": "@true"
                          }
                        },
                        "Delete_flow_or_clean_up_archival_record": {
                          "actions": {
                            "Remove_this_Archival_Approval._Flow_already_deleted": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "0188cb73-7125-41dc-957d-a9896ac7c763"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "DeleteRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "admin_archiveapprovals",
                                  "recordId": "@items('Apply_to_each_flow')?['admin_archiveapprovalid']"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 10,
                                  "interval": "PT10S"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Set_alreadyDeleted_to_true_if_not_found": [
                              "Succeeded",
                              "Skipped"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Helper_-_CloudFlowOperations_-_Delete": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "19279c02-9f75-45d9-839b-b2322b4a2758"
                                },
                                "type": "Workflow",
                                "inputs": {
                                  "host": {
                                    "workflowReferenceName": "6093b58a-4fea-eb11-bacb-000d3a578f6c"
                                  },
                                  "body": {
                                    "text": "none",
                                    "text_1": "@items('Apply_to_each_flow')?['admin_appname']",
                                    "text_2": "@items('Apply_to_each_flow')?['admin_appenvironmentname']",
                                    "text_3": "delete"
                                  }
                                }
                              },
                              "See_if_flow_deletion_succeeded": {
                                "actions": {
                                  "Mark_Flow_Deletion_Complete_in_Archive_Approval_Table": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "413a88d5-f4bf-4ef1-aa25-97f7e2d9c14e"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "UpdateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "admin_archiveapprovals",
                                        "recordId": "@items('Apply_to_each_flow')?['admin_archiveapprovalid']",
                                        "item/admin_deletioncomplete": true
                                      },
                                      "authentication": "@parameters('$authentication')",
                                      "retryPolicy": {
                                        "type": "exponential",
                                        "count": 10,
                                        "interval": "PT10S"
                                      }
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Helper_-_CloudFlowOperations_-_Delete": [
                                    "Succeeded"
                                  ]
                                },
                                "else": {
                                  "actions": {
                                    "Get_environment_for_display_name": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "0466b63e-e277-4d84-9530-666149adbcb9"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "GetItem",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_environments",
                                          "recordId": "@substring(items('Apply_to_each_flow')?['admin_appenvironmentname'], sub(length(items('Apply_to_each_flow')?['admin_appenvironmentname']),36), 36)",
                                          "$select": "admin_displayname"
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                          "type": "exponential",
                                          "count": 10,
                                          "interval": "PT10S"
                                        }
                                      }
                                    },
                                    "Get_Row_-_Tell_user_they_will_need_to_manually_delete": {
                                      "actions": {
                                        "emailGUID_to_en-US": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "3c46d691-0f2a-4c36-9611-c2c7de1ec33d"
                                          },
                                          "type": "Compose",
                                          "inputs": "18aa110c-752a-ee11-bdf4-002248096574"
                                        },
                                        "List_emails_for_preferred_language": {
                                          "runAfter": {
                                            "emailGUID_to_en-US": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "ListRecords",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "admin_customizedemails",
                                              "$select": "admin_customizedemailid",
                                              "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US')}' and admin_language eq '@{variables('PreferredLanguage')}'"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Set_emailGUID_to_localized_row": {
                                          "runAfter": {
                                            "List_emails_for_preferred_language": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "1e1c0a09-41a6-4b3d-a558-df89f10ca738"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "emailGUID",
                                            "value": "@{if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']), 0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))}"
                                          },
                                          "description": "if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']),0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))"
                                        },
                                        "Get_a_row_by_ID": {
                                          "runAfter": {
                                            "Set_emailGUID_to_localized_row": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "GetItem",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "admin_customizedemails",
                                              "recordId": "@variables('emailGUID')",
                                              "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "Get_SendTo_-_Tell_user_they_will_need_to_manually_delete": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
                                      },
                                      "type": "Scope"
                                    },
                                    "Send_an_email_-_Tell_user_they_will_need_to_manually_delete": {
                                      "runAfter": {
                                        "Get_Row_-_Tell_user_they_will_need_to_manually_delete": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "0170aa7c-ff49-4d01-af87-738a852cdfc5"
                                      },
                                      "type": "Workflow",
                                      "inputs": {
                                        "host": {
                                          "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                                        },
                                        "body": {
                                          "email": "@variables('SendTo')",
                                          "text": "@{outputs('Get_a_row_by_ID')?['body/admin_subject']} @{items('Apply_to_each_flow')?['admin_appdisplayname']}",
                                          "text_1": "@{outputs('Get_a_row_by_ID')?['body/admin_body']} <i>@{body('Helper_-_CloudFlowOperations_-_Delete')?['thereturnstring']}</i>\n<br><br>\n<b>Environment:</b> @{outputs('Get_environment_for_display_name')?['body/admin_displayname']}<br>\n<b>Flow: </b>@{items('Apply_to_each_flow')?['admin_appdisplayname']}",
                                          "email_1": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID')?['body/admin_cc'])",
                                          "email_2": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID')?['body/admin_sendonbehalf'])",
                                          "email_3": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID')?['body/admin_replyto'])",
                                          "text_2": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID')?['body/admin_importance'])"
                                        }
                                      },
                                      "description": "18aa110c-752a-ee11-bdf4-002248096574"
                                    },
                                    "Get_SendTo_-_Tell_user_they_will_need_to_manually_delete": {
                                      "actions": {
                                        "Set_SendTo_to_Admin_2": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "72f48eb2-0b93-4ecf-9498-4ce56ee9c2fb"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "SendTo",
                                            "value": "@parameters('Admin eMail (admin_AdminMail)')"
                                          }
                                        },
                                        "Set_PreferredLanguage_to_admins_2": {
                                          "runAfter": {
                                            "Set_SendTo_to_Admin_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "0efa4eef-6828-46e2-95e9-c86177cd1754"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "PreferredLanguage",
                                            "value": "@parameters('Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)')"
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "Get_environment_for_display_name": [
                                          "Succeeded"
                                        ]
                                      },
                                      "else": {
                                        "actions": {
                                          "Get_Preferred_Language_2": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "c3a5bf90-53e7-492b-9052-e135bdafbb69"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_office365users_1",
                                                "operationId": "UserProfile_V2",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                                              },
                                              "parameters": {
                                                "id": "@items('Apply_to_each_flow')?['admin_appowneremail']",
                                                "$select": "displayName, mail, preferredLanguage"
                                              },
                                              "authentication": "@parameters('$authentication')",
                                              "retryPolicy": {
                                                "type": "exponential",
                                                "count": 10,
                                                "interval": "PT10S"
                                              }
                                            }
                                          },
                                          "Switch_2": {
                                            "runAfter": {
                                              "Get_Preferred_Language_2": [
                                                "Succeeded",
                                                "Failed"
                                              ]
                                            },
                                            "cases": {
                                              "Case_200_-_User_Found": {
                                                "case": 200,
                                                "actions": {
                                                  "Set_SendTo_to_Owner_2": {
                                                    "runAfter": {},
                                                    "metadata": {
                                                      "operationMetadataId": "81013e35-65c8-423b-a4ec-5fe3862df567"
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                      "name": "SendTo",
                                                      "value": "@outputs('Get_Preferred_Language_2')?['body/mail']"
                                                    }
                                                  },
                                                  "Set_PreferredLanguage_to_Owners_2": {
                                                    "runAfter": {
                                                      "Set_SendTo_to_Owner_2": [
                                                        "Succeeded"
                                                      ]
                                                    },
                                                    "metadata": {
                                                      "operationMetadataId": "ee02ff99-05da-4a71-9bcd-45c42f8cd8e5"
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                      "name": "PreferredLanguage",
                                                      "value": "@{if(equals(outputs('Get_Preferred_Language_2')?['body/preferredLanguage'], null), 'en-US', outputs('Get_Preferred_Language_2')?['body/preferredLanguage'])}"
                                                    }
                                                  }
                                                }
                                              },
                                              "Case_404_-_New_Orphan": {
                                                "case": 404,
                                                "actions": {
                                                  "Set_SendTo_to_Admin_for_new_Orphan_2": {
                                                    "runAfter": {},
                                                    "metadata": {
                                                      "operationMetadataId": "d2e64e51-92f0-4ea7-bf85-119a2bf5125a"
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                      "name": "SendTo",
                                                      "value": "@parameters('Admin eMail (admin_AdminMail)')"
                                                    }
                                                  },
                                                  "Set_PreferredLanguage_to_admins_for_new_Orphan_2": {
                                                    "runAfter": {
                                                      "Set_SendTo_to_Admin_for_new_Orphan_2": [
                                                        "Succeeded"
                                                      ]
                                                    },
                                                    "metadata": {
                                                      "operationMetadataId": "6e88e33c-d23e-4d9e-8ba3-334ad0c44a2d"
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                      "name": "PreferredLanguage",
                                                      "value": "@parameters('Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)')"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "default": {
                                              "actions": {}
                                            },
                                            "expression": "@outputs('Get_Preferred_Language_2')['statusCode']",
                                            "metadata": {
                                              "operationMetadataId": "56abf0fe-ca56-4ab4-804b-35d6c31017d1"
                                            },
                                            "type": "Switch"
                                          }
                                        }
                                      },
                                      "expression": {
                                        "equals": [
                                          "@parameters('ProductionEnvironment (admin_ProductionEnvironment)')",
                                          "@false"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "435ecc8e-d065-4bbe-b676-89a8a339f9ee"
                                      },
                                      "type": "If"
                                    }
                                  }
                                },
                                "expression": {
                                  "equals": [
                                    "@body('Helper_-_CloudFlowOperations_-_Delete')?['thereturnstring']",
                                    "pass"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "6d7e938a-86f1-4b73-9fcd-0254f09e773a"
                                },
                                "type": "If"
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@variables('alreadyDeleted')",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "18fdb427-109f-4ba8-acc7-2baab2399619"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "List_flows_ready_to_delete": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4ee7fdc7-e4dc-4edd-a27e-340299bef9da"
                      },
                      "type": "Foreach"
                    },
                    "List_flows_ready_to_delete": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3fd6adcf-8916-44f7-822f-bbd498a61e43"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_archiveapprovals",
                          "$select": "admin_appname, admin_appenvironmentname, admin_archiveapprovalid, admin_appowneremail, admin_appdisplayname",
                          "$filter": "admin_deletioncomplete ne true and admin_approvalresponsedate lt @{body('Get_past_time_for_archivals_ready_to_delete')} and admin_approvalresponse eq 'Approve' and cr5d5_archivalitemtype eq 129260000"
                        },
                        "authentication": "@parameters('$authentication')",
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 10,
                          "interval": "PT10S"
                        }
                      },
                      "runtimeConfiguration": {
                        "paginationPolicy": {
                          "minimumItemCount": 100000
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Canvas": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d6e7f5fc-954b-4176-bfa7-3d8db6aea1f7"
                  },
                  "type": "Scope"
                },
                "Check_if_set_to_delete": {
                  "actions": {
                    "if_debug_envt_exit_here": {
                      "actions": {
                        "Env_Variable_set_to_not_Delete": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "dd1cc552-d66c-4932-b276-3e75863e14b7"
                          },
                          "type": "Terminate",
                          "inputs": {
                            "runStatus": "Succeeded"
                          }
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@variables('varAutoDelete')",
                              "No"
                            ]
                          },
                          {
                            "equals": [
                              "@parameters('ProductionEnvironment (admin_ProductionEnvironment)')",
                              "@false"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "52abd4b6-c458-437f-a514-f028b3ea5127"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Get_past_time_for_archivals_ready_to_delete": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a46acc9d-2706-4b4b-8bfe-cc504943d47f"
                  },
                  "type": "Scope"
                }
              },
              "runAfter": {
                "Delete_timed_out_archive_requests": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ed02b21-04f8-4fd4-a37b-698c5131edad"
              },
              "type": "Scope"
            },
            "Delete_archival_records_for_excused_objects": {
              "actions": {
                "List_apps_in_archive_table_that_are_excused": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "dbd1afa2-92a4-4c75-a480-737c84cab840"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_archiveapprovals",
                      "$select": "admin_archiveapprovalid, admin_appname",
                      "$filter": "admin_AppLookup/admin_appenvironmentexcusedfromarchival eq true or admin_AppLookup/admin_appexcusedfromarchival eq true ",
                      "$expand": "admin_AppLookup($select=admin_appenvironmentexcusedfromarchival, admin_appexcusedfromarchival)"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "List_flow_in_archive_table_that_are_excused": {
                  "runAfter": {
                    "Delete_all_excused_app_from_archive_table": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "839bbc30-828b-4615-a52f-b6e5b4ee31f8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_archiveapprovals",
                      "$select": "admin_archiveapprovalid, admin_appname",
                      "$filter": "admin_FlowLookup/admin_flowenvironmentexcusedfromarchival eq true or admin_FlowLookup/admin_flowexcusedfromarchival eq true ",
                      "$expand": "admin_FlowLookup($select=admin_flowenvironmentexcusedfromarchival, admin_flowexcusedfromarchival)"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Delete_all_excused_app_from_archive_table": {
                  "foreach": "@outputs('List_apps_in_archive_table_that_are_excused')?['body/value']",
                  "actions": {
                    "Delete_excused_app_from_archive_table": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "52f0c083-b9d2-4827-bd2e-2b8e28b47e9a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "DeleteRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_archiveapprovals",
                          "recordId": "@items('Delete_all_excused_app_from_archive_table')?['admin_archiveapprovalid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_apps_in_archive_table_that_are_excused": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9dfc2383-69fd-4dce-9ca5-2b2a13a48700"
                  },
                  "type": "Foreach"
                },
                "Delete_all_excused_flows_from_archive_table": {
                  "foreach": "@outputs('List_flow_in_archive_table_that_are_excused')?['body/value']",
                  "actions": {
                    "Delete_excused_flow_from_archive_table": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "41e89af2-8558-4ff1-b87d-fad3cb9823d3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "DeleteRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_archiveapprovals",
                          "recordId": "@items('Delete_all_excused_flows_from_archive_table')?['admin_archiveapprovalid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_flow_in_archive_table_that_are_excused": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f2e00c15-448e-4f16-8812-72f6327523e5"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "79fb899e-6481-47ce-b4b0-2de73ec09425"
              },
              "type": "Scope"
            },
            "Delete_timed_out_archive_requests": {
              "actions": {
                "Apply_to_each": {
                  "foreach": "@outputs('Get_old_archival_requests_to_delete')?['body/value']",
                  "actions": {
                    "Delete_the_old_archive_record_": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "bb255a2a-8e3a-4231-a10a-c1bcfff0f924"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "DeleteRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_archiveapprovals",
                          "recordId": "@items('Apply_to_each')?['admin_archiveapprovalid']"
                        },
                        "authentication": "@parameters('$authentication')",
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 10,
                          "interval": "PT10S"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Get_old_archival_requests_to_delete": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "284d58c7-0315-4c44-b629-6d82a87be5c0"
                  },
                  "type": "Foreach"
                },
                "Get_old_archival_requests_to_delete": {
                  "runAfter": {
                    "Get_past_time_for_old_archival_requests": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3b67e813-9225-4725-8aea-5cad5822ceb1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_archiveapprovals",
                      "$select": "admin_archiveapprovalid",
                      "$filter": "createdon lt @{body('Get_past_time_for_old_archival_requests')} and admin_approvalresponse ne 'Approve'"
                    },
                    "authentication": "@parameters('$authentication')",
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 10,
                      "interval": "PT10S"
                    }
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "Get_past_time_for_old_archival_requests": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ab20700a-7e0e-40cb-b062-129f9715f516"
                  },
                  "type": "Expression",
                  "kind": "GetPastTime",
                  "inputs": {
                    "interval": 1,
                    "timeUnit": "Month"
                  }
                }
              },
              "runAfter": {
                "Delete_archival_records_for_excused_objects": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3164bdd2-eab7-4713-b415-f9b9b0e8d400"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Initialize_PreferredLanguage": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9dfa43eb-ff6a-454d-bdc5-db7a7d8cef1a"
          },
          "type": "Scope"
        },
        "Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "87961ff0-e261-4890-9ab9-a53f88fe0de5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "@workflow()?['tags']['flowDisplayName']",
                  "item/admin_flowinstanceurl": "@concat(parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Update_Last_Run_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e5a2a18-dba2-47a1-96d5-3356f4348e5a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "500",
                  "message": "Get Environments Failed"
                }
              }
            },
            "Get_ID_Fail": {
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "47329bf2-8aac-400d-9778-a793b4f1180f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_Last_Run_Fail": {
              "runAfter": {
                "Get_ID_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c63eb7cc-6101-4567-b520-a4a8881264e9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Fail')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": false
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Inactivity_notifications_v2_(Clean_Up_and_Delete)_SCOPE": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "38ae684e-622d-42ea-abd2-ee571aee3a5f"
          },
          "type": "Scope"
        },
        "Update_last_run_as_pass": {
          "actions": {
            "Update_Last_Run_Successful": {
              "runAfter": {
                "Get_ID_Pass": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78ef70e5-7f67-4737-9a02-8533f12caa19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Pass')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_ID_Pass": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f4f314b6-89d3-4056-af1c-73115e7d6bd1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Catch_-_not_ready_to_take_last_run_date": {
              "runAfter": {
                "Update_Last_Run_Successful": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "f88cdefe-c402-49d7-8f4a-934475e6f741"
              },
              "type": "Compose",
              "inputs": "Catch - not ready to take last run date"
            }
          },
          "runAfter": {
            "Error_Handling": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c140442-d939-4ca4-8ec8-d1ee2bed4a81"
          },
          "type": "Scope"
        },
        "Initialize_emailGUID": {
          "runAfter": {
            "Initialize_alreadyDeleted": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dad8eca6-7937-47c0-aa57-f2d48dd1c5a2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emailGUID",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_SendTo": {
          "runAfter": {
            "Initialize_emailGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "63b502ad-756b-40ae-aa81-a3b80de1017f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SendTo",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_PreferredLanguage": {
          "runAfter": {
            "Initialize_SendTo": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b68dd3e1-35aa-48f5-8807-edd5884c9e11"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PreferredLanguage",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}