CenterofExcellenceAuditComponents/SolutionPackage/src/Workflows/AdminSetappquarantinestatus-957255CE-1B93-EC11-B400-000D3A8FC5C7.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerappsforadmins_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovPowerAppsforAdmins"
        },
        "api": {
          "name": "shared_powerappsforadmins"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)": {
          "defaultValue": "https://apps.powerapps.com/play/e/13a5da17-1ae9-ed92-938a-2aea8ef927f2/a/30c990a6-93f0-4359-a035-037a8c1a099c?tenantId=67c96cd6-4a95-46ee-ac9b-8ee13ae256c4&source=portal",
          "type": "String",
          "metadata": {
            "schemaName": "admin_DeveloperComplianceCenterURL",
            "description": "Compliance – LEAVE EMPTY ON IMPORT.  URL to Developer Compliance Center Canvas App. "
          }
        },
        "Admin eMail (admin_AdminMail)": {
          "defaultValue": "PowerPlatformAdmins@powercattools.onmicrosoft.com ",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdminMail",
            "description": "Inventory - CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list"
          }
        },
        "ProductionEnvironment (admin_ProductionEnvironment)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ProductionEnvironment",
            "description": "Inventory - Yes by default. Set to No if you are creating a dev type envt. This will allow some flows to set target users to the admin instead of resource owners"
          }
        },
        "Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)": {
          "defaultValue": "en-US",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdmineMailPreferredLanguage",
            "description": "Inventory - The preferred language for the emails sent to the admin email alias, which is specified in theAdmin eMail environment variable. Default is en-US"
          }
        },
        "Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)": {
          "defaultValue": "https://flow.microsoft.com/manage/environments/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAutomateEnvironmentVariable",
            "description": "Inventory - REQUIRED. Environment, including geographic location, for Power Automate - Ex for commercial: https://flow.microsoft.com/manage/environments/"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "651982b4-e34e-4d94-b63d-e54dad12e910"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "admin_app",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "admin_quarantineapp"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_App_Exists": {
          "runAfter": {
            "Initialize_emailGUID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4d4c8d42-596a-49c6-9d4b-e65d33422e5a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AppExists",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Initialize_emailGUID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dad8eca6-7937-47c0-aa57-f2d48dd1c5a2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emailGUID",
                "type": "string"
              }
            ]
          }
        },
        "Set_app_quarantine_status_SCOPE": {
          "actions": {
            "Get_App_as_Admin": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3b93ba16-5cac-4889-be28-68ef9e19982e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_powerappsforadmins_1",
                  "operationId": "Get-AdminApp",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                },
                "parameters": {
                  "environment": "@triggerOutputs()?['body/admin_appenvironmentid']",
                  "app": "@triggerOutputs()?['body/admin_appid']",
                  "api-version": "2016-11-01"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_variable": {
              "runAfter": {
                "Get_App_as_Admin": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "15d27906-4613-4370-b5b7-3f80abbc6abf"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "AppExists",
                "value": "@false"
              }
            },
            "Exit_if_app_deleted": {
              "actions": {
                "Terminate": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cb0ce4a2-f1af-4681-a8c1-0d67d97a852d"
                  },
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Succeeded"
                  }
                }
              },
              "runAfter": {
                "Set_variable": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@triggerOutputs()?['body/admin_appdeleted']",
                      "@true"
                    ]
                  },
                  {
                    "equals": [
                      "@variables('AppExists')",
                      "@false"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "7290e68e-a729-46d6-9dbe-96fd83b095e9"
              },
              "type": "If"
            },
            "Get_App": {
              "runAfter": {
                "Exit_if_app_deleted": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8ed9f76f-6726-47a5-b652-2884df93573a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_apps",
                  "recordId": "@triggerOutputs()?['body/admin_appid']",
                  "$select": "admin_displayname, admin_appdeleted",
                  "$expand": "admin_AppEnvironment($select=admin_displayname)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Maker": {
              "runAfter": {
                "Get_App": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "573aa05c-58e6-4723-baf4-f16bdd02631a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_makers",
                  "recordId": "@triggerOutputs()?['body/_admin_appowner_value']",
                  "$select": "admin_userprincipalname, admin_useremail, admin_preferredlanguage"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "preferredLanguage": {
              "runAfter": {
                "sendTo": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c7a2d71b-6863-4f94-8179-0660d5b61b18"
              },
              "type": "Compose",
              "inputs": "@if(equals(parameters('ProductionEnvironment (admin_ProductionEnvironment)'), false), parameters('Admin eMail Preferred Language (admin_AdmineMailPreferredLanguage)'), if(equals(outputs('Get_Maker')?['body/admin_preferredlanguage'], null), 'en-US', outputs('Get_Maker')?['body/admin_preferredlanguage']))"
            },
            "Quarantine_or_Release": {
              "actions": {
                "Release_app_from_quarantine": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d004a36e-8aab-46bc-8076-a064206296aa"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerappsforadmins_1",
                      "operationId": "Set-AppQuarantineState",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                    },
                    "parameters": {
                      "environment": "@triggerOutputs()?['body/admin_appenvironmentid']",
                      "app": "@triggerOutputs()?['body/admin_appid']",
                      "api-version": "2021-02-01",
                      "Content-Type": " application/json",
                      "body/quarantineStatus": "Unquarantined"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "clear_quarantine_date": {
                  "runAfter": {
                    "Release_app_from_quarantine": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ebe90ce5-ec10-4f3c-b063-531e7f347496"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "recordId": "@triggerOutputs()?['body/admin_appid']",
                      "item/admin_quarantineappdate": "@null"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Send_an_email_-_release": {
                  "runAfter": {
                    "Get_Row_-_Send_an_email_-_release": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "20327b71-a236-4265-9436-2ce804d1bb78"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                    },
                    "body": {
                      "email": "@outputs('sendTo')",
                      "text": "@outputs('Get_a_row_by_ID')?['body/admin_subject']",
                      "text_1": "@{outputs('Get_a_row_by_ID')?['body/admin_body']}<br><br>\n<b><u>App Details:</u></b>\n<p><b>Display Name:</b> @{triggerOutputs()?['body/admin_displayname']} </p>\n<p><b>Environment:</b> @{outputs('Get_App')?['body/admin_appenvironment/admin_displayname']}   </p>",
                      "email_1": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID')?['body/admin_cc'])",
                      "email_2": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID')?['body/admin_sendonbehalf'])",
                      "email_3": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID')?['body/admin_replyto'])",
                      "text_2": "@if(equals(outputs('Get_a_row_by_ID')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID')?['body/admin_importance'])"
                    }
                  },
                  "description": "ff4d14da-6086-ed11-81ac-0022480813ff"
                },
                "Get_Row_-_Send_an_email_-_release": {
                  "actions": {
                    "emailGUID_to_en-US": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3c46d691-0f2a-4c36-9611-c2c7de1ec33d"
                      },
                      "type": "Compose",
                      "inputs": "ff4d14da-6086-ed11-81ac-0022480813ff"
                    },
                    "List_emails_for_preferred_language": {
                      "runAfter": {
                        "emailGUID_to_en-US": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_customizedemails",
                          "$select": "admin_customizedemailid",
                          "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US')}' and admin_language eq '@{outputs('preferredLanguage')}'"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_emailGUID_to_localized_row": {
                      "runAfter": {
                        "List_emails_for_preferred_language": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1e1c0a09-41a6-4b3d-a558-df89f10ca738"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "emailGUID",
                        "value": "@{if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']), 0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))}"
                      },
                      "description": "if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']),0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))"
                    },
                    "Get_a_row_by_ID": {
                      "runAfter": {
                        "Set_emailGUID_to_localized_row": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_customizedemails",
                          "recordId": "@variables('emailGUID')",
                          "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "clear_quarantine_date": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
                  },
                  "type": "Scope"
                }
              },
              "runAfter": {
                "preferredLanguage": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Quarantine_app": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "2ee82f8c-2b16-4dc6-8f90-cd1745e57adb"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_powerappsforadmins_1",
                        "operationId": "Set-AppQuarantineState",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                      },
                      "parameters": {
                        "environment": "@triggerOutputs()?['body/admin_appenvironmentid']",
                        "app": "@triggerOutputs()?['body/admin_appid']",
                        "api-version": "2021-02-01",
                        "Content-Type": " application/json",
                        "body/quarantineStatus": "Quarantined"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "set_quarantine_date": {
                    "runAfter": {
                      "Quarantine_app": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "70a825b0-da93-4355-9446-8fa5de4d20d3"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "admin_apps",
                        "recordId": "@triggerOutputs()?['body/admin_appid']",
                        "item/admin_quarantineappdate": "@utcNow()"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Send_an_email_-_quarantine": {
                    "runAfter": {
                      "Get_Row_-_Send_an_email_-_quarantine": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0170aa7c-ff49-4d01-af87-738a852cdfc5"
                    },
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflowReferenceName": "5625768c-bd3d-ec11-8c63-00224829720b"
                      },
                      "body": {
                        "email": "@outputs('sendTo')",
                        "text": "@outputs('Get_a_row_by_ID_2')?['body/admin_subject']",
                        "text_1": "@{outputs('Get_a_row_by_ID_2')?['body/admin_body']}<br><br>\n<p><a href=\"@{parameters('Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)')}?appName=@{triggerOutputs()?['body/admin_appidstring']}\">Developer Compliance Center</a><br>\n<br>\n<u><strong>App Details:</strong></u></p>\n<p><strong>Display Name:</strong> @{triggerOutputs()?['body/admin_displayname']}</p>\n<p><strong>Environment:</strong> @{outputs('Get_App')?['body/admin_appenvironment/admin_displayname']}</p>",
                        "email_1": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_cc'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_cc'])",
                        "email_2": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_sendonbehalf'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_sendonbehalf'])",
                        "email_3": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_replyto'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_replyto'])",
                        "text_2": "@if(equals(outputs('Get_a_row_by_ID_2')?['body/admin_importance'], null), '', outputs('Get_a_row_by_ID_2')?['body/admin_importance'])"
                      }
                    },
                    "description": "9f2604e4-6086-ed11-81ac-0022480813ff"
                  },
                  "Get_Row_-_Send_an_email_-_quarantine": {
                    "actions": {
                      "emailGUID_to_en-US_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3c46d691-0f2a-4c36-9611-c2c7de1ec33d"
                        },
                        "type": "Compose",
                        "inputs": "9f2604e4-6086-ed11-81ac-0022480813ff"
                      },
                      "List_emails_for_preferred_language_2": {
                        "runAfter": {
                          "emailGUID_to_en-US_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "29188a43-3a3a-46da-a4f6-f162180d8254"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "admin_customizedemails",
                            "$select": "admin_customizedemailid",
                            "$filter": "admin_basedon eq '@{outputs('emailGUID_to_en-US_2')}' and admin_language eq '@{outputs('preferredLanguage')}'"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Set_emailGUID_to_localized_row_2": {
                        "runAfter": {
                          "List_emails_for_preferred_language_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "1e1c0a09-41a6-4b3d-a558-df89f10ca738"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "emailGUID",
                          "value": "@{if(greater(length(outputs('List_emails_for_preferred_language_2')?['body/value']), 0), first(body('List_emails_for_preferred_language_2')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US_2'))}"
                        },
                        "description": "if(greater(length(outputs('List_emails_for_preferred_language')?['body/value']),0), first(body('List_emails_for_preferred_language')?['value'])['admin_customizedemailid'], outputs('emailGUID_to_en-US'))"
                      },
                      "Get_a_row_by_ID_2": {
                        "runAfter": {
                          "Set_emailGUID_to_localized_row_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "c34df6f5-d327-47a2-8e25-e33c207762e2"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "admin_customizedemails",
                            "recordId": "@variables('emailGUID')",
                            "$select": "admin_body, admin_cc, admin_replyto, admin_sendonbehalf, admin_subject, admin_importance"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "set_quarantine_date": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "74c8fe2a-d9bd-4ab1-a2a7-1ceffc6c9c18"
                    },
                    "type": "Scope"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/admin_quarantineapp']",
                  "@false"
                ]
              },
              "metadata": {
                "operationMetadataId": "c0997f99-7e0c-4cda-8c99-7d1542f9a35d"
              },
              "type": "If"
            },
            "sendTo": {
              "runAfter": {
                "Get_Maker": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d09ede5f-f3dd-4af2-ad75-16e55d376ec7"
              },
              "type": "Compose",
              "inputs": "@if(equals(parameters('ProductionEnvironment (admin_ProductionEnvironment)'), false), parameters('Admin eMail (admin_AdminMail)'), outputs('Get_Maker')?['body/admin_useremail'])"
            }
          },
          "runAfter": {
            "Check_App_Exists": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "54aaa8bb-cf60-4ca6-8cc0-07898ba2ebaf"
          },
          "type": "Scope"
        },
        "Error_Handling": {
          "actions": {
            "Create_a_new_record_-_Sync_Flow_Errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "87961ff0-e261-4890-9ab9-a53f88fe0de5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_syncflowerrorses",
                  "item/admin_name": "@workflow()?['tags']['flowDisplayName']",
                  "item/admin_flowinstanceurl": "@concat(parameters('Power Automate Environment Variable (admin_PowerAutomateEnvironmentVariable)'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT10S"
                }
              }
            },
            "Terminate_2": {
              "runAfter": {
                "Update_Last_Run_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e5a2a18-dba2-47a1-96d5-3356f4348e5a"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "500",
                  "message": "Get Environments Failed"
                }
              }
            },
            "Get_ID_Fail": {
              "runAfter": {
                "Create_a_new_record_-_Sync_Flow_Errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "47329bf2-8aac-400d-9778-a793b4f1180f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_Last_Run_Fail": {
              "runAfter": {
                "Get_ID_Fail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c63eb7cc-6101-4567-b520-a4a8881264e9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Fail')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": false
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Set_app_quarantine_status_SCOPE": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "38ae684e-622d-42ea-abd2-ee571aee3a5f"
          },
          "type": "Scope"
        },
        "Update_last_run_as_pass": {
          "actions": {
            "Update_Last_Run_Successful": {
              "runAfter": {
                "Get_ID_Pass": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "78ef70e5-7f67-4737-9a02-8533f12caa19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "recordId": "@first(outputs('Get_ID_Pass')?['body/value'])?['admin_coesolutionmetadataid']",
                  "item/admin_lastrun": "@utcNow()",
                  "item/admin_lastrunpassed": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_ID_Pass": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f4f314b6-89d3-4056-af1c-73115e7d6bd1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "admin_coesolutionmetadatas",
                  "$select": "admin_coesolutionmetadataid",
                  "$filter": "admin_objectname eq '@{workflow()?['tags']['flowDisplayName']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Catch_-_not_ready_to_take_last_run_date": {
              "runAfter": {
                "Update_Last_Run_Successful": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "f88cdefe-c402-49d7-8f4a-934475e6f741"
              },
              "type": "Compose",
              "inputs": "Catch - not ready to take last run date"
            }
          },
          "runAfter": {
            "Error_Handling": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c140442-d939-4ca4-8ec8-d1ee2bed4a81"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}