CenterofExcellenceAuditComponents/SolutionPackage/src/Workflows/AdminInactivitynotificationsv2StartApprovalforApps-D740E841-7057-EB11-A812-000D3A9964A5.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365users_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovO365Users"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerappsforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovPowerAppsforAdmins"
        },
        "api": {
          "name": "shared_powerappsforadmins"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovO365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_approvals_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_CoEGovApprovals"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "eMail Body Start (admin_eMailBodyStart)": {
          "defaultValue": "<body>     <div id='content'>         <table id='form'>             <tr>                 <td><img id='logo' src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/1280px-Microsoft_logo_%282012%29.svg.png' width='300'></td>             </tr>             <tr>                 <td>                     <p id='header'>Power Platform</p>                 </td>             </tr>             <tr id='ribbon'>                 <td>                     <tr>                         <td></td>                     </tr>                     <tr id='message'>                         <td>",
          "type": "String",
          "metadata": {
            "schemaName": "admin_eMailBodyStart",
            "description": "Starter HTML format for eMails"
          }
        },
        "eMail Body Stop (admin_eMailBodyStop)": {
          "defaultValue": "</td>                     </tr>         </table>     </div> </body>",
          "type": "String",
          "metadata": {
            "schemaName": "admin_eMailBodyStop",
            "description": "Ending HTML format for eMails"
          }
        },
        "eMail Header Style (admin_eMailHeaderStyle)": {
          "defaultValue": "<head>     <style>         body {             background-color: #efefef;             font-family: Segoe UI;             text-align: center;         }          #content {             border: 1px solid #742774;             background-color: #ffffff;             width: 650px;             margin-bottom: 50px;             display: inline-block;         }          #logo {             margin-left: 52px;             margin-top: 40px;             width: 60px;             height: 12px;         }          #header {             font-size: 24px;             margin-left: 50px;             margin-top: 20px;             margin-bottom: 20px;         }          #ribbon {             background-color: #742774;         }          #ribbonContent {             font-size: 20px;             padding-left: 30px;             padding-top: 10px;             padding-bottom: 20px;             color: white;             width: 100%;             padding-right: 10px;         }          #message>td {             font-size: 14px;             padding-left: 60px;             padding-right: 60px;             padding-top: 20px;             padding-bottom: 40px;         }          #footer>td {             font-size: 12px;             background-color: #cfcfcf;             height: 40px;             padding-top: 15px;             padding-left: 40px;             padding-bottom: 20px;         }          #form {             width: 100%;             border-collapse: collapse;         }          #app {             width: 60%;             font-size: 12px;         }          .label {             color: #5f5f5f         }          table {             border-collapse: collapse;             width: 100%;         }          th,         td {             padding: 8px;             text-align: left;             border-bottom: 1px solid #ddd;         }     </style> </head>",
          "type": "String",
          "metadata": {
            "schemaName": "admin_eMailHeaderStyle",
            "description": "CSS/Style used for eMails"
          }
        },
        "Admin eMail (admin_AdminMail)": {
          "defaultValue": "PowerPlatformAdmins@powercattools.onmicrosoft.com ",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdminMail",
            "description": "CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list"
          }
        },
        "ProductionEnvironment (admin_ProductionEnvironment)": {
          "defaultValue": true,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ProductionEnvironment",
            "description": "Yes by default. Set to No if you are creating a dev type envt. This will allow some flows to set target users to the admin instead of resource owners"
          }
        },
        "InactivityNotifications-PastTime-Interval (admin_ArchivalPastTimeInterval)": {
          "defaultValue": 14,
          "type": "Int",
          "metadata": {
            "schemaName": "admin_ArchivalPastTimeInterval",
            "description": "The interval for the past time for how far back to go to see if an app/flow is useful. Default is 6, (for 6 months)"
          }
        },
        "InactivityNotifications-PastTime-Unit (admin_ArchivalPastTimeUnit)": {
          "defaultValue": "Day",
          "type": "String",
          "metadata": {
            "schemaName": "admin_ArchivalPastTimeUnit",
            "description": "The units for the past time for how far back to go to see if an app/flow is useful. Default is Month (for 6 months). Options are those of the Add to time action's Time Unit Parameter"
          }
        },
        "Individual Admin (admin_ApprovalAdmin)": {
          "defaultValue": "AdeleV@powercattools.onmicrosoft.com ",
          "type": "String",
          "metadata": {
            "schemaName": "admin_ApprovalAdmin",
            "description": "REQUIRED. An individual admin's email. Some actions (approvals / team chats) cannot accept a group/DL. So this env variable is for those instances in the kit. "
          }
        },
        "PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)": {
          "defaultValue": "https://make.powerapps.com/",
          "type": "String",
          "metadata": {
            "schemaName": "admin_PowerAppEnvironmentVariable",
            "description": "REQUIRED. The maker URL used by PowerApps for your cloud. Ex https://make.powerapps.com/"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "weekDays": [
                "Monday"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a57801a9-4d8a-4bcb-a4de-ee10dd527a48"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Create_Archival_Request_for_Each_": {
          "foreach": "@body('List_apps_not_launched_or_marked_modified_since_Past_Time_')?['value']",
          "actions": {
            "Date_Last_Launched": {
              "runAfter": {
                "Date_Last_Modified": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a46aa870-4f54-46e8-8e6b-e41423b895ef"
              },
              "type": "Compose",
              "inputs": "@if(equals(items('Create_Archival_Request_for_Each_')?['admin_applastlaunchedon'], null), 'unknown', formatDateTime(items('Create_Archival_Request_for_Each_')?['admin_applastlaunchedon'], 'dd MMM yyy'))"
            },
            "Date_Last_Modified": {
              "runAfter": {
                "Filter_to_this_one_approved": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "631bcb14-d3f5-4c52-8615-d2cc064543a7"
              },
              "type": "Compose",
              "inputs": "@if(equals(items('Create_Archival_Request_for_Each_')?['admin_appmodifiedon'], null), 'unknown', formatDateTime(items('Create_Archival_Request_for_Each_')?['admin_appmodifiedon'],'dd MMM yyy'))"
            },
            "Get_Assignee": {
              "actions": {
                "Set_varAssigneeDisplayName": {
                  "runAfter": {
                    "Set_varAssignee_to_Admin": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "fadd410a-9ee0-4c6c-9b72-70e43da730cf"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varAssigneeDisplayName",
                    "value": "@variables('ApprovalAdmin')"
                  }
                },
                "Set_varAssignee_to_Admin": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "72f48eb2-0b93-4ecf-9498-4ce56ee9c2fb"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varAssignee",
                    "value": "@variables('ApprovalAdmin')"
                  }
                },
                "Set_var_isReassigned_to_True": {
                  "runAfter": {
                    "Set_varAssigneeDisplayName": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "69a46e76-b7b2-4173-b356-2f6c36cc11ef"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "isReassigned",
                    "value": "@true"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Recheck_Orphan_Status": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "c3a5bf90-53e7-492b-9052-e135bdafbb69"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_office365users_1",
                        "operationId": "UserProfile_V2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                      },
                      "parameters": {
                        "id": "@items('Create_Archival_Request_for_Each_')?['_admin_appowner_value']",
                        "$select": "displayName, mail"
                      },
                      "authentication": "@parameters('$authentication')",
                      "retryPolicy": {
                        "type": "exponential",
                        "count": 10,
                        "interval": "PT10S"
                      }
                    }
                  },
                  "Switch": {
                    "runAfter": {
                      "Recheck_Orphan_Status": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "cases": {
                      "Case_200_-_User_Found": {
                        "case": 200,
                        "actions": {
                          "Set_varAssigneeDisplayName_to_Owner": {
                            "runAfter": {
                              "Set_varAssignee_to_Owner": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "varAssigneeDisplayName",
                              "value": "@outputs('Recheck_Orphan_Status')?['body/displayName']"
                            }
                          },
                          "Set_varAssignee_to_Owner": {
                            "runAfter": {},
                            "type": "SetVariable",
                            "inputs": {
                              "name": "varAssignee",
                              "value": "@outputs('Recheck_Orphan_Status')?['body/mail']"
                            }
                          },
                          "Set_var_isReassigned_to_False": {
                            "runAfter": {
                              "Set_varAssigneeDisplayName_to_Owner": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "isReassigned",
                              "value": "@false"
                            }
                          }
                        }
                      },
                      "Case_404_-_New_Orphan": {
                        "case": 404,
                        "actions": {
                          "Set_varAssigneeDisplayName_to_Admin_for_new_Orphan": {
                            "runAfter": {
                              "Set_varAssignee_to_Admin_for_new_Orphan": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "varAssigneeDisplayName",
                              "value": "@variables('ApprovalAdmin')"
                            }
                          },
                          "Set_varAssignee_to_Admin_for_new_Orphan": {
                            "runAfter": {},
                            "type": "SetVariable",
                            "inputs": {
                              "name": "varAssignee",
                              "value": "@variables('ApprovalAdmin')"
                            }
                          },
                          "Set_var_isReassigned_to_True_for_new_Orphan": {
                            "runAfter": {
                              "Set_varAssigneeDisplayName_to_Admin_for_new_Orphan": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "isReassigned",
                              "value": "@true"
                            }
                          }
                        }
                      }
                    },
                    "default": {
                      "actions": {}
                    },
                    "expression": "@outputs('Recheck_Orphan_Status')['statusCode']",
                    "metadata": {
                      "operationMetadataId": "56abf0fe-ca56-4ab4-804b-35d6c31017d1"
                    },
                    "type": "Switch"
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@variables('isProd')",
                      "False"
                    ]
                  },
                  {
                    "equals": [
                      "",
                      "yes"
                    ]
                  },
                  {
                    "equals": [
                      "",
                      "@true"
                    ]
                  },
                  {
                    "equals": [
                      "",
                      "@null"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "435ecc8e-d065-4bbe-b676-89a8a339f9ee"
              },
              "type": "If"
            },
            "See_if_Approved": {
              "actions": {
                "Apply_to_each_other_approval": {
                  "foreach": "@outputs('Fetch_other_approvals_for_this_app_and_delete_them')?['body/value']",
                  "actions": {
                    "Delete_a_row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "ccf1a6d7-65d1-4681-97ae-63837745e072"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "DeleteRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "admin_archiveapprovals",
                          "recordId": "@items('Apply_to_each_other_approval')?['admin_archiveapprovalid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Fetch_other_approvals_for_this_app_and_delete_them": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "07e65c4f-0f6c-43d2-8bd7-d060312aea3f"
                  },
                  "type": "Foreach"
                },
                "Catch_-_flow_already_deleted": {
                  "runAfter": {
                    "See_if_app_still_exists": [
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4a389f14-435e-4a7c-918c-403a50b83764"
                  },
                  "type": "Compose",
                  "inputs": "Flow already Deleted"
                },
                "Date_Approved": {
                  "runAfter": {
                    "Get_Object_Name": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "86885c9c-5990-4645-9a3a-041a61f223d8"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(first(body('Parse_JSON_this_one_approved'))['admin_approvalresponsedate'], 'dd MMM yyy')"
                },
                "Date_to_Delete": {
                  "runAfter": {
                    "Date_Approved": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bf67b7d5-3704-40f7-bebe-40900897f731"
                  },
                  "type": "Compose",
                  "inputs": "@formatDateTime(addDays(first(body('Parse_JSON_this_one_approved'))['admin_approvalresponsedate'], 21), 'dd MMM yyy')"
                },
                "Fetch_other_approvals_for_this_app_and_delete_them": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "12a75d77-8ce6-408c-a0ee-3c9ec51a0c00"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_archiveapprovals",
                      "$select": "admin_archiveapprovalid, admin_approvalresponse",
                      "$filter": "_admin_applookup_value eq @{items('Create_Archival_Request_for_Each_')?['admin_appid']} and admin_approvalresponse ne 'Approve'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_Envt_Name": {
                  "runAfter": {
                    "Parse_JSON_this_one_approved": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c965c081-45ef-4022-9c83-c59e791074af"
                  },
                  "type": "Compose",
                  "inputs": "@first(body('Parse_JSON_this_one_approved'))['admin_appenvironmentname']"
                },
                "Get_Object_Name": {
                  "runAfter": {
                    "Get_Envt_Name": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c7b00ba2-653d-43d9-a7ff-58814662d786"
                  },
                  "type": "Compose",
                  "inputs": "@first(body('Parse_JSON_this_one_approved'))['admin_appname']"
                },
                "Parse_JSON_this_one_approved": {
                  "runAfter": {
                    "Reset_value_App_Archive_Request_Ignored_Since": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d54943db-e5ee-44e0-9951-597b60fc98b7"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Filter_to_this_one_approved')",
                    "schema": {
                      "items": {
                        "properties": {
                          "@@odata.etag": {
                            "type": "string"
                          },
                          "@@odata.id": {
                            "type": "string"
                          },
                          "ItemInternalId": {
                            "type": "string"
                          },
                          "admin_appdisplayname": {
                            "type": "string"
                          },
                          "admin_appenvironmentname": {
                            "type": "string"
                          },
                          "admin_appname": {
                            "type": "string"
                          },
                          "admin_approvalid": {
                            "type": "string"
                          },
                          "admin_approvalresponse": {
                            "type": "string"
                          },
                          "admin_approvalresponsedate": {
                            "type": "string"
                          },
                          "admin_archiveapprovalid": {
                            "type": "string"
                          },
                          "admin_name": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  }
                },
                "Reset_value_App_Archive_Request_Ignored_Since": {
                  "runAfter": {
                    "Apply_to_each_other_approval": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a7c9dfa9-90b0-466d-8136-6e07aafcb109"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "admin_apps",
                      "recordId": "@items('Create_Archival_Request_for_Each_')?['admin_appid']",
                      "item/admin_apparchiverequestignoredsince": "@null"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "See_if_app_still_exists": {
                  "runAfter": {
                    "Date_to_Delete": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "704985bb-d68a-4f03-8b63-ac9304a7cee7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_powerappsforadmins",
                      "operationId": "Get-AdminApp",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"
                    },
                    "parameters": {
                      "environment": "@outputs('Get_Envt_Name')",
                      "app": "@outputs('Get_Object_Name')",
                      "api-version": "2016-11-01"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Send_an_email_-_backup_reminder": {
                  "runAfter": {
                    "Catch_-_flow_already_deleted": [
                      "Skipped"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4e82091b-070d-4585-abbf-34ca9124ff17"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@variables('varAssignee')",
                      "emailMessage/Subject": "Reminder to back up your App:  @{body('See_if_app_still_exists')?['properties']?['displayName']}",
                      "emailMessage/Body": "@{variables('htmlHeader')}\n@{variables('htmlBodyStart')}\n\n<p>\nAs a reminder, you approved removal of this app from the tenant on @{outputs('Date_Approved')}.\n<br>\nThe app will therefore be removed from the tenant sometime after @{outputs('Date_to_Delete')},\n<br><br>\n<b>App Environment</b>: @{outputs('Get_Envt_Name')} <br>\n<b>App</b>:  <a href=\"@{outputs('AppLink')}\">@{body('See_if_app_still_exists')?['properties']?['displayName']}</a>\n<br><br>\nIf you want to retain a copy of this app for later restore in the event that you change your mind, please do so now.\n<br>\nIf you would like to stop recieving these reminders ahead of deletion, please delete on your side, and you will not be prompted again.\n<br><br>\nThank you for using the Power Platform!\n<br>\n</p>\n</li>\n</ol>\n</p>\n@{variables('htmlBodyStop')}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Date_Last_Launched": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Filter_to_this_one_rejected": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "2b59e3ed-e4b8-4aa4-abd6-b8c070ee5f80"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('List_rejected_approvals')?['body/value']",
                      "where": "@equals(item()?['admin_appname'], items('Create_Archival_Request_for_Each_')?['admin_appid'])"
                    }
                  },
                  "See_if_Rejected": {
                    "actions": {
                      "Already_Rejected_-_Clean_up_other_approvals_for_this_app": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "41c05f46-4029-4ed4-9232-a4326b6e44a1"
                        },
                        "type": "Compose",
                        "inputs": "Request Rejected. That rejection will time out in 1 month and then will recreate"
                      },
                      "Apply_to_each_other_ignored_approval": {
                        "foreach": "@outputs('Fetch_other_ignored_approvals_for_this_app_and_delete_them')?['body/value']",
                        "actions": {
                          "Delete_ignored_approval_request": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "5ddc137f-3581-4cea-be9f-331ac9d541c9"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "DeleteRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "admin_archiveapprovals",
                                "recordId": "@items('Apply_to_each_other_ignored_approval')?['admin_archiveapprovalid']"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Fetch_other_ignored_approvals_for_this_app_and_delete_them": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "8c75ed11-4689-4281-90bb-1dc4f6280e5b"
                        },
                        "type": "Foreach"
                      },
                      "Fetch_other_ignored_approvals_for_this_app_and_delete_them": {
                        "runAfter": {
                          "Already_Rejected_-_Clean_up_other_approvals_for_this_app": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "dab31498-5e0a-489d-96b2-c2e7d45a546d"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "admin_archiveapprovals",
                            "$select": "admin_archiveapprovalid, admin_approvalresponse",
                            "$filter": "_admin_applookup_value eq @{items('Create_Archival_Request_for_Each_')?['admin_appid']} and admin_approvalresponse eq null"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Reset_value_App_Archive_Request_Ignored_Since_2": {
                        "runAfter": {
                          "Apply_to_each_other_ignored_approval": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "8cdf8862-17dc-4fb5-9836-3c5305e6c445"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "admin_apps",
                            "recordId": "@items('Create_Archival_Request_for_Each_')?['admin_appid']",
                            "item/admin_apparchiverequestignoredsince": "@null"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Filter_to_this_one_rejected": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Create_an_approval": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "563c84a5-ba88-41a0-aa20-ec0b3391bad9"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_approvals_1",
                              "operationId": "CreateAnApproval",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                            },
                            "parameters": {
                              "approvalType": "BasicAwaitAll",
                              "ApprovalCreationInput/title": "This app appears to be unused; can we delete? @{items('Create_Archival_Request_for_Each_')?['admin_displayname']} ",
                              "ApprovalCreationInput/assignedTo": "@{variables('varAssignee')};",
                              "ApprovalCreationInput/details": "@{if(equals(variables('isReassigned'), true), 'OWNER DOES NOT EXIST. APPROVAL SENT TO ADMIN.', '')}\nYou own an app that has not been modified nor launched recently. \n\nLast Modified:  @{outputs('Date_Last_Modified')}\nLast Launch:  @{outputs('Date_Last_Launched')}\n\nWe want to make sure it is still useful, as if it is not then we would like to remove it to keep our Power Platform tenant tidy. \n\nPlease confirm this app is no longer being used and can be deleted by approving this task; or provide a business justification if you reject. \n\n**App Name:** @{items('Create_Archival_Request_for_Each_')?['admin_displayname']}\n**App ID:** @{items('Create_Archival_Request_for_Each_')?['admin_appid']}\n**Environment:** @{items('Create_Archival_Request_for_Each_')?['admin_appenvironment/admin_displayname']}\n\n**Notes:**\n1) If you select approve, the app will be deleted from the tenant in three weeks, so please manually archive a copy ahead of that date if you believe you will want access in the future. \n\n2) If you select reject, consider launching the app, or performing a re-save, in order to avoid receving this email again in another month. \n\n**To clean up all outstanding requests about old apps and flows:**\n@{if(equals(variables('CleanUpTextType'), 0), 'View flow approvals in the CoE environment', '')}\n@{if(or(equals(variables('CleanUpTextType'), 1), equals(variables('CleanUpTextType'), 2)), 'Use this app: [Clean Up App](', '')}@{if(or(equals(variables('CleanUpTextType'), 1), equals(variables('CleanUpTextType'), 2)), variables('CleanUpAppURL'), '')}@{if(or(equals(variables('CleanUpTextType'), 1), equals(variables('CleanUpTextType'), 2)), ')', '')}\n@{if(equals(variables('CleanUpTextType'), 1), 'If you dont have permission use this instead: [Flow Approvals UX](', '')}@{if(equals(variables('CleanUpTextType'), 1), variables('ApprovalsURL'), '')}@{if(equals(variables('CleanUpTextType'), 1), ')', '')}\n@{if(equals(variables('CleanUpTextType'), 3), 'View all approvals: [Flow Approvals UX](', '')}@{if(equals(variables('CleanUpTextType'), 3), variables('ApprovalsURL'), '')}@{if(equals(variables('CleanUpTextType'), 3), ')', '')}",
                              "ApprovalCreationInput/itemLink": "@outputs('AppLink')",
                              "ApprovalCreationInput/enableNotifications": true,
                              "ApprovalCreationInput/enableReassignment": true
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Switch:_Was_Approval_Creation_Successful": {
                          "runAfter": {
                            "Create_an_approval": [
                              "Succeeded",
                              "Failed"
                            ]
                          },
                          "cases": {
                            "Failure_Case": {
                              "case": 400,
                              "actions": {
                                "Send_admin_email_-_cant_do_approval": {
                                  "runAfter": {},
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_office365",
                                      "operationId": "SendEmailV2",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                    },
                                    "parameters": {
                                      "emailMessage/To": "@variables('adminMail')",
                                      "emailMessage/Subject": "App owner @{variables('varAssigneeDisplayName')} does not have permissions to perform Archive Approval",
                                      "emailMessage/Body": "@{variables('htmlHeader')}\n@{variables('htmlBodyStart')}\n\n<p> @{items('Create_Archival_Request_for_Each_')?['_admin_appowner_value']} was recently prompted to archive the following app:<br>\n<br>\n<strong>Display Name</strong>:  @{items('Create_Archival_Request_for_Each_')?['admin_displayname']}<br>\n<strong>Environment</strong>: @{items('Create_Archival_Request_for_Each_')?['admin_appenvironment/admin_displayname']}<br>\n<strong>App ID</strong>: @{items('Create_Archival_Request_for_Each_')?['admin_appid']} <br>\n<b>Link</b>:  <a href=\"@{outputs('AppLink')}\">Link to Power Apps app</a> \n<br>\nThe request to approve deletion was unable to process as the user has insufficient permissions to the CoE Environment. Please give them permissions to Approvals in the CoE to proceed.<br>\n</p>\n@{variables('htmlBodyStop')}"
                                    },
                                    "authentication": "@parameters('$authentication')",
                                    "retryPolicy": {
                                      "type": "exponential",
                                      "count": 10,
                                      "interval": "PT10S"
                                    }
                                  }
                                }
                              }
                            },
                            "Success_Case": {
                              "case": 201,
                              "actions": {
                                "Create_a_new_record": {
                                  "runAfter": {},
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "admin_archiveapprovals",
                                      "item/admin_name": "@items('Create_Archival_Request_for_Each_')?['admin_appid']",
                                      "item/admin_appdisplayname": "@items('Create_Archival_Request_for_Each_')?['admin_displayname']",
                                      "item/admin_appenvironmentname": "@items('Create_Archival_Request_for_Each_')?['admin_appenvironment/admin_environmentname']",
                                      "item/admin_appname": "@items('Create_Archival_Request_for_Each_')?['admin_appid']",
                                      "item/admin_appowneremail": "@variables('varAssignee')",
                                      "item/admin_appownername": "@variables('varAssigneeDisplayName')",
                                      "item/admin_AppLookup@odata.bind": "admin_apps(@{items('Create_Archival_Request_for_Each_')?['admin_appid']})",
                                      "item/admin_approvalid": "@body('Create_an_approval')?['name']",
                                      "item/cr5d5_archivalitemtype": 129260001
                                    },
                                    "authentication": "@parameters('$authentication')",
                                    "retryPolicy": {
                                      "type": "exponential",
                                      "count": 10,
                                      "interval": "PT10S"
                                    }
                                  }
                                },
                                "If_no_value_for_'admin_apparchiverequestignoredsince',_add_this_one": {
                                  "actions": {
                                    "Add_Ignored_Since_value": {
                                      "runAfter": {
                                        "List_approvals_with_no_response_sorted_by_created_date": [
                                          "Succeeded"
                                        ]
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "UpdateRecord",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_apps",
                                          "recordId": "@items('Create_Archival_Request_for_Each_')?['admin_appid']",
                                          "item/admin_apparchiverequestignoredsince": "@first(outputs('List_approvals_with_no_response_sorted_by_created_date')?['body/value'])['createdon']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "List_approvals_with_no_response_sorted_by_created_date": {
                                      "runAfter": {},
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "ListRecords",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "admin_archiveapprovals",
                                          "$select": "createdon",
                                          "$filter": "_admin_applookup_value eq @{items('Create_Archival_Request_for_Each_')?['admin_appid']} and admin_approvalresponse eq null",
                                          "$orderby": "createdon"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      },
                                      "runtimeConfiguration": {
                                        "paginationPolicy": {
                                          "minimumItemCount": 100000
                                        }
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Create_a_new_record": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "or": [
                                      {
                                        "equals": [
                                          "",
                                          "@null"
                                        ]
                                      },
                                      {
                                        "lessOrEquals": [
                                          "",
                                          "@addDays(utcNow(),-10000)"
                                        ]
                                      }
                                    ]
                                  },
                                  "type": "If"
                                }
                              }
                            }
                          },
                          "default": {
                            "actions": {}
                          },
                          "expression": "@outputs('Create_an_approval')['statusCode']",
                          "metadata": {
                            "operationMetadataId": "df711c1a-9254-467e-ab62-f87b67aa7a57"
                          },
                          "type": "Switch"
                        }
                      }
                    },
                    "expression": {
                      "greater": [
                        "@length(body('Filter_to_this_one_rejected'))",
                        0
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a7326adc-a8e7-47b4-a6f4-ec2e5abe93c9"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(body('Filter_to_this_one_approved'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "0ccaab75-e9da-4ce7-8ab5-a9d60fd85ccb"
              },
              "type": "If"
            },
            "AppLink": {
              "runAfter": {
                "Get_Assignee": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f3d48cb1-868f-46bb-9820-0c4d9bf9a2ee"
              },
              "type": "Compose",
              "inputs": "@concat(outputs('PowerApp_Maker_Environment_Variable'), 'environments/', items('Create_Archival_Request_for_Each_')?['admin_appenvironment/admin_environmentname'], '/apps/', items('Create_Archival_Request_for_Each_')?['admin_appid'], '/details')"
            },
            "Filter_to_this_one_approved": {
              "runAfter": {
                "AppLink": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "327d96a2-280b-48d4-80ad-7af00d1b6ff1"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('List_approved_approvals')?['body/value']",
                "where": "@equals(item()?['admin_appname'], items('Create_Archival_Request_for_Each_')?['admin_appid'])"
              }
            }
          },
          "runAfter": {
            "List_rejected_approvals": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25463ff2-f2bf-4bc0-a3e2-d6dda28a4ffc"
          },
          "type": "Foreach"
        },
        "Get_past_time": {
          "runAfter": {
            "Renaming_notification": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0969ddef-5a58-45ed-b47d-74e22a4d953b"
          },
          "type": "Expression",
          "kind": "GetPastTime",
          "inputs": {
            "interval": "@parameters('InactivityNotifications-PastTime-Interval (admin_ArchivalPastTimeInterval)')",
            "timeUnit": "@parameters('InactivityNotifications-PastTime-Unit (admin_ArchivalPastTimeUnit)')"
          },
          "description": "If the app has not been modified in the past x months, an approval to archive will trigger. Update your desired archive months here."
        },
        "Initialize_ApprovalAdmin": {
          "runAfter": {
            "Initialize_var_isReassigned": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e4311bc7-0609-46d6-bfa5-3baebc979248"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ApprovalAdmin",
                "type": "string",
                "value": "@parameters('Individual Admin (admin_ApprovalAdmin)')"
              }
            ]
          }
        },
        "Initialize_OwnerIsNull": {
          "runAfter": {
            "Get_past_time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "026ccd0c-37d5-4f25-98fc-864ce6180673"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OwnerIsNull",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "Initialize_adminMail": {
          "runAfter": {
            "Initialize_OwnerIsNull": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "50e9ace9-b5f5-4291-bfdd-91d8953a7964"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "adminMail",
                "type": "string",
                "value": "@parameters('Admin eMail (admin_AdminMail)')"
              }
            ]
          }
        },
        "Initialize_htmlHeader_(style)": {
          "runAfter": {
            "Initialize_varAssigneeDisplayName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2a1fc5d8-7e9b-4e23-bbb9-6f37d0c5696e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "htmlHeader",
                "type": "string",
                "value": "@parameters('eMail Header Style (admin_eMailHeaderStyle)')"
              }
            ]
          }
        },
        "Initialize_logoUrl": {
          "runAfter": {
            "Initialize_var_CleanUpTextType": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bcfee14b-7e5e-4af8-8358-01cf9009068c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "logoUrl",
                "type": "string",
                "value": "http://pngimg.com/uploads/microsoft/microsoft_PNG16.png"
              }
            ]
          }
        },
        "Initialize_varAssignee": {
          "runAfter": {
            "Initialize_ApprovalAdmin": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f408494f-16f2-4a43-ad32-77b84d61110b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAssignee",
                "type": "string",
                "value": "@variables('ApprovalAdmin')"
              }
            ]
          }
        },
        "Initialize_varAssigneeDisplayName": {
          "runAfter": {
            "Initialize_varAssignee": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2c474ed8-1ccd-4961-958a-92519dd29321"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAssigneeDisplayName",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_var_ApprovalsURL": {
          "runAfter": {
            "Set_env_var_CleanUpAppURL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "527ff3b6-b224-4e05-aa99-275982479530"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ApprovalsURL",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_var_CleanUpAppURL": {
          "runAfter": {
            "Initialize_var_isProd": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e4e71ca7-b901-4446-8536-143797a1dd21"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CleanUpAppURL",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_var_CleanUpTextType": {
          "runAfter": {
            "Set_env_var_ApprovalsURL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f825383a-97cc-49f6-aecd-8e3962ab5af3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CleanUpTextType",
                "type": "integer",
                "value": "@if(and(equals(variables('CleanUpAppURL'), ''), equals(variables('ApprovalsURL'), '')), 0, if(and(not(equals(variables('CleanUpAppURL'), '')), not(equals(variables('ApprovalsURL'), ''))), 1, if(equals(variables('ApprovalsURL'), ''), 2, if(equals(variables('CleanUpAppURL'), ''), 3, 0))))"
              }
            ]
          },
          "description": "0 = both blank, 1 = neither blank, 2 = approval blank, 3 = app blank"
        },
        "Initialize_var_isProd": {
          "runAfter": {
            "Initialize_htmlBodyStop": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "88b46fa7-c2e1-44da-9753-fe8af0717f2f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isProd",
                "type": "string",
                "value": "@{parameters('ProductionEnvironment (admin_ProductionEnvironment)')}"
              }
            ]
          }
        },
        "Initialize_var_isReassigned": {
          "runAfter": {
            "Initialize_adminMail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "09961217-3c85-43c3-9b1f-be166ef63aea"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isReassigned",
                "type": "boolean",
                "value": "@false"
              }
            ]
          }
        },
        "List_approved_approvals": {
          "runAfter": {
            "List_apps_not_launched_or_marked_modified_since_Past_Time_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "15cc8008-b7a8-4d87-92f0-e3e1ff34da51"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "admin_archiveapprovals",
              "$select": "admin_archiveapprovalid, admin_appname, admin_appdisplayname,  admin_appenvironmentname, admin_approvalresponsedate, admin_approvalresponse",
              "$filter": "admin_approvalresponse eq 'Approve'"
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          }
        },
        "List_apps_not_launched_or_marked_modified_since_Past_Time_": {
          "runAfter": {
            "Initialize_logoUrl": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b990ff44-9dfe-4eee-bf25-d05c09cfe15d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "admin_apps",
              "$select": "admin_appid, _admin_appenvironment_value, cr5d5_appisorphaned, admin_appmodifiedon,admin_displayname, admin_appownerdisplayname, _admin_appowner_value, admin_applastlaunchedon, admin_apparchiverequestignoredsince",
              "$filter": "(admin_appmodifiedon lt @{body('Get_past_time')} or admin_appmodifiedon eq null) and admin_appdeleted eq false  and (admin_applastlaunchedon lt @{body('Get_past_time')} or admin_applastlaunchedon eq null) and admin_powerappstype eq 597910000 and admin_appexcusedfromarchival ne true and admin_AppEnvironment/admin_excusefromarchivalflows ne true and admin_AppEnvironment/admin_environmentdeleted ne true and _admin_appenvironment_value ne null",
              "$expand": "admin_AppOwner($select=admin_userisserviceprinciple),admin_AppEnvironment($select=admin_displayname,admin_environmentname, admin_excusefromarchivalflows)"
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          }
        },
        "List_rejected_approvals": {
          "runAfter": {
            "List_approved_approvals": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "065a907f-6768-415e-8dcd-1198e0e1c6d7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "admin_archiveapprovals",
              "$select": "admin_archiveapprovalid, admin_appname, admin_appdisplayname,  admin_appenvironmentname, admin_approvalresponsedate",
              "$filter": "admin_approvalresponse eq 'Reject'"
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "exponential",
              "count": 10,
              "interval": "PT10S"
            }
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          }
        },
        "Set_env_var_ApprovalsURL": {
          "actions": {
            "ApprovalsURL_-_if_no_Current,_use_Default": {
              "actions": {
                "Set_ApprovalsURL_-_CurrentValue": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "652df64a-f594-455a-9e41-eb7fdaf19ba7"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ApprovalsURL",
                    "value": "@{first(body('ListCurrents-ApprovalsURL')?['value'])?['Value']}"
                  }
                }
              },
              "runAfter": {
                "ListCurrents-ApprovalsURL": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_ApprovalsURL_-_DefaultValue": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "33f9c225-6a82-421a-aa6f-06c6cfed877b"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "ApprovalsURL",
                      "value": "@{first(body('ListDefns-ApprovalsURL')?['value'])?['defaultvalue']}"
                    }
                  }
                }
              },
              "expression": {
                "greaterOrEquals": [
                  "@length(body('ListCurrents-ApprovalsURL')?['value'])",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "0061370c-5f23-4d8d-a0bf-da35e0a470b0"
              },
              "type": "If"
            },
            "Get_ID_from_ApprovalsURL": {
              "runAfter": {
                "ListDefns-ApprovalsURL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4df9c83-c3a9-4af2-876a-d4020cb7a406"
              },
              "type": "Compose",
              "inputs": "@first(body('ListDefns-ApprovalsURL')?['value'])?['environmentvariabledefinitionid']"
            },
            "ListCurrents-ApprovalsURL": {
              "runAfter": {
                "Get_ID_from_ApprovalsURL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2cc391d3-ec83-4428-ba65-1913ec6c22d7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "environmentvariablevalues",
                  "$select": "value",
                  "$filter": "_environmentvariabledefinitionid_value eq @{outputs('Get_ID_from_ApprovalsURL')}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "ListDefns-ApprovalsURL": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "80eee360-3532-46bf-ad7a-da33433ec06a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "environmentvariabledefinitions",
                  "$select": "environmentvariabledefinitionid, defaultvalue",
                  "$filter": "schemaname eq 'admin_FlowApprovalsURL'"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_var_ApprovalsURL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1532a94d-6499-41c1-a2bb-3e2e37f39c2b"
          },
          "type": "Scope",
          "description": "must use old technique for fetching as env var is optional"
        },
        "Set_env_var_CleanUpAppURL": {
          "actions": {
            "CleanUpAppURL_-_if_no_Current,_use_Default": {
              "actions": {
                "Set_CleanUpAppURL_-_CurrentValue": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f5562e15-747e-4b16-a5d5-6dc60614e012"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "CleanUpAppURL",
                    "value": "@{first(body('ListCurrents-CleanUpAppURL')?['value'])?['Value']}"
                  }
                }
              },
              "runAfter": {
                "ListCurrents-CleanUpAppURL": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_CleanUpAppURL_-_DefaultValue": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "dd50b1df-0619-4aa8-96f0-262614e19a17"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "CleanUpAppURL",
                      "value": "@{first(body('ListDefns-CleanUpAppURL')?['value'])?['defaultvalue']}"
                    }
                  }
                }
              },
              "expression": {
                "greaterOrEquals": [
                  "@length(body('ListCurrents-CleanUpAppURL')?['value'])",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "080402a6-25a3-4bc4-b353-94a9484c2eb6"
              },
              "type": "If"
            },
            "Get_ID_from_CleanUpAppURL": {
              "runAfter": {
                "ListDefns-CleanUpAppURL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ba883840-701c-46c6-8c22-6e0e4433d2ca"
              },
              "type": "Compose",
              "inputs": "@first(body('ListDefns-CleanUpAppURL')?['value'])?['environmentvariabledefinitionid']"
            },
            "ListCurrents-CleanUpAppURL": {
              "runAfter": {
                "Get_ID_from_CleanUpAppURL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d91b9ec2-e608-49a2-8924-9d61e5cc4f33"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "environmentvariablevalues",
                  "$select": "value",
                  "$filter": "_environmentvariabledefinitionid_value eq @{outputs('Get_ID_from_CleanUpAppURL')}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "ListDefns-CleanUpAppURL": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b26b09fd-9f83-49c1-b9e9-6424b230a509"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "environmentvariabledefinitions",
                  "$select": "environmentvariabledefinitionid, defaultvalue",
                  "$filter": "schemaname eq 'admin_CleanupOldObjectsAppURL'"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "PowerApp_Maker_Environment_Variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c1c4039-96a0-44d2-ba52-db685e4289e2"
          },
          "type": "Scope",
          "description": "must use old technique for fetching as env var is optional"
        },
        "Initialize_htmlBodyStart": {
          "runAfter": {
            "Initialize_htmlHeader_(style)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b0bb3c31-4b63-4e40-97d7-3f952c05b956"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "htmlBodyStart",
                "type": "string",
                "value": "@parameters('eMail Body Start (admin_eMailBodyStart)')"
              }
            ]
          }
        },
        "Initialize_htmlBodyStop": {
          "runAfter": {
            "Initialize_htmlBodyStart": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6d8d9583-7fa8-4339-8199-fdd8704774b4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "htmlBodyStop",
                "type": "string",
                "value": "@parameters('eMail Body Stop (admin_eMailBodyStop)')"
              }
            ]
          }
        },
        "Renaming_notification": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e4398882-a929-4ba6-ba51-37dfff3639b8"
          },
          "type": "Compose",
          "inputs": "In order to avoid confusion we have now renamed this area from referencing Archivals to referencing Inactivity notifications\nThis flow was previously called: Admin | Archive and Clean Up v2 (Start Approval for Apps)"
        },
        "PowerApp_Maker_Environment_Variable": {
          "runAfter": {
            "Initialize_var_CleanUpAppURL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "69cad641-3158-4550-acd6-2b90f4a3b217"
          },
          "type": "Compose",
          "inputs": "@parameters('PowerApp Maker Environment Variable (admin_PowerAppEnvironmentVariable)')"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}